<% form_for [:admin, @portal_template], :url => { :action => :update }, 
  :html => { :method => :put, :target => "_blank", :rel => "portal_form" } do |f| -%>
  <%= hidden_field_tag 'portal_tab', :custom_css %>
	<h3 class="title">Custom stylesheet</h3>
	<p class="help-text">
    Add or overwrite freshdesk default styles with your own custom css.
  </p>
	<%= f.code_editor :custom_css, 
                :value => @default_custom_css, :mode => "css", 
                "data-fullscreen-title" => "<span class='light'>Editing</span> Custom stylesheet",
                "data-fullscreen-actions" => "custom-css-actions" %>
  <br />
  <div class="well" id="custom_css_btns">
    <%= render :partial => "/admin/shared/customization_buttons", 
      :locals => { :type => :template, :active_tab => :custom_css } %>
  </div>
<% end -%>