<div class="list-query-panel">
	<ul>
		<li class="lf-item">
			<% if privilege?(:manage_solutions) %>
				<div class="item-checkbox"><input type="checkbox" id="fa_item-select-all" /></div>
			<% end %>
		</li>
		<li class="lf-item lf-btns faded" id="article-bulk-action">
			<span>
		    <%= select_tag :id,
		          option_groups_from_collection_for_select(current_account.solution_categories.reject(&:is_default?), :folders ,:name, :id, :name), {
		              :class => "disabled moveto_btn bulk-action-btns select2",
		              :id => "move_to",
		              :include_blank => true,
		              :placeholder => t('solution.articles.move_to')
		          } %>
			</span>
			<span>
				<%= select_tag :id,
		          options_for_select(current_account.technicians.collect{|t|[t.name, t.id]}), {
		              :class => "disabled moveto_btn bulk-action-btns select2",
		              :id => "change_author",
		              :include_blank => true,
		              :placeholder => t('solution.change_author')
		          } %>
			</span>
		</li>
	</ul>
</div>

<script>
  jQuery(document).ready(function() { 
  	jQuery("#move_to").select2();
  	jQuery("#change_author").select2();
  });
</script>
