<div class="list-query-panel">
	<ul>
		<li class="lf-item">
			<% if privilege?(:manage_solutions) %>
				<div class="item-checkbox"><input type="checkbox" id="fa_item-select-all" /></div>
			<% end %>
		</li>
		<li class="lf-item lf-btns faded" id="article-bulk-action">
			<span>
				<%= select_tag :id,
	          option_groups_from_collection_for_select(current_account.solution_categories.reject(&:is_default?), :folders ,:name, :id, :name), {
	          		:class => "disabled bulk-action-btns select2",
	              :id => "move_to",
	              :'data-dropdown-auto-width' => true,
	              :'data-dropdown-css-class' => 'bulk-action-menu',
	              :include_blank => true,
	              :placeholder => t('solution.move_to'),
	              :"data-show-below-only" => true
	          } %>
			</span>
			<span class="right-btn">
				<%= select_tag :id,
	          options_for_select(current_account.technicians.collect{|t|[t.name, t.id]}), {
	          		:class => "disabled bulk-action-btns select2",
	              :id => "change_author",
	              :'data-dropdown-auto-width' => true,
	              :'data-dropdown-css-class' => 'bulk-action-menu',
	              :include_blank => true,
	              :placeholder => t('solution.move_to'),
	              :"data-show-below-only" => true,
	              :include_blank => true,
	              :placeholder => t('solution.change_author')
	          } %>
			</span>
		</li>
	</ul>
</div>
