<% content_for :layoutType do -%>single<%- end %>
<div class="header_area no_padding">	
		<div class="right_panel">
			<%= link_to "Back", solution_category_path(@folder.category_id), :class => "fdbutton grey" %>
		</div>
		<h3 class="page_title">Edit Folder</h3>
</div>
<div class="page_area"> 
	<% form_for (@folder), :url => solution_category_folder_path(@folder.category_id) , :html => {:multipart => true, :id => "folder-form"} do |f| %>
		<%= render :partial => "folder_form" , :locals => { :f => f }%>
		<div class="button-container">
		    <%= submit_tag "Save", :class => "fdbutton submit" %>	  
			<%= link_to('Cancel'[:cancel], solution_category_url(@folder.category_id), :class => "fdbutton grey" ) %> 
		</div>
	<% end %>
</div>