<% content_for :layoutType do%>single<% end %>  
<div>
	<div class="header_area">
		<div class="right_panel" >
	  		<%= link_to "New Category", new_solution_category_folder_path, :class => "fdbutton" %>
		</div>
		<strong class="page_title">Solutions</strong>
	</div>	  
	<div class="page_area">			
		<% @folders.each do |folder| %>
			<div class="sol_list">
				<strong><%= link_to folder.name, solution_category_folder_path(folder.category_id, folder) %></strong>
				<div><%= folder.description %></div>	
				<span class="seperator"></span>
			</div>
		<%end%>
	</div>
</div>