<div class="pageContent">
	<h3 class="content_title">New Folder</h3>
	<% form_for (@folder), :url => solution_category_folders_path(@folder.category_id) , :html => {:multipart => true, :id => "folder-form"} do |f| %>

	<%= render :partial => "folder_form" , :locals => { :f => f }%>
	
	<div class="button-container">
	    <%= submit_tag "Save", :class => "fdbutton submit" %>
	    <%= submit_tag "Save and Create Another", :name => "save_and_create", :class => "fdbutton" %>
		<%= link_to('Cancel'[:cancel], solution_category_url(@folder.category_id), :class => "fdbutton grey" ) %>
	</div>
	
	<% end %>
</div>