<div class="pageContent">  
	<div class="title_bar_grey">
		<div class="floatr">
			<%= link_to "New Category", new_helpdesk_guide_path, :class => "fdbutton" %>
		</div>
	  	<h3 class="title">Solution Catgories</h3> 		
	</div>
	<% @item.categories.each do |category| %>
		<%= link_to(h(category.name), category) %>

	<% end %>
</div>
 