@import "../app/lib/settings";
@import "lib/variables";

body{
  font-size:13px;
}


small {
  font-size: 90%;
}

strong {
  font-weight: bold;
}

.top-space-none{
  margin-top:0;
  padding-top:0;
}

.muted {
  color: #999999;
}
.page-header {
  padding-bottom: 9px;
  margin: 20px 0 30px;
  border-bottom: 1px solid #eeeeee;
}

.topbar .dropdown-menu a, .dropdown-menu a {
  @include text-shadow(0 0 0 #fff);
  }
.cust_list_table{
  .open .menu, .dropdown.open .menu, .open .dropdown-toggle, .dropdown.open .dropdown-toggle{
    border: 0 solid transparent;
    background: none;
    color: inherit;
  }
}
.table th, .table td {
      padding: 15px;
}
.tabs{
  margin-right: -20px;
  margin-left: -20px;
  padding-right: 20px;
  padding-left:20px;
}
.pagination ul > li > a:hover{ 
        .arrow-up {border-bottom-color: #fff;}
        .arrow-right {border-left-color: #fff;}         
        .arrow-down {border-top-color: #fff;}
        .arrow-left {border-right-color: #fff;}    
}
.vertical-alignment{
  display: inline-block;
  vertical-align: middle;
}
.arrow-right,
.arrow-left,
.arrow-up,
.arrow-down {
  /*
   * In Internet Explorer, The"border-style: dashed" will never be
   * rendered unless "(width * 5) >= border-width" is true.
   * Since "width" is set to "0", the "dashed-border" remains
   * invisible to the user, which renders the border just like how
   * "border-color: transparent" renders.
   */
  border-style: dashed;
  padding:0;
  border-color: transparent;
  border-width: 0.7em;
  display: -moz-inline-box;
  display: inline-block;
  /* Use font-size to control the size of the arrow. */
  font-size:9px;
  height: 0;
  line-height: 0;
  position: relative;
  vertical-align: middle;
  width: 0;
}

.arrow-up {
  border-bottom-width: 1em;
  border-bottom-style: solid;
  border-bottom-color: #666;
  bottom: 0.25em;
}

.arrow-right {
  border-left-width: 1em;
  border-left-style: solid;
  border-left-color: #666;
  left: 0.35em;
}
                    
.arrow-down {
  border-top-width: 1em;
  border-top-style: solid;
  border-top-color: #666;
  top: 0.25em;
}

.arrow-left {
  border-right-width: 1em;
  border-right-style: solid;
  border-right-color: #666;
  right: 0.35em;
}
.text-info{
  width:75%; //fix for long words word wrap
  word-wrap:break-word;
  overflow: hidden;
}
.cust-list-avatar,.text-info{
  display:inline-block;
  vertical-align: middle;
}

/*  overriding buttons styles from Bootstrap v1.4 */

.btn-group .btn {
  float: none;
}

.btn-group.open {
  overflow: visible;
}
.btn.dropdown-toggle {
  overflow: visible;
  &:after { 
    display: none;
  }

  .caret {
    margin: 6px 0 0;
  }
}
.open .dropdown-toggle {
  color: inherit;
}

// Adding upward arrow buttons to Dropdown menus

.open > .dropdown-menu:before {
  @include triangle(up, rgba(0, 0, 0, 0.35), 6px);
  position:absolute;
  z-index:2;
  content:"";
  top: -6px;
  left: 25px;
}

.open > .dropdown-menu:after {
  @include triangle(up, #FFF, 5px);
  position:absolute;
  z-index:3;
  content:"";
  top: -5px;
  left: 26px;
}

.open > .dropdown-menu.right{

  left: auto;
  right: 0;

  &:before {
    right: 25px;
    left: auto;
  }

  &:after {
    right: 26px;
    left: auto;
  }
}


/*  End of Button overriding */


// Stripe Select

table.selected_to_yellow tbody tr td {
  &.stripe-select {
    background-color: #fffad8;
  }

  label { cursor: pointer;}
}


// End of Stripe Select

.dialog-well {
  height: 350px;
  overflow: scroll;
  border: 1px solid #f1f1f1;
  border-top: 3px solid #f1f1f1;
  border-bottom: 8px solid #f1f1f1;
  @include border-radius(5px);

  table td {
    padding: 15px;
  }
  .actions-menu {
    float: right;
  }

  &.links {
    td:hover {
      background:#fffad8;
    }
  }
}
/* This class overriding app-common css. */

/* overriding buttons styles from Bootstrap v1.4 */
.btn-group .btn {
  float: none;
}
.btn-group.open {
  overflow: visible;
}
.btn.dropdown-toggle {
  overflow: visible;
  &:after { 
  display: none;
  }

  .caret {
  margin: 6px 0 0;
  }
}
.open .dropdown-toggle {
  color: inherit;
}

.open > .dropdown-menu.right{

  left: auto;
  right: 0;

  &:before {
  right: 25px;
  left: auto;
  }

  &:after {
  right: 26px;
  left: auto;
  }
}


/*  End of Button overriding */
.pagination{
  border-bottom:0 ;
  a{
   font-weight:normal;
   &:hover, &:focus{
    text-decoration:none;
   }
  }
}

/* This class overriding app-bootstrap css. */

.dropdown-toggle:after{
  border-top:0;
}

select{
  height: 20px;
  line-height: 20px;
  padding:1px;
}

/* Fix for tickets show page data-tabs */
.ticket_tabs{
  margin-left: 0px;
  margin-right: 0px;
}

/* have to remove after include type.scss from pattern */
.lead {
  margin-bottom: $baseLineHeight;
  font-size: $baseFontSize * 1.5;;
  font-weight: 200;
  line-height: $baseLineHeight * 1.5;
}
.header-lead{
  margin-top: 15px;
  border-top: 2px solid #c7c7c7;
  margin-bottom: $baseLineHeight;
  font-size: $baseFontSize * 1.5;;
  font-weight: 200;
  line-height: $baseLineHeight * 1.5; 
  span{
    display: inline-block;
    border-top: 4px solid #c7c7c7;
  }
}


// Emphasis & misc
// -------------------------

small {
  font-size: 85%; // Ex: 14px base font * 85% = about 12px
}
strong {
  font-weight: bold;
}
em {
  font-style: italic;
}
cite {
  font-style: normal;
}

// Utility classes
.muted {
  color: $grayLight;
}
.text-warning {
  color: $warningText;
}
.text-error {
  color: $errorText;
}
.text-info {
  color: $infoText;
}
.text-success {
  color: $successText;
}



ul.unstyled,
ol.unstyled {
  margin-left: 0;
  list-style: none;
}

ul.inline > li, ol.inline > li {
  display: inline-block;
  padding-right: 5px;
  padding-left: 5px;
}

.select2-container{
  &[class*="span"]{
    margin-left: 0;
  }
}
.nested-input{
  border-left: 1px dotted #AFAFAF;
  padding-left: 8px;
}
