body{
  font-size:13px;
}

.lead {
  margin-bottom: 20px;
  font-size: 22px;
  font-weight: 200;
  line-height: 30px;
  text-transform: capitalize;
}
.lead-desc{
  margin-top:-14px;
  display:block;
  margin-bottom: 20px;
}
h5{
  &.lead{
    font-size:18px;
    line-height:20px;
  }
}
.lead-sub{
  line-height: 15px;
  font-size: 20px;
  color:#aaa;
}

strong {
  font-weight: bold;
}

.top-space-none{
  margin-top:0;
  padding-top:0;
}
/* fix for form label center alignment*/
.control-label{
  padding-top: 5px;
}

.muted {
  color: #999999;
}
.page-header {
  padding-bottom: 9px;
  margin: 20px 0 30px;
  border-bottom: 1px solid #eeeeee;
}

.topbar .dropdown-menu a, .dropdown-menu a {
  @include text-shadow(0 0 0 #fff);
  }
.cust_list_table{
  .open .menu, .dropdown.open .menu, .open .dropdown-toggle, .dropdown.open .dropdown-toggle{
    border: 0 solid transparent;
    background: none;
    color: inherit;
  }
}
.tooltip{
  cursor:pointer;
}
.table th, .table td {
      padding: 15px;
}
.tabs{
  margin-right: -20px;
  margin-left: -20px;
  padding-right: 20px;
  padding-left:20px;
}
.pagination ul > li > a:hover{ 
        .arrow-up {border-bottom-color: #fff;}
        .arrow-right {border-left-color: #fff;}         
        .arrow-down {border-top-color: #fff;}
        .arrow-left {border-right-color: #fff;}    
}
.vertical-alignment{
  display: inline-block;
  vertical-align: middle;
}
.arrow-right,
.arrow-left,
.arrow-up,
.arrow-down {
  /*
   * In Internet Explorer, The"border-style: dashed" will never be
   * rendered unless "(width * 5) >= border-width" is true.
   * Since "width" is set to "0", the "dashed-border" remains
   * invisible to the user, which renders the border just like how
   * "border-color: transparent" renders.
   */
  border-style: dashed;
  padding:0;
  border-color: transparent;
  border-width: 0.7em;
  display: -moz-inline-box;
  display: inline-block;
  /* Use font-size to control the size of the arrow. */
  font-size:9px;
  height: 0;
  line-height: 0;
  position: relative;
  vertical-align: middle;
  width: 0;
}

.arrow-up {
  border-bottom-width: 1em;
  border-bottom-style: solid;
  border-bottom-color: #666;
  bottom: 0.25em;
}

.arrow-right {
  border-left-width: 1em;
  border-left-style: solid;
  border-left-color: #666;
  left: 0.35em;
}
                    
.arrow-down {
  border-top-width: 1em;
  border-top-style: solid;
  border-top-color: #666;
  top: 0.25em;
}

.arrow-left {
  border-right-width: 1em;
  border-right-style: solid;
  border-right-color: #666;
  right: 0.35em;
}
.text-info{
  width:75%; //fix for long words word wrap
  word-wrap:break-word;
  overflow: hidden;
}
.cust-list-avatar,.text-info{
  display:inline-block;
  vertical-align: middle;
}
.admin-breadcrumb{
  margin: -14px -20px;
  margin-bottom: 20px;
  &.breadcum-footer{
    margin-bottom: -14px;
    margin-top:20px;
  }
}
/* After including type.scss in pattern this class have to removed*/
.no-results{
 color: #ccc;
 font-size:$baseFontSize;
}

/*  overriding buttons styles from Bootstrap v1.4 */

.btn-group .btn {
  float: none;
}

.btn-group.open {
  overflow: visible;
}
.btn.dropdown-toggle {
  overflow: visible;
  &:after { 
    display: none;
  }

  .caret {
    margin: 6px 0 0;
  }
}
.open .dropdown-toggle {
  color: inherit;
}

// Adding upward arrow buttons to Dropdown menus

.open > .dropdown-menu:before {
  @include triangle(up, rgba(0, 0, 0, 0.35), 6px);
  position:absolute;
  z-index:2;
  content:"";
  top: -6px;
  left: 25px;
}

.open > .dropdown-menu:after {
  @include triangle(up, #FFF, 5px);
  position:absolute;
  z-index:3;
  content:"";
  top: -5px;
  left: 26px;
}

.open > .dropdown-menu.right{

  left: auto;
  right: 0;

  &:before {
    right: 25px;
    left: auto;
  }

  &:after {
    right: 26px;
    left: auto;
  }
}


/*  End of Button overriding */


// Stripe Select

table.selected_to_yellow tbody tr td {
  &.stripe-select {
    background-color: #fffad8;
  }

  label { cursor: pointer;}
}


// End of Stripe Select

.dialog-well {
  height: 350px;
  overflow: scroll;
  border: 1px solid #f1f1f1;
  border-top: 3px solid #f1f1f1;
  border-bottom: 8px solid #f1f1f1;
  @include border-radius(5px);

  table td {
    padding: 15px;
  }
  .actions-menu {
    float: right;
  }

  &.links {
    td:hover {
      background:#fffad8;
    }
  }

  .actions {
    float: right;
    width: 120px;
    text-align: right;
    visibility: hidden;
    @include opacity(0.3);
    @include transition(opacity 0.2s ease-out);
  }

  td:hover {
    .actions {
      visibility: visible;
      @include opacity(1);
    }
  }
}

body.touch .dialog-well .actions {
  visibility: visible;
}
/* This class overriding app-common css. */

/* overriding buttons styles from Bootstrap v1.4 */
.btn-group .btn {
  float: none;
}
.btn-group.open {
  overflow: visible;
}
.btn.dropdown-toggle {
  overflow: visible;
  &:after { 
  display: none;
  }

  .caret {
  margin: 6px 0 0;
  }
}
.open .dropdown-toggle {
  color: inherit;
}

.open > .dropdown-menu.right{

  left: auto;
  right: 0;

  &:before {
  right: 25px;
  left: auto;
  }

  &:after {
  right: 26px;
  left: auto;
  }
}


/*  End of Button overriding */
.pagination{
  border-bottom:0 ;
  a{
   font-weight:normal;
   &:hover, &:focus{
    text-decoration:none;
   }
  }
}

/* This class overriding app-bootstrap css. */

.dropdown-toggle:after{
  border-top:0;
}

/* Roles new */
.nested-ul{
  .nested-ul{
    li{
      margin-left:20px;
    }
  }
}

select{
  height: 20px;
  line-height: 20px;
  padding:1px;
}

/* Fix for tickets show page data-tabs */
.ticket_tabs{
  margin-left: 0px;
  margin-right: 0px;
}
h5{
  &.lead{
    font-size:18px;
    line-height:20px;
  }
}
.lead-sub{
  line-height: 15px;
  font-size: 20px;
  color:#aaa;
}
/* have to remove after include type.scss from pattern */
.lead {
  margin-bottom: $baseLineHeight;
  font-size: $baseFontSize * 1.5;;
  font-weight: 200;
  line-height: $baseLineHeight * 1.9;
}
.header-lead{
  margin-top: 15px;
  border-top: 2px solid #c7c7c7;
  margin-bottom: $baseLineHeight;
  font-size: $baseFontSize * 1.5;;
  font-weight: 200;
  line-height: $baseLineHeight * 1.5; 
  span{
    display: inline-block;
    border-top: 4px solid #c7c7c7;
  }
}
.sub-lead{
  font-size: $baseFontSize * 1.4;
  color:$gray;
  font-weight: 200;
}

// Emphasis & misc
// -------------------------

small {
  font-size: 90%;
}
strong {
  font-weight: bold;
}
em {
  font-style: italic;
}
cite {
  font-style: normal;
}

// Utility classes
.muted {
  color: $grayLight;
}
.text-warning {
  color: $warningText;
}
.text-error {
  color: $errorText;
}
.text-info {
  color: $infoText;
}
.text-success {
  color: $successText;
}



ul.unstyled,
ol.unstyled {
  margin-left: 0;
  list-style: none;
}

ul.disc-styled{
  list-style: disc;
  padding-left:15px;
}
ul.inline > li, ol.inline > li {
  display: inline-block;
  padding-right: 5px;
  padding-left: 5px;
}

.nested-input{
  border-left: 1px dotted #AFAFAF;
  padding-left: 8px;
}



.antipattern {
  .icon-detail {
    width: auto;
    height: auto;
    background-image: none;
    line-height: 130%;
    vertical-align: middle;
  }


  .radio input[type="radio"], .checkbox input[type="checkbox"] {
    margin-left: 0;
    margin-right: 3px;
  }

  //Repeating from app-bootstrap for the sake of overriding
    
  .pull-right {
    float: right;
  }
  .pull-left {
    float: left;
  }
  .marginr10 {
    margin-right: 10px;
  }
  .row {
    zoom: 1;
    margin-left: -20px;
  }
  .row:before, .row:after {
    display: table;
    content: "";
    zoom: 1;
  }
  .row:after {
    clear: both;
  }
  .row > [class*="span"] {
    display: inline;
    float: left;
    margin-left: 20px;
  }
  .span1 {
    width: 40px;
  }
  .span2 {
    width: 100px;
  }
  .span3 {
    width: 160px;
  }
  .span4 {
    width: 220px;
  }
  .span5 {
    width: 280px;
  }
  .span6 {
    width: 340px;
  }
  .span7 {
    width: 400px;
  }
  .span8 {
    width: 460px;
  }
  .span9 {
    width: 520px;
  }
  .span10 {
    width: 580px;
  }
  .span11 {
    width: 640px;
  }
  .span12 {
    width: 700px;
  }
  .span13 {
    width: 760px;
  }
  .span14 {
    width: 820px;
  }
  .span15 {
    width: 880px;
  }
  .span16 {
    width: 940px;
  }
  .span17 {
    width: 1000px;
  }
  .span18 {
    width: 1060px;
  }
  .span19 {
    width: 1120px;
  }
  .span20 {
    width: 1180px;
  }
  .span21 {
    width: 1240px;
  }
  .span22 {
    width: 1300px;
  }
  .span23 {
    width: 1360px;
  }
  .span24 {
    width: 1420px;
  }

  /* Classes copies from bootstrap */
  :-moz-placeholder { 
    color: #999999;
  }
  ::-webkit-input-placeholder {
    color: #999999;
  }

  .row-fluid {
    width: 100%;
    *zoom: 1;
  }
  .row-fluid:before,
  .row-fluid:after {
    display: table;
    content: "";
  }
  .row-fluid:after {
    clear: both;
  }
  .row-fluid > [class*="span"] {
    float: left;
    margin-left: 2.127659574%;
  }
  .row-fluid > [class*="span"]:first-child {
    margin-left: 0;
  }
  .row-fluid > .span12 {
    width: 99.99999998999999%;
  }
  .row-fluid > .span11 {
    width: 91.489361693%;
  }
  .row-fluid > .span10 {
    width: 82.97872339599999%;
  }
  .row-fluid > .span9 {
    width: 74.468085099%;
  }
  .row-fluid > .span8 {
    width: 65.95744680199999%;
  }
  .row-fluid > .span7 {
    width: 57.446808505%;
  }
  .row-fluid > .span6 {
    width: 48.93617020799999%;
  }
  .row-fluid > .span5 {
    width: 40.425531911%;
  }
  .row-fluid > .span4 {
    width: 31.914893614%;
  }
  .row-fluid > .span3 {
    width: 23.404255317%;
  }
  .row-fluid > .span2 {
    width: 14.89361702%;
  }
  .row-fluid > .span1 {
    width: 6.382978723%;
  }

  .radio,
  .checkbox {
    padding-left: 18px;
  }
  .radio input[type="radio"],
  .checkbox input[type="checkbox"] {
    float: left;
    margin-left: 0px;
  }


}