// Core variables and mixins
//@import "lib/variables"; // Modify this for custom colors, font-sizes, etc
//@import "lib/mixins";

// CSS Reset
//@import "lib/reset";
// Core variables and mixin
@import "../settings/settings";

// Grid system and page structure
@import "lib/scaffolding";
@import "lib/grid";
@import "lib/layouts";

// Base CSS
@import "lib/type";
//@import "lib/code";
@import "lib/forms";
@import "lib/tables";

// Components: common
@import "lib/sprites";
@import "lib/dropdowns";
@import "lib/wells";
@import "lib/ellipsis";
@import "lib/component-animations";
//@import "lib/close";

// Components: Buttons & Alerts
@import "lib/buttons";
@import "lib/button-groups";
@import "lib/alerts"; // Note: alerts share common CSS with buttons and thus have styles in buttons

// Components: Nav
@import "lib/navs";
@import "lib/navbar";
@import "lib/breadcrumbs";
@import "lib/adminbreadcrumbs";
@import "lib/pagination";
//@import "lib/pager";

// Components: Popovers
@import "lib/modals";
@import "lib/tooltip";
@import "lib/popovers";
@import "lib/fdpopover";

// Components: Misc
//@import "lib/thumbnails";
@import "lib/avatars";
@import "lib/labels-badges";
@import "lib/hero-unit";
//@import "lib/thumbnails";
@import "lib/progress-bars";
//@import "lib/accordion";
@import "lib/carousel";
// Utility classes
@import "lib/utilities"; // Has to be last to override when necessary

//# !PATTERN TODO
@import "lib/list-page-theme";
@import "lib/sticky-header";
@import "lib/patternhack";
