// @import "../fonts/proximanova-fonts";
@import "../pattern/lib/rtl-mixins";
@import "settings/settings";

$font-stack-sans: -apple-system,
  BlinkMacSystemFont,
  "Segoe UI",
  "Roboto",
  "Oxygen-Sans",
  "Ubuntu",
  "Helvetica Neue",
  Arial,
  sans-serif !default;

$font-family-normal:   $font-stack-sans !default;
$font-family-bold:     $font-stack-sans !default;
$font-family-semibold: $font-stack-sans !default;

$border-color: #dadfe3;
$app-btn-text-light: #ffffff;
$app-text-color: #183247;

$app-btn-background: #ffffff;
$app-btn-border: #dbdfe3;
$app-btn-hover: #f3f5f7;
$app-btn-hover-border: #f3f3f3;
$app-btn-disabled: #dadfe3;
$app-btn-text-disabled: #9aa1a6;

$app-primary-btn-background: #02b875;
$app-primary-btn-border: #03a86b;
$app-primary-btn-hover: #00a367;
$app-primary-btn-disabled: #b7e5d6;

$app-solution-outdated-label: #239cff;
$app-solution-outdated-label-hover: #004080;
$app-solution-language-outdated: #DE3431;


$app-primary-color: #02b875;

$app-selected-background-color: #f3f5f7;

$close-icon-color: #5a6670;

$caret-down-color: #989e9d;

$select-sprite-bg-url: "/assets/plugins/select2/select2.png";
$fields-font-size: 13px;
$app-delete-bg-color: #ff5959;

// New button color(elephant blue) will replace green color buttons in Mint UI
// new button theme
//text color for button
$app-btn-text-light: #fff;
//Primary and Secondary Buttons
$btn-lg-primary-top:              #264966;
$btn-lg-primary-bottom:           #12344d;
$btn-lg-primary-border:           #12344d;
$btn-lg-primary-hover:            #12344d;
$btn-lg-primary-selected-border:  #264966;
$btn-lg-primary-disabled-top:     #92a4b2;
$btn-lg-primary-disabled-bottom:  #8899a6;
$btn-lg-primary-disabled-border:  #8899a6;
$btn-secondary-top:               #fff;
$btn-secondary-bottom:            #f3f5f7;

// button colors
$app-primary-btn:             #12344d;
$app-primary-btn-hover:       darken($app-primary-color, 4%);
$app-primary-btn-border:      #12344d;
$app-primary-btn-disabled:    #b7e5d6;
$app-primary-btn-text-disabled: #fff;
$app-secondary-btn:           #fff;
$app-secondary-btn-border:    #dadfe3;
$app-secondary-btn-hover:     #f3f5f7;

// applying gradient colors to secondary Buttons
//Bulk Action Buttons
$btn-lg-top:                      #fff;
$btn-lg-bottom:                   #f3f5f7;
$btn-lg-hover:                    #f3f5f7;
$btn-lg-border:                   #cfd7df;
$btn-lg-active-border:            #b1bdc8;
$btn-lg-disabled:                 #f3f5f7;
$btn-lg-disabled-border:          #ebeff3;
$btn-lg-disabled-text:            #647a8e;
$btn-lg-focus-border:             #2e6ed8;


$survey-options-color: (
  strongly-disagree: #ff5959,
  some-what-disagree: #fa7543,
  disagree: #ffaa59,
  satisfaction-neutral: #ffd012,
  agree: #9cd807,
  some-what-agree: #6bb437,
  strongly-agree: #189e00);


.header,
#footer {
  display: none;
}

.wrapper {
  width:100%;
  padding:0;
}

.wrapper .wrapper-shadow {
  background: #fff;

  &:before {
    display: none;
  }
}
/* tabs */
.nav-tabs{
  li{

    &.active{
      a{
      border: 0px;
      border-bottom: 3px solid $app-primary-btn-background;
      color: $app-primary-btn-background;

      &:hover{
      border:0px;
      border-bottom: 3px solid rgba(2, 184, 117, 1);
      background-color: #fff;
      color: rgba(2, 184, 117, 1);
      }

      }
    }
    a{
      border: 0px;
      background-color: transparent;
      color: #6f7c87;
      border-bottom: 0px;
       &:hover{
      border:0px;
      border-bottom: 3px solid rgba(2, 184, 117, 0.3);
      background-color: #fff;
      color: rgba(2, 184, 117, 0.6);
      }
      &.btn-link:hover {
        text-decoration: none;
      }
    }

  }
}

/* This css is written to fix the bug FD-41692 - Font size is not reflected in redactor pages
Elements appearing inside redactor is hardcoded like .redactor_editor p {font-size:13px;} in _custom_mixin.scss
So the font-size mentioned in parent is not getting applied to the child elements. So, we are inheriting the
font size from parent to all elements inside the class .redactor_editor */
#body-container {
  .redactor_editor * {
    font-size: inherit;
  }
}

.ui-form {
  .conditionset{
    .rule_list{
      background: #f8f9fa;
    }

    fieldset {
      border:1px solid $border-color;
      border-bottom: 0px;
      &.addchoice{
      border-bottom:1px solid $border-color;
      }
      i{
      border-radius: 40px;
        box-shadow: none;
        &:before{
          position:relative;
          top: 1px;
        }
      }
      .rounded-minus-icon{
        background:$app-delete-bg-color;
      }
      .rounded-add-icon{
      background: $app-primary-btn-background;
      }
    }
  }
}

.user_comp .uc_actions{
  display: inline-block;
  padding: 1px 4px;
    background: $app-delete-bg-color;
  &.add_pad{
   padding: 1px 5px;
    background: $app-primary-color;
  }
}
.email_con .ue_action_icons{
  display: inline-block;
  padding: 1px 5px;

  &.ue_remove_image{
    padding: 1px 4px;

  }
}

.user_comp .default_company.primary{
      color: $app-primary-color;
}

.ue_action_icons, .uc_actions{
  height: 14px;
  display: inline-block;
  border-radius: 50%;
  padding-top: 1px;
}

.dropdown-menu.tick.menu-pjax {
  .selected-tab{
    &:hover{
      &:before{
        color: $app-primary-color;
      }
    }

    &:before{
    color: $app-primary-color;
    }
  }

}


.dropdown-tick, .dropdown-menu.tick:not(.menu-pjax) .active:before, .dropdown-menu.tick.menu-pjax .selected-tab:before{
    left: auto;
    top: 11px;
    right: 14px;
}

.solutions {
  .bulk-action-menu{
    border:1px solid $border-color;
    padding:6px;
  }
}

.child-form .ticket-template-form {
  width: 97%;
  margin: 0 auto;
  .compose-new-ticket {
    li.field {
      .options-wrapper {
        left: -40px
      }
    }
    .field.default_tags,
    .field.default_subject,
    .field.custom_text,
    .field.custom_paragraph,
    .field.custom_checkbox,
    .field.custom_number,
    .field.custom_date,
    .field.custom_decimal {
      .options-wrapper {
        left: -8px
      }
    }
  }
}

.list-page.ticket-template-list{
  .list-page-body{
    .template-desc.ticket-details{
      width: 80%;
    }
  }
}

.list-query-panel .dropdown-menu li > a:hover, .list-query-panel .dropdown-menu li > a:focus, .list-query-panel .dropdown-menu li.active > a:hover

li.active > a:focus{
  background: $app-btn-hover;
                color: $app-primary-btn-background;
}

.list-query-panel .dropdown-menu{

    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.14);
       border:1px solid $border-color;
      border-radius: 0px;
      padding:6px;

      .tick{
        &.menu-pjax {
          .selected-tab{
            &:before{
               color: $app-primary-color;
            }
          }
        }
      }

    &.folder-dropdown, ul{
      box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.14);
        border: solid 1px $border-color;
        padding: 0px;
        border-radius: 0px;
        }

        li{
          padding: 4px;
           .ticksymbol{
              display: none;
            }

            &.selected{
              background: $app-btn-hover;
              color: $app-primary-btn-background;
              font-weight: normal;
              font-size: $fields-font-size;
              &:before{
              color: $app-primary-color;
              left: auto;
              top: 8px;
              right: 12px;
              }
              &:hover{
              &:before{
              color: $app-primary-color;
              }
              }
            }

            &:hover{
                background: $app-btn-hover;
                color: $app-primary-btn-background;
                &:before{
                  color: $app-primary-color;
                }
            }

          a{
          padding: 6px 10px;
          font-size: $fields-font-size;
          line-height: 1.17;
          color: $app-text-color;
          }
        }

      &:after, &:before {
        bottom: 100%;
        left: 50%;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
      }

      &:after {
        border-color: rgba(255, 255, 255, 0);
        border-bottom-color: $app-btn-text-light;
        border-width: 6px;
        margin-left: -6px;
      }

      &:before {
        border-color: rgba(218, 223, 227, 0);
        border-bottom-color: $border-color;
        border-width: 7px;
        margin-left: -7px;
      }

}

  .dropdown-menu{
    span.icon{
      &.ticksymbol{
        left: 85%;
        background-image: none;
        &:after, &:before {
        border: 0px;
        content: "";
        position: absolute;
        background: #02b875;
        height: 2px;
        width: 6px;
        border-radius: 3px;
        transform: rotate(45deg);
        top: 11px;
        left: 1px;
    }

      &:before {
      left: 4px;
      transform: rotate(140deg);
      width: 11px;
      top: 9px;
    }
      }
      }
  }


  .dropdown-menu, .fd-menu{

      box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 12px, rgba(0, 0, 0, 0.15) 0px 1px 4px;
      border:0;
      border-radius: 2px;
      padding:6px;

      .tick{
        &.menu-pjax {
          .selected-tab{
            &:before{
               color: $app-primary-color;
            }
          }
        }
      }

    &.folder-dropdown{
      box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.14);
        border: solid 1px $border-color;
        padding: 0px;
        border-radius: 0px;
        }


        li{
          padding: 2px;

          a{
          padding: 4px 10px;
          font-size: $fields-font-size;
          line-height: 1.42857;
          color: $app-text-color;

            .ticksymbol{
              display: none;
            }
            &.selected-folder, &.selected-tab{
              background: $app-btn-hover;
              color: $app-primary-btn-background;
              font-weight: normal;
              font-size: $fields-font-size;
              &:before{
              color: $app-primary-color;
              left: auto;
              top: 8px;
              right: 12px;
              }
              &:hover{
              &:before{
              color: $app-primary-color;
              }
              }
            }
            &:hover{
                background: $app-btn-hover;
                color:  $app-text-color;
                border-radius: 2px;
                &:before{
                  color: $app-primary-color;
                }
            }

          }
        }

      &:after, &:before {
        bottom: 100%;
        left: 50%;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
      }
      &:after {
        border-color: rgba(255, 255, 255, 0);
        border-bottom-color: $app-btn-text-light;
        border-width: 6px;
        margin-left: -6px;
      }
      &:before {
        border-color: rgba(218, 223, 227, 0);
        border-bottom-color: $border-color;
        border-width: 7px;
        margin-left: -7px;
      }

  }

.solutions {
  .solution-bulk-actions {


    .drop-right, .visible-to-selected{
      position: relative;
      &:after, &:before {
      border:0px;
      content: "";
      position: absolute;
      background: #748491;
      height: 2px;
      width: 6px;
      border-radius: 3px;
      transform: rotate(45deg);
      top: 4px;
      left: 73%;
    }

    &:before {
      left: 88%;
      transform: rotate(135deg);
      top: 9px;
    }

    }
    .visible-to-btn{
    .fd-menu {
      border-radius: 0px;
       border:1px solid $border-color;

      &:after, &:before{
        display:none;
      }
      ul{
        border:0px;
        box-shadow:none;
      }
      a{
        &:hover{
        background: $app-btn-hover;
        color: $app-primary-btn-background;
        }
      }
    }
    }
  }
}

#ConfigureApplication .button-container .btn {
  text-transform: capitalize;
  border-radius: 4px;
}

#search_social button#settings-btn {
    margin-left: 0;
}


.alert-admin-account-verification{
  display: none;
}


.btn {
  font-size: 14px; // changed 12 px to 14px
  // border: none;
  border: 1px $app-secondary-btn-border solid;
  border-radius: 4px; // changed 2px to 4px
  outline: none;
  background: $btn-secondary-bottom;
  text-shadow: none;
  min-width: 0px;
  text-align: center;
  letter-spacing: 0.3px;
  font-weight: 500;
  // text-transform: uppercase; commenting this property as the button text should be in normal case
  // letter-spacing: 0.5px; commenting this property
  // font-family: $font-family-semibold; commenting this
  color: $app-text-color;
  box-shadow: none;
  // padding: 7px 14px; commented this and added a line below to match the exact padding of new UI
  padding: 7px 15px;
  // line-height: 14px; commented line height as it manipulated the button padding
  text-decoration: none;
  background-image:
    linear-gradient(
      to bottom,
      $btn-lg-top,
      $btn-lg-bottom
    );

  &:hover {
    background-color: $btn-lg-hover;
    background-image: none;
  }

  &:active {
    box-shadow: none;
    transition: 0.1s linear;
  }

  &:focus {
    border: 1px solid $btn-lg-focus-border;
    box-shadow: 0 0 0 1px $btn-lg-focus-border;
  }

  &.disabled,
  &[disabled] {
    pointer-events: none;
    cursor: default;
    color: $btn-lg-disabled-text;
    border: 1px $btn-lg-disabled-border solid;
    background-image: none;
    background-color: $btn-lg-disabled;
  }
}


.list-page{
  .list-page-body {
    border: solid 1px $border-color;
        background: #f8f9fa;
        table{
          border-top: solid 1px $border-color;
          border-bottom: solid 1px $border-color;
        }
  }
}


.btn-primary{
  border: 1px $btn-lg-primary-border solid;
    color: $app-btn-text-light;
    letter-spacing: 0.3px;
    font-weight: 500;
    background-image:
      linear-gradient(
        to bottom,
        $btn-lg-primary-top,
        $btn-lg-primary-bottom
      );

    &:hover:not([disabled]) {
      background-color: $btn-lg-primary-hover;
      background-image: none;
      color: $app-btn-text-light;
    }

}



.single{
  #inner{
    .pagearea {
      background: #fff;
    }
  }
}

.edit_helpdesk_ticket_field, .edit_company_field {
   .custom-field-form {
     @include margin-left(60px);
     @include margin-right(10px);
     margin-top: 20px;
     margin-bottom: 20px;
   }
}

#body-container {
  .update-section, .outdate-section {
    @include border-radius(3px);

    .btn {
      border: none;
      box-shadow: none;
      text-transform: none;
      background-color: $app-btn-text-light;
      width: 100%;
      @include margin-left(0px);

      .outdate-label {
        color: $app-solution-outdated-label;
      }

      .outdate-label:hover {
        color: $app-solution-outdated-label-hover;
      }
    }

    .outdate-uptodate:hover {
      background-color: $app-btn-text-light;
    }

    .sloading.loading-small {
      @include float(left);
      @include margin-left(10%);
    }
  }
}

#sectionCancelBtn, #sectionSubmitBtn {
  margin-bottom: 10px;
}


body.community {
  .language_symbol.outdated {
    color: $app-solution-language-outdated;
  }
}

.contact_fields_dialog {
  .field-label {
    margin-bottom: -7px;
  }
}

.toggle-button{
  width: 27px;
    border: 0px;
    border-radius: 100px;
  padding: 0px;
      background-color: #ebeef0;
    border: solid 1px $border-color;
    background-image: none;
    box-shadow: none;
  .toggle-handle {
      margin-left: 3px;
      margin-top: 3px;
  }
  &:hover{
    border: 1px solid $border-color;
    box-shadow: inherit;
  }

  &.active{
  border: solid 1px $app-primary-btn-background;

  .toggle-container{
    .toggle-handle{
      span{
        &:after, &:before {
        background: $app-primary-btn-background;
            background: $app-primary-btn-background;
            top: 6px;
            left: 3px;
            width: 3px;
            border-top-right-radius: 0px;
            border-bottom-right-radius: 0px;
            transform: rotate(45deg);
        }
        &:before{
        left: 4px;
        top: 5px;
        width: 6px;
        border-top-right-radius: 0px;
        border-bottom-right-radius: 0px;
        transform: rotate(135deg);
        }

      }
    }
  }

    .toggle-handle {
      margin-left: -15px;
      margin-top: 3px;
    }
  }

  .toggle-container{
    .toggle-handle{
      span{
        background: #fff;
        border: 0px;
        width: 12px;
        height: 12px;
        background-color: $app-btn-text-light;
        box-shadow: 0 1px 1px 0 rgba(11, 11, 11, 0.25);

        &:after, &:before {
        border: 0px;
        content: "";
        position: absolute;
        background: #748491;
        height: 2px;
        width: 6px;
        border-radius: 3px;
        transform: rotate(43deg);
        top: 5px;
        left: 3px;
        }

        &:before {
        transform: rotate(140deg);
        }

      }
    }
    .on-label{
      box-shadow: none;
      border: 0px;
      background-image: none;
      background: $app-primary-btn-background;
      text-shadow: none;
      span{
        display: none;
      }

    }
    .off-label{
      span{
        display: none;
      }
    }


  }
}


.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active{
      border-color: $app-selected-background-color;
    background: $app-selected-background-color;
    a{
      color: $app-primary-color;
    }
}



.nav-tabs {
  li {
    &.active {
      a {
        border: 0;
        border-bottom: 3px solid $app-primary-btn-background;
        color: $app-primary-btn-background;

        &:hover{
          border: 0;
          border-bottom: 3px solid rgba(2, 184, 117, 1);
          background-color: #fff;
          color: rgba(2, 184, 117, 1);
        }
      }
    }

    a {
      border: 0px;
      background-color: transparent;
      color: #6f7c87;
      border-bottom: 0px;
       &:hover{
        text-decoration: none;
        border:0px;
        border-bottom: 3px solid rgba(2, 184, 117, 0.3);
        background-color: #fff;
        color: rgba(2, 184, 117, 0.6);
       }
    }

  }
}

textarea:focus, input[type="text"]:focus, input[type="password"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="date"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus, input[type="number"]:focus, input[type="email"]:focus, input[type="url"]:focus, input[type="search"]:focus, input[type="tel"]:focus, .uneditable-input:focus{
       box-shadow: 0 0 2px 0 rgba(2, 184, 117, 0.3), inset 0 1px 2px 0 rgba(0, 0, 0, 0.1);
      border-color:rgba(2, 184, 117, 0.5);
}


input[type='radio']
{
    -webkit-appearance: none;
    background: #fff;
    border: solid 1px $border-color;
    height: 13px;
    position: relative;
    width: 13px;
    border-radius: 50%;
    padding: 2px;
    &:hover{
    border: solid 1px $app-btn-text-disabled;
    }


    &:before {
      content:'';
      display:block;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    }

    &:checked{
      background:$app-primary-btn-background;
      border: 3px solid $app-primary-btn-background;
      padding: 2px;
      outline: none;
       &:before {
          border: 2px solid #fff;
          position: relative;
          @include left(-4px);
          top: -4px;
       }
    }
}

.scl-welcome input[type="text"]{
  &:focus{
    border: 0px;
    outline: none;
    box-shadow: none;

  }
}


input[type='checkbox']
{
    -webkit-appearance: none;
    background: #fff;
    border: solid 1px $border-color;
    height: 13px;
    position: relative;
    width: 13px;
    border-radius: 2px;
    &:focus {
    outline: none;
    }

    &:hover{
    border: solid 1px $app-btn-text-disabled;
    }

    &:checked{
      background: #02B878;
      border: 3px solid $app-primary-btn-background;
      padding: 0px;
       &:before {
      border: 0px;
      position: relative;
      left: 1px;
      top: -2px;
      border-right: 2px solid #fff;
      border-bottom: 2px solid #fff;
      transform: rotate( 45deg );
      content: '';
      display: block;
      width: 3px;
      height: 6px;
       }

    }

    &:disabled {
      background: #acb6be;
      border-color: #acb6be;

      &:before {
        border-color: #fff;
      }
    }

}

.portal-section .checkbox [type="checkbox"] {
    /*margin-left: 0px;
    margin-right: 5px;*/
}

.select2-search-choice-close::after{
  top: -1px;
}

.tab-pane{
  .select2-search-choice-close::after{
  top: -4px;
}
}

.select2-container-multi{
  .select2-choices{
    border: solid 1px $border-color;
    background: #fff;
    .select2-search-choice {
    border-radius: 3px;
    background-color: $app-btn-hover;
    border: solid 1px $border-color;
    box-shadow: none;
    background-image: none;
    }
  }
}


.select2-container-multi.select2-container-active {

   .select2-choices{
      box-shadow: 0 0 2px 0 rgba(2, 184, 117, 0.3), inset 0 1px 2px 0 rgba(0, 0, 0, 0.1);
      border: solid 1px rgba(2, 184, 117, 0.5);
  }

}


.select2-container{

&.inline-block{

  &.select2-dropdown-open{
    .select2-choice{

  .select2-arrow{
    b::after, b::before{
    display:none;
    }
  }

 }
  }

 .select2-choice{
  .select2-arrow{
    b::after{
    top: 8px;
    left: 0px;
    }

    b::before {
    top: 8px;
    left: 3px;
    }
  }

 }
}

  .select2-choice{
  border: 1px solid $border-color;

.select2-arrow{

    b::after, b::before {
      border:0px;
      content: "";
      position: absolute;
      background: #748491;
      height: 2px;
      width: 6px;
      border-radius: 3px;
      transform: rotate(45deg);
      top: $fields-font-size;
      left: 0px;
    }

      b::before {
      left: 3px;
      transform: rotate(135deg);
    }

  }

  }
}


.capping-limit{
  &.select2-dropdown-open{

  .select2-choice{
      .select2-arrow{
      b::before, b::after{
        top: 7px;
      }
    }
  }

  }

   .select2-choice{
      .select2-arrow{
      b::before, b::after{
        top: 7px;
      }
    }
  }


}




input[type="text"]:not(.color_field):not(.select2-search-field .select2-input) {
  box-shadow: none;
  border-radius: 3px;
  background-color: $app-btn-text-light;
  border-color:$border-color;
  font-size: $fields-font-size;

  &:focus{
  background-color: $app-btn-text-light;
  box-shadow: 0 0 2px 0 rgba(2, 184, 117, 0.3), inset 0 1px 2px 0 rgba(0, 0, 0, 0.1);
  border-color:rgba(2, 184, 117, 0.5);
  }
}

div.color{
  input{
  -moz-box-shadow: 0 0 0 1px $border-color, 0px 0px 0px $border-color inset;
  -webkit-box-shadow:0 0 0 1px $border-color, 0px 0px 0px $border-color inset;
  box-shadow:0 0 0 1px $border-color, 0px 0px 0px $border-color inset;
  font-size: $fields-font-size;
  }
}

.form-horizontal textarea{
    height: 80px;
  border-radius: 3px;
  background-color: $app-btn-text-light;
  border: solid 1px $border-color;
  box-shadow: none;
  font-size: $fields-font-size;
}

select{
  border: solid 1px $border-color;
  font-size: $fields-font-size;
}

.select2-drop-active{
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.14);
  border: solid 1px $border-color;
}

.select2-dropdown-open{
  .select2-choice {
    box-shadow: none;
    background-image: none;
    background-color:#fff;
  }
}

.select2-container{

  .select2-choice > .select2-chosen{
   font-size: $fields-font-size;
  }

}
.select2-drop-active {
    border: 1px solid $border-color;
    border-top: none;
    .select2-search{
      padding: 0px 8px;
      input{
        background: url($select-sprite-bg-url) no-repeat 100% -22px, linear-gradient(to bottom, $app-btn-text-light 85%, $app-btn-text-light 99%) 0 0;
        font-size: $fields-font-size;
      }
    }
    .select2-results {
      padding: 0 4px 0 3px;
      margin:4px 0px 4px 0;
      .select2-highlighted {
        background: $app-btn-hover;
        color: $app-text-color;
        .falcon-select2-override.select2_list_detail {
          color: #6f7c87;
        }
      }
    }
}

.select2-results{
  .select2-result-label{
    &:hover{
    color: $app-primary-color;
    }
  }
}
.radio, .checkbox{
  min-height: auto;
  /*padding-left: inherit;*/
}



div[class$="-toggle"]{
  .btn, .btn:hover{
  background-color: $app-btn-hover;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1), 0 0 1px 0 rgba(24, 50, 71, 0.6);
  text-transform: capitalize;
  padding: 7px $fields-font-size;
  border:0px;
  span[class^='ficon-']{
  padding-right: 8px;
  }
}

}

.survey_rating_order {
  .rating_order_select {
    .dropdown-menu {
      min-width: 260px;
    }
    width: 260px;
    .bad_to_good, .good_to_bad {
      width: 147px;
      padding-left: 50px;
      &:before{
        width: 80px;
      }
      b.caret{
      border: 0px;
        &:after, &:before {
          border: 0px;
          content: "";
          position: absolute;
          background: #748491;
          height: 2px;
          width: 6px;
          border-radius: 3px;
          transform: rotate(45deg);
          right: $fields-font-size;
        }
        &:before {
          transform: rotate(135deg);
          right: 9px;
        }
      }
    }
  }
}

.cust-satisfaction-rating{
    .lead{
      font-family: $font-family-semibold;
      font-size: 16px;
      font-weight: 600;
      color: #183247;
    }
    p{
      font-family:$font-family-normal;
      font-size: 13px;
      color: #6f7c87;
    }
    .control-label{
      font-family: $font-family-normal;
      font-size: 13px;
      color: #183247;
    }
  }

.sub-container{
  background-color: #f8f9fa;
 border: solid 1px #dbdfe3;
  overflow: hidden;

  &.gradiant-border{

    &:before{
    left: 0px;
    right: 0px;
    background: -webkit-repeating-linear-gradient(121deg, #e5bbc2, #e5bbc2 55px, $app-btn-text-light 55px, $app-btn-text-light 75px, #b7c1cf 75px, #b7c1cf 125px, $app-btn-text-light 125px, $app-btn-text-light 145px);
    background:repeating-linear-gradient(121deg, #ef6630, #ef6630 55px, $app-btn-text-light 55px, $app-btn-text-light 75px, #c1dfe1 75px, #c1dfe1 125px, $app-btn-text-light 125px, $app-btn-text-light 145px);
    }


  }

}


.vertical-line:before, .selecting-info span:after, .selecting-info span:before, .survey_rating_order:before{
  background-color: $border-color;
}


.form-horizontal{

  .sub-container.cust-feedback-survey {
    border: 0;
  }

  #survey_rating_options, #question_rating_options{

    .empty-survey-card {
      border: dashed 1px $app-btn-text-disabled;
      background-color: #f9f9f9;
      border-radius: 4px;
    }

    textarea{
      height: 48px;
      border: solid 1px $border-color;
      border-top: 4px solid $border-color;
      border-radius: 4px;
      overflow: hidden;

      @each $opt,$col in $survey-options-color{
        &.border-#{$opt}{
          border-top: 5px solid #{$col};
        }
      }
    }
  }

}

  #survey_send_while{
    padding-left: 10px;
  }

.modal-backdrop, .modal-backdrop.fade.in{
  background: rgba(255,255,255,1);
}

.modal{

  .seperator{
    display: none;
  }

  background: #fff;
  border-radius: 6px;
  border: none;
  box-shadow: 0 2px 14px 0 #dee1e1, 0 18px 24px 0 rgba(91, 91, 91, 0.21);

  &.fade.in{
    border-radius: 0px 0px 6px 6px;

    .modal-header{
      background: #fff;
      padding-top: 30px;
      .close {
        position: initial;
        @include float(right);
        background: #fff;
        border: none;
        box-shadow: none;
        padding-top: 0px;
        height: auto;
        padding-bottom: 0px;
        padding-right: 0px;
        width: auto;
        &:before {
          color: $close-icon-color;
      }
    }
      h3{
        font-size: 16px;
        font-weight: 600;
        line-height: 22px;
        color: $app-text-color;
        text-shadow: none;
      }
    }
  }
  .modal-title{
    span.label{
        float: none;
        background-color: #eff1f4;
        color: #848b99;
        text-shadow: none;
        margin-left: 10px;
    }
  }

  .modal-body{
    border-bottom: 1px solid #eee;
    margin-bottom: 0px;
    p{
      color: #6f7c87;
    }
  }
  .modal-footer{
    padding-top: 16px;
    /*padding: 16px 35px;*/
    background-color: #f8f9fa;
    box-shadow: none;
  }
  .modal-header-button{
    margin-top: 0px;
  }

}

#inner {
    height: 100vh;
    background: #fff;
}

.btn {
  margin-left: 8px;
}

#body-container{
/* Style for button */
  color: $app-text-color;
  font-family: $font-family-normal;

  .rule_list{
    .condn-group-selection{
      a{
        &.active, &:hover{
        background: #d7dce0;
        }
      }
      a:hover{
        border-top: 1px solid #d7dce0;
        border-bottom: 1px solid #d7dce0;
        border-left-color: #d7dce0;
        border-right-color: #d7dce0;
      }
    }
  }

  .btn {
    font-size: 14px; // changed 12 px to 14px
    // border: none;
    border: 1px $app-secondary-btn-border solid;
    border-radius: 4px; // changed 2px to 4px
    outline: none;
    background: $btn-secondary-bottom;
    text-shadow: none;
    min-width: 0px;
    text-align: center;
    letter-spacing: 0.3px;
    font-weight: 500;
    // text-transform: uppercase; commenting this property as the button text should be in normal case
    // letter-spacing: 0.5px; commenting this property
    // font-family: $font-family-semibold; commenting this
    color: $app-text-color;
    background-image:
      linear-gradient(
        to bottom,
        $btn-lg-top,
        $btn-lg-bottom
      );

    &:hover {
      background-color: $btn-lg-hover;
      background-image: none;
    }

    &:active {
      box-shadow: none;
      transition: 0.1s linear;
    }

    &:focus {
      border: 1px solid $btn-lg-focus-border;
      box-shadow: 0 0 0 1px $btn-lg-focus-border;
    }

    &.disabled,
    &[disabled] {
      pointer-events: none;
      cursor: default;
      color: $btn-lg-disabled-text;
      border: 1px $btn-lg-disabled-border solid;
      background-image: none;
      background-color: $btn-lg-disabled;
    }
    input {
      background: none;
      padding: 0;
      border: none;
    }
    &.btn-mini {
      text-transform: initial;
      // padding: 2px 6px; added padding below to make the mini buttons look good. Metioned by UX designer Aayush
      padding: 4px 8px;
      font-weight: 500;
      font-size: 12px;
    }
    &.btn-flat {
      padding: 7px 14px;
      text-transform: capitalize;
    }

  }

  .btn-primary, .uiButton {
    background-color: $btn-lg-primary-top;
    border: 1px $btn-lg-primary-border solid;
    color: $app-btn-text-light;
    letter-spacing: 0.3px;
    font-weight: 500;
    background-image:
      linear-gradient(
        to bottom,
        $btn-lg-primary-top,
        $btn-lg-primary-bottom
      );

    &:hover:not([disabled]) {
      background-color: $btn-lg-primary-hover;
      background-image: none;
    }

    &:active {
      transition: 0.1s linear;
      border: 1px $btn-lg-primary-selected-border solid;
      box-shadow: inset 0 0 4px 0 rgba(0, 0, 0, 0.26);
    }

    &:focus {
      background-color: lighten($app-primary-btn, 5%);
      border: 1px lighten($app-primary-btn-border, 5%) solid;
      transform: scale(0.98);
      transition: 0.1s linear;
    }

    &.disabled,
    &[disabled] {
      cursor: not-allowed;
      transition: 0.1s linear;
      color: $app-secondary-btn-hover;
      border: 1px solid $btn-lg-primary-disabled-border;
      background-image:
        linear-gradient(
          to bottom,
          $btn-lg-primary-disabled-top,
          $btn-lg-primary-disabled-bottom
        );
    }

      &--uppercase {
        text-transform: uppercase;
      }

      input {
        background: none;
        padding: 0;
        border: none;
      }
    }
    .btn-group > .btn:first-child {
      border-bottom-right-radius: 0px;
      border-top-right-radius: 0px;
      border-right: 0px;
      &+ .dropdown-toggle {
        padding: 7px 8.5px;
        border-radius: 2px;
        border-right: 1px $app-text-color solid;
        margin-left: 0px;
        border-top-left-radius: 0px;
        border-bottom-left-radius: 0px;
        min-width: 0px;
        border-left: 0px;
        &:before {
          content: '';
          border-left: 1px solid $app-primary-btn-border;
          height: 26px;
          position: absolute;
          left: 0px;
          top: 1px;
          box-shadow: 1px 0px 0px rgba(255, 255, 255, 0.15);
        }
        &:hover:before {
            box-shadow: -1px 0px 0px rgba(255, 255, 255, 0.15);
        }
      }
    }


    .btn-group > .btn {
      border-radius: 0px;
      border-right: 0px;
      margin-left: 0px;
      &:first-child{
        border-top-left-radius: 2px;
        border-bottom-left-radius: 2px;
      }
      &:last-child{
        border-top-right-radius: 2px;
        border-bottom-right-radius: 2px;
        border-right: 1px solid $app-btn-disabled;
      }
    }

    .create_new_folder span {
      vertical-align: middle;
      display: inline-block;
      &:before{
        line-height: 14px;
      }
    }

    .add_new_condition{
      .btn-group > .btn {
        border: 0px;
        &:hover{
          background:none;
        }
      }
    }

   #solution-properties-container .article-tags.select2-container-active .select2-choices{
    border-bottom: solid 1px rgba(2, 184, 117, 0.5);
   }



    .sla_policy_form .open > .dropdown-menu:after{
      top: -11px;
      left: 25px;
    }

    .sla_policy_form .open > .dropdown-menu:before{
      top: -13px;
      border-bottom:6px solid rgb(218, 223, 227);
    }



    .trend-type .btn-group .btn:active, .trend-type .btn-group .btn.active {
      background-color: $app-text-color;
      color: $app-btn-text-light;
    }
/* End of button style code */
  textarea, input[type="text"]:not(.color_field), input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], .uneditable-input{
    border-color: #d3dbda;
    box-shadow: none;
  }
  textarea:focus, input[type="text"]:focus, input[type="password"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="date"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus, input[type="number"]:focus, input[type="email"]:focus, input[type="url"]:focus, input[type="search"]:focus, input[type="tel"]:focus .uneditable-input:focus{
    border-color: $app-primary-color;
  }
  select:focus, .btn:focus, input[type="file"]:focus{
    outline: none;
  }
  .discussionPanel {
      border: none;
      box-shadow: 0 -1px 0 0 #f1f1f1;
      background-color: #fcfcfc;
      .attach-wrapper {
        background-color: #fcfcfc;
        border: none;
    }
  }
  .fd-popover {
    &.right .arrow{
        border-right-color: $border-color;
    }
    .inner{
        border-color: $border-color;
          -moz-box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.14);
            -webkit-box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.14);
        box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.14);
        .fd-popover-close{
          color: $close-icon-color;
        }
    }
  }
  .nav-tabs.sleek-tab{
    border-color: $border-color;
    a{
      color: $app-text-color;
    }
    & > .active > a, & > .active > a:hover{
        color: rgb(2, 184, 117);
        border-bottom-color: rgb(2, 184, 117);
    }
  }
  .dropdown .dropdown-toggle{
    color: $app-text-color;
  }
  .arrow-down {
    border-top-color: $caret-down-color;
  }


  /* pagination style */

  .pagination ul{
    & > .active > a, & > .active > span, & > .active > a:hover {
        border-color: $border-color;
        background: $app-primary-color;
        text-shadow: none;
        color: #fff;
    }
    & > li > a, & > li > span {
        border-color: $border-color;
        background: #fff;
        color: $app-text-color;
        text-shadow: none;
    }
    & > .disabled > span, & > .disabled > a, & > .disabled > a:hover {
        background-color: $app-btn-disabled;
        color: $app-btn-text-disabled;
    }
  }
  .ticket-template-list .ticket-details {
    width: 80%;
  }
  .edit_agent .redactor_editor{
    min-height: 320px;
  }

}

.survey-rep-filter{
  .select2-container .select2-choice .select2-arrow b::after, .select2-container .select2-choice .select2-arrow b::before{
  top: 7px;
  left: 7px;
  }
  .select2-container .select2-choice .select2-arrow b::before{
  left: 10px;
  }
}

.reports-title{
  .ticket-view-cancel{
    &:after {
      font-style: normal;
      top: 0px;
    }
  }
}

.helpkit-glance .glance-chart-wrapper .glance-chart .solution-article {
  padding: 0px 20px 0 0;
}

.edit_agent .ui-form, form[action*="change_password"] .ui-form {
    border-color: transparent;
    background-color: transparent;
}
.edit_agent{
  li.overlabel-wrapper label{
    line-height: 24px;
  }
}
#email-preview{
  .modal-body{
    padding-bottom: 20px;
  }
  .modal-footer{
    padding-bottom: 0px;
    background: none;
  }
}

.sidebar-help{
  position: relative;
}

/* admin pages changes */
.customer-portal {
  .controls.multiple-check {
    margin-left: 318px;
  }
}

.manage-languages-body {
  .portal-language-visibility {
    width: 138px;
  }
}

.customer-portal .portal-section .captcha {
  margin-left: 144px;
}

.customer-portal .portal-section .controls {
  margin-left: 350px;
}

.customer-portal .portal-section .control-label {
  width: 350px;
}

.customer-portal .portal-section .heading {
  border-top: 1px solid #ebeef0;
  padding: 15px 0 15px;
}

.help-icon-language {
  color: #797979;
  font-size: 20px;
  position: relative;
  top: 1px;
}

.alert-assume-agent {
    display: none;
}

/* Agent availabilty */
#Pagearea
{
  p.mb20.clearfix {
    display: none;
  }
}
.availabilty-status {
  .tab-chat, .tab-phone, div#lc-availability, div#phone {
    display: none;
  }
  h5.lead {
    display: none;
  }
  ul.tabs.nav-tabs.roundrobin-tabs.sleek-tab {
    /* background-color: $app-selected-background-color; */
    border-radius: 2px;
    border-bottom: 1px #dadfe3 solid;
    padding: 0;
    margin: 0;
    li a {
      background: transparent;
      font-size: 12px;
      padding: 10px;
      text-decoration: none;
      font-weight: 500;
    }
  }
  .nav-tabs.sleek-tab > .active > a {
    border-bottom: 2px solid;
  }
  .tab-pane {
    div.list-page .list-page-header {
      padding: 10px;
      margin: 0;
    }
    div.list-page-body {
      background-color: transparent;
    }
    li {
      span#tickets_accepting_count,
      span#tickets_not_accepting_count {
        font-weight: bold;
      }
      span#tickets_accepting_count:before,
      span#tickets_not_accepting_count:before {
        content: "(";
      }
      span#tickets_accepting_count:after,
      span#tickets_not_accepting_count:after {
        content: ")";
      }
    }
    li.tab-link {
      border-radius: 2px;
      padding-top: 5px;
      padding-bottom: 5px;
      font-size: 12px;
    }
    li.tab-link.current, li.tab-link.current:hover {
      background-color: $app-primary-btn-background;
      border: 1px $app-primary-btn-background solid;
    }
    ul.ticket-minimal-swap li:hover {
      background-color: #ebedf0;
      border: 1px #dadfe3 solid;
    }
    .agents-filter {
      ul.dropdown-menu {
        min-width: 180px;
        padding-right: 8px;
        padding-left: 8px;
        max-height: 300px;
        overflow-y:auto;
        li {
          span.icon.ticksymbol {
            left: auto;
            left: unset;
            right: 8px;
          }
        }
        li a {
          font-size: 12px;
        }
        li.selected{
          a {
            padding-right: 15px;
            color: $app-primary-color;
            font-weight: normal;
            &:hover {
              color: $app-primary-color;
            }
          }
        }
      }
      li {
        a.dropdown-toggle {
          font-size: 12px;
          color: #183247;
        }
        a.dropdown-toggle:hover {
          text-decoration: none;
        }
      }
      li.dropdown {
        margin-left: 10px;
      }
      b.caret {
        border-top: 4px solid #748491;
      }
    }
    .list-page .list-page-body table {
      border-top: solid 1px #eeeeee;
      border-bottom: solid 1px #eeeeee;
    }
    .list-page-body.list-page-body-sleek {
      border: none;
      .preview_pic.avatar-text.text-center.thumb {
        border-radius: 2px;
      }
      .cust-list-avatar .preview_pic img.thumb {
        border-radius: 2px;
      }
      tr {
        text-transform: capitalize;
        font-size: 12px;
        td:first-child {
          text-align: center;
        }
        td {
          padding-left: 0px;
        }
      }
      .list-noinfo {
        background: #fff;
        font-size: 14px
      }
    }
    b {
      font-weight: 500;
    }
  }
}
/* End of Agent availabilty*/

.sidepanel {
  .lead {
    font-weight: 600;
    font-size: 16px;
  }
}


/*Chat settings*/

.freshchat-edit {
  width: 70%;
  margin: 0 auto;
  color: #183247;

  .muted {
    color: #6f7c87;
  }

  h3.lead{
    font-family: $font-family-semibold;
    padding-top: 48px;
    font-size: 26px;
    font-weight: 600;
  }

  .controls {
    input {
      height: 25px;
      color: #183247;
    }
  }

  .chat-fields-sontainer {
    margin-top: 24px;
  }

  h5.lead, .control-label{
    font-size: 16px;
    font-family: $font-family-semibold;
    font-weight: 600;
  }

  .required_star {
    top: 0;
    color: #ff5959;
    font-size: 16px;
    margin-left: -1px;
  }

  .chat-key-copy {
    font-size: 12px;
    font-weight: normal;
    position: relative;
    top: -1px;

    .ficon {
      color: #6f7c87;
      padding-left: 2px;
    }

    &:hover {
      text-decoration: underline;
    }
  }

  input::-webkit-input-placeholder,
  textarea::-webkit-input-placeholder {
    color: #acb6be;
  }
}
/* twitter smart filter */

.smart-filter-wrapper {
  #smart_filter_head {
    .form_data {
      @include margin-left(0px);
    }
  }
}

.sidepanel {
  .lead {
    font-weight: 600;
    font-size: 16px;
  }
}


/*Chat settings*/

.freshchat-edit {
  width: 70%;
  margin: 0 auto;
  color: #183247;

  .muted {
    color: #6f7c87;
  }

  h3.lead{
    font-family: $font-family-semibold;
    padding-top: 48px;
    font-size: 26px;
    font-weight: 600;
  }

  .controls {
    input {
      height: 25px;
      color: #183247;
    }
  }

  .chat-fields-sontainer {
    margin-top: 24px;
  }

  h5.lead, .control-label{
    font-size: 16px;
    font-family: $font-family-semibold;
    font-weight: 600;
  }

  .required_star {
    top: 0;
    color: #ff5959;
    font-size: 16px;
    margin-left: -1px;
  }

  .chat-key-copy {
    font-size: 12px;
    font-weight: normal;
    position: relative;
    top: -1px;

    .ficon {
      color: #6f7c87;
      padding-left: 2px;
    }

    &:hover {
      text-decoration: underline;
    }
  }

  input::-webkit-input-placeholder,
  textarea::-webkit-input-placeholder {
    color: #acb6be;
  }
}

#onedrivejs {
  display: none;
}
@import "falcon-community";
@import "falcon-reports";
@import "falcon-livechat";
@import "falcon-social";
@import "falcon-rtl";
@import "falcon-encrypted";

.sandbox-notification-content {
  background: #fffade;
  margin: 30px 40px 0;

  a:hover {
    text-decoration: underline;
    color: #448ee1;
    opacity: 1;
  }
}

.list-page.group-management .table .item_info:after,
.pagearea .edit_role .lead:after,
.modal-header .modal-roles-header:after{
   content: "\200E";
}

#CustomFieldsPropsDialog .modal.nested-field-modal{
  .add-choice.selected-field, .nested-section:last-child .selected-field {
    .dropchoice .input-wrapper {
      border-color: $app-primary-btn-background;
    }
  }
  .nested-note {
    .error {
      color: $app-delete-bg-color;
    }
  }
}
.sso-notification-content {
  background: #fffade;
  padding: 5px 10px;
  font-size: 12px;
  margin: 7px 0px;
  border-left: 3px #fead00 solid;
  line-height: 16px;

  a:hover {
    text-decoration: underline;
    color: #448ee1;
    opacity: 1;
  }
}

.freshid-sso-button{
  font-size: 16px;
  @include margin-left(17px);
  @include margin-right(8px);
  line-height: 24px;
}

.translation-header {
  padding: 24px 0 0 12px;
  font-size: 16px;
}

.text-content {
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  display: inline-block;
}

.secondary-portal-header {
  padding: 18px 0 12px 12px;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  display: inline-block;
}

.secondary-supported-header {
  padding: 12px 0 12px 12px;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
}

.secondary-text-content {
  display: inline-block;
  height: 20px;
  width: 189px;
  color: #475867;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
}

.language-item-container {
  min-height: 20px;
  margin: 0 12px 16px 4px;  
  padding: 6px 0 6px 12px;
  color: #12344D;
  &:hover {
    background: $btn-lg-disabled-border;
    border-radius: 4px;
    cursor: pointer;
  }
}

.primary-container{
  display: inline-block;
  padding-top: 3px;
}

.disable-language-item {
  color: #92A2B1;
}

.primary-language-item {
  color: #92A2B1;
  font-weight: 600;
  padding: 0px 0 8px 12px;
}

.multilingual-icon {
  width: 16px;
  height: 15px;
  display: inline-block;
}

.visible-icon {
  height: 9px;
  width: 14px;
  display: inline-block;
  position: relative;
  top: 2px;
}

.hidden-icon {
  height: 15px;
  width: 15px;
  display: inline-block;
  position: relative;
  top: 2px;
}

.show-info {
  height: 20px;
  width: fit-content;
  color: $app-btn-text-light;
  font-size: 12px;
  line-height: 20px;
  position: absolute;
  border-radius: 4px;
  padding: 2px 6px;
  right: 60px;
  background: $app-primary-btn;
}

.disable-container {
  cursor: pointer;
}

.secondary-help-text {
  padding: 4px 0 6px 0;
  color: #475867;
  font-weight: normal;
  font-size: 12px;
  line-height: 20px;
}

.action-items-container {
  width: 22%;
  float: right;
  img {
    max-height: 13px;
    max-width: 13px;
  }
  .action-items {
    width: 13px;
    height: 13px;
    display: inline-block;
    cursor: pointer;
    padding: 5px;
  }
  .download-survey, .edit-survey {
    display: inline-block;

    &:hover {
      background-color: $btn-lg-border;
    }
  }
  .preview-survey {
    display: inline-block;
    margin-left: 5px;

    &:hover {
      background-color: $btn-lg-border;
    }
  }
  .untranslated {
    opacity: 0.3;
  }
}

.survey-status-label {
  box-sizing: border-box;
  border-radius: 4px;
  width: fit-content;
  font-size: 12px;
  margin-top: 3px;
  font-weight: 600;
  padding: 5px 8px;
}

.survey-untranslated {
  background-color: #FFECF0;
  border: 1px solid #FFD0D6;
  color: #C82124;
}

.survey-outdated {
  border: 1px solid #FDDBB5;
  background-color: #FEF1E1;
  color: #C13E1B;
}

.survey-incomplete {
  border: 1px solid $btn-lg-border;
  background-color: #EBEFF3;
  color: #475867;
}

.survey-translated {
  border: 1px solid #B4E5D9;
  background-color: #E0F5F0;
  color: #007958;
}

.helptext-manage-language {
  padding: 0 20px 0 12px;
  color: #475867;
  font-size: 14px;
}

.no-padding-sidebar {
  padding: 0;
}
