</ul> 
<a id ="nba-nxt" class="nav-btn nxt sas-hidden" href="#" title="Next"><i class="ficon-arrow-right-2"></i></a> 
<a id="nba-prv"class="nav-btn prv sas-hidden" href="#" title="Previous"><i class="ficon-arrow-left-2"></i></a>