<!-- report content -->
<div class="row-fluid" id="freshfone_summary_report">
  <div class="report-page reports-main" id="report-page">
    <div class="report-content-wrapper" id="">
    <!--report header-->
    <div class="row-fluid reports-header">
      <div class="reports-title span12">
        <span class="report-icon">
            <i class="fsize-36 ficon-phone_summary"></i>
        </span>
        <span class="report-title-block">
          
          <span id="report-title">
            <% if (params[:filter_name]) %>
                <%= "#{t('helpdesk_reports.phone_summary.title')} - #{params[:filter_name]}" %>
            <% else %>
                <%=t('helpdesk_reports.phone_summary.title')%>
            <% end %>
          </span>
          <p class="muted" id="report_header_date"></p>
        </span>
       
      </div>
      <div class="reports-filter span12" id="report-filter-details">
        
        <div class="span11 filter-type filter-container" id="filter_container">
          <%= render :partial => 'reports/freshfone/summary_reports/filter_header_pdf.html.erb', :formats => [:html], :locals => {:select_hash => params[:select_hash], :date_range => params[:date_range]} %>
        </div>
       
      </div>
    </div>
      <%= render :partial => "reports/freshfone/summary_reports/call_list_pdf.html.erb", :formats => [:html], :locals => {:params => params, :calls => calls, :old_calls => old_calls, :call_type => params[:call_type]} %> 
    </div>
  </div>
 
  </div>
<!--end report content-->
</div>