<% enabled = Account.current.send("#{feature}_enabled?") %>
<li class='feature' id='<%= feature %>'>
  <div class='row-fluid'>
    <div class='feature-icon ficon-apps'></div>
    <div class='feature-details'>
    <div class='feature-link'><%= t(".#{feature}.title") %></div>
      <%= check_box_tag '', 
                    enabled,
                    enabled,
                    :rel => "toggle",
                    :"data-url" => toggle_admin_advanced_features_path,
                    :"data-feature-name" => feature,
                    :"data-confirm" => t(".#{feature}.confirm"),
                    :name => "feature", 
                    :class => "feature-switch",
                    :id => "check_#{feature}" %>
      <div class='feature-desc'>
        <%= t(".#{feature}.description") %>
      </div>
    </div>
  </div>
</li>