<div class="bottom_div mt10 mb10"></div>
<div class="title contact-na salesforce_v2_contacts_widget_bg"> 
  <div id="<%=object_field%>"><b><%=object_name%></b></div>
  <div class="name"  id="contact-na">No <%=object_field%> found for this account</div>
</div>