<div class="bottom_div mt10 mb10"></div>
<div class="title salesforce_v2_contacts_widget_bg"> 
  <div id="<%=object_field%>"><b><%=object_name%></b></div>
  <div id="search-results"><ul id="contacts-search-results"><%=resultsData%></ul></div>
</div>