<div id="create_sf_opportunity_v2_<%=account_id%>" class="hide">
<div id="salesforce-opportunity-validation-errors-v2" class="alert alert-error mt0 mb16 hide"></div> 
<div class="salesforce-opportunity-custom-errors-v2 alert alert-error mt0 mb16 hide"></div> 
  <form action="#" class="salesforceOpportunity form-horizontal" id="salesforce-opportunity-form-v2"> 
    <div class="opportunity-form-contents"> 
      <div class="row-fluid control-group"> 
        <label class="span2">
          Name<span class="required_star">*</span> 
        </label>
        <div class="span10"> 
          <input class="input-block-level required" type="text" id="opportunity_name_v2"> 
        </div> 
      </div> 
      <div class="row-fluid control-group"> 
        <label class="span2">
          Stage<span class="required_star">*</span> 
        </label>
        <div class="span10"> 
          <select id="opportunity_stage_v2" class="select2 select2-offscreen"> 
            <%=stage_options%>
          </select> 
        </div> 
      </div> 
      <div class="row-fluid control-group"> 
          <div class="span6"> 
            <label class="span4">
              CloseDate<span class="required_star">*</span> 
            </label>
            <div class="datefield input-date-field span8"> 
              <input id="opportunity_close_date_v2" class="date datepicker_popover hasDatePicker" data-date-format="d M, yy" readonly="readonly" type="text"/> 
              <button type="button" class="ui-datepicker-trigger"><i class="ficon-calendar"></i></button> 
            </div> 
          </div> 
          <div class="span6">
            <label class="span4 pl11">
              Amount 
            </label>
          <div class="span8"> 
            <input id="opportunity_amount_v2" type="text"/> 
          </div> 
          </div> 
      </div> 
      <div class="row-fluid control-group pull-right submit-buttons"> 
        <input type="submit" id="opportunity-submit-v2-<%=account_id%>" class="btn btn-primary pull-right ml10" value="Create"> 
        <input type="button" id="opportunity-cancel-v2-<%=account_id%>" class="btn pull-right" value="Cancel" > 
      </div>
    </div>
  </form>
</div>