<script>
	jQuery(document).ready(function($) {
		  //Deprecated message
		var message = '<div class="deprecated-header"><div class="message"><%=t('helpdesk_reports.deprecated_header')%></div></div>';
		jQuery(".leftcontent").prepend(message);
	});	
</script>