<% javascript_tag do %>
 jQuery(document).ready(function(){
	jQuery('input#account_features_survey_links').click( function(event) {						
		    var form = jQuery('form#survey_enable');
		    form.submit();
	});	
  });	
<% end %>

<div id="survey-settings">
	
  <h3 class="title"><%=t('.title')%></h3>
  
<%= render :partial => "satisfaction_settings" %>

</div>