<div class="hide" id="user-notifications-popover" >
  <header>
    <%= t('user_notifications.header') %>
    <div class="user-notification-actions">
      <a href="javascript:;" class="user-notifications-read-all">Read All</a>
      <% if current_account.collaboration_enabled? %>
        <a href="/helpdesk/tickets/filter/ongoing_collab">My Open Discussions</a>
      <% end %>
    </div>
  </header>
  <div class="notifications-list"></div>
  <a id="load-more-notifications"><%= t('notification.load_more') %></a>
</div>  

<a href="javascript:;" id="user-notification-icon" class="user-notification-link tooltip">
  <%= font_icon "bell", { :size => 30 } %>
  <div class="user-notification-seen-state"></div>
</a>

<script>
  App.UserNotification.initialize();
</script>
