<div class="pageContent"> 
	<h3 class="content_title">Virtual Agent - Rules</h3>
	<div class="actions_bar">		
		<%= link_to "<img src='/images/add.png' /> New Rule", new_va_rule_path, :class => "button"  %> 
		<a href="#" class="button">Delete</a>
	</div>
	<ul class="virtual_agents">
		<% @va_rules.each do |va_rule| %>
			<li>
				<input type="checkbox" class="checkbox" />
				<%= link_to(h(va_rule.name), edit_va_rule_path(va_rule)) %>
				<%= h va_rule.description %>
			</li>
		<% end %>
	</ul>
</div>
