<% content_for :sidebar do -%><%- end %>

<h3 class="title">Import or Export Data</h3>

<ul class="ui-form">
  <li class="inline-fields">
    <label class="caption">Import Data</label>
    <div class="fields"></div>
  </li>
  <li class="inline-fields">
    <label class="caption">Export Data</label>
    <div class="fields"></div>
  </li>
</ul>