<div class="pageContent">
	<h3 class="content_title">My Info</h3>
	<span class="seperator"></span>
	<% form_for @profile , :url => {:action=> "update" ,:controller => 'profiles'} , :html => { :multipart => true } do |f| %>
		<%= f.error_messages %>
		
		<%= render :partial => "form", :locals => { :type => "edit" } %>
		<div class="button-container">
    		<%= f.submit "Update", { :class => "fdbutton" } %>
			<%= link_to "Cancel", root_path, :class => "fdbutton grey" %>
  		</div>	  
	<%end%>
</div>
 