<div class="sidepanel">
	<% form_tag '/activity_reports/helpdesk/generate' do%>
	  <%= render :partial => "/reports/shared/options_form" %> 
	<%= submit_tag t('reports.generate_button'), :class => "uiButton" %>
	<% end %>
</div>
