<div class="page_area">
	<h3 class="content_title"><%= 'Edit Forum'[:edit_forum] %></h3>
	<% form_for :forum, :url => category_forums_path(@forum_category) do |f| -%>
		<%= render :partial => "form", :object => f %>
		<%= submit_tag 'Save Forum'[], { :class => "fdbutton" } -%> 
		<%= link_to('Cancel'[:cancel], category_path(@forum_category), :class => "fdbutton grey" ) -%>
	<% end -%>
</div>