<% content_for :sidebar do -%><%-end %>
<h3 class="title"><%= t('forum.new') %></h3>
<% form_for :forum, :url => category_forums_path(@forum_category) do |f| -%>
	<%= render :partial => "form", :object => f %>
	<div class="button-container">	
		<%= submit_tag t('save'), { :class => "uiButton" } -%> 
		<%= link_to(t('cancel'), category_path(@forum_category), :class => "uiButton grey" ) -%>
	</div>
<% end -%>