<div class="sidepanel">
    <h3 class="title"><%=t('.help_title')%></h3>
    <p><%= t(".help_info_1") %></p>
    <p><%= t(".help_info_2") %></p>
    <%= tour_button(t('.tour'), '500682a3e13a4654b3000005') %>
</div>