<% content_for :sidebar do %>
  <%= render :partial => "helpnote_without_tour"%>
<% end %>

<%= include_cloudfront_css :pattern %>
<h3 class="lead"><%=t('.title')%></h3> 
<% form_for :va_rule, @va_rule, :url => admin_observer_rule_path, :html => { :method => :put , :id => "ObserverForm" } do |f| %>
	<%= render :partial => "rule_form", :locals => { :f => f } %>
<% end %>