<div>
  Hi <%=@account.admin_first_name%>,<div><br></div>
  <div>We want to let you know that the Phone Channel for your Freshdesk Account is closed<br>
  All Number(s) of Phone Channel are deleted permanently and it cannot be restored<br>
  If you want to use Phone Channel again, <div>Please <%= link_to "recharge your phone credits", "http://#{@account.full_domain}/subscription" %> and raise a Ticket at Freshdesk Support for getting a new Number<br>
  </div>
  <div><br></div>
  <div>Regards,</div>
  <div>The Freshdesk Team</div>
  <div><br></div>
</div>