<div>
Hi,<div><br></div>
	Error occured in account <%=@account.full_domain%> while calculating the Call charge for <%=@call_sid%> 
<div><br></div>
<div>Support&nbsp;</div>
<div><%= AppConfig['from_email'] %></div>
</div>