<div>
	<b><%= @message %></b><br>
	<b>----------------------------------------</b><br>
</div>
<div> <br> </div>
Company: <br>
<b><%= @account.name %></b>
<div><br></div>
Freshdesk URL: <br>
<b><%= @account.full_domain %></b>
<div> <br> </div>
Thanks,<br>
<%= @user %>

