<div>
  Hi <%=@account.admin_first_name%>,<div><br></div>
  <div>Your phone credit is running low. You currently have <%= number_to_currency(@balance) %>. </div>
  <div>Please <%= link_to "recharge", "http://#{@account.full_domain}/subscription" %> immediately to continue supporting over phone.</div>
  <div><br></div>
  <div>Regards,</div>
  <div>The Freshdesk Team</div>
  <div><br></div>
</div>