<div>
  <div>Hi <%=@account.admin_first_name%>,</div>
  <br/>
  <div>Your phone trial expired 10 days ago and we will be deleting your phone number
  today.</div>
  <br/>
  <div>We would like to understand what went wrong with the trial. Did you not see some features you wanted? Did you find a better alternative?</div>
  <br/>
  <div>We’d love to get on a call with you and get some feedback about the product and the trial experience.</div>
  <br/>
  <div>Just reply to this email if you are interested.</div>
  <br/>
  <div>Regards,</div>
  <div>The Freshdesk Team</div>
</div>