<div>
  <div>Hi <%=@account.admin_first_name%>,</div>
  <br/>
  <div>You have only 2 days left in your phone trial.</div>
  <br/>
  <div>Have you checked out our call recording , voicemail and call transfer features? Do you know that you can check the status of your agents in real time and can barge and monitor their calls ? If you need help with these features, you can reply to this email and we will run you through them.</div>
  <br/>
  <div>You can also activate the full version anytime and continue using phone without any interruptions.</div>
  <br/>
  <div>Regards,</div>
  <div>The Freshdesk Team</div>
</div>