<div>
  <div>Hi <%=@account.admin_first_name%>,</div>
  <br/>
  <div>We are still holding your phone number for you. You can claim it anytime 
  by activating your phone account in the next 5 days.</div>
  <br/>
  <div>Regards,</div><br/>
  <div>The Freshdesk Team</div>
</div>
