<div>
  <div>Hi <%=@account.admin_first_name%>,<div>
  <br/>
  <div>This is the last day of your phone trial.<div>
  <br/>
  <div>You can continue using the same phone number without any interruptions 
  by activating the full version. Just go to Admin > Phone in your account 
  and click on “Activate full version”.<div>
  <br/>
  <%= image_tag attachments['request_activation.gif'].url, alt: 'Request For Activation' %>
  <br/>
  <div>The activated version will let you set up a full fledged call 
  center right inside your helpdesk. Here is the 
  <a href="https://support.freshdesk.com/solution/articles/169194">
  complete list of features</a> that will be available to you once you activate.
  <div>
  <br/>
  <div>
  Please note that without activation, your current 
  phone number will be deleted in 10 days. 
  However, you can purchase a new local or toll free number in 
  multiple countries after activation.</div>
  <br/>
  <div>Regards,</div>
  <div>The Freshdesk Team</div>
</div>
