<div>
  Hi <%=@account.admin_first_name%>,<div><br></div>
  <div>We want to let you know that your Phone Channel will be no longer accessible, after <b><%= @days_left %> days</b><br>
  After <%= @days_left %> days, all number(s) of Phone Channel will be deleted permanently and it cannot be restored<br>
  So, please Activate the phone channel in your Freshdesk Account to retain the phone number and continue using the phone channel<br>
  </div>
  <div><br></div>
  <div>Regards,</div>
  <div>The Freshdesk Team</div>
  <div><br></div>
</div>