<div>
<div>Hi <%=@account.admin_first_name%>,</div>
<br/>
<div>How is your Freshdesk phone trial coming along?</div>
<br/>
<div>You are halfway through the trial period. Do you have any questions or feedback? If you need some help setting up the phone channel or if you are interested in seeing features that are not available on trial, just reply to this email. We would love to have a chat with you.</div>
<br/>
<div>Regards,</div>
<div>The Freshdesk Team</div>
</div>