<div>
  <div>Hi <%=@account.admin_first_name%>,</div>
  <br/>
  <div>We have enabled the 15-day phone trial for your account. You can go ahead and take it out for a spin right away.</div
  <br/>
  <div>We have also put together <a href="https://support.freshdesk.com/solution/articles/215974">this guide</a> to help you get the most out of this trial. For best results, get some of your agents and customers to trial phone with you.</div>
  <br/>
  <div>Please note that the features on trial are limited. Once you activate the full version, you can buy numbers in more countries and <a href="https://support.freshdesk.com/solution/articles/215343">unlock more features.</a></div>
  <br/>
  <div>Regards,</div>
  <div>The Freshdesk Team</div>
</div>