<div>
  Hi <%=@account.admin_first_name%>,<div><br></div>
  <div>We have successfully recharged your phone credits with <%= number_to_currency(@recharge_amount) %>.</div> 
  <div><br></div>
  <div>Happy Supporting!</div>
  <div>The Freshdesk Team</div>
  <div><br></div>
</div>