<div>
  Hi,<div><br></div>
  <div>We want to let you know that your Freshfone number <%=@number%> will expire in <%=@trial_days%> due to insufficient balance.</div>
  <div><br></div>
  <div>Please recharge your Freshfone account immediately to avoid losing your Freshfone number..</div>
  <div><br></div>
  <div>Upon expiry your Freshfone number will be deleted permanently. The numbers once deleted cannot be restored. </div>
  <div><br></div>
  <div>Regards</div>
  <div><br></div>
  <div>Vijay Shankar&nbsp;</div>
  <div><%= AppConfig['from_email'] %></div>
  <div>Customer Support Advocate</div>
  <div>Freshdesk - refreshing customer support!</div>
  <div><br></div>
</div>