<div>
  Hi <%=@account.admin_first_name%>,<div><br></div>
  <div>We want to let you know that your phone number <%=@number%> will expire in <%=@trial_days%> due to insufficient balance.</div>
  <div>Upon expiry your phone number will be deleted permanently and cannot be restored. </div>
  <div><br></div>
  <div>Please <%= link_to "recharge your phone credits", "http://#{@account.full_domain}/subscription" %> immediately to avoid losing your phone number.</div>
  <div><br></div>
  <div>Regards,</div>
  <div>The Freshdesk Team</div>
  <div><br></div>
</div>