<%= stylesheet_link_tag_with_rtl :'cdn/hootsuite' %>
<div class="hs-stream">
	<div class="ticket-header clearfix">
	    <span class="<%= font_class('freshdesk', nil, 'pull-left') %>"></span>
	    <p class='tkt-title'> Freshdesk </p>
	 </div>
	 <div class="hootsuite-error">
	 		<%= t("flash.general.access_denied")%>
	 </div>
</div>