<p><%=t('admin.mobihelp.apps.helpnote.content1.info1')%> <%=t('admin.mobihelp.apps.helpnote.content1.info2')%></p>
<p><%=t('admin.mobihelp.apps.helpnote.content1.info3')%></p>

<div class="row-fluid create-container">
   <div class="span6 create-btn"> 
    <span>
      <a href='http://developers.freshdesk.com'><%= t('admin.mobihelp.apps.index.no_app.sdk_and_guide')%></a>
    </span>
   </div>
</div>
