db/schema.rb @venkatesanmurali @hrishikesh-p @arvindr @thanashyam
db/migrate/*.rb @venkatesanmurali @hrishikesh-p @arvindr @thanashyam

Gemfile @venkatesanmurali @hrishikesh-p @arvindr @thanashyam
Gemfile.lock @venkatesanmurali @hrishikesh-p @arvindr @thanashyam

config/sidekiq*.yml @venkatesanmurali @hrishikesh-p
config/api_routes.rb @thanashyam @venkatesanmurali @abinaya21 @ksashikumar

lib/rabbit_mq/* @sram2020

swagger/* @thanashyam @venkatesanmurali @abinaya21 @ksashikumar

public/* @rajasegar-c @parsurv @vishnubalajikm

config/locales/en.yml @shankar-ganesh
