<h3 class="sub-lead mb10"> <%= surveysI18n.question_title_text %></h3>
<div class="control-group row-fluid">
	<div class="span6">
		<label class="span4 pt5" id="question_point_scale"> <%= surveysI18n.points_scale %></label>
		<div class="span8" id="question_rating_choice"></div>
	</div>
	<div class="span6">
		<div id="question_rating_options"></div>
	</div>
</div>
<div class="survey-questions-wrap">
	<h3 class="sub-lead mb10"> <%= surveysI18n.questions %></h3>
	<div id="survey_question_set"></div>
	<div class="add-srvy-ques">
				<a href="javascript:SurveyQuestion.add();"><i class="ficon-plus"></i> <%= surveysI18n.add_question %></a>
	</div>
</div>
