$report-number-color:#333;
$report-number-positive-color:#006063;
$report-number-negative-color:#990000;

$tickets_summary_bg : #F6F6F6;
$tickets_summary_bottom_border : #eeeeee;
$title_color: #666;
$pie_chart_size: 400px;
$gauge_chart_size: 120px;
$timeline_chart_height: 250px;
$single_stackbar_chart_height: 120px;
