@import "../../fonts/glyphs-variables";
$survey-types: happy #82af56, neutral #f3ca6e, sad #ee715e;
$survey-response-color: extremely-satisfied #4e8d00,
						satisfied #6cb537,
						moderately-satisfied #aad340,
						netural #f1db16,
						moderately-dissatisfied #ffc400,
						dissatisfied #ff8c00,
						extremely-dissatisfied #e7340f;

@each $survey-type in $survey-types {
	.ficon-survey-#{nth($survey-type, 1)}, a .ficon-survey-#{nth($survey-type, 1)}{
		color: #{nth($survey-type, 2)};
	}
}

@each $survey-color in $survey-response-color {
	.survey-#{nth($survey-color, 1)}{
		background-color: nth($survey-color, 2);
	}
}
.spinner{
	@include left(-10px !important);
	top: -6px !important;

}
.twipsy.below .twipsy-arrow{
  	@include left(50%);	 
}
.survey-indicator{
	display: inline-block;
	@include border-radius(100%);
	width: 12px;
	height: 12px;
	padding: 0;
	line-height: 0;
	position: relative;
	top: 2px;
}
.survey-response-percent{
	float: left;
	font-size: 24px;
	font-weight: 300;
}
.survey-response-percent .survey-indicator{
	width: 24px;
	height: 24px;
	margin-right: 8px;
	top: 4px;
}

.survey-response-row .survey-indicator{
	top: 3px;
	@include margin-left(6px);
}

.survey-summary{
	margin-top: 5px;
}

.survey-summary .survey-icon{
	font-size: 34px;
	@include float(left);
}

.survey-icon{
	@include margin-right(5px);
}
.survey-summary{ 
	.rating-percentage{
		line-height:34px;
		font-size:20px;
	}
	.overview-percentage{
		font-size:14px;
		font-weight:500;
	}
}

.survey-percent{
    font-size: 20px;
    font-weight: 300;
    margin-top: 3px;
    margin-bottom: 3px;
}

.survey-type{
    margin-top: 5px;
    font-size: 14px;
    font-weight: 400;
    color: #888888;
}

.survey-answers{
	@include border-left(1px solid #d9d9d9);
	@include padding-left(15px);
	display: table;
	& > li {
		display: table-row;
		line-height: 1.5;
		& > span {
			display: table-cell;
		}
		& > span:last-child {
			padding-left: 5px;
			width: 100%;
		}
	}
}

// Survey panel hero element
.well-survey{
	@include box-shadow(none);
	@include padding(16px 20px);
	background-color: #ffffff;
	@include border-radius(6px);
	.survey_dots{
		text-align:center;
		@include margin-right(5px);
		.survey-indicator{
			width: 7px;
			height: 7px;
		}
	}
}

// Survey report specific styles
.tabs-survey{
	width: 100%;
	@include float(left);
	vertical-align: top;
	background: #F8F8F8;
	ul {
		li{
			position: relative;
			border-bottom: 1px solid #E3E3E3;
			padding: 10px 0;
			cursor: pointer;
			background: #F8F8F8;
			color: #6B6B6B;
			@include box-sizing(border-box);

			a, a:hover{
				color: #333;
			}
			&.disable {
    			cursor: default;
    			color: #D6D6D6;    
    			padding: 15px;
    			line-height: 38px;
			}
			&.active{
				background: #fff;
				@include margin-right(-1px);
				a{
					cursor: default;
				}
			}
			&.active:before{
				width: 4px;
				content: "";
				height: 100%;
				position: absolute;
				top: 0;
				@include left(0);
				background-color: #171717;	
			}
		}
	}
	.nav-survey-rating{
		&.inactive{ opacity: 1;}
		a{
			padding: 15px;
  			line-height: 38px;
		}
	}

	#summary-content{
		display:none;
		position:absolute;
	}

	.survey-nav-lead{
		display: inline-block;
		@include margin-right(10px);
		font-size: 14px;
    	width: 40%;
    	line-height: normal;
		font-weight: 500;
	}
	.survey-nav-summary{
		// display: block;
		margin-top: 5px;
		font-size: 15px;
		font-weight: 200;
	}
	.survey-icon{
		font-size: 22px;
		position: relative;
		top: 2px;
		left: -1px;
	}
}

// Survey reponses
.survey-date{
	font-size: 12px;
	color: #333;
}

.survey-details{
	color: #999;
	font-weight: 500;
	@include padding-left(10px);
	.muted{
		font-weight: 400;
	}
}

.survey-response-row{
	border-bottom: 1px solid #efefef;
	padding-bottom: 15px;
	margin-bottom: 20px;
	blockquote{
		border-left: 1px solid #ddd;
		line-height: 1.3;
		padding-left: 10px;
		padding-bottom: 0;
		margin-bottom: 5px;
	}
}

.user-profile-rounded{
	@include border-radius(100%);
	@include size(32px, 32px);
	padding: 0;
	float: left;
	display: inline;
	margin-right: 10px;
	position: relative;
	img{
		@include size(32px, 32px);
		@include border-radius(100%);
	}
}


.custom-survey-tooltip{
	min-width:350px;
	.ui-tooltip-content{
		padding: 5px;
		background-color:#474747;
		color: #ffffff;
		h5{ padding: 0px; margin: 0px;}
		.well-survey{
			padding: 2px 10px;
			margin: 0;
			background-color:transparent;
			@include box-shadow(none);
			@include border-radius(0);
			border: 0;
			.lead{
				font-size: 12px;
			}
			.survey-tooltip-title{
				margin:5px;
			}
			.survey-icon{ width: 40px;}
			.survey-summary{
				@include margin-left(5px);
				.span2{
					width: 80px;
				}
				.survey-icon{
					font-size:18px;
					width: 20px;
					top: 0;
				}
			}
		}
	}
}

.dataTables_wrapper{
	.dataTables_paginate{
		@include text-align (right);
		margin-top: 15px;
		.paginate_button, .ellipsis{
			cursor: pointer;
			width: 30px;
			height: 30px;
			display: inline-block;
			text-align: center;
			line-height: 30px;
			overflow: visible;
			border: 1px solid #e1e1e1;
			@include box-sizing( border-box );
			background: #f2f2f2;
		}
		.ellipsis{
			@include border-left ( 0 );
			cursor:default;
			color: rgba(51, 51, 51, 0.2);
		}
		.paginate_button{
			@include border-left-width ( 0 );
			color: #333;
			&:hover{
				background: #eee;
			}
			&.current{
				background: #555;
				color: #fff;
				border-color: #555;
			}
			&.previous, &.next{
				position: relative;
				color: transparent;
				background: #f2f2f2;
				&:before{
					content: '';
					position: absolute;
					width: 0;
					height: 0;
					top: 8px;
				}
			}
			&.previous{
				@include border-left-width ( 1px !important);
				@include border-radius (2px 0 0 2px);
				&:before{
					border-top: 6px solid transparent;
					border-bottom: 6px solid transparent;
					@include border-right( 6px solid #333 );
				}
				&.disabled{	
					&:before{
						@include border-right-color( rgba(51,51,51,0.2) );
					}
				}
			}
			&.next{
				position: relative;
				@include border-radius (0 2px 2px 0);
				&:before{
					border-top: 6px solid transparent;
					border-bottom: 6px solid transparent;
					@include border-left( 6px solid #333 );
				}
				&.disabled{	
					&:before{
						@include border-left-color( rgba(51,51,51,0.2) );
					}
				}
			}
		}
	}
}

.survey-header-child{
	height: 60px;
}


.dataTable{
	.sort_icons{
			font-family: glyphs;
		    font-size: 17px;
		    position: relative;
		    @include float(right);
	}

	th.sorting::after{
	    content: $font-glyphs-sorting-default;
		@extend .sort_icons;
	    top: 3px;
	    opacity: 0.3;
	}

	th.sorting_asc::after{
		content: $font-glyphs-sorting-asc;
	    @extend .sort_icons;
	    top: 6px;
	}

	th.sorting_desc::after{
		content: $font-glyphs-sorting-dsc;
		@extend .sort_icons;
	}
	tr.even{
		background-color:#f8fbfe !important;
	}
	th{
		background-color:#f0f0f0 !important;
		cursor:pointer;
	}
	tr{
		td,th{
			border-color: #E5E4E4;
			padding: 10px;
			text-align: center;
		}
		td:first-of-type{
			background-color:#fff !important;
		}
	}

	tr:not(.exclude_none):hover td{
		cursor:pointer;
		background-color:#f9f9f9 !important;
	}
	td.sorting_1 {
    	background-color: #f9f9f9 !important;
	}
}

.survey_main_layout{
	.select2-chosen{ font-weight: 700;}
	a.dropdown-toggle{
		cursor: pointer;
		h5{font-weight: 700;}
	}
	.dropdown-menu{
		.ficon-save{ display: none;}
	}
	.reports-active{
		.ficon-save{
			display: inline-block;
			left: 9px;
  			position: absolute;
		}
	}

	.reports-header{
		position: relative;
		border: 1px solid #EBEBEB;
		@include border-radius(8px);
		margin-bottom: 20px;
		.reports-title{
			padding: 12px 0;
			.report-icon{
				padding: 0 15px 0 20px;
				display: inline-block;
				vertical-align: top;
			}
			.report-title-block{
				margin-top: 7px;
				display: inline-block;
				cursor: pointer;
				vertical-align: top;
				#report-title{
					font-size: 20px;
					font-weight: 500;
					@include padding-right(5px);
				}
				.title-dropdown{
					cursor: pointer;
					@include float(right);
					margin: 8px 0 0 5px;
				}
				.grey-arrow-down {
    				border-left: 6px solid transparent;
    				border-right: 6px solid transparent;
    				border-top: 6px solid #989898;
				}
			}
		}
		.reports-menu{
			position: absolute;
			top: 50px;
			@include left (17px);
			z-index: 15;
			width: 294px;
			ul{
				background: #fff;
				border: 1px solid #cbcbcb;
				@include border-radius(5px);
				@include box-shadow(1px 1px 10px #ebebeb);
				li{
					a{
						display: block;
						span{
							padding-right: 12px;
							display: inline-block;
						}
						font-size: 14px;
						height: 45px;
						line-height: 45px;
						padding: 0px 25px 0 18px;
						color: #7f7f7f;
						i{
							color: #7f7f7f;
						}
					}
					&:hover{
						background-color: #eee;
					}
					&.active{
						a{
							font-weight: bold;
							color: #333;
							i{
								color: #333;
							}
						}
					}
				}
			}
		}
		.survey-rep-filter{
			border-top: 1px solid #EBEBEB;
			background: #f8f8f8;
			padding: 10px 20px;
			ul{
	    		li{
	    			display: inline-block;
	    			margin-right: 10px;
	    			margin-top: 5px;
	    			a{
	    				color: #000;
	    				font-weight: 600;
	    			}
	    			input[type="text"]{
	    				margin-bottom:0;
	    				width:inherit;
	    			}
	    		}
			}
		}
	}
}
.select2-drop{ 
	width: 240px !important;
	.select2-result-label{
		margin: 5px;
	}
}
.select2-drop-active{
	@include border-radius(5px !important);
	border: 1px #ccc solid;
	border-top: 1px #ccc solid !important;
}
.report-panel-content{
	.nav-tabs.sleek-tab{
		border-color: #e3e3e3;
		margin-bottom: 20px;
		a{
			cursor: pointer;
		}
		a.active :hover{
			cursor: default;
		}
	}
	a.dropdown-toggle h5 {
    	font-weight: 400;
	}
	.empty-chart{
	    line-height: 200px;
	    text-align: center;
	    width: 100%;
	    font-weight: 500;
	    font-size:18px;
	}
	.survey-report{
		margin: 8px;
		.column{
			float: right;
		}
		.btn-default{
			display: inline-block;
			cursor: pointer;
			.caret{
				border-top-color: #999;
  				border-bottom-color: #999;
				@include right(-5px);
				position: relative;
			}
		}
	}
	.response-filter{
		text-align: left;
		top: 30px;
		a{
			padding: 7px 3px 7px 15px;
			&:hover{
				@include box-shadow(none);
				background-image: none;
			  background-color: #eee;
			  @include border-radius(4px);
			  color: #333;
			}
		}
	}
}

#survey_report_agent_list{
	ul.dropdown-menu{
		max-height: 220px;
		overflow: auto;
	}
}
.survey_date_range{
	padding-bottom: 38px;
	&.opensright .calendar{
		&.left, .right{
			float: left;
		}
	}
	.ranges{
	  width: 110px;
	  position: absolute;
	  bottom: 6px;
	  right: 0px;
	  margin-top: 114px;
	}
	.cancelBtn, .applyBtn{
		padding: 3px 9px;
	}
	.icon-arrow-left:before, .icon-arrow-right:before{ display: none;}
	.daterangepicker_start_input, .daterangepicker_end_input{ display: none;	}
}
