log/*.log
log/*.pid
tmp/*
tmp/**/*
doc/api
doc/app
db/*.sqlite3
*.swp
*˜
.DS_Store
.loadpath
.project
*~
db/sphinx/*
config/development.sphinx.conf
config/slave.sphinx.conf
config/database.yml
config/sphinx.yml
config/redis.yml
public/stylesheets/app
public/stylesheets/app/lib/*
public/stylesheets/print
public/stylesheets/portal
