<%
	r = reminder
	text = h(r.body)
%>	
<li id="reminder_<%=r.id%>">  
    <%  form_action = (r.deleted) ? restore_helpdesk_reminder_path(r) : complete_helpdesk_reminder_path(r) %>
    <%  form_remote_tag(:url => form_action, :method => :put, :after => %{ jQuery(this).parent().addClass('disabled'); }) do %>
        <input type="hidden" name="source" value="ticket_view" />
        <label>
            <%= check_box_tag("", 1, r.deleted , :onchange => %{ jQuery(this.form).trigger("submit"); }) %>
        </label>
    <%  end %>
    <%= link_to_remote( '',
                        :url => helpdesk_reminder_path(r),
                        :method => 'delete',                        
                        #:confirm => t("delete_reminder"),
                        :html => { :class => 'delete_black' } ) %>
		<%= content_tag("label", text, :class=>"reminder #{ r.deleted ? "checked" : "unchecked" }") %>
</li>

