// Accent colors
// -------------------------
$fb-color:					#1272de !default;
$facebook-background:		#edeff4;

// Links
// -------------------------
$linkColor:             $fb-color !default; //#08c
$linkColorHover:        darken($linkColor, 15%) !default;

// -------------------------
$baseFont: 				'lucida grande' !default;
$sansFontFamily:        $baseFont, Helvetica, Arial, sans-serif !default;
$serifFontFamily:       Georgia, "Times New Roman", Times, serif !default;
$monoFontFamily:        Menlo, Monaco, Consolas, "Courier New", monospace !default;

$baseFontSize:          14px !default;
$fontLeadSize:			14px !default;
$fontHelpSize:			12px !default;
$baseFontSizeForMobile: 11px !default;
$baseFontFamily:        $sansFontFamily !default;
$baseLineHeight:        $baseFontSize * 1.5625 !default;
$baseLineHeightForMobile: $baseFontSizeForMobile * 1.5625 !default;
$altFontFamily:         $serifFontFamily !default;

$headingsFont:			'lucida grande' !default;
$headingsFontFamily:    $headingsFont, Helvetica, sans-serif !default; // empty to use BS default, $baseFontFamily

// TOPIC AND TICKET COMMENTS RELATED STYLES
// --------------------------------------------------
$comments-background: $facebook-background !default;






