<div class="detailed-header row-fluid hide">
	<div class="page-description">
		<p class="page-title"><%=t('unresolved_tickets.title') %></p>
	</div>
	<div class="filter-wrapper">
	<div class="edit-filter span1">
		<button class="btn btn-primary" id="metric-edit" data-action="open-filter-menu">
		<%=t('unresolved_tickets.filter_label') %></button>
	</div>
	<div class="filter-type span11">
		<ul id="filter_text"></ul>
		</div>
	</div>
</div>