<div>
	Hi,<div><br></div>
	<div>We want to let you know that your Ecommerce account <%=@ecom_name%> is now active.</div>
	<div><br></div>
	<div><%= link_to "View account", "#{@account.full_url}/admin/ecommerce/accounts" %></div>
	<div><br></div>
	<div>If you have queries of any kind, please do not hesitate to contact us: support@freshdesk.com</div>
	<div><br></div>
	<div>Regards,</div>
	<div><br></div>
	<div>Freshdesk Support&nbsp;</div>
	<div><br></div>
</div>