<div>
  Hi,<div><br></div>
  <div>We want to let you know that ebay application has reached the threshold limit of <%= @limit %>.</div>
  
  <div><br></div>
  <div>Freshdesk Support&nbsp;</div>
  <div><br></div>
</div>