// Icon sprite creation
// --------------------------------------------------

@import "cdn-ignored/sprites/icons/*.png";


/* %% more styles set for this class in some other file */

/* %% app-common */


.ui-form .inline-field .google_contacts_sync {
	li.freshdesk{ 	@include icons-sprite(freshdesk); }
	li.google{ 		@include icons-sprite(google); }
}

.icons-edit-forum{ @include icons-sprite(edit-forum); }

.solution-list li:before{
	@include icons-sprite(article-list);
}

.meta-os { @include icons-sprite('os-generic'); }
@each $os in mac, windows, android, linux {
  .meta-os.os-#{$os} { @include icons-sprite('os-#{$os}'); }
}
.meta-browser { @include icons-sprite('browser-generic'); }
@each $browser in chrome, firefox, internet-explorer, opera, safari {
  .meta-browser.browser-#{$browser} { @include icons-sprite('browser-#{$browser}'); }
}

.meta-referrer { @include icons-sprite(meta-referrer); }

/* Importing chat availability icon */
@import "cdn-ignored/sprites/chat/*.png";
$chat-layout:horizontal;
.agent-fchat-on { @include chat-sprite(status-on); }

.agent-fchat-off { @include chat-sprite(status-off); }

.icon_remove{
  cursor:pointer;
	width: 15px;
	height: 15px;
	position: relative;
	border: 1px solid #aaa;
	background: #CCC;
	@include border-radius(50%);
	display: inline;
	@include float(left);
	margin: 8px;
	@include margin-left(0);
  	margin-top: 0;
	span {
		background-color: white;
		height: 2px;
		width: 10px;
		margin: 0 auto;
		position: absolute;
		top: 7px;
	 @include left(2px);
		@include box-shadow(0px -1px 0px 0px #aaa);
	}
	&:hover{
		border-color: #d30000;
		background: #d30000;
	}
}

@each $size in 16,17,18,20,22,24,30,36,48 {
	.icon-#{$size} {
		display: inline-block;
		width: #{$size}px;
		height: #{$size}px;
	}
}

