@import "cdn-ignored/sprites/symbols/*.png";
@include all-symbols-sprites;

/* %% more styles set for this class in some other file */

.symbols-article-list{
	@include inline-block;
	width: 20px; height: 20px;
	/* Hack to be removed later */
	margin-top: -2px;
}
.symbols-issue{
	@include inline-block;
	width: 20px; height: 16px;
}
.quoted_button{
  margin:0 0;
  display:inline-block;
  width:31px;
  height:14px;
}

.sort_handle{
	position:relative;
	@include float(left);
 	@include left(18px);
	top: 10px;
	width:10px;
	height:10px;
	cursor:move;
	background-repeat: no-repeat;
	@include border-radius(none);
}

/* %% inside */
.symbols-article-list{ 	@include symbols-sprite(article-list); }
.sort_handle{  		@include symbols-sprite(sort_handle); }
/* %% app-bootstrap */
.searchicon{ 				 	@include symbols-sprite(search); }
.quoted_button{ 		@include symbols-sprite(quote_button); /* %% inside */ }
.clock{ 						@include symbols-sprite(clock-inactive); }
.time_running .clock{ 			@include symbols-sprite(clock); }
.timeentry .billable{ 			@include symbols-sprite(billable); }
.symbols-ac-refreshon{  		@include symbols-sprite(ac-refreshon); }
.symbols-ac-viewingon{  		@include symbols-sprite(ac-viewingon);  }
.symbols-ac-replyon{  			@include symbols-sprite(ac-replyon);  }
.symbols-ac-viewingon-listview{ @include symbols-sprite(ac-viewingon-listview);  }
.symbols-ac-replyon-listview{  	@include symbols-sprite(ac-replyon-listview);  }

 /* %% app-common */
.search-keys li .icon{ @include symbols-sprite(search); }
.view_filters .link-item.active:after{ @include symbols-sprite(arrow-selected-right); }
.ticksymbol{ @include symbols-sprite(selected); }
.fd-menu, .fd-ajaxmenu, #tickets-expanded .fd-menu, #tickets-expanded .fd-ajaxmenu{
	a:hover, a.selected{ @include symbols-sprite(selected-negtive); }
}

#index_refresh_alert .reload_icon{
	background-color: #888;
	/*background: #888 url(/images/ac-refresh-details.png) no-repeat center;*/
	width: 24px;
	height: 20px;
	@include float(right);
	@include padding(6px 7px 2px 10px);
	@include margin(-6px 15px 0px 0px);
	border-radius: 5px;
	&:before{
		content:" ";
		display:inline-block;
		@include symbols-sprite(ac-refresh-details);
		width: 19px;
		height: 16px;
	}
}

.contactdiv:hover{
	#resp-icon.clicked{
		@include symbols-sprite(resp-icon-clicked);
	}
}

.contactdiv{
	#resp-icon.clicked{
		@include symbols-sprite(resp-icon-clicked);
	}
}

.mark_answer{
	@include symbols-sprite(resp-icon-clicked);
}

.unmark_answer{
	@include symbols-sprite(close-delete);
}

.mark_spam{
	@include symbols-sprite(close-delete);
}


// .best-answer{
// 	@include symbols-sprite(best-answer);
// }

.merge_results li #resp-icon.clicked, .match_results li #resp-icon.clicked:hover{@include symbols-sprite(resp-icon-clicked); }
#marker{ @include symbols-sprite(tickUnselect); }
.cont-primary #marker{ @include symbols-sprite(tickSelect); }

.source-badge-wrap .source{
	&.collision_refresh{
		@include symbols-sprite(collision_refresh);
		&.status_4, &.status_5 {
			@include symbols-sprite(collision_refresh_closed);
		}
	}

	span{
		// Email
		&.source_1 { @include symbols-sprite(source-badge-email); }
		// Portal
		&.source_2 { @include symbols-sprite(source-badge-portal); }
		// Phone
		&.source_3 { @include symbols-sprite(source-badge-phone); }
		// Forum
		&.source_4 { @include symbols-sprite(source-badge-forum); }
		// Twitter
		&.source_5 { @include symbols-sprite(source-badge-twitter); }
		// Facebook
		&.source_6 { @include symbols-sprite(source-badge-facebook); }
		// Chat
		&.source_7 { @include symbols-sprite(source-badge-chat); }
		// Mobihelp
		&.source_8 { @include symbols-sprite(source-badge-mobihelp); }
		// feedback widgets
		&.source_9 { @include symbols-sprite(source-badge-feedback_widget); }
	}
}

.request_panel .insert_ca_response { @include symbols-sprite(insert_ca_response); }
.request_panel .insert_solution { @include symbols-sprite(insert_solution); }

/* %% buttons */
.close-button{ @include symbols-sprite(close-delete); }

/* %% form */
.ui-datepicker-trigger{ @include symbols-sprite(calendar); }
.due-date-dialog .right_pointer{ @include symbols-sprite(calender-pointer-right); }
.due-date-dialog .ui-datepicker-prev .ui-icon{ @include symbols-sprite(calender-left); }
.due-date-dialog .ui-datepicker-next .ui-icon{ @include symbols-sprite(calender-right); }

.nav_search .searchIcon{ @include symbols-sprite(search); }
.nav_search .search-icon-inactive{ @include symbols-sprite(search-white); }
.close-img span{ @include symbols-sprite(draft-close); }

.symbol-done-tick{ @include symbols-sprite(done-tick); }


#scroll-to-top { @include symbols-sprite(scroll-to-top); }
