<div class="page-info inline-block"><%=number%> of <%=total%></div>
<div class="page-navigation inline-block">
	<label class="btn btn-prev disabled">
		<span class="arrow-previous"></span>
	</label>
	<label class="btn btn-next">
		<span class="arrow-next"></span>
	</label>
</div>