<div class="row">            
	<div class="span10">
		<div class="page-header">
			<%= link_to('New announcement', new_admin_announcement_path, :class => "btn btn-success pull-right") %>    
			<h1><%= @page_title = 'Announcements' %></h1>
		</div>
		<table id="anouncements" class="table table-bordered">
			<h3 clas="heading">Maintenance Notifications</h3>
			<tr>
				<th>Display between</th>
				<th>Title</th>
			    <th colspan="2">Message</th>
			</tr>
		  	<%= render :partial => "announcement", :collection => @maintenance, :locals => {:type => "maintenance"} %>
		</table>
		
		<table id="anouncements" class="table table-bordered">
			<h3 class="heading">Product Notifications</h3>
			<tr>
				<th>Title</th>
				<th>Url</th>			    
				<th colspan="2">Message</th>
			</tr>
			<%= render :partial => "announcement", :collection => @product , :locals => {:type => "product"}%>
		</table>
	</div>
</div>

