<div class="row">
	<div class="span10">
		 <div class="page-header">
			<h2>New announcement <small>Send a notice message to all Freshdesk accounts</small></h2>
		 </div>
		 <% form_for [:admin, @announcement], :html => {:class => "form-horizontal"} do |f| %>
		 <fieldset>                
			<%= render :partial => "form", :object => f %>
		  <div class="form-actions">
		    <%= f.submit 'Start Showing', :class => "btn btn-primary" %>  
				<%= link_to 'Cancel', admin_subscription_announcements_path, :class => "btn" %>  
		  </div> 
		 </fieldset>
		<% end %> 
	</div>
</div>



