<div id="footer" class="wrapper">  
	<div class="footerContent">
		<%= link_to(t('footer.helpdesk_software'), "http://www.freshdesk.com", :target => "_blank") unless(current_account.subscription.paid_account?) %>
	</div> 
</div>
