<div id="footer" class="wrapper">  
	<div class="footerContent">
	  <% unless(current_account.subscription.paid_account?) %>
		  <%= link_to(t('footer.helpdesk_software'), "http://www.freshdesk.com", :target => "_blank") %>
		  <%= t('footer.by_freshdesk') %>
		<% end %>
	</div> 
</div>
