<div id="footer" class="wrapper">  
	<div class="footerContent">
	  <% unless(current_account.subscription.paid_account?) %>
		  <%= link_to(t('footer.helpdesk_software'), "http://www.freshdesk.com", :target => "_blank") %>
		  <%= t('footer.by_freshdesk') %>
		<% end %>
	</div> 
</div>
<a href="asdsa" id="asdsa">asdsad</a>
<script type="text/javascript">
	(function($){
		$(document).ready(function() {
			$('#asdsa').click(function(ev){
				ev.preventDefault();
				var my_options = {
					width: 600,
					title: "asdsadsadsad",
					text: "asdasdsads",
				};
				console.log('my_options : ');
				console.log(my_options);
				console.log($.freshdialog(my_options));
			});
		});
	})(jQuery)
</script>