		<li><div class="title">Displaying Top 10 results</div></li> 
		<li class="ticket_icon">
			<h4>Tickets</h4>
			<a href="http://google.com"><span class="info">2 days ago</span> #2 Welcome to <span class="match">fresh</span>desk</a>
			<a href="#"><span class="info">2 days ago</span> #1022 <span class="match">Fresh</span>desk API are not working</a>
		</li>
		<li class="contact_icon">
			<h4>Contacts</h4>
			<a href="#"><span class="info">Agent</span> Jason bourn</a>
			<a href="#">Jane doe</a>
		</li>
		<li class="company_icon">
			<h4>Company</h4>
			<a href="#">Freshdesk</a>
		</li>
		<li class="solution_icon">
			<h4>Solutions</h4>
			<a href="#"><span class="match">Fresh</span> solutions for your work</a>
		</li>
		<li class="forum_icon">
			<h4>Forums</h4>
			<a href="#"><span class="match">Fresh</span> discussion of the week</a>
		</li>
		<li>
			<a href="#">See more results for "Search query" &raquo;</a>
		</li>
		<li style="display:none;">
			<div>No Results Found</div>
		</li>