<div id='survey_info'>
  <div> <%= I18n.t('from') %>: <%= @current_account.default_email %> </div>
  <div> <%= fetch_current_time %> </div>
 </div>
<div> <%= I18n.t('support.tickets.ticket_survey.preview_survey') %> </div>
<hr>