<% form_remote_for :time_entry, @time_entry, :url => helpdesk_time_sheet_path, :update => { :success => "timeentry_#{@time_entry.id}" }, :html => { :method => :put, :class => "ui-form" } do |f| %>
  <%= render :partial => "/helpdesk/time_sheets/form", :object => f %>
 	<div class="button-container">
 	  <%= submit_tag "Update", :class => "uiButton special submit", "data-loading-text" => "Saving time entry..." %>
    <%= link_to_function("Cancel", "jQuery('#timeentry_edit_#{@time_entry.id}').empty(); jQuery('#timeentry_view_#{@time_entry.id}').show();", :class => "uiButton" ) %>
 	</div>
<% end %>