<div class="request_panel bullet-arrow" id="add_new_time_entry">
  <% form_remote_for :time_entry, 
                   :url => new_helpdesk_time_sheet_path, 
                   :html => { :id => "add_new_time_entry_form" }, 
                   :complete => "jQuery('#new_time_submit').button('reset');jQuery('#add_new_time_entry_form').get(0).reset()" do |f| %>
      <ul class="ui-form">
      <h4 class="title">New time entry</h4>        
        <li>
          <%= render :partial => "/helpdesk/time_sheets/form", :object => f %>
          <%= hidden_field(:time_entry, :ticket_id , { :value => ticket_id, :id => :time_entry_ticket_id }  )%>                  
        </li>
        <li class="button-container">	  
          <%= link_to "Start timer", "#", :class => "submit uiButton special", "data-loading-text" => "Saving time entry...", :id => "new_time_submit" %>
  	      <%= link_to_function("Cancel", "jQuery('#add_new_time_entry').hide();", :class => "uiButton" ) %>
        </li>
      </ul>
  <% end %>
</div>