<div id="timesheetlist">
	<%= render :partial => "helpdesk/time_sheets/time_entry", :collection => @ticket.time_sheets %>    
</div>		
<div>
	<h3 class="title">Total</h3>
	<%= get_total_time(@ticket.time_sheets)%>
</div>
