<% content_tag :div, :id => "timeentry_add" do %>
  <% remote_form_for :time_entry, 
                   :url => helpdesk_ticket_helpdesk_time_sheets_path(@ticket), 
                   :html => { 
                        :id => "add_new_time_entry", 
                        :class => "timesheet_form",
                        "data-modal-id" => "new_timeentry"
                    } do |f| %>
    <%= hidden_field(:time_entry, :ticket_id , { :value => @ticket.id }  )%>
    <%= render :partial => "/helpdesk/time_sheets/v2/form", :object => f, :locals => { :type => :new } %>
  <% end %>
  <div id="timeentry_apps_add" class="ui-form">   
    <%= render :partial => "/helpdesk/time_sheets/v2/integration" %>
  </div>
<% end %>