
div.setup-widget-wrapper{
	@include margin-left(-20px);
	@include margin-right(-20px);
	margin-bottom: -20px;
	@include box-sizing(border-box);
	@include background(#ebeff0);
	padding:20px;
	-webkit-font-smoothing: antialiased;
	color: #525252;
	.inner-wrapper{
		font-size: 13px;
		height: 120px;
		@include background(#fff);
		border:1px solid #ccc;
		@include box-shadow(0 1px 2px 0 rgba(0, 0, 0, 0.1));
		@include border-radius(5px);
		@include box-sizing(border-box);
		.setup-cols{
			width:33%;
			height:100%;
			@include border-right(1px dashed #d5d5d5);
			&:last-child{
				width:33.8%;
				border:none;
			}
			.info-container{
				padding: 15px 12px;
				height:38%;
				@include background(#f5f5f5);
				line-height: 19px;
				&#sales-manager-info{
					padding: 10px 12px;
					height:47%;
				}
				.sloading{
					height:100%;
					width:100%;
					@include min-height(0px);
				}
				.current-plan-details{
				}
				.expiry-details{
					a#setup-request-trial-extension{
						@include margin-left(2px);
						width:158px;
						height:18px;
						cursor:pointer;
					}
					&.critical{
						#trial-days{
							color:#ec4646;
						}
					}
				}
			}
			.links-container{
				padding:12px;
				height:15%;
				a.feedback-links{
					@include float(left);
					height:18px;
					cursor:pointer;
				}
				a.arrow-border{
					cursor:pointer;
					b{
						@include padding-right(4px);
					}
					&:after{
						content: "";
						display: inline-block;
						border-top: 5px solid transparent;
						@include border-left( 6px solid #999 );
						border-bottom: 5px solid transparent;
						position: relative;
						@include right(0px);
						top: 1px;
					}
				}
				#write-to-us{
					@include padding-right(15px);
					@include border-right(1px solid #d5d5d5);
				}
				#request-demo{
					width: 170px;
					@include padding-left(15px);
					i.ficon-checkmark-thick{
						color: #999;
					}
				}
				&.expanded{
					position: absolute;
					z-index: 1;
					width: 31.8%;
					height: 150px;
					@include border-radius(4px);
					@include box-shadow(0 2px 2px 0 rgba(0, 0, 0, 0.1));
					@include box-sizing(border-box);
				}
				form#setup-widget-feedback{
					display:none;
					textarea{
						height: 60px;
						margin-top: 6px;
					}
				}
				#setup-widget-feedback-thanks{
					height:96%;
					h4{
						padding: 50px;
						font-size:17px;
					}
				}
			}
			.expanded{
				@include background(#fffdf1);
			}
		}
	}
}
.progress-bar-container{
	width:100%;
	.progress{
		width:100%;
		height: 5px;
		background: linear-gradient(to bottom, #fff, #fff);
		border: 1px #e2e2e2 solid;
		@include box-shadow(none);
		margin: 6px 0px;
		.progress-bar{
			height: 100%;
			@include background(rgb(85,85,85));
			border-radius: inherit;
		}
	}
	span#setup-text{
		font-weight: 400;
		color: #333;
		font-size: 13px;
	}
}
.setup-details-wrapper{
	position: fixed;
	top: 0;
	@include right(0);
	width: 405px;
	z-index: 16;
	@include background(#fff);
	height: 100%;
	overflow-y: scroll;
	@include box-shadow (0 0 5px 0 #aaa);
	@include transition(transform .3s);
	@include translateX(600px);
	&.active{
		@include translateX(0);
	}
	div.progress-container{
		width:100%;
		height:75px;
		border-bottom: 1px solid #ddd;
		.progress-percentage{
			width:14%;
			height:71%;
			@include padding(12px 6px 10px 10px);
			.progress-percentage-wrap{
				@include border-radius(50%);
				height:50px;
				width:50px;
				@include background(#555);
				border:3px solid #e7e7e7;
				b{
					@include float(left);
					color: #fff;
					padding-top:31%;
					@include padding-left(26%);
				}
			}
		}
		.progress-bar-container{
			width:77%;
			height:68%;
			@include padding(15px 0px 10px);
			.progress{
				background-image: linear-gradient(to bottom, #e7e7e7, #e7e7e7);
			}
		}
	}
	div.setup-details-container{
		@include background(#f5f5f5);
		ul#setup-details{
			height:100%;
			@include margin-left(37px);
			padding-bottom: 50px;
			li{
				height: 80px;
				width:390px;
				padding-top:10px;
				@include border-left(1px dashed #aaa);
				position:relative;
				.setup-info-wrapper{
					height:100%;
					@include translateX(-29px);
					.setup-icon-container{
						width:10%;
						@include padding(21.5px 10px);
						.setup-icon-wrap{
							height:35px;
							width:35px;
							border: 1px solid #e7e7e7;
							@include border-radius(50%);
							@include background(#fff);
							&.complete{
								@include background(#555);
							}
							.setup-icon{
								position:relative;
								top:7px;
								font-size:21px;
								&.ficon-checkmark-thick, &.ficon-twitter-o{
									top:10px;
									font-size: 16px;
								}
								&.complete{
									color: #fff;
									font-size:13px;
								}
								&.highlight{
									color: #fff;
								}
							}
						}
					}
					.setup-info{
						height:95%;
						width:316px;
						@include margin(0px 10px 0px 3px);
						@include background(#fff);
						border:1px solid #d7d7d7;
						@include border-radius(4px);
						position:relative;
						&:after, &:before {
							@include right(100%);
							top:50%;
							border: solid transparent;
							content: " ";
							height: 0;
							width: 0;
							position: absolute;
							pointer-events: none;
						}
						&:after {
							border-color: rgba(255, 255, 255, 0);
							@include border-right-color(#fff);
							border-width: 7px;
							margin-top: -7px;
						}
						&:before {
							border-color: rgba(51, 51, 51, 0);
							@include border-right-color(#d7d7d7);
							border-width: 8px;
							margin-top: -8px;
						}
						&.complete{
							@include background(transparent);
							&:after{
								@include border-right-color(#f5f5f5);
							}
						}
						&.highlight{
							@include box-shadow(0 1px 2px 1px rgba(0, 0, 0, 0.1));
						}
						.text-wrapper{
							padding: 10px 14px;
							height:74%;
							.setup-title{
								margin-bottom:6px;
								-webkit-font-smoothing: initial;
								font-size:13px;
								color: #333;
								font-weight: 500;
							}
							.setup-desc{
								font-size:12px;	
							}
						}
					}
				}
				&:last-child{
					@include border-left(none);
					&:before{
						content: '';
						position: absolute;
						top:-8px;
						height: 50%;
						@include border-left(1px dashed #aaa);
					}
				}
			}
		}
	}
	#borderLeft {
		@include border-left(2px solid #f51c40);
		position: absolute;
		top: 0%;
		bottom: 50%;
	}
}

