// ------------------------------------------------------------------------------------------------------------
//												 Add Watcher Start 
// ------------------------------------------------------------------------------------------------------------

div.monitor_div{
	display: inline-block;
	zoom: 1;
	*display: block;
	*float: left;
	*width: 43px;
}

div.watchers_tooltip, div.followers_tooltip{
    position: absolute;
    border: 1px solid #aaa;
    @include margin(6px 0 0 -9px);
    @include min-height(84px);
    height: auto;
    width: 275px;
    padding:10px;
    font-size:13px;
    background-color: white;
    @include box-shadow(0 10px 30px -10px rgba(0, 0, 0, 0.4), 0 -2px 0 rgba(0, 0, 0, 0.4));
    @include border-radius(5px);
    z-index: 10000;
    .watcher-close, .follower-close{
    	position: absolute;
	 	@include right(11px);
		@include border-radius(20px);
		background: #666;
		width: 17px;
		height: 16px;
		color: #fff;
		font-weight: bold;
		font-size:16px;
		line-height: 11px;
		@include text-align(center);
		padding-top: 1px;
		cursor: pointer;
    }
    .watcher_label, .follower_label {
        font-size: 16px;
        font-weight: 300;
    }
    #watcherlist, #followerlist{
    	@include clear(both);
    	border: 1px solid #aaa;
  		@include border-radius(0 0 4px 4px);
  		padding: 3px 7px;
  		height: auto;
  		border-top: 0;

    	.agent_name{
	    	max-width: 157px;
			white-space: nowrap;
			overflow: hidden;
			display: inline-block;
			-webkit-text-overflow: ellipsis;
			-moz-text-overflow: ellipsis;
			-ms-text-overflow: ellipsis;
			text-overflow: ellipsis;
    	}
	    	ul{
	    		width: 100%;
	    	}

	    	 li{
		    	width: 100%;
		    }
    }
    .rounded-add-icon{
		position: absolute;
		margin-top: 16px;
		z-index: 9999999;
		margin-left: 5px;
	}
    ul{
    	max-height: 223px;
    	overflow-x: hidden;
    	overflow-y: auto;
    }

    li{
    	display: block;
    	padding: 5px 0;
    	overflow: hidden;
    }

    .add_watcher_text, .view_watcher_text,
    .add_follower_text, .view_follower_text{
        a{
        	color: #369;
        }
    }
    .changing-link{
	    &.add_watcher_text,&.view_watcher_text,
      &.add_follower_text,&.view_follower_text,
      {
			position: absolute;
			top: 23px;
		 @include right(-2px);
			margin-top: -14px;
	        @include margin-right(16px);
	        @include float(right);
	        @include text-align(right);
	        font-size: 13px;
	        width: 100px;
		}
	}

    .link_disabled{
    	opacity: .4;
		color: #3F3F3F;
		cursor: default;
		font-weight: normal;
    }

    .no_watcher_text, .no_follower_text {
        font-size: 13px;
        padding-top: 18px;
        @include text-align(center);
        color: #777;
    }

    .watcher_text, .follower_text{
    	color: #888;
    	font-size:13px;
    	margin-top: 2px;
    }

    .watcher_list, .follower_list{
    	@include float(left);
        padding-top: 4px;
        font-size: 13px;

        b{
        	@include float(left);
        }
    }

    .user_image{
    	@include float(left);
	    .preview_pic{
	        @include margin-right(6px);
	       img{
    			height: 25px;
    			width: 25px;
    			border-radius: 50%;
	        }
	    }
	}

	.unwatch, .unfollow {
		@include float(left);
		margin-top: 4px;
		@include margin-right(5px);
		cursor: pointer;
		img{
			height: 16px;
			width: 16px;
		}
	}

	.arrow-top{
		position: absolute;
	 	@include left(22px);
		top: -12px;
		border-bottom-color: #999;
		border-bottom: 10px solid #999;
		border-width: 10px;
		&:before{
			@include border-left(9px solid transparent);
			border-bottom: 9px solid #999;
			@include border-right(9px solid transparent);
			height: 0;
			width: 0;
			content: " ";
			position: absolute;
			top: 1px;
		 @include left(-9px);
		}
	}

  .arrow-top-right{
    &:before{
     @include left(240px);
    }
  }

	.select_agents{
		@include clear(both);
	}

    .watcher_input, .follower_input{
    	@include margin(10px 0 0 0);
		  width: 100%;
    	.select2-choices{
        @include border-bottom-left-radius(0);
        @include border-bottom-right-radius(0);
    		@include padding-left(20px);
    	}
	}

	div.chzn-container{
		margin: 9px 16px;
	}

	div.ids_chzn{
		width: 245px;
	}

	.add_cancel_buttons{
		@include float(right);
		@include margin-right(-4px);
	}

	.submit_watcher, .submit_follower{
		@include margin-left(2px);
	}
}


.watcher_highlight {
  @include animation(watcher_blink 0.8s ease-out 1);
}

@include keyframes(watcher_blink) {
  0% { background: rgba(#ff0,.8);}
  100% { background: rgba(#ff0,0);}
}

.watcher_remove, .follower_remove {
  @include animation(watcher_rem 0.8s ease-out 1);
}

@include keyframes(watcher_rem) {
  0% { background: rgba(#ff0000,.2);}
  100% { background: rgba(#ff0000,0);}
}
.select-watcher .select2-choices .select2-search-field,
.select-follower .select2-choices .select2-search-field {
  min-width:200px;
  height:auto;
  @include text-align(left);
}


// ------------------------------------------------------------------------------------------------------------
//												  Add Watcher End 