$attachment-viewer-toolbar-height: 50px;

.attachment_list, .ui-form .attachment_list{
	@include no-bullets;
	color:#888987;
	margin-top:3px;
	padding:0;
	@include clearfix;
	.list_element{
		background: rgba(255,255,255,0.4);
		border: 1px #e8e8e8 solid;
		@include border-radius(4px);
		padding: 5px 10px;
		font-size: 12px;
		margin: 5px;
		display: inline-block;
		float: none;
		min-height: 20px;
		height:auto !important;
		width: auto;
		min-width: 180px;
		@include margin-left(0);
		.attachment-type{
			margin: 0;
			padding: 3px 0px;
			width: 25px;
			height: 14px;
			display: inline-block;
			position: relative;
			margin-top: -12px;
			&:before{
				position: absolute;
				content: "";
				width: 30px;
				height: 29px;
				background: inline-image('cdn-ignored/inline-images/page.png') no-repeat #ffffff;
				background-size: 20px 25px;
			}
			img{
				width: 26px;
				height: 30px;
			}
			.file-type{
				position: absolute;
				top: 12px;
				font-size: 8px;
				background-color: #1272de;
				color: white;
				font-weight: 600;
				@include border-radius(2px);
				padding: 2px 2px;
				text-transform: uppercase;
				line-height: 1;
				min-width: 16px;
				text-align: center;
				letter-spacing: -0.01em;
				@include left(3px);
			}
		}
		.file-types-dropbox{
			margin: 0;
			@include padding(3px 0px 3px 25px);
			width: auto;
			height: 13px;
			display: inline-block;
			vertical-align: middle;
			background: inline-image('cdn-ignored/inline-images/dropbox.png') no-repeat #ffffff;
		}
		.file-types-box{
			margin: 0;
			@include padding(3px 0px 3px 25px);
			width: auto;
			height: 20px;
			display: inline-block;
			vertical-align: middle;
			background: inline-image('cdn-ignored/inline-images/box.png') no-repeat #ffffff;
		}
		.file-types-onedrive{
			margin: 0;
			@include padding(3px 0px 3px 25px);
			width: auto;
			height: 13px;
			display: inline-block;
			vertical-align: middle;
			background: inline-image('cdn-ignored/inline-images/onedrive.png') no-repeat #ffffff;
		}
		img.image{
				margin:0;
				width:32px;
				height:32px;
				vertical-align: middle;
		}
		.attach_content{
			display: inline-block;
			vertical-align: middle;
			@include margin-left(10px);
			width: 110px;
			height: 30px;
			.file-size{
				display: block;
			}
		}
		.delete{
			vertical-align: middle;
			&:before{
				content: "\00d7";
				font-size: 20px;
				font-weight: 500;
				color: #999;
			}
		}
		&.hide{
			display: none;
		}

		&.invalid {
			 .file-size {
				color: #D00;
				font-weight: bold;
			}
			.attach_content a {
				color: #CCC;
				text-decoration: line-through;
			}
		}
	}
}
// ------------------------------------------------------------------ //
// 												For Ticket List page											  //
// ------------------------------------------------------------------ //
.ui-form .attachments-wrap{
	.dropdown-menu 
	{
		a{
			padding:3px 3px 3px 15px;
		}
		li{
			padding: 0;
			width: 100%;
		}
	}
}
// ------------------------------------------------------------------ //
// -------------------- NO IMAGE CLASS ------------------------------ //
// ------------------------------------------------------------------ //

@mixin no-image-class($image) {
	background-image: inline-image($image);
	width: image-width($image);
	height: image-height($image);
}

.no-image-placeholder{
	background-repeat: no-repeat;
	@include opacity(0.5);
}

.no-image-attachment{
	background-image: inline-image("cdn-ignored/inline-images/page.png");
	background-size: 20px 25px;
	background-position: 2px 3px;
}

.no-image-logo{
	@include no-image-class("cdn-ignored/inline-images/logo.png");
}

.no-image-favicon{
	@include no-image-class("cdn-ignored/inline-images/favicon-preview.png");
}

// ------------------------------------------------------------------ //
// -------------------- DropBox Style  ------------------------------ //
// ------------------------------------------------------------------ //
.attach-list-wrap{
	position: relative;
	&.tkt-dropbox-atmt {
		.ficon-dropbox {
			left: 8px;
			top: 5px;
		}
	}
	.ficon-dropbox{
		color: #1272de;
		position: absolute;
		@include left(5px);
		top: 3px;
	}
	.ficon-file-edit{
		position: absolute;
		@include left(3px);
		top: 4px;
	}
}

// ------------------------------------------------------------------ //
// -------------------- Attachment Viewer  -------------------------- //
// ------------------------------------------------------------------ //
.attachments-viewer {
	background-color: rgba(200, 200, 200, 0.8);
	position: fixed;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 100;
}

.av-close {
	background-color: #fdfdfd;
	border-radius: 100px;
	box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.05);
	color: black;
	
	padding: 5px 12px;
	position: absolute;
	@include right(10px);
	top: 10px;
	
	cursor: pointer;
	z-index: 1;
}

.av-close:before {
	content: "\00d7";
	white-space: nowrap;
	overflow: hidden;
	display: inline-block;
	font-size: 15px;
	color: #000;
	margin-bottom: -2px;
}

.av-close:hover {
	color: black;
	background-color: #eee;
}

.av-media {
	position: absolute;
	top: 0;
	bottom: $attachment-viewer-toolbar-height;
	width: 100%;
	text-align: center;
}

.av-media:before, .av-cannot-preview:before {
	height: 100%;
	content: '';
	display: inline-block;
	@include margin-right(0.25%);
	vertical-align: middle;
}

.av-media img {
	max-height: 80%;
	max-width: 80%;
	vertical-align: middle;
	// transition: all 0.3s;
	box-shadow: 0 13px 42px 0px rgba(0,0,0,.3);
	display: none;
}

.av-toolbar {
	background-color: white;
	box-shadow: 0 -4px 5px 0 rgba(0, 0, 0, 0.05);
	opacity: 0.9;
	position: absolute;
	width: 100%;
	bottom: 0;
	left: 0;
	height: $attachment-viewer-toolbar-height;
}

.av-toolbar a {
	color: black;
	padding: 17px 10px 18px 10px;
}

.av-toolbar a:hover {
	background-color: rgba(0,0,0,0.1);
}

.av-toolbar-col {
	padding: 17px;
	box-sizing: border-box;
}

.av-toolbar-col:nth-child(2) {
	text-align: center;
}

.av-toolbar-col:last-child {
	@include text-align(right);
}

.av-toolbar-col.span4 {
	width: 25%;
	margin: 0;
}

.av-toolbar-col.span8 {
	width: 50%;
	margin: 0;
}

.av-toolbar-col .disabled{
	opacity: 0.5;
	pointer-events: none;
}

.av-tool-download i{
	font-size: 11px;
}

.av-prev, .av-next {
	cursor: pointer;
	font-size: 20px;
	margin-top: -17px;
	display: inline-block;
}

html[dir="rtl"] .av-prev, html[dir="rtl"] .av-next {
	float: left; // Only need this for rtl so not adding @include
}

// Needed to override the style in realtime_dashboard.scss
html[dir="rtl"] .av-next .ficon-arrow-right:before {
    content: "\f10b" !important;
}

.av-cannot-preview {
	position: absolute;
	top: 0;
	bottom: $attachment-viewer-toolbar-height;
	left: 0;
	width: 100%;
	text-align: center;
}

.av-message {
	display: inline-block;
	padding: 55px;
	text-align: center;
	vertical-align: middle;
	width: 420px;
	height: 240px;
	border-radius: 4px;
	background-color: #ffffff;
	box-shadow: 0 13px 42px 0px rgba(0,0,0,.3);
	box-sizing: border-box;
}

.av-message-icon {
	position: relative;
	display: inline-block;
}

.av-message-icon i {
	font-size: 86px;
	color: #eaeaea;
}

.av-message-icon span {
	background-color: #9b9b9b;
	color: white;
  padding: 5px 9px;
  text-transform: uppercase;
  border-radius: 4px;
  position: absolute;
  bottom: 14px;
  left: -16px;
  border: 5px solid white;
  font-size: 14px;
}

.av-message-text {
	margin: 20px 0;
}
/*over writing for add to reply feature*/ 
.addToRply {
	position: relative;
	display: inline-block;
	overflow: hidden;
	margin-right: 10px;

	.attachment.list_element{
		margin:5px 0;
	}

	.add-attachment-to-conv {
		background: rgba(255,255,255,0.4);
		border: 0px #e8e8e8 solid;
		@include border-radius(4px);
		padding: 0;
        position: absolute;
        top: 5px;
        @include right(0px);
        min-height: 42px;
	    box-sizing: border-box;
	    display: block;
	    @include right(0);
	    width:0;
	    -moz-transition: all 0.1s; 
	    -webkit-transition: all 0.1s; 
    	transition: all 0.1s;
	    span.ficon {
			color: #999;
			line-height: 40px;
			font-size: 20px;
	    }
	}
}

.addToRply:hover {
	.add-attachment-to-conv {
		padding:0 10px;
		width:auto;
		border-width: 1px;
	   }
	}
.inline-add-to-rply-parent {
 position:relative;
 display:inline-block;
	 .inline-add-to-rply {
	 	display: none;
	 }
 &:hover{
 	.inline-add-to-rply {
 		display: inline-block;
 	}
 }
}
.inline-add-to-rply {
	background: white;
	padding: 7px 12px;
	position: absolute;
	border-radius: 50%;   
	box-shadow: 0px 0px 7px rgba(0,0,0,0.8);
	top: 10px;
	@include left(10px);
	cursor:pointer;
	color: black;
	text-decoration: none;
	border-radius: 50%;
	span.ficon-add-attachment,span.ficon-checkmark-thick {
		font-size: 20px;
	}

}
.popover-addToReply-icon {
	font-size: 1.2em;
}


