#bulk{
    top: 2%;
    margin-top: 0;
    .modal-body{
        max-height: 460px;
        padding: 10px 20px;
    }
}

#update-fields{    
    @include padding(10px 0 10px 10px);
    max-height: 124px;
    overflow: auto;
    box-shadow: inset 0 1px 7px rgba(0,0,0,0.1);
    .select2-container{
         width: 208px;
    }
    .level_2, .level_3, .nested-child{
        @include border-left(1px dotted #afafaf);
        @include padding-left(10px);
        .select2-container{
            width: 196px;
        }
    }
    .bulk_add_tags{
        .select2-container{
            width: 640px;
        }
    }
}

.bulktickets{
    .update-check-for-fields{
        @include margin(-2px 4px 0 0);
    }
    #reply-multiple_file{
        line-height: 16px;
    }
    .small_curve{
        @include border-radius(5px);
    }
    .top_spacing{
        margin-top: 10px;
    }
    select{
        width: 180px;
    }
    .fields{
        @include float(left);
        @include margin-left(0) ;
        width: 575px;
    }
    .inline-field{
        width: 100%;
    }
    .field-item{
        @include min-height(50px);
    }
    .label{
        max-height: 18px;
    }
    #bulkreplycheck{
        margin-bottom:0;
    }
    .bulk_add_tags{
      width: 95%;
      padding-bottom: 11px;
    }

    .request_panel .ui-form li.inline-field div.fields, 
    .request_panel .ui-form fieldset div.fields { 
        @include margin-left(0); 
        padding-top: 4px; 
        position: relative; 
    }

    .request_panel { 
        padding: none; 
        border-spacing: 0 0;
    }

    .attachment-options { @include clear(both);}    

    .request_panel .ui-form .request_form_options .insert-canned-response {
        position: relative;
        z-index: 1001;
    }
    .canned-response-menu{
        @include right(-1px);
        z-index: 1000;
        top: -24px;
    }
    .menu-item{
        width: 350px;
        a {
            @include padding-left(20px);
        }
    }
    #reply-multiple-cnt-reply-multiple-body{
        height: 110px;
    }
    #replymultiple{
        margin-bottom: 0;
    }
}
#cnt-reply-multiple{
    .request_form_options { 
        z-index:1000; 
        top:-25px; 
        @include right(0); 
    }

    .slim-button { z-index: 1001;}

    .ui-form li{
        @include padding-left(0);
        @include padding-right(0);
    }
}

#reply-fields{
    padding: 10px 10px 0;
    background-color: #f1f1f1;
    border-top: 1px solid #ccc;
    @include border-radius(0 0 5px 5px);
    overflow-y: auto;
    max-height: 303px;
    .field-item{
      min-height: 0;
    }
}

.field-item{
    display:inline;
    @include float(left);
    width:33%;
    margin-bottom:12px;
    label{
        font-size:13px;
    }
    label.active{
        font-weight:bold;
    }
}

#bulk_canned_response_holder{
    overflow: hidden;
    @include float(left);
    width: 650px;
    min-height: 100px;
    margin-top: 10px;
}

#bulk-response-group{
    overflow: hidden;
    @include float(left);
    width: 650px;
}

#content-bulk{
    min-height: 30px;
    overflow: hidden;
}

#bulktickets{
    border: 1px solid #858585;
    @include border-radius(5px);
    @include float(left);
    width: 667px;
    @include margin-right(32px);
    .bulk-reply{
        background: #fff;
        border: 1px solid #ddd;
        .reply-content-container{
            padding: 0px;
        }
        .attachments-container label{
            font-weight: bold;
        }
        .shared_attachment_list{
            @include padding(5px 10px);
            .item{
                border: 0;
                .attachment-type{
                    @include padding-left(3px);
                }
                a{
                    color: #000;
                    cursor: default;
                }
            }
            span{
                @include float(left);
                word-wrap: break-word;
            }
            .attachment-type {
                @include padding-left(0);
                @include margin-left(-10px);
            }
        }
        .attachments-list-form span{
            @include padding-left(10px);
        }
        li {
            .email-config-from{
                @include float(left);
                padding: 5px 10px;
                font-weight: 500;
            }
            border-bottom: 1px solid #f2f2f2;
            .redactor_box{
                border: 0;
                .redactor_toolbar{
                    background: none;
                }
            }
            .email-config a{
                border: 0;
            }
        }
    }
}

#bulkfull{
    width: 1375px;
    height: auto;
}

#bulkcontent{
    overflow: hidden;
}

#canned_show{
    z-index: 100;
    top: 1px;
    @include right(14px);
}

#no-response{
    z-index: 1000;
    font-size: 13px;
    font-weight: bold;
    @include margin-left(7px);
    cursor: pointer;
    text-decoration: none;
}
