
// ------------------------------------------------------------------------------------------------------------
// 												Admin-canned-response-folders 
// ------------------------------------------------------------------------------------------------------------

.folder_list
{
	width: 40%;
	@include float(left);
}
.newclass
{
	width: 60%;
	@include float(right);
}

.response-list{
	margin-top: 10px;
	border-top: 1px solid #CCC;
	border-bottom: 1px solid #CCC;
	overflow: hidden;
}

.response-li{
		border-bottom: 1px solid #727272;
		overflow: hidden;
		padding-top: 10px;
}

.response-top{
	@include padding(10px 0 10px 10px);
	background-color: #e8e8e8;
}

.response-boxes{
	width: 3%;
	@include float(left);
	@include padding-left(10px);
}

.response-items{
	width: 93%;
	@include float(right);
	@include padding-left(10px);
	padding-bottom: 10px;
}

.list-body {
	@include text-shadow(white 1px 1px 0);
	background: white;
	border: #FFF solid 1px;
	@include border-radius(5px);
}

.list-body-content {
	border: #AAA solid 1px;
	@include border-radius(5px);
	@include box-shadow(0 0 10px rgba(107, 107, 107, 0.4));
}

.list-toolbar{
	background:url('/images/ticket_list_head_bg.png');
	@include padding(5px 8px 8px 10px);
	border-bottom:1px solid #dfdfdf;
}

#list-table [disabled]{
	@include opacity(0.4);
	cursor: default;
	padding: 4px 8px;
	box-shadow: none;
	background: #F5F5F5;
	border-color: #DDD;
	color: #3F3F3F;
	&:hover {
		background: #F5F5F5;
		color: #3F3F3F;
		cursor: default !important;
	}
}

.p-control{
	padding-top: 20px;
	p{
	display: inline;
	font-size: 15px;
	}
}
#folders { 
	width: 100px;
}

#folder_id{
	width:200px;
}

.center{
	@include text-align(center);
}

#new_canned_response_folder .uiButton[disabled]{
	color: #333 !important;
}

#ca_new_menu{
	li.active{
		a{
			color: #333;
			background: none;
		}
	}
}

.spacing_right{
	@include padding-right(10px);
	@include border-right(1px solid #ccc);
}

.spacing_left{
    @include margin-left(10px);
	@include border-left(1px solid #ccc);
}

.create_new_folder{
	text-decoration:none; 
	position:relative; 
	span{ 
		background:none;
		&:before{
			content:"+";
			@include padding-right(3px);
			font-size:22px;
			font-weight:bold;		
			line-height:0;
			position:relative;
			top:1px;
		}
	}	
}

#folder-controls a{
	@include padding-left(10px);
	display: inline-block;
}

#create-folder, #edit-ca-folder, #del{
	cursor: pointer !important;
	color: #333 !important;
}

.ca-page{
	@include float(right);
}

.can-res-menu{
	display: inline;
	cursor: pointer;
	font-size: 15px;
	font-weight: bold;
	@include padding-left(15px);
}

#moves{
	.dialog-special{
		height: 50px;
	}
}
.load{
	min-height: 40px;
	@include margin(0 0 0 0);
}

#folder_edit_form{
	display: none;

	&.shown {
		display: inline-block;
	}
}

.ca-resp-folder-header {
	display: inline-block;
	.dropdown {
		@include float(left);
	}
}

#folders-panel {
	#folder-controls {
		@include float(left);
		visibility: hidden;
		@include opacity(0.8);
	}
}

#edit_form{
	display: inline-block;
	.dialog-special{
		width: 500px;
		padding: 5px;
		height: 50px;
	}

	.uiButton[disabled]{
		color: #333 !important;
	}
}

.can-res-menu::after{
	border-top: 10px solid #888;
	@include border-left(5px solid transparent);
	@include border-right(5px solid transparent);
}

.table-grid table{
	margin-bottom: 0;
}

.folder-editing{
	#create-folder, #del{
		display: none;
	}
}

.response-table{
	@include padding-left(0 !important);
}

.adjust-margin{
	@include margin-right(17px);
}

#folders-panel{
	.fd-ajaxmenu{
		margin-top: 10px;
		@include single-box-shadow( rgba(0, 0, 0, 0.6), 0, 1px, 8px );
		a{
			padding-bottom: 6px;

		}
		.selected-folder{
				@include padding-left(2px);
		}
		&:before{
			content:"";
			position:absolute;
			border-style:solid;
		    border-color:#AAA transparent;
		    display:block; 
		    width:0;
		    top:-6px; 
			bottom:auto;
		 @include left(auto);
		 @include right(123px);
		    border-width:0 6px 6px;
		    z-index:16000;
		}

		&:after{
			content:"";
			position:absolute;
			border-style:solid;
			border-color:#FFF transparent;
		    display:block; 
		    width:0;
		    top:-5px;
			bottom:auto;
		 @include left(auto);
		 @include right(124px);
		    border-width:0 5px 5px;
		    z-index:16001;
		}
	}
}

#move_folder_id{
	display: block;
	@include margin-left(85px);
	min-width: 130px;
	margin-top: 13px;
}

#ca_new_menu .ticksymbol{ 
	@include padding-right(19px);
	@include margin-left(-18px);
}

p.imp{
	color: white;
	background-color: #900;
	@include padding(0 4px 0 6px);
	@include border-radius(10px);
	font-weight: bold;
	margin-bottom: 2px;
	@include margin-right(4px);
	display: inline-block;
}


#canned_table_big tr.odd td{
	background-color: #fbfbfb;
}

#canned_table_big tr.selected_resp td{
	background-color: #F9ECD8;
	border-top: 1px solid white; 
}

.delete-buttons{
	@include margin-left(170px);
	margin-top: 10px;
}

#edit_form #admin_canned_responses_folder_name{
	@include margin-left(5px);
	margin-top: 10px;
	width: 478px;
}

#canned_table_big tr{
	border-top: 1px solid #eee;
	td{ border-top: 1px solid #eee; }
}

#canned_table_big{
	margin-bottom: 0;
}

#responses.table-grid{
	margin: 0;
}

/* end */
// ------------------------------------------------------------------------------------------------------------
// 													canned response ticket view 
// ------------------------------------------------------------------------------------------------------------
.recently_used{
    background: #f3f3f3;
    @include border-right(1px #dbdbdb solid);
    @include float(left);
    font-size: 12px;
    color: #333;
    height: 328px;
    width: 187px;
    @include border-left-radius(5px);
    border: 1px #eaeaea solid;
    .close-dialog{
    	margin-top: 10px;
    }
    display: none;
}

#recently_used_list{
	@include padding-left(10px);
	min-height: 50px;
}

.back1{
	background-color: #fafafa;
	@include border-right-radius(5px);
	border: 1px #eaeaea solid;
	@include margin-right(7px);
}
.recently_used ul li a{
	padding-bottom: 3px;
    color: #333;
    font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
    font-size: 12px;
    display: block;
    #resp-icon{
    	display: block;
    	@include float(left);
    }
    #resp-text{
    	display: block;
    	@include padding-left(27px);
    }
}

.pick-response-outer{
    width: 452px;
    @include float(right);
}



.pick-response-header{
    width: 442px;
    @include padding(15px 0 0 10px);
    @include clear(both);
    display: inline-block;
}


.pick-response-header h3{
    @include float(left);
    width: 220px;
    font-size: 14px;
    margin-top: 3px;
    font-weight: bold;
    margin-bottom: 5px;
}

.canned-icons{
    margin-bottom: 5px;
    position: relative;
    
    input[type="text"]{
    width: 187px;
    @include clear(both);
	@include margin(0 0 3px 0);
	@include padding-right(18px)}
}

.clear-search{
	background: url(/images/close-search.png) no-repeat;
	position: absolute;
	top: 9px;
 @include right(14px);
	display: none;
	@include float(left);
	width: 12px;
	height: 10px;
	background-color: white;
}

#bulk_canned_response_holder #clear-search {
	top: 9px;
 @include right(14px);
}

.canned-icons a{
    @include float(right);
    @include margin-right(10px);
}

#search-list{
	z-index: 100;
	display: none;
	height: 266px;
}

.pick-response{
    width: 432px;
    overflow: hidden;
    background-color: white;
    margin-bottom: 10px;
    height: 266px;
    border: 1px #b7b7b7 solid;
    @include clear(both);
    @include margin-left(10px);
    @include box-shadow(inset 1px 1px 2px #dad9d9);
    @include border-radius(5px);
}

.pick-response ul.small-list-left{
    max-height: 250px;
    @include border-radius(5px 0 0 5px);
    width: 216px;
    @include float(left);
    position: relative;
    overflow-x: hidden;
    overflow-y: auto;
}

.pick-response ul.small-list-left li{
    padding: 0 0;
    @include margin-left(0);
}

.pick-response ul.small-list-left li a{
    width: 202px;
    color: #333;
    font-size: 12px;
    padding: 9px 7px;
    display: inline-block;
}

.over{
	overflow: hidden;
}
.pick-response ul.small-list-left li a:hover{
    background: #dbdbdb;
}

.pick-response ul.small-list-right{
    @include border-radius(0 5px 5px 0);
    max-height: 250px;
    width: 215px;
    @include float(left);
    position: relative;
    overflow-x: hidden;
    overflow-y: auto;
}

.pick-response ul.small-list-right li{
    padding: 2px 2px;
    @include margin-left(0);
    background: none;
    border: none;
    @include padding-left(10px);
    @include float(left);
}

.pick-response ul.small-list-right li span{
    @include float(left);
    top: 0;
}

.pick-response ul.small-list-right li a{
    width: 200px;
    color: #333;
    font-size: 12px;
    @include padding-right(5px);
    margin-top: 6px;
    @include float(left);
    #resp-text{
    	display: block;
    	width: 150px;
    }
}

#resp-icon{
	height: 17px;
	width:17px;
	@include margin-right(10px);
	@include float(left);
}

.pick-response ul.small-list-right li a:hover{ color: #000; }

.pick-response ul.big-list{
    @include border-radius(0 5px 5px 0);
    max-height: 250px;
    width: 425px;
    @include float(left);
    position: relative;
    overflow-x: hidden;
    overflow-y: scroll;
}

.pick-response ul.big-list li{
    padding: 2px 2px;
    @include margin-left(0);
    @include float(left);
}

.pick-response ul.big-list li span{
    @include float(left);
    top: 0;
}

.pick-response ul.big-list li a{
    width: 420px;
    color: #333;
    font-size: 12px;
    padding: 7px 6px;
    @include float(left);
}

.canned-searchbox input[type="text"]{
    display: none;
    width: 45%;
    @include clear(both);
    border: 1px #b7b7b7 solid;
    @include border-radius(5px);
    @include float(left);
}

#canned_response_list{
	@include border-right(1px solid #b7b7b7);
	width: 216px;
	height: 266px;
	@include float(left);
}

.list2{
	width:214px;
	height: 266px;
	@include float(right);
}

.folderSelected{
	font-weight: bold !important;
	background: #9c9c9c !important;
	color: #fff !important;
}

#bulk_canned_response_holder{
	overflow: hidden;
	@include float(left);
	width: 650px;
	min-height: 100px;
	margin-top: 10px;
}

#bulk-response-group{
	overflow: hidden;
	@include float(left);
	width: 650px;
}

#content-bulk{
	min-height: 30px;
	overflow: hidden;
}

#bulktickets{
	@include float(left);
	width: 667px;
	@include margin-right(32px);
	@include margin-left(0);
	@include transition(.3s);
	&.bulk-tickets-animation{
		@include margin-left(-688px);
	}
}

#bulkfull{
width: 1375px;
height: auto;
}

#bulkcontent{
	overflow: hidden;
}

#canned_show{
	z-index: 100;
}

#no-response{
	z-index: 1000;
	font-size: 13px;
	font-weight: bold;
	@include margin-left(7px);
	cursor: pointer;
	text-decoration: none;
}

#search-list{
	.small-list-right{
		width: 100%;
	}

	a{
		width: 400px;
	}
}

.folder-pane{
	.caption{
		display: inline-block;
		width: 62px;
		@include margin-right(140px);
	}
}

#new_folder_id{
	max-width: 120px;
}

#folder-delete{
	.dialog-special{
		padding: 8px 10px;
	}

	p{
		line-height: 17px;
		display: inline;
	}
}

#response_dialog.no_recently_used{

	.pick-response-outer.back1{
		width: 640px;
		@include border-left-radius(5px);
		.pick-response-header{
			.canned-icons{
    		@include float(right);
    		#clear-search{
				 @include right(6px !important);
				}
				#searchbox{
					top: 31px;
				 @include right(22px);	
				}
			}
		}

		#search-list.pick-response{
			width: 619px;
			.small-list-right{
				width: 99%;
			}
		}

		#fold-list{
			width: 622px;
			.list2{
				width: 395px;
				@include float(left);
				.small-list-right{
						width: 394px;
				}
			}
		}

	}

	.pick-response-header{
    	width: 622px;
	}

	.small-list-right{
    width: 394px;
	}
}

#bulk_canned_response_holder{
	.no_recently_used{
		#clear-search{
		 @include right(36px !important);
		}
	}
}

#response_dialog.no_folders{

	#canned_response_list, .small-list-left{
	width: 612px;
	}

	#fold-list{
		background: none;
		border: none;
		@include box-shadow(none);
	}
	.pick-response-header{
		h3{
			display: none;
		}
	}
	#searchbox{
		display: none;
	}
}

.canned_create_folder{
	height: 40px;
	overflow: hidden;
}

.ca-response-move-options {
	.select2-container {
		min-width: 162px;
		float: none;
	}
	.form-horizontal {
		.controls {
			margin-left: 150px;
		} 
		.control-label {
			width: 140px;
		}
	}
}

.personal-separator {
	border-bottom: 1px solid #ccc;
	margin-bottom: 3px;
	padding-bottom: 3px;
}

.folder-dropdown {
	li:first-child {
		@extend .personal-separator;
	}
}

.folder-select {
	.select2-result:first-child {
		@extend .personal-separator;
	}
}
/* end */	