.contact_hover{
  .preview_pic{margin:0;}
	.preview_pic img{
		height:25px;
		width:25px;
    @include border-radius(0);
	}
	.contact-append{
		margin-bottom: 5px;
    margin-left: -35px;
    clear: both;
    color: #333333;
    .add-on, .hover-contact-box{
    	font-size: 12px;
    	display: inline-block;
    	vertical-align: top;
    }
		.add-on{
			text-align:center;
      width: 20px;
      margin-right: 6px;
      padding: 2px;
		} 
		.hover-contact-box{
			color:inherit;
			padding:2px 10px 2px 0;
		}
  }
  .product-email-logo, .product-call, .product-phone{
	 	display: inline-block;
		width: 16px;
		height: 10px;
		position: relative;
		top: 1px;
	}
	.product-twitter{
		display: inline-block;
		width: 13px;
		height: 13px;
		margin-top: -5px;
		position: relative;
		top: 2px;
	}
	.product-call,.product-phone{
		height: 13px;
		margin-top: -2px;
		top: 2px;
		left:2px;
	}
  .user_name{ font-size:1.25em; display: inline-block; font-weight: 200}
  .user_design{
  	margin-bottom:5px;
  	line-height: 1.36;
  	a{ color:#999; }
    a:hover{ color:#336699; }
  }
  .user_phone, .user_mobile, .user_fb, .user_twitter{
    padding: 1px 20px;
    margin: 5px 5px 0 0;
    height: 14px;
    display: inline-block;
    background-color: #ffffff;
  }
  .user_mobile{ margin-left:10px; }
  .user_fb, .user_twitter{ padding: 0 20px; height:11px; }
  .infoblock{ padding-left:35px; }
}

.requester-details .hover-contact-box{
  @include force-wrap;
  _width: 270px;
  max-width: 270px;
}