.contact_hover{
  .preview_pic{margin:0;}
	.preview_pic img{
		height:25px;
		width:25px;
    @include border-radius(5px);
	}
	.contact-append{
		margin-bottom: 5px;
    @include margin-left(-35px);
    @include clear(both);
    color: #333333;
    .add-on, .hover-contact-box{
    	font-size: 12px;
    	display: inline-block;
    	vertical-align: top;
    }
		.add-on{
			@include text-align(center);
      width: 20px;
      @include margin-right(6px);
      padding: 2px;
		} 
		.hover-contact-box{
			color:inherit;
			@include padding(2px 10px 2px 0);
		}
  }
  .product-email-logo, .product-call, .product-phone, .product-twitter{
	 	display: inline-block;
    font-size: 16px;
    color: #6c6c6c;
	}
	.product-twitter{
	   font-size: 13px;
	}
	.product-phone{
		height: 13px;
		margin-top: -2px;
		top: 2px;
	 @include left(2px);
	}
  .user_name{ font-size:1.25em; display: inline-block; font-weight: 200}
  .user_design{
  	margin-bottom:5px;
  	line-height: 1.36;
  	a{ color:#999; }
    a:hover{ color:#336699; }
  }
  .infoblock{ @include padding-left(35px); }
}

.requester-details .hover-contact-box{
  @include force-wrap;
  _width: 270px;
  max-width: 270px;
}