/* styles in here will be used in admin settings of arcade */

/* Sprite sheet creation for badges and trophies */
/*Gamification-Trophy */
@import "cdn-ignored/sprites/trophy/*.png";
$trophy-sprite-dimensions:true;
$trophy-layout:smart;
@include all-trophy-sprites;

/* Gamification-Badges */
/* The badges list is seperated into 2 sprites to optimize loading */
@import "cdn-ignored/sprites/badges/*.png";
$badges-layout:smart;
@include all-badges-sprites;

@import "cdn-ignored/sprites/badges-a/*.png";
$badges-a-layout:smart;
@include all-badges-a-sprites;

.trophy{ @include inline-block; }

.gamesettings .admin_list{ margin: 0 -16px; }

.gamesettings-badges {
	width: 50px;
	height: 50px;
	@include margin-left(-5px);
}

.badge-set{
	cursor: pointer;		
	@include border-radius(6px);
	margin-top: 3px;
	margin-bottom: 3px;
	padding: 6px 0;
	@include min-height(80px);
	&:hover{
		background-color:#efefef;
		@include box-shadow(rgba(0, 0, 0, 0.1) 0 1px 3px inset);
	}
}

.select_badge{
	border: 1px solid #DFDFDF;
	width: 100px;
	@include text-align(center);
	margin: 5px 0;
	background-color: #EFEFEF;
	@include border-radius(6px);
	padding: 3px;
	strong{
		font-size: 11px;
	}
	.gamesettings-badges{
		margin: 0 auto;
	}
}

#selected-badge .gamesettings-badges{
	@include inline-block;
}

#select-badge .gamesettings-badges{
	margin: 0 auto;
} 

.badges {
	@include inline-block;
	width: 50px;
	height: 50px;
	@include margin(-5px 5px 18px 5px);
	@include text-align(center);
	.label.points {
  		position: relative;
  		top:53px;
  	}
}

.badges.center{
	@include margin-left(auto);
	@include margin-right(auto);
} 

.badges.left{
	@include margin(-2px 0 18px -5px);
}

.gamesettings h3{
	color: #333;
	@include margin(0 0 3px 2px);
	font-size: 20px;
}

.gamesettings .gray-box-rounded {

	margin-bottom: 20px;
	min-height: 120px;
	overflow: hidden;
}

.gamesettings .points-box{
	@include margin-right(0);
	overflow: hidden;
}

.gamesettings .points-box h2{
	margin: 10px 0;
	font-size: 16px;
	color: #666;
}

.gamesettings .points li{
	list-style: none;
	@include float(left);
	@include margin-right(0);	
	width: 110px;
	font-size: 11px;
	font-weight: 500;
	color: #333;
	@include padding(0 0 0 0);
}

.gamesettings .error{
   font-size: 11px;
}

.gamesettings .points li > span{
	color: #666;
	font-size: 12px;
}

.gamesettings .trophies li{
	width: 400px;
}

.gamesettings .trophies li h2, 
.gamesettings .quest h2{
	font-weight: bold;
} 

.gamesettings .trophies li h2, 
.gamesettings .trophies li p,
.gamesettings .quest h2, 
.gamesettings .quest p{
	margin: 0 0 3px;
	color: #333;
}

.gamesettings .trophies li.topLeft {
	@include border-right(1px solid #eaeaea);
	border-bottom: 1px solid #eaeaea;
	@include margin-right(0);
	padding: 10px;
}

.gamesettings .trophies li.topRight {
	@include border-left(1px solid #eaeaea);
	border-bottom: 1px solid #eaeaea;
	padding: 10px;
}


.gamesettings .trophies li.bottomLeft{
	border-top: 1px solid #eaeaea;
	@include border-right(1px solid #eaeaea);
	padding: 10px;
	@include margin-right(0);

}

.gamesettings .trophies li.bottomRight {
	@include border-left(1px solid #eaeaea);
	border-top: 1px solid #eaeaea;
	padding: 10px;
}

.gamesettings .quest{
	min-height: 40px;
	margin-bottom: 5px;
	@include padding(20px 50px 20px 20px);
}


.selectgame h2{
	display: inline;
	font-size: 16px;
}

.gamecriteria h2, .gamereward h2, .gamename h2{
  margin: 4px;
  font-size: 16px;
}
.gamecriteria .gray-box-rounded, .gamereward .gray-box-rounded, .gamename  .gray-box-rounded, #select-badge .gray-box-rounded {
	box-sizing: border-box;
	padding: 10px;
	@include border-radius(4px);
	background-color: #f7f7f7;
	margin-bottom: 20px;
	overflow: hidden;
	min-height: 20px;

}

.gray-box-rounded select {
	width: 200px;
	@include margin-right(10px);
} 

.gray-box-rounded .smallinput{
	width: 50px;
	font-size: 14px;
	@include margin-right(10px);
	@include border-radius(4px);
	border: 1px solid #d9d9d9;
}

 
.gamename input[type="text"], .gamename textarea{
	width: 98%;
	padding: 5px;
} 

.badgelist ul{
	overflow: hidden;
}
 .badgelist li{
   @include float(left);
   @include margin(10px 20px 20px 10px);
   @include text-align(center);
   font-weight: bold;
 }

.badgelist li div{
	@include margin-left(5px);
}


/* Reports CSS */
.leaderboard-big{
 	width: 99%;
 	border-collapse: collapse;
 }

.leaderboard-small{
  width: 30%;
  border-collapse: collapse;
  display: inline;
  @include margin-right(3%);
  margin-top: 2%;
  @include float(left);
}

 .leaderboard-big td, .leaderboard-big th, 
 .leaderboard-small td, .leaderboard-small th{
 	padding: 10px;
 	font-family: sans-serif;
 }

.leaderboard-big th{
	background-color: #e5e5e5;

}
 
 .leaderboard-small th{
	background-color: #e5e5e5;
	@include text-align(left);
}
 .alterRow td{
 	background-color: #f6f6f6;
 }

 .up{
 	color: #7ecfd3;
 }

 .down{
 	color: #d68585;
 }

 .leaderboard-small td b{
 	display: block;
 }
li.dashboard-quest-points {
	@include text-align(center);
	margin-top:5px;
	font-weight:bold;
}


.report-nmleft{
	@include margin-left(-20px);
	@include margin-right(-20px);
}

.report-show-more{
	border:1px solid #efefef;
	border-width:2px 0;
	@include text-align(center);
	padding: 8px 0;
	margin:0 -20px; 
	a{
		color: #333;
		font-weight: bold;
	}	
}

.q-report{
	padding-top:1px;
	margin-top: 10px;
	.panel-row{
		@include padding(12px 20px 12px 13px);
		position: relative;
		border-top:0;
		border-bottom:1px solid #E6E6E6;
	}
}

.lb-report{	
	padding-top:1px;
	margin-top: 10px;
	@include pie-clearfix;
	line-height: 18px;
	h3.title{ font-size: 14px; }	
	.intro{
		font-size: 12px;
	}
	.panel-row{
		@include padding(12px 20px 12px 13px);
		position: relative;
		border-top:0;
		@include border-left(7px solid transparent);
		@include min-height(43px);
		.help-text{
			color:#adadad;
		}
	}	
	.panel-row.lb-cu{
		background-color:#f2f9e6;
		@include border-left(7px solid #dbe8c8);
	}
}

.lb-report-title{
	background-color: #e4e4e4;
	border-bottom: 1px solid #fff;
	@include min-height(70px);
}

.lbr-trophy{
	@include float(left);
	@include margin-left(-5px);
	@include margin-right(5px);
	margin-top: 3px;
}

.lb-mvp .lb-report-title{
	background-color: darken(#e4e4e4, 5%);
}

.lb-number{
	background-color: #e4e4e4;
	font-weight: bold;
	font-size: 14px;
	padding:13px 10px;
	line-height: .1em; /* Opera fix */
	@include border-radius(2em);
	@include box-shadow(rgba(0, 0, 0, 0.5) 0 1px 1px inset);
	position: absolute;
 @include left(-50px);
	top: 15px;
}

.lb-sc{
	.lb-report-row, .lb-report-title{
		@include margin-left(1px);
	}		
	.lb-report-title{
		background-color: #efefef;
	}
}

.lb-report-row, .lb-report-title{
	@include padding(6px 9px 3px 15px);
}

.lb-report-col{
	display:inline;
	@include float(left);	
	@include min-height(450px);
	width:24.9%;
	@include border-left(1px solid #d5d5d5);
}

.report-3-col .lb-report-col{
	width: 33.2%;
}

.inactive{
	@include opacity(0.5);
}

.thick-border-top{
	border-top:2px solid #b5b5be;
	border-bottom: 1px solid #dfdfdf;
}

.level-progress{
	border:1px solid #c6c6c6;
	@include border-radius(3px);
	margin-top: 6px;
	padding: 5px 10px;
	position: relative;
	p{
		position: relative;
		z-index: 1;
	}
	.bar{
		position: absolute;
		background-color: #e8f1f4;
		top:0;
	 @include left(0);
		height: 100%; 
		@include border-left-radius(3px);
		z-index: 0;
	}
}

.badge-list{
	@include clearfix;
	.badges{
		@include float(left);
		position: relative;
		@include margin(15px 18px 25px 0);
	}
	.score{
		position: absolute;
		width: 100%;
		@include text-align(center);
		bottom:-18px;
		@include ellipsis;
		color: #666666;
	}
}

.panel-row{
	@include pie-clearfix;
	border-top:1px solid #e6e6e6;
	padding:8px 0;
	.preview_pic{
		padding:2px;
		background:#AFAFAF;
		@include border-radius(3em);
		line-height:0;
	}
	.preview_pic img{
		@include border-radius(2em);
		width:36px;
		height:36px;
	}
	.help-text{
		color:#666;
		font-size:13px;
		line-height: 18px;
	}
	h4{
		font-size:14px;		
		line-height:20px;
		font-weight:bold;
	}
	.panel-content{
		@include padding-left(50px);
	}
	.actions{ display:none; }
	&:hover .actions{ display:block; }
	.toggle-button { @include margin-left(0); }
}

.admin-list .panel-row{ padding: 12px 0; }

.panel-row.odd{
	background-color: #f8f8f8;
}

.panel-row.acheived{
	background-color: #f3f6ee;	
}

.acheived-text{
	color: #4b7200;
	font-weight: bold;
	font-size: 13px;
}

.symbol-done-tick{
	@include inline-block;
	width: 15px; height: 15px;	
}

.leaderboard{
	.lb-report-title{
		border-left: 1px solid #fff;
		margin-left: -1px;
		background-color: #fff;
		.lbr-trophy{
			float: none;
			margin-left: 110px;
		}
		.title{
			text-align: center
		}
	}
	.lb-mvp{
		border: none;
	}
	.nav-tabs{
		margin-right: -20px;
		margin-left: -20px;
		padding-right: 20px;
		padding-left: 20px;
		margin-bottom: 20px;
	}
}