//This file is not used anywhere have to check.
// ------------------------------------------------------------------------------------------------------------
//											 Getting Started page style starts 
// ------------------------------------------------------------------------------------------------------------
.gs .float{
	@include float(left);
}
 
.gs .clear{
	overflow: hidden;
	margin-bottom: 10px;	
	h3.float{
	 margin-top: 10px;
	}
}
 
.gs .positioning{
	position: absolute;
	bottom: 0;
 	@include left(10px);
	width: 100%; 
}
 
.gs .bigbox, .gs .smallbox{

	background: #fff; /* Old browsers */
	background: -moz-linear-gradient(top,  #eee 5%, #fff 25%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(5%,#eee), color-stop(35%,#fff)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #eee 5%,#fff 35%); /* Chrome10+,Safari5+ */
	background: -o-linear-gradient(top,  #eee 5%,#eee 35%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #eee 5%,#fff 35%); /* IE10+ */
	background: linear-gradient(top,  #eee 5%,#fff 35%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#ffffff',GradientType=0 ); /* IE6-8 */
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	-o-border-radius: 6px;
	-ms-border-radius: 6px;
	border-radius: 6px;	
 
	/* useful if you don't want a bg color from leaking outside the border: */
   -moz-background-clip: padding;
   -webkit-background-clip: padding-box;
   background-clip: padding-box;
    @include box-shadow(0 0 5px 1px #ccc);
	font-size: 13px;
	padding: 10px;
	width: 320px;
	margin: 10px;
}
 
.gs h3.title{
	font-size: 1em;
	padding: 4px 0;
	font-weight: normal;
}
 
.gs .bigbox{
	height: 380px;
	position: relative;
	
}
 
.gs .smallbox{
	height: 200px;
	position: relative;
}
 
.gs #social_box{
	margin-top: 20px;
 
}
 
.gs input[type=text], .gs select{
	border: 1px solid #ccc;
	width: 96%;
	font-size: 16px;
	padding: 5px;
}
 
.gs label{
	font-size: 12px;
	display: block;
	margin-bottom: 3px;
	color: #555;
	margin-top: 10px;
	padding: 0;
}
 
.gs samp{
	display: block;
	color: #999;
	font-size: 11px;
}
 
.gs strong{
	font-size: 18px;
}
 
.gs p{
	margin-top: 5px;
	margin-bottom: 15px;
	font-size: 13px;
}
 
	.gs_response p, .gs .gs_request p, .gs .gs_yes p, .gs .gs_no p{
		margin-top: 30px !important;
		font-style: oblique;
		color: #444;
		background-color: infobackground;
		line-height: 18px;
		padding: 6px;
		
	}
	
.gs .spacer{
	margin-top: 10%;
}
 
.gs .color{
	width: 60px !important;
	font-size: 11px !important;
	@include margin-right(10px);
}
.gs .button{
	padding: 2px; 
	width: 60px;
	height: 15px;
	font-weight: bold;
	font-size: 12px;
	@include text-align(center);
	vertical-align: middle;
	-webkit-border-radius: 2px;
	cursor: pointer;
}
 
.gs .mColorPickerTrigger {
	 @include margin(0 10px -3px -10px);
}
 
.gs .mColorPickerTrigger img {
	@include margin(0 0 -3px 3px !important);
}	
	
 
.gs .minifier{
 
	height: 140px;
}
 
.gs .right{
	@include float(right);
	@include margin-right(20px);
}
  
	.gs_update .gs_update,.gs_success .gs_success,.gs_failure .gs_failure{display:block;margin:auto;padding:auto;}
	.gs_update .gs_success,.gs_update .gs_failure,.gs_success .gs_update,.gs_success .gs_failure,.gs_failure .gs_update,.gs_failure .gs_success{display:none;}
	.gs_update{color:#C84B11;}
	.gs_success{color:#288E00;}
	.gs_failure{color:#B10000;}
	.ajx_loading_status,#send_email_content.confirm{
			position: absolute;
			display: none;
			border: 1px solid orange;
			padding: 4px;
			vertical-align: middle;
			background-color: #FCFBE3;
			-webkit-border-radius: 5px;
			-moz-border-radius: 5px;
			height: 20px;
			font-size:14px;
			font-weight: bold;
			@include text-align(center);				
		 	@include left(0); @include right(0);	
			top:0;bottom:0;		
			margin:auto;
			z-index: 100000;
			border-radius: 8px;	
			-moz-border-radius: 8px;	
			-webkit-border-radius: 8px;	
			-ms-border-radius: 8px;		
			-o-border-radius: 8px;	
	}
	#rebrand_box .ajx_loading_status{
		top:150px;
	}
	#email_config_box,#agent_box,#rebrand_box{
		position:relative;
	}
	
	.gs_request,.gs_response,.gs_yes,.gs_no{border:0;padding:0;margin:0;}
	.gs_request .gs_request,.gs_response .gs_response,.gs_yes .gs_yes,.gs_no .gs_no{display:block;}
	.gs_request .gs_response,.gs_request .gs_yes, .gs_request .gs_no,.gs_response .gs_request,.gs_response .gs_yes,.gs_response .gs_no,.gs_yes .gs_request,.gs_yes .gs_response,.gs_yes .gs_no,.gs_no .gs_request,.gs_no .gs_response,.gs_no .gs_yes{display:none;}
	
	#send_email_content{
		padding:auto;		
	}
		
	.gs .productlink{
		font-size:18px;
		text-decoration:underline;
		border: 1px solid #E7E8B6;
		padding: 5px;
		vertical-align: middle;
		background-color: #1B1B1B;
		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
		height: 20px;
		color:#fff;
	}
	.gs .productlink a{
		color:#fff;
	}
	
	.gs_error_highlight{
		border:1px solid red !important;
	}

//--------------------------------------------------------------------------------
//							 Getting Started page style ends   
//--------------------------------------------------------------------------------