.ui-form .textfield.ghostenabled input {
z-index: 100;
width:97%;
position:relative;
background: none;
}
.textfield.ghostenabled{
position:relative;
overflow: hidden;
}		
.ui-form .textfield .ghostwriter_info div {
z-index : 0;
}
.ui-form .textfield .ghostwriter_info {
@include padding(5px 14px 5px 0);
background:white;
z-index:0;
font-size: 14px;
position: relative;
color: #999999;
position: absolute;
@include left(0);
top: 0px;
@include border-radius(5px);
border: 0;
width: 97%;
}
.ui-form .textfield .ghostwriter_hide {
visibility: hidden;
@include padding-left(7px);
@include padding-right(2px)
}
		