// Icons
@import "cdn-ignored/sprites/remote-configurations/*.png";
@include all-remote-configurations-sprites(true);

[class^="remote-configurations-"],
[class*="remote-configurations-"]{
  display:inline-block;
  vertical-align: middle;
}


#integrations-list {
	display:block;
	overflow: hidden;
	margin: ($common-padding) (-$common-padding) 0;

	.search {
		position: relative;
	 @include right(10px);
		top: 0;
	}
	ul.table-list {
		@include margin(15px 0 0 0);
	}

	.tabs {
		margin-bottom: 10px;
		@include padding(2px 9px 0 20px)
	}

	.new_custom_app {
		@include margin-right(10px);
	}
}
//-------------------------------------------------------------------------------------------
//										Jira styles
//-------------------------------------------------------------------------------------------
.jira_sync_settings {
	td {
		vertical-align:middle;
		padding-bottom: 10px;	
		display:inline-block;
		width:47%;
	}
	td.align_width{
		width:100%;
	}
	select {
		margin: 0;

	}
	.toggle-button{
		margin: 0;
	}
}
#jira_widget {
	.content {
		width: 350px;
	}
	@include pie-clearfix;
	.heading {
		margin: 10px 0 0;
		.current_form {
			font-size:14px;
			font-weight:bold;
			color:#000;
		}

		.other_form {
			font-size:12px;
			color:#369;
			cursor: pointer;
		}

		.divider {
			padding:0 15px;
		}
	}

	.ui-form {
		background:none;
		border:none;
		div.field {
			@include float(left);
			margin:5px 0;

			width:100%;

			&.half_width {
				width:45%;
				@include padding(0 5% 0 0);

				&.right {
					@include padding(0 0 0 5%);
				}
			}

		}

		.uiButton[type=submit] {
			margin:15px 0 10px;
			display: block;
		}
	}

	.jira_issue_details {
		font-size:13px;

		#jira-link {
			overflow:hidden;
		border-bottom: dotted 1px #CCC;
			#jira-view {
				@include float(right);
				font-size:10px;
				@include text-align(right);
				width:100px;
			}
		}

		#jira-issue-id {
			font-weight:bold;
		}

		li {
			margin:20px 0;

			label {
				font-size:11px;
				color:#666;
				@include float(left);
				padding:0;
				width: 100px;

				&#jira-link-label {
					margin-bottom:10px;
					width:100%;
				}
			}
		}
	}

}

//-------------------------------------------------------------------------------------------
//									QuickBooks
//-------------------------------------------------------------------------------------------
span.beta {
	font-size: 10px;
	text-transform: uppercase;
	background-color: transparent;
	padding: 2px 5px;
	font-weight: 500;
	border: 1px solid #DDDDDD;
	border-radius: 4px;
	@include margin-left(14px);
}
.quickbooks_c2qb {
	.logo {
		display: block;
    text-align: center;
    margin: 0 auto;
    padding: 20px 0;
    i{
    	@include filter(saturate(0));
    }
	}
  .connect_text {
  	font-size: 13px;
  	line-height: 1.4;
  	font-weight: 400;
  	padding: 10px;
  }
  .quickbooks_connect {
    text-align: center;
    padding-bottom: 20px;
    padding-top: 40px;
  }
}

//-------------------------------------------------------------------------------------------
//									Integration Widget
//-------------------------------------------------------------------------------------------

.integration_widget {
	.content {
		width: 350px;
	}
	@include pie-clearfix;
	.heading {
		margin: 10px 0 0;
		.current_form {
			font-size:14px;
			font-weight:bold;
			color:#000;
		}

		.other_form {
			font-size:12px;
			color:#369;
			cursor: pointer;
		}

		.divider {
			padding:0 15px;
		}
	}

	div.field {
		@include float(left);
		margin:5px 0;
		line-height:18px;

		width:100%;

		&.half_width {
			width:45%;
			@include padding(0 5% 0 0);

			&.right {
				@include padding(0 0 0 5%);
			}
		}
	}

	.uiButton[type=submit] {
		margin:15px 0 10px;
	}

	.ui-form {
		background:none;
		border:none;
	}

	.external_link {
		@include clear(both);
	}

	div.bottom_div{ 
	  height: 1px; 
	  border-bottom: 1px solid #e5e5e5; 
	}

}

//-------------------------------------------------------------------------------------------
//									CRM Contact Widget
//-------------------------------------------------------------------------------------------
.crm_contact_widget {
	.content { width:auto;
		div.field{
			margin: 2px 0;
		}
	}

	.title {
		overflow: hidden;
		padding: 0;
		margin: 0;
		border-bottom: #e5e5e5 solid 1px;

		&.contact-na {
			border-bottom: none;
		}
		
		.name{
			@include padding(7px 0 10px 0);  
			width: 218px;
			min-height:30px;
		}
	
		// background: url(/images/integrations/sugar_icon.png) 0 2px no-repeat;
		// background-position: 223px 7px;
		// background-repeat: no-repeat;
	}

 	.error {
		&.name, &.salesforce-name {
		color: #F00;
		}
 	}

	#multiple-contacts {
		width: 55px;
		@include float(right);
	}
	#contact-name {
		color: #000;
		font-size: 14px;
	}
	
	div.contact-name{
	  width: 210px;
	}
	
	.contact-name > a{
	  width: inherit;
	  overflow: hidden;
	  text-overflow: ellipsis;
	  -o-text-overflow: ellipsis;
	  -moz-text-overflow: ellipsis;
	  -webkit-text-overflow: ellipsis;
	  white-space: nowrap;
	  display: inline-block;
	}

	.contact-location{ 
	  font-size: 8pt; 
	  @include margin-left(5px); 
	  color: #888; 
	  font-weight: 300; 
	} 
	
	
	#contact-desig {
		font-size: 11px;
		font-weight: normal;
	}

	div.field {
		label {
			@include float(left);
			height: inherit;
			width: 65px;
			font-size: 100%;
			font-weight: bold; 
			color: $default_txt_color;
			padding: 0 0;
		}
		div > span {
			@include float(left);
			width: 180px;
			word-wrap: break-word;

			#contact-address{
				display: table;
			}
		}
	}

	#crm-view {
		@include float(right);
		width: auto;
	}

	.contact-type{
		font-size:9px;
		color:#fff;
		text-transform:uppercase; 
		@include text-align(center);
		padding:8px 3px 0;
		line-height:0;
		height:9px;      
		background-color: #0C8AAE;          
		position:absolute;
	  	@include right-pointer-title(#0C8AAE,8px);	      
		@include min-width(48px); 
	 @include right(-4px);	
		top:3px;
	}

	#contact-na {
		padding-top:6px;
		font-weight: normal;
		color:#CCC;

		&.salesforce-name {
			padding-top: 10px;
		}
	}
}
//-------------------------------------------------------------------------------------------
//										Capsule
//-------------------------------------------------------------------------------------------

#capsule-title{
	@include padding-right(33px);
	position:relative;
	margin-bottom:5px;
	.searchicon{
		top:5px;
	}
}
#capsule-note-text{
	height:40px;
  box-sizing: border-box;
}

// --------------------------------------------------------------------------------------------------
//												Screenr
// --------------------------------------------------------------------------------------------------
.screenr-table{
	td{
		@include padding(10px 0 0 0);
	}
}

#screenr-loading{
	display:none;
}

.screenr_button_loader{
	width: 137px;
	height: 22px;
	display: inline-block !important;
}

// --------------------------------------------------------------------------------------------------
//												Custom Widget
// --------------------------------------------------------------------------------------------------

.campaign-details{
	@include margin(8px 0 8px 0);
	.activity{
		@include padding-left(10px);
		@include margin(8px 0 8px 0);
		.action{
			background-color: #DDD;
			font-weight: bold;
			@include border-radius(6px);
			padding: 3px 7px;
			@include margin-right(5px);
			text-transform: capitalize;
		}
	}
	.action_type{
		display: inline-block;
		width: 95px;
	}

	.action-url{
		display: block;
		overflow-x: hidden;
		text-overflow: ellipsis;
		-o-text-overflow: ellipsis;
		-moz-text-overflow: ellipsis;
		-webkit-text-overflow: ellipsis;
		margin: 5px 95px;
		@include padding-left(20px);
		.url-icon {
			font-size: 14px;
			padding-right: 3px;
			color: #999;
		}
	}
	
}

.custom_app_preview_link {
	margin-top:8px;
	width: 300px;
	@include float(right);
	@include text-align(right);

	.toggle_preview {
		background-color: #FFF;
		border: solid 1px #c9c9c9;
		@include box-shadow(#c2c2c2 0 0 2px);
		@include border-radius(5px);
		padding: 5px 10px 7px;
		color: $default_txt_color;
		display: inline-block;
		margin-bottom:5px;

		&.active {
			background-color: #fff5cb;
			@include background-image(repeating-linear-gradient(135deg, transparent, transparent 15px, #FFEEA9 15px, #FFEEA9 30px));
		}

		&:after {
			content: ">";
			font-size:1.2em;
			font-weight:bold;
			display:inline-block;
			@include margin-left(10px);
		}
	}

	span {
		color:#AAA;
	}
}

#sample_preview {
	background:#FFF;
	border: solid 1px #c9c9c9;
	@include box-shadow(#c2c2c2 0 0 6px);
	@include margin(0 10px 10px 0);
	.titlebar {
		font-weight:bold;
		background-color: #fff5cb;
		@include background-image(repeating-linear-gradient(135deg, transparent, transparent 15px, #FFEEA9 15px, #FFEEA9 30px));
		@include padding(10px 5px 10px 15px);
		border-bottom: solid 1px #c9c9c9;
		font-size:13px;
		.preview_link {
			@include float(right);
			width:70px;
			color: #8e6a00;
			@include padding(10px 5px 10px 5px);
			@include text-align(right);
			color:#AAA;
			margin-top:-10px;
			font-weight:normal;
			line-height: 29px;
			.refresh-icon {
				color: #8e6a00;
				font-size: 24px;
				display: inline-block;
				margin-top: 3px;
				line-height: 21px;
			}
		}
	}

	#preview {
		padding:5px;

		.sidepanel {
			border: none;
		}
	}
}
// --------------------------------------------------------------------------------------------------
//												Logmein
// --------------------------------------------------------------------------------------------------
.remote_support{
	.session_data{
		@include text-align(center);
		.pin_submit{
			margin-top: 15px;
		}
		.tech_console{
			margin-top: 5px;
		}	
	}
	.active_header{
		font-weight: bold;
	}
	.active_session_pin{
		border: 1px solid #D4D4D4;
		@include text-align(center);
		margin-top: 5px;
		@include border-radius(4px);
		padding: 15px 10px;
		background-color: #FDF8D8;

		.pincode{
			font-size: 15px;
			font-weight: bold;
		}

	}
	.resend{
		margin-top: 5px;		
	}
	
}

#logmein_widget .error{
	color: red;
}
// --------------------------------------------------------------------------------------------------
//												Email Campaign
// --------------------------------------------------------------------------------------------------
.email-apps .fd-menu{
	margin: 5px -150px;
	li{
		padding: 3px;
	}
}

.email_marketing_apps{
	@include float(right);
	margin: 10px;
}

.email_marketing{
	.cust-added{
		color: #676767;
		font-size: 11px;
		line-height: 3px;
	}
	.contact_title{
		width: 550px;
	}
}

.ui-dialog.email_marketing_widget {
	padding: 8px 20px;
}

.emailCampaigns{
	max-height: 250px;
	overflow-y: auto;
}

.emailCampaigns, .emailLists{
	@include clear(both);
	margin-top: -15px;
	min-height: 90px;
	
	.empty-response{
		color: #A5A5A5;
		font-size: 20px;
		@include text-align(center);
		font-weight: 200;
		padding-top: 30px;
	}
}
.campaigns{
	padding-top: 10px;
	.campaigns-list{
		border: 1px solid #DDD;
		@include border-radius(4px);
		.loading-fb{
			background-position: center;
		}
	}
	.integrations-campaign-image {
		@include padding-right(10px);
	}

	.campaign-activity{
		@include padding-left(10px);
		font-weight: bold;
		border-bottom: 1px solid #DDD;
		background-color: #EEE;
		height: 24px;
		padding-top: 7px;
		.activity-toggle{
			color: black;
			font-weight: bold;
			@include padding-right(8px);
			text-decoration: none;
		}
		&:hover{
			background-color: #DDD;
			cursor: pointer
		}
	}
}
.constantcontact-modal-logo {
		background: url(/images/application-logo/constantcontact.png) right 1px no-repeat;
		background-size: 80px 30px;
		height: 30px;
}
.campaignmonitor-modal-logo {
		background: url(/images/application-logo/campaignmonitor.png) right 1px no-repeat;
		height: 30px;
}
.icontact-modal-logo {
		background: url(/images/application-logo/icontact.png) right 1px no-repeat;
		background-size: 65px 24px;
		height: 30px;
}
.mailchimp-modal-logo {
		background: url(/images/application-logo/mailchimp.png) right 1px no-repeat;
		background-size: 80px 25px;
		height: 30px;
}
.constantcontact-logo {
		background: url(/images/integrations/constantcontact-logo.png) 96% no-repeat !important;
		background-size: 85px, 25px;
}
.campaignmonitor-logo {
		background: url(/images/integrations/campaignmonitor-logo.png) 96% no-repeat !important;
		background-size: 85px, 25px;
}
.icontact-logo {
		background: url(/images/integrations/icontact-logo.png) 96% no-repeat !important;
		background-size: 85px, 25px;
}
.mailchimp-logo {
		background: url(/images/integrations/mailchimp-logo.png) 96% no-repeat !important;
		background-size: 85px, 25px;
}
// --------------------------------------------------------------------------------------------------
//												Rule Constructor
// --------------------------------------------------------------------------------------------------

.rules_wrapper{
	width: 100%;
	display: table;
	background-color: white;
	.rules_list_wrapper{
		display: table-row-group;
	}
	.tabel-thead{
		display: table-header-group;
		background-color: #f3f3f3;
		border-bottom: 1px solid #d2d2d2;
		color: #333;
		font-weight: 500;
	}
	.list{
		display: table-row;
	}
	.overlay{
		background-color: #F7F7F7;
		.list-data{
			border-bottom: 1px solid #ECECEC;
		}
		.remove_list{
			cursor: auto;
			background-color: rgb(174, 174, 174);
		}
		.select2-choice div{
			opacity: 0.5;
		}	
	}
	.list-data{
		.error{
			margin: 0;
			margin-top: -8px;
			margin-left: 10px;
			color: #d00000;
		}
		.header-txt{
			margin: 15px;
		}
		.select2-container{
			display:block !important;
		}
	}
	.add_menu_wrapper{
		display: table-footer-group;
		.list-data{
			border-bottom: 0;
		}
	}

	.delete-btn, .list-data{
		display: table-cell;
		border-bottom: 1px solid #F5F5F5;
		vertical-align: top;
	}

	.list-data:first-child {
		position: relative;
		width: 50px;
		text-align: center;
	}

	.select2-container, .add_list, input {
		margin: 10px;
	}
	.remove_list{
		background: #d30000;

		&:before{
			content: "--";
		}
	}
	.add_img{
		background: green;
		&:before{
			content: "+";
		}
	}
	.list-icon {
		border-radius: 100%;
		color: #fff;
		position: absolute;
		top: 14px;
		right: 10px;
		padding: 2px 7px 4px 5px;
		font-size: 16px;
		font-weight: bold;
		line-height: 14px;
		-webkit-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
		-moz-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
		box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
		letter-spacing: -3px;
		opacity: 0.4;
		cursor: pointer;
	}
	.add_new_list{
		cursor: pointer;
	}
	.empty_list_alert, .prev_empty_notify{
		display: none;
		margin-left: 20px;
		color: rgb(208, 0, 0);
		&.inline{
			display: table-cell;
		}
	}
}


// --------------------------------------------------------------------------------------------------
//												Xero
// --------------------------------------------------------------------------------------------------

.xeroFormBlock{
	#lineitems{
	fieldset{
		padding: 10px;
		.controls{
			margin-left: 0;

		}
		.xero_delete{
			width: 35px;
			padding: 5px;
		}
		.xero_s{
			
		}
		.xero_line{
			display: inline-block;
			float: none;
			height: 30px;
			width: 1px;
			vertical-align: middle;
			margin: 0 5px;
			background: #DAD9D9;
		}
	}
	}
	.inl{
		display: inline-block;
		padding: 5px;
		div{
			width: 100%;
		}
		.required_star{
			@include margin-left(180px);
		}

	}
	.xero-hash-mandatory{
		color: #a2a19f;	
	}
	.xero-hash-mandatory-footer{
		color: #a2a19f;				
		margin-left: 180px;						
	}
	.xero_due_date {
		width: 35%;
	}
	.thirty-percent{
		width: 30%;
	}
	.xero_footer{
		margin-top: 25px;
		padding: 10px;
	}


	.rules_wrapper{ 
		.tabel-thead {
			background: none;
			.list-data{
				&:first-child{
					width:35px;
				}
				p{					
					margin-top: 0;
				}
				.input{
					padding-left: 5px;
				}
				.header-txt{
					margin: 7px 9px;
					  margin-right: 0;
				}
				border-bottom: 1px solid #d8d8d8;
			}
		}
		.overlay{
			background-color: none;
		}
		input {
		  width: 90% !important;
		}		
	}		
	.rules_list_wrapper{
	 	.list{
			&:last-child{
				.list-data{
					border-bottom: 1px solid #ddd;
				}
			}
		}
		.items_dropdown{
			width: 220px;
		}
		.input_text_items{
			width: 220px;
		}
	}
	.add_menu_wrapper{
		.list-data{
			.add_list{
				color: #06c;
	  			font-weight: 500;
			}
		}
	}
	.list .list-data:nth-child(3){
		width: 20% !important;
	}
	.modal-body > .spinner{
		top: 0px !important;
		display: block;
	}
	.modal-body .form-horizontal {
		width: 100%;
		display: block;
	}


}


#xero{
	.xero_ul_sidebar{
		list-style: none;
		border-top: 1px solid #ddd;
		margin-left: 0;
		li{
			padding: 10px 5px;
			border-bottom: 1px solid #ddd;
		}
		#xero_no_contact{
			color: #6F6767;
			padding-top: 10px; 
			text-align: justify;
		}		
	}
	
	.errormsg{
	position: absolute;
	top: 5px;
	right: 0px;
	color: #9B9B9B;
	}
	
	#add_invoice{
		padding: 7px;
		text-align: right;
  		float: right;
  		position: absolute;
  		right: 0px;
  		TOP: 6px;
	}	
	.xero_li_hover{
		display: none;
		padding-right: 15px;
		cursor: pointer;
	}
	.xero_li_hover_delete{
		color: #801414;
		float: right;
		position: absolute;
		cursor: pointer;
		display: none;
		left: 175px;
	}
	.xero_scroll {    
    	.each_invoice{
    		a{
    			&:first-child{
    				font-weight: 500;
    				padding-right: 5px;
    			}

    		}
    		&.cur_ticket{
    			i{
    				color: #06c;
    				padding-right: 5px;
    				font-size: 15px;
    				vertical-align: middle; 
    			}
    		}
    		&.cur_ticket_deleted{
    			i{
    				color: #801414;
    				padding-right: 5px;
    				font-size: 15px;
    				vertical-align: middle; 
    			}
    		}
    		.date-item{
    			padding: 1px 0px 3px;
    		}
    	}
	}
	
	.date-item{
		display: block;
	}
	
	.modal-body{
		.loading-fb {
		background-position: 49% 0% !important;
	  	padding-bottom: 10px;
		}

}

}

#inv_status{
 
	ul{
	margin-top: 7px;
	}
 
	li{
	list-style: disc;
	margin-left: 17px;
	margin-bottom: 2px;
	}
}
