.link_tracker_box {
	background-color: white;
	border:1px solid lightgrey;
	border-radius: 4px;
	margin-bottom: 15px;
  .or {
		background: #F4F1F1;
		border:1px solid lightgrey;
	    padding: 2px 4px 2px 4px;
		border-radius: 50%;
		color: grey
	}
}
.block {
	display: block;
}
