
// ------------------------------------------------------------------------------------------------------------
// 														merge css 
// ------------------------------------------------------------------------------------------------------------
#user-mail{
	width: 200px;
	@include margin-right(80px);
	overflow: hidden;
}

#merge-content{
	overflow-y: scroll;
	@include margin-left(10px);
	max-height: 270px;
}

#contacts-merge{
	overflow-y: scroll;
	max-height: 100px;
	min-width: 400px;
	max-width: 400px;
	@include float(right);
}

.content-merge-adjust{
	@include float(left);
}

#match_results{
	width: 98%;
	min-height: 50px;
	max-height: 210px;
	padding: 1px;
	margin-bottom: 10px;
	overflow-y: scroll;
	border: 1px solid #b7b7b7;
	@include border-radius(4px);
	display: none;
}

#match_results.loading-center{
	height: 142px;
}

.added-contact{
	color: #AAA !important;
	span{
		color: #AAA !important;
	}
}

#mergebox{
	overflow: hidden;
	margin-top: 20px;
	.button-container{
		border-top: 1px solid #cecece;
		width: 100% !important;
		@include margin-left(0px);
		clear: both;
	}
	.search-content{
		width: 300px;
		overflow: hidden;
		@include float(right);
		.searchicon{
			top: 94px;
			@include right(4%);
		}
		.typed{
			top: 94px;
			@include right(4%);
			&:before{
				content: '\00d7';
				font-size: 18px;
				font-weight: bold;
				line-height: 0;
			}
		}
	}
	#results, .merge_results{
		width: 98%;
		min-height: 50px;
		max-height: 210px;
		padding: 1px;
		overflow-y: scroll;
		border: 1px solid #b7b7b7;
		@include border-radius(4px);
		display: none;
		clear: both;
	}
}

#select-user{
	width: 270px;
	@include padding-right(20px);
	margin-top: 3px;
	margin-bottom: 2px;
}

.small-loader{
	background: url(/images/load.gif) no-repeat;
	background-position: center center;
	background-size: 17px 17px;
}

#customers_selector{
	@include float(left);
	@include margin-left(5px);
	display: inline-block;
}

#match_results li{
	border: none;
	background-color: white;
	height: 50px;
	&:hover{
		background-color: #f8f8f8;
		#resp-icon{
			vertical-align: middle;
		}
		#resp-icon.clicked{
			vertical-align: middle;
		}
	}
}

#match_results{
	.autocompletepane{
		position: static;
	}
}

#selected-contacts{
	min-height: 50px;
}

#cont-chosen{
	height: 65px;
	&:hover{
		cursor: pointer;
	}
	#resp-text{
		vertical-align: middle;
		width: 190px;
		@include float(right);
	}
}

.ticketdiv, .contactdiv{
	.item_info{
		color: #333;
		&:hover{
			color: #333;
		}
	}
	#resp-icon{
		vertical-align: middle;
		margin-top: 10px;
	}
	#resp-text{
		vertical-align: middle;
		width: 190px;
		@include float(right);
	}
}

.info_contact_data{
	max-width: 175px;
	overflow: hidden;
	span{
		color: #888;
		font-size: 12px;
		line-height: 15px;
		display: block;
	}
}

.merge-cont{
	@include border-radius(4px);
	border: 1px solid #eeeeee;
	height: 60px;
	margin-top: 2px;
	background-color: white;
}

.content-show{
	margin-bottom: 15px;
}

#contact-area{
	background-color: white;
	#resp-icon{
		margin: 13px 10px;
		&:hover{
			cursor: pointer;
		}
	}
}

.cont-primary{
	border: 1px solid #bdbdbd;
	.primary-marker{
		background-color: #bdbdbd;
	}
	#resp-icon{
		&:hover{
			opacity: 0.5 !important;
			cursor: default !important;
		}
	}
}

.present-contact{
	#contact-area{
		#resp-icon{
			opacity: 0.1 !important;
			cursor: default !important;
		}
		&:hover{
			#resp-icon{
				opacity: 0.1 !important;
				cursor: default !important;
			}
		}
	}
}
.primary-marker{
	background-color: #eeeeee;
	height: 40px;
	padding-top: 20px;
	width: 45px;
	@include float(left);
	@include border-left-radius(4px);
	&:hover{
		cursor: pointer;
	}
}

#marker{
	@include padding-right(17px);
	@include margin-left(12px);
}

#user-contact{
	@include margin-left(10px);
	margin-top: 8px;
	div.preview_pic{
		position: static;
		border: 2px solid #CCC;
		@include border-radius(100%);
		width: 30px;
		height: 30px;
		img{
			@include border-radius(100%);     
			width: 30px;
			height: 30px;
		}
	}
}

#mergebox_confirm
{
	overflow: hidden;
	.button-container{
		border-top: 1px solid #cecece;
		@include margin-left(10px);
		clear: both;
	}
	.info-text{
		@include float(right);
		background-color: #fffcdb;
		@include margin(14px 10px 30px 0);
		width: 240px;
		min-height: 200px;
		@include padding(15px);
		line-height: 17px;
		border: 1px solid #eeeeee;
		color: #333333;
		font-size: 12px;
		@include border-radius(4px);
		h3{
			display: block;
			font-weight: bold;
			font-size: 12px;
		}
	}
}

.contact-special{
	@include float(left);
	width: 340px;
	@include margin-left(10px);
	max-height: 300px;
	overflow-y: scroll;
	margin-bottom: 30px; 
}

#primary-contact{
	background-color: #f8f8f8;
	height: 60px;
	vertical-align: middle;
	border: 1px solid #eeeeee;
	@include border-radius(4px);
}

.line{
	width: 31px;
	border-top: 1px solid #b7b7b7;
	height: 1px;
	@include float(left);
	margin-top: 30px;
}

#one-contact{
	.last-line{
		z-index: 1001;
		@include margin-left(-9px);
		height: 30px;
		margin-top: 40px;
		width: 25px;
		@include border-left(15px solid #ffffff);
	}
}

#one-contact{
	height: 60px;
	#contact-area{
		@include float(right);
		width: 89%;
		height: 60px;
		vertical-align: middle;
		border: 1px solid #eeeeee;
		@include border-radius(4px);
		@include margin(2px 0 0 0);
		#resp-icon{
			margin-top: 20px;
		}
	}
}

#merge-ready{
	@include border-left(1px solid #b7b7b7);
	@include margin-left(20px);
	padding-top: 15px;
}

#back-user-merge{
	@include float(left);
}

#avatar_image{
	display: inline-block;
	vertical-align: middle;
	position: static;
}

#user_info_item{
	display: inline-block;
	vertical-align: middle;
}

#pic{ vertical-align: middle; }

.cont-primary{
	border: 1px solid #bdbdbd;
	.primary-marker{
		background-color: #bdbdbd;
		&:hover{ cursor:pointer; }
	}	
	#resp-icon{
		opacity: 0.1 !important;
		&:hover{
			opacity: 0.1 !important;
			cursor: default !important;
		}
	}
}

#mergeboxconfirm{
	.button-container{
		border-top: 1px solid #cecece;
		@include margin-left(10px);
		clear: both;
	}
}

#results li, .merge_results .autocompletepane li, .merge_results .autocompletepane li.selected{
	border: none;
	background-color: white;
	height: 50px;
	&:hover{
		background-color: #f8f8f8;
		#resp-icon{ vertical-align: middle; }
	}
}

/* end */

// ------------------------------------------------------------------------------------------------------------
// 														ticket merge css 
// ------------------------------------------------------------------------------------------------------------

.ticket-merge, .topic-merge{
	overflow: hidden;
	.merge-ticket-info, .merge-topic-info{
		font-size:11px;
	}
	.ok{
		font-weight: bold;
	}
	.divide{
		clear: both;
		width: 97%;
		@include margin-left(10px);
		margin: 0 0 0 10px;
		height: 1px;
		background: #ccc;
	}
	.contact-special{
		width: 48.2%;
	}
	#bulk-merge-button-container{
		padding-bottom: 8px;
		border:none;
	}
	#bulk_merge_tickets{
		margin-bottom: 0;
	}
	#bulk_merge{
		@include margin-right(10px);
	}
	.private-note{
		font-size: 12px;
	}
	#complete_merge_tickets{
		margin-bottom: 0 !important;
	}
	.merge_links{
		text-decoration: none !important;
	}
	.search_merge{
		width: 89%;
		@include padding-right(20px);
	}
	#merge-ticket, .merge-topic{
		margin-top: 5px;
		@include margin-left(10px);
		a.item_info{
			max-width:78%;
			white-space: nowrap;
			overflow: hidden;
			display: block;
			-webkit-text-overflow: ellipsis;
			-moz-text-overflow: ellipsis;
			-ms-text-overflow: ellipsis;
			text-overflow: ellipsis;
		}
	}
	#mergeboxconfirm{
		form{
			margin:0;
		}
		#merge-ticket{
			margin-top: 7px;
			a.item_info{
				max-width:98%;
			}
		}
		.button-container{
			border:none;
			@include margin(3px 0 0 17px);
		}
	}
	.merge-sub-title{
		@include margin-left(9px);
	}
	.search-item{
		@include float(left);
		width:auto;
		@include padding-right(30px);
		label{
			margin-bottom: 0;
		}
		input{
			margin-top: 0;
		}
	}
	.primary-marker{
		height: 33px;
	}
	.merge-cont{
		height: 53px;
		width: 325px;
		text-overflow: ellipsis;
	}
	.merge_results{
		width:97.4%;
		max-height: 327px;
		clear:both;
		.autocompletepane li{
			height:48px;
		}
	}
	#mergebox{
		.search-content{
			width: 355px;
			@include padding-right(5px);
			margin-top: 2px;
			margin-bottom: 10px;
			.typed{
				@include right(11px !important);
				top: 35px !important;
			}
			.searchicon{
				@include right(10px);
				top: 6px;
				height: 14px;
			}
			#search-type{
				width: auto;
				height: 26px;
				@include float(left);
			}
			.searchticket{
				position: relative;
				display: block;
				width: 68%;
				@include float(right);
				@include margin-right(8px);
			}
			.display_id, .subject{
				display: none;
			}
		}
	}

	.ticketdiv, .contactdiv{
		#merge-ticket, .merge-topic{
			margin-top: 2px;
			span.item_info{
				max-width:98%;
				overflow: hidden;
				text-overflow: ellipsis;
				display: block;
			}
		}
	}
	li.clicked{
		cursor: default;
		.item_info{
			color: #999;
		}
	}
	#select-user{
		width: 309px;
	}
	.search-icon{
		@include right(40px);
	}
	.info-data{
		line-height: 14px;
		padding-bottom: 2px;
	}
	#resp-icon{
		margin-top: 14px;
		margin-bottom: 14px;
	}
	#mergebox{
		margin-top: 10px;
	}
	.merge-info-text{
		@include float(left);
		width: 48%;
		height: auto;
		@include padding-left(11px);
		padding-bottom: 12px;
		.source-target-note{
			width: 98%;
			height : auto;
			background: #e9e9e9;
			margin-top: 14px;
			@include border-radius(5px);
		}
		.content-note{
			line-height: 30px;
			padding: 7px 0;
			position: relative;
		}
		.default-note-text{
			
		}
		#edit-target, #edit-source{
			@include margin-right(4px);
			&:hover{
				cursor: pointer;
			}
		}
		.redactor_box{
			margin-top: 10px;
			width: 96%;
		}
		.redactor_toolbar{
			width: 98.9% !important;
		}
		.target-source-text{
			height: 93px;
		}
		.note-button-container{
			padding: 6px 0 6px 0;
		}
		.merge-left{
			@include border-right-color(#E9E9E9);
			@include right(1.65em);
		}
		#target-note-content{
			@include padding(0 0 0 12px);
			margin-top: -5px;
		}
		.source-note{
			margin-top: 36px;
		}
		.note-button-container-test{
			@include padding-right(1px);
			position:absolute; 
			top:6px;
			@include right(13px);
		}
	}
}

// ------------------------------------------------------------------------------------------------------------
// 														topic merge css (to override ticket merge css) 
// ------------------------------------------------------------------------------------------------------------
.topic-merge{
	.merge-cont{
		width: 350px;
	}
	.merge-topic{
		a.item_info{
			max-width: 98%;
		}
	}
	.note-height-adjust{
		.source-note{
			margin-top: 16px;
			.arrow-left{
				top: 90px;
			}
		}
	}
	.search_merge{
		width: 335px;
		@include padding-right(26px);
	}
	#mergebox{
		.search-content{
	    	position: relative;
			width: 370px;
			margin-top: -3px;
			.searchicon{
			 	top: 10px;
				@include right(15px);

			}
		}
	}
}
.target-topic-merge-note{
	height: 60px;
}
.visible-merge-note{
	font-size: 13px;
	margin-top: -4px;
	background-color: #FFFDEC;
	@include padding(9px 0px 8px 9px);
	position: relative;
	z-index: 1;
	top: 4px;
	width: 96.1%;
	border: 1px solid #b7b7b7;
	@include border-radius(3px 3px 0 0);
}


// ------------------------------------------------------------------------------------------------------------
// 														Email notification css 
// ------------------------------------------------------------------------------------------------------------

.email-notification{
	.event-name{
		@include margin-left(5px);
	}
}
.common-icon-outdated{
	display:inline-block;
	@include margin-left(0);
	@include margin-right(3px);
	margin-top: -8px;
	vertical-align: middle;
	font-size: 21px;
	color: #9d0e10;
}

.list-page.email-notification-edit{
	.email-notification-footer{
		margin-top: 15px;
	}
	.notify-agent-name{
		label{
			@include border-radius(10px);
			background: #F2F2F2;
			border: 1px solid #CCC;
			display: inline-block;
			@include margin-right(5px);
			padding: 2px 9px;
			@include box-shadow(0 0 0 #CCC);
			@include text-shadow(1px 1px 1px #FFF);
			&:last-child{@include margin-right(20px);}
		}
	}
	.tabs{
		margin-top:20px;
		margin-bottom:0;
		@include padding-right(0);
	}
	.nav-tabs > li > a{
		padding-top: 7px;
		padding-bottom: 7px;
		@include padding-right(10px);
		@include padding-left(10px);

	}
	 .tab-content{
	 	margin-top:10px;
	 }
	.list-page-body {
		border: 1px solid #CCC;
		border-top:0;
		@include border-top-left-radius(0);
		@include border-top-right-radius(0);
		padding:15px;
	}
	.notification-icon{
		display: inline-block;
		vertical-align: top;
		@include margin-right(5px);
		@include margin-left(-6px);
	}
	.notification-message{
		display: inline-block;
		vertical-align: top;
		margin-bottom: 20px;
	}
	.default-lang{
		@include float(right);
		padding-top:10px;
		vertical-align: baseline;
	}
	.reset_template{
		display: block;
		margin-top: 5px;
	}
	.email-notification-subject{
		@include padding-right(1%);
	}
	.default-lang-text{
		position: relative;
		@include right(10px);
	}
	.default-lang-wrapper{
		@include text-align(left);
		border: 1px solid #8d8d8d;
		@include border-radius(5px);
		position: absolute;
		@include left(100%);
		top: 40px;
		width:300px;
		height:460px;
		background: #ececec;
		z-index: 999;
		padding: 15px;
		@include box-shadow(0 0 16px #CCC);
		.default-lang-content{
			background: #fff;
			border:1px solid #c6c6c6;
			@include border-radius(5px);
			overflow-y: scroll;
			height: 94%;
			padding: 12px;
			@include box-shadow(inset 0 0 5px #CCC);
		}
		&:after, &:before {
			@include right(100%);
			border: solid transparent;
			content: " ";
			height: 0;
			width: 0;
			position: absolute;
			pointer-events: none;
		}

		&:after {
			border-color: rgba(236, 236, 236, 0);
			@include border-right-color(#ececec);
			border-width: 9px;
			top: 42px;
			margin-top: -9px;
		}
		&:before {
			border-color: rgba(141, 141, 141, 0);
			@include border-right-color(#555);
			border-width: 10px;
			top: 22px;
			margin-top: 10px;
		}
	}
}
