%cb{
        content: "";
        display: table;
        clear: both;
    }
  %animatebg{
    @include transition (background-color 200ms cubic-bezier(0.65, 0.05, 0.36, 1));
  }
  %ellipsis {
  white-space: nowrap;
  overflow: hidden;
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  -moz-binding: url(/assets/xml/ellipsis.xml#ellipsis.css);
}

  .tickets-title{
      width: 100%;
        margin: 0 -20px;
        padding: 0 20px;
        &:after{
          @extend %cb;
        }
        .btn-toolbar {
          margin: 0;
        }
        &.is_stuck{
          @include box-shadow(0 2px 4px rgba(63,63,63,0.1));
           background-color: #fff;
           padding-top:10px;
        }
    }

  .company_field{
    width: 19%;
    @include padding(2px 0px 0px 9px);
    border-left: 1px dotted #333;
  }

  /*Compose new ticket!!*/
  .compose-new-ticket{
    margin-top: 20px;
    li{
          list-style-type: none;
          &.dropdown_blank, &.nested_field{
                position: relative;
          }
    }
      li.field{
        @include margin(0 -20px);
            &:after{
                   @extend %cb;
            }
            label.error{
                clear: both;
                padding-top: 5px;
                display: block;
            }
            &.hidden{
                  position: absolute;
                  left: -999em;
            }
            .requester-email, .cc-address {
                  @include padding (10px 20px);
                  @extend %animatebg;
                  &:hover{
                      @extend %animatebg;
                        background: #f5f5f5;;
                  }
            }
            .checkbox-wrapper{
              padding-top: 8px;
            }
            label.error{
              @include padding-left(20%);
            }
            .cc-address{
                  position: relative;
                  &:after{
                    @extend %cb;
                  }
                  .cc-error-message {
                    float: left;
                    line-height: 1;
                    margin: 10px 0 10px 20%;
                  }
            }
            .hide-cc-label{
                 @include transition (all 200ms cubic-bezier(0.65, 0.05, 0.36, 1));
                  color: #0063cf;
                  position: absolute;
                  cursor: pointer;
                  @include right (30px) ;
                  top: 18px;
            }
            .input-date-field{
              @include float (left );
               width: 300px;
                  input.date{
                    width: 100%;
                  }
                  label.error{
                      width: auto;
                      @include padding-left(0);
                  }
            }
      }
       li.field:not(.default_requester):not(.nested_field){
          @include padding (10px 20px 8px);
          @extend %animatebg;
           &:hover{
              @extend %animatebg;
                background-color: #f5f5f5;;
            }
       }
      span:not(.required_star), .add_requester_button{
        font-weight: normal;
      }
      .requester-details{
        position: relative;
        input.requester{
          @include padding-right(170px);
          &:focus{
                @include border-radius( 4px );
          }
        }
        .requester-email, .cc-address{
          &:after{
              @extend %cb;
          }
        }
        label.error{
          @include padding ( 5px 0 0 );
          width: auto !important;
          clear: both;
        }
        .add-requester{
            position: absolute;
            top: 18px;
            @include right (25px );
            span{
                @include padding( 0 7px);
                color: #0063cf;
                cursor: pointer;
                &.muted{
                      color: #999;
                }
            }
            .cc-label{
              @include border-left (1px solid #d9d9d9);
            }
        }
        .cc-address{
              @include padding (20px 0 0);
        }
        .multi_value_field{
                @include box-shadow( 0 4px 5px -4px #CCC inset);
                border-radius: 3px;
                width: 80%;
                @include float (left);
                @include box-sizing ( border-box );
        }
        .autocomplete{
          ul{
            border: 1px solid rgba(82, 168, 236, 0.8);
            border-top: none;
            box-shadow: 0 4px 5px rgba(0, 0, 0, 0.15);
            background-color: #fff;
            border-radius: 0 0 5px 5px;
            top: -3px;
            box-sizing: border-box;
            li{
              background: none;
              border: none;
              font-size: 13px;
              &.selected{
                 @include padding( 5px 10px );
                  background: #3875d7;
                  color: #fff;
              }
            }
          }
        }
      }
      .field:not(.checkbox){
        label:not(.error){
              width: 20%;
              margin-top: 8px;
               @include float(left);
        }
        input:not(.original_input){
             height: 30px;
        }
        .multi_value_field input{
              height: auto;
        }
        input:not(.original_input), .redactor_wrapper, textarea{
              @include margin(0);
              width: 80%;
              @include box-sizing(border-box);
               @include float(left);
               .redactor_editor{
                height: 250px !important;
                li{
                 list-style: inherit;
                }
               }
               .error{
                @include padding-left(10px);
                width: auto;
               }
               /*Changed as per review comments from bharath*/
               &.paragraph{
                height: 100px;
               }
        }
        .redactor_wrapper{
               .redactor_box{
                    border-bottom: 0;
               }
               .attachment-wrapper{
                    border: 1px solid #c6c6c6;
                    margin-top: -2px;
                    background-color: #fafafa;
                    border-radius: 0px 0px 5px 5px;
                    padding: 10px 0;
                    .attachment-type{
                          @include padding-left(0);
                          a{
                            color: #666;
                            cursor: default;
                          }
                    }
                    .item{
                          @include margin-left( 6px );
                           @include padding( 8px);
                           .attachment-type {
                                width: 250px;
                            @extend %ellipsis;
                           }
                    }
                    .a-count{
                      @include padding-left(5px);
                    }
                    .span8{
                      width: 100%;
                    }
                    .add_attachment{
                      top: 18px;
                    }
                    .attach-link{
                          @include padding (7px 0 14px 12px );
                          display: inline-block;
                    }
                    .invalid_attachment {
                            text-decoration: none;
                            a{
                                text-decoration: line-through;
                            }
                    }
               }
        }
        .select2:not(select), .select2-container{
            margin-bottom: 5px;
              width: 300px;
              @include box-sizing(border-box);
              @include float(left);
        }
      }
      .custom_checkbox{
        .checkbox{
          @include margin(0 10px 0 20%);
        }
      }
      .field.nested_field{
        & > label, & > .select2{
              margin-bottom: 10px;
        }
        .main_field{
            @include padding(10px 20px 8px);
            @extend %animatebg;
              &:after{
                  @extend %cb;
              }
              &:hover{
                  @extend %animatebg;
                      background: #f5f5f5;;
              }
        }
        .level_2, .level_3{
          @extend %cb;
          @include padding(10px 20px 8px);
          position: relative;
          width: 100%;
          @include box-sizing(border-box);
          @include border-left(none);
          @extend %animatebg;
          &:before{
                  content: "";
                  display: block;
                  position: absolute;
                  top: 0;
                  width: 1px;
                 @include border-left(1px dotted #afafaf);
                  height: 100%;
          }
          label{
                /*text-indent: 10px; */
                @include box-sizing (border-box);
                @include padding-left (10px);
          }
          &:hover{
                  background: #f5f5f5;;
                    @extend %animatebg;
          }
        }
      }
  }

  /*Add new requester form*/
  .add-requester-form{
      :after{
        @extend %cb;
      }
        li{
          @include padding(7px 0);
          &:after{
           @extend %cb;
          }
        }
    label{
        width: 20%;
        padding-top: 6px;
        @include float( left );
        @include box-sizing(border-box)
    }
    label.error{
      width: auto;
      @include padding-left(20%);
    }
    input{
         width: 80%;
         height: 30px;
         @include box-sizing(border-box);
         @include margin(0);
         @include float( left );
    }
    .button-container {
      overflow: visible;
    }
  }



  /**************************/
  /*Compose new ticket styles*/

  .dropdown-menu.new-ticket-dropdown{
      li.active > a {
                background-color: #fff;
                background-image: none;
                color: #333;
      }
      li.active > a:hover{
        background-color: #999;
        color: #fff;
      }
}
.dropdown-menu.new-ticket-dropdown li a {
      padding: 7px 14px;
  }

.dropdown-menu.new-ticket-dropdown {
    top: 38px;
    left: -50px;
    border-radius: 4px;
    min-width: 120px;
  }
.compose-new-email{
  .tickets-title{
    margin: 0px -20px;
    padding: 0 20px;
    &.is_stuck{
      @include box-shadow(0 2px 4px rgba(63, 63, 63, 0.1));
       padding-top: 12px;
       background-color: #fff;
    }
    .btn-cancel{
      @include margin-right ( 5px );
    }
    .btn-send{
      display: inline-block;
    }
  }
  .notice{
        @include margin (0 0 20px 0) ;
  }
  .address-details{
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 15px;
    .details-widget{
      min-height: 40px;
      line-height: 40px;
      @include box-sizing(border-box);
      @include padding( 0 15px);
      position: relative;
        &:after{
             @extend %cb;
        }
      label.error{
        @include padding-left (50px);
      }
      &.light-border{
        border-bottom: 1px solid #f3f3f3;
      }
      .show-cc{
        top: 0;
      }
      .show-cc, .hide-cc{
          position: absolute;
         @include right ( 8px );
          color: #06c;
          cursor: pointer;
          &.muted {
                 color: #999;
          }
      }
      .cc-error-message {
        @include float (left);
        line-height: 1;
        margin: 10px 0 10px 64px;
      }

      .inline-label{
        color: #1f1010;
        font-weight: bold;
        font-size: 13px;
        display: inline-block;
        /*chinese translation issue fix - 14889*/
        width: 60px;
        padding-top: 12px;
        @include float(left);
      }
      input{
        @include padding-left(0);
        @include box-shadow(none);
        width: 500px;
        border: none;
        box-shadow: none;
        margin: 0;
      }
      .from_address_wrapper, .multi_value_field{
            width: 80%;
            margin-top: 6px;
            @include float (left);

      }
      .from_address_wrapper{
        margin-top: 8px;
      }
      .multi_value_field{
         border: none;
        .search_field_item input{
              width: 100%;
              &:focus{
                @include box-shadow(inset 0 1px 1px rgba(0,0,0,0.075),0 0 6px rgba(82,168,236,0.3) !important);
              }
        }
      }

    }
    .cc-email{
      margin-bottom: 2px;
    }
    .requester-email{
            label.error{
              clear: both;
            }
              .select2-container{
                      width: 400px;
                      .select2-choice{
                              @include box-shadow(none);
                              border: 0;
                              @include padding-left( 0 );
                      }
                      &.select2-dropdown-open{
                        .select2-choice{
                              @include background( none );

                        }
                      }
              }
        }
  }
  .ticket-details{
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 10px;
    position: relative;
    .ticket-subject{
      margin: 0;
      border: none;
      @include box-shadow (none);
      height: 35px;
      &:focus{
        border: none;
      }
    }
    .error{
      @include padding-left (8px);
    }
    /*Custom redaactor configuration for redactor*/
    .redactor_box{
      border-radius: 0;
      border-width: 0;
      margin: 0 !important;
      .redactor_toolbar{
        background: #fff;
        border-top: 1px solid #eee;
        border-radius: 0;
        @box-shadow (none);
          border-bottom: 0;
          .redactor_separator{
              border: none;
          }
      }
    }
    .attachment-wrapper{
      .span8{
        width: 100%;
      }
      @include padding ( 7px 0 );
      border-radius: 0 0px 5px 5px;
      border-top: 1px solid #f3f3f3;
      background-color: #fdfdfd;
            .invalid_attachment {
                            text-decoration: none;
                            a{
                                text-decoration: line-through;
                            }
                    }
    .item{
            @include padding( 8px );
            @include margin-left ( 5px );
            &:last-child{
              margin-bottom: 8px;
            }
      }
      .attachment-type{
        @extend %ellipsis;
        width: 250px;
        @include padding-left ( 0 );
        a{
          color: #666;
          cursor: default;
        }
      }
      .attach-link{
            display: inline-block;
            @include padding( 6px 0 6px 10px );
      }
    }
  }
  .compose-new-ticket{
    .lead{
      margin-bottom: 0px;
      font-size: 16px;
      font-weight: 500;
      border-top: 1px solid #eee;
      margin-top: 40px;
      padding-top: 4px;
      padding-bottom: 20px;
    }
  }
     .autocomplete{
          margin-top: 10px;
          @include margin-left (-15px);
          ul{
            border: 1px solid rgba(82, 168, 236, 0.8);
            border-top: none;
            box-shadow: 0 4px 5px rgba(0, 0, 0, 0.15);
            background-color: #fff;
            border-radius: 0 0 5px 5px;
            top: -3px;
            box-sizing: border-box;
            li{
              background: none;
              border: none;
              font-size: 13px;
              &.selected{
                 @include padding( 5px 10px );
                  background: #3875d7;
                  color: #fff;
              }
            }
          }
        }
}

.compose-from-select2{
  .select2-drop{
    border-color: #eee;
    margin-top: 5px;
    .select2-results{
      padding-bottom: 8px;
    }
  }
  input{
    margin-top: 0px;
    @include background( none );
        &:focus{
          border-color: #eee;
          @include background( none );
          @include box-shadow( none );
        }
  }
}

.ie9, .ie10{
      .compose-new-ticket{
      input.original_input{
              margin: 5px 0 !important;
        }
      }
}
/*TICKET TEMPLATE STYLES*/

.ticket-template{
  @include padding ( 12px );
  .template-note{
    padding-top: 8px;
  }
  .create-link{
    font-weight: bold;
  }
  .select2{
    width: 100%;
    margin-top: 12px;
  }
}

.list-page.ticket-template-list{
  width: 100%;
  .list-page-body{
    table {
      thead{
        td{
          background: #f6f6f6 !important;
        }
      }
      td.template-checkbox-change{
        padding: 0px 12px 12px;
      }
      td.ticket-details{
       width: 85%;
       height: 50px;
       @include padding(10px 12px);
       h3{
        font-weight: 600;
        font-size: 14px;
        font-weight: 400;
        &.template-desc-heading{
          margin-top: 7px;
          margin-bottom: 5px;
        }
       }
      }
      td.action-btn{
        a{
          /*margin-right: 15px;*/
          width: 18px;
          height: 18px;
          @include padding(2px 1px);
          i{
            color: #575757;
            &:hover{
              color: #464646;
            }
          }
        }
      }
    }
  }
}

.ticket-template-form{
  .required_star{
    color: #333;
  }
  .availability-controls{
      width: 80%;
      @include float (left);
      .inline{
        @include padding-right ( 15px );
      }
      .select2{
        width: 100%;
      }
  }
  .ticket-form-title{
    border-top: 1px solid #efefef;
    margin-top: 20px;
    .ticket-form-title-header{
      @include margin-left(0);
      h3{
        @include margin ( 7px 0 10px );
      }
    }
  }
  ul.compose-new-ticket{
    margin: 0;
  }
  .template-details{
    li{

      > label{
        width: 20%;
        @include float (left);
        &.error{
          @include margin-left ( 20% );
        }
      }
      > input {
        height: 30px;
      }
      > input, > textarea{
          width: 80%;
          @include box-sizing ( border-box );
          @include float (left);
          @include padding ( 6px 5px );
          margin-bottom: 12px;
      }
      &:after{
        @extend %cb;
      }
    }
  }
}

/*Ticket template styles*/

.tkt_cr_wrap{
  position: relative;
  .redactor_insert_btns {
    top: 11px;
   @include margin-right(2%);
  }
}

  .loading-template{
    position: absolute;
    width: 100%;
    height: 100%;
    background: #fff;
    z-index: 101;
    opacity: 0.9;
    top: 0;
    @inlude left (0);
    .loading-text{
      margin-top: 13%;
      color: #000;
    }
    .spinner{
      @include left(16px !important);
      top: 8px !important;
    }
  }

  .compose-new-email, .compose-new-ticket, #ticket-fields-wrapper {
    .attachments-wrap {
     div.item:hover{
        a.attachment-title{
           color: #666;
        }
     }
    a.attachment-title{
    color: #666;
    &:hover{
      color: #666 !important;
    }
  }
  }
   .request_panel{
    border: 0;
  }
  }

/*Compose canned response */

.ticket-details{
  .email-wrapper{
    position: relative;
  }
  .request_panel{
    border: none;
  }
  .redactor_insert_btns{
    top: 0;
  }
  .redactor_toolbar{
    background: none;
    border: none;
  }
}

#loading-box .reports-loading {
    display: block;
    margin-top: 0;
    position: relative;
    top: 12em;
}

/* Ticket template styles */

#child_select_template_wrapper {
  .tree {
      padding: 10px 10px;
      margin: 0;

      li:after {
          display: none;
      }
      li:before {
          display: none;
      }

      li {
        .child {
          width: 80%;
          @include margin-left (0px);

          .ficon-pencil {
            @include left (-8px);
            margin-top: 0px;
          }
        }
      }

      .parent-title-label {
        padding-top: 15px;
        display: inline-block;
        @include padding-left (23px);
      }

      li.child-first-li {
        padding-top: 15px;
      }

      .parent_title {
          padding: 8px;
          border: 1px solid #eeeeee;
          background: #fafafa;
          color: #666;
          border-radius: 4px;

          .label_tag {
              font-style: italic;
          }

          .name {
              font-style: initial;
          }
      }

      .parent-li {
        .child-title {
          position: inherit;
        }
        ul {
          .child-li {
            .child {
              padding: 0;
              border: 1px solid #ccc;
              background: #eee;
              @include margin-left(10px);

              label {
                  color: #777;
                  text-indent: 10px;
                  padding: 7px;
                  text-decoration: line-through;
                  @include border-left (4px solid transparent);
                  border-radius: 2px;  
              }
            }

            .select_child {
              @include float(left);
              margin-top: 10px;
            }

            &.first-child {
                padding-top: 5px;
            }

            &.active {
              .child {
                background: #fff;
                
                label {
                    color: inherit;
                    border-left-color: #4299f1;
                    text-decoration: none;
                }
              }
            }
          }
        }
      }

      .action-buttons {
        display: none;
      }
  }
}

.templates-header-wrapper{
  .template-wrapper{
    @include padding(5px 5px 2px 15px);
    @include margin-left (20px);
    position: relative;
    @include border-left (1px solid #ccc);
    .create-link{
      font-weight: bold;
      color: #1272de;
    }
    .recent{
      @include padding (12px 0 4px 15px);
      color: #adadad;
      cursor: default;
    }
    .create-template{
      display: block;
      text-align: center;
      padding-bottom: 20px;
      font-size: 14px;
      font-weight: bold;
    }
    .seperator{
      padding: 0 !important;
      border-bottom: 1px dashed #c1c1c1;
    }
    .no-template{
      @inlude padding (16px 0);
      text-align: center;
      font-size: 14px;
      color: #aaa;
    }
    .no-template-link{
      @include padding (16px 0 0);
      text-align: center;
      font-size: 14px;
      color: #aaa;
    }
    .sloading{
      @include margin (40px 0);
      @include transition (all 1s);
      display: flex;
      justify-content: center;
    }
    .template-pick-list{
      font-weight: bold;
      color: #1272de;
      cursor: pointer;
    }
    .filter-info{
      @include float (left);
      @include margin-left(5px);
      color: #1272de;
      cursor: pointer;
    }
    .template-options{
      display: none;
      @include transition (all 1s);
      min-height: 90px;
      // max-height: 445px;
      position: absolute;
      width: 275px;
      z-index: 2;
      background: #fff;
      top: 30px;
      border: 1px solid #aaa;
      border-radius: 6px;
      @include box-shadow(0 10px 30px -10px rgba(0,0,0,0.4),0 -2px 0 rgba(0,0,0,0.4));
      &:before{
        content: '';
      }
      .arrow-top{
          @include border-left (9px solid transparent);
          border-bottom: 9px solid #999;
          @include border-right (9px solid transparent);
          height: 0;
          width: 0;
          position: absolute;
          top: -9px;
          @include left (32px);
      }
      .filter-wrapper{
          @include padding(10px 5px 0);
          border-bottom: 1px solid #e0e0e0;
          input{
              height: 18px;
          }
      }
      ul{
        overflow-y: auto;
        -ms-overflow-style: none;
        max-height: 428px;
        li{
          @include padding(10px 15px);
          cursor: pointer;
          min-height: 16px;
          &:first-child{
            padding-top:10px;
          }
          &.active{
            color: #fff;
            background: #999;

            .template_title_label {
              @include float(left);
              width: 90%;
            }

            .parent_icon_indicator {
              font-size: 20px;
              @include float(right);
              background-color: #fff;
              color: #666;
              padding: 7px 7px 5px 6px;
              margin-top: -8px;
              border-radius: 50%;
              @include margin-right(-12px)
            }
          }
          &:not(:last-child){
            border-bottom: 1px solid #eee;
          }
          &.recent-tmpl.last{
            border-bottom: none;
          }

          .template_title_label {
            display: block;
          }
        }
      }
    }
  }
}
.templates-header-wrapper{
  .template-wrapper{
    &.active{
      .template-options{
        display: block;
      }
    }
  }
}
.tkt-template-table{
  .template-checkbox{
    width: 5%;
  }
  /*.ticket-details{
    width: 80%;
  }*/
}
.parent_btn{
    font-size: 10px;
    background: #fff;
    border: 1px solid #ccc;
    @include padding(1.5px 6px);
    border-radius: 2px;
    @include margin-right(8px);
}
.edit-template-footer{
  .btn{
    @include margin(0 5px);
  }
}
.tempate_sort{
  &.drop-right:after{
    margin-top:7px;
  }
}
.template_form:not(.clone_parent_form){
  .page-header-sticky{
    &.parent-header-sticky{
      padding-bottom:35px;
    }
    &.is_stuck{
      padding-bottom: 6px;
    }
  }
  .template-msg{
    @include margin(10px 0);
    font-size:11px;
  }
  .compose-new-email .single_file.cloud{
    padding-bottom: 0;
  }
}
.list-templates-parent-wrapper{
  border: 1px solid #969696;
  border-radius: 50%;
  height: 24px;
  width: 24px;
  display: inline-block;
  position: relative;
  top: -2px;
  @include margin-right(8px);
}
.list-templates-parent{
  position: relative;
  top: 6px;
  @include padding(0 5px);
  color:#969696;
}
.delete-msg-ul{
  margin-top:2px;
  li{
    list-style-type:none;
    @include margin-left(30px);
    @include padding(5px 0);
    &:before{
      content:'\00b7'; 
      font-size:60px;
      position: absolute;
      @include left (29px);
      margin-top: -4px;
    }
  }
}
.template_form{
  .template_breadcrumb{
    padding-bottom:0;
    margin-bottom:0;
  }
}
.parent-sidebar-title{
  display: inline-block;
}
.sidepanel{
  .list-templates-parent{
    @include padding(0 4px);
  }
}
.template-sticky{
  &.parent-header-sticky{
    padding-bottom:35px;
  }
  &.is_stuck{
    padding-bottom: 6px;
  }
}
.template-msg{
  @include margin(10px 0);
  font-size:11px;
}
