// styles for the requester widget config modal 
.widget-config-subtitle{
  color: #A1A1A1;
  margin-top: -12px;
  margin-bottom: 15px;
}

.requester-widget-domain-names .select2-results {
  display: none;
}

#requester-widget-config-container{
  border: 1px solid #E4E4E4;
  border-radius: 5px;

  .widget-field-lists{
    max-height: 310px;
    overflow-x: auto;
    border-bottom:1px solid #DDD;
  }

  .widget-field-list{
    &.non-sortable-list{
      .sort_handle,.rounded-icon{
        opacity: .2;
        cursor: default;
      }
      .sort_handle_wrapper{
        cursor: default;
      }
    }
    
    &.sortable-list li{
      background: #fff;
      
      &:last-child{
        border-bottom:none;
      }

      &.ui-sortable-helper{
        border: 0px;
        @include border-radius(4px);
        cursor:move;
        box-shadow:  0px 10px 40px -14px #666, inset 0 0 0px 1px #bbb  ;
        background-color:#fafafa;
        -webkit-transform: translate(-4px);
      }

      &.ui-sortable-placeholder{
        border: 0px;
        @include border-radius(0px);
        box-shadow: inset 0px 0px 10px -2px #aaa,  inset 0px 0px 70px -2px #ddd ;
        background: #333;
      }

    }

    li{
      @include padding(12px 0 12px 4px);
      border-bottom: 1px solid #DDD;
      @include border-radius(5px 5px 0px 0px);

      .sort_handle_wrapper{
        display: block;
        cursor: move;
        float: left;
        padding: 5px;
        @include margin(-3px 10px 0px 8px);
      }

    	.sort_handle{
        position: static;
    	}

    	.label-wrapper{
        color:#000;
        @include padding-left(10px);
        span {
          @include float(left);
        }
    	}
      .ficon-user,.ficon-company{
        color:#B0B0B0;
        @include padding-right(5px);
      }
    }
  }

  .rounded-icon{
  	@include float(right);
    @include margin-right(20px);
  }
  .widget-field-add{
    .rounded-icon{
      margin-top: -27px;
      position: relative;
    }

    .disabled-message{
      display: block;
      @include padding(12px 25px);
      color: #AEAEAE;
      &.hide{
        display: none;
      }
    }
  }
  .select2-container{
    width:100%;
    &.select2-dropdown-open {
      @include border-left(1px solid #5897fb);
      border-bottom: 1px solid #5897fb;
      @include border-right(1px solid #5897fb);
      @include border-radius(0px 0px 5px 5px);

    }

    .select2-choices{
      @include padding(5px 0px);
      margin: 0px;
      background:none;
      box-sizing: border-box;
      border: none;
      @include border-radius(0px 0px 5px 5px);
    }
    
  }
}

//styles for the requester widget select2
.requester-widget-add.select2-drop{
  &.select2-drop.select2-drop-above{
    box-shadow: inset 0px -11px 11px -11px #aaa;
  }

  .select2-result-selectable .select2-match, .select2-result-unselectable .select2-match {
    text-decoration: none !important;
  }

 .select2-results{
    padding: 0px;
    @include margin(3px 0px);

    .select2-highlighted {
      @include margin(0px -10px);
      @include padding(0px 10px);
    }

    > li:first-child{
      border-bottom: 1px dashed #9b9b9b;
      margin-bottom: 4px;
      padding-bottom: 7px;
    }

    > li:last-child{
      padding-bottom:0px;
      border:none;
    }

    > li {
        @include margin(0px 10px 0px 10px);
        @include padding(5px 0px 10px 0px);   
      }

    > li.select2-result-with-children > .select2-result-label {
      font-weight: normal;
      @include padding(0px 0px 3px 0px);
      text-transform: uppercase;
      color: #aaa;
      font-size: 11px;
    }

    .select2-result-sub .select2-result-label{
      padding: 4px 0px;
    }

  }
}
    



//styles for the ticket page widget
.requester_widget.contact_hover{
  .contact-append{
   .add-on{
    width: 30%;
    margin: 0px;
    .label-name{
      overflow: hidden;
      word-wrap: normal;
      max-width: 90%;
      @include float(left);
      white-space: nowrap;
      text-overflow: ellipsis;
    } 
  }

  .field-value{
      width: 70%;
      @include float(right);
      margin: 0px;
      color: #505050;
      font-size: 13px;
      line-height: 18px;
      &.expanded{
        width:100%;
        .more-toggle{
          background:#E7E7E7;
          color: #B4B4B4;
        }
      }
    }
  .more-toggle{
      background: #B4B4B4;
      font-size: 11px;
      line-height: 0px;
      display: block;
      margin: 0px;
      width: 10px;
      @include padding(0px 5px);
      overflow: hidden;
      cursor: pointer;
      height: 10px;
      color: #E7E7E7;
      @include margin(5px 0px 5px);  
    }
  }
  .widget-more-toggle {
    cursor: pointer;
    color: #06c;
  }

  .edit-requester-link{
    font-weight: bold;
  }

  .dash-seperator{
    margin:0px 10px;
  }
}


//styles for ticket page edit contact modal
#requester-widget-user-edit-dialog .modal-body{
    padding-bottom: 10px;
    overflow-y: hidden;
}

.requester-widget-user-edit-dialog{
  .requester-widget-user-fields{   
    overflow-x: scroll;
    height: 350px;
    border-top: 1px solid #eee;
    padding: 20px;
    @include margin(0px -20px -10px);
  }

  .field-set{
    min-height: 35px;
  }
  .controls {
    width: 72%;
    @include float(left);

    label{
      font-weight: bold;
      text-transform: capitalize;
      margin-top: 1px;
      @include margin-left(-19px);
      width: 28.5%;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      @include float(left);
      word-wrap: normal;
      margin-bottom: 10px;   
    }

    .error{
      margin: 0px;
      width: 100%;
      font-weight: normal;
    }

    > div{
      width: 100%;
    }

    .disabled-field{
      @include padding-left(4px);
      padding-top: 3px;
    }

    .info-data{
      display: none;
    }

  }

  .checkbox input{
    @include float(right);
    @include margin(4px 184px 0px 2px);
  }

  .icon-wrapper {
    @include float(left);
    width: 5%;
    color: #B0B0B0;
    margin-top: 4px;
    box-sizing: border-box;
  }

  .field-set {
    width: 100%;
    clear: both;
    display: block;
  }

  .control-group{
    @include float(left);
    width: 95%;
    margin-bottom: 4px;
    box-sizing: border-box;
    &.date{
      max-height: 35px;
    }

    .select2-container{
      margin-bottom: 8px;
    }
  }

  .control-label {
    @include float(left);
    width: 28%;
    padding-top: 2px;
    box-sizing: border-box;
    @include padding-right(10px);

    label {
      font-weight: bold;
      text-transform: capitalize;
      @include float(left);
      max-width: 88%;
      text-overflow: ellipsis;
      word-wrap: normal;
      white-space: nowrap;
      overflow: hidden;
    }
  }

  input.date.datepicker_popover {
    width:90%;
  }

  .ui-datepicker-trigger{
    position: relative;
    top: -33px;
  }
}

