
.salesforce-wrapper{
	@include float(right);
	width: 75%;
	.select2-choices{
		background:none;
		@include border-radius(5px);
		border: 1px solid #c9c9c9;
		background: #fff;
		.select2-search-field{
			padding: 4px;
		}
		.select2-search-choice-close{
			background:none;
			@include float(right);
			width:auto;
			&:after{
				content: "-";
				background:#d30000;
				@include border-radius(100%);
				color: #fff;
				position: absolute;
				top: 3px;
				@include right(7px);
				padding: 2px 10px 4px 7px;
				font-size: 16px;
				font-weight: bold;
				line-height: 14px;
				@include box-shadow(1px 1px 1px rgba(0,0,0,0.2));
				letter-spacing: -3px;

			}
		}
		.select2-search-choice{
		    border: 0;
		    background: 0;
		    padding: 10px;
		    border-bottom:1px solid rgba(#ccc, 0.3);
		    margin:0;
		    width: 96%;
		}
	}
	.select2-container-multi .select2-choices .select2-search-choice .select2-search-choice-close:hover::after{
		color:#fff;
	}
	.int-select{
		border:0;
		@include border-radius(0);
		width:99.8%;
		&:after{
			content: "+";
			background:green;
			@include border-radius(100%);
			color: #fff;
			position: absolute;
			bottom: 8px;
		 @include right(7px);
			@include padding(1px 5px 4px 5px);
			font-size: 16px;
			font-weight: bold;
			line-height: 14px;
			@include box-shadow(1px 1px 1px rgba(0, 0, 0, 0.2));
			font-weight: bold;

		}
	}
	.contact-fields, .lead-fields, .account-fields{
		display:inline-block;
		width:100%;
		width:46%;
		margin:5px 1%;
		h3{
			font-size: 1.2em;
			margin-bottom: 5px;
			font-weight: 200;
		}
	}
	.lead-fields{
		@include float(right);
	}

}
// ------------------------------------------------------------------------------------------------------------
//												Salesforce 
// ------------------------------------------------------------------------------------------------------------
.salesforce_widget_bg{
	ul{
		list-style:disc inside;
		@include margin-left(1px);
		margin-top:5px;
		color:#ccc;
		li{
			padding:5px 0 0;
			color:inherit;
		}
	}

	.sales-title{
		font-weight: bold;
	}
	.search-back{
		display: inline-block;
		border: 1px solid #ccc;
		@include border-radius(4px);
		padding: 0 5px;
		@include margin-right(10px);
		.arrow-left{
			font-size: 6px;
			margin-top: -2px;
			@include margin-left(-2px);
		}
		&.hide{
			display: none;
		}
		.contact-search-result-type {
			@include border-radius(16px);
			font-size:9px;
			padding:3px 8px;
			line-height: 100%;
			font-weight: bold;
			text-transform: uppercase;
			display:inline-block;
			white-space:nowrap;
			@include box-shadow(1px 1px 0 white);
			background: #eee;
			color:#333;
		}
	}
}
.salesforce-widget{
	@include clear(both);
	div{
		@include clear(both);
		display: block;
		span{
			@include float(left);
			width:49%;
			@include margin-right(1%);
			font-weight: 500;
		}
		label{
			@include float(left);
			width:50%;
			font-weight: 400;
		}
	}
	&:last-child{margin-bottom:5px;};
}
