
// -------------------------------------------------------------------------------------------- 
// 										Surveymonkey Styles Begin
// -------------------------------------------------------------------------------------------- 
.survey-button{
	.btn{
		border:0;
		background:none;
		box-shadow:none;	
	}
}
.survey-dropdown{
	label{
		margin-bottom:0;
		padding-bottom:0;
	}
}
.collector-list-wrapper {
position: relative;
.preview-link {
position: absolute;
@include right(0);
top: -16px;
}
}
.survey-list-wrapper {min-height: 28px;}
.collector-list-wrapper {min-height: 28px;}
#survey-fields-container{ margin-top: -6px;}
#survey-fields-container select{  margin-top: 5px;}
div#survey-fields-container > div.survey-text-container{ margin-top: 25px;}
.black_and_bold{ font-weight: bold; color: black}
.send_while_container{ margin-top: 20px;}
.send_while{ margin-bottom: 5px; font-weight: bold; color: black;}
#survey_text{ height: 60px;}
label.checkbox-label span{ position: relative; top: 2px; }

label.last-label{ margin-bottom: 0; }
