
// ------------------------------------------------------------------------------------------------------------
//									 SURVEY REPORT RELATED STYLES 
// ------------------------------------------------------------------------------------------------------------
@import '_survey-smiley.scss';
.survey_settings{
padding:10px;
margin:10px;
}

.survey_text {
	width: 70%;
}

.agentreport, .usercomment { box-sizing: border-box; width: 100%; overflow: hidden; margin: 10px 0; padding: 15px 0; }
 
.usercomment { border-bottom: 1px dotted #e5e5e5; margin: 0; }
 
.agentreport > ul { @include margin(0 0 0 25px); padding: 0; }
 
.agentreport > ul > li { list-style: none; padding: 0; @include float(left); overflow: hidden; }

.agentreport > ul > li.sub_rating{margin-top:-8px;}

.agentreport{
	.floatleft { @include float(left); }
	 
	.floatright { @include float(right); }
	 
	.photo { box-sizing: border-box; width: 46px; height: 46px; background-color: grey; @include margin-right(5px); }
	 
	.smallphoto { width: 30px !important; height: 30px !important; }
	 
	.agentname { font-weight: bold; font-size: 14px; width: 180px; margin-top: 5px;}
	 
	.agentname > div { font-weight: normal; font-size: 12px; }
	 
	.happy { background: transparent url("/images/smile.jpg") 0 0 no-repeat; box-sizing: border-box; width: 46px; height: 44px; @include margin-right(5px); }
	 
	.bignum { font-size: 20px; @include margin(2px 0 0 7px);}
	 
	.bignum > span { font-size: 16px; font-weight: normal; }
	 
	.bottomtext { font-size: 12px; font-weight: normal; @include margin(-1px 0 0 8px);}
	 
	.nospace { @include margin-left(0 !important); }
	 
	.noborder { border-bottom: none; }
	 
	.chevron { font-weight: bold; margin-top: 13px; color: grey; }
	 
	.titlebar { box-sizing: border-box; border-bottom: 1px solid #e5e5e5; text-transform: uppercase; overflow: hidden; }
	 
	.titlebar > div { margin-bottom: 5px; font-size: 13px; text-transform: none; word-spacing: 4px; }
	 
	.comment { @include margin-left(10px); font-size: 13px; line-height: 18px; word-spacing: 2px; width: 90%; }
	 
	.comment > div { margin-bottom: 5px; line-height: 14px; }
	 
	.comment > div > strong { display: block; }
	 
	.comment > div > span { font-size: 12px; color: #999; }
}

#report_list {
	.table-list {
		@include margin(10px 0 0 0);
	}
}
 
.agent_report_list { color: #000; }
 
.smileytext { @include margin(8px 0 0 5px); }
 
.all_link .all_link, .happy_link .happy_link, .unhappy_link .unhappy_link, .neutral_link .neutral_link { color: black; font-weight: bold; }
 
.no-feedback{
	font-size:16px;
	font-weight:bold;
	@include text-align(center);
}

.satisfaction-head{
	padding:10px 20px 0;
}

.sat-list-title{
  width:40%;
}

.overall-rating{
 width:59%;
}

.sat-priority-rating{
  width:55%;  
}

.sat-priority-rating div{
  margin-top:9px;
}

.sub_rating{
  width:44%;
}

.link_text_info{
			font-size:11px;
			color:#888888;
}
// ------------------------------------------------------------------------------------------------------------
//									 SURVEY REPORT RELATED STYLES ENDS 
// ------------------------------------------------------------------------------------------------------------