<div id="<%=chat.id%>_user_header" class="userHeader">
	<div class="chat_close" id="closeChat-<%= chat.id %>"><i>×</i></div>
	<div class="minimize" id="minChat-<%= chat.id %>"><i>&minus;</i></div>
	<div class="userSettings chat_settings tooltip" data-placement="above" data-original-title="<%=i18n.options%>" twipsy-content-set="true" id="user-<%= chat.id %>"><span class="icon-cog"></span></div>	
	<%if(userAgent){%>
	<div class="viewVisitorInfo icon-user tooltip" data-placement="above" data-original-title="<%=i18n.visitor_details%>" twipsy-content-set="true" id="visitorInfo-<%= chat.id %>"></div>
	<div class="editButton icon-edit tooltip" data-placement="above" data-original-title="<%=i18n.edit_visitor_details%>" twipsy-content-set="true" id="visitor-<%= chat.id %>">&nbsp;</div>
	<div class="visitorGeo">
		<div class="loc icon-<%=userAgent.family.toLowerCase()%>"> <%=userAgent.family%> <%=userAgent.major%>.<%=userAgent.minor%>.<%=userAgent.patch%></div>
		<div class="loc icon-<%=userAgent.os.family.toLowerCase()%>"> <%=userAgent.os.family%> <%=userAgent.os.major%>.<%=userAgent.os.minor%>.<%=userAgent.os.patch%></div>
		<%if(chat.location){%>
			<div class="loc geo icon-location"><%=chat.location%></div>	
		<%}else{%>
			<div class="loc geo icon-location"><%=i18n.unknown%></div>	
		<%}%>
		<div class="loc page icon-eye"><a href="<%=userAgent.page%>" alt="<%=userAgent.page%>" title="<%=userAgent.page%>" target="_blank"><%=userAgent.page%></a></div>
	</div>
	<%}%>
	<div class="clear"></div>
</div>