<div id="chat-<%=id%>" class="chat-content panel-center">                   
	  <div class="chat-messages" id="chat-messages-<%=id%>">
		<div id="chat-messages-inner-<%=id%>">				
		</div>
	  </div>	

	  <div class="chat-message well">
	  	<div id="status-<%=id%>" class="chat-status"></div>
		<button class="btn btn-success">Send</button>
		<div class="input-box">
			<span id="input-box-<%=id%>" class="avatar_inputbox"></span>
			<textarea id="msg-box-<%=id%>"></textarea>
		</div>		
	  </div>
</div>