<h3 class="title"><%=i18n.title%></h3>
<div class="panel-list">
  <ul class="chat-dashboard-link clearfix">
    <li><span id="chat_visitors_count">0</span><span><%=i18n.in_conversation%></span></li>
    <li><span id="online_agent_count"><img src="/images/animated/ticket-count.gif"/></span><span><%=i18n.available_agents%></span></li>
    <li><span id="online_visitors_count">0</span><span><%=i18n.visitors_online%></span></li>
    <li><span id="return_visitors_count">0</span><span><%=i18n.returning_visitors%></span></li>
  </ul>
  <ul class="chat-dashboard-link clearfix">
    <li class="chat-link-large"><a id="chat_visitors" href="/helpdesk/visitor/online"><%=i18n.website_visitors_msg%><b class="icon-caret-right"></b></a></li>
    <li class="chat-link-large"><a id="chat_archive" href="/helpdesk/chat/archive"><%=i18n.message_archives%><b class="icon-caret-right"></b></a></li>
  </ul>
</div>