<div class="header_container-left">
	<div id="header">
			<a href="./dashboard.html">&nbsp;</a>
	</div>
</div>

<div class="header_container-right">
	<div id="search">
		<input id="search_input" type="text" placeholder="Search here..."/><button type="submit" class="srch-btn" title="Search" data-icon="&#xe010;" aria-hidden="true"></button>
	</div>
	<div id="user-nav" class="navbar navbar-inverse">
	    <ul class="btn-group">
	    	<li id="navigator" class="navigator">
	    		<a id="nav_icon" href="#" class="icon-comments">&nbsp;</a>
	    	</li>
	        <li id="user-icon">
	        	<a><img src="img/user-avatar.png"/></a>
	        </li>
	        
	        <li id="status"><a href="" class="available icon-off">&nbsp;</a></li>  
	    </ul>
		 <div id="userProfile">
			<a href="#" title="Profile" id="header-profile-view" class="icon-profile"></a>
			<a href="logout" title="logout" class="logout-icon icon-exit"></a>
		</div>
		<div id="nav_options" class="nav-options">
			<a href="#" title="Settings" id="visitor-script" class="icon-cog"></a>
			<!--<a href="#" title="Reports" class="logout-icon icon-bars"></a>-->
			<a href="#" title="Dashboard" id="live-visitors" class="active-icon icon-comments"></a>
		</div>
	</div>
	
</div>