	<img src="/images/fillers/profile_blank_thumb.gif" id="notifier_img" />
	<div class="chat-icon-alarm"><i class="icon-comment"></i></div>
	<%			
			if(data.visitor){				
	%>
	<div class="visitor">
		<b><%=data.visitor.name%></b>
		<%if(data.visitor.mail || data.visitor.phone){%>
		<%if(data.visitor.mail){%><br><%=data.visitor.mail%><%}%>
		<%if(data.visitor.phone){%><br><%=data.visitor.phone%><%}
		}%>
		<div id="content_<%=data.visitor.userId%>" class="notifier_msg"><p><%=data.visitor.msg%></p></div>
		<div id="info_<%=data.visitor.userId%>" class="place-info">
			<p class="country"><i class="icon-location"></i><%=data.visitor.location%></p>
			<%if(data.visitor.page){%>
			<p class="page"><i class="icon-eye"></i><a href="<%=data.visitor.page%>" alt="<%=data.visitor.page%>" title="<%=data.visitor.page%>" target="_blank"><%=data.visitor.page%></a></p>
			<%}%>
		</div>		
	</div>
	<%}else if(data.transfer){%>
	<div class="visitor">
		<%=data.transfer.name%> <%=i18n.transfer_msg%>
	</div>
	<%}%>
	<div class="action">
		<div id="ignore_<%=data.id%>" class="ignore"><i>×</i><%=i18n.ignore%></div>
		<div id="but_<%=data.id%>" class="accept"><i class="icon-ok"></i><%=i18n.accept%></div>
		<div class="clear"></div>
	</div>