<div class="top-border"></div>

	<span class="recent tooltip" data-placement="above" data-original-title="<%=i18n.agents%>" twipsy-content-set="true">
	  <a href="javascript:void(0);" class="agent">
		<span class="icon-headphones"></span>
		<span class="chatcount" id="bar_agents_count">0</span>
	  </a>
	</span>

	<span class="recent tooltip" id="bar_visitor_icon" data-placement="above" data-original-title= "<%=i18n.visitors_online%>" twipsy-content-set="true">
		<span class="icon-user"></span>
		<span class="chatcount" id="bar_chats_count">0</span>
	</span>

	<div class="recent icon-reorder tooltip" id="bar_recent_list" data-placement="above" data-original-title="<%=i18n.recent_messages%>" twipsy-content-set="true">
	</div>

	<div id="agent-list" class="sneakpeak">
		<ul id="user_list" class="contact-list"></ul>
	</div>

	<div id="visitor-list" class="sneakpeak">
		<ul class="contact-list">
			<li>
				<a href="/helpdesk/visitor/return">
					<span class='count' id='pop_return_count'>0</span>
					<span><%=i18n.returning_visitors%></span>
				</a>
			</li>
		 	<li>
		 		<a href="/helpdesk/visitor/online">
		 			<span class='count' id='pop_online_count'>0</span><span><%=i18n.visitors_online%></span>
		 		</a>
		 	</li>
		 	<li>
				<a href="/helpdesk/visitor/agent">
					<span class='count' id='pop_chat_count'>0</span><span><%=i18n.in_conversation%></span>
				</a>
			</li>
			
		</ul>
	</div>

<div id="tabs" class="tabs-bottom">
	<ul id="tabs-group"></ul>
</div>