
<link rel="stylesheet" href="http://code.jquery.com/ui/1.7.2/themes/base/jquery-ui.css" />
<link type="text/css" src="stylesheets/bootstrap-theme/jquery-ui-1.8.16.custom.css"/>
<style>
/* force a height so the tabs don't jump as content height changes */
#tabs .tabs-spacer { float: left; height: 200px; }
.tabs-bottom .ui-tabs-nav { clear: left; padding: 0 .2em .2em .2em; }
.tabs-bottom .ui-tabs-nav li { top: auto; bottom: 0; margin: 0 .2em 1px 0; border-bottom: auto; border-top: 0; }
.tabs-bottom .ui-tabs-nav li.ui-tabs-active { margin-top: -1px; padding-top: 1px; }
.ui-tabs .ui-tabs-nav {padding:0.em 0.2em;}
</style>
	<div id="tabs" class="tabs-bottom">
   		 <ul id="tabs-group"></ul>
 	</div>
<script>
	$(function() {
					 console.log("jtabs from tab.html => ",$( "#tabs" ).tabs);
			       $( "#tabs" ).jtabs({
			       	closable:true,
			       	add: function(e, ui){
                   $('#tabs').jtabs('select', '#' + ui.panel.id);
            		}
			       });

			       // fix the classes
			       $( ".tabs-bottom .ui-tabs-nav, .tabs-bottom .ui-tabs-nav > *" )
			           .removeClass( "ui-corner-all ui-corner-top" )
			           .addClass( "ui-corner-bottom" );

			       // move the nav to the bottom
			       $( ".tabs-bottom .ui-tabs-nav" ).appendTo( ".tabs-bottom" );
	   	 });   	 
</script>