<tr id="visitor_list_<%=visitor.id%>" class="<%=visitor.class%>">
 <td class="<%=visitor.sclass%>"><i class="icon-user"></i>
 <%if(visitor.sclass=="chat-visitor"){%>
	<%=visitor.name%>
 <%}else{%>
	<a id="<%=visitor.id%>_link"><%=visitor.name%></a>
 <%}%>
 </td>
 <td><%=visitor.message%></td>
 <td class="location"><i class="icon-location"></i><%=visitor.loc%></td>
 <td class="lookpage"><i class="icon-eye"></i><a href="<%=visitor.page%>" title="<%=visitor.page%>" alt="<%=visitor.page%>" target="_blank"><%=visitor.page%></a></td>
</tr>