<div class="containerFull">
<div class="chat_header_bar clearfix">
	<div class="chat_header_bar_left">
		<h3 class="title"><%=i18n.website_visitors%></h3>
	</div>
	<div class="chat_header_bar_right">
		<div class="search_caption"><a id="web_chat_archive" href="/helpdesk/chat/archive"><%=i18n.message_archives%></a></div>
	</div>
</div>

 <div class="clearfix"></div>
	<div class="ticket-leftcol" id="visitor_filter">
		<a href="/helpdesk/visitor/return" class="online_count" id="visitors_return_count">
			<div class="off"><span class="count">0</span> <%=i18n.returning_visitors%></div>
		</a>
		<a href="/helpdesk/visitor/online" class="online_count" id="visitors_online_count">
			<div class="off"><span class="count">0</span> <%=i18n.visitors_online%></div>
		</a>
		<a href="/helpdesk/visitor/agent" class="online_count" id="visitors_chat_count">
			<div class="off"><span class="count">0</span> <%=i18n.in_conversation%></div>
		</a>
		
	</div>
	<div class="contentCol hasRightCol borderleftnull"><div id="visitor_results" class="visitor_results"></div></div>
</div>