<div class="form-horizontal">
  <%= hidden_field_tag "smart_filter_rule[ticket_rule_id]",  ticket_rule.id %>

  <div class="row-fluid">
    <div class='form_data span11 mlt'>
      <div class="control-group span6">
        <label><%= t('admin.social.ticket_rules.assign_to_gp')%></label>
        <%= select_tag "smart_filter_rule[group_id]", options_for_select(current_account.groups.collect{ |c| [c.name, c.id]}.insert(0, '...'),  ticket_rule.group_id), {:class => "select2 filter_item span12 rule_group"} %>
      </div>
      <div class="control-group span6">
      </div>
    </div>
  </div>
</div>