<div class="search_results_bar" id="SearchResultsBar"> 
	<ul class="results">  </ul> 
</div>

<%- content_for :onload_script do -%>
  var currentactive,
      position   		= -1, 
      insideSearch 	= false;

  callbackToSearch = function(string){
    jQuery.ajax({ url: "/search/suggest?search_key="+string, 
                  success: function(data){
                            $J("#SearchResultsBar").css("display", "inline"); 
                            position   = -1;
                            $J("#SearchResultsBar .results").html(data);
                          }});
                        }
			
			$J("#SearchResultsBar a").live("click", function(){
				window.location = this.href; 
			});
			
			$J("#SearchResultsBar a").live("hover", function(){
				$(currentactive).removeClass("active");
				currentactive = $J(this).addClass("active");
			});
			
			$J("#SearchResultsBar")
				.hover(function(){
					insideSearch = true;
				}, function(){
					insideSearch = false;
				});
			
			$J("#header_search").bind("focusout", function(ev){ 
				if(!insideSearch)
					jQuery("#SearchResultsBar").hide();
			});
			
			$J("#header_search").bind("focusin", function(ev){
				searchString = this.value.replace(/^\s+|\s+$/g, "");
				if(searchString != ''){
					jQuery("#SearchResultsBar").css("display", "inline");
				}
			}); 
			
			var move = function(diff){
				searchlist 	= $J("#SearchResultsBar a");
				$J(currentactive).removeClass("active");
				position = Math.min((searchlist.size()-1), Math.max(0, position + diff)); 
				currentactive = $J(searchlist.get(position)).addClass("active"); 
			};
			
			var executeAction = function (keyCode){ 
				 switch (keyCode) {
			        case 40:
						move(1); 
			            break;
			        case 38:
						move(-1); 
			            break;
					case 13:
						$J(currentactive).trigger("click");
						break; 
				}
			} 
			
			$J("#header_search").bind("keyup", function(e){
				 switch (e.keyCode) {
				 	case 40:
					case 38:
					case 13:
						executeAction(e.keyCode);
						e.preventDefault();
					break;
					default:
						searchString = this.value.replace(/^\s+|\s+$/g, "");
						if(searchString != '' && searchString.length > 1){
							delay(function(){
						      callbackToSearch(searchString);
						    }, 200 ); 
						}else{
							jQuery("#SearchResultsBar").hide();				
						}
					break;
				}
			});
<%- end -%>