<% javascript_tag do %>
	(function($){
		$(document).ready(function(){
			 
			var currentactive,
				position   		= -1, 
				insideSearch 	= false;
			
			callbackToSearch = function(string){
				jQuery.ajax({ url: "/search/suggest?search_key="+string, 
								  success: function(data){
								  			$("#SearchResultsBar").css("display", "inline");
											position   = -1
											$("#SearchResultsBar .results").html(data);
							}});
			}
			
			$("#SearchResultsBar a").live("click", function(){
				window.location = this.href; 
			});
			
			$("#SearchResultsBar a").live("hover", function(){
				$(currentactive).removeClass("active");
				currentactive = $(this).addClass("active");
			});
			
			$("#SearchResultsBar")
				.hover(function(){
					insideSearch = true;
				}, function(){
					insideSearch = false;
				});
			
			$("#header_search").bind("focusout", function(ev){ 
				if(!insideSearch)
					jQuery("#SearchResultsBar").css("display", "inline");
			});
			
			$("#header_search").bind("focusin", function(ev){
				searchString = this.value.replace(/^\s+|\s+$/g, "");
				if(searchString != ''){
					jQuery("#SearchResultsBar").css("display", "inline");
				}
			}); 
			
			var move = function(diff){
				searchlist 	= $("#SearchResultsBar a");
				$(currentactive).removeClass("active");
				position = Math.min((searchlist.size()-1), Math.max(0, position + diff)); 
				currentactive = $(searchlist.get(position)).addClass("active"); 
			};
			
			var executeAction = function (keyCode){ 
				 switch (keyCode) {
			        case 40:
						move(1); 
			            break;
			        case 38:
						move(-1); 
			            break;
					case 13:
						$(currentactive).trigger("click");
						break; 
				}
			} 
			
			$("#header_search").bind("keyup", function(e){
				 switch (e.keyCode) {
				 	case 40:
					case 38:
					case 13:
						executeAction(e.keyCode);
						e.preventDefault();
					break;
					default:
						searchString = this.value.replace(/^\s+|\s+$/g, "");
						if(searchString != '' && searchString.length > 1){
							delay(function(){
						      callbackToSearch(searchString);
						    }, 200 ); 
						}else{
							jQuery("#SearchResultsBar").hide();
						}
					break;
				}
			});
		});
	})(jQuery);
<% end %>

<div class="search_results_bar" id="SearchResultsBar"> 
	<ul class="results"></ul> 
</div>