<% 
	placeholder ||= "Search"
	url			||= "/search/content?search_key="
%>
<form class="page-search">
	<div class="live_search">
		<input class="search" type="text" id="PageSearch" placeholder="<%= placeholder %>" /> 
	</div>
</form>

<div id="search_results" style="display:none;"></div>
<% content_for :script_jquery do %>
	callbackToPageSearch = function(string){
								$.ajax({ 
									url: "<%=url%>"+string, 
									success: function(data){
									 			$("#search_results").show();
												$("#search_results").html(data);
												$("#PageSearch").removeClass("loading");
									}});
								};
				
	$("#PageSearch").bind("keyup", function(ev){
		var searchString = this.value.replace(/^\s+|\s+$/g, "");
		if(searchString != '' && searchString.length > 1){
			$(this).addClass("loading");
			delay(function(){
		    	callbackToPageSearch(searchString);
			}, 200 ); 
		}else{
			$("#search_results").hide()
			$(this).removeClass("loading");				
		}
	});
<% end %>