<% content_for :layoutType do -%>single<%- end %>
<h3 class="title">All results</h3>
<form>
	<input class="search" value="Freshdesk" placeholder="Search" />
	<input type="submit" value="Search" class="fdbutton grey" style="position:relative; top:-2px;" />
</form>
<span class="seperator"></span>

<div class="big_results">
	<h3 class="sub_title">Search for "Freshdesk" has 120 results</h3>
	<ul class="results">
		<li class="ticket_icon"> 
			<strong class="title">Tickets</strong>
			<div class="group">
				<a href="#" class="big">#333 Adding the search results feature</a>
				<span class="light">Requested by, <b>John Chusack </b> </span>
				<p>"...Nullam quis risus eget urna mollis ornare vel eu leo. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Lorem ipsum dolor sit amet, consectetur adipiscing elit...."</p>
			</div> 
			<div class="group even">
				<a href="#" class="big"> #333 Adding the search results feature </a>
				<span class="light">Requested by, <b>John Chusack </b> </span>
				<p>"...Nullam quis risus eget urna mollis ornare vel eu leo. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Lorem ipsum dolor sit amet, consectetur adipiscing elit...."</p>
			</div>
			<div class="group"><a href="#" class="big"> #333 Adding the search results feature </a> 
				<span class="light">Requested by, <b>John Chusack </b> </span>
				<p>"...Nullam quis risus eget urna mollis ornare vel eu leo. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Lorem ipsum dolor sit amet, consectetur adipiscing elit..."</p>
			</div>
		</li>
		<li> 
			<strong class="title">Contacts</strong>
			<div class="group"> 
				<%= user_avatar(current_user.avatar) %> 
				<a href="#" class="user"> Fresh jackman </a>
				<span class="light">Gamer at Freshdesk</span> 
			</div>
		</li>
		<li class="company_icon"> 
			<strong class="title">Companies</strong>
			<div class="group"><a href="#" class="big"> Freshdesk </a> </div>
		</li>
		<li class="solution_icon"> 
			<strong class="title">Solutions</strong>
			<div class="group">
				<a href="#" class="big"> Mattis Tortor Commodo Dolor Tellus </a>
				<p>"...Nullam quis risus eget urna mollis ornare vel eu leo. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Lorem ipsum dolor sit amet, consectetur adipiscing elit...."</p>
			</div>
		</li>
		<li class="forum_icon"> 
			<strong class="title">Forums</strong>
			<div class="group">
				<a href="#" class="big"> Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Aenean lacinia bibendum nulla sed consectetur. </a>
				<p>"...Aenean lacinia bibendum nulla sed consectetur. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec sed odio dui. Maecenas faucibus mollis interdum..."</p>
			</div>
		</li> 
	</ul>
	</ul>
</div>
