<div class="fields">
	<div class="control-group">
		<label class="control-label settings-label"><%= t('freshfone.admin.number_settings.wait_message') %></label>
		<div class="controls">
			<div class="freshfone-controls on_hold_message"></div>
		</div>
	</div>
	<div class="control-group">
		<label class="control-label settings-label"><%= t('freshfone.admin.number_settings.non_availability_message') %></label>
		<div class="controls">
			<div class="freshfone-controls non_availability_message"></div>
		</div>
	</div>
	<div class="control-group">
		<label class="control-label settings-label"><%= t('freshfone.admin.number_settings.voicemail_message') %></label>
		<div class="controls">
			<div class="freshfone-controls voicemail_message"></div>
		</div>
	</div>
</div>
