<div id="timespent_container" class="timespent_container">
	<div class="context_info">
		<div class="group_by">
			Total time spent by resolved tickets split by 
			<select name="group_by" class='select2 dropdown'>
			</select>
			<span rel="suffix">in each group</span>
		</div>
		<div class="controls">
			Show:
			<input type="radio" name="type" id="total_hours" value="total" checked/><label for="total_hours"> Total time</label>
			<input type="radio" name="type" id="average" value="average" /><label for="average"> Average time</label>
		</div>
		<div class="clear"></div>
	</div>
	<div class="graph" id="timespent_graph">
			
	</div>
</div>
<script>
	jQuery(document).ready(function () {
		 err = <%= @filter_err ? @filter_err.to_json.html_safe : false %>;
		var locals = HelpdeskReports.locals;
		var last_dump_time = <%= @last_dump_time ? t('helpdesk_reports.last_updated',{last_dump_time: @last_dump_time}).to_json.html_safe : false %>
		locals.current_type = "total";
		locals.chart_hash  = { data: <%= @data.to_json.html_safe %> };
		
		if (!err && locals.chart_hash.data.length !== 0) {
            HelpdeskReports.ChartsInitializer.TimeSpent.init(locals.chart_hash);
        } else if (!err && locals.chart_hash.data.length === 0) {
            var div = ['timespent_container'];
            HelpdeskReports.CoreUtil.populateEmptyChart(div, I18n.t('helpdesk_reports.no_data_to_display_msg'));
        } else {
            var div = ["timespent_container"];
            HelpdeskReports.CoreUtil.populateEmptyChart(div, err);
        }  
	    if (last_dump_time){
            jQuery("#last-updated").html(last_dump_time);   
            jQuery(".reports-title").addClass('updated-time')
        } else{
            jQuery(".reports-title").removeClass('updated-time')
        }
	});
</script>
