<li id="recent_ticket_<%= id%>" class="spotlight_result recent_tickets_li">
	<a href="<%= path %>" data-pjax="#body-container">
		<i class="helpdesk_ticket_icon"></i>
		<%= subject %> (#<%= displayId %>)
	</a>  
</li>