<li id="recent_search_<%= id%>" class="spotlight_result recent_searches_li">
	<a href="<%= path %>" data-pjax="#body-container">
		<i class="recent_search_icon"></i>
		<%= content %>		
		<i class="pull-right recent_search_cross_icon"></i>		
	</a>  
</li>