/*
  @@ Demo
*/
#jpagescontent {
  margin: 0;
  padding: 20px 0px;
  list-style-type: none;
}

/*
  @@ Pagination
*/
.jpagesholder { margin: 5px 0; }

.jpagesholder a {
  font-size: 12px;
  cursor: pointer;
  margin: 0 5px;
  color: #333;
}

.jpagesholder a:hover {
  background-color: #222;
  color: #fff;
}

.jpagesholder a.jp-previous { margin-right: 15px; }
.jpagesholder a.jp-next { margin-left: 15px; }

.jpagesholder a.jp-current, a.jp-current:hover { 
  color: #ed4e2a;
  font-weight: bold;
}

.jpagesholder a.jp-disabled, a.jp-disabled:hover { color: #bbb; }

.jpagesholder a.jp-current, a.jp-current:hover,
.jpagesholder a.jp-disabled, a.jp-disabled:hover {
  cursor: default; 
  background: none;
}

.jpagesholder span { margin: 0 5px; }