<div class="sidepanel">
    <h3 class="title"><%=t('automations.title')%></h3>
    <p><%=t('automations.helptext')%></p> 
    <%= tour_button(t('automations.tour'), '501a5b7ee13a46792b0000d8') %>
</div>