<h3 class="title">Edit Scenario</h3>
<% form_for :va_rule, @va_rule, :url => admin_automation_path, :html => { :method => :put , :id => "Automations" } do |f| %>
	<%= render :partial => "form", :locals => { :f => f } %>
<% end %>
