<% content_for :sidebar do %>
 <%= render :partial => "helpnote_without_tour" %>
<% end %>

<%= include_stylesheets :pattern %>
<h3 class="lead"><%=t('automations.new')%></h3>
<% form_for :va_rule, @va_rule, :url => admin_automations_path, :html => { :method => :post , :id => "Automations" } do |f| %>
	<%= render :partial => "form", :locals => { :f => f } %>
<% end %>
