<% content_for :layoutType do %>single<% end %>
<h3 class="title">New Scenario</h3>
<% form_for :va_rule, @va_rule, :url => admin_automations_path, :html => { :method => :post , :id => "Automations" } do |f| %>
	<%= render :partial => "form", :locals => { :f => f } %>
<% end %>
