<% content_for :sidebar do -%><%- end %>
<h3 class="title"><%=t('.title')%></h3>
<% form_for(@ca_response, :url => admin_canned_responses_folder_response_path(params[:folder_id], @ca_response.id), :html => {:id => "edit_canned_response", :multipart => true }) do |f| %>
	<%= render :partial => "form", :locals => { :f => f, :ca_response => @ca_response } %>
<% end %>
