<% (params[:filter] == "agent" || params[:filter] == "returnVisitor" || params[:filter] == "online")? @page_title = "Visitors List" : @page_title = "Chat Archive" %>

<div id="chat-splash" class="sloading loading-block"></div>