<% (params[:filter] == "archive")? @page_title = "Chat Archive" : @page_title = "Visitors List" %>

<div id="chat-splash" class="sloading loading-block"></div>
<% javascript_tag do %>
	window.chat_action = "<%=params[:filter]%>";
<%end%>