<li class="new_email">
	<span class="remove_pad ue_cancel_email ue_action_icons ficon-minus fsize-12"></span>
	<input class="useremail cont text ue_input fillone" placeholder = "Enter an email" autocomplete="off" id="email_sec_new<%= email %>" name="<%= att_name %>[email]" size="30" type="text">
	<input name="<%= att_name %>[primary_role]" class="ue_primary" type="hidden" value="0">
</li>