<div class="sidepanel wordwrap">
	<h3 class="title"><%=t('.title').html_safe%></h3> 
	<p><%=t('.info1').html_safe%></p>
	<p><%=t('.info2').html_safe%></p>
	<% if current_account.features_included?(:whitelisted_ips) %>
	<p><%=t('.info3').html_safe%></p>
	<% end %>
</div>