	<div class="fields">
		<%= application_form.error_messages %>
		<%= hidden_field_tag  :application_id,  params[:application_id] %> 
		<% unless @installing_application.options.blank?%>
			<% @installing_application.options.each do |input_key, input_value|

				if is_edit
					all_field_values = @installed_application.configs[:inputs] unless @installed_application.configs.blank?
					field_value = all_field_values[input_key.to_s] unless all_field_values.blank?
				else
					field_value = input_value[:default_value]
			    end
				puts "field_value "+field_value.to_s

				# TODO: In case of edit these values should be obtained from @installed_application variable to make it upgrade(in case if we introduce new param for any installed app) proof. 
				field_name = input_key.to_s
				unless input_value.blank?
					field_label = t(input_value[:label])
					field_info = t(input_value[:info])
					field_dom_type = input_value[:type]
					field_required = input_value[:required]
				%>
				<%= construct_ui_element :configs, field_name, field_label, field_dom_type, field_required, field_value %>
				<%= content_tag(:div, field_info, :class => "info-data") unless input_value[:info].blank? %>
				<span class="seperator"></span>
			<% end
			  end %>
		<% end %>
	</div>