<div class="sidepanel wordwrap">
  <h3 class="title"><%=t('integration.helpcard.title1')%></h3>
  <p><%= t('integration.helpcard.info1')%></p>
  <h3 class="title"><%=t('integration.helpcard.title2')%></h3>
  <p><%= t('integration.helpcard.info2')%></p>
</div>