<li id="onedrivejs">
   <a href="#onedrive-modal"
      class="dropbox_button"
      name="selected-file"
      id="onedrive-chooser"
      rel="freshdialog"
      data-title="<%= t('integrations.onedrive.deprecated_title') %>"
      disabled="disabled"
      data-template-footer="false"
      data-template-body="<div class='modal-body'><%= t('integrations.onedrive.deprecated_message').html_safe %><div>"
      data-backdrop="true"
      data-classes="slider">
        <%=I18n.t('onedrive_attach_from_text').html_safe%>
    </a>
</li>

