<div id="transfer-agent">
	<div class="closeDialog">x</div>
	<div class="visitor-details">
		<h3 class="grey"><%=i18n.transfer_agent%></h3>
		<h4><%=i18n.agent_transfer_msg%></h4>
		<div class="agent-list">
			<input type="text" placeholder="<%= i18n.search_agent %>..." class="agent-search"/>
			<div class="agent-scroll"></div>
		</div>
		<div class="visitor-actions">
			<input type="button" value="<%=i18n.cancel%>" class="cancelBtn btn btn-secondary"/>
			<input type="button" value="<%=i18n.transfer%>" class="saveBtn btn btn-primary"/>
		</div>
	</div>
</div>
