.from-to-wrapper {
	padding: 5px;
	color: #aaa;
	border: 1px solid #f1f1f1;
	@include border-radius(3px);
	margin-bottom: 10px;
	word-break:break-all;
}
.mail-options {
	@include margin(5px 0 10px 0);
	.option {
		@include margin-right(5px);
	}
}

.field {
	margin-top: 15px;
	label {
		display: block;
		margin-bottom: 5px;
	}
}
.side-widget {
	@include transform(translate3d(0, 0, 0));
	.side-header {
		width: 100%;
		margin-bottom: 10px;
		.hs_btnCtaSml {
			margin-top: 0;
		}
		.hs_userName {
			font-weight: 300;
			font-size: 16px;
			line-height: 25px;
		}
	}
}

.create-form-wrapper {
	height: 400px;
	overflow-y: scroll;
	.field {
		&.dropdown_blank, &.dropdown {
			@include float(left);
			width: 49%;
			@include margin-right(1%);
		}
	}
}
.ticket_show {
	@include padding(10px 0);
	.leftcontent, .rightcontent {
		height: 400px;
		overflow-y: scroll;
		@include float(left);
		@include box-sizing(border-box);
	}
	.leftcontent {
		width: 65%;
		@include border-right(1px solid #ddd);
	}
	.rightcontent {
		width: 35%;
		@include padding(0 10px 0 20px);
		.ticket-fields {
			height: 350px;
			overflow-y: scroll;
			@include padding-right(20px);
		}
	}
	h2.subject {
		display: none;
	}
	.more-wrapper {
		text-align: center;
		margin-bottom: 10px;
	}
	.show_all {
		text-align: center;
		@include border-radius(25px);
		padding: 10px 15px;
		background-color: #00aeef;
		color: #FFF;
		display: inline-block;
	}
	.add-note-wrapper {
		margin-bottom: 15px;
		padding-bottom: 15px;
		width: 100%;
		.hs_btnCtaSml {
			margin-top: 0;
		}
	}
	input[type=checkbox] {
		@include margin(5px 0 0 5px);
	}
}
.ticket-header {
	background: #0C4E50;
	color: #fff;
	padding: 8px;
	width: 100%;
	@include box-sizing(border-box);
	.#{$font-class}freshdesk {
		font-size: 28px;
		color: #fff;
	}
}
.ticket-header .ticket-options {
	float: right;
	margin-top: 6px;
}
.ticket-options li {
	@include float(left);
	@include margin-right(20px);
	cursor: pointer;
	font-size: 18px;
	@include opacity(0.5);
	position: relative;
	padding: 1px;
	&:hover {
		@include opacity(1);
	}
	.#{$font-class}edit {
		font-size: 23px;
		margin-top: -4px;
		display: block;
	}
	.#{$font-class}reply {
		font-size: 19px;
		margin-top: -2px;
		display: block;
	}
	&.active {
		@include opacity(1);
		&::before {
			content: "";
			width: 0;
			height: 0;
			position: absolute;
			border: 7px solid transparent;
			border-bottom: 7px solid #fff;
			top: 16px;
		}
	}
	&.line-separator {
		border-right: 1px solid #fff;
		width: 1px;
		height: 4%;
		@include margin(0 20px 0 10px);
	}
	&.view-icon {
		@include margin-right(10px);
		@include opacity(1);
		a {
			color: #fff;
		}
	}
}
.tkt-title {
	line-height: 25px;
	font-size: 15px;
	@include margin-left(5px);
	@include float(left);
	width: 75%;
	color: #fff;
}

.tkt-wrapper{
	margin: 10px auto;
	overflow: visible;
	position: relative;
	@include text-align(left);
	padding-bottom: 20px;
	color: #333;
}

#toggle-note-visibility {
	display: block;
	position: relative;
	margin: 10px 0 0;
	width: 100%;
	label {
		position: relative;
		top: 3px;
	}
}
	
.conversation_thread {
	@include padding(0 20px 0px 0px);
	list-style: none;

	.conversation{
		margin-bottom: 22px;
		position: relative;
		border: 1px solid #bbb;
		border-radius: 3px;

		&.original-request {
			background: #fefef0;
		}
		&:hover {
			.avatar-wrap, .commentbox {
				border-color: #bbb;
			}

			.commentbox:before {
				@include border-right-color(#bbb);
			}
		}
	}
}

/*Comment-box*/
.commentbox{
	position: relative;
	margin-top: 0px;
	display: block;
	@include margin-left(40px);
	padding: 10px;
	line-height: 150%;
	@include min-height(30px);
	@include border-radius(4px);

	.actions {
		display: none;
	}
	
	.author-mail-detail{
		margin: 0;
		color: #a2a19f;
		@include text-align(left);
		padding: 0;
		line-height: 130%;
		a{ font-weight:bold; }

		.ticket-details-twitter {
			width: 200px;
			@include float(right);
			margin: 0 10px;
			@include text-align(right);

			.twitter-logo{				
				display: inline-block;
				width: 17px;
				height: 16px;
				@include margin-right(5px);
				position: relative;
				top: 3px;
			}

			a{ font-weight: normal; }
		}
	}

	.details, #ticket_original_request {
		margin-top: 30px;
		overflow-x: auto;
		@include text-formatting();
		table, table td, table th {
			border: none;
		}

		.freshdesk_satisfaction_survey {
			display: none;
		}
	}

	&.private-note .helpdesk_note {
		@include border-left(solid 1px #e9e9e9);
		display: block;
		@include margin(-20px 0 0 20px);
		@include padding-left(10px);
	}
	&.commentbox-social {
		.helpdesk_note{
			@include border-left(0);
		}
		.commentbox-social-icon{
			position:relative;
			top:6px;
			color:#999;
			font-size:23px;
		}
	}

}
.ticket_show .avatar-wrap {
	width: 25px;
	height: 25px;
	border-radius: 50%;
	z-index: 100;
	background: #fff;
	border: 1px solid #eee;
	@include margin(10px 0 0 8px);
	@include text-align(center);
	@include float(left);
	.preview_pic {
		display: inline-block;
		margin: 0;
		@include float(none);
		img {
			position: relative;
			top: 0;
			height: 100%;
			width: 100%;
		}
	}
	.avatar {
		@include border-radius(50%);
		position: relative;
		top: 2px;
	}
	&:hover{
		text-decoration: none;
	}
}

#ticket_original_request div {
	margin: 10px 0;
}

.attach-wrapper{
	color: #333333;
	.invalid_attachment {
			text-decoration: line-through;
		}
	.attachment_contents {
		width: auto;
		.alert-text{
			color:red;
		}
	}
}

.attachments-wrap{
	color: #333333;
	
	.attachments-container { display: inline; }

	.attachment_contents {
		@include float(left);
		width: auto;
		.alert-text{
			color:red;
		}
		.invalid_attachment {
			text-decoration: line-through;
		}
	}

	.attachment_list {
		display: inline;
	}
	span{
		@include margin-right(0);
		b{
			color: #999999;
		}
	}
	h5{
		font-size: 12px;
		font-weight: bold;

	}

	.attachment-type {
		margin: 0;
		@include padding(3px 0 3px 25px);
		width: auto;
		height: 14px;
		display: inline-block;
	}

	.attachment-close{		
		display: inline-block;
		width: 9px;
		height: 9px;
		@include margin-right(10px);
	}

	.attachment_list{
		margin-top: 10px;
	}
	.attachment, div.item{
		background: rgba(255,255,255,0.4);
		border: 1px #e8e8e8 solid;
		@include border-radius(4px);
		padding: 0 10px;
		color: #1272de;
		font-size: 12px;
		margin: 5px;
		@include float(none);
		display: inline-block;
		min-height: 20px;
		height:auto !important;
		width: auto;
		min-width: 100px;
		@include margin-left(0);
		margin-bottom: 0;
		span{
			color: #999999;
		}
		img{
			vertical-align: middle;
		}

		&:hover {
			background: rgba(255,255,255,0.4);

			a {
				color: #6699cc;
			}
		}
	}
}

.button-container {
	width: 100%;
	.hs_btnCtaSml {
		margin-top: 0;
	}
}
.alert-error {
	color: #a94442;
	background-color: #f2dede;
}

label.error {
	font-size: 13px !important;
  border: 1px solid #efefef;
  background: #fefcea;
  display: block;
  font-style: normal;
  margin: 2px -3px;
  padding: 8px 12px;
  color: #a90329;
}
.hs_error {
	margin-top: 40px;
	padding: 10px;
	text-align: center;
	border: 1px solid #E0E0E0;
	color: #6B6B6B;
}
.email-details{
	max-height: 200px;
	max-width: 400px;
	word-wrap: break-word;
	overflow: auto;
	margin: 0 -14px;
	padding: 0 10px;
	dl {
		margin-bottom: 0;
		dt{
				@include float(left);
				@include margin-left(0);
				color: #AAA;
				@include padding-right(0 5px 10px 0);
				min-width: 60px;
				@include text-align(right);
				font-weight: normal;
		}
		dd {
			@include margin-left(65px);
			padding-bottom: 10px;
		}
	}
}
.seperator {
    border-bottom: 1px solid #efefef;
    font-size: 0;
    display: block;
    height: 1px;
    margin: 5px 0;
}
.attachments-wrap {
    color: #333333;
    h5 strong{
    	font-size: 12px;
    	font-weight: bold !important;
	}
}
.attachment_list .attachment{
	min-height: 45px !important;
	.delete{
		display:none;
	}
	.attach_content{
		width:100px;
	}
}
.q-marker, .archive-q-marker {
  display: inline-block;
  background-color: #efefef;
  border: 1px solid #dfdfdf;
  cursor: pointer;
  line-height: 4px;
  letter-spacing: -3px;
  text-align: center;
  font-size: 14px;
  font-family: monospace;
  border-radius: 4px;
  padding: 2px 9px 8px 9px;
  margin-top: 20px;
  color: #333;
}
.q-marker:before, .archive-q-marker:before {
  content: "...";
  text-align: center;
  margin-left: -3px;
}
.info-highlight{
	font-size:13px;
	margin:0;
	padding:10px 18px;
	color:#666666;
	border:1px solid darken(#f4f4e9, 5%);
	background-color:#fffbee;
	div{
		padding:6px;
	}
}
.twitter-form{
	.fields{
		padding:5px 0;
	}
	#tweet_type{
		width: 150px;
  }
}