<tr class="<%= cycle('stripe', '') %>">
  <!--td class="check">
    <%= check_box_tag('ids[]', article.to_param,  false, :class => 'selector') %>
  </td-->
  <td class="article">
    <h3>
      <%= link_to article.title , edit_solution_category_folder_article_path(article.folder.category_id,article.folder.id, article) %>
    </h3>
  </td>
  
</tr>
