<!--  Header section -->
<div rel="sticky" class="cb tickets-title">
	<h3 class="lead pull-left"> <%= t('ticket.compose.send_email') %></h3>
	<div class="btn-toolbar pull-right">
		<%= link_to t('cancel'), (@item.new_record? ? {:action => 'index'} : @item ), :class => "btn" %>
		<span class="btn-group dropdown">
			<button class="btn btn-primary" data-loading-text="Sending...">
				<%= t('ticket.compose.send') %>
				<button class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
					<span class="caret"></span>
				</button>
			</button>
			<ul class="dropdown-menu pull-right">
				<li>
					<%= link_to t('ticket.compose.send_and_new').html_safe, compose_email_helpdesk_tickets_path, :name => "action_save", :id => "compose_and_new" %>
				</li>
			</ul>
		</span>  
	</div> 
</div>
