<div class="attachment-wrapper">
	<%= render(:partial => "/helpdesk/tickets/show/attachment_form", :formats => [:html], :locals => { 
		:attach_id => "ticket" , 
		:nsc_param => object_name
		}) %>

</div>

<div class="attachments-wrap clearfix" id="prev-attachments">
	<ul class="attachment_list">

		<% if object_name == "template_data" 
			item = @tkt_template
			priv = true
			obj = "ticket_template"		
	    else 
			item = @ticket
			priv = privilege?(:edit_ticket_properties)
			obj = "ticket"
		end %>

		<% item.all_attachments.each do |attached| %> 
			<%= attachment_list(attached, priv, obj, item.id) %>
		<% end %>

		<% item.cloud_files.each do |cloud_file| %> 
			<%= attachment_list(cloud_file, priv, "cloud_file",nil) %>
		<% end %>
	</ul>
</div>