<div class="attachment-wrapper">
	<%= render(:partial => "/helpdesk/tickets/show/attachment_form", :locals => { 
		:attach_id => "ticket" , 
		:nsc_param => "helpdesk_ticket",
		:original_attachments => {
			:regular => @item.attachments.empty? ?  [] : @item.attachments,
			:cloud_files => @item.cloud_files.empty? ?  [] : @item.cloud_files
		}
		}) %>
</div>