<!--  Header section -->
<div rel="sticky" class="cb tickets-title">
	<h3 class="lead pull-left"><%= t("ticket.submit_tracker_new_title") %></h3>
	<div class="btn-toolbar pull-right">
		<%= link_to t('cancel'), :back, :class => "btn" %>
		<button class="btn btn-primary" id="newticket-submit" data-loading-text="<%= t('ticket.submit_loading')  %>">
			<%= t('save')  %>
		</button>
		</span>  
	</div> 
</div>