<div class='new-ticket-sidebar'>
	<div id="child_select_template_wrapper" class='new-ticket-sidebar-content'>
		<%= render :partial => "helpdesk/tickets/ticket_widget/integrations" , :locals => {:from_page => from_page } %>
	</div>
</div>