<div class='new-ticket-sidebar'>
	<div class='new-ticket-sidebar-content'>
		<% if Account.current.plugs_enabled_in_new_ticket? %>
			<%= render :partial => "helpdesk/tickets/ticket_widget/integrations" , :locals => {:from_page => from_page } %>
		<% end %>
	</div>
</div>