<% content_for :layoutType do%>single<% end %>
<div class="pageContent">
	<div class="admin">
	<h3 class="content_title">Helpdesk</h3>
	<ul class="icon_grid">
		<li>
			<a href="ticket_fields">
				<img src="/images/icons/curriculum_vitae.png" width="40px" height="40px" />
				<em>Ticket Fields</em>
			</a>
		</li>
		<li>
			<a href="<%= edit_account_path %>">
				<img src="/images/icons/helpdesk_branding.png" width="40px" height="40px" />
				<em>Helpdesk Rebranding</em>
			</a>
		</li>
		<!--li>
			<a href="#">
				<img src="/images/icons/magic_wand.png" width="40px" height="40px" />
				<em>Workflow Buttons</em>
			</a>
		</li-->
		<li>
			<a href="email_configs">
				<img src="/images/icons/email_setting.png" width="40px" height="40px" />
				<em>Email Settings</em>
			</a>
		</li>
		<li>
			<a href="/helpdesk/sla_policies">
				<img src="/images/icons/clock.png" width="40px" height="40px" />
				<em>SLA Policy</em>
			</a>
		</li>
		<li>
			<a href="va_rules">
				<img src="/images/icons/virtual_agent.png" width="40px" height="40px" />
				<em>Virtual Agent</em>
			</a>
		</li>
		<li>
			<a href="automations">
				<img src="/images/icons/settings.png" width="40px" height="40px" />
				<em>Scenario Automations</em>
			</a>
		</li>
		<!--li>
			<a href="#">
				<img src="/images/icons/tag.png" width="40px" height="40px" />
				<em>Tags</em>
			</a>
		</li-->
		
		<li>
			<a href="<%= products_path %>">
				<img src="/images/icons/cloud.png" width="40px" height="40px" />
				<em>Products</em>
			</a>
		</li>
	</ul>
	</div>
	<div class="admin even">
	<h3 class="content_title">People & Roles</h3>
	<ul class="icon_grid">
		<!--li>
			<a href="#">
				<img src="/images/icons/user.png" width="40px" height="40px" />
				<em>Users</em>
			</a>
		</li-->
		<li>
			<a href="agents">
				<img src="/images/icons/agent.png" width="40px" height="40px" />
				<em>Agents</em>
			</a>
		</li>
		<!--li>
			<a href="#">
				<img src="/images/icons/star.png" width="40px" height="40px" />
				<em>Roles</em>
			</a>
		</li-->
		<li>
			<a href="groups">
				<img src="/images/icons/agent_groups.png" width="40px" height="40px" />
				<em>Groups</em>
			</a>
		</li> 
	</ul>
	</div>
</div>