<div class="pageContent">
	<h3 class="content_title">Helpdesk</h3>
	<ul class="icon_grid admin">
		<li>
			<a href="ticket_fields">
				<img src="/images/icons/curriculum_vitae.png" width="48px" height="48px" />
				<em>Ticket Fields</em>
			</a>
		</li>
		<li>
			<a href="#">
				<img src="/images/icons/magic_wand.png" width="48px" height="48px" />
				<em>Workflow Buttons</em>
			</a>
		</li>
		<!--li>
			<a href="#">
				<img src="/images/icons/mail_plain.png" width="48px" height="48px" />
				<em>Email Notifications</em>
			</a>
		</li--->
		<li>
			<a href="/helpdesk/sla_policies">
				<img src="/images/icons/clock.png" width="48px" height="48px" />
				<em>SLA Policy</em>
			</a>
		</li>
		<li>
			<a href="va_rules">
				<img src="/images/icons/virtual_agent.png" width="48px" height="48px" />
				<em>Virtual Agent</em>
			</a>
		</li>
		<!--li>
			<a href="#">
				<img src="/images/icons/tag.png" width="48px" height="48px" />
				<em>Tags</em>
			</a>
		</li-->
		<li>
			<a href="<%= edit_account_path %>">
				<img src="/images/icons/web_blue.png" width="48px" height="48px" />
				<em>Account Settings</em>
			</a>
		</li>
		<li>
			<a href="#">
				<img src="/images/icons/cloud.png" width="48px" height="48px" />
				<em>Products & Services</em>
			</a>
		</li>
	</ul>
	<span class="seperator"></span>
	<h3 class="content_title">People & Roles</h3>
	<ul class="icon_grid admin">
		<!--li>
			<a href="#">
				<img src="/images/icons/user.png" width="48px" height="48px" />
				<em>Users</em>
			</a>
		</li-->
		<li>
			<a href="agents">
				<img src="/images/icons/brainstorming_alternative.png" width="48px" height="48px" />
				<em>Agents</em>
			</a>
		</li>
		<!--li>
			<a href="#">
				<img src="/images/icons/star.png" width="48px" height="48px" />
				<em>Roles</em>
			</a>
		</li-->
		<li>
			<a href="groups">
				<img src="/images/icons/user_group.png" width="48px" height="48px" />
				<em>Groups</em>
			</a>
		</li> 
	</ul>
</div>