<% if (obj.dom_type === 'encrypted_text') { %>
	<div class='encrypted-field-banner'>
		<label class='encrypted-field-banner-text'> <%= translate.get('encrypted_field_banner_text') %> </label>
	</div>
<% } %>