<div id="nestedEdit" class="nested-edit-wrapper">
	<h3 class='title'> 
		<%= translate.get('dropdown_items_edit') %>
	</h3>
	<a href="#" id="nestedDoneEdit" class="button-link pull-right"><%= translate.get('preview') %></a>
    <div class="alert m0 mb5 mr5">
    <%= unescapeHtml(translate.get('nestedfield_helptext')) %>
    </div>
  	<textarea id="nestedTextarea" rows="15" name="nestedTextarea" class="paragraph" rel="nestedfield"></textarea>
</div>