<div class="section-header" id="section-header">
	<%=JST['custom-form/template/section_header']({obj : obj, types : types}) %>
</div>
<ul class="section-body">
	<!-- <div class="section-empty"><i class="ficon-notice-o fsize-20"></i>Drop Something Here.</div> -->
</ul>