<div class="section-header" id="section-header">
	<%=JST['custom-form/template/section_header']({obj : obj, types : types}) %>
</div>
<div class="default-error-wrap">
	<label class="default-error-text"> <%= translate.get('default_field_error') %> </label>
</div>
<ul class="section-body">
</ul>