<div class="section-wrapper" id="section-wrapper">
	<a href="#" id="new-section" class="new-section">
		<i class="rounded-add-icon fsize-12"></i>
		<%= section_label %>
	</a>
	<ul id="section-container" class="section-container"></ul>
</div>