<% content_for :layoutType do -%>single<%- end %>
<div class="header_area">
	<h3 class="title">Edit Forum Category</h3>
</div>
<div class="page_area">
	<% form_for :forum_category,@forum_category, :url => category_url , :html=>{:method=>:put}  do |f| -%>
	  <%= f.error_messages %>
	  <%= render :partial => "/shared/name_desc", :locals => { :form => f, :type => "edit" } %>
	
	  <div class="button-container">
	    <%= submit_tag 'Update'[:update], { :class => "fdbutton",  :action => :update } -%> 
		<%= link_to('Cancel'[:cancel], categories_path, :class => "fdbutton grey" ) -%>
	  </div>
	<% end %>
</div>

