<h1>Editing forum_category</h1>

<% form_for :forum_category,@forum_category, :url => category_url , :html=>{:method=>:put}  do |f| -%>
  <%= render :partial => "/shared/name_desc", :locals => { :form => f, :type => "edit" } %>

  <p>
    <%= submit_tag 'Update'[:update], { :class => "fdbutton",  :action => :update } -%> 
	<%= link_to('Cancel'[:cancel], categories_path, :class => "fdbutton grey" ) -%>
  </p>
<% end %>

