<% content_for :layoutType do %>single<% end %>

<% @monitoring = logged_in? && !Monitorship.count(:id, :conditions => ['user_id = ? and active = ?', current_user.id, true]).zero? %>
<div>
	<div class="header_area no_padding">
		<div class="right_panel">
			<% if admin? %>
	  			<%= link_to '<img src="/images/add.png" /> New Forum Category'[:create_new_category], new_category_path, :class => "fdbutton" %>
			<% end %> 
		</div>
		<%= link_to("Forums"[:forums_category], categories_path, :class => "page_title") %>
	</div>
	<div class="forum_list">
		<% @forum_categories.each do |forum_category| %>
				<%= render :partial => "forum_shared/category", :object => forum_category %>
		<% end %>
	</div>
</div>


