<% content_for :helpcard do %>
  <%= render :partial => "helpnote" %>
<% end %>
<div class="list-page product-page" id="multi-product-index">
	<%= render :partial => 'header', :locals => { :active => :portals }  %>
	<div class="list-page-body" id="multi-product-list">
		<table class="table table-striped">
			<%= render :partial => 'portal', :collection => current_account.portals %>
			<%= render :partial => 'product', :collection => @products %>
		</table>
	</div>
</div>
