<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
   "http://www.w3.org/TR/html4/loose.dtd">

<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <style type="text/css" media="screen">
      body {
        font-family: "monaco", "georgia";
        font-size:0.75em;
      }
      h3 { color: #000; }
      ul { list-style: none; }
    </style>
</head>
<body>
Hi, <br/><br/>

Your Google contacts import has been finished successfully.  Please check the imported contacts under Contacts tab.<br/><br/>

Thanks,<br/>
Freshdesk Team.<br/>
</body>
</html>
