<p>
Hi,

</p>
<p>

We could not import all the contacts from Google. The reason may be the <%=reason%>. Please try again, if you continue to get the problem contact the support.
</p>
<p>
Regards
Freshdesk Team
</p>
