<p>Dear <%= @user %>,</p>
<p>Your import from Zendesk has been successful. Awesome.</p>
<p>
We are happy that you have decided to make the right jump here, and we hope that you like our Freshness. 
</p>
<p>
If you have questions, please write to <a href='mailto:support@freshdesk.com'>support@freshdesk.com</a>.
</p>
<p>Regards</p>
<p>Team Freshdesk</p>