<p>
Dear User,

</p>
<p>

We couldn't import data from zendesk. The reason may be the zendesk credentials are not matching. Please enter the credentials correctly and re-try
</p>
<p>
Regards
Freshdesk Team
</p>