<p>
Hello <%= @user %>,
 
</p>
<p>
 
The import process failed because you uploaded an export file of the wrong type. The import feature requires a full XML export from Zendesk. You can follow the instructions below to get the Full XML export from Zendesk.
</p>
<p>
	<ol>
		<li>Click on the Manage icon in the sidebar, then select Reports.<br/>
		In Zendesk Classic: Select the Manage menu, then select Reporting.
		<li>Click the Export tab.</li>
		<li>Click on Full XML export and select Generate.</li>
	</ol>
</p>
<p>
Regards,
<br/>
Freshdesk Support
</p>
