<p>
Hello User,
 
</p>
<p>
 
The import process failed because you uploaded an export file of the wrong type. The import feature requires a full XML export from Zendesk. You can follow the instructions below to get the Full XML export from Zendesk.
<br/><br/>
1. Click on the Manage icon in the sidebar, then select Reports.<br/>
&nbsp;&nbsp;&nbsp;In Zendesk Classic: Select the Manage menu, then select Reporting.<br/>
2. Click the Export tab.<br/>
3. Click on Full XML export and select Generate.<br/>
</p>
<p>
Regards,
<br/>
Freshdesk Support
</p>
