.ficon-incoming-call, .ficon-outgoing-call{
	color: #699E5A;
    font-size: 25px;
}

.ficon-no-arrow-left, .ficon-no-arrow-right{
	color: #C05858;
    font-size: 25px;
}

.ficon-abandoned-call{
	color: #E6B4B4;
    font-size: 25px;
}

.ficon-blocked-call{
	color: #CDCDCD;
    font-size: 25px;
}
