// Global settings
@import "../settings/settings";
$rtl:false;
// Freshfone styles
@import "variables";
@import "client/sprites";
@import "client/client_main";
@import "client/ongoing";
@import "client/outgoing";
@import "client/notification";