//Base 
@import "../settings/settings";
@import "variables";

.message-container {
	@include padding-left(140px);
	margin-top: 7px;
	.message-label {
		margin-top: 5px;
		@include margin-right(30px);
	}
	.message-input {
		padding: 5px;
		height:28px;
		max-height: 80px;
		max-width:470px;
		@include box-sizing(border-box);		
		display: block;
	}
	.message-file input {
		@include margin-left(20px);
		line-height: 0;
		margin-top: 3px;
	}
	.client-record {
		font-weight: 500;
		min-width: 120px;
		height: 30px;
		@include border-radius(6px);
		background-color: $ms-record-background;
		border: 1px solid $ms-record-border;
		cursor: pointer;
		line-height: 10px;
		@include buttonBackground($btnBackground, $btnBackgroundHighlight, $grayDark, 0 1px 1px rgba(255,255,255,.75));
		span {
			width: 10px;
			height: 10px;
			@include margin-right(10px);
			@include margin-left(5px);
			@include float(left);
			display: inline-block;
			@include border-radius(50%);
			background-color: $ms-recording-background;
		}
	}
	.stop-recording {
		color: $ms-stop-recording-text;
		span {
			//@include animation(recording 1s linear infinite);
			-webkit-animation: recording 1s linear infinite;
			   -moz-animation: recording 1s linear infinite;
			        animation: recording 1s linear infinite;
		}
	}
	
	.mute {
		color: $ms-muted-text;
	}
	.record_voice, .upload_voice, .read_message {
		width: 38px;
		height: 26px;
		border: 1px solid $ms-type-selector;
		@include margin-left(0);
		background-repeat: no-repeat;
		background-position: 7px;
		cursor:pointer;
		&.current {
			background-color: $ms-active-type-background;
		}
	}
	.record_voice {	
		@include border-left-radius(6px);
		@include border-right(none);
	}
	.read_message {
		@include border-right-radius(6px);
		@include border-left(none);
	}
	.message_value_container {
		@include clear(both);
		display: block;
		@include margin-left(10px);
		margin-bottom: 5px;
		padding-top: 10px;
		width:100%;
	}
	.message-type{
		@include margin-left(-140px);
		width:140px;
	}
	.attach-file-done { 
		display: inline-block;
		width: 14px;
		height: 13px;
		@include margin-right(25px);
	}
	.attached_file, .recorded-message {
		border: 1px solid $ms-attachment-container-border;
		@include float(left);
		height: 30px;
		@include padding(6px 10px 3px 0);
		margin-top: -7px;
		@include border-radius(4px);
		&.preview {
			.ui360 {
				min-width: 10px;
			}
		}
	}
	.remove_attachment, .remove_recording {
		padding: 8px;
		color: $ms-remove-attachment-text;
		cursor: pointer;
		display: inline-block;
	}
	.cancel_recording, .cancel_attachment {
		cursor: pointer;
		color: $ms-remove-attachment-text;
		display: inline-block;
		margin-top: 8px;
		@include margin-left(7px);
	}
	.help_info {
		display: inline-block;
		margin-top: 8px;
		@include margin-left(7px);
	}
	.attached_file_name {
		display: block;
		@include float(left);
		margin-top: 7px;
		@include margin-left(10px);
		max-width: 280px;
	}
	.attached_file_link, .recorded_file_link {
		display: block;
		@include float(left);
		margin-top: -6px;
		.sm2_link {
			display: none;
		}
		.sm2-timing {
			color:#333 !important;
		}
		&.playing {
			width: 75px;
		}
		input[type="button"] {
			display:none;
		}
	}
	.ui360 .sm2-360ui.sm2_playing .sm2-360btn:hover + .sm2-timing {
		visibility:visible;
	}
	.ui360 .sm2-360ui.sm2_paused .sm2-360btn:hover + .sm2-timing,
	.ui360 .sm2-360ui.sm2_paused .sm2-timing {
		visibility:visible;		
	}
}

div.custom-file-upload {
	width: 170px;
	height: 28px;
	font-size: 13px;
	border: 1px solid $ms-custom-file-upload-border;
	@include margin-left(5px);
	@include float(left);
	cursor: pointer;
	@include buttonBackground($btnBackground, $btnBackgroundHighlight, $grayDark, 0 1px 1px rgba(255,255,255,.75));
	&:hover{
//		background: #efefef;
	}
	input[type='file']{
		z-index: 999999;
		@include border-radius(5px);
		width:90%;
		height:28px;
		@include opacity(0);
		cursor: pointer;
	}
	.file-upload{
		position: absolute;
	 @include left(15%);
		top: 1px;
		.file-upload-text{
			position: static;
			margin-top: 6px;
			display: inline-block;
			color: $ms-custom-file-upload-text;
			font-weight:normal;
		}
	}
}
//@include keyframes(recording) {
//	0% {
//		@include box-shadow(0px 0px 0px 1px rgba(239, 53, 53, 0.1), inset 0px 0px 0px 10px #EF3535);
//	}
//	50% {
//		@include box-shadow(box-shadow: 0px 0px 0px 1px rgba(239, 53, 53, 0.7), inset 0px 0px 0px 5px #EF3535, inset 0px 0px 0px 20px rgba(255,255,255,0.8));
//	}
//}
@-webkit-keyframes recording{
	0%{box-shadow: 0px 0px 0px 1px rgba(239, 53, 53, 0.1), inset 0px 0px 0px 10px #EF3535;}
	50%{box-shadow: 0px 0px 0px 1px rgba(239, 53, 53, 0.7), inset 0px 0px 0px 5px #EF3535, inset 0px 0px 0px 20px rgba(255,255,255,0.8);}
}
@-moz-keyframes recording{
	0%{box-shadow: 0px 0px 0px 1px rgba(239, 53, 53, 0.1), inset 0px 0px 0px 10px #EF3535;}
	50%{box-shadow: 0px 0px 0px 1px rgba(239, 53, 53, 0.7), inset 0px 0px 0px 5px #EF3535, inset 0px 0px 0px 20px rgba(255,255,255,0.8);}
}
@keyframes recording{
	0%{box-shadow: 0px 0px 0px 1px rgba(239, 53, 53, 0.1), inset 0px 0px 0px 10px #EF3535;}
	50%{box-shadow: 0px 0px 0px 1px rgba(239, 53, 53, 0.7), inset 0px 0px 0px 5px #EF3535, inset 0px 0px 0px 20px rgba(255,255,255,0.8);}
}