<% content_for :dialogs do %>
<div id="importholiday" class="hide">
	<%= form_for @business_calendar, :url => { :controller => "business_calendars", :action => "holidays_list" }, :html => { :id => "holiday_import" } do |f| %>
		<div class="row-fluid">
			<%= select "import_holiday", "import_holiday", [], 
													{}, { :class => "select2 span12", :id => "import_holiday" } %>
			<p><%= t('business_hours.import_holiday_info').html_safe %>	</p>
		</div>
	<% end %>
</div>

<script type="text/javascript">
	jQuery('#holiday_import').submit(function() {
	  var calendar_id = jQuery('#import_holiday').attr('value');

	  new Ajax.Request('/admin/business_calendars/holidays', 
	                   { parameters: {calendar_id: calendar_id},
	                   	  onLoading: function() {
	                   	  	jQuery(".modal-backdrop").remove();
	                   	  	jQuery("#importholiday").modal('hide');
	                   	  	jQuery("#HolidayList a.close").trigger('click');
	                   	  	jQuery("#HolidayList")
	                   	  		.before('<div id="HolidayListLoading" class="sloading loading-block"></div>')

	                      },
	                      onSuccess: function(response) {
	                      	jQuery("#HolidayListLoading").remove();

	                      	var holidays_list = response["responseJSON"];
	                      	for(var i = 0; i < holidays_list.length; i++){
	                      		addHolidaytoList(holidays_list[i][0], escapeHtml(holidays_list[i][1]));
	                      	}

	                     } });
	  return false;
	});
</script>

<script type="text/javascript">
    jQuery(document).ready(function() {
    	var fragment = document.createDocumentFragment();
    	jQuery.each( calendar_arr, function(i, calendar_list) {
    		var option = document.createElement("option");
    		option.setAttribute("value", calendar_list[1]);
    		option.innerText = calendar_list[0];
    		fragment.appendChild(option);
    	});
    	jQuery("#import_holiday").append(fragment);
    });

</script>

<%= javascript_include_tag 'cdn/admin/business_calendars/calendar_source_list' %>

<% end %>