<%= render :partial => "business_hours" %>

<h3 class="title"><%=t('business_hours.title')%></h3>
<% form_for :business_calenders, @business_calendar, :url => { :action => "update" }, :html => { :method => :put, :id => "BusinessHours" } do |f| %>
	<%= render :partial => "form", :locals => { :business_calendar => @business_calendar, :f => f } %>
<% end %>
	