<h1 class="page-title"><%=t('solution.title')%></h1> 
<h4 class="lead">Browse by Category</h4>		
<div>
	<%= render :partial => "/search/pagesearch", :locals => { :placeholder => t('solutions.search_all.placeholder'), :url => "/search/solutions?search_key=" } %>	
</div>

<hr />
<div id="categories-list">	
	{% for category in portal.solution_categories %}
		<h2>
			{{category.name}}
		</h2>
		<h4 class="help-text">{{category.description}}</h4>
		<div class="solution-folders">
			{% for folder in category.folders %}
			<div class="folder">				
				<h3 title="{{folder.name}}">
					{{folder.name | truncate: 60}}					
					{% if folder.solutions != empty %}
						<span href="#" class="label label-info">
							{{folder.solutions | size}} articles
						</span>		
					{% endif %}
				</h3>
				<p class="help-text">					
					{{folder.description | truncate: 120}}
				</p>				
				<ul class="article-list-mini">
					{% for solution in folder.solutions %}
					<li><a href="#">{{solution.title}}</a></li>
					{% endfor %}
				</ul>
			</div>
			{% endfor %}
		</div>
	{% endfor %}
</div>