<% content_for :helpcard do %>
	<%= render :partial => "helpnote_without_tour" %>
<% end %>

<h3 class="lead"><%=t('.title')%></h3> 
<hr>
<%= form_for @va_rule, :url => { :action => "create" } , :html => { :method => :post , :id => "VirtualAgent", :class => 'supervisor-form' } do |f| %>
	<%= render :partial => "/admin/shared/rule_form", :locals => { :f => f } %>
<% end %>