&.moderation, &.topic-show{
	#sticky_header {
		@include margin(0px -20px 0 -20px);
		@include padding(15px 20px 0 20px);
		border-bottom: 1px solid #CCC;
	}
}
#sticky_header {
	background-color: #FFF;
	padding-top: 15px;
	.ficon-search{
		font-size: 22px;
		@include margin-right(16px);
		cursor: pointer;
	}
	&.is_stuck {
		margin-top: 0;
		border-bottom: 1px solid #CCC;
		@include box-shadow(0 6px 6px -6px rgba(0, 0, 0, 0.15));
	}

	&.sticky_border {
		border-bottom: solid 1px #dadada;
	}

	.sticky_panel{
		@include pie-clearfix;
		height:36px;
	}

	.sticky_left {
		@include float(left);
		font-size: 14px;
	}

	.sticky_right {
		position: absolute;
		@include right(0px);
		.guided-tour-button{
			display: inline;
			@include padding(8px 8px 8px 33px);
			@if $rtl {
				@include padding(5px 8px 5px 33px);
				@include margin-right(15px);
				display: inline-block;
			}
		}
	}

	.btn-group {
		display: inline-block;
	}

	.btn .inline-icon {
		width: 16px;
		height: 16px;
		display: inline-block;
		@include margin(-2px 5px -3px 0px);
	}
}

/* Solution search */
.sticky_search_wrap {
	position: absolute;
	width: 100%;
	@include left(0);
	top: -200px;
	background-color: #fff;
	z-index: 10;
	box-shadow: 0px 2px 3px rgba(0,0,0,0.1);
	&.search-ani{
		top:0;
		@include transition(all 0.2s ease);
	}
	.ficon-search{
		color: #c1c1c1;
		position: absolute;
		@include left(15px);
		top: 25px;
	}
	input{
		height: 100%;
		width: 100%;
		padding: 24px 40px;
		margin-bottom: 0px;
		border: none;
		border-bottom: 1px #ccc solid;
		border-radius: 0;
		font-size: 19px;
  	line-height: 23px;
		box-sizing: border-box;
	}
	.search-hide{
		cursor: pointer;
		position: absolute;
		@include right(14px);
		top: 27px;
		font-size: 22px;
		color: #565656;
	}

	.community-search::-webkit-input-placeholder {
		font-weight: 300;
		font-size: 16px;
	}

	.community-search::-moz-placeholder {
		font-weight: 300;
		font-size: 16px;
	}

	.community-search::-ms-input-placeholder {
	  font-weight: 300;
		font-size: 16px;
	}
}