@import "../../settings/settings";

$sidebar_bg: #f2f4f4;
$sidebar_width: 270px;
$avatar_size: 39px;
$widget_avatar_size: 30px;

body.community {
	h1 {
		font-size: 19px;
		font-weight: 200;
		color: #000;
	}

	&.topic-show #inner{
			.leftcontent, .pagearea {
				padding-bottom: 0;
			}
	}
	
	.community-reorder-icon, .community-reorder-btn-icon {
		display: inline-block;
		width: 14px;
		height: 11px;
		vertical-align: middle;
	}
	@import "sticky";
	@import "show";
	@import "conversation";
	@import "topic_list";

	&.forms .controls .toggle-button {
		@include margin-left(0);
	}
	a.cl50{
		@include opacity(0.5);
		&:hover{
			@include opacity(1);
		}
	}
	.label-topic{
		position: relative;
		@include margin-right(6px);
		top: -3px;
		text-transform: uppercase;
		font-size: 10px;
		@include padding(2px 5px 3px 7px);
		background-color: #333;
	}

	.breadcrumb{
		// border:1px solid red;
		@include float(left);
		margin-top: -7px;
		margin-bottom: 0;
		li:after{
			content: "\002F";
			@include padding-left(8px);
			@include padding-right(7px);
		}
		li:last-child:after{
			content: none;
		}
	}
}

.reorder-icon .ficon-reorder{
	color: white;
}

.sub-action-list{
	@include pie-clearfix;
	margin-top: 3px;
	& > ul > li{
		@include float(left);
		@include margin-right(18px);
		[class*="ficon-"] {
			font-size: 18px;
			@include float(left);
			margin-top: -2px;
			@include margin-right(5px);
		}
	}
}


@import "community_sidebar";

.comm-item-title{
	padding-bottom: 3px;
}

// Move this to list scss
.list-panel-main{
	@include pie-clearfix;
	background-color: #E9EDED;
	border-top: 1px solid #D4D4D4;
	vertical-align:middle;
}

.list-actions-left{
	@include float(left);
	@include margin-left(5px);
	li{
		@include float(left);
		text-align: center;
		height: 35px;
		width: 35px;
		@include padding-left(5px);
		padding-top: 12px;
	}
}

.list-title{
	font-size: 20px;
	line-height: 2.4;
	font-weight: 200;
	@include padding-left(15px);
}

.list-actions-right{
	@include float(right);
	@include margin-right(12px);
	margin-top: 10px;
	@include margin-left(15px);
}

.list-query-panel{
	@include pie-clearfix;
	border-top: 1px solid #FFF;
	background-color: #F2F5F5;
	.lf-item{
		@include float(left);
		min-height: 20px;
		.item-sort{
			.dropdown-toggle{
				@include padding(10px 0px 10px 15px);
				margin: -10px 0px;
			}
			.caret{
				@include margin-right(15px);
			}
		}
	}
	.lf-item-right{
		@include float(right);
	}
	.lf-item, .lf-item-right{
		.item-checkbox, .item-sort, .item-filter, .item-matches{
			@include border-right(1px solid #FFF);
			@include padding(10px 16px 10px 17px);
		}
		.item-sort{
			padding: 10px 0;	
		}
		&.lf-btns{
			padding: 5px 16px 2px;
		}
	}
	.lf-hover:hover{
		background-color: #e2e5e5;
	}
	
	.lf-item-right{
		.item-checkbox, .item-sort, .item-filter, .item-matches{
			@include border-right(0);
		}
	}
	.dropdown-menu{
		margin-top: 9px;
		width: 220px;
		@include border-top-left-radius(0px);
		@include border-top-right-radius(0px);
		@include border-bottom-right-radius(5px);
		@include border-bottom-left-radius(5px);
		li.active > a{
			background: none;
			color: #333;
			&:before{
				position: absolute;
				@include left(10px);
			}
		}
		li > a:hover,
		li > a:focus,
		li.active > a:hover
		li.active > a:focus{
			background-image: none;
			background-color: #8a8a8a;
			@include transition(none);
			color: #fff;
		}
		a{
			padding:6px 30px;
		}
	}

	.lf-btns{
		padding-top: 5px;
		padding-bottom: 5px;
		min-height: 30px;
	}

	.lf-filter{
		cursor: pointer;
		min-width: 380px;
		a{ color: #000; }
		.filter-select{
			width: 250px;
		}
		.filter-stamps{
			@include margin-left(5px);
			position: relative;
			z-index: 1;
		}
		.select2-container{
			position: absolute;
			@include left(0);
		}
		.select2-choices{
			border-radius: 2px;
			margin-top: -6px;
			margin-bottom: 1px;
		}
		.select2-search-choice{
			background-image: none;
			background-color: #efefef;
			margin: 3px 2px;
			border: 1px solid #afafaf;
			box-shadow: none;
			font-weight: 600;
		}
	}
}

.categories-list-page .reorder-content{
		@include margin-left(15px);
}

.widget-icon-list{
	color: #999;
	cursor: default;
	display: inline-block;
	width: 16px;
}

.cursor-default{
	cursor: default;
}

.list-space{
	padding-bottom: 8px;
}

.indent-topic-merge-link{
	@include padding-left(19px);
}

// For Sticky Side navbar
body.community.moderation.cs-always-show {
	.comm-items, .no-data {
		@include margin-left(280px);
	}
	.notice{
		@include margin-left(300px);
	}
	#sticky_header{
		@include margin-left(265px);
		#cm-sb-toggle{
			display: none;
		}
	}
	
	.sidebar-close {
		display: none;
	}

	.community-sidebar {
		@include box-shadow(none);
	}
}

.modal-body {

	.delete-confirm-warning {
		background-color: #535353;
		color: white;
		overflow: hidden;
		border-radius: 4px 4px 0px 0px;
		padding: 15px;

		.delete-confirm-warning-icon{
			float: left;
			font-size: 40px;
			display: inline-block;
			margin-right: 30px;
			border-radius: 50%;
			background: white;
		}

		.delete-confirm-warning-message{
			display: inline-block;
			width: 80%;
		}

		p {
			margin: 0px;
		}
	}

	.delete-confirm-form {
		background-color: #EFEFEF;
		padding: 13px;
		padding-top: 20px;
		border-radius: 0px 0px 4px 4px;
		margin-bottom: -10px;
	}
}

.artical_section, .pagearea {
	.article-title-input {
		margin-right: -10px;
	}
	.draft-info-box {
		background-color: #fffee9;
		padding: 12px 0px;
		margin: -10px -20px 20px -20px;
		float: none;
		overflow: hidden;
		.btn-small {
		  background: #fffff5;
		  font-weight: 500;
		}
		.preview-draft-link{
			margin-right: 20px;
		}
		.draft-btn, .reload-btn {
			margin-left: 6px;
			cursor: pointer;
		}
	}
	.success{
		background-color: #fffee9;
		color: #333;
		.preview-draft-link, .discard-draft, .publish-draft {
			display:inherit;
		}

	}
	.error{
		background-color: #C6656F;
		color: white;
		.btn-small{
			background: #F8EFF0;
		}
		.draft-btn {
			display:none;
		}
		.preview-draft-link {
			color: white;
		}
	}
	.disabled {
		color: grey;
	}
	.prop-edit {
		margin-top: 10px;
		.article-properties {
			cursor: pointer;
		}
	}
}
.artical_section {
	.draft-info-box {
		padding: 12px 0px 12px 20px;
	}
}
.portal-preview-icon {
	margin-left: 10px;
}

/* Animations used in Confirm Delete */

.btnFadeIn{
	@include animation-name(btnFadeIn);
	@include animation-duration(0.05s);
	@include animation-fill-mode(both);
}

.btnFadeOut{
	@include animation-name(btnFadeOut);
	@include animation-duration(0.1s);
	@include animation-fill-mode(both);
}

@include keyframes(btnFadeIn) {
	0% {
  	@include opacity(0);
    @include margin-right(-170px);
  }

  100% {
  	@include opacity(1);
    @include margin-right(0);
  }	
}
@include keyframes(btnFadeOut) {
  0% {
  	@include opacity(1);
    @include margin-right(0px);
  }

  100% {
  	@include opacity(0);
    @include margin-right(-170px);
  }
}

#article-properties {
	.modal-body {
		max-height: 450px;
	}	
}
.artical-list {
	.article-title {
		.unpublished-title{
			color: #999;
		}
	}
}

/* Draft listing view */
	
.artical_section {
	.draft-titles{
		border-bottom: 1px solid #CCCCCC;
		margin: 0px -20px;
		padding-left: 20px;
		/*margin-right: 20px;*/
		.item {
			display: inline-block;
			margin-right: 20px;
			padding-bottom: 8px;
		}
		.active {
			border-bottom: 5px solid #CCCCCC;
			color: #444;
		}
		.portal-selector {
			margin-right: 20px;
			select {
				max-width: 200px;
			}
		}
	}
	#draft_list {
		line-height: 1.5em;
		.article-item:hover {
			background-color: #F5F5F5;
			.draft-edit-icon{
				display: inherit;
			}
			.mail-icon {
				display: none;
			}
		}
		.article-item {
			a.draft-edit-icon{
				margin-top: 10px;
				margin-right: 30px;
				display:none;
			}
			.mail-icon {
				margin-top: 10px;
				margin-right: 30px;
			}
		}

		a {
			font-size: inherit;
		}

		.muted .parent-link {
			color: grey;
		}
	}

	.portal-menu {
		margin-right: 20px;
		.all_categories {
			float: left;
		 	margin-right: 5px;
		}
	}

	.draft_info_data{
		font-size: 20px;
		margin-top: 20px;	
		color: #CCCCCC;
	}

	#article_list{
		.subject_style {
			/*@include border-radius(16px);*/
			background: #E5E5E5;
			color: #8F8F8F;
			font-size:13px;
			padding:3px 8px;
			line-height: 100%;
			/*font-weight: bold;*/
			/*text-transform: uppercase;*/
			display:inline-block;
			white-space:nowrap;
			border-radius: 3px;
			@include box-shadow(1px 1px 0 white);

			.draft_label_hover{
				background: #37A238;
				height: 10px;
				width: 10px;
				border-radius: 100%;
				position: absolute;
				@include margin-left(-14px);
				margin-top: 2px;
				@include box-shadow(inset 0px 0px 0px 1px #FFF);
			}
			&.draft_label{
				@include padding-left(20px);
				position:relative;
				&:before{
					content: "";
					background: #37A238;
					height: 10px;
					width: 10px;
					border-radius: 100%;
					position: absolute;
					@include margin-left(-14px);
					margin-top: 2px;
					box-shadow: inset 0px 0px 0px 1px #FFF;
				}
				&:hover{
					.draft_label_hover{ @include box-shadow(inset 0px 0px 0px 1px #000);}
				}
			}
		}
	}
}

#article-form {
	.preview_link{
		@include margin-right(10px);
	}
}

#drafts-section {
	#article-section {
		  margin-left: 0px;
		  border-left: none;
		  margin-left: -20px;
	}
}

.category-edit{
	@include border-right(1px solid #FFF);
}

.cat-title-border {
	font-size: 16px;
	border-top: 1px solid #ebebeb;
	padding-top: 6px;
	margin-top: 8px;
}