
@import "../../settings/settings";

/*Solution overlay tab customization*/
.tab-wrapper{
  .nav-tabs{
    border-bottom: 1px solid #9b9b9b;
    li{
      @include margin(0 20px 0 0);
      a{
        border: 0;
        background: none;
        @include padding-left( 0);
        @include padding-right(0);
        font-size: 14px;
        &:hover{
          background: none;
        }
      }
      &.active{
        a{

          border-bottom: 2px solid #9b9b9b;
          &:hover{
            border-width: 0 0 2px 0;
            border-bottom: 2px solid #9b9b9b;
            cursor: pointer;
          }
        }
      }
    }
  }
  .tab-content{
    margin: -20px;
    padding: 20px;
    background: #f8f8f8;
  }
  .control-label{
    font-size: 13px;
  }
}

.more-cat {
  @include margin-left(21px);
  font-weight: 400;
  font-size: 12px;
  color: #78B1EA;
}

.view-more-cat{
  border-top:1px solid #eee;
  padding-top:10px;
  text-align: center;
  width:100%;
}

.other_categories_info {
  font-size: 11px;
}

.sol-list {
  width: 100%;
}

.solution-list {
  .odd, .even {
    padding-bottom: 0px;
    &.orphaned-category {
      a {
        opacity: 0.5;
      }
    }

    &.orphaned-category:hover {
      a {
        opacity: 1;
      }
    }

    .cat-title-border {
      font-size: 15px;
      border-top: 1px solid #DDDCDC;
      padding-top: 15px;
      margin-top: 0px;
      margin-bottom: 5px;
      font-weight: 500;
      @include padding-left(1px);
      .ficon-categories-orphan {
        color: #E40725;
      }
      .ficon-cube {
        color: #3E74CF;
      }
      .cat-title-icon {
        @include margin-right(6px);
        font-size: 20px;
        display: inline;
        position: relative;
        top: 2px;
      }
      a:hover {
        color: #06c;
      }
    }
    ul {
      @include margin-left(9px);
      li {
        list-style-type: disc;
        list-style-position: inside;
        color: #ddd;
        a {
          @include margin-left(-18px);
        }
      }
      li {
        &.no-bullet{
          list-style-type: none;
          @include padding-left(15px);
        }
        span {
          &.muted {
            display: inline-block;
          }
        }
      }
    }
    &:nth-child(1), &:nth-child(2) {
      .cat-title-border {
        padding-top: 10px;
        border: none;
      }
    }
  }

  .other-portal-cat {
    .odd, .even {
      &:nth-child(1), &:nth-child(2) {
        .cat-title-border {
          padding-top: 25px;
          border-top: 1px solid #DDDCDC;
        }
      }
    }
  }
}

.highlight-border {
  border: 1px solid rgba(0,0,0,0.3) !important;
}

.solutions {
  .sol-sticky {
    margin: 0px -20px 0px -20px;
    padding: 20px 20px 0px;
    margin-bottom: 0;
  }

  .solution-home-header {
    padding-bottom: 5px;
    border-bottom: 1px solid #ddd;
    .dropdown-menu {
      min-width: 156px;
    }
  }
  .empty-category {
    @include margin-left(20px);
  }

  .add-folder-link {
    font-size: 12px;
  }

  .version_select_container {
    padding-top: 7px;
    @include float(left);
  }

  .add-translation-link {
    visibility: hidden;
    display: block;
  }

  .add-translation-dropdown {
    border-radius: 5px;
    border: 1px solid rgba(0,0,0,0.3);
    margin-top: 5px;
  }

  .language_icon, .language_symbol{
    border: 1px solid;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    display: inline-block;
    font-size: 11px;
    font-weight: 500;
    color: #A3D04B;
    text-align: center;
    .language_name{
      font-size: 10px;
      font-weight: 600;
      top: 1px;
      position: relative;
      text-transform:capitalize;
    }
    .ficon-pencil{
      color: #FFF;
      display: none;
      position: relative;
      top: 3px;
    }
    &.unpublished, &.unavailable{
      color: #ccc;
    }
    &.outdated{
      color: #DE3431;
    }
    &.draft {
      .language_name:before {
        content: "...";
        position: absolute;
        top: 10px;
        left: 1px;
      }
    }
  }
  .language_icon{
    @include margin(0 10px 10px 0);
    &:hover{
      background-color: #666;
      border: none;
      width: 22px;
      height: 22px;
      .language_name{
        display: none;
      }
      .ficon-pencil{
        display: block;
      }
    }
    .language_name:hover{
      display: none;
    }
  }

  .solutions .multilingual_draft .language_icon {
    @include margin-right(0);
  }

  .language-item {
    margin: 5px;
  }
  .language_label{
    position: relative;
    top: 3px;
    padding-left: 2px;
  }
  .lang-tab{
    display: inline-block;
    margin-right: 15px;
    padding-bottom: 8px;
    &.selected{
      border-bottom: 2px solid #CCC;
      .language_label{
        color: #333;
      }
    }
  }
}

body.community #sticky_header.category-sticky.is_stuck {
    border-bottom:0;
    @include box-shadow(none);
}

#solution-home-sidebar {
  .sidepanel {
    .solutions-widget {
      .sidebar-dropdown {
        .dropdown-toggle.normal-text {
          cursor: auto;
        }
        .dropdown-toggle {
          cursor: pointer;
        }
        .dropdown-menu {
            @include right(0);
            @include left(inherit);
        }
      }
    }
  }
}
.category-sticky.is_stuck.search-open {
  .sticky_title {
    margin-top: 23px;
  }
}
.category-sticky .sticky_title {
  margin-top: 3px;
}
.solutions {
  .header{
    z-index: 2;
  }
  .alert-assume-agent{
    position:relative;
    z-index: 13;
  }
}

#show_master_article {
  position: relative;
  top:14px;
}

#master_article_inner{
  #master-article-tab {
    padding: 5px 10px 0 20px;
  }
  .status-label{
    padding: 15px 0 0 15px;
  }
}

.master-article-tab-content {
    padding:10px 15px;
    height: 500px;
    overflow: auto;
    .article-content{
      font-size: 13px;
      padding-top: 10px;
    }
}
