<li>
  <%= pjax_link_to(t('solution.home'), solution_categories_path, {:"data-page-name" => :home})%>
</li>
<% if privilege?(:view_solutions) %>
<li>
  <%= pjax_link_to(t('solution.draft.my_drafts'), solution_drafts_path, {:"data-page-name" => :my_drafts})%>
</li>
<li>
  <%= pjax_link_to(t('solution.draft.all_drafts'), solution_my_drafts_path(:type => :all), {:"data-page-name" => :all_drafts})%>
</li>
<% end %>
<ul id="cm-sb-solution-categories">
  <%= navmenu_categories %>
</ul>
<script type="text/javascript">
  App.Solutions.NavMenu.setCurrentPage();
</script>
