<h4 class="border_title"><%= folder.name %></h4> 
<div class="info_data"><%= folder.description %></div> 

<% unless (folder.articles.size == 0) %>
	<ol class="artical_list">
		<% folder.articles.visible.each do |article| %>
			<li><%= link_to article.title, solution_category_folder_article_path(category, folder, article) %></li>
		<% end %>
	</ol>
<% else %>
	<%= content_tag :span, t('solution.no_solutions_info'), :class => "no_info_text" %>
<% end %>
<span class="seperator"></span>