<div class="search-page">
  <ul id="page_search_results" style="display:none;" class="community-search result-wrapper"></ul>
</div>
<script type="text/javascript">
  window.SEARCH_RESULT_LANG = {
    by : "<%= t('search.created_by') %>",
    in : "<%= t('search.in') %>",
    no_result :  '<li><%= t("search.no_results_msg") %></li>'
  }
</script>