<div>
	Hi <%= @account_admin.name %>,<div><br></div>
	<div>Welcome to Freshdesk!</div>
	<div><br></div>
	<div>Click here to activate your Freshdesk account <%= link_to "#{@activation_url}", "#{@activation_url}" %></a></div>
	<div><br></div>
	<div>Regards</div>
	<div><br></div>
	<div>Freshdesk Support&nbsp;</div>
	<div><br></div>
</div>
