<p>Hi <%=@content[:admin_name]%></p>

<p>We regret to inform you that the most recent charge attempt on your card <%=@content[:card_details]%> failed. We tried charging your card as the number of available day passes in your account (<%=@content[:domain]%>) is currently <%=@content[:available_passes]%>.</p>

<p>Please update your billing information so that you always have day passes readily available for use.</p>

<p>You can reply to this email if you have any questions.</p>

<p>Thanks <br>
Freshdesk Team</p>
