<%= render layout: 'shared/email_header_footer.html.erb', locals: { user_name: @content[:admin_name], sent_by: :freshdesk_team } do %>

<p><%= t('mailer_notifier.user_notifications.transaction_failure_message', card_details: @content[:card_details], domain: @content[:domain], available_passes: @content[:available_passes]) %></p>

<p><%= t('mailer_notifier.user_notifications.update_billing_info') %></p>

<p><%= t('mailer_notifier.user_notifications.reply_to_email_for_queries') %></p>

<% end %>
