<%= render layout: 'shared/email_header_footer.html.erb', locals: { sent_by: :freshdesk_team } do %>

<div>
	<%= t('mailer_notifier.user_notifications.locate_accounts_request_html') %>
</div>

<ul>
	<% @helpdesk_urls.each do |helpdesk_url| %>
		<li><%= "#{helpdesk_url}" %></li>
	<% end %>
</ul>

<div>
	<p><%= t('mailer_notifier.user_notifications.click_on_forgot_password') %></p>
</div>

<% end %>

