<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<body>
  <div>
  	Hi,

    <p>The CSV import has been completed. </p>
    <p><%= @result[:created]%> Users created and <%= @result[:updated]%> Users are updated</p>
  </div>
</body>
</html>