
<!-- Canned response dialog -->

<div class="hide">
  <%= link_to( t(:'ticket.canned_responses.ca_response'), 
                          "/helpdesk/canned_responses/?tkt_cr=true", 
                          "data-width" => "700", "data-template-footer" => '', :rel => 'freshdialog', 
                          :id => "canned_response_show", "data-target" => "#canned_responses",
                          'data-template-header' => "<div class='modal-header'><span><h3 class='modal-heading-with-button'>" + t('ticket.canned_responses.ca_responses') + "</h3></span><a href='/helpdesk/canned_responses/folders' target='_blank' class='pull-right modal-header-button'>" + t('ticket.create_new_ca') + "</a></div>") %>
</div>