<div class='ticket-form-title clearfix'>
	<span class="span6 ticket-form-title-header">
	<h3 class="lead"><%= t('ticket_templates.form_title')%></h3></span>
	<% if ["new_child", "edit_child"].include? params[:action] %>
		<span class="inherit_parent-wrapper">
			<i class="ficon-inherit-parent fsize-16 pull-right tooltip inherit_parent" data-inherit-all='false' twipsy-content-set='true'  data-original-title='<%= t('ticket_templates.child_template.inherit_parent') %>'></i>
		</span>
		<label class="pull-right inherit_parent_label"><%= t('ticket_templates.child_template.inherit_parent') %></label>
	<%end %>
</div>
<div id="compose-new-email" class="compose-new-email template-ticket-fields">
	<ul class="compose-new-ticket">
		<%= render :partial => "ticket_form", :object => f, :locals => { :is_edit =>is_edit, :f => f } %>
	</ul>
</div>