/* Css for agent profile edit page - FreshID feature */
.profile-edit-header {
	.title {
    	padding-top: 0px;
	}
}

.sort-conversations__label {
	font-size: 16px;
	font-weight: 600;
}

.sort-conversations__select {
	margin: 0 0 6px;
}

.sort-conversations__tip {
	color: $grayLight;
	margin-top: -4px;
	line-height: 1.4;
	font-size: 12px;
	margin-bottom: 20px;
	min-height: 40px;
}

.undo-send-option {
	padding-top: 4px;
}
.undo-toggle {
	font-size: 16px;
	font-weight: 600;
}
.undo-toggle-freshid {
	font-size: 16px;
	font-weight: 600;
	padding-left: 20px;
}
.undo-send-tip {
	color: $grayLight;
	margin-top: -4px;
	line-height: 1.4;
	font-size: 12px;
}
.undo-send-tip-freshid {
	color: $grayLight;
	padding-left: 20px;
	margin-top: -4px;
	line-height: 1.4;
	font-size: 12px;
}
.undo-toggle-button-freshid {
	padding-right: 20px;
}

.profile-edit {
    margin: 0 -20px -40px -20px;
    display: table;
    height: 640px;
	.profile-leftcontent{
		width: 260px;
		margin: 0px;
	    display: table-cell;
	    vertical-align: top;
		& > div{
			padding: 20px;
		}
		.separator{
			border-bottom: 1px solid #cccccc;
		    padding: 0px;
		    margin: 0px;
		    width: 100%;
		    display: block;
		}
		.upload-avatar{
			.avatar-options .option{
				padding: 0px;
			}
		}
		.freshID-details{
			.title{
				font-size: 13px;
			}
			li{
				font-size: 12px;
				line-height: 24px;
			}
		}
		.link-to-freshID{
			font-size: 12px;
			line-height: 18px;
		}
		
	}

	.profile-rightcontent{
		display: table-cell;
	    padding: 20px 20px 40px;
	    width: 700px;
	}
	.profile-sidebar{
		.ui-form{
		    padding: 0px;
		    border: 1px solid #ccc;
		    border-radius: 3px;
		}
		label[for="api_key"] {
		    padding: 4px 6px;
		}
	}
	.sidepanel.api-key-form {
	    padding: 28px 20px 20px;
	    line-height: 18px;
	}
	.edit_agent {
		.ui-form {
		    background: none;
		    border: none;
	        padding-top: 0px;
		    li{
		    	& > label{
	    		    font-weight: 500;
				    line-height: 18px;
				    padding: 4px 0px;
		    	}
		    	.placeholder_wrapper{
		    		padding-bottom: 10px;
		    	}
		    }
		    li.phone-num-field{
		    	width: 96%;
		    	& > div {
		    		width: 48%;
		    		display: inline-block;
		    		&:last-child{
		    			@include margin-left(3%);
			    	}
		    		input{
		    			width:	100%;
		    		}
		    	}
		    }
	    }
	    .avatar-options .option {
			@include padding-left(0px);
	    }
	    .freshid_field {
	    	input, select{
		    	width: 67%;
		    }
		}
	}

	.strong{
		font-weight: 500;
	}
}
.single #inner .profile-edit .profile-sidebar {
    display: table-cell;
    vertical-align: top;
    @include float(none);
    background-color: #fcfcfc;
    border-left: 1px solid #eee;
}

.fresh_id_info {
  padding: 16px 16px 1px 16px
}

.freshworks-message{
  border-top: 1px solid $border-freshid-info;
}

.freshworks-info.control-group{
	overflow: visible;
}

.freshworks-info .uneditable-input{
	color: $freshid-fields-uneditable;
}

.fresh_id_fields{
  width: 495px;
  border: 1px solid $border-freshid-info;
  background: $freshid-field-background;
}

.control-group .freshid_controls{
  margin-left: 165px ;
}

.display_message {
    padding-bottom: 16px;
    font-size: 12px;
    color: $freshid-fields-uneditable;
}

.pt16{
  padding-top: 16px;
}

.display_message{
	display: inline-block;
}

.icontest{
  float: left;
}

.text-message{
  padding-left: 24px;
}

#searching-agent-email .loading-box{
	top: 250px;
    width: 110px; 
    height: 2%;
    position: absolute ;
    background-color: $content-color;
    left: auto;
    text-align: center;
    font-size : 11px;
}

.arrow_box::after, .arrow_box:before {
	bottom: 100%;
	left: 4%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.arrow_box {
	position: relative;
}

.arrow_box:after {
	border-color: rgba(136, 183, 213, 0);
	border-bottom-color: $freshid-field-background;
	border-width: 7px;
	margin-left: -11px;
}
.arrow_box:before {
	border-color: rgba(194, 225, 245, 0);
	border-bottom-color: $border-freshid-info;
	border-width: 8px;
	margin-left: -12px;
}