// ------------------------------------------------------------------------------------------------------------
// customers page CSS start 
// ------------------------------------------------------------------------------------------------------------

#customers-toolbar [disabled] {
		@include opacity(0.4);
		cursor: default;
		@include box-shadow(none);
		background: #F5F5F5;
		border-color: #DDD;
		color: #3F3F3F;
		&:hover {
			background: #F5F5F5;
			color: #3F3F3F;
		}
}
.list-page .list-page-body table tr.diffColor td{
	background-color: $tableBackgroundSelected; 
}
.agent-list-page {
  &.deleted-list{
    tr td
    {
    	width:26%; 
      &:nth-child(4){
          width:12%;
      }
	    &:last-child{
	        width:10%;
	    }
	  } 
  }
}
.agent-list-count{
  padding: 1px 8px;
  @include margin-left(10px);
  color: #888;
  font-size: 0.9em;
  background-color:#f1f1f1;
  font-weight: bold;
  @include border-radius(10px);
  @include text-shadow(1px 1px 2px #fff);
  @include box-shadow(1px 1px 2px #fff);
  &.bg-dark{
    color:#fff;
    @include text-shadow(1px 1px 2px #aaa);
    background-color:#888;
  }
  &.bg-red{
    color:#fff;
    @include text-shadow(1px 1px 2px #aaa);
    background-color:#990303;
  }
}

.agent-count-message{
  @include margin-right(20px);
}
.table-striped-body{
	table td{
		width:75%;
		&:last-child{
			width:25%;
		}
	}
}


.agent-roles-list{
   table tr td{
     width:85%;
     &:last-child{
       width:15%;
     }
   }
}
.agent_edit{
	label{
		font-weight: bold;
		margin-bottom: 0;
		font-size: 13px;
	}
	.info_data, .info-data {
		display: block;
		margin-top: 1px;
    font-weight:normal;
	}
	.avatar-controls{
		color:#999;
		@include text-align(center);
		margin-top:10px;
		margin-bottom:5px;
	}
	.seperator{
		padding-top:40px;
		@include margin-left(0);
		@include box-shadow(0px 1px 0 #fff);
		width:100%;
		@include clear(both);
	}
}
.agent-role{
	margin-top:30px;
	margin-bottom:30px;
	li{	margin-bottom:10px; }
	input[type="radio"]{
		@include float(left);
		@include margin-right(10px);
		margin-top: 8px;	
	}
}
.agent-role-modal {
  ul {
     border:1px solid #eee;
     @include border-radius(6px);
     overflow-y: auto;
     max-height: 360px;
    li{
      padding: 10px 15px 0;
      border-bottom: 1px solid #eee;
      &.selected_to_yellow {
        background-color:#fffad8;
         &:nth-child(odd){
           background-color:#fffad8;
         }
      }
      &:first-child{
         @include border-top-left-radius(6px);
         @include border-top-right-radius(6px);         
      }
      &:last-child{
        border:0;
      }
      &:nth-child(odd){
        background-color: #fbfbfb;
      }
      .checkbox input[type="checkbox"]{
        margin-top: 2px;
      }
      label {
        cursor: pointer;
      }
    }
    
  }
}

#contacts-page {
	.small{
		font-size: 75%;
		a{
			font-size: 95%;
		}
	}
	#contacts-table{
		tr td{
				width: 32%;
		    	vertical-align: middle;
		    	word-wrap:break-word;
			    &:first-child{
			        width:5%;
				}
				&:last-child{
					width: 31%;
				}
		}
		.customers_selector{
	    	@include margin-left(5px);
	    }
	    .sent-text{
	    	@include margin-left(7px);
			top: 2px;
			position: relative;
		}
	}
	.info_data{
		padding-bottom: 0;
	}
	.dropdown{
		top: 7px;
	}
	.muted{
		a{
			color: #999;
		}
		a:hover{
			color: #369;
		}
	}
	.email{
		a{
			color: $default_txt_color;
		}
		a:hover{
			color: #369;
		}	
	}
}
#cust-list{
	.tabs{
		margin-bottom: 0;
	}
	.contacts_sub_header{
		border-bottom: 0;
	}
	.customers-toolbar{
		@include padding(7px 0 0 0);
	}
	#customers-select-all{
		@include margin-left(17px);
		margin-top: 0;
	}
	.bulk-action{
		padding: 8px;
		margin-top: -24px;
		@include margin-left(9px);
	}
}
#customers-page{
	#companies{
		table-layout: fixed;
		tr td{
				width: 71%;
		    	vertical-align: middle;
			    &:first-child{
			        width:7%;
				}
			    &:last-child{
			    	min-width: 22%;
			    }
		}
		.customers_selector{
	    	@include margin-left(5px);
	    }
	}
}
.contacts_sub_header{
	@include clearfix;
	border-bottom:1px solid #dedede;	
	padding: 8px 0;
}

/* NEW STYLES */

$iconColorList: "ticket" $bg_color_ticket, 
				"forum" $bg_color_forum;

.page-header-sticky {
	.contact-name {
		visibility: hidden;
		color: #999;
		display: inline-block;
		width: 240px;
		vertical-align: top;
	}
}

.contact-sidebar {
	@include padding(0 10px);
	background-color: #fcfcfc;
	@include border-left(1px solid #eee);
	display: table-cell;
	vertical-align: top;
	width: 258px;
	.contact-sidebar-content {
		width: 258px;
	}
	.sidepanel {
		border-bottom: none;
		@include padding(2px 0 10px 0);
		margin-top: 10px;
		border-top: 2px solid #AAA;
		.app-title {
			font-size: 18px;
			font-weight: 300;
			@include padding(2px 0 15px 0);
		}
		.sub-title {
			font-size: 12px;
			font-weight: normal;
			color: #999;
			margin-bottom: 0;
		}
		a.view-detail {
			display: block;
			text-align: center;
		}
	} 
	.add-contact {
		.control-group {
			margin-bottom: 0;
		}
	}
	.widget {
		border-top: 2px #AAA solid;
		width: 100%;
		@include min-height(60px);
		@include clear(both);
		margin-bottom: 20px;
		position: relative;

		& > h3 {
			font-size: 18px;
			font-weight: 300;
			padding: 2px 0px 15px 20px;
			display: inline-block;			
			cursor: pointer;
			z-index: 2;
			position: relative;

			&:before {
				@include triangle(down, #000, 6px);
				content: "";
				@include margin(6px 0 0 -19px);
				padding: 0;
				position: absolute;
			}
		}

		&.inactive {
			margin-bottom: 0;
			min-height: 30px;
			cursor: pointer;
			h3 {
				@include padding-left(15px);
				&:before {
					@include triangle(right, #000, 6px);
					content: "";
					@include margin(6px 0 0 -14px);
					padding: 0;
					position: absolute;
				}
			}

			.content {
				display: none;
			}
		}
	}
}

.contact-show-wrapper {
	@include margin (0 -20px 0 -20px);
}

.contact-show {
	position: relative;
	@include pie-clearfix;
	margin-bottom: -40px;
	display: table;
	width: 100%;
	min-height: 500px;
	/*  height is interpreted as minimum height on table cells --> fix for FF */
	height: 500px;
	.contact-info-fields {
		background-color: #f1f1f1;
    	background-image: inline-image('/cdn-ignored/inline-images/ribbon-bg.png');
    	background-size: 20%;
    	display: table-cell;
		width: 260px;
		vertical-align: top;
	}
	.profile_pic {
		text-align: center;
		margin-top: 20px;
	}
	.avatar-text{
		text-align: right;
		margin-left: 60px;
 		@include box-shadow(rgba(0, 0, 0, 0.3) 0 7px 14px -8px);
 		border-radius: 6px;
	}
	.user-info {
		text-align: center;
		border-top: none;
		@include padding(10px 15px);
		width: 230px;
		position: relative;
		.lead {
			margin-bottom: 4px;
			font-weight: 500;
		}
		.user-job-title, .user-company-name {
			@include padding(0)
		}
		.user-job-title {
			color: #999;
			margin-bottom: 3px;
		}
		.no-contacts {
			position: relative;
			@include padding(0);
			overflow: visible;
			@include margin(20px -15px 0 -15px);
		}
		.no-contacts-separator {
			border-bottom: 1px solid green;
		}
		.no-contacts-msg {
			background-color: rgba(0,0,0,0.5);
			color: #fff;
			@include padding(3px 10px);
			@include border-radius(15px);
			width: auto;
			@include float(none);
			text-transform: none;
			font-weight: normal;
			display: inline-block;
			@include margin(0 10px);
			a {
				color: #FFF;
			}
			&:hover {
				background-color: #333;
			}
		}
		.border-wrap {
			width: 5%;
			border-bottom: 1px solid $common-border-color;
			position: absolute;
			top: 0px;
			&.left {
				@include left(0px);
			}
			&.right {
				@include right(0px);
			}
		}
	}
	.contact-edit-fields {
		@include margin-left(240px);
		display: table-cell;
		vertical-align: top;
		padding-bottom: 30px;
		.lead {
			@include margin(4px 0);
		}
		.form-save, .ajax-error {
			margin-top: 5px;
		}
		.no-conv-msg {
			text-align: center;
			color: #999;
			font-weight: 300;
			font-size: 16px;
		}
		.info-highlight {
			@include border-width(0 0 1px 0);
		}
		.contact-edit-padding {
			@include padding(15px 25px 0 25px);
		}
		.conv-title {
			font-size: 14px;
			font-weight: bold;
			@include margin(4px 0);
		}
		.conv-menu {
			cursor: pointer;
		}
		.indent-title{
			padding-left: 40px;
		}
	}
	.sp_paragraph {
		max-height: 95px;
		min-height: 30px;
		font-size: 13px;
		@include transition(all 0.4s);
		@include box-shadow(none);
		@include box-sizing(border-box);
		width: 100%;
		&.editarea {
			min-height: 95px;
			@include box-shadow(0 4px 5px -4px #cccccc inset);
		}
	}
	.tags-wrapper {
		width: 100%;
		.select2-container {
			width: 100%;
		}
	}
	.tag_list {
		.btn.btn-flat {
			@include padding(2px 10px);
			margin-top: 5px;
			@include margin-right(5px);
			@include float(left);
			&.add-new-tag {
				@include padding(2px 10px 2px 0);
				background: #fff;
				font-weight: 500;
				font-size: 12px;
				color: #06c;
				border: 1px solid #999;
				.ficon-plus {
					@include padding(3px 9px);
					color: #fff;
					@include margin-right(5px);
					background: #999;
					@include border-radius(3px 0 0 3px);
				}
			}
		}
	}
}

.show-fields {
	@include padding(15px 20px 20px);
	border-top: 1px solid $common-border-color;
	width: 220px;
	&.no-border {
		border-top: none;
	}
	.show-field {
		margin-bottom: 20px;
	}
	.field-label {
		font-weight: 500;
		margin-bottom: 3px;
		display: block;
	}
	.field-value {
		display: block;
	}
}

.timeline {
	padding-left: 11px;
	@include margin(30px 0 20px 3px);
	font-size: 13px;
	.middot {
		margin: 0 3px;
		font-size: 24px;
		vertical-align: middle;
		display: inline-block;
		margin-top: -5px;
	}
	p {
		margin-bottom: 2px;
	}
	.timeline-head {
		font-size: 14px;
	}
	p.muted {
		a {
			color: #777;
			&:hover {
				color: $linkColorHover;
			}
		}
	}
	.bold-title {
		font-weight: 500;
	}
	.timeline-item {
		@include border-left(3px solid #ddd);
		position: relative;
		padding-bottom: 35px;
		@include padding-left(20px);
		&:last-child {
			@include border-left(3px solid transparent);
		}
		.user_name {
			font-weight: normal;
			@include margin-right(-5px);			
		}
	}
	.timeline-icon {
		font-size: 18px;
		position: absolute;
		@include left(-16px);
		@include box-shadow(inset 0 0 0px 1px rgba(0,0,0,0.1));
		width: 30px;
		height: 30px;
		color: #FFF;
		@include border-radius(50%);
		
		@each $item in $iconColorList {
			&.#{nth($item,1)} {
				background-color: #{nth($item,2)};
			}
		}
		span[class^='ficon-timeline-'] {
			@include padding(6px 0 0 7px);
			display: block;
		}
	}
}  


ul.user_list{
	@include no-bullets;
	@include clearfix;
	margin:0;
	padding:0;
	li{
	  height:100px;
		@include float(left);
		width:120px;
		
		@include text-align(center);
		.preview_pic{
			@include margin(2px 34px);
			img{
				padding:0;
				border:0;
			}	
		}
		&.user-item {
			height: auto;
			width: auto;
			@include margin-right(15px);
			margin-bottom: 15px;
			float: none;
			@include text-align(left);
			.preview_pic {
				@include margin(0 10px 0 0);
				img {
					@include margin(0);
					@include border-radius(50%);
					width: 30px;
					height: 30px;
				}
			}
			.name, .email {
				margin-bottom: 0px;
				line-height: 15px;
			}
			.name {
				color: $default_txt_color;
				font-weight: 400;
			}
			.email {
				color: #999;
			}
			.more-users-link {
				display: inline-block;
				@include margin(2px 10px 0 0);
				background-color: #BBB;
				color: white;
				@include padding(2px 0);
				text-align: center;
				@include border-radius(50%);
				width: 32px;
				height: 32px;
				@include box-sizing(border-box);
				font-weight: bold;
				vertical-align: middle;
			}
			.user-link {
				display: inline-block;
				vertical-align: middle;
			}
			.see-all {
				vertical-align: middle;
				font-size: 14px;
			}
			&:hover {
				.name {
					color: $linkColor;
				}
			}	
			.avatar-text{
				text-align: center;
				border-radius: 10%;
				width: 30px;
				height: 30px;
				line-height: 30px;
			}
		}
		.username{
			display:block;
			word-wrap: break-word;
		}
	}
} 