
//Used in solution Page
.crumbs,.breadcrumbs{
  	background-color: transparent;
    border-bottom: 1px solid #E8E8E8;
    color:#999999;
    font-size: 12px;
    @include border-radius(0 6px 0 0);
    margin: (-$common-padding) (-$common-padding) 10px;
    padding: 15px $common-padding $common-padding;
    a{
      @include link-colors(#4D769F, #3399cc, #4D769F, #4D769F); text-decoration:none;
    }
    span, a{
      padding:0px 5px;
    }
}
//Used in Forum pages
.breadcrumbs{
  margin: 0;
}

//Forums and solution page Styles
.forum-title{
  font-size:16px;
  margin:10px 20px 2px;
}
.forums{
	border:1px solid #efefef;
	td{
		border:1px solid #f0f0f0;
		@include text-align(left);
	}
	td.c1{
		background:#efefef;
	}
}

.forum-group, .list-group{
	margin:0 (-$common-padding);
}
.forum_list{
	margin:0;
	a{ text-decoration:none; }
	a.title{ @include link-colors(#545454, #527EAA, #545454, #545454); }
	.item_actions{
		@include float(right);
		font-size:10px;
		background-color:#F3F1EC;
		@include border-radius(6px);
		border:1px solid #cfcfcf;
		color:#afafaf;
		padding:2px 8px;
		a.highlight{
			background-color:#ffffcc;
			padding:1px 3px;
		}
	}
	.subcounter{
		color:#afafaf;
	}
	ul.base-set{
		@include no-bullets;
		@include clearfix;
		margin:0;
		padding:5px $common-padding;
		li{
			@include float(left);
			width:44%;
			padding:0;
			@include margin(0 3% 0 0);
			h4.forum_title{
				@include margin(8px 0 0 0);
				@include padding(6px 0 8px 33px); 
				font-size:16px;
				a{
					font-weight:normal;
				}
				position:relative;
			}
			span.icon{
	            position:absolute;
	            @include left(-3px); top:-1px;
	            width:32px; height:32px;
			}
			.topic-list{
				padding:6px 0 12px;
				@include margin-left($common-padding + 10px);
				margin-bottom:8px;
				border-top:1px solid #efefef;
				a.topic{
					display:block;
					padding:5px 0;
					font-size:13px;
				}
				a{ @include link-colors(#4D769F, #3399cc, #4D769F, #4D769F); }
			}
		}
		li.odd{
			@include clear(left);
		}
		li.even{
			@include margin-right(0);
			width:46%;
		}
	}
}
.topics_list{
	ul.base_set{
		padding-top:16px;
		li{
			width:100%;
			margin-bottom:10px;
			border-bottom:1px solid #efefef;
			overflow: hidden;
		}
		li{
			.topic_icon{
			 	@include float-left;
			 	@include margin-right(10px);
			}
			img{
				width: 36px;
				height: 36px;
			}

		}
		h4.topic_title{
			margin:0px;
			font-weight:bold;
			a{
				color:#1A6690;
			}
		}
		a{
			text-decoration:none;
			color:#1A6690;
		}
	}
}
.topic-list-view{
		padding:0;
		margin:0;
		border:1px solid #f1f1f1;
		border-width:1px 0;
		li{
			@include clearfix;
			border-bottom:1px dotted #eaeaea;
			@include padding(14px 25px 10px 70px);
			position:relative;
			a{
				@include link-colors(#4D769F, #3399cc, #4D769F, #4D769F);
				text-decoration:none;
			}
			a.topic-title{
				font-size:14px;
				font-weight:500;
			}
			.info_data{
				@include padding(6px 0 4px 0);
				font-size:12px;
				color:#888888;
			}
			.preview_pic{
				border-color:#d2d2d2;
				position:absolute;
			 	@include left(20px);
				top:16px;
				img{ width:36px; height:36px; padding:0; border:0; }
			}
			.bulk-check{
				position: absolute;
				@include left(20px);
				top: 26px;
			}
		}
		li.with-checkbox{
			@include padding-left(90px);
			.preview_pic{
				@include left(43px);
			}
		}
		li:hover{
			background:#f4f4f4;
		}

		.spam_action {
			width: 26px;
			height: 26px;
			display: block;
		}
}
.mark_action{
	a, .stamp{
		padding:2px 6px; 
		@include margin(0 0 6px 0);
		@include border-radius(4px);
		@include link_colors(#ffffff, #ffffaf, #ffffff, #ffffff);
		text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
		font-size:12px;
		text-decoration:none;
		font-weight:bold;
	}
	a{
		background: #666666;
		color:#ffffff;
		display: inline-block;
	}

	.stamp{
		margin:0 8px;
		@include min-width(80px);
		@include text-align(center);
	}

	a.hover, a.active{
		@include box-shadow(#000000 0 1px 2px inset);
	}

	.stamp.stamp_type_1{
		background: #5077b3;
	}
	.stamp.stamp_type_2{
		background: #cf8e00;
	}
	.stamp.stamp_type_3{
		background: #a23330;
	}
	.stamp.stamp_type_4{
		background: #597300;
	}
	.stamp.stamp_type_5{
		background: #735000;
	}
	.stamp.stamp_type_6{
		background: #597300;
	}
	.stamp.stamp_type_8{
		background: #597300;
	}
}

.stamp_answer{
	background-color:#336600;
	color:#ffffff;
	padding:1px 10px;
	@include border-radius(4px);
	margin:2px 5px;
	position:relative;
	top:-6px;
	font-size: 12px;
}

.action_icons{
	img{
		background-color:none;
		width:24px;
		height:24px;

		display: inline-block;
	}
	.spam, .spam_active {
		/*For compatibility with new tkt details !V2 */
		span{ display: none; }
	}
}
.search_box{
	input{
		display:inline-block;
		border:1px solid #afafaf;
		padding:3px 2px;
		@include border-radius(6px);
		width:300px;
	}

}
.folder_section{
	@include float(left);
	width:200px;
	@include padding(10px 10px 10px 20px);
	@include margin-left(-20px);
	overflow: hidden;
	h3.lead{
		border-bottom:1px dotted #DCDCDC;
		word-break: break-all;
	}
	.active{
	   a{
	      @include link-colors($default_txt_color, $default_txt_color, $default_txt_color, $default_txt_color); }
	}
	.sortable{
		@include margin(0 -10px 0 -20px);
		padding:5px 20px;
	}
	.sort-list li{
		font-size:1em;
	}
}
.artical_section{
	@include margin-left(210px);
	@include border-left(1px solid darken(#E2E2E2, 5%));
	@include min-height(450px); 
	padding: $common-padding;
	margin-top:-$common-padding;
	@include margin-right(-$common-padding);
	@include text-align(left);
	.info_data{ margin-top:-10px; padding:0; } 
	.search-grey-box{ 
		margin:-10px (-$common-padding) 12px; 
		border-bottom:1px solid #E2E2E2; border-top:0;
	}
	.agent-preview{
		top: 2px;
	}
}

.post-approve:hover{
  color: #009900;
}

.post-delete:hover, .post-ban-user:hover{
  color: #990000
}

.agent-preview{
	display: inline-block;
  color: #666;
  font-size: 22px;
}

.icons-like, .icons-dislike{
	display: inline-block;
	@include margin-right(5px);
}

.icons-dislike{
	position: relative;
	top: 2px;
}

.artical-list{
    line-height: 1.7em;
}

.article-item{
	padding: 10px 0;
	border-bottom: 1px solid #E4E4E4;
	a{ font-size: 14px;}
}

.article-desc{
	@include margin-left(33px);
	.article-user{
		color: #444;
	}
}
.article-info .draft{
	background-color: #fdbd04;
}

.article-likes{
	> span{
		min-width: 50px;
		display: inline-block;
	}
	.highlight{
		color: #E00000;
	}
	.null-value{
		opacity: 0.3;
	}
}

.solutions_text{
	padding-top:8px;
	@include text-formatting;
}


.list-badge{
	@include float(right);
	position:relative;
 	@include right(0);
	top:-5px;
	@include clearfix;
	.stamp{
		padding:4px 8px;
		margin:0;
		font-size:12px;
		font-weight:bold;
		@include float(left);
		@include border-radius(6px);
	}


	.leftflat{
		@include border-radius(0 6px 6px 0);
	}
	.stamp{
		@include min-width(80px);
		@include text-align(center); 
		color:#ffffff;
		text-shadow: -1px -1px 0 rgba(0,0,0,0.25);
		text-decoration:none;
		@include border-right-width(0);  
		position:relative;
	}
	.stamp.stamp_type_1{
		background: #5077b3;
	}
	.stamp.stamp_type_2{
		background: #cf8e00;
	}
	.stamp.stamp_type_3{
		background: #a23330;
	}
	.stamp.stamp_type_4{
		background: #597300;
	}
	.stamp.stamp_type_5{
		background: #735000;
	}
	.stamp.stamp_type_6{
		background: #597300;
	}
	.stamp.stamp_type_8{
		background: #597300;
	}

}

.answer_previous{
	border: solid 1px #DADADA;
	padding: 10px;
	border-radius: 5px;
	background: #F8F8F8;
	max-height: 210px;
	overflow: hidden;
	margin-top: 15px;
	.preview_pic img{
		width: 25px;
		height: 25px;
	}
	.details{
		margin-top: 15px;
	}
	.user_details{
		margin-top: 5px;
	}
}


// ------------------------------------------------------------------------------------------------------------
// 										solution page seo addition
// ------------------------------------------------------------------------------------------------------------

#solution-seo-container {
    margin-bottom: 25px;
    .solution-seo-message {
	    color: #666;
	}
	.solution-seo-description {
	    height: 48px;
	}
	.solution-seo-show {
	    font-size:7px;
	    &.arrow-right{
	    	margin-top: -3px;
	    }
	}
	.solution-seo-title {
	    cursor: pointer;
	    border-top: 1px solid #CCC;
		padding-top: 6px;
	    a{
		    font-size: 13px;
		    font-weight: bold;
		    &:hover{
		    	color: #333;
		    }
		}
	}
	#solution-seo li {
	    padding: 8px 0;
	}
}
//solution page seo addition  End

.solution-list .odd, .solution-list .even{
	@include pie-clearfix;
	margin:5px 0;
	padding:10px 0;
	@include float(left);
	width:49%;
	h4 a{ color: #333; }
	li{
		line-height:22px;
		padding-top:5px;
		&:before{
			content:"";
			@include inline-block;
			width: 20px;
			height: 20px;
			margin-top: -3px;
			@include margin-right(3px);
		}
	}
}
.solution-list .odd{
	@include margin-right(2%);
}

.solution_title{
	position:relative;
}



// ---------------------------------------------------------------- //
// ------------------------  SPAM FOLDER -------------------------- //
// ---------------------------------------------------------------- //

.topic-list-view.spam {

	li {
		@include padding-right(70px);

		&:hover {
			background: #FCFCFC;
		}
	}
	a, a:visited {
		color: #1272de;
	}

	.label {
		&.reply {
			background-color: #a378a6;
		}
		&.new_topic {
			background-color: #68b5b5;
		}
	}
	.actions {
		width: 30px;
		@include margin-right(-55px);
	}

	.content {
		@include border-right(dotted 1px #888);
	}

	.post-info {
		color: #888;

		a {
			opacity: 0.5;
		}
	}

	.post-content {
		color: #000;
		a {
			font-weight: bold;
		}
	}

	blockquote {
		@include border-left(dotted 1px #888);
	}

}




// ------------------------ END OF SPAM --------------------------- //


// ---------------------------------------------------------------- //
// ----------------  Contact Page Forum Activity ------------------ //
// ---------------------------------------------------------------- //

#forum-activity{
	.activity-details{
		border-bottom: 1px solid #EEE;
		@include padding(10px 5px 7px 5px);
		display: inline-block;
	}
    .topic-details{
		> div a{
			font-size: 14px;
		}
		.details{
			a{
				font-size: 12px;
				color: #555;
			}
			a:hover{
				color: #06C;
			}
		}
	}
	.label {

		display: inline-block;
		width: 85px;
		padding: 2px 0;
		margin-top: 2px;
		@include text-align(center);
		&.reply {
			background-color: #a378a6;
		}
		&.new_topic {
			background-color: #68b5b5;
		}
	}
}

// ------------------------ END OF FORUM ACTIVITY --------------------------- //


// ------------------------------------------------------------------------------------------------------------
// 										Solution Articles Page Properties Section Styles
// ------------------------------------------------------------------------------------------------------------

#solution-properties-container {
	margin-bottom: 25px;
	.solution-properties-message {
		color: #666;
	}
	.solution-properties-description {
		height: 48px;
	}
	.solution-properties-show {
		font-size:7px;
		&.arrow-right{
			margin-top: -3px;
		}
	}
	.solution-properties-title {
		cursor: pointer;
		border-top: 1px solid #CCC;
		padding-top: 6px;
		a{
			font-size: 13px;
			font-weight: bold;
			&:hover{
				color: #333;
			}
		}
		span {
			font-size: 13px;
			font-weight: bold;
		}
	}
	#solution-properties .controls label {
		display: inline;
		margin-left: 5px;
		margin-right: 20px;
	}

	.solution-seo {
		margin-bottom: 10px;
	}
}
//------------- End of  Solution Articles Page Properties Section Styles ----------------------------------------//

//------------- Article Properties Remote load Form Styles ------------------------------------------------------//
.modal-body {
	#solution-properties-container{
		margin-bottom: 0px;
	}
	#solution-properties {
		.control-label {
			float: left;
			width: 130px;
			padding-top: 5px;
			font-weight: 500;
		}
		.controls{
			margin-left: 150px;
			input, textarea {
				margin-bottom: 0px;
			}
		}
		.control-label, controls {
			display: inline;
		}
		.control-group {
			margin-bottom: 10px;
			overflow: hidden;
		}
		.unpublish-article {
			margin-left: 20px;
			margin-top: 5px;
			span {
				font-weight: bold;
				margin-left: 5px;
			}
			.row {
				input {
					margin-top: -3px;
				}
			}
			.msg {
				color: #999;
			}
		}
	}
}
//------------- End of Article Properties Remote load Form Styles -----------------------------------------------//


//------------- Articles Show page styles -----------------------------------------------------------------------//
	


//------------- End of Articles Show page styles ----------------------------------------------------------------//

