	.view_filters{
	display:inline-block;
	span.unsaved_star {
		vertical-align: baseline;
		font-size: 18px;
		font-weight: bold;
		line-height: 0;
	}
	.link-item.active, a.link-item:hover{
		margin:0px -5px;
		@include padding-left(13px);
		background: #e2f1fa;
	}
	.link-item.active{
		color:#336699;
		font-weight:bold;
		@include single-box-shadow( rgba(0, 0, 0, 0.07), 0, 0, 2px, false, true);         
	}
	.link-item.active:after{
	   content:"";
	   position:absolute;
	   @include right(9px);
	   top:8px;
	   width:11px;
	   height:11px;	   
	}
	.link-item{ 
		font-size:13px;
		display:inline-block;
		color:#444444;
		text-decoration:none;
		width: auto;
		position:relative;
		@include padding-right(15px);
		.nav-trigger {
			font-size: 16px;
			color:$default_txt_color;
			font-weight:bold;
			@include text-shadow(#ffffff, 2px, 2px, 2px);
			&.unsaved {
				font-style:italic;
			}

		}
	}
	&:hover,&.disable-hover{
		#view_manage_links {
			visibility: visible;
			@include opacity(1);
		}
	}   
}

.ticket-view-delete,.ticket-view-cancel,.ticket-view-edit,.ticket-view-save,.ticket-view-saveas{
	display: inline-block;
	vertical-align: bottom;
	width: 36px;
	height: 16px;
	opacity: 0.3;
	font-size: 18px;
	position: relative;
}

.ticket-view-delete:before,
.ticket-view-cancel:before,
.ticket-view-edit:before,
.ticket-view-save:before,
.ticket-view-saveas:before {
	position: absolute;
	position: absolute;
	top: -2px;
	color: #333;
	padding-left: 11px;
}
		
.ticket-view-saveas {
	&:after {
		position: relative;
		left: 21px;
		top: 2px;
		color: #333;
	}
}

.ticket-view-cancel {
	&:after {
		content: "\00d7";
		position: relative;
		top: -3px;
		left: 11px;
		font-size: 22px;
		font-weight: bold;
		color: #333;
	}
}

.leftFilter {
	min-height: 20px;
	>.lead{
		margin-bottom:10px;
	}
	#view_manage_links {
		visibility: hidden;
		display: inline-block;
		@include margin-left(5px);
		@include transition(opacity 0.28s linear);
		@include opacity(0);
		a {
			&.left-border {
				@include border-left(1px solid #e1e1e1);
			}
			&.right-border {
				@include border-right(1px solid #e1e1e1);
			}
			>*:hover {
				opacity: 1;
			}
		}
	}
}

.quick-action {
	cursor: pointer;
	label {
		cursor: pointer;
	}
}

.tickets .assign ul li.quick-action{
	&:hover, &.selected {
		.result {
			background: rgba(119,119,119,0.2);
			@include border-radius(3px);
			@include padding-right(20px);
			z-index: 0;
		}
	}
}
.quick-action:hover:after, .quick-action.selected:after {
	content:"";
	width: 0;
	height: 0;
	@include border-left(5px solid transparent);
	@include border-right(5px solid transparent);
	border-top: 5px solid #333;
	margin: 4px 0 0; 
	padding: 5px 0;
	position: absolute;
 	@include right(36px);
	display: inline-block;
}
#ticket_view_choices {
	width:64px;
	@include float(right);
	display: none;
	.icon {
		cursor: pointer;
		@include float(left);
		@include text-indent(-9999em);
		display:inline-block;
		zoom:1;
		border:solid #aaa 1px;
		@include border-radius(3px 0 0 3px);
		width:24px;
		height:18px;
		padding:1px 3px;
		@include border-right(#fff solid 1px);
		@include background(linear-gradient(rgba(231,231,231,1), rgba(208,208,208,0.1)));
		background-color:#e2e2e2;
		&.active {
			@include background(linear-gradient(rgba(147,147,147,1), rgba(206,206,206,0.1)));
			background-color:#e2e2e2;
			*background-color: #cecece;
		}
		&.right {
			@include border-radius(0 3px 3px 0);
			@include border-right(#aaa solid 1px);
		}
		a.ticket-view-choice {
			@include float(left);
			width:24px;
			height:18px;
		}
	}
}

.scroll_fixed_options .leftFilter {
	bottom:10px;
	position: absolute;
}
.list_view {
	.tickets, .tickets-expanded{
		tr.headings, & tr.headings:hover {
			td{
				background:#eee;
				border-top:solid 1px #e7e7e7;
				border-bottom:solid 1px #e7e7e7;
				font-size:12px;
				color:#888;
			}
		}
		tr, tr.active {
			td.priority-border{
				width:($TKT_LIST_VIEW_PRIORITY_BORDER_SIZE / 2);	
			}
		}
		h3 a {
			@include wrap();
		}
		td.check {
			@include padding-left(5px);
		}
	}	
	.quick-action .result {
		position: static;
		@include padding-right(0px);
	}
	.quick-action:hover:after, .quick-action.selected:after {
		position: static;
	}
	.hideForList {
		display:none;
	}
	.user_name {
		font-weight:normal;
	}
	.name, .name-user {
		@include padding-left(10px);
		width: 50%;
		h3 a {
			font-size: 13px;
			line-height: 16px;
		}
	}
}
.ticketlist-total-count{
	@include margin-right(70px);
}

.contentCol{
   @include border-left(1px solid #cfcfcf);
   background-color:#ffffff;
}
.toolbar{
	background:#f6f6f6;
	@include padding(5px 8px 8px 0);
	.btn{
		border-color: #CCC;
		border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.2);
	}
}
.ticket_overlay_content {
	width:500px;
	display:inline-block;
	.preview_pic {
		display:inline-block;
		img{
			height: 25px;
			width: 25px;
			border-radius: 10%;	
		}
		@include margin-right(5px);
	}
	.text {
		color:$default_txt_color;
		font-size: 12px;
		display: inline-block;
		width: 420px;
		.user_and_time {
			@include padding-left(7px);
			min-height:13px;
			.user {
				font-weight:bold;
			}
		}
		.note {
			margin-top:0;
			background-image: inline-image('cdn-ignored/inline-images/note_quote.png');
			background-repeat: no-repeat;
			@include padding-left(27px);
			min-height:13px;
			padding-top:5px;
		}
	}
}
#ticket-toolbar {
	padding:8px;
	@include border-radius(3px 3px 0 0);
}
#ticket-toolbar-bottom {
	@include border-radius(0 0 3px 3px);
}
.detailed_view {
	.hideForDetails {
		display: none;
	}
}
#tickets_view {
	margin-top: 12px;
}
.tickets {
	th.toolbar_right{
      @include text-align(right);
      width: 130px;
      vertical-align:middle;
      padding:5px 0 0;
      a {
      	display:inline-block;
      }
   }
	.check{
		width:25px;
		@include padding(7px 16px 0 2px); 
	}

	.headings td.check {
		@include border-left(solid 6px #EEE);
	}
	th.check{
		@include padding(8px 18px 0 0);
		@include text-align(right);
		vertical-align: top;
	}
}

#tickets-expanded {
	width:100%;	
	color:#5f5f5f;
	overflow:hidden;
	table{
		table-layout: fixed;
	}
	td.priority-border, th.priority-border {
		padding:0;
		width:$TKT_LIST_VIEW_PRIORITY_BORDER_SIZE;
	}
	th {
		background:none;
		padding:0px 6px;
		vertical-align:top;
	}		 
	td{
		vertical-align:top;
		padding: 6px 10px;
		font-size:12px;
		line-height: 16px;
		background:#FDFDFD;
		border-bottom:1px solid #EEE;
		vertical-align: middle;
		a{
			text-decoration:none;
			color:#5a8ec1; 
		}
	}

	tr:hover td {
		background:#f9f9f9;
	}

	tr.active td, tr.active:hover td{
		background:#fefac3;
	}
	.check{
		width:25px;
		@include padding(22px 5px); 
		@include text-align(right);
		vertical-align: top;
	}
	.userpic{
		width: 40px;
		vertical-align: top;
		padding-top: 10px;
			img{
			width: 40px;
			height: 40px;
			@include border-radius(50%);
			}
			.hideForList{
				opacity: 0.8;
			}
	}
	.td-ticket-status {
		@include text-align(right);
		@include padding-right(0);
		width: 140px;

		.subject_style {
			cursor: default;
		}
	}
	
	.td-ticket-details{
		width: 60%;
		.information{
			width: 100%;
		}		
	}
	.company-name{
		&:before{ content: "("; }
		&:after{ content: ")"; }
	}

	.headings td.check {
		@include border-left(solid 6px #EEE);
	}
	th.check{
		@include padding(5px 10px 0 5px);
	}
	// ------------------------------------------------------------------------------------------------------------
	//													Priority Border 
	// ------------------------------------------------------------------------------------------------------------

	//$priority_gradient:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAMAAAADCAYAAABWKLW/AAAAHElEQVQIW2NkgIL///8bM4LYYAYj41lGGAMkCADN/ws0WTnAvgAAAABJRU5ErkJggg==);
	//$priority_gradient_shadow: linear-gradient(left, rgba(0,58,5,0) 0%,rgba(0,0,0,0.2) 100%);
	tr, tr.active {
		width:100%;
		td {
			&.priority-border {
				padding:0;
				width:$TKT_LIST_VIEW_PRIORITY_BORDER_SIZE;
			}
			&.priority-high {
				background: $COL_PRI_HIGH; // Old browsers
			}
			&.priority-low {
				background: $COL_PRI_LOW; /* Old browsers */
			}
			&.priority-medium {
				background: $COL_PRI_MEDIUM;
			}
			&.priority-urgent {
				background: $COL_PRI_URGENT; /* Old browsers */
			}

			.status-source {
				@include text-align(right);
		   		width: 36px;
		   		height: 36px;
				padding: 20px 0 0;
				background-repeat: no-repeat;
			}

		   &.assign {
		   		@include padding-left(5); @include padding-right(0);
		   		vertical-align:middle;
		   		width:180px;
		   		*width:200px;
		   	}

		   	&.source-icon {
		   		width:30px;
		   		vertical-align: middle;
		   		@include padding-left(0);
		   	}
		}

		&.ticket-status-5, &.ticket-status-4 {
			.name h3 a {
				color:#888;

				&:hover{
					color:#037;
				}
			}

			td.priority-border {
				background-color: $COL_RESOLVED_CLOSED; // Old browsers
			}

			.info-data {
				color:#BBB;
				.user_name {
					font-weight: normal;
				}
				.emphasize {
					color: #999;
				}
			}
		}
	}
	
	.subject_style {
		@include border-radius(16px);
		font-size:9px;
		padding:3px 8px;
		line-height: 100%;
		font-weight: bold;
		text-transform: uppercase;
		display:inline-block;
		white-space:nowrap;
		@include box-shadow(1px 1px 0 white);
   		
		@include text-shadow(1px  1px 0 rgba(255,255,255,0.7));

		&.customer_responded, &.overdue,&.customer_responded_overdue  {
			background: #698ee4;
			color:#FFF;
			@include text-shadow(-1px -1px 0 rgba(113,113,113,0.53));
		}
		&.overdue{
			background: #d26260;
		}
		.customer_responded_overdue_hover{
			background: #d26260;
			height: 10px;
			width: 10px;
			border-radius: 100%;
			position: absolute;
			@include margin-left(-17px);
			margin-top: -1px;
			@include box-shadow(inset 0px 0px 0px 1px #FFF);
		}
		&.customer_responded_overdue{
			@include padding-left(20px);
			position:relative;
			&:before{
				content: "";
				background: #698ee4;
				height: 10px;
				width: 10px;
				border-radius: 100%;
				position: absolute;
				@include margin-left(-17px);
				margin-top: -1px;
				box-shadow: inset 0px 0px 0px 1px #FFF;
			}
			&:hover{
				.customer_responded_overdue_hover{ @include box-shadow(inset 0px 0px 0px 1px #000);}
			}
		}
		&.new {
			background: #ffd16d;
		}
		&.elapsed {
			background: #f4d8d7;
		}
	}

	
	.name, .name-user{
      width:auto;
      line-height:  16px;
      &.user-page {
      	@include padding-left(5px);
      }
		.preview_pic{
			*position: static;
			margin:0px;
			margin-top:3px;
			@include margin-left(-55px);         
			height:45px;
			img{ 
				width:45px; height:45px;
				opacity: 0.8 !important;
				box-shadow: 1px 1px 5px #ccc; 
				@include border-radius(50%);
			}
		}
		.new_ticket {
			font-weight: bold;
		}

		.info-data {
			color:#888;
			a {
				color:#888;
			}
			.emphasize {
				color: #555;
				font-weight:normal;
			}

			a.emphasize:hover, a:hover .emphasize {
				color: #037;
			}
		}

		.sla_status {
			font-weight: bold;
			color:#999;
		}

		.emphasize {
			/*color:#333;*/
			font-weight:bold;
		}

      h3{
		width: 100%;
		overflow: hidden;
		word-break: break-all;
		font-size:16px;
		.ticket_id {
			color:#888;
		}

		a{
			font-size: 14px;
			padding: 0;
			color:#06C;
		}
		a:hover{
			color:#037;
		}
      }
      div{ color:#888; }
      .info-data {
      	padding-bottom:0;
      }
   }
	.name-user{
		@include padding-left(20px);
	}
	.need-attention .name h3{
		a{		font-weight:bold; }
	}
	.assign{
		ul{
			li{
				color:#888;
				font-size:12px;
				line-height: 16px;
				@include padding-right(10px);
				margin-bottom: -2px;
				.result {
					color:$default_txt_color;
					font-weight: normal;
					display:inline-block;
					position: absolute;
					*position:static;
					text-overflow: ellipsis;
					-o-text-overflow: ellipsis;
					-moz-text-overflow: ellipsis;
					-webkit-text-overflow: ellipsis;
					overflow:hidden;
					white-space:nowrap;
					width: 95px;
					@include padding-right(20px);
					@include padding-left(5px);
					vertical-align: bottom;
				}

				label {
					font-size:12px;
					font-weight: normal;
					display: inline-block;
					width: 50px;
					@include padding(0 2px 0 0);
					overflow: hidden;
					white-space: nowrap;
					text-overflow:ellipsis;
					margin-bottom: 0;
					color: #888;
				}				
			}
		}
	}

	&.customer_tickets {
		td.name {
			@include padding-left(6px);
		}

		td.source-icon {
			@include padding-left(10px);
		}

		.subject_style {
			color:#FFF;
			background: #d48d00;
			@include text-shadow(-1px -1px 0 rgba(71,71,71,0.53));
			font-family: $baseFontFamily;
			letter-spacing: normal;
			font-weight: bold;
			font-size: 10px;
			padding: 2px 5px;
			@include margin-right(15px);
			-webkit-font-smoothing:antialiased;
			text-transform: uppercase;
			&.status-4, &.status-5 {
				background: #0c8519;
			}
		}
	}

}	  
.leftFilter .drop-right:after, .ssportal_filters .drop-right:after{
	content:"";
	width: 0;
	height: 0;
	@include border-left(6px solid transparent);
	@include border-right(6px solid transparent);
	border-top: 6px solid #888;
	position: absolute;
	@include margin(6px 3px 0 8px); 
}

.ticket-leftcol{
	width:230px;
	@include float(left);
	@include min-height(477px);	
	h3.title{
	  color:$default_txt_color;
	  font-size:16px;
	  font-weight:normal;
	  @include padding(8px 8px 10px 0);
	  margin:0;
	}
	h4.title{
		@include padding(0 6px 2px 0);
		font-size:13px;
		font-weight:500;
		color:$default_txt_color;
	}
   
   .leftFilter{
		position:relative;
	   	.checkboxSet{
	   		margin-bottom:10px;
	   	}
	   	.ff_item{
	   		@include pie-clearfix;
			@include margin(0 6px 0 0);
			padding:4px 2px 10px;
		}
		.ff_item.level_2, .ff_item.level_3{
			@include padding-left(10px);
			padding-bottom:0;
			padding-top:10px;
			@include border-left(1px dotted #afafaf);
		}
	   	.item{
			padding-bottom:2px;
			padding-top:2px;
			font-size:12px;
			color:#444444; 
			cursor: pointer;
			input{@include margin(0 4px 3px 0); }
	   	} 
		.item:hover span{
			color:#000000;

		}
		select{
			width:96%;
		}

	}
}

.ticket_list .pagearea{
	background: none;
	border:none;
	@include box-shadow(rgba(0,0,0, 0.05) 0 0 0);	
	.contentCol {
		background: none;
		border:none;
	}
	#ticket-list-body {
		margin-top:13px;
		background: white;
		border: #FFF solid 1px;
		@include border-radius(4px);
		#ticket-list-body-content {
			border: #e1e1e1 solid 1px;
			@include border-radius(5px);
		}
	}

}

#ticket-toolbar [disabled] {
	opacity: .4;
	cursor: default;
	box-shadow: none;
	background: #F5F5F5;
	border-color: #DDD;
	color: #3F3F3F;
	&:hover {
		background: #F5F5F5;
		color: #3F3F3F;
	}
}
//Export modal
.threecol-form .item{
	@include float(left);
	width:33%;
	.level{
		@include margin-left(11px);
	}
}
// Archived Ticket List CSS
#archived-ticket-list{
	#ticket-toolbar{
		padding: 2px 8px 6px 0;
	}
	
	.userpic{
		padding: 15px;
		padding-left: 20px;
	}
}
//new ticket sub info
.ticket_sub_text{
	padding-bottom: 10px;
}