#announcements_notify_header{
    margin-right: 5px;
    padding: 3px 7px;
}

.iframe-container {
    height: 100vh;

    .iframe-content {
        width: 100%;
        border: none;
        height: 100%;
        position: absolute;
        top: 0px;
        left: 0px;
    }

}