// This import applies a global reset to any page that imports this stylesheet.
@import "../settings/settings";

@import "cdn-ignored/sprites/gmail-gadget/*.png";

$min-width: 600px;
$main_content_bradius: 5px;
$auth_bgcolor: #FAFAFA;

body#gcgadget { 
	color: #333; 
	background:none; 
	min-width:$min-width+20; 

	.ui-form {
		background: none;
		margin: 0 25px;
	}

	ul.tabs {
		margin: 0;
	}

	h3.title {
		margin: 0 25px;
	}

	.quick-action {
		cursor: default;
		label {
			cursor: default;
		}
	}
	.tickets ul li.quick-action{
		&:hover, &.selected {
			.result {
				background: none;
			}
		}
	}
	#maxmin_tip {
		position: absolute;
		top:1px;
	 	@include right(16px);
		width:300px;
		height:20px;
		@include text-align(right);
		@include padding-right(10px);
		cursor: pointer;

		color:#666;
		font-weight:bold;

	}

	#maxmin {
		position: absolute;
		top:3px;
	 @include right(3px);
		width:13px;
		height:13px;
		cursor: pointer;
		&.maximize {
			@include gmail-gadget-sprite(maximize);
		}

		&.minimize {
			@include gmail-gadget-sprite(minimize);
		}
	}

	.contact-box div.profile_pic {
		position: static;
	}

	#fullbody .alert-message {
		margin: 0 10px;
	}


	// New Ticket Details View
	.tkt-wrapper {
		padding: 0 20px;
	}

	.commentbox .actions, .ticket_details #show_more{
		display: none !important;
	}

	.gmail-ticket-widget{

		.commentbox-blue {
			background: #666;
			border: 1px #fff solid;
			color:#fff;
			@include text-shadow(none);
			&:visited, &:hover {
				color: #FFF;
			}

			&:after{
				border-color: rgba(#666, 0);
				@include border-right-color(#666);
			}

			&:before{
				border-color: rgba(#666, 0);
				@include border-right-color(#666);
			}
		}

		#tkt-inner {
		 	@include padding-right(0)
		}

		.source-badge-wrap {
			padding : 10px 0 15px;
			margin : 0;
			@include left(-20px);
			position : relative;
		}

		.conversation_thread .conversation {
			margin : 0;
		}

		.avatar-wrap-collapse {
			background : #666;
		}

		#show_more:hover .avatar-wrap-collapse { border-color: #ddd; }

		#ticket_status_box {
			@include padding(0 0 15px 0);
			@include margin-left(30px);
			width : 100%;
		}
	}

	.new_helpdesk_ticket {
		.field {
			select {
				width: 99%;
			}
		}
	}

}

body.minimized {
	#content_div {
		display: none;
	}

	ul.tabs {
		display: none;
	}

	.tabs > li > a, .tabs .active > a, .tabs .active > a:hover {
		background:#EEE;
		border:1px solid #DDD;
		border-bottom: none;
		color:#999;
	}

	#auth {
		display: none;
	}

}
#auth {
	@include border-radius($main_content_bradius);
	background: $auth_bgcolor;
	padding: 20px;
	@include text-align(center);

	.uiButton {
		padding: 10px 30px;
		font-size: 120%;
	}
}

#fullbody {
	@include border-radius($main_content_bradius);
	/* Hiding the div by default */

	.company_box, .contact-box {
		margin: 15px 25px;
	}

	.request_details {
		margin: 5px 0;

		.actions, #TimesheetTab, .conversation-sprite {
			display: none;
		}
	}

	.alert-message {
		margin: 0 -20px;

		.alert-actions-right {
			display: none;
		}
	}

	.tickets {
		input[type=checkbox] {
			display: none;
		}
	}
}

#content_div {
	background: white;
	padding: 10px 0;
	border-color: #DDD;
	border-width: 0 1px 1px;
	border-style: solid;
}

.button-container {
	margin: 0 25px;
}

.attachment_list .list_element .attach_content{
	width: auto;
  	height: auto;	
}
