/* New Landing Page Styles */
@import "../settings/settings";

.report-head{
	&.welcome{
		margin-bottom: 12px;
		background: #FFFFE1;
	    margin-bottom: 18px;
	    border: 1px solid #e5e5e4;
	    box-shadow: inset 2px 2px #ffffe1;
	    border-radius: 8px;	

		.content{
			margin-bottom: 8px;
		}
	    .report-link-block{
			margin-top: 45px;
       		margin-right: 16px;
       		.report-link{
				font-size: 13px;
				color : #06C;
				&:hover{
					color: #004080;
				};
				font-weight: bold;
			}
	    }
	}
	
	.welcome-message{
		width: 84%;
		padding: 16px;
		.head{
			font-weight: bold;
			color : #333;
		}
		a{
			font-weight: bold;
		}
	}
	.seperator{
		border-left: 1px solid #e5e4e4;
	    height: 92px;
	    width: 1px;
	    margin-top: 7px;
	}
	.report-link-block{
		margin-bottom: 15px;
		.report-link{
			font-size: 15px;
			color : #06C;
			.view-all-arrow{
				border-top: 4px solid transparent;
			    border-bottom: 4px solid transparent;
			    border-left-width: 8px;
			    border-left-style: solid;
			    font-size: 0;
			    line-height: 0;
			    display: inline-block;
			    margin-left: 6px;
			    cursor: pointer;
			}	
		}
	}
}

.report_category{
	@include padding(0 0 5px 0);
	@include margin(0 0 20px 0);
	&.blur {
		@include opacity (.2);
	}

	h3{
		&.title{
			margin-bottom:16px;
			font-size: 20px;
			font-weight: 200;
			color:#666;
			padding:0;
		}
		span{
			display:inline-block;
			padding-top:2px;
		}
	}
	ul{
		display: block !important;
		@include margin-left(-32px);
	}

	.report_icon{	
			@extend .icon;
	}

	&.ataglance, &.summary,&.customer{
		@extend .section-header;
	}
	&.ataglance{
	    @extend .category1;
	}
	&.summary{
		@extend .category2;
	}
	&.customer{
		@extend .category3;
	}
} 