@charset "UTF-8";
/* Theme Colors and layout Defaults */
/* line 4, ../src/buttons.scss */
.uiButton, .uiButton:visited, .fdbutton, .fdbutton:visited {
  display: -moz-inline-box;
  -moz-box-orient: vertical;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  margin: 0.7em 0.5em 0.7em 0;
  border-width: 1px;
  border-style: solid;
  font-family: "Lucida Grande", Tahoma, Arial, Verdana, sans-serif;
  font-size: 100%;
  line-height: 130%;
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
  background-image: url(../images/overlay-button.png);
  background-color: #eeeeee;
  background-repeat: repeat-x;
  color: #333333;
  display: inline-block;
  text-decoration: none;
  -moz-border-radius: 4px 4px 4px 4px;
  -webkit-border-radius: 4px 4px 4px 4px;
  border-radius: 4px 4px 4px 4px;
  margin: 1px;
  line-height: 17px;
  border: 1px solid #d4d4d4;
  padding: 5px 12px;
  position: relative;
  font-size: 11px;
  font-weight: bold;
  cursor: pointer;
  text-shadow: 1px 1px 0 white;
}
/* line 7, ../../../.gem/ruby/1.8/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/css3/_inline-block.scss */
.uiButton, .uiButton:visited, .fdbutton, .fdbutton:visited {
  *display: inline;
}
/* line 75, ../../../.gem/ruby/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_buttons.scss */
.uiButton img, .uiButton:visited img, .fdbutton img, .fdbutton:visited img {
  margin: 0 3px -3px 0 !important;
  padding: 0;
  border: none;
  width: 16px;
  height: 16px;
  float: none;
}

/* line 23, ../src/buttons.scss */
.uiButton:hover, .fdbutton:hover, .forum_button:hover {
  background-color: #7cb537;
  border-color: #618e2b;
  color: #ffffff;
  text-shadow: rgba(0, 0, 0, 0.2) -1px -1px 1px;
}

/* line 24, ../src/buttons.scss */
.uiButton:active, .fdbutton:active {
  top: 1px;
}

/* line 25, ../src/buttons.scss */
.small.uiButton, .small.uiButton:visited {
  font-size: 11px;
}

/* line 27, ../src/buttons.scss */
.uiButton, .fdbutton, .uiButton:visited, .fdbutton:visited,
.medium.uiButton, .medium.uiButton:visited {
  font-size: 12px;
}

/* line 28, ../src/buttons.scss */
.large.uiButton, .large.uiButton:visited {
  font-size: 14px;
  padding: 8px 14px 9px;
}

/* line 31, ../src/buttons.scss */
.forum_button {
  display: -moz-inline-box;
  -moz-box-orient: vertical;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  margin: 0.7em 0.5em 0.7em 0;
  border-width: 1px;
  border-style: solid;
  font-family: "Lucida Grande", Tahoma, Arial, Verdana, sans-serif;
  font-size: 100%;
  line-height: 130%;
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
  padding: 5px 10px 5px 7px;
  padding: 4px 14px;
  margin: 2px;
  border: 1px solid #cfcfcf;
  text-align: center;
  font-size: 12px;
  font-weight: bold;
  color: #333333;
  -moz-border-radius: 14px 14px 14px 14px;
  -webkit-border-radius: 14px 14px 14px 14px;
  border-radius: 14px 14px 14px 14px;
  background-color: #eeeeee;
  background-repeat: repeat-x;
  background-image: url(../images/overlay-button.png);
  text-shadow: 1px 1px 0 white;
  background-position: top left;
  margin-top: 20px;
}
/* line 7, ../../../.gem/ruby/1.8/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/css3/_inline-block.scss */
.forum_button {
  *display: inline;
}
/* line 75, ../../../.gem/ruby/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_buttons.scss */
.forum_button img {
  margin: 0 3px -3px 0 !important;
  padding: 0;
  border: none;
  width: 16px;
  height: 16px;
  float: none;
}

/* line 48, ../src/buttons.scss */
.small.forum_button {
  font-size: 11px;
  padding: 1px 14px;
}

/* line 50, ../src/buttons.scss */
.forum_info {
  background: #fff7b4;
  display: inline;
  font-weight: bold;
  border: 1px solid #fff7b4;
  color: #333333;
  font-size: 13px;
  padding: 8px 10px;
  position: relative;
  margin-left: 2px;
}
/* line 61, ../src/buttons.scss */
.forum_info span.bottom-pointer {
  border: 10px solid transparent;
  border-top-color: #fff7b4;
  border-bottom: 0px;
  width: 0px;
  height: 0px;
  bottom: -11px;
  left: 20px;
  position: absolute;
}

/* line 74, ../src/buttons.scss */
.fdbutton {
  display: -moz-inline-box;
  -moz-box-orient: vertical;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  margin: 0.7em 0.5em 0.7em 0;
  border-width: 1px;
  border-style: solid;
  font-family: "Lucida Grande", Tahoma, Arial, Verdana, sans-serif;
  font-size: 100%;
  line-height: 130%;
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
  padding: 5px 10px 5px 7px;
  min-width: 80px;
  width: auto !important;
  width: 80px;
  padding: 7px 10px 7px 12px;
  position: relative;
  margin: 2px;
  text-align: center;
}
/* line 7, ../../../.gem/ruby/1.8/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/css3/_inline-block.scss */
.fdbutton {
  *display: inline;
}
/* line 75, ../../../.gem/ruby/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_buttons.scss */
.fdbutton img {
  margin: 0 3px -3px 0 !important;
  padding: 0;
  border: none;
  width: 16px;
  height: 16px;
  float: none;
}

/* line 84, ../src/buttons.scss */
div.action_buttons {
  position: relative;
  float: right;
  -moz-border-radius: 4px 4px 4px 4px;
  -webkit-border-radius: 4px 4px 4px 4px;
  border-radius: 4px 4px 4px 4px;
  margin: -5px 0px 2px 5px;
  background-image: url(../images/overlay-button.png);
  background-color: #f8f8f8;
  background-repeat: repeat-x;
  padding: 4px 7px 3px 3px;
  border: 1px solid #e5e5e5;
}
/* line 94, ../src/buttons.scss */
div.action_buttons a {
  text-decoration: none;
  float: left;
  margin: 0px 0px;
  font-size: 11px;
  font-weight: bold;
  padding: 2px 8px 2px 8px;
  border-right: 1px solid #d8d8d8;
  color: #333333;
  text-shadow: white 0px 1px 1px;
}
/* line 18, ../../../.gem/ruby/1.8/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/utilities/links/_link-colors.scss */
div.action_buttons a:visited {
  color: #333333;
}
/* line 24, ../../../.gem/ruby/1.8/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/utilities/links/_link-colors.scss */
div.action_buttons a:hover {
  color: #666666;
}
/* line 27, ../../../.gem/ruby/1.8/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/utilities/links/_link-colors.scss */
div.action_buttons a:active {
  color: #333333;
}
/* line 106, ../src/buttons.scss */
div.action_buttons a.last {
  border: 0px;
  padding-right: 4px;
}
/* line 110, ../src/buttons.scss */
div.action_buttons a.icon {
  padding-left: 20px;
}

/* BUTTONS */
/* line 117, ../src/buttons.scss */
.buttons a, .buttons button {
  display: block;
  float: left;
  margin: 0 7px 0 0;
  background-color: #f5f5f5;
  border: 1px solid #dedede;
  border-top: 1px solid #eee;
  border-left: 1px solid #eee;
  -moz-border-radius: 6px 6px 6px 6px;
  -webkit-border-radius: 6px 6px 6px 6px;
  border-radius: 6px 6px 6px 6px;
  font-size: 100%;
  line-height: 130%;
  text-decoration: none;
  font-weight: bold;
  color: #565656;
  cursor: pointer;
  padding: 5px 10px 6px 10px;
  /* Links */
}

/* line 134, ../src/buttons.scss */
.buttons button {
  width: auto;
  overflow: visible;
  padding: 4px 10px 3px 10px;
  /* IE6 */
}

/* line 139, ../src/buttons.scss */
.buttons button[type] {
  padding: 5px 10px 5px 7px;
  /* Firefox */
  line-height: 17px;
  /* Safari */
}

/* line 143, ../src/buttons.scss */
*:first-child + html button[type] {
  padding: 4px 10px 3px 7px;
  /* IE7 */
}

/* line 146, ../src/buttons.scss */
.buttons button img, .buttons a img {
  margin: 0 3px -3px 0 !important;
  padding: 0;
  border: none;
  width: 16px;
  height: 16px;
}

/* STANDARD */
/* line 156, ../src/buttons.scss */
button:hover, .buttons a:hover {
  background-color: #dff4ff;
  border: 1px solid #c2e1ef;
  color: #336699;
}

/* line 161, ../src/buttons.scss */
.buttons a:active {
  background-color: #6299c5;
  border: 1px solid #6299c5;
  color: #fff;
}

/* POSITIVE */
/* line 169, ../src/buttons.scss */
button.positive, .buttons a.positive {
  color: #529214;
}

/* line 172, ../src/buttons.scss */
.buttons a.positive:hover, button.positive:hover {
  background-color: #E6EFC2;
  border: 1px solid #C6D880;
  color: #529214;
}

/* line 177, ../src/buttons.scss */
.buttons a.positive:active {
  background-color: #529214;
  border: 1px solid #529214;
  color: #fff;
}

/* NEGATIVE */
/* line 185, ../src/buttons.scss */
.buttons a.negative, button.negative {
  color: #d12f19;
}

/* line 188, ../src/buttons.scss */
.buttons a.negative:hover, button.negative:hover {
  background: #fbe3e4;
  border: 1px solid #fbc2c4;
  color: #d12f19;
}

/* line 193, ../src/buttons.scss */
.buttons a.negative:active {
  background-color: #d12f19;
  border: 1px solid #d12f19;
  color: #fff;
}

/* line 200, ../src/buttons.scss */
.button {
  display: -moz-inline-box;
  -moz-box-orient: vertical;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  margin: 0.7em 0.5em 0.7em 0;
  border-width: 1px;
  border-style: solid;
  font-family: "Lucida Grande", Tahoma, Arial, Verdana, sans-serif;
  font-size: 100%;
  line-height: 130%;
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
  padding: 5px 10px 5px 7px;
  white-space: nowrap;
  text-align: center;
  font-size: 11px;
  overflow: hidden;
  padding: 4px 8px;
  margin: 2px;
  border: 2px solid #aaa;
  background: #fff;
  color: #3f3f3f;
  -moz-border-radius: 6px 6px 6px 6px;
  -webkit-border-radius: 6px 6px 6px 6px;
  border-radius: 6px 6px 6px 6px;
  box-shadow: 0 2px rgba(0, 0, 0, 0.05), 0 -2px rgba(0, 0, 0, 0.05) inset;
  -webkit-box-shadow: 0 2px rgba(0, 0, 0, 0.05), 0 -2px rgba(0, 0, 0, 0.05) inset;
  -moz-box-shadow: 0 2px rgba(0, 0, 0, 0.05), 0 -2px rgba(0, 0, 0, 0.05) inset;
  background: -moz-linear-gradient(center top, rgba(255, 255, 255, 0) 50%, rgba(0, 0, 0, 0.03) 0%) repeat scroll 0 0 white;
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(white), to(rgba(0, 0, 0, 0.03)), color-stop(0.5, rgba(255, 255, 255, 0)), color-stop(0.5, rgba(0, 0, 0, 0.03))) repeat scroll 0 0 white;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ededed',GradientType=0 );
  /* ie */
  border: 1px solid #afafaf;
  cursor: pointer;
}
/* line 7, ../../../.gem/ruby/1.8/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/css3/_inline-block.scss */
.button {
  *display: inline;
}
/* line 75, ../../../.gem/ruby/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_buttons.scss */
.button img {
  margin: 0 3px -3px 0 !important;
  padding: 0;
  border: none;
  width: 16px;
  height: 16px;
  float: none;
}
/* line 18, ../../../.gem/ruby/1.8/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/utilities/links/_link-colors.scss */
.button:visited {
  color: #3f3f3f;
}
/* line 24, ../../../.gem/ruby/1.8/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/utilities/links/_link-colors.scss */
.button:hover {
  color: #666666;
}
/* line 27, ../../../.gem/ruby/1.8/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/utilities/links/_link-colors.scss */
.button:active {
  color: #3f3f3f;
}

/* line 250, ../src/buttons.scss */
.button:hover {
  background: #eee;
  border-color: rgba(0, 0, 0, 0.3);
}

/* line 255, ../src/buttons.scss */
.button.selected {
  z-index: 6;
  border-color: rgba(208, 91, 63, 0.6);
  box-shadow: 0 2px rgba(0, 0, 0, 0.05), 0 1px 7px rgba(208, 91, 63, 0.5), 0 -2px rgba(0, 0, 0, 0.05) inset;
  -webkit-box-shadow: 0 2px rgba(0, 0, 0, 0.05), 0 1px 7px rgba(208, 91, 63, 0.5), 0 -2px rgba(0, 0, 0, 0.05) inset;
  -moz-box-shadow: 0 2px rgba(0, 0, 0, 0.05), 0 1px 7px rgba(208, 91, 63, 0.5), 0 -2px rgba(0, 0, 0, 0.05) inset;
}
