/* line 3, ../src/codemirror.scss */
.CodeMirror { line-height: 1em; font-family: 'Monaco','Menlo','Ubuntu Mono','Droid Sans Mono','Consolas', monospace; /* Necessary so the scrollbar can be absolutely positioned within the wrapper on Lion. */ position: relative; /* This prevents unwanted scrollbars from showing up on the body and wrapper in IE. */ overflow: hidden; }

/* line 13, ../src/codemirror.scss */
.CodeMirror-scroll { overflow: auto; height: 300px; /* This is needed to prevent an IE[67] bug where the scrolled content is visible outside of the scrolling box. */ position: relative; outline: none; }

/* Vertical scrollbar */
/* line 23, ../src/codemirror.scss */
.CodeMirror-scrollbar { position: absolute; right: 0; top: 0; overflow-x: hidden; overflow-y: scroll; z-index: 5; }

/* line 30, ../src/codemirror.scss */
.CodeMirror-scrollbar-inner { /* This needs to have a nonzero width in order for the scrollbar to appear in Firefox and IE9. */ width: 1px; }

/* line 35, ../src/codemirror.scss */
.CodeMirror-scrollbar.cm-sb-overlap { /* Ensure that the scrollbar appears in Lion, and that it overlaps the content rather than sitting to the right of it. */ position: absolute; z-index: 1; float: none; right: 0; min-width: 12px; }

/* line 44, ../src/codemirror.scss */
.CodeMirror-scrollbar.cm-sb-nonoverlap { min-width: 12px; }

/* line 47, ../src/codemirror.scss */
.CodeMirror-scrollbar.cm-sb-ie7 { min-width: 18px; }

/* line 51, ../src/codemirror.scss */
.CodeMirror-gutter { position: absolute; left: 0; top: 0; z-index: 10; background-color: #f7f7f7; border-right: 1px solid #eee; min-width: 2em; height: 100%; }

/* line 59, ../src/codemirror.scss */
.CodeMirror-gutter-text { color: #aaa; text-align: right; padding: .4em .2em .4em .4em; white-space: pre !important; cursor: default; }

/* line 66, ../src/codemirror.scss */
.CodeMirror-lines { padding: .4em; white-space: pre; cursor: text; }

/* line 72, ../src/codemirror.scss */
.CodeMirror pre { -moz-border-radius: 0; -webkit-border-radius: 0; -o-border-radius: 0; border-radius: 0; border-width: 0; margin: 0; padding: 0; background: transparent; font-family: inherit; font-size: inherit; padding: 0; margin: 0; white-space: pre; word-wrap: normal; line-height: inherit; color: inherit; }

/* line 87, ../src/codemirror.scss */
.CodeMirror-wrap pre { word-wrap: break-word; white-space: pre-wrap; word-break: normal; }

/* line 92, ../src/codemirror.scss */
.CodeMirror-wrap .CodeMirror-scroll { overflow-x: hidden; }

/* line 96, ../src/codemirror.scss */
.CodeMirror textarea { outline: none !important; }

/* line 100, ../src/codemirror.scss */
.CodeMirror pre.CodeMirror-cursor { z-index: 10; position: absolute; visibility: hidden; border-left: 1px solid black; border-right: none; width: 0; }

/* line 108, ../src/codemirror.scss */
.cm-keymap-fat-cursor pre.CodeMirror-cursor { width: auto; border: 0; background: transparent; background: rgba(0, 200, 0, 0.4); filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#6600c800, endColorstr=#4c00c800); }

/* Kludge to turn off filter in ie9+, which also accepts rgba */
/* line 116, ../src/codemirror.scss */
.cm-keymap-fat-cursor pre.CodeMirror-cursor:not(#nonsense_id) { filter: progid:DXImageTransform.Microsoft.gradient(enabled=false); }

/* line 120, ../src/codemirror.scss */
.CodeMirror-focused pre.CodeMirror-cursor { visibility: visible; }

/* line 124, ../src/codemirror.scss */
div.CodeMirror-selected { background: #d9d9d9; }

/* line 125, ../src/codemirror.scss */
.CodeMirror-focused div.CodeMirror-selected { background: #d7d4f0; }

/* line 127, ../src/codemirror.scss */
.CodeMirror-searching { background: #ffa; background: rgba(255, 255, 0, 0.4); }

/* Default theme */
/* line 134, ../src/codemirror.scss */
.cm-s-default span.cm-keyword { color: #708; }

/* line 135, ../src/codemirror.scss */
.cm-s-default span.cm-atom { color: #219; }

/* line 136, ../src/codemirror.scss */
.cm-s-default span.cm-number { color: #164; }

/* line 137, ../src/codemirror.scss */
.cm-s-default span.cm-def { color: #00f; }

/* line 138, ../src/codemirror.scss */
.cm-s-default span.cm-variable { color: black; }

/* line 139, ../src/codemirror.scss */
.cm-s-default span.cm-variable-2 { color: #05a; }

/* line 140, ../src/codemirror.scss */
.cm-s-default span.cm-variable-3 { color: #085; }

/* line 141, ../src/codemirror.scss */
.cm-s-default span.cm-property { color: black; }

/* line 142, ../src/codemirror.scss */
.cm-s-default span.cm-operator { color: black; }

/* line 143, ../src/codemirror.scss */
.cm-s-default span.cm-comment { color: #a50; }

/* line 144, ../src/codemirror.scss */
.cm-s-default span.cm-string { color: #a11; }

/* line 145, ../src/codemirror.scss */
.cm-s-default span.cm-string-2 { color: #f50; }

/* line 146, ../src/codemirror.scss */
.cm-s-default span.cm-meta { color: #555; }

/* line 147, ../src/codemirror.scss */
.cm-s-default span.cm-error { color: #f00; }

/* line 148, ../src/codemirror.scss */
.cm-s-default span.cm-qualifier { color: #555; }

/* line 149, ../src/codemirror.scss */
.cm-s-default span.cm-builtin { color: #30a; }

/* line 150, ../src/codemirror.scss */
.cm-s-default span.cm-bracket { color: #cc7; }

/* line 151, ../src/codemirror.scss */
.cm-s-default span.cm-tag { color: #170; }

/* line 152, ../src/codemirror.scss */
.cm-s-default span.cm-attribute { color: #00c; }

/* line 153, ../src/codemirror.scss */
.cm-s-default span.cm-header { color: blue; }

/* line 154, ../src/codemirror.scss */
.cm-s-default span.cm-quote { color: #090; }

/* line 155, ../src/codemirror.scss */
.cm-s-default span.cm-hr { color: #999; }

/* line 156, ../src/codemirror.scss */
.cm-s-default span.cm-link { color: #00c; }

/* line 158, ../src/codemirror.scss */
span.cm-header, span.cm-strong { font-weight: bold; }

/* line 159, ../src/codemirror.scss */
span.cm-em { font-style: italic; }

/* line 160, ../src/codemirror.scss */
span.cm-emstrong { font-style: italic; font-weight: bold; }

/* line 161, ../src/codemirror.scss */
span.cm-link { text-decoration: underline; }

/* line 163, ../src/codemirror.scss */
span.cm-invalidchar { color: #f00; }

/* line 165, ../src/codemirror.scss */
div.CodeMirror span.CodeMirror-matchingbracket { color: #0f0; }

/* line 166, ../src/codemirror.scss */
div.CodeMirror span.CodeMirror-nonmatchingbracket { color: #f22; }

@media print { /* Hide the cursor when printing */
  /* line 171, ../src/codemirror.scss */
  .CodeMirror pre.CodeMirror-cursor { visibility: hidden; } }
/* Fullscreen wrapper styles */
/* line 178, ../src/codemirror.scss */
#cm-fs-wrapper { position: fixed; top: 0; left: 0; height: 100%; background-color: #fafafa; z-index: 999; width: 100%; }
/* line 186, ../src/codemirror.scss */
#cm-fs-wrapper h3 { font-size: 24px; padding: 5px 38px; }
/* line 190, ../src/codemirror.scss */
#cm-fs-wrapper #cm-fs-editor, #cm-fs-wrapper #cm-fs-actions, #cm-fs-wrapper .CodeMirror-fullscreen { position: absolute; width: 100%; }
/* line 194, ../src/codemirror.scss */
#cm-fs-wrapper #cm-fs-editor { height: 100%; }
/* line 197, ../src/codemirror.scss */
#cm-fs-wrapper #cm-fs-actions { bottom: 0; z-index: 10; }
/* line 200, ../src/codemirror.scss */
#cm-fs-wrapper #cm-fs-actions .cm-well { margin: 13px 20px; text-align: center; }

/* Code mirror full screen mode */
/* line 207, ../src/codemirror.scss */
.CodeMirror-fullscreen { top: 0; left: 0; height: 100%; overflow: auto; }
/* line 211, ../src/codemirror.scss */
.CodeMirror-fullscreen .cm-s-textmate { -webkit-border-radius: 0; -moz-border-radius: 0; -ms-border-radius: 0; -o-border-radius: 0; border-radius: 0; }
/* line 213, ../src/codemirror.scss */
.CodeMirror-fullscreen .cm-s-textmate .CodeMirror-gutter { -moz-border-radius-topleft: 0; -webkit-border-top-left-radius: 0; border-top-left-radius: 0; -moz-border-radius-bottomleft: 0; -webkit-border-bottom-left-radius: 0; border-bottom-left-radius: 0; }

/* Codemirror fullscreen styles */
/* line 218, ../src/codemirror.scss */
.cm-fullscreen { position: absolute; width: 21px; height: 21px; z-index: 999; right: 5px; top: 5px; filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50); opacity: 0.5; cursor: pointer; background: url("/images/codemirror/fullscreen.png") no-repeat white; }

/** Textmate Style Theme **/
/* line 230, ../src/codemirror.scss */
.cm-s-textmate { line-height: 1.3em; font-size: 12px; border: 1px solid #E1E1E8; background-color: #ffffff; -webkit-border-radius: 6px; -moz-border-radius: 6px; -ms-border-radius: 6px; -o-border-radius: 6px; border-radius: 6px; -webkit-box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 2px inset; -moz-box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 2px inset; box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 2px inset; /** Liquid **/ /** XML **/ /** CSS **/ /** Javascript **/ }
/* line 238, ../src/codemirror.scss */
.cm-s-textmate .CodeMirror-matchhighlight { -webkit-box-shadow: #888888 0 0 1px inset; -moz-box-shadow: #888888 0 0 1px inset; box-shadow: #888888 0 0 1px inset; background-color: #f2f8ff; }
/* line 243, ../src/codemirror.scss */
.cm-s-textmate .CodeMirror-gutter { background-color: #fafafa; padding-left: 8px; margin-right: 4px; -moz-border-radius-topleft: 6px; -webkit-border-top-left-radius: 6px; border-top-left-radius: 6px; -moz-border-radius-bottomleft: 6px; -webkit-border-bottom-left-radius: 6px; border-bottom-left-radius: 6px; -webkit-box-shadow: rgba(0, 0, 0, 0.1) 1px 0px 2px; -moz-box-shadow: rgba(0, 0, 0, 0.1) 1px 0px 2px; box-shadow: rgba(0, 0, 0, 0.1) 1px 0px 2px; }
/* line 251, ../src/codemirror.scss */
.cm-s-textmate .activeline { background: #E8F2FF !important; }
/* line 255, ../src/codemirror.scss */
.cm-s-textmate .CodeMirror-gutter-text { color: #d8d8d8; min-width: 28px; width: auto !important; width: 28px; padding-right: 8px; }
/* line 261, ../src/codemirror.scss */
.cm-s-textmate span.cm-keyword { color: #708; }
/* line 262, ../src/codemirror.scss */
.cm-s-textmate span.cm-atom { color: #219; }
/* line 263, ../src/codemirror.scss */
.cm-s-textmate span.cm-number { color: #164; }
/* line 264, ../src/codemirror.scss */
.cm-s-textmate span.cm-def { color: #00f; }
/* line 265, ../src/codemirror.scss */
.cm-s-textmate span.cm-variable { color: black; }
/* line 266, ../src/codemirror.scss */
.cm-s-textmate span.cm-variable-2 { color: #05a; }
/* line 267, ../src/codemirror.scss */
.cm-s-textmate span.cm-variable-3 { color: #085; }
/* line 268, ../src/codemirror.scss */
.cm-s-textmate span.cm-property { color: black; }
/* line 269, ../src/codemirror.scss */
.cm-s-textmate span.cm-operator { color: black; }
/* line 270, ../src/codemirror.scss */
.cm-s-textmate span.cm-comment { color: #a50; }
/* line 271, ../src/codemirror.scss */
.cm-s-textmate span.cm-string { color: #036A07; }
/* line 272, ../src/codemirror.scss */
.cm-s-textmate span.cm-string-2 { color: #f50; }
/* line 273, ../src/codemirror.scss */
.cm-s-textmate span.cm-meta { color: #555; }
/* line 274, ../src/codemirror.scss */
.cm-s-textmate span.cm-error { color: #f00; }
/* line 275, ../src/codemirror.scss */
.cm-s-textmate span.cm-qualifier { color: #555; }
/* line 276, ../src/codemirror.scss */
.cm-s-textmate span.cm-builtin { color: #30a; }
/* line 277, ../src/codemirror.scss */
.cm-s-textmate span.cm-bracket { color: #cc7; }
/* line 278, ../src/codemirror.scss */
.cm-s-textmate span.cm-tag { color: #3d4c9f; }
/* line 279, ../src/codemirror.scss */
.cm-s-textmate span.cm-attribute { color: teal; }
/* line 280, ../src/codemirror.scss */
.cm-s-textmate span.cm-header { color: blue; }
/* line 281, ../src/codemirror.scss */
.cm-s-textmate span.cm-quote { color: #090; }
/* line 282, ../src/codemirror.scss */
.cm-s-textmate span.cm-hr { color: #999; }
/* line 283, ../src/codemirror.scss */
.cm-s-textmate span.cm-link { color: #00c; }
/* line 286, ../src/codemirror.scss */
.cm-s-textmate .cm-liquid-tag { color: #708; }
/* line 290, ../src/codemirror.scss */
.cm-s-textmate .cm-liquid-variable { color: #29739b; }
/* line 295, ../src/codemirror.scss */
.cm-s-textmate span.xml-tagname { color: blue; }
/* line 298, ../src/codemirror.scss */
.cm-s-textmate span.xml-attribute { color: #036A07; }
/* line 301, ../src/codemirror.scss */
.cm-s-textmate span.xml-punctuation { color: black; }
/* line 304, ../src/codemirror.scss */
.cm-s-textmate span.xml-attname { color: blue; }
/* line 307, ../src/codemirror.scss */
.cm-s-textmate span.xml-comment { color: #4C886B; }
/* line 310, ../src/codemirror.scss */
.cm-s-textmate span.xml-cdata { color: #48A; }
/* line 313, ../src/codemirror.scss */
.cm-s-textmate span.xml-processing { color: #999; }
/* line 316, ../src/codemirror.scss */
.cm-s-textmate span.xml-entity { color: #A22; }
/* line 319, ../src/codemirror.scss */
.cm-s-textmate span.xml-error { color: #F00 !important; }
/* line 322, ../src/codemirror.scss */
.cm-s-textmate span.xml-text { color: black; }
/* line 326, ../src/codemirror.scss */
.cm-s-textmate span.css-at { color: #0000FF; }
/* line 329, ../src/codemirror.scss */
.cm-s-textmate span.css-unit { color: #0000CC; }
/* line 332, ../src/codemirror.scss */
.cm-s-textmate span.css-value { color: #000; }
/* line 335, ../src/codemirror.scss */
.cm-s-textmate span.css-constant { color: #06960E; }
/* line 338, ../src/codemirror.scss */
.cm-s-textmate span.css-property { color: #6D79DE; }
/* line 341, ../src/codemirror.scss */
.cm-s-textmate span.css-color { color: #06960E; }
/* line 344, ../src/codemirror.scss */
.cm-s-textmate span.css-identifier { color: #6D79DE; }
/* line 347, ../src/codemirror.scss */
.cm-s-textmate span.css-selector { color: #318495; }
/* line 350, ../src/codemirror.scss */
.cm-s-textmate span.css-important { color: #00F; }
/* line 353, ../src/codemirror.scss */
.cm-s-textmate span.css-colorcode { color: #299; }
/* line 356, ../src/codemirror.scss */
.cm-s-textmate span.css-comment { color: #0066FF; }
/* line 359, ../src/codemirror.scss */
.cm-s-textmate span.css-string { color: #036A07; }
/* line 363, ../src/codemirror.scss */
.cm-s-textmate span.js-punctuation { color: #666666; }
/* line 366, ../src/codemirror.scss */
.cm-s-textmate span.js-operator { color: #666666; }
/* line 369, ../src/codemirror.scss */
.cm-s-textmate span.js-keyword { color: #000999; }
/* line 372, ../src/codemirror.scss */
.cm-s-textmate span.js-atom { color: #0000CC; }
/* line 375, ../src/codemirror.scss */
.cm-s-textmate span.js-variable { color: #336699; }
/* line 378, ../src/codemirror.scss */
.cm-s-textmate span.js-variabledef { color: #000; }
/* line 381, ../src/codemirror.scss */
.cm-s-textmate span.js-localvariable { color: #000; }
/* line 384, ../src/codemirror.scss */
.cm-s-textmate span.js-property { color: black; }
/* line 387, ../src/codemirror.scss */
.cm-s-textmate span.js-comment { color: #4C886B; }
/* line 390, ../src/codemirror.scss */
.cm-s-textmate span.js-string { color: #036A07; }
