/* Theme Colors and layout Defaults */
/* line 5, ../src/defaults.scss */
body {
  font: 12px "Lucida Grande", Geneva, Arial, Verdana, sans-serif;
  background-color: transparent;
}

/* line 8, ../src/defaults.scss */
body h1, body h2, body h3, body h4, body h5 {
  margin: 0px;
}
/* line 11, ../src/defaults.scss */
body h4 {
  font-size: 12px;
}

/* line 16, ../src/defaults.scss */
.font11 {
  font-size: 11px;
}

/* line 20, ../src/defaults.scss */
a {
  color: #4d769f;
}
/* line 24, /Library/Ruby/Gems/1.8/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
a:hover {
  color: #3399cc;
}

/* line 21, ../src/defaults.scss */
a:hover {
  text-decoration: none;
}

/* line 23, ../src/defaults.scss */
p {
  color: #555555;
  font-size: 12px;
  line-height: 1.35em;
  margin: 5px 0px 1.3em 0px;
  text-align: left;
}

/* line 31, ../src/defaults.scss */
.clearfix {
  overflow: hidden;
  *zoom: 1;
}

/* line 33, ../src/defaults.scss */
.title {
  color: #2f3733;
  padding: 6px 0px 10px 0px;
  font-weight: bold;
}

/* line 34, ../src/defaults.scss */
.title a {
  color: #4d769f;
  text-decoration: none;
}
/* line 18, /Library/Ruby/Gems/1.8/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
.title a:visited {
  color: #4d769f;
}
/* line 24, /Library/Ruby/Gems/1.8/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
.title a:hover {
  color: #3399cc;
}
/* line 27, /Library/Ruby/Gems/1.8/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
.title a:active {
  color: #4d769f;
}

/* line 35, ../src/defaults.scss */
h2.title {
  font-size: 1.8em;
}

/* line 36, ../src/defaults.scss */
h3.title, h3.sub_title, h3.title-band {
  font-size: 1.3em;
}

/* line 37, ../src/defaults.scss */
h3.title-band {
  margin: 12px -20px;
  background-color: #f2f2f2;
  padding: 8px 20px;
}

/* line 38, ../src/defaults.scss */
h3.sub_title {
  font-size: 1.1em;
}

/* line 85, icon_small */
.icon_small-sprite, .icon_small-building, .icon_small-comments, .icon_small-events, .icon_small-help, .icon_small-lightbulb, .icon_small-page_white, .icon_small-problem, .icon_small-solutions, .icon_small-user, .icon_small-wand-grey, .icon_small-wand {
  background: url('/images/icon_small-8c17f5e13f.png') no-repeat;
}

/* line 59, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icon_small-building {
  background-position: 0 0;
}

/* line 59, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icon_small-comments {
  background-position: 0 -16px;
}

/* line 59, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icon_small-events {
  background-position: 0 -32px;
}

/* line 59, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icon_small-help {
  background-position: 0 -48px;
}

/* line 59, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icon_small-lightbulb {
  background-position: 0 -64px;
}

/* line 59, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icon_small-page_white {
  background-position: 0 -80px;
}

/* line 59, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icon_small-problem {
  background-position: 0 -96px;
}

/* line 59, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icon_small-solutions {
  background-position: 0 -112px;
}

/* line 59, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icon_small-user {
  background-position: 0 -128px;
}

/* line 59, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icon_small-wand-grey {
  background-position: 0 -144px;
}

/* line 59, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icon_small-wand {
  background-position: 0 -166px;
}
