/* Theme Colors and layout Defaults */
/*$blueprint-font-family: "Lucida Grande", Geneva, Arial,Verdana,sans-serif;*/
body { font: 12px "Helvetica Neue", Arial, Helvetica, sans-serif; background-color: transparent; }

code, pre { padding: 0 3px 2px; font-family: Menlo, Monaco, "Courier New", monospace; font-size: 12px; color: #333333; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; }

.font11 { font-size: 11px; }

a { color: #336699; text-decoration: none; font-weight: inherit; }
a:hover { color: #00438a; }

a:hover { text-decoration: none; }

.hide { display: none; }

.show { display: block; }

.clearfix { *zoom: 1; }
.clearfix:after { content: ""; display: table; clear: both; }

.title { padding: 5px 0px; font-weight: bold; }

/*.title a{ @include link-colors(#4D769F, #3399cc, #4D769F, #4D769F); text-decoration:none; }*/
h1.title { font-size: 2em; text-transform: capitalize; font-weight: normal; }

h2.title { font-size: 1.6em; }

h3.title, h3.sub_title, h3.title-band { font-size: 1.46em; }

h4.title { font-size: 1.30em; }

h4.title.margin-set { margin-bottom: 8px; }

h3.title-band { margin: 12px -20px; background-color: #f2f2f2; padding: 8px 20px; }

h3.sub_title { font-size: 1.1em; }

.floatl { display: inline; float: left; }

.floatr { display: inline; float: right; }

.alignright { text-align: right; }

.aligncenter { text-align: center; }

.info_data, .info-data { color: #888888; font-size: 11px; line-height: 15px; padding-bottom: 6px; margin-left: 0; }
.info_data a, .info_data a.user_name, .info-data a, .info-data a.user_name { font-weight: bold; color: #888; }

.borderbottom { border-bottom: 1px dotted #EFEFEF; }

table td { vertical-align: top; }

.strikethrough { text-decoration: line-through; }

input.auto { width: auto !important; }

textarea.auto-height { height: auto !important; }

.lowercase { text-transform: lowercase; }

.center { text-align: center; }

.padding { padding: 3px 6px; }

label.error { color: red; }

.close-text { float: right; font-family: arial; font-size: 16px; font-weight: bold; line-height: 18px; color: #000000; text-shadow: 0 1px 0 #ffffff; filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40); opacity: 0.4; }

.close-text:hover { color: #000000; text-decoration: none; filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60); opacity: 0.6; cursor: pointer; }

.alert { padding: 8px 14px; margin-top: 8px; margin-bottom: 5px; text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5); background-color: #fcf8e3; border: 1px solid #fbeed5; -moz-border-radius: 4px; -webkit-border-radius: 4px; -o-border-radius: 4px; -ms-border-radius: 4px; -khtml-border-radius: 4px; border-radius: 4px; position: relative; }

.alert, .alert-heading { color: #c09853; }

.alert .close-text { position: absolute; top: 2px; right: 15px; line-height: 18px; font-weight: normal; }

.alert-success { background-color: #dff0d8; border-color: #d6e9c6; }

.alert-success, .alert-success .alert-heading { color: #468847; }

.alert-danger, .alert-error { background-color: #f2dede; border-color: #eed3d7; }

.alert-danger, .alert-error, .alert-danger .alert-heading, .alert-error .alert-heading { color: #b94a48; }

.alert-info { background-color: #d9edf7; border-color: #bce8f1; }

.alert-info, .alert-info .alert-heading { color: #2d6987; }

.alert-block { padding-top: 14px; padding-bottom: 14px; }

.alert-block > p, .alert-block > ul { margin-bottom: 0; }

.alert-block p + p { margin-top: 5px; }

.underline { text-decoration: underline; }

.underline:hover { text-decoration: none; }

.negtiveMargin { margin: 0 -20px -16px; }
