/* Theme Colors and layout Defaults */
/* generic form styles */
.loading-center {
  background-position: center 40%;
}

label {
  display: block;
  color: #666;
  padding: 6px 0px 3px 0px;
  font-size: 1.4em;
}

input[type=text], select, input.text {
  width: 96%;
  margin: 0px 0px 3px 0px;
  color: #3f3f3f;
  padding: 3px;
  font-size: 16px;
}

select {
  padding: 1px;
  font-size: 13px;
  font-weight: normal;
  width: auto;
}

textarea {
  height: 100px;
  width: 96%;
  font-family: "Lucida Grande", Geneva, Arial, Verdana, sans-serif;
}

input:focus {
  outline: none;
}

textarea, input {
  outline: none;
}

input.password {
  width: 240px;
}

input.text, input[type=text], textarea {
  border: 1px solid #cfcfcf;
  font-weight: 400;
}

div.color {
  position: relative;
  padding-top: 0px;
}
div.color .mColorPickerTrigger {
  position: absolute;
  top: 3px;
  left: 230px;
}
div.color input {
  width: 220px;
  font-size: 16px;
  border: 1px solid #afafaf;
}
div.color span {
  display: inline;
}

textarea {
  overflow: auto;
  font-size: 1.0em;
  line-height: 1.4em;
  resize: none;
  padding: 3px;
}

input.very_small {
  width: 200px;
}

textarea.smallpara {
  height: 50px;
}

input:focus, textarea:focus {
  border-color: #7cb537 !important;
}

input:focus, select:focus, textarea:focus {
  -moz-box-shadow: #7cb537 0 0 3px;
  -webkit-box-shadow: #7cb537 0 0 3px;
  box-shadow: #7cb537 0 0 3px;
}

#header_search {
  border: 0px;
}

input.disabled, select.disabled, textarea.disabled {
  background-color: #F0F0F0;
  border: 1px solid #cfcfcf;
  color: #777777 !important;
}

form table {
  width: 100%;
}

div.ui-form ul {
  padding: 0px;
}

div.ui-form ul, ul.ui-form {
  list-style: none;
  *zoom: 1;
  margin: -1px -12px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  -o-border-radius: 6px;
  -ms-border-radius: 6px;
  -khtml-border-radius: 6px;
  border-radius: 6px;
}
div.ui-form ul:after, ul.ui-form:after {
  content: "\0020";
  display: block;
  height: 0;
  clear: both;
  overflow: hidden;
  visibility: hidden;
}

ul.ui-form .ui-form-inline {
  overflow: hidden;
  *zoom: 1;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  -o-border-radius: 0px;
  -ms-border-radius: 0px;
  -khtml-border-radius: 0px;
  border-radius: 0px;
  border-width: 1px 0px;
  padding: 0px;
  margin: 0px;
}
ul.ui-form .ui-form-inline li {
  padding-left: 0px;
}

a.addchoice {
  padding: 5px;
  color: #999999;
  border: 1px solid #cfcfcf;
  border-width: 1px 0px;
  text-decoration: none;
  cursor: pointer;
  padding: 8px 10px 8px 28px;
  font-weight: bold;
  color: #333333;
  display: block;
  background-image: url("../images/add.png");
  background-repeat: no-repeat;
  background-position: 8px 7px;
  background-color: #f2f2f2;
}
a.addchoice:visited {
  color: #333333;
}
a.addchoice:focus {
  color: #333333;
}
a.addchoice:hover {
  color: #336699;
}
a.addchoice:active {
  color: #333333;
}

a.addchoice:hover {
  background-color: #e8e8e8;
}

.colsets fieldset {
  *zoom: 1;
  margin: 1px 0px 0px 0px;
  padding: 2px 1px;
  border: 0px;
  position: relative;
  background-color: #f1f1f1;
  border: 1px solid #cfcfcf;
}
.colsets fieldset:after {
  content: "\0020";
  display: block;
  height: 0;
  clear: both;
  overflow: hidden;
  visibility: hidden;
}
.colsets fieldset b {
  font-size: 11px;
}
.colsets fieldset .dropchoice, .colsets fieldset .tags {
  *zoom: 1;
  float: left;
  margin: 0px 5px 0px 0px;
  padding: 0px;
}
.colsets fieldset .dropchoice:after, .colsets fieldset .tags:after {
  content: "\0020";
  display: block;
  height: 0;
  clear: both;
  overflow: hidden;
  visibility: hidden;
}
.colsets fieldset .dropchoice input, .colsets fieldset .tags input {
  margin-right: 5px;
  width: 100%;
}
.colsets fieldset .dropchoice {
  width: 76%;
}
.colsets fieldset .tags {
  width: 50%;
  display: none;
}
.colsets fieldset img {
  cursor: pointer;
  position: absolute;
  right: 8px;
  top: 5px;
}
.colsets a.addchoice {
  border: 1px solid #dfdfdf;
  background-color: #f3f3f3;
  background-position: 5px 5px;
  font-size: 12px;
  padding: 6px 10px 6px 25px;
}
.colsets a.addchoice:hover {
  background-color: #f8f8f8;
}

.choicelist {
  overflow: hidden;
  *zoom: 1;
}
.choicelist label {
  font-size: 1.1em;
}
.choicelist label.radiolabel {
  font-size: 1em;
  float: left;
  padding: 0px 5px 0px 0px;
  margin-right: 10px;
}
.choicelist input.radio {
  float: left;
}

.ui-form {
  padding: 6px 0px 12px 0px;
  position: relative;
  border: 1px solid #EFEFEF;
  background-color: #F8F8F8;
  	/*li:last-child{
  		border-bottom: 0px;
      	box-shadow: none;
  	}*/
}
.ui-form div.field-box {
  padding: 6px 2% 10px 2%;
  overflow: hidden;
  *zoom: 1;
}
.ui-form li {
  padding: 8px 2% 8px 2%;
  margin: 0px;
  display: inline;
  float: left;
  width: 96%;
}
.ui-form li div.field-box {
  padding: 4px 0 8px 0;
}
.ui-form .hidden {
  display: none;
}
.ui-form li.text, .ui-form li.paragraph {
  width: 96%;
}
.ui-form li.dropdown, .ui-form li.small, .ui-form li.dropdown_blank, .ui-form li.number {
  width: 46%;
}
.ui-form li.dropdown input, .ui-form li.small input, .ui-form li.dropdown_blank input, .ui-form li.number input {
  width: auto;
}
.ui-form li.dropdown select, .ui-form li.dropdown_blank select {
  margin-bottom: 8px;
}
.ui-form label, .ui-form li.checkbox {
  font-weight: normal;
  margin: 0px;
  line-height: 18px;
  color: #565656;
  font-size: 1.3em;
  font-weight: 400;
}
.ui-form label.overlabel {
  color: #999999;
  margin-left: 8px;
  margin-top: 0px;
  font-size: 14px;
}
.ui-form li.checkbox {
  overflow: hidden;
  *zoom: 1;
  padding-top: 16px;
  padding-bottom: 16px;
}
.ui-form li.checkbox input {
  float: left;
  margin-right: 6px;
  margin-top: 4px;
}
.ui-form li.checkbox label {
  position: relative;
  font-size: 0.8em;
  top: -8px;
  left: 3px;
}
.ui-form .largefield label {
  font-size: 1.4em;
}
.ui-form .largefield input {
  font-size: 1.4em;
}
.ui-form span {
  font-weight: normal;
  /*font-size:0.86em;*/
  color: #777777;
}
.ui-form .check_box {
  overflow: hidden;
  *zoom: 1;
}
.ui-form .check_box label {
  float: left;
  font-size: 1.4em;
}
.ui-form .check_box input {
  float: left;
  margin: 5px;
}
.ui-form .seperator {
  margin-bottom: 0px;
  padding: 1px;
}
.ui-form .inline_field {
  margin: 0px 0px 10px 30px;
}
.ui-form .inline_field input {
  width: 45%;
  margin: 0px;
}
.ui-form .inline_field label {
  font-size: 1.2em;
}
.ui-form .inlineChecklist label {
  float: left;
  font-size: 1em;
  padding: 5px 16px 0px 0px;
}
.ui-form .inlineChecklist input {
  top: 0px;
}
.ui-form .inline-radio {
  padding: 3px 0px;
  font-size: 13px;
}
.ui-form .inline-radio input.radio {
  position: relative;
  top: -3px;
  margin-right: 4px;
}
.ui-form .inline-radio select {
  font-size: 12px;
  margin-top: 5px;
}
.ui-form li.textleft {
  overflow: hidden;
  *zoom: 1;
  position: relative;
}
.ui-form li.textleft label {
  position: absolute;
  left: 6px;
  top: 3px;
  width: 25%;
}
.ui-form fieldset.addchoice {
  padding: 0px;
  color: #999999;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
}
.ui-form fieldset.addchoice:hover {
  background: #f8f8f8;
}
.ui-form .conditionset {
  border: 1px solid #cfcfcf;
  margin: 4px 0px;
}
.ui-form .conditionset fieldset {
  *zoom: 1;
  padding: 5px 0px 5px 4px;
  border-bottom: 1px solid #cfcfcf;
  background: #efefef;
  position: relative;
}
.ui-form .conditionset fieldset:after {
  content: "\0020";
  display: block;
  height: 0;
  clear: both;
  overflow: hidden;
  visibility: hidden;
}
.ui-form .conditionset fieldset * {
  float: left;
  width: auto;
  margin: 2px 4px;
}
.ui-form .conditionset fieldset .add, .ui-form .conditionset fieldset .delete {
  position: absolute;
  margin: 0px;
  padding: 0px;
  cursor: pointer;
  right: 10px;
  top: 5px;
}
.ui-form .conditionset fieldset div.controls {
  width: 95%;
}
.ui-form .conditionset fieldset input.text {
  width: 300px;
  font-size: 10pt;
}
.ui-form .conditionset fieldset textarea.paragraph {
  width: 400px;
}
.ui-form .conditionset fieldset div.s_comment {
  width: 520px;
}
.ui-form .conditionset fieldset div.s_comment .paragraph {
  width: 98%;
}
.ui-form .conditionset fieldset div.s_email {
  float: none;
  display: block;
  clear: both;
  padding: 4px;
  overflow: hidden;
  *zoom: 1;
}
.ui-form .conditionset fieldset div.s_email div {
  width: 100%;
  padding: 4px 0px;
  font-size: 12px;
}
.ui-form .conditionset fieldset div.s_email div em {
  font-style: normal;
}
.ui-form .conditionset fieldset div.s_email div b {
  width: 180px;
}
.ui-form .conditionset fieldset div.s_email div input.text, .ui-form .conditionset fieldset div.s_email div textarea.paragraph {
  width: 590px;
}
.ui-form .conditionset fieldset div.s_email div a.l_placeholder {
  clear: left;
  margin-left: 190px;
  margin-top: 4px;
  font-size: 11px;
  text-decoration: none;
}
.ui-form .conditionset fieldset span {
  margin: 0px;
  padding: 0px;
}
.ui-form .conditionset fieldset span.sort_handle:hover {
  background-color: #fafafa;
}
.ui-form .conditionset fieldset label.checkbox {
  width: 100%;
  font-size: 13px;
}
.ui-form .conditionset div {
  margin: 0px;
  padding: 0px;
}

.ui-form .inline-field {
  border-bottom: 1px dotted #cfcfcf;
  padding-top: 8px;
}
.ui-form .inline-field input[type=text], .ui-form .inline-field select, .ui-form .inline-field input.text {
  width: auto;
}
.ui-form .inline-field .caption {
  float: left;
  /*		clear:left; */
}
.ui-form .inline-field .rightalign {
  font-size: 13px;
  width: 195px;
  text-align: right;
}
.ui-form .inline-field div.fields {
  margin-left: 210px;
  clear: right;
}
.ui-form .inline-field div.fields label {
  font-size: 1.2em;
}
.ui-form .inline-field div.fields div.action_buttons {
  margin-top: 0px;
}
.ui-form .inline-field div.fields span.seperator {
  margin: 6px 0px;
}
.ui-form .inline-field div.fields .info-data {
  padding-bottom: 0px;
}
.ui-form .inline-field div.fields div.fields {
  padding-top: 3px;
  margin-left: 160px;
}
.ui-form .inline-field span.seperator {
  border-style: solid;
  border-color: #efefef;
  margin-bottom: 10px;
}

.ui-login, .ui-signup {
  text-align: center;
  display: block;
  padding: 18px 0px;
}
.ui-login .ui-form, .ui-signup .ui-form {
  background: none;
  border: 0px;
  margin: 4px auto;
  -moz-border-radius: 12px 12px 12px 12px;
  -webkit-border-radius: 12px 12px 12px 12px;
  border-radius: 12px 12px 12px 12px;
  -moz-box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.1);
  text-align: left;
  padding: 25px;
  border: 1px solid #c2c2c2;
  background: #ffffff;
}
.ui-login .ui-form ul, .ui-signup .ui-form ul {
  margin: 0px;
}
.ui-login .ui-form ul li, .ui-signup .ui-form ul li {
  border-bottom: 0px;
  padding: 5px 0px;
}
.ui-login .ui-form ul li input.text, .ui-signup .ui-form ul li input.text {
  margin: 3px 0px 5px 0px;
  width: 320px;
}

.business_hours td {
  vertical-align: top;
}
.business_hours td.borderleft {
  border-left: 1px solid #d8d8d8;
}
.business_hours .business_time div.specific_hours {
  padding: 16px 26px;
}
.business_hours .business_time div.timerange {
  *zoom: 1;
}
.business_hours .business_time div.timerange:after {
  content: "\0020";
  display: block;
  height: 0;
  clear: both;
  overflow: hidden;
  visibility: hidden;
}
.business_hours .business_time div.timerange input, .business_hours .business_time div.timerange strong {
  float: left;
}
.business_hours .business_time div.timerange input {
  width: 80px;
}
.business_hours .business_time div.timerange strong {
  font-weight: normal;
  padding: 0px 10px;
}
.business_hours .business_days label {
  float: left;
  font-size: 12px;
  padding-right: 8px;
}
.business_hours .holidaylist {
  padding-left: 0px;
}
.business_hours .holidaylist ul {
  color: #444444;
  overflow: hidden;
  *zoom: 1;
  background-color: white;
  padding: 10px 5px 5px 10px;
  margin: 0px;
  -moz-border-radius: 6px 6px 6px 6px;
  -webkit-border-radius: 6px 6px 6px 6px;
  border-radius: 6px 6px 6px 6px;
}
.business_hours .holidaylist ul li {
  position: relative;
  margin-right: 20px;
}
.business_hours .holidaylist ul li .close {
  position: absolute;
  background: url(../images/icons/btn_close_icon.png) no-repeat;
  width: 18px;
  height: 18px;
  right: 6px;
  top: 0px;
}

input.time {
  font-weight: normal;
  font-size: 12px;
}

.grid {
  border: 1px solid #cfcfcf;
  padding: 0px;
  background: #f6f6f6;
}
.grid table {
  padding: 0px;
  margin: 0px;
  border: 0px;
  font-size: 13px;
  border-bottom: 2px solid #cfcfcf;
}
.grid table th, .grid table td {
  padding: 8px 10px;
  vertical-align: top;
  border: 0px;
}
.grid table th {
  line-height: 18px;
  font-weight: bold;
  background-image: url(../images/overlay-button.png);
  background-color: #f2f2f2;
  background-repeat: repeat-x;
}
.grid table th span {
  display: block;
}
.grid table td {
  background-color: #efefef;
  border-top: 1px solid #cfcfcf;
}
.grid table td label {
  font-size: 12px;
  padding: 0px 6px;
  color: #555555;
}
.grid table td label em {
  font-style: normal;
  font-weight: bold;
  text-transform: capitalize;
  color: #000000;
}
.grid table tr.even td {
  background-color: #f4f4f4;
}
.grid .olist {
  list-style: decimal;
}
.grid .grid_form td {
  border: 0px;
  padding: 6px 10px 0px 10px;
  background: #fafafa;
}
.grid .grid_form .button-container {
  text-align: right;
  padding: 0px 10px 10px 0px;
}

.grid ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
  background: #efefef;
  border-top: 1px solid #cfcfcf;
  padding: 8px 12px;
  overflow: hidden;
  *zoom: 1;
}
.grid ul li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0px;
}
.grid ul li {
  margin: 0px;
  padding: 0px;
  float: left;
  width: 33%;
}

span.sort_handle {
  position: relative;
  left: 0px;
  top: 1px;
  width: 25px;
  height: 25px;
  cursor: move;
  background: url(/images/sort_handle.gif) no-repeat;
  -moz-border-radius: 5px 5px 5px 5px;
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
}

.ui-custom-fields, .ui-custom-form {
  list-style: none;
  margin: 0px 0px 0px 0px;
  padding: 0px;
}
.ui-custom-fields li, .ui-custom-form li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0px;
}

.admin_form {
  overflow: hidden;
  *zoom: 1;
  background-color: #f3f3f3;
  padding: 8px 20px 0px 20px;
  margin: 0px -20px;
}
.admin_form li {
  position: relative;
}
.admin_form h4.title {
  color: #555;
  font-weight: bold;
  margin: 0px;
  padding: 8px 0px 6px 0px;
}

.button-container {
  overflow: hidden;
  *zoom: 1;
  text-align: right;
  padding: 1em 0em 1em 0;
}

.ui-draggable-dragging {
  z-index: 99999;
}

.ui-custom-fields {
  display: block;
  margin-bottom: 10px;
  *zoom: 1;
}
.ui-custom-fields:after {
  content: "\0020";
  display: block;
  height: 0;
  clear: both;
  overflow: hidden;
  visibility: hidden;
}
.ui-custom-fields li {
  float: left;
  position: relative;
}
.ui-custom-fields li a {
  margin: 6px 6px 0px 0px;
  font-size: 13px;
}

.custom_form_outer .placeHolder {
  height: 50px !important;
  border: 1px solid #C2D7EF !important;
}

.ui-sortable-placeholder {
  background: #ffffff !important;
  visibility: visible !important;
  position: relative;
  z-index: 99;
}

.ui-custom-form {
  padding: 0px 0px 15px 0px;
  position: relative;
}
.ui-custom-form li {
  position: relative;
  cursor: move;
  border-bottom: 1px solid #efefef;
}
.ui-custom-form li div {
  position: relative;
}
.ui-custom-form li:hover, .ui-custom-form li.hover, .ui-custom-form li.active {
  background: #ffffff;
  border-color: #dfdfdf;
}
.ui-custom-form li:hover .ui-field-panel, .ui-custom-form li.hover .ui-field-panel, .ui-custom-form li.active .ui-field-panel {
  display: block;
}
.ui-custom-form li:hover .action_panel, .ui-custom-form li.hover .action_panel, .ui-custom-form li.active .action_panel {
  visibility: visible;
}
.ui-custom-form li.active {
  border-style: solid;
}

.hint_drag {
  background: #fefedf;
  border: 1px solid #cccccc;
  padding: 15px 30px;
  margin: 10px 18px;
  display: block;
}

.width400 {
  width: 400px;
}

.ui-login .ui-form {
  width: 350px;
}

.ui-signup .ui-form {
  width: 560px;
}

.help_text {
  padding: 8px 0px 4px 0px;
}
.help_text a {
  text-decoration: none;
  color: #336699;
}
.help_text p {
  font-size: 13px;
}

.ui-widget-container, .ui-dialog {
  padding: 10px 20px;
  min-height: 200px;
  *zoom: 1;
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FFFFFFFF', endColorstr='#FFF4F4F4')";
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FFFFFFFF', endColorstr='#FFF4F4F4');
  /* Fallback: */
  background: white;
  /* CSS 3 plus vendor prefixes: */
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #f4f4f4));
  background-image: -webkit-linear-gradient(#ffffff, #f4f4f4);
  background-image: -moz-linear-gradient(#ffffff, #f4f4f4);
  background-image: -o-linear-gradient(#ffffff, #f4f4f4);
  background-image: linear-gradient(#ffffff, #f4f4f4);
  -moz-border-radius: 6px 6px 6px 6px;
  -webkit-border-radius: 6px 6px 6px 6px;
  border-radius: 6px 6px 6px 6px;
  -moz-box-shadow: rgba(0, 0, 0, 0.5) -3px 5px 10px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.5) -3px 5px 10px;
  box-shadow: rgba(0, 0, 0, 0.5) -3px 5px 10px;
  _border: 1px solid #afafaf;
  _background: #ffffff;
  margin: 10px;
}
.ui-widget-container .button-container, .ui-dialog .button-container {
  width: 96% !important;
  padding-right: 0px !important;
}

.ui-form-widget {
  padding: 15px;
  margin: 0px -15px !important;
  border: 1px solid #DFDFDF !important;
  background-color: rgba(244, 244, 244, 0.5) !important;
}
.ui-form-widget label {
  font-size: 1.2em;
}

/*
 * jQuery UI Dialog 1.8.7
 *
 * Copyright 2010, AUTHORS.txt (http://jqueryui.com/about)
 * Dual licensed under the MIT or GPL Version 2 licenses.
 * http://jquery.org/license
 *
 * http://docs.jquery.com/UI/Dialog#theming
 */
.ui-dialog {
  padding: 8px;
}

.ui-dialog .ui-dialog-titlebar {
  padding: 0px;
  position: relative;
  color: #444;
  padding: 6px 12px 6px 12px;
}

.ui-dialog .ui-dialog-title {
  float: left;
  margin: 0em;
  color: #333333;
  font-size: 18px;
  font-weight: normal;
}

.ui-dialog .ui-dialog-titlebar-close {
  position: absolute;
  right: 4px;
  top: 50%;
  width: 19px;
  margin: -14px 0 0 0;
  padding: 1px;
  height: 18px;
}

.ui-dialog .ui-dialog-titlebar-close span {
  display: block;
  margin: 1px;
}

.ui-dialog .ui-dialog-titlebar-close:hover, .ui-dialog .ui-dialog-titlebar-close:focus {
  background-color: #efefef;
}

.ui-dialog .ui-dialog-content {
  position: relative;
  border: 0;
  padding: 0px 0px;
  overflow: auto;
  zoom: 1;
  margin-bottom: 20px;
}
.ui-dialog .ui-dialog-content .info-highlight {
  margin: 0px 0px 6px 0px;
  font-size: 13px;
  padding: 10px 12px;
}
.ui-dialog .ui-dialog-content .ui-form {
  margin: 0px 0px;
  padding: 8px 20px;
}
.ui-dialog .ui-dialog-content label {
  font-size: 13px;
}

.ui-dialog .ui-dialog-buttonpane {
  text-align: left;
  border-width: 1px 0 0 0;
  background-image: none;
  margin: .5em 0 0 0;
  padding: .3em 1em .5em .4em;
}

.ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset {
  float: right;
}

.ui-dialog .ui-dialog-buttonpane button {
  margin: .5em .4em .5em 0;
  cursor: pointer;
}

.ui-dialog .ui-resizable-se {
  width: 14px;
  height: 14px;
  right: 3px;
  bottom: 3px;
}

.ui-draggable .ui-dialog-titlebar {
  cursor: move;
}

.requesteremail, .agentemail {
  height: 220px;
}

input.search {
  -moz-border-radius: 3px 3px 3px 3px;
  -webkit-border-radius: 3px 3px 3px 3px;
  border-radius: 3px 3px 3px 3px;
  margin-right: 10px;
  background-color: #FFFFFF;
  border: 1px solid #C7C7C7;
  color: #747472;
  font-size: 13px;
  height: 18px;
  padding: 5px 7px;
  width: 500px;
}

.live_search {
  text-align: left;
  padding: 0px 0px 0px 0px;
  margin: 8px 0px;
}
.live_search .loading {
  background-position: right !important;
}
.live_search .overlabel {
  padding: 0px;
  font-size: 13px;
}

.sp_paragraph {
  -moz-border-radius: 3px 3px 3px 3px;
  -webkit-border-radius: 3px 3px 3px 3px;
  border-radius: 3px 3px 3px 3px;
  background-color: #FFFFFF;
  border: 1px solid #C7C7C7;
  color: #747472;
  margin-bottom: 8px;
}

.search-grey-box {
  overflow: hidden;
  *zoom: 1;
  background-color: #f2f2f2;
  border-top: 1px solid #e2e2e2;
  padding: 6px 30px 6px 20px;
}

.sidepanel .close {
  right: 14px;
}

.ui-dialog-form {
  font-size: 80%;
}
.ui-dialog-form .info-data {
  padding-left: 24px;
  display: block;
  font-size: 1.2em;
  margin-top: -5px;
}
.ui-dialog-form a.close {
  position: absolute;
  right: 5px;
  top: 5px;
  width: 28px;
  height: 28px;
  background: url("../images/close_delete.png") no-repeat center;
  z-index: 999;
}

fieldset.nestedChoices {
  overflow: hidden;
  *zoom: 1;
  display: block;
  margin: 1px 0px;
  padding: 2px;
  border: 1px dotted #cfcfcf;
  border-right-color: #e2e2e2;
  border-bottom-color: #e2e2e2;
  background-color: rgba(0, 0, 0, 0.01);
  display: block;
}

.dialog-panel {
  position: absolute;
  width: 320px;
  z-index: 999999;
  -moz-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
  *zoom: 1;
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FFF5F5F5', endColorstr='#FFE9E9E9')";
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FFF5F5F5', endColorstr='#FFE9E9E9');
  /* Fallback: */
  background: #f5f5f5;
  /* CSS 3 plus vendor prefixes: */
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f5f5f5), color-stop(100%, #e9e9e9));
  background-image: -webkit-linear-gradient(#f5f5f5, #e9e9e9);
  background-image: -moz-linear-gradient(#f5f5f5, #e9e9e9);
  background-image: -o-linear-gradient(#f5f5f5, #e9e9e9);
  background-image: linear-gradient(#f5f5f5, #e9e9e9);
  -moz-border-radius: 4px 4px 4px 4px;
  -webkit-border-radius: 4px 4px 4px 4px;
  border-radius: 4px 4px 4px 4px;
  behavior: url('/stylesheets/PIE.htc');
  position: relative;
}

.border-top {
  margin-top: 6px;
  padding-top: 6px;
  border-top: 1px dotted #cfcfcf;
}

.overlay-field {
  position: absolute;
  width: 100%;
  height: 100%;
  background: none;
}

.code-view {
  padding: 8px 20px;
}
.code-view textarea {
  border: 1px dotted #afafaf;
  display: block;
  background: #ffffff;
  font-size: 12px;
  color: #333333;
  height: 160px;
  font-family: "courier";
}

.small_select {
  font-size: 11px;
  width: 110px;
}

.due-date-dialog {
  position: absolute;
  left: 0px;
  top: 0px;
  margin-left: -20px;
  margin-top: -6px;
  z-index: 99999;
  width: 250px;
  -moz-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
  *zoom: 1;
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FFF5F5F5', endColorstr='#FFE9E9E9')";
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FFF5F5F5', endColorstr='#FFE9E9E9');
  /* Fallback: */
  background: #f5f5f5;
  /* CSS 3 plus vendor prefixes: */
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f5f5f5), color-stop(100%, #e9e9e9));
  background-image: -webkit-linear-gradient(#f5f5f5, #e9e9e9);
  background-image: -moz-linear-gradient(#f5f5f5, #e9e9e9);
  background-image: -o-linear-gradient(#f5f5f5, #e9e9e9);
  background-image: linear-gradient(#f5f5f5, #e9e9e9);
  -moz-border-radius: 4px 4px 4px 4px;
  -webkit-border-radius: 4px 4px 4px 4px;
  border-radius: 4px 4px 4px 4px;
  padding: 8px 10px;
  border: 1px solid #e0e0e0;
}
.due-date-dialog .due-date-calender {
  *zoom: 1;
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FFF5F5F5', endColorstr='#FFE9E9E9')";
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FFF5F5F5', endColorstr='#FFE9E9E9');
  /* Fallback: */
  background: #f5f5f5;
  /* CSS 3 plus vendor prefixes: */
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f5f5f5), color-stop(100%, #e9e9e9));
  background-image: -webkit-linear-gradient(#f5f5f5, #e9e9e9);
  background-image: -moz-linear-gradient(#f5f5f5, #e9e9e9);
  background-image: -o-linear-gradient(#f5f5f5, #e9e9e9);
  background-image: linear-gradient(#f5f5f5, #e9e9e9);
  padding: 4px 10px;
  margin: 4px 0px 8px 0px;
  -moz-border-radius: 4px 4px 4px 4px;
  -webkit-border-radius: 4px 4px 4px 4px;
  border-radius: 4px 4px 4px 4px;
  border: #e0e0e0 1px solid;
}
.due-date-dialog .right_pointer {
  background: url('/images/symbols-9f939784fd.png') 0 -64px no-repeat;
  position: absolute;
  width: 10px;
  height: 18px;
  right: -10px;
  top: 10px;
}
.due-date-dialog .ui-datepicker-inline {
  margin: 0px 0px 8px 0px;
}
.due-date-dialog .ui-corner-all {
  -moz-border-radius: 0px 0px 0px 0px;
  -webkit-border-radius: 0px 0px 0px 0px;
  border-radius: 0px 0px 0px 0px;
}
.due-date-dialog .ui-widget-content, .due-date-dialog .ui-widget-header {
  background: none;
  border: 0px;
}
.due-date-dialog .ui-datepicker .ui-datepicker-title select, .due-date-dialog .due-date-calender select, .due-date-dialog #due-date-options {
  font-size: 11px;
  width: auto;
  margin-right: 4px;
}
.due-date-dialog .ui-widget-content {
  font-size: 13px;
}
.due-date-dialog .ui-datepicker-prev, .due-date-dialog .ui-datepicker-next {
  cursor: pointer;
}
.due-date-dialog .ui-datepicker-prev:hover, .due-date-dialog .ui-datepicker-next:hover {
  background: #f4f4f4;
}
.due-date-dialog .ui-datepicker-prev .ui-icon {
  background: url('/images/symbols-9f939784fd.png') 0 -48px no-repeat;
}
.due-date-dialog .ui-datepicker-next .ui-icon {
  background: url('/images/symbols-9f939784fd.png') 0 -82px no-repeat;
}
.due-date-dialog .ui-datepicker th {
  font-weight: normal;
}
.due-date-dialog .ui-datepicker-inline th, .due-date-dialog .ui-datepicker-inline td a {
  text-align: center;
  color: #333333;
}
.due-date-dialog .ui-datepicker-inline td .ui-state-default {
  border: 0px;
  background: none;
}
.due-date-dialog .ui-datepicker-inline td .ui-state-default:hover {
  background-color: #ccdce5;
}
.due-date-dialog .ui-datepicker-inline td .ui-priority-secondary {
  color: #888888;
}
.due-date-dialog .ui-datepicker-inline td .ui-state-highlight {
  background: #FFFFCC;
  color: #333333;
}
.due-date-dialog .ui-datepicker-inline td .ui-state-active, .due-date-dialog .ui-datepicker-inline td .ui-state-active:hover {
  background: #3F3F3F;
  color: #ffffff;
}
.due-date-dialog .due-date-info p {
  text-align: center;
  font-size: 13px;
  margin: 0px;
  padding: 6px 0px;
}
.due-date-dialog .ui-widget-header {
  font-size: 14px;
  color: black;
}
.due-date-dialog .calender-buttons {
  position: relative;
  text-align: right;
  padding: 12px 5px 6px 5px;
  margin-top: 10px;
  border-top: 1px solid #e0e0e0;
}
.due-date-dialog .calender-buttons span.loading-item {
  width: 16px;
  height: 11px;
  position: absolute;
  right: 15px;
  margin-top: 12px;
  background-image: url("/images/load-fb-style.gif");
  background-repeat: no-repeat;
  visibility: hidden;
  background-position: 0px 0px;
}
.due-date-dialog .saving-items .uiButton {
  visibility: hidden;
}
.due-date-dialog .saving-items span.loading-item {
  visibility: visible;
}

.transparent-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99998;
  background: #ffffff;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
}

.tabbed {
  padding-left: 25px;
}

table.summary {
  width: 100%;
}
table.summary td {
  padding: 8px 10px 2px 0px;
}

table.summary-report {
  width: 100%;
  border: 1px solid #ececec;
  border-width: 1px 0px;
  font-size: 13px;
}
table.summary-report td, table.summary-report th {
  padding: 8px 8px;
  width: 180px;
  border-bottom: 1px solid #eaeaea;
}
table.summary-report th {
  background: #ededed;
  font-weight: bold;
  color: #333333;
}
table.summary-report .sub-title {
  background: #f1f1f1;
  text-align: right;
  width: 280px;
  padding-right: 10px;
  text-transform: capitalize;
}
table.summary-report thead {
  margin: 0px 0px 0px 0px;
  color: #666666;
  border: 1px solid #f4f4e9;
  background-color: #fffbee;
}
table.summary-report thead td {
  text-align: center;
  font-weight: bold;
  padding: 12px 18px;
}

.email-settings {
  margin: 0px -20px 10px;
  padding: 0px;
  border-top: 1px solid #e6e6e6;
  border-bottom: 1px solid #f4f4f4;
}
.email-settings label {
  font-size: 14px;
  color: #666666;
  display: block;
}
.email-settings .action_buttons {
  margin-top: 2px;
}
.email-settings .highlight {
  font-size: inherit;
  font-size: 15px;
}
.email-settings .info_data {
  font-size: 12px;
}
.email-settings div.email-item-default, .email-settings div.email-item {
  padding: 6px 22px 4px;
  background: #f6f6f6;
}
.email-settings div.email-item-default {
  padding-top: 10px;
  padding-bottom: 10px;
}
.email-settings div.email-item-default label {
  line-height: 20px;
}
.email-settings div.email-item-default .info_data {
  padding-top: 4px;
}
.email-settings div.email-item {
  border-top: 1px solid #ffffff;
  border-bottom: 1px solid #e8e8e8;
}
.email-settings div.email-item div.item {
  margin-bottom: 8px;
  font-size: 14px;
}
.email-settings div.email-item div.item label {
  font-size: 12px;
  padding-bottom: 2px;
}

.email-inactive .highlight {
  color: #777777 !important;
}

.email-settings-form table {
  width: 400px;
}
.email-settings-form td {
  padding: 6px 8px;
}

.inactive_email {
  padding: 2px 5px;
  margin-left: 15px;
  border: 1px solid #f1d3d3;
  background-color: #f7e6e6;
  color: #b56e6e;
  font-size: 11px;
  position: relative;
  top: -1px;
  text-transform: capitalize;
  font-weight: bold;
  -moz-border-radius: 5px 5px 5px 5px;
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
}
.inactive_email a {
  font-size: 10px;
}

#primary-email-settings div.email-item-default, #primary-email-settings div.email-item {
  background-color: #f3fde5;
}

.highlight-textbox-info {
  font-size: 16px;
  color: #0078BD;
  width: 96%;
  font-weight: 400;
  border: 1px solid #CFCFCF;
  background-color: #efefef;
  padding: 5px 3px 4px 5px;
  height: 18px;
}

.email_info {
  border: 1px solid #cfcfcf;
  padding: 8px 12px;
  background: #f2ffda;
  -moz-border-radius: 3px 3px 3px 3px;
  -webkit-border-radius: 3px 3px 3px 3px;
  border-radius: 3px 3px 3px 3px;
  font-size: 14px;
}

.email-info {
  background-color: #fefce5;
  padding: 12px 22px;
  line-height: 22px;
  margin: 0px -20px;
  font-size: 13px;
  color: #996666;
  border: 1px solid #f4f4f4;
  margin-bottom: 10px;
}

.request_panel {
  padding: 0px 0px;
  margin: 5px 0px;
}
.request_panel .ui-form li.field {
  border: 0px;
}
.request_panel .ui-form label, .request_panel .ui-form div.fields label {
  font-size: 13px;
  color: #333333;
}
.request_panel .ui-form label.overlabel {
  margin: 2px 8px;
  color: #888888;
  font-size: 12px;
}
.request_panel .ui-form li.inline-field {
  padding: 1px 18px;
}
.request_panel .ui-form li.inline-field label.caption {
  width: 80px;
}
.request_panel .ui-form li.inline-field div.fields {
  margin-left: 86px;
  padding-top: 4px;
  position: relative;
}
.request_panel .ui-form li.inline-field div.fields .info-data {
  margin: 8px;
}
.request_panel .ui-form li.inline-field input.text, .request_panel .ui-form li.inline-field textarea {
  width: 98%;
}
.request_panel .ui-form li.inline-field div.action_buttons {
  top: -6px;
  right: 5px;
}
.request_panel .ui-form .request_form_options {
  position: absolute;
  right: 26px;
  top: 20px;
}
.request_panel .ui-form .request_form_options .insert-canned-response {
  position: relative;
  z-index: 1001;
}
.request_panel .ui-form .button-container {
  padding-top: 8px;
  margin-top: 8px;
  border-top: 1px solid #efefef;
}

.nav_search {
  min-width: 260px;
  width: auto !important;
  width: 260px;
  height: 27px;
  position: relative;
  margin: 0px 14px 0px 6px;
}
.nav_search div.search_bar {
  height: 26px;
  background: url("../images/search_icon.gif") 4px 5px no-repeat white;
  padding: 0px 8px 0px 25px;
}
.nav_search div.search_bar label.overlabel, .nav_search div.search_bar input {
  top: 4px;
}
.nav_search div.search_bar label.overlabel {
  padding: 0px;
  margin: 2px 3px;
  font-size: 14px;
}
.nav_search div.search_bar input {
  border: 0px;
  position: relative;
  font-size: 14px;
  width: 100%;
  padding: 0px;
  background: none;
}
.nav_search div.search_bar input:focus {
  -moz-box-shadow: 0 0 0 0;
  -webkit-box-shadow: 0 0 0 0;
  box-shadow: 0 0 0 0;
}

.nav_right {
  overflow: hidden;
  *zoom: 1;
  position: relative;
  z-index: 10;
  margin: 1px 0px 0px 3px;
  float: right;
}

a.new_ticket, .nav_search {
  float: left;
}

a.new_ticket, .nav_search div.search_bar {
  -moz-box-shadow: rgba(0, 0, 0, 0.4) 0px 0px 1px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.4) 0px 0px 1px;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 0px 1px;
  -moz-border-radius: 3px 3px 3px 3px;
  -webkit-border-radius: 3px 3px 3px 3px;
  border-radius: 3px 3px 3px 3px;
  border: 1px solid #67962d;
}

a.new_ticket {
  *zoom: 1;
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FFFEFEFE', endColorstr='#FFDFDFDF')";
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FFFEFEFE', endColorstr='#FFDFDFDF');
  /* Fallback: */
  background: #fefefe;
  /* CSS 3 plus vendor prefixes: */
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #fefefe), color-stop(100%, #dfdfdf));
  background-image: -webkit-linear-gradient(#fefefe, #dfdfdf);
  background-image: -moz-linear-gradient(#fefefe, #dfdfdf);
  background-image: -o-linear-gradient(#fefefe, #dfdfdf);
  background-image: linear-gradient(#fefefe, #dfdfdf);
  padding: 6px 8px 5px 25px;
  color: #333333;
  font-size: 12px;
  text-decoration: none;
  font-weight: bold;
  position: relative;
  display: block;
}
a.new_ticket span {
  position: absolute;
  left: 4px;
  top: 5px;
  background: url('/images/symbols-9f939784fd.png') 0 -16px no-repeat;
  width: 16px;
  height: 16px;
}

a.new_ticket:hover {
  *zoom: 1;
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FF606C88', endColorstr='#FF3F4C6B')";
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FF606C88', endColorstr='#FF3F4C6B');
  /* Fallback: */
  background: #606c88;
  /* CSS 3 plus vendor prefixes: */
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #606c88), color-stop(100%, #3f4c6b));
  background-image: -webkit-linear-gradient(#606c88, #3f4c6b);
  background-image: -moz-linear-gradient(#606c88, #3f4c6b);
  background-image: -o-linear-gradient(#606c88, #3f4c6b);
  background-image: linear-gradient(#606c88, #3f4c6b);
  border-color: #606c88;
  color: #ffffff;
}

.item-right-actions {
  *zoom: 1;
  float: right;
  position: relative;
  top: -6px;
}
.item-right-actions:after {
  content: "\0020";
  display: block;
  height: 0;
  clear: both;
  overflow: hidden;
  visibility: hidden;
}

.menu-box {
  border: 1px solid #cecece;
  background-color: #ffffff;
  right: 0px;
  top: 24px;
  padding: 6px 4px;
  min-width: 230px;
  width: auto !important;
  width: 230px;
  -moz-box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 1px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 1px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 1px;
  position: absolute;
  z-index: 99999;
  display: none;
}
.menu-box .menu-item {
  display: block;
}
.menu-box .menu-item a {
  display: block;
  padding: 4px 16px;
  text-decoration: none;
}
.menu-box .menu-item a:hover {
  background-color: #555555;
  color: #ffffff;
}

.nav-drop .nav-item-icon {
  overflow: hidden;
  *zoom: 1;
  float: left;
  border: 1px solid white;
}
.nav-drop .nav-item-icon span {
  width: 23px;
  height: 23px;
  margin: 0px 3px;
  float: left;
}
.nav-drop .nav-item-icon .item-options {
  background: url('/images/symbols-9f939784fd.png') 0 -114px no-repeat;
}
.nav-drop .nav-item-icon:hover, .nav-drop a.selected {
  border: 1px solid #cdcdcd;
  *zoom: 1;
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FFFBFDFC', endColorstr='#FFEAEAEA')";
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FFFBFDFC', endColorstr='#FFEAEAEA');
  /* Fallback: */
  background: #fbfdfc;
  /* CSS 3 plus vendor prefixes: */
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #fbfdfc), color-stop(100%, #eaeaea));
  background-image: -webkit-linear-gradient(#fbfdfc, #eaeaea);
  background-image: -moz-linear-gradient(#fbfdfc, #eaeaea);
  background-image: -o-linear-gradient(#fbfdfc, #eaeaea);
  background-image: linear-gradient(#fbfdfc, #eaeaea);
}

.title-highlight {
  background-color: #7cb537;
  color: #ffffff;
  font-size: 13px;
  padding: 4px 12px;
  margin: 1px 1px 1px 1px;
}

.dialog-special {
  padding: 8px 0px 5px 0px;
  margin: 0px 0px;
  border: 1px solid #cfcfcf;
  background-color: #f4f4f4;
}
.dialog-special .content {
  padding: 6px 12px 4px 12px;
}
.dialog-special .button {
  font-size: 11px;
  margin: 0px;
}
.dialog-special h4.title {
  font-weight: bold;
}
.dialog-special .pagination {
  margin: 6px 0px 0px 0px;
  padding: 10px 6px;
  color: #666666;
}
.dialog-special .pagination a {
  color: #4d769f;
  font-weight: normal;
}
.dialog-special .pagination a:visited {
  color: #4d769f;
}
.dialog-special .pagination a:hover {
  color: #3399cc;
}
.dialog-special .pagination a:active {
  color: #4d769f;
}

#MergeTable td {
  padding: 3px 6px;
}
#MergeTable .left-area, #MergeTable .right-area {
  width: 50%;
}
#MergeTable .right-area {
  padding-left: 30px;
}
#MergeTable .or {
  margin: 0px 0px 0px 0px;
  border-left: 1px solid #dfdfdf;
}
#MergeTable .or span {
  font-size: 1em;
  color: #ffffff;
  text-transform: uppercase;
  font-style: italic;
  background: #afafaf;
  -moz-border-radius: 18px 18px 18px 18px;
  -webkit-border-radius: 18px 18px 18px 18px;
  border-radius: 18px 18px 18px 18px;
  padding: 5px 7px 5px 5px;
  border: 3px solid #f1f1f1;
  position: absolute;
  margin-left: -25px;
  margin-top: 10px;
}

.ticket-simple-list {
  font-size: 13px;
  width: 100%;
}
.ticket-simple-list li {
  overflow: hidden;
  *zoom: 1;
  padding: 0px 4px 5px 40px;
  position: relative;
}
.ticket-simple-list li .title {
  font-size: 13px;
  padding: 0px 0px 2px 0px;
  font-weight: bold;
  display: block;
}
.ticket-simple-list li .ticket-id {
  font-weight: bold;
  float: left;
  padding-right: 4px;
  color: #666666;
  margin-left: -40px;
}
.ticket-simple-list li a {
  color: #4d769f;
  text-decoration: none;
}
.ticket-simple-list li a:visited {
  color: #4d769f;
}
.ticket-simple-list li a:hover {
  color: #3399cc;
}
.ticket-simple-list li a:active {
  color: #4d769f;
}
.ticket-simple-list li textarea {
  font-size: 12px;
}

.canned-response-menu.loading {
  background-image: url("/images/load.gif");
  background-repeat: no-repeat;
  background-position: 8px 8px;
}

.canned-response-menu {
  border: 1px solid #cfcfcf;
  background-color: #ffffff;
  -moz-box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 4px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 4px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 4px;
  padding: 30px 6px 16px 6px;
  width: 600px;
  position: absolute;
  z-index: 1000;
  right: 6px;
  top: 12px;
}
.canned-response-menu ul {
  border-top: 1px solid #efefef;
  position: relative;
  padding: 12px 0px 0px 0px;
  margin: 6px 0px 0px 0px;
  overflow: hidden;
  *zoom: 1;
}
.canned-response-menu span.divider {
  position: absolute;
  height: 100%;
  border-left: 1px solid #efefef;
  left: 49%;
  width: 1px;
}
.canned-response-menu li {
  float: left;
  width: 240px;
  padding: 6px 8px 6px 24px;
  margin-left: 20px;
  position: relative;
}
.canned-response-menu li a {
  font-size: 13px;
  text-decoration: none;
}
.canned-response-menu li span.bullet {
  background: url('/images/symbols-9f939784fd.png') 0 -153px no-repeat;
  position: absolute;
  width: 16px;
  height: 16px;
  left: 0px;
  top: 7px;
}
