@charset "UTF-8";
/* Theme Colors and layout Defaults */
/* line 4, ../src/freshwidget.scss */
.widget-ovelay {
  opacity: 0.5;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  background-color: white;
}

/* line 9, ../src/freshwidget.scss */
.freshwidget-container, .widget-ovelay {
  position: fixed;
  _position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 90002;
}

/* line 18, ../src/freshwidget.scss */
.freshwidget-container {
  position: absolute;
}

/* line 23, ../src/freshwidget.scss */
.left a {
  left: -2px;
}

/* line 24, ../src/freshwidget.scss */
.left a:hover {
  left: 0px;
}

/* line 26, ../src/freshwidget.scss */
.right {
  right: -2px;
}

/* line 27, ../src/freshwidget.scss */
.right:hover {
  right: 0px;
}

/* line 29, ../src/freshwidget.scss */
.top {
  top: -2px;
}

/* line 30, ../src/freshwidget.scss */
.top:hover {
  top: 0px;
}

/* line 32, ../src/freshwidget.scss */
.bottom {
  bottom: 0px;
}
/* line 34, ../src/freshwidget.scss */
.bottom a {
  bottom: -2px;
}
/* line 35, ../src/freshwidget.scss */
.bottom a:hover {
  bottom: 0px;
}

/* line 38, ../src/freshwidget.scss */
.freshwidget-theme {
  -moz-box-shadow: rgba(0, 0, 0, 0.6) 0px 0px 3px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.6) 0px 0px 3px;
  box-shadow: rgba(0, 0, 0, 0.6) 0px 0px 3px;
  text-shadow: rgba(0, 0, 0, 0.2) -1px -1px 1px;
  padding: 6px 16px 8px 16px;
  background-color: #7eb600;
  border: 2px solid #ffffff;
  color: #ffffff;
  font-size: 16px;
  text-decoration: none;
  font-weight: bold;
}

/* line 50, ../src/freshwidget.scss */
.freshwidget-theme:hover {
  color: #f3f3f3;
}

/* line 54, ../src/freshwidget.scss */
.freshwidget-customimage {
  overflow: visible;
}

/* line 56, ../src/freshwidget.scss */
.right .freshwidget-customimage {
  right: 0px;
}

/* line 58, ../src/freshwidget.scss */
.freshwidget-button {
  position: absolute;
  width: 0px;
  height: 0px;
  z-index: 90000;
  margin: 0px;
}
/* line 59, ../src/freshwidget.scss */
.freshwidget-button a {
  position: fixed;
  white-space: nowrap;
  _position: absolute;
  _right: 0px;
}

/* line 72, ../src/freshwidget.scss */
.left a.freshwidget-theme, .top a.freshwidget-theme {
  border-top-width: 0px;
}

/* line 73, ../src/freshwidget.scss */
.left a.freshwidget-theme {
  -moz-transform: rotate(-90deg);
  -moz-transform-origin: top left;
  -webkit-transform: rotate(-90deg);
  -webkit-transform-origin: top left;
  -o-transform: rotate(-90deg);
  -o-transform-origin: top left;
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}

/* line 77, ../src/freshwidget.scss */
.bottom a.freshwidget-theme, .right a.freshwidget-theme {
  border-bottom-width: 0px;
}

/* line 78, ../src/freshwidget.scss */
.right a.freshwidget-theme {
  -moz-transform: rotate(-90deg);
  -moz-transform-origin: bottom left;
  -webkit-transform: rotate(-90deg);
  -webkit-transform-origin: bottom left;
  -o-transform: rotate(-90deg);
  -o-transform-origin: bottom left;
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}

/* Widget Form Style */
/* line 87, ../src/freshwidget.scss */
.freshwidget-dialog {
  position: absolute;
  padding: 8px 0px;
  left: 50%;
  margin-left: -260px;
  top: 100px;
  z-index: 900010;
}
/* line 95, ../src/freshwidget.scss */
.freshwidget-dialog iframe {
  width: 612px;
  height: 900px;
}
/* line 100, ../src/freshwidget.scss */
.freshwidget-dialog .widget-close {
  position: absolute;
  right: -2px;
  top: 6px;
  width: 28px;
  height: 28px;
  cursor: pointer;
}
