
.gamesettings .admin_list{
	margin: 0 -16px;
}
.scoreboard-trophy-fcr, .scoreboard-trophy-forum, .scoreboard-trophy-love, .scoreboard-trophy-sharpshooter {
	width: 50px;
	height: 50px;
	margin: -7px 10px 0 0; 
}
.gamesettings-badges {
	width: 60px;
	height: 60px;
	margin: -7px 10px 0 0; 
}

.gamesettings h3{
	color: #333;
	margin: 0 0 3px 2px;
	font-size: 20px;
}

.gamesettings .gray-box-rounded {

	margin-bottom: 20px;
	min-height: 120px;
	overflow: hidden;
}

.gamesettings .points-box{
	margin-right: 0;
	overflow: hidden;
}

.gamesettings .points-box h2{
	margin: 10px 0;
	font-size: 16px;
	color: #666;
}

.gamesettings .points{
    margin: 0;
    padding: 0;
}

.gamesettings .points li{
	list-style: none;
	float: left;
	margin-right: 0px;	
	width: 110px;
	font-size: 11px;
	font-weight: 500;
	color: #333;
	padding: 0 0 0 0;
}

.gamesettings .error{
   font-size: 11px;
}

.gamesettings .points li > span{
	color: #666;
	font-size: 12px;
}
.gamesettings .points li input{
	margin-top: 3px;
	margin-left: -2px;
	display: block;
	width: 70px;
	height: 30px; 
	font-size: 22px;
   font-weight: bold; 
   border-radius: 4px;
   border: 1px solid #d9d9d9;
}
.gamesettings .levels .points li{
   width: 110px;
   margin: 5px 0;
   padding: 0 0 0 2px;
}


.gamesettings .trophies li{
	width: 400px;
}

.gamesettings .trophies li h2, 
.gamesettings .quest h2{
	font-weight: bold;
} 

.gamesettings .trophies li h2, 
.gamesettings .trophies li p,
.gamesettings .quest h2, 
.gamesettings .quest p{
	margin: 0 0 3px;
	color: #333;
}

.gamesettings .trophies li.topLeft {
	border-right: 1px solid #eaeaea;
	border-bottom: 1px solid #eaeaea;
	margin-right: 0;
	padding: 10px;
}

.gamesettings .trophies li.topRight {
	border-left: 1px solid #eaeaea;
	border-bottom: 1px solid #eaeaea;
	padding: 10px;
}


.gamesettings .trophies li.bottomLeft{
	border-top: 1px solid #eaeaea;
	border-right: 1px solid #eaeaea;
	padding: 10px;
	margin-right: 0;

}

.gamesettings .trophies li.bottomRight {
	border-left: 1px solid #eaeaea;
	border-top: 1px solid #eaeaea;
	padding: 10px;
}

.gamesettings .quest{
	min-height: 40px;
	margin-bottom: 5px;
	padding: 20px 50px 20px 20px;
}


.selectgame h2{
	display: inline;
	font-size: 16px;
}

.gamecriteria h2, .gamereward h2, .gamename h2{
  margin: 4px;
  font-size: 16px;
}
.gamecriteria .gray-box-rounded, .gamereward .gray-box-rounded, .gamename  .gray-box-rounded, #select-badge .gray-box-rounded {
	box-sizing: border-box;
	padding: 10px;
	border-radius: 4px;
	background-color: #f7f7f7;
	margin-bottom: 20px;
	overflow: hidden;
	min-height: 20px;

}

.gray-box-rounded select {
	width: 200px;
	margin-right: 10px;
} 
 .gray-box-rounded .smallinput{
 	width: 50px;
 	font-size: 14px;
 	margin-right: 10px;
 	border-radius: 4px;
 	border: 1px solid #d9d9d9;
 }

 .gamereward input{
 	width: 50px;
 	font-size: 14px;
 	margin: 0 5px;
 	border-radius: 4px;
 	border: 1px solid #d9d9d9;
 }
 
 .gamename input, .gamename textarea{
 	width: 98%;
 	font-size: 16px;
 	margin-bottom: 15px;
 	padding: 4px;
 	border-radius: 4px;
 	border: 1px solid #d9d9d9;

 } 

 .gamename textarea{
 	margin-bottom: 0 !important;
 }

.badgelist ul{
	overflow: hidden;
}
 .badgelist li{
   float: left;
   margin: 10px 20px 20px 10px;
   text-align: center;
   font-weight: bold;
 }

.badgelist li div{
	margin-left: 5px;
}


/* Reports CSS */
.leaderboard-big{
 	width: 99%;
 	border-collapse: collapse;
 }

.leaderboard-small{
  width: 30%;
  border-collapse: collapse;
  display: inline;
  margin-right: 3%;
  margin-top: 2%;
  float: left;
}

 .leaderboard-big td, .leaderboard-big th, 
 .leaderboard-small td, .leaderboard-small th{
 	padding: 10px;
 	font-family: sans-serif;
 }

.leaderboard-big th{
	background-color: #e5e5e5;

}
 
 .leaderboard-small th{
	background-color: #e5e5e5;
	text-align: left;
}
 .alterRow td{
 	background-color: #f6f6f6;
 }

 .up{
 	color: #7ecfd3;
 }

 .down{
 	color: #d68585;
 }

 .leaderboard-small td b{
 	display: block;
 }
