<<<<<<< HEAD
/* Theme Colors and layout Defaults */
/* Qtip hack for using our own tool-tip style for new ticket Auto Suggest Solutions  */
.ui-solution-suggest { margin-top: -15px; }
.ui-solution-suggest .ui-tooltip-tip { display: none; }
.ui-solution-suggest:after { content: ""; position: absolute; width: 12px; height: 21px; background: url('/images/symbols-s89437f3f6c.png') 0 -170px no-repeat; left: -11px; top: 20px; }
.ui-solution-suggest .ui-tooltip-content { padding: 15px 16px; }
=======
.ui-solution-suggest{margin-top:-15px}.ui-solution-suggest .ui-tooltip-tip{display:none}.ui-solution-suggest:after{content:"";position:absolute;width:12px;height:21px;background:url('/images/symbols-s6708faa735.png') 0 -170px no-repeat;left:-11px;top:20px}.ui-solution-suggest .ui-tooltip-content{padding:15px 16px}
>>>>>>> origin/freshdesk_staging
