@charset "UTF-8";
/* Theme Colors and layout Defaults */
/* line 4, ../src/ie.scss */
.ie6, .ie7, .ie8, .ie9 {
  /*.ui-draggable-dragging{
  	margin-left:-18px;
  	margin-top:-45px;
  }*/
}
/* line 6, ../src/ie.scss */
.ie6 a.new_ticket, .ie7 a.new_ticket, .ie8 a.new_ticket, .ie9 a.new_ticket {
  display: inline;
}
/* line 7, ../src/ie.scss */
.ie6 .wrapper, .ie7 .wrapper, .ie8 .wrapper, .ie9 .wrapper {
  width: 980px;
}
/* line 9, ../src/ie.scss */
.ie6 .nav_search, .ie7 .nav_search, .ie8 .nav_search, .ie9 .nav_search {
  margin-top: 4px;
}
/* line 10, ../src/ie.scss */
.ie6 .nav_search div.search_bar, .ie7 .nav_search div.search_bar, .ie8 .nav_search div.search_bar, .ie9 .nav_search div.search_bar {
  padding-top: 4px;
  padding-bottom: 3px;
}
/* line 11, ../src/ie.scss */
.ie6 .nav_search input, .ie7 .nav_search input, .ie8 .nav_search input, .ie9 .nav_search input {
  top: 1px;
  left: 2px;
}
/* line 13, ../src/ie.scss */
.ie6 ul.summary, .ie7 ul.summary, .ie8 ul.summary, .ie9 ul.summary {
  border-color: ececec;
}
/* line 15, ../src/ie.scss */
.ie6 ul.icon_grid li a div, .ie7 ul.icon_grid li a div, .ie8 ul.icon_grid li a div, .ie9 ul.icon_grid li a div {
  font-weight: bold;
}
/* line 17, ../src/ie.scss */
.ie6 .uniForm, .ie6 .uniForm fieldset, .ie6 .uniForm .ctrlHolder, .ie6 .uniForm .formHint, .ie6 .uniForm .buttonHolder, .ie6 .uniForm .ctrlHolder ul, .ie7 .uniForm, .ie7 .uniForm fieldset, .ie7 .uniForm .ctrlHolder, .ie7 .uniForm .formHint, .ie7 .uniForm .buttonHolder, .ie7 .uniForm .ctrlHolder ul, .ie8 .uniForm, .ie8 .uniForm fieldset, .ie8 .uniForm .ctrlHolder, .ie8 .uniForm .formHint, .ie8 .uniForm .buttonHolder, .ie8 .uniForm .ctrlHolder ul, .ie9 .uniForm, .ie9 .uniForm fieldset, .ie9 .uniForm .ctrlHolder, .ie9 .uniForm .formHint, .ie9 .uniForm .buttonHolder, .ie9 .uniForm .ctrlHolder ul {
  zoom: 1;
}
/* line 21, ../src/ie.scss */
.ie6 .uniForm .textInput,
.ie6 .uniForm .fileUpload,
.ie6 .uniForm .selectInput,
.ie6 .uniForm select, .ie7 .uniForm .textInput, .ie7 .uniForm .fileUpload, .ie7 .uniForm .selectInput, .ie7 .uniForm select, .ie8 .uniForm .textInput, .ie8 .uniForm .fileUpload, .ie8 .uniForm .selectInput, .ie8 .uniForm select, .ie9 .uniForm .textInput, .ie9 .uniForm .fileUpload, .ie9 .uniForm .selectInput, .ie9 .uniForm select {
  height: 24px;
}
/* line 23, ../src/ie.scss */
.ie6 #custom_form li, .ie7 #custom_form li, .ie8 #custom_form li, .ie9 #custom_form li {
  height: 53px !important;
}
/* line 33, ../src/ie.scss */
.ie6 .request-list div.item .bulb, .ie6 .request-list div.item .wand, .ie7 .request-list div.item .bulb, .ie7 .request-list div.item .wand, .ie8 .request-list div.item .bulb, .ie8 .request-list div.item .wand, .ie9 .request-list div.item .bulb, .ie9 .request-list div.item .wand {
  left: 0px;
  margin-left: -25px;
}
/* line 39, ../src/ie.scss */
.ie6 input.search, .ie7 input.search, .ie8 input.search, .ie9 input.search {
  height: 28px;
}
/* line 43, ../src/ie.scss */
.ie6 div.description, .ie7 div.description, .ie8 div.description, .ie9 div.description {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
}
/* line 48, ../src/ie.scss */
.ie6 div.description .details, .ie7 div.description .details, .ie8 div.description .details, .ie9 div.description .details {
  padding: 0px;
}
/* line 53, ../src/ie.scss */
.ie6 .reminders, .ie7 .reminders, .ie8 .reminders, .ie9 .reminders {
  width: 100%;
}
/* line 57, ../src/ie.scss */
.ie6 .rtCnt .rtDetails h3.title, .ie7 .rtCnt .rtDetails h3.title, .ie8 .rtCnt .rtDetails h3.title, .ie9 .rtCnt .rtDetails h3.title {
  margin-top: 14px;
  padding-bottom: 0px;
}
/* line 62, ../src/ie.scss */
.ie6 div.panel_area .tag_delete, .ie7 div.panel_area .tag_delete, .ie8 div.panel_area .tag_delete, .ie9 div.panel_area .tag_delete {
  right: 12px;
}
/* line 66, ../src/ie.scss */
.ie6 .placeholder-list dl dt a, .ie7 .placeholder-list dl dt a, .ie8 .placeholder-list dl dt a, .ie9 .placeholder-list dl dt a {
  width: 180px;
}
/* line 70, ../src/ie.scss */
.ie6 .auto-expand, .ie7 .auto-expand, .ie8 .auto-expand, .ie9 .auto-expand {
  overflow-x: hidden;
}
/* line 74, ../src/ie.scss */
.ie6 .search_results_bar .results li h4, .ie7 .search_results_bar .results li h4, .ie8 .search_results_bar .results li h4, .ie9 .search_results_bar .results li h4 {
  margin-left: -50px;
}
/* line 76, ../src/ie.scss */
.ie6 .uiButton, .ie7 .uiButton, .ie8 .uiButton, .ie9 .uiButton {
  padding: 4px 12px;
  font-size: 11px;
}
/* line 81, ../src/ie.scss */
.ie6 .ui-widget-container, .ie7 .ui-widget-container, .ie8 .ui-widget-container, .ie9 .ui-widget-container {
  -moz-box-shadow: #afafaf -3px 5px 10px;
  -webkit-box-shadow: #afafaf -3px 5px 10px;
  box-shadow: #afafaf -3px 5px 10px;
  behavior: url(/stylesheets/PIE.htc);
}
