/* Theme Colors and layout Defaults */
.ie6 .wrapper, .ie7 .wrapper {
  width: expression((document.body.clientWidth < 982)? "982px" : "90%");
  width: 980px;
}
.ie6 ul.header-tabs li.active a, .ie6 ul.header-tabs li.active a:hover, .ie7 ul.header-tabs li.active a, .ie7 ul.header-tabs li.active a:hover {
  top: 1px;
  padding-top: 7px;
}
.ie6 input, .ie6 button, .ie7 input, .ie7 button {
  overflow: visible;
}
.ie6 input.text, .ie7 input.text {
  overflow-x: hidden;
}
.ie6 ul.summary, .ie7 ul.summary {
  border-color: #ececec;
}
.ie6 ul.icon_grid li a div, .ie7 ul.icon_grid li a div {
  font-weight: bold;
}
.ie6 ul.ui-form li.inline-field, .ie7 ul.ui-form li.inline-field {
  width: 96%;
}
.ie6 .reminders ul li, .ie6 .reminders-ticket ul li, .ie7 .reminders ul li, .ie7 .reminders-ticket ul li {
  display: inline-block;
}
.ie6 .uniForm, .ie6 .uniForm fieldset, .ie6 .uniForm .ctrlHolder, .ie6 .uniForm .formHint, .ie6 .uniForm .buttonHolder, .ie6 .uniForm .ctrlHolder ul, .ie7 .uniForm, .ie7 .uniForm fieldset, .ie7 .uniForm .ctrlHolder, .ie7 .uniForm .formHint, .ie7 .uniForm .buttonHolder, .ie7 .uniForm .ctrlHolder ul {
  zoom: 1;
}
.ie6 .uniForm .textInput,
.ie6 .uniForm .fileUpload,
.ie6 .uniForm .selectInput,
.ie6 .uniForm select, .ie7 .uniForm .textInput, .ie7 .uniForm .fileUpload, .ie7 .uniForm .selectInput, .ie7 .uniForm select {
  height: 24px;
}
.ie6 .ui-form .attachment_list li, .ie7 .ui-form .attachment_list li {
  width: 200px;
  border: 0px;
}
.ie6 .ui-form .attachment_list li .delete, .ie7 .ui-form .attachment_list li .delete {
  display: block;
}
.ie6 .request-list div.item .bulb, .ie6 .request-list div.item .wand, .ie7 .request-list div.item .bulb, .ie7 .request-list div.item .wand {
  left: 0px;
  margin-left: -25px;
}
.ie6 input.search, .ie7 input.search {
  height: 28px;
}
.ie6 div.description, .ie7 div.description {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
}
.ie6 div.description .details, .ie7 div.description .details {
  padding: 0px;
}
.ie6 .rtCnt .rtDetails h3.title, .ie7 .rtCnt .rtDetails h3.title {
  margin-top: 14px;
  padding-bottom: 0px;
}
.ie6 div.panel_area .tag_delete, .ie7 div.panel_area .tag_delete {
  right: 12px;
}
.ie6 .placeholder-list dl dt a, .ie7 .placeholder-list dl dt a {
  width: 180px;
}
.ie6 .auto-expand, .ie7 .auto-expand {
  overflow-x: hidden;
}
.ie6 .search_bar, .ie7 .search_bar {
  width: 220px;
}
.ie6 .uiButton, .ie7 .uiButton {
  padding: 4px 8px;
  font-size: 11px;
}
.ie6 a.uiButton, .ie6 a.uiButton:visited, .ie7 a.uiButton, .ie7 a.uiButton:visited {
  padding-top: 5px;
  padding-bottom: 6px;
  font-size: 11px;
}
.ie6 .ui-login .ui-form, .ie6 .ui-signup .ui-form, .ie7 .ui-login .ui-form, .ie7 .ui-signup .ui-form {
  -moz-box-shadow: 0px 1px 6px #cfcfcf;
  -webkit-box-shadow: 0px 1px 6px #cfcfcf;
  box-shadow: 0px 1px 6px #cfcfcf;
}
.ie6 .dialog-panel, .ie6 .due-date-dialog, .ie7 .dialog-panel, .ie7 .due-date-dialog {
  -moz-box-shadow: #9f9f9f 0px 2px 4px;
  -webkit-box-shadow: #9f9f9f 0px 2px 4px;
  box-shadow: #9f9f9f 0px 2px 4px;
}
.ie6 .due-date-dialog, .ie7 .due-date-dialog {
  margin-left: 0px;
  top: -8px;
}
.ie6 .ui-form .conditionset fieldset div.s_email div input.text, .ie6 .ui-form .conditionset fieldset div.s_email div textarea.paragraph, .ie7 .ui-form .conditionset fieldset div.s_email div input.text, .ie7 .ui-form .conditionset fieldset div.s_email div textarea.paragraph {
  width: 550px;
}
.ie6 .ui-widget-container, .ie7 .ui-widget-container {
  -moz-box-shadow: #afafaf -3px 5px 10px;
  -webkit-box-shadow: #afafaf -3px 5px 10px;
  box-shadow: #afafaf -3px 5px 10px;
}
.ie6 .fd-menu, .ie7 .fd-menu {
  z-index: 999999;
}

.ie6 .fd-menu, .ie7 .fd-menu, .ie8 .fd-menu {
  border: 1px solid #afafaf;
}
.ie6 .fd-menu a:hover, .ie7 .fd-menu a:hover, .ie8 .fd-menu a:hover {
  background: #5469f9;
}
