@charset "UTF-8";
/* Theme Colors and layout Defaults */
/* line 5, ../src/layout.scss */
html {
  height: 100%;
  overflow-y: scroll;
}

/* line 7, ../src/layout.scss */
.wrapper {
  overflow: hidden;
  *zoom: 1;
  min-width: 950px;
  width: 95%;
  margin: 0 auto;
  overflow: hidden;
  *zoom: 1;
  position: relative;
  text-align: left;
  max-width: 1220px;
  padding: 0px 8px;
}

/* line 16, ../src/layout.scss */
.top_links a {
  text-decoration: none;
  font-weight: bold;
  padding: 0px 8px;
  margin: 0px;
  border-right: 1px solid #afafaf;
  border-left: 1px solid #efefef;
  color: #527eaa;
}
/* line 18, ../../../.gem/ruby/1.8/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/utilities/links/_link-colors.scss */
.top_links a:visited {
  color: #527eaa;
}
/* line 24, ../../../.gem/ruby/1.8/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/utilities/links/_link-colors.scss */
.top_links a:hover {
  color: #888888;
}
/* line 27, ../../../.gem/ruby/1.8/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/utilities/links/_link-colors.scss */
.top_links a:active {
  color: #527eaa;
}

/* line 26, ../src/layout.scss */
.fixedWidth {
  max-width: 680px;
}

/* line 30, ../src/layout.scss */
#wrap {
  margin-bottom: 0px;
  text-align: center;
}

/* line 35, ../src/layout.scss */
#minwidthfix {
  width: 950px;
}

/* line 39, ../src/layout.scss */
label.overlabel {
  color: #888888;
  position: absolute;
  font-size: 1.0em;
  font-weight: normal;
  z-index: 5;
  margin: 8px;
}

/* line 49, ../src/layout.scss */
#inner {
  *zoom: 1;
  position: relative;
  z-index: 1;
  margin: 12px 0px 0px 0px;
  padding-right: 310px;
}
/* line 22, ../../../.gem/ruby/1.8/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
#inner:after {
  content: "\0020";
  display: block;
  height: 0;
  clear: both;
  overflow: hidden;
  visibility: hidden;
}
/* line 52, ../src/layout.scss */
#inner .leftcontent {
  float: left;
  width: 100%;
}
/* line 59, ../src/layout.scss */
#inner .sidebar {
  width: 310px;
  float: right;
  display: inline;
  margin-right: -310px;
}

/* line 67, ../src/layout.scss */
.single #inner {
  padding-right: 0px;
}
/* line 69, ../src/layout.scss */
.single #inner .sidebar {
  display: none;
}
/* line 72, ../src/layout.scss */
.single #inner .leftcontent {
  margin-right: 0px;
  border-right: 0px;
}

/* line 78, ../src/layout.scss */
.invert #inner {
  padding-right: 0px;
  padding-left: 200px;
  /* The width of the rail */
}
/* line 81, ../src/layout.scss */
.invert #inner .sidebar, .invert #inner .leftcontent {
  float: right;
}
/* line 84, ../src/layout.scss */
.invert #inner .sidebar {
  margin-right: 0px;
  width: 200px;
  margin-left: -200px;
}

/* line 92, ../src/layout.scss */
div.bg_white {
  background-color: #ffffff;
}

/* line 96, ../src/layout.scss */
div.bg_pulp {
  background-color: #F3F1EC;
}

/* line 100, ../src/layout.scss */
.twoCol_ltSidebar #inner {
  padding-right: 0px;
  padding-left: 310px;
  /* The width of the rail */
}
/* line 103, ../src/layout.scss */
.twoCol_ltSidebar #inner .sidebar {
  margin-right: 0px;
  margin-left: -310px;
}
/* line 107, ../src/layout.scss */
.twoCol_ltSidebar #inner .leftcontent {
  margin-right: 0px;
  border-right: 0px;
  border-left: 310px solid #f2f8fc;
  /* The width and color of the rail */
  margin-left: -310px;
  /* Hat tip to Ryan Brill */
  float: right;
}

/* line 116, ../src/layout.scss */
.breadcrumb {
  padding: 4px 0px;
  margin: 8px 10px 3px 10px;
  overflow: hidden;
  *zoom: 1;
  color: #ffffff;
  font-size: 12px;
}
/* line 122, ../src/layout.scss */
.breadcrumb a {
  color: white;
  text-decoration: none;
  padding: 3px 10px;
  -moz-border-radius: 6px 6px 6px 6px;
  -webkit-border-radius: 6px 6px 6px 6px;
  border-radius: 6px 6px 6px 6px;
  background-color: #afafaf;
  text-decoration: none;
}
/* line 18, ../../../.gem/ruby/1.8/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/utilities/links/_link-colors.scss */
.breadcrumb a:visited {
  color: white;
}
/* line 21, ../../../.gem/ruby/1.8/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/utilities/links/_link-colors.scss */
.breadcrumb a:focus {
  color: white;
}
/* line 24, ../../../.gem/ruby/1.8/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/utilities/links/_link-colors.scss */
.breadcrumb a:hover {
  color: white;
}
/* line 27, ../../../.gem/ruby/1.8/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/utilities/links/_link-colors.scss */
.breadcrumb a:active {
  color: white;
}

/* line 132, ../src/layout.scss */
.info_data, .info-data {
  color: #888888;
  padding-bottom: 6px;
}

/* Header styles */
/* line 140, ../src/layout.scss */
.header {
  overflow: hidden;
  *zoom: 1;
  position: relative;
  padding: 10px 0px 0px 0px;
  background: #2f3733;
}

/* line 147, ../src/layout.scss */
.brand {
  position: absolute;
  left: 0px;
  margin-left: 8px;
  text-decoration: none;
}
/* line 152, ../src/layout.scss */
.brand a {
  text-decoration: none;
}
/* line 155, ../src/layout.scss */
.brand .logo {
  overflow: hidden;
  *zoom: 1;
  float: left;
  margin: 0px 0px 0px 5px;
}
/* line 160, ../src/layout.scss */
.brand img, .brand h3 {
  float: left;
}
/* line 163, ../src/layout.scss */
.brand h3 {
  font-size: 20px;
  text-decoration: none;
  font-weight: normal;
  margin: 0px;
  padding: 13px 0px 0px 2px;
  position: relative;
  color: #ffffff;
  text-transform: capitalize;
}

/* line 175, ../src/layout.scss */
.header_links {
  float: right;
  text-align: right;
  height: 60px;
  margin: 0px 12px;
  color: #ffffff;
  font-size: 12px;
}
/* line 182, ../src/layout.scss */
.header_links strong {
  font-weight: bold;
}
/* line 185, ../src/layout.scss */
.header_links a {
  padding: 0px 6px;
  color: #ffffff;
  text-decoration: none;
}
/* line 190, ../src/layout.scss */
.header_links a:hover {
  text-decoration: none;
}

/* Header Tab styles */
/* line 197, ../src/layout.scss */
.top_nav_bg {
  background: #7cb537;
}

/* line 201, ../src/layout.scss */
.nav_search, .nav_right {
  float: right;
}

/* line 205, ../src/layout.scss */
.nav_search {
  min-width: 260px;
  width: auto !important;
  width: 260px;
  height: 27px;
  position: relative;
  margin: 2px 14px 0px 0px;
}
/* line 207, ../src/layout.scss */
.nav_search div.search_bar {
  height: 26px;
  background: url("../images/search_icon.gif") 4px 5px no-repeat white;
  padding: 0px 8px 0px 25px;
}
/* line 215, ../src/layout.scss */
.nav_search label.overlabel, .nav_search input {
  top: 4px;
}
/* line 218, ../src/layout.scss */
.nav_search label.overlabel {
  padding: 0px;
  margin: 2px 3px;
  font-size: 14px;
}
/* line 223, ../src/layout.scss */
.nav_search input {
  border: 0px !important;
  position: relative;
  font-size: 12px !important;
  width: 100%;
  padding: 0px;
  background: none;
}

/* line 233, ../src/layout.scss */
.nav_right {
  position: relative;
  z-index: 10;
  margin: 2px 6px 0px 3px;
}

/* line 239, ../src/layout.scss */
a.new_ticket, .nav_search div.search_bar {
  -moz-box-shadow: #777777 0px 0px 2px;
  -webkit-box-shadow: #777777 0px 0px 2px;
  box-shadow: #777777 0px 0px 2px;
  behavior: url(/stylesheets/PIE.htc);
  -moz-border-radius: 4px 4px 4px 4px;
  -webkit-border-radius: 4px 4px 4px 4px;
  border-radius: 4px 4px 4px 4px;
  margin-top: 2px;
}

/* line 246, ../src/layout.scss */
a.new_ticket {
  background: #fefefe;
  background: -moz-linear-gradient(top, #fefefe 0%, #dfdfdf 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fefefe), color-stop(100%, #dfdfdf));
  background: linear-gradient(#fefefe, #dfdfdf);
  -pie-background: linear-gradient(#fefefe, #dfdfdf);
  padding: 6px 10px 5px 25px;
  color: #333333;
  font-size: 12px;
  text-decoration: none;
  font-weight: bold;
  position: relative;
  display: block;
}
/* line 254, ../src/layout.scss */
a.new_ticket img {
  position: absolute;
  left: 6px;
  top: 5px;
}

/* line 257, ../src/layout.scss */
a.new_ticket:hover {
  background: #606c88;
  background: -moz-linear-gradient(top, #606c88 0%, #3f4c6b 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #606c88), color-stop(100%, #3f4c6b));
  background: linear-gradient(#606c88, #3f4c6b);
  -pie-background: linear-gradient(#606c88, #3f4c6b);
  border-color: #606c88;
  color: #ffffff;
}

/* line 263, ../src/layout.scss */
ul.tabs {
  list-style: none;
}
/* line 265, ../src/layout.scss */
ul.tabs li {
  float: left;
  position: relative;
}
/* line 268, ../src/layout.scss */
ul.tabs li span {
  background: none;
  height: 1px;
  display: block;
  width: 90px;
  font-size: 0px;
  position: relative;
  z-index: 1;
  margin-bottom: -2px;
}
/* line 279, ../src/layout.scss */
ul.tabs li a {
  position: relative;
  z-index: 5;
  text-decoration: none;
  color: #ffffff;
  padding: 9px 6px 9px 8px;
  font-size: 13px;
  font-weight: bold;
  text-align: center;
  display: block;
  text-transform: capitalize;
  text-shadow: rgba(0, 0, 0, 0.1) 1px 1px 1px;
}
/* line 292, ../src/layout.scss */
ul.tabs li a:hover {
  background: #95cb54;
  color: #ffffff;
}
/* line 297, ../src/layout.scss */
ul.tabs li.active a, ul.tabs li.active a:hover {
  border-color: #618e2b;
  background: #efefef;
  color: #000000;
}

/* Footer styles */
/* line 305, ../src/layout.scss */
.footerContent {
  padding: 4px 20px 20px;
}
