/* Theme Colors and layout Defaults */
html {
  height: 100%;
  overflow-y: scroll;
}

.wrapper {
  overflow: hidden;
  *zoom: 1;
  min-width: 982px;
  width: 95%;
  margin: 0 auto;
  overflow: hidden;
  *zoom: 1;
  position: relative;
  text-align: left;
  max-width: 1280px;
  min-width: auto;
  padding: 0px 8px;
}

.top_links a {
  text-decoration: none;
  font-weight: bold;
  padding: 0px 8px;
  margin: 0px;
  border-right: 1px solid #afafaf;
  border-left: 1px solid #efefef;
  color: #527eaa;
}
.top_links a:visited {
  color: #527eaa;
}
.top_links a:hover {
  color: #888888;
}
.top_links a:active {
  color: #527eaa;
}

.fixedWidth {
  max-width: 680px;
}

#wrap {
  margin-bottom: 0px;
  text-align: center;
}

#minwidthfix {
  width: 950px;
}

label.overlabel {
  color: #888888;
  position: absolute;
  font-size: 1.0em;
  font-weight: normal;
  z-index: 5;
  margin: 8px;
}

#inner {
  *zoom: 1;
  position: relative;
  z-index: 1;
  margin: 12px 0px 0px 0px;
  padding-right: 318px;
}
#inner:after {
  content: "\0020";
  display: block;
  height: 0;
  clear: both;
  overflow: hidden;
  visibility: hidden;
}
#inner .leftcontent {
  float: left;
  width: 100%;
}
#inner .sidebar {
  width: 310px;
  float: right;
  margin-right: -310px;
}

.single #inner {
  padding-right: 0px;
}
.single #inner .sidebar {
  display: none;
}
.single #inner .leftcontent {
  margin-right: 0px;
  border-right: 0px;
}

.invert #inner {
  padding-right: 0px;
  padding-left: 200px;
  /* The width of the rail */
}
.invert #inner .sidebar, .invert #inner .leftcontent {
  float: right;
}
.invert #inner .sidebar {
  margin-right: 0px;
  width: 200px;
  margin-left: -200px;
}

div.bg_white {
  background-color: #ffffff;
}

div.bg_pulp {
  background-color: #F3F1EC;
}

.twoCol_ltSidebar #inner {
  padding-right: 0px;
  padding-left: 310px;
  /* The width of the rail */
}
.twoCol_ltSidebar #inner .sidebar {
  margin-right: 0px;
  margin-left: -310px;
}
.twoCol_ltSidebar #inner .leftcontent {
  margin-right: 0px;
  border-right: 0px;
  border-left: 310px solid #f2f8fc;
  /* The width and color of the rail */
  margin-left: -310px;
  /* Hat tip to Ryan Brill */
  float: right;
}

.breadcrumb {
  padding: 4px 0px;
  margin: 8px 10px 3px 10px;
  overflow: hidden;
  *zoom: 1;
  color: #ffffff;
  font-size: 12px;
}
.breadcrumb a {
  color: white;
  text-decoration: none;
  padding: 3px 10px;
  -moz-border-radius: 6px 6px 6px 6px;
  -webkit-border-radius: 6px 6px 6px 6px;
  border-radius: 6px 6px 6px 6px;
  background-color: #afafaf;
  text-decoration: none;
}
.breadcrumb a:visited {
  color: white;
}
.breadcrumb a:focus {
  color: white;
}
.breadcrumb a:hover {
  color: white;
}
.breadcrumb a:active {
  color: white;
}

/* Header styles */
.header {
  overflow: hidden;
  *zoom: 1;
  position: relative;
  padding: 10px 0px 0px 0px;
  background: #2f3733;
}

.brand {
  overflow: hidden;
  *zoom: 1;
  position: absolute;
  left: 0px;
  margin-left: 8px;
  text-decoration: none;
}
.brand a {
  text-decoration: none;
}
.brand .logo, .brand .logo_text {
  float: left;
  position: relative;
  z-index: 5;
}
.brand .logo {
  margin: 0px 0px 0px 10px;
  top: -4px;
}
.brand .logo_text {
  font-size: 1.6em;
  border-left: 1px solid white;
  color: #ffffff;
  padding: 0px 0 0px 10px;
  margin-left: 10px;
  margin-top: 10px;
}

.header_links {
  float: right;
  text-align: right;
  height: 55px;
  margin: 0px 12px;
  color: #ffffff;
  font-size: 12px;
}
.header_links strong {
  font-weight: bold;
}
.header_links a {
  padding: 0px 6px;
  color: #ffffff;
  text-decoration: none;
}
.header_links a:hover {
  text-decoration: none;
}

/* Header Tab styles */
.top_nav_bg {
  background: #7cb537;
  -moz-box-shadow: inset 0px -1px 1px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: inset 0px -1px 1px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0px -1px 1px rgba(0, 0, 0, 0.2);
}

ul.tabs {
  list-style: none;
}
ul.tabs li {
  float: left;
  position: relative;
}
ul.tabs li span {
  background: none;
  height: 1px;
  display: block;
  width: 90px;
  font-size: 0px;
  position: relative;
  z-index: 1;
  margin-bottom: -2px;
}
ul.tabs li a {
  position: relative;
  z-index: 5;
  text-decoration: none;
  color: #ffffff;
  padding: 8px 6px 7px 8px;
  font-size: 13px;
  font-weight: bold;
  text-align: center;
  display: block;
  text-transform: capitalize;
  text-shadow: rgba(0, 0, 0, 0.1) 1px 1px 1px;
}
ul.tabs li a:hover {
  background: #95cb54;
  -moz-box-shadow: inset 0px -2px 1px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: inset 0px -2px 1px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0px -2px 1px rgba(0, 0, 0, 0.1);
  color: #ffffff;
}
ul.tabs li.active a, ul.tabs li.active a:hover {
  border-color: #618e2b;
  background: #efefef;
  padding-top: 6px;
  top: 2px;
  -moz-box-shadow: rgba(0, 0, 0, 0.4) 0px 0px 1px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.4) 0px 0px 1px;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 0px 1px;
  color: #000000;
}

/* Footer styles */
.footerContent {
  padding: 4px 20px 20px;
}
