/* Theme Colors and layout Defaults */
html {
  height: 100%;
  overflow-y: scroll;
}

.wrapper {
  overflow: hidden;
  *zoom: 1;
  min-width: 950px;
  width: 95%;
  margin: 0 auto;
  overflow: hidden;
  *zoom: 1;
  position: relative;
  text-align: left;
  max-width: 1220px;
  padding: 0px 8px;
}

.top_links a {
  text-decoration: none;
  font-weight: bold;
  padding: 0px 8px;
  margin: 0px;
  border-right: 1px solid #afafaf;
  border-left: 1px solid #efefef;
  color: #527eaa;
}
.top_links a:visited {
  color: #527eaa;
}
.top_links a:hover {
  color: #888888;
}
.top_links a:active {
  color: #527eaa;
}

.fixedWidth {
  max-width: 680px;
}

#wrap {
  margin-bottom: 0px;
  text-align: center;
}

#minwidthfix {
  width: 950px;
}

label.overlabel {
  color: #888888;
  position: absolute;
  font-size: 1.0em;
  font-weight: normal;
  z-index: 5;
  margin: 8px;
}

#inner {
  *zoom: 1;
  position: relative;
  z-index: 1;
  margin: 12px 0px 0px 0px;
  padding-right: 310px;
}
#inner:after {
  content: "\0020";
  display: block;
  height: 0;
  clear: both;
  overflow: hidden;
  visibility: hidden;
}
#inner .leftcontent {
  float: left;
  width: 100%;
}
#inner .sidebar {
  width: 310px;
  float: right;
  display: inline;
  margin-right: -310px;
}

.single #inner {
  padding-right: 0px;
}
.single #inner .sidebar {
  display: none;
}
.single #inner .leftcontent {
  margin-right: 0px;
  border-right: 0px;
}

.invert #inner {
  padding-right: 0px;
  padding-left: 200px;
  /* The width of the rail */
}
.invert #inner .sidebar, .invert #inner .leftcontent {
  float: right;
}
.invert #inner .sidebar {
  margin-right: 0px;
  width: 200px;
  margin-left: -200px;
}

div.bg_white {
  background-color: #ffffff;
}

div.bg_pulp {
  background-color: #F3F1EC;
}

.twoCol_ltSidebar #inner {
  padding-right: 0px;
  padding-left: 310px;
  /* The width of the rail */
}
.twoCol_ltSidebar #inner .sidebar {
  margin-right: 0px;
  margin-left: -310px;
}
.twoCol_ltSidebar #inner .leftcontent {
  margin-right: 0px;
  border-right: 0px;
  border-left: 310px solid #f2f8fc;
  /* The width and color of the rail */
  margin-left: -310px;
  /* Hat tip to Ryan Brill */
  float: right;
}

.breadcrumb {
  padding: 4px 0px;
  margin: 8px 10px 3px 10px;
  overflow: hidden;
  *zoom: 1;
  color: #ffffff;
  font-size: 12px;
}
.breadcrumb a {
  color: white;
  text-decoration: none;
  padding: 3px 10px;
  -moz-border-radius: 6px 6px 6px 6px;
  -webkit-border-radius: 6px 6px 6px 6px;
  border-radius: 6px 6px 6px 6px;
  background-color: #afafaf;
  text-decoration: none;
}
.breadcrumb a:visited {
  color: white;
}
.breadcrumb a:focus {
  color: white;
}
.breadcrumb a:hover {
  color: white;
}
.breadcrumb a:active {
  color: white;
}

.info_data, .info-data {
  color: #888888;
  font-size: 12px;
  padding-bottom: 6px;
}

/* Header styles */
.header {
  overflow: hidden;
  *zoom: 1;
  position: relative;
  padding: 10px 0px 0px 0px;
  background: #2f3733;
}

.brand {
  position: absolute;
  left: 0px;
  margin-left: 8px;
  text-decoration: none;
}
.brand a {
  text-decoration: none;
}
.brand .logo {
  overflow: hidden;
  *zoom: 1;
  float: left;
  margin: 0px 0px 0px 5px;
}
.brand img, .brand h3 {
  float: left;
}
.brand h3 {
  font-size: 20px;
  text-decoration: none;
  font-weight: normal;
  margin: 0px;
  padding: 13px 0px 0px 2px;
  position: relative;
  color: #ffffff;
  text-transform: capitalize;
}

.header_links {
  float: right;
  text-align: right;
  height: 60px;
  margin: 0px 12px;
  color: #ffffff;
  font-size: 12px;
}
.header_links strong {
  font-weight: bold;
}
.header_links a {
  padding: 0px 6px;
  color: #ffffff;
  text-decoration: none;
}
.header_links a:hover {
  text-decoration: none;
}

/* Header Tab styles */
.top_nav_bg {
  background: #7cb537;
  -moz-box-shadow: inset 0px -2px 2px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: inset 0px -2px 2px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0px -2px 2px rgba(0, 0, 0, 0.1);
}

.nav_search, .nav_right {
  float: right;
}

.nav_search {
  min-width: 260px;
  width: auto !important;
  width: 260px;
  height: 27px;
  position: relative;
  margin: 2px 14px 0px 0px;
}
.nav_search div.search_bar {
  height: 26px;
  background: url("../images/search_icon.gif") 4px 5px no-repeat white;
  padding: 0px 8px 0px 25px;
}
.nav_search label.overlabel, .nav_search input {
  top: 4px;
}
.nav_search label.overlabel {
  padding: 0px;
  margin: 2px 3px;
  font-size: 14px;
}
.nav_search input {
  border: 0px !important;
  position: relative;
  font-size: 12px !important;
  width: 100%;
  padding: 0px;
  background: none;
}

.nav_right {
  position: relative;
  z-index: 10;
  margin: 2px 6px 0px 3px;
}

a.new_ticket, .nav_search div.search_bar {
  -moz-box-shadow: #777777 0px 0px 2px;
  -webkit-box-shadow: #777777 0px 0px 2px;
  box-shadow: #777777 0px 0px 2px;
  behavior: url(/stylesheets/PIE.htc);
  -moz-border-radius: 4px 4px 4px 4px;
  -webkit-border-radius: 4px 4px 4px 4px;
  border-radius: 4px 4px 4px 4px;
  margin-top: 2px;
}

a.new_ticket {
  background: #fefefe;
  background: -moz-linear-gradient(top, #fefefe 0%, #dfdfdf 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fefefe), color-stop(100%, #dfdfdf));
  background: linear-gradient(#fefefe, #dfdfdf);
  -pie-background: linear-gradient(#fefefe, #dfdfdf);
  padding: 6px 10px 5px 25px;
  color: #333333;
  font-size: 12px;
  text-decoration: none;
  font-weight: bold;
  position: relative;
  display: block;
}
a.new_ticket img {
  position: absolute;
  left: 6px;
  top: 5px;
}

a.new_ticket:hover {
  background: #606c88;
  background: -moz-linear-gradient(top, #606c88 0%, #3f4c6b 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #606c88), color-stop(100%, #3f4c6b));
  background: linear-gradient(#606c88, #3f4c6b);
  -pie-background: linear-gradient(#606c88, #3f4c6b);
  border-color: #606c88;
  color: #ffffff;
}

ul.tabs {
  list-style: none;
}
ul.tabs li {
  float: left;
  position: relative;
}
ul.tabs li span {
  background: none;
  height: 1px;
  display: block;
  width: 90px;
  font-size: 0px;
  position: relative;
  z-index: 1;
  margin-bottom: -2px;
}
ul.tabs li a {
  position: relative;
  z-index: 5;
  text-decoration: none;
  color: #ffffff;
  padding: 9px 6px 9px 8px;
  font-size: 13px;
  font-weight: bold;
  text-align: center;
  display: block;
  text-transform: capitalize;
  text-shadow: rgba(0, 0, 0, 0.1) 1px 1px 1px;
}
ul.tabs li a:hover {
  background: #95cb54;
  -moz-box-shadow: inset 0px -2px 2px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: inset 0px -2px 2px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0px -2px 2px rgba(0, 0, 0, 0.1);
  color: #ffffff;
}
ul.tabs li.active a, ul.tabs li.active a:hover {
  border-color: #618e2b;
  background: #efefef;
  -moz-box-shadow: rgba(0, 0, 0, 0.6) 0px 0px 2px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.6) 0px 0px 2px;
  box-shadow: rgba(0, 0, 0, 0.6) 0px 0px 2px;
  color: #000000;
}

/* Footer styles */
.footerContent {
  padding: 4px 20px 20px;
}
