/* Importing admin icons */
.mobile-sprite, .mobile-icon-facebook, .mobile-icon-google, .mobile-icon-twitter { background: url('/images/mobile-sf9989f0ff4.png') no-repeat; }

.mobile-icon-facebook { background-position: 0 0; }

.mobile-icon-google { background-position: 0 -26px; }

.mobile-icon-twitter { background-position: 0 -52px; }

/* additional application code for login and home screens */
.body-background { background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAYAAAAGCAYAAADgzO9IAAAAKElEQVQImWMwNjb+jw0zGBsb/3dxccEuoaKigl0Cp1HIGGYshgTMWACx8jltBi6orwAAAABJRU5ErkJggg==), #333333; font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; }

.app-wrapper { text-align: center; margin: 0 auto; width: 90%; }

.brand { margin: 10px 0; }

.app-logo { background-color: #fff; -moz-border-radius: 6px; -webkit-border-radius: 6px; -o-border-radius: 6px; -ms-border-radius: 6px; -khtml-border-radius: 6px; border-radius: 6px; -moz-box-shadow: rgba(0, 0, 0, 0.75) 0 0 30px; -webkit-box-shadow: rgba(0, 0, 0, 0.75) 0 0 30px; -o-box-shadow: rgba(0, 0, 0, 0.75) 0 0 30px; box-shadow: rgba(0, 0, 0, 0.75) 0 0 30px; border: 1px solid #434343; margin-bottom: 0.36em; }

.forgot-password { color: #646465; line-height: 3em; font-weight: 200; filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60); opacity: 0.6; }

.flash_info { color: #fff; line-height: 2em; font-weight: 200; }

.brand h2 { color: #fff; font-size: 1.46em; }

.login-fieldset { border: 1px solid black; background: #fff; -moz-border-radius: 8px; -webkit-border-radius: 8px; -o-border-radius: 8px; -ms-border-radius: 8px; -khtml-border-radius: 8px; border-radius: 8px; -moz-box-shadow: rgba(0, 0, 0, 0.75) 1px 1px 4px inset; -webkit-box-shadow: rgba(0, 0, 0, 0.75) 1px 1px 4px inset; -o-box-shadow: rgba(0, 0, 0, 0.75) 1px 1px 4px inset; box-shadow: rgba(0, 0, 0, 0.75) 1px 1px 4px inset; }

.login-fieldset .textbox { padding: 10px 14px 8px; border: 0; width: 100%; background: transparent; }

.login-fieldset .email { border-bottom: 1px solid rgba(0, 0, 0, 0.1); }

.sp-button { font-weight: normal; padding: 0.36em 0; border: 2px solid #333; color: white; width: 100%; text-shadow: rgba(0, 0, 0, 0.8) -1px 0 1px; -moz-border-radius: 8px; -webkit-border-radius: 8px; -o-border-radius: 8px; -ms-border-radius: 8px; -khtml-border-radius: 8px; border-radius: 8px; -moz-box-shadow: rgba(255, 255, 255, 0.6) 0 1px 1px; -webkit-box-shadow: rgba(255, 255, 255, 0.6) 0 1px 1px; -o-box-shadow: rgba(255, 255, 255, 0.6) 0 1px 1px; box-shadow: rgba(255, 255, 255, 0.6) 0 1px 1px; background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #8c8c8c), color-stop(50%, #6d6d6d), color-stop(51%, #5f5f5f), color-stop(100%, #6e6e6e)); background: -webkit-linear-gradient(#8c8c8c 0%, #6d6d6d 50%, #5f5f5f 51%, #6e6e6e 100%); background: -moz-linear-gradient(#8c8c8c 0%, #6d6d6d 50%, #5f5f5f 51%, #6e6e6e 100%); background: -o-linear-gradient(#8c8c8c 0%, #6d6d6d 50%, #5f5f5f 51%, #6e6e6e 100%); background: -ms-linear-gradient(#8c8c8c 0%, #6d6d6d 50%, #5f5f5f 51%, #6e6e6e 100%); background: linear-gradient(#8c8c8c 0%, #6d6d6d 50%, #5f5f5f 51%, #6e6e6e 100%); }

.login-button { margin-top: 8px; color: black; font-weight: bold; border-width: 3px; font-size: 18px; text-shadow: rgba(255, 255, 255, 0.8) 0 1px 1px; -moz-border-radius: 16px; -webkit-border-radius: 16px; -o-border-radius: 16px; -ms-border-radius: 16px; -khtml-border-radius: 16px; border-radius: 16px; -moz-box-shadow: rgba(255, 255, 255, 0.2) 0 1px 1px; -webkit-box-shadow: rgba(255, 255, 255, 0.2) 0 1px 1px; -o-box-shadow: rgba(255, 255, 255, 0.2) 0 1px 1px; box-shadow: rgba(255, 255, 255, 0.2) 0 1px 1px; background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #acdaff), color-stop(50%, #a6d8ff), color-stop(51%, #89cbff), color-stop(100%, #a6d7fc)); background: -webkit-linear-gradient(#acdaff 0%, #a6d8ff 50%, #89cbff 51%, #a6d7fc 100%); background: -moz-linear-gradient(#acdaff 0%, #a6d8ff 50%, #89cbff 51%, #a6d7fc 100%); background: -o-linear-gradient(#acdaff 0%, #a6d8ff 50%, #89cbff 51%, #a6d7fc 100%); background: -ms-linear-gradient(#acdaff 0%, #a6d8ff 50%, #89cbff 51%, #a6d7fc 100%); background: linear-gradient(#acdaff 0%, #a6d8ff 50%, #89cbff 51%, #a6d7fc 100%); }

.alt-signin { text-align: left; padding: 8px 12px; line-height: 1.46em; overflow: hidden; *zoom: 1; font-weight: 200; }
.alt-signin span { float: right; width: 28px; height: 26px; margin: 1px 3px; }

.login p { color: #767676; font-size: 13px; line-height: 1.46em; padding: 8px 10px; text-shadow: rgba(0, 0, 0, 0.5) -1px 0 1px; text-align: center; }
