/* Theme Colors and layout Defaults */
/* Search result style */
.match { font-weight: bold; }

.ajax-loader, .loading, .loading-right, .loading-center, .loading-box { background-image: url("/images/load.gif"); background-repeat: no-repeat; background-position: 10px 10px; }

.paddingloading { background-image: url("/images/ajax-loader.gif"); background-repeat: no-repeat; background-position: 10px 10px; min-height: 33px; }

.loading-center, .loading-box { background-position: center center; }

.loading-box { height: 100px; }

.loading-right, .paddingloading { background-position: right 3px; }

.loading-fb { min-height: 20px; background-image: url("/images/load-fb-style.gif"); background-repeat: no-repeat; background-position: 0px 0px; }

.live_search { text-align: left; padding: 0 0 0 0; margin: 8px 0; }
.live_search .loading { background-position: right !important; }
.live_search .overlabel { padding: 0; font-size: 13px; }

.results { padding-bottom: 8px; }
.results .ticket_icon, .results .contact_icon, .results .company_icon, .results .solution_icon, .results .forum_icon { display: block; }
.results .ticket_icon span.icon { background: url('/images/icons-sb908a56253.png') 0 -226px no-repeat; }
.results .contact_icon span.icon { background: url('/images/icons-sb908a56253.png') 0 -322px no-repeat; }
.results .company_icon span.icon { background: url('/images/icons-sb908a56253.png') 0 -18px no-repeat; }
.results .solution_icon span.icon { background: url('/images/icons-sb908a56253.png') 0 -242px no-repeat; }
.results .forum_icon span.icon { background: url('/images/icons-sb908a56253.png') 0 -34px no-repeat; }
.results li { list-style: none; position: relative; padding: 6px 0px 8px 0px; }
.results li span.icon { position: absolute; width: 16px; height: 16px; margin-left: 4px; margin-top: 5px; }
.results li a { display: block; text-decoration: none; line-height: 16px; background-position: 5px 4px; background-repeat: no-repeat; color: #333333; }
.results li a:visited { color: #333333; }
.results li a:hover { color: white; }
.results li a:active { color: #333333; }
.results li a span.info { float: right; font-size: 10px; color: #888888; }
.results li a.user { color: #006699; font-weight: bold; }
.results li a.user:visited { color: #006699; }
.results li a.user:hover { color: #126d9b; }
.results li a.user:active { color: #006699; }
.results li a.big { font-size: 13px; position: relative; left: -25px; color: #006699; }
.results li a.big:visited { color: #006699; }
.results li a.big:hover { color: #126d9b; }
.results li a.big:active { color: #006699; }
.results li a.big:hover { text-decoration: underline; }
.results li h4 { position: absolute; left: 0px; top: 9px; margin-left: -100px; width: 90px; color: #888888; font-size: 12px; text-align: right; }
.results li div, .results li a { padding: 4px 8px 4px 25px; }
.results li div.title { background: #efefef; color: #666666; }
.results li strong.title { font-weight: bold; font-size: 13px; }
.results li div.group { overflow: hidden; *zoom: 1; border-bottom: 1px solid #f1f1f1; padding-top: 6px; padding-bottom: 6px; }
.results li div.group .preview_pic { padding: 0px; margin: 0px; position: relative; margin-left: -28px; }
.results li div.group .preview_pic img { border: 0px; padding: 6px; }
.results li div.group span { padding: 0px 0px 4px 0px; }
.results li div.group span.small { font-size: 11px; }
.results li div.group span.light { color: #888888; }
.results li div.group span.icon { padding: 0px; margin-left: -20px; }
