/* line 3, ../src/subscription.scss */
body {
  background: url("/images/subscriptionadminbg.png"); }

/* line 4, ../src/subscription.scss */
.navbar-inner {
  background: url("/images/subscriptionadmintopbg.png"); }

/* line 5, ../src/subscription.scss */
.navbar .nav .active > a, .navbar .nav .active > a:hover {
  background-color: #203938; }

/* line 6, ../src/subscription.scss */
.navbar-search .search-query {
  background-color: #497272; }

/* line 7, ../src/subscription.scss */
.navbar .nav > li > a {
  color: #85acac; }

/* line 8, ../src/subscription.scss */
.navbar-search .search-query:-moz-placeholder {
  color: #85acac; }

/* line 9, ../src/subscription.scss */
.navbar-search .search-query::-webkit-input-placeholder {
  color: #85acac; }

/* line 10, ../src/subscription.scss */
.navbar-inner {
  -webkit-box-shadow: 4px 1px 3px rgba(0, 0, 0, 0.75), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 4px 1px 3px rgba(0, 0, 0, 0.75), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 4px 1px 3px rgba(0, 0, 0, 0.75), inset 0 -1px 0 rgba(0, 0, 0, 0.1); }

/* line 12, ../src/subscription.scss */
.main-body {
  padding-top: 70px; }

/* line 13, ../src/subscription.scss */
.divider-vertical {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=30);
  opacity: 0.3; }

/* line 15, ../src/subscription.scss */
h2 + table, h3 + table, h4 + table, h2 + .row {
  margin-top: 10px; }

/* line 18, ../src/subscription.scss */
.floatr {
  float: right; }

/* line 22, ../src/subscription.scss */
.admin-logo {
  position: absolute;
  margin-left: -40px;
  margin-top: -5px; }

/* line 28, ../src/subscription.scss */
section {
  padding-top: 30px; }

/* line 30, ../src/subscription.scss */
.paid {
  background-color: #B6DFAE; }

/* line 34, ../src/subscription.scss */
.free {
  background-color: #CFE5E5; }
