@charset "UTF-8";
/* Theme Colors and layout Defaults */
/* line 4, ../src/temp-dev.scss */
.uiButton, .uiButton:visited, .fdbutton, .fdbutton:visited {
  background-image: url(../images/overlay-button.png);
  background-color: #ececec;
  background-repeat: repeat-x;
  display: inline-block;
  padding: 5px 10px 6px;
  color: #666666;
  text-decoration: none;
  -moz-border-radius: 4px 4px 4px 4px;
  -webkit-border-radius: 4px 4px 4px 4px;
  border-radius: 4px 4px 4px 4px;
  font-weight: bold;
  margin: 0px 1px;
  border: 1px solid #d4d4d4;
  position: relative;
  cursor: pointer;
}

/* line 20, ../src/temp-dev.scss */
.uiButton:hover, .fdbutton:hover {
  background-color: #7cb537;
  border-color: #618e2b;
  color: #ffffff;
  text-shadow: rgba(0, 0, 0, 0.1) -1px -1px 1px;
}

/* line 21, ../src/temp-dev.scss */
.uiButton:active, .fdbutton:active {
  top: 1px;
}

/* line 22, ../src/temp-dev.scss */
.small.uiButton, .small.uiButton:visited {
  font-size: 11px;
}

/* line 24, ../src/temp-dev.scss */
.uiButton, .fdbutton, .uiButton:visited, .fdbutton:visited,
.medium.uiButton, .medium.uiButton:visited {
  font-size: 12px;
}

/* line 25, ../src/temp-dev.scss */
.large.uiButton, .large.uiButton:visited {
  font-size: 14px;
  padding: 8px 14px 9px;
}

/* line 27, ../src/temp-dev.scss */
input.uiButton {
  padding: 4px 10px 5px 10px;
  position: relative;
  top: -1px;
}

/* line 34, ../src/temp-dev.scss */
.fdbutton {
  display: -moz-inline-box;
  -moz-box-orient: vertical;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  margin: 0.7em 0.5em 0.7em 0;
  border-width: 1px;
  border-style: solid;
  font-family: "Lucida Grande", Tahoma, Arial, Verdana, sans-serif;
  font-size: 100%;
  line-height: 130%;
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
  padding: 5px 10px 5px 7px;
  min-width: 80px;
  width: auto !important;
  width: 80px;
  padding: 7px 10px 7px 12px;
  position: relative;
  margin: 2px;
  text-align: center;
}
/* line 7, ../../../.gem/ruby/1.8/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/css3/_inline-block.scss */
.fdbutton {
  *display: inline;
}
/* line 75, ../../../.gem/ruby/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_buttons.scss */
.fdbutton img {
  margin: 0 3px -3px 0 !important;
  padding: 0;
  border: none;
  width: 16px;
  height: 16px;
  float: none;
}

/* line 44, ../src/temp-dev.scss */
div.action_buttons {
  position: relative;
  float: right;
  -moz-border-radius: 4px 4px 4px 4px;
  -webkit-border-radius: 4px 4px 4px 4px;
  border-radius: 4px 4px 4px 4px;
  margin: -5px 0px 2px 5px;
  background: #f8f8f8;
  background: -moz-linear-gradient(top, #f8f8f8 0%, #f2f2f2 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f8f8f8), color-stop(100%, #f2f2f2));
  background: linear-gradient(#f8f8f8, #f2f2f2);
  -pie-background: linear-gradient(#f8f8f8, #f2f2f2);
  padding: 4px 7px 3px 3px;
  border: 1px solid #e5e5e5;
}
/* line 52, ../src/temp-dev.scss */
div.action_buttons a {
  text-decoration: none;
  float: left;
  margin: 0px 0px;
  font-size: 11px;
  font-weight: bold;
  padding: 2px 8px 2px 8px;
  border-right: 1px solid #d8d8d8;
  color: #333333;
  text-shadow: white 0px 1px 1px;
}
/* line 18, ../../../.gem/ruby/1.8/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/utilities/links/_link-colors.scss */
div.action_buttons a:visited {
  color: #333333;
}
/* line 24, ../../../.gem/ruby/1.8/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/utilities/links/_link-colors.scss */
div.action_buttons a:hover {
  color: #666666;
}
/* line 27, ../../../.gem/ruby/1.8/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/utilities/links/_link-colors.scss */
div.action_buttons a:active {
  color: #333333;
}
/* line 64, ../src/temp-dev.scss */
div.action_buttons a.last {
  border: 0px;
  padding-right: 4px;
}
/* line 68, ../src/temp-dev.scss */
div.action_buttons a.icon {
  padding-left: 20px;
}

/* line 74, ../src/temp-dev.scss */
.info-highlight {
  font-size: 13px;
  margin: 14px 0px 3px 0px;
  padding: 12px 18px;
  color: #666666;
  -moz-border-radius: 6px 6px 6px 6px;
  -webkit-border-radius: 6px 6px 6px 6px;
  border-radius: 6px 6px 6px 6px;
  border: 1px solid #f4f4e9;
  background-color: #fffbee;
}

/* line 86, ../src/temp-dev.scss */
.tab_panel {
  border-bottom: 1px solid #cfcfcf;
  margin: 5px -20px 0px -20px;
  padding: 0px 20px;
  overflow: hidden;
  *zoom: 1;
  display: block;
}
/* line 91, ../src/temp-dev.scss */
.tab_panel b {
  margin-right: 10px;
  padding: 5px 0px 0px 0px;
  float: left;
}
/* line 97, ../src/temp-dev.scss */
.tab_panel a {
  background: #cfcfcf;
  position: relative;
  top: 1px;
  float: left;
  text-decoration: none;
  padding: 6px 8px;
  margin: 0px 0px 0px 0px;
  color: #333333 !important;
  border: 1px solid #d3d3d3;
  border-bottom: 0px;
  font-size: 13px;
  background: #fcfcfc;
  background: -moz-linear-gradient(top, #fcfcfc 0%, #f1f1f1 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fcfcfc), color-stop(100%, #f1f1f1));
  background: linear-gradient(#fcfcfc, #f1f1f1);
  -pie-background: linear-gradient(#fcfcfc, #f1f1f1);
  border-bottom: 1px solid #eaeaea;
}
/* line 113, ../src/temp-dev.scss */
.tab_panel a.last {
  -moz-border-radius: 0px 4px 4px 0px;
  -webkit-border-radius: 0px 4px 4px 0px;
  border-radius: 0px 4px 4px 0px;
}
/* line 116, ../src/temp-dev.scss */
.tab_panel a.first {
  -moz-border-radius: 4px 0px 0px 4px;
  -webkit-border-radius: 4px 0px 0px 4px;
  border-radius: 4px 0px 0px 4px;
}
/* line 119, ../src/temp-dev.scss */
.tab_panel a.active, .tab_panel a:hover {
  background: #f5f5f5;
  background: -moz-linear-gradient(top, #f5f5f5 0%, #e1e1e1 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f5f5f5), color-stop(100%, #e1e1e1));
  background: linear-gradient(#f5f5f5, #e1e1e1);
  -pie-background: linear-gradient(#f5f5f5, #e1e1e1);
}

/* line 124, ../src/temp-dev.scss */
.solutions_text {
  padding-top: 8px;
  font-family: Georgia, Verdana, Arial, Helvetica, sans-serif;
  font-size: 14px;
}
/* line 128, ../src/temp-dev.scss */
.solutions_text img {
  max-width: 100%;
  height: auto;
}
/* line 129, ../src/temp-dev.scss */
.solutions_text ol, .solutions_text ul {
  margin: 14px 0px 14px 0px;
  padding: 0px 0px 0px 40px;
  line-height: 17px;
}
/* line 130, ../src/temp-dev.scss */
.solutions_text blockquote {
  margin: 1em 1em;
  color: #999;
  border-left: 2px solid #999;
  padding: 6px 6px 1px 1em;
  background-color: #EEE;
}
/* line 131, ../src/temp-dev.scss */
.solutions_text ul {
  list-style: disc outside;
}
/* line 132, ../src/temp-dev.scss */
.solutions_text h1, .solutions_text h2, .solutions_text h3, .solutions_text h4 {
  font-weight: 400;
}
/* line 133, ../src/temp-dev.scss */
.solutions_text h1 {
  font-size: 2em;
}
/* line 134, ../src/temp-dev.scss */
.solutions_text h2 {
  font-size: 1.5em;
}
/* line 135, ../src/temp-dev.scss */
.solutions_text h3 {
  font-size: 1.17em;
}
/* line 136, ../src/temp-dev.scss */
.solutions_text h4 {
  font-size: 1em;
}
/* line 137, ../src/temp-dev.scss */
.solutions_text h5 {
  font-size: .83em;
}
/* line 138, ../src/temp-dev.scss */
.solutions_text h6 {
  font-size: .75em;
}
/* line 139, ../src/temp-dev.scss */
.solutions_text p {
  font-size: 14px;
  line-height: 1.5em;
  margin-bottom: 1.3em;
  text-align: left;
  width: 90%;
}
/* line 140, ../src/temp-dev.scss */
.solutions_text table td, .solutions_text table th {
  border: 1px solid #BBB;
  padding: 4px 5px;
}
/* line 141, ../src/temp-dev.scss */
.solutions_text ins {
  border-bottom: 1px solid green;
  text-decoration: none;
  color: green;
}
/* line 142, ../src/temp-dev.scss */
.solutions_text del {
  color: red;
  text-decoration: line-through;
}
/* line 143, ../src/temp-dev.scss */
.solutions_text cite {
  border-bottom: 1px dashed blue;
}
/* line 144, ../src/temp-dev.scss */
.solutions_text acronym {
  border-bottom: 1px dotted #CCC;
  cursor: help;
}
/* line 145, ../src/temp-dev.scss */
.solutions_text abbr {
  border-bottom: 1px dashed #CCC;
  cursor: help;
}

/* line 149, ../src/temp-dev.scss */
.tag_list {
  overflow: hidden;
  *zoom: 1;
  position: relative;
  padding: 0px;
}
/* line 153, ../src/temp-dev.scss */
.tag_list div.item {
  float: left;
  -moz-border-radius: 5px 5px 5px 5px;
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
  height: 17px;
  background-color: #e7e7e7;
  color: #666666;
  padding: 3px 0px 0px 8px;
  margin: 0px 4px;
}
/* line 161, ../src/temp-dev.scss */
.tag_list div.item .tag_delete {
  float: right;
  visibility: hidden;
}
/* line 167, ../src/temp-dev.scss */
.tag_list div.item:hover .tag_delete {
  visibility: visible;
}

/* line 174, ../src/temp-dev.scss */
.email-settings {
  margin: 0px -20px 10px;
  padding: 0px;
  border-top: 1px solid #e6e6e6;
  border-bottom: 1px solid #f4f4f4;
}
/* line 179, ../src/temp-dev.scss */
.email-settings label {
  font-size: 14px;
  color: #666666;
  display: block;
}
/* line 184, ../src/temp-dev.scss */
.email-settings .highlight {
  font-size: inherit;
  font-size: 15px;
}
/* line 188, ../src/temp-dev.scss */
.email-settings .info_data {
  font-size: 12px;
}
/* line 190, ../src/temp-dev.scss */
.email-settings div.email-item-default, .email-settings div.email-item {
  padding: 12px 22px 4px;
  background: #f6f6f6;
}
/* line 195, ../src/temp-dev.scss */
.email-settings div.email-item-default {
  padding-top: 10px;
  padding-bottom: 10px;
}
/* line 196, ../src/temp-dev.scss */
.email-settings div.email-item-default label {
  line-height: 20px;
}
/* line 201, ../src/temp-dev.scss */
.email-settings div.email-item-default .info_data {
  padding-top: 4px;
}
/* line 205, ../src/temp-dev.scss */
.email-settings div.email-item {
  border-top: 1px solid #ffffff;
  border-bottom: 1px solid #e8e8e8;
}
/* line 208, ../src/temp-dev.scss */
.email-settings div.email-item div.item {
  margin-bottom: 10px;
  font-size: 14px;
}
/* line 210, ../src/temp-dev.scss */
.email-settings div.email-item div.item label {
  font-size: 12px;
  padding-bottom: 2px;
}

/* line 218, ../src/temp-dev.scss */
.email-settings-form table {
  width: 400px;
}
/* line 219, ../src/temp-dev.scss */
.email-settings-form td {
  padding: 6px 8px;
}

/* line 222, ../src/temp-dev.scss */
.email_info {
  border: 1px solid #cfcfcf;
  padding: 8px 12px;
  background: #f2ffda;
  -moz-border-radius: 3px 3px 3px 3px;
  -webkit-border-radius: 3px 3px 3px 3px;
  border-radius: 3px 3px 3px 3px;
  font-size: 14px;
}

/* line 230, ../src/temp-dev.scss */
.primary_email {
  padding: 2px 15px;
  border: 1px solid #b8d385;
  background-color: #ddeeba;
  color: #5b7200;
  font-size: 10px;
  -moz-border-radius: 5px 5px 5px 5px;
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
}

/* line 241, ../src/temp-dev.scss */
#primary-email-settings div.email-item-default, #primary-email-settings div.email-item {
  background-color: #fdfff3;
}

/* line 248, ../src/temp-dev.scss */
.wordwrap p {
  white-space: pre-wrap;
  /* css-3 */
  white-space: -moz-pre-wrap;
  /* Mozilla, since 1999 */
  white-space: -pre-wrap;
  /* Opera 4-6 */
  white-space: -o-pre-wrap;
  /* Opera 7 */
  word-wrap: break-word;
  /* Internet Explorer 5.5+ */
}

/* line 257, ../src/temp-dev.scss */
.intro {
  color: #777;
  font-size: 12px;
  line-height: 17px;
  margin-top: -8px;
  margin-bottom: 10px;
}

/* line 266, ../src/temp-dev.scss */
.info-description p {
  font-size: 12px;
  color: #000000;
  line-height: 17px;
}

/* line 273, ../src/temp-dev.scss */
.tickets-container {
  margin: 0px -20px;
}

/* line 277, ../src/temp-dev.scss */
.tickets, .tickets-expanded {
  margin: 0px;
  width: 100%;
  border-bottom-color: #efefef;
  color: #5f5f5f;
}
/* line 281, ../src/temp-dev.scss */
.tickets thead, .tickets-expanded thead {
  background: #f9f9f9;
  background: -moz-linear-gradient(top, #f9f9f9 0%, #ececec 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f9f9f9), color-stop(100%, #ececec));
  background: linear-gradient(#f9f9f9, #ececec);
  -pie-background: linear-gradient(#f9f9f9, #ececec);
  border-top: 1px solid #efefef;
}
/* line 286, ../src/temp-dev.scss */
.tickets .preview_pic img, .tickets-expanded .preview_pic img {
  width: 36px;
  height: 36px;
}
/* line 289, ../src/temp-dev.scss */
.tickets th, .tickets-expanded th {
  background: none;
  padding: 6px 6px 5px 6px;
}
/* line 293, ../src/temp-dev.scss */
.tickets td, .tickets th, .tickets-expanded td, .tickets-expanded th {
  vertical-align: top;
  border-bottom: 1px solid #efefef;
}
/* line 297, ../src/temp-dev.scss */
.tickets td, .tickets-expanded td {
  padding: 8px 8px;
  background-color: #ffffff;
}
/* line 300, ../src/temp-dev.scss */
.tickets td a, .tickets-expanded td a {
  text-decoration: none;
  color: #5a8ec1;
}
/* line 307, ../src/temp-dev.scss */
.tickets .check, .tickets-expanded .check {
  width: 25px;
  padding-left: 8px;
  padding-top: 9px;
  text-align: right;
}
/* line 313, ../src/temp-dev.scss */
.tickets th.check, .tickets-expanded th.check {
  padding-top: 12px;
}
/* line 318, ../src/temp-dev.scss */
.tickets .name h3, .tickets-expanded .name h3 {
  padding: 0px 0px 4px 0px;
}
/* line 320, ../src/temp-dev.scss */
.tickets .name h3 a, .tickets-expanded .name h3 a {
  text-transform: capitalize;
  font-size: 13px;
  font-weight: bold;
  color: #3f3f3f;
  white-space: nowrap;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  -ms-text-overflow: ellipsis;
  text-overflow: ellipsis;
  -moz-binding: url('/stylesheets/xml/ellipsis.xml#ellipsis');
}
/* line 327, ../src/temp-dev.scss */
.tickets .name h3 a:hover, .tickets-expanded .name h3 a:hover {
  color: #4b7dc0;
}
/* line 331, ../src/temp-dev.scss */
.tickets .name div, .tickets-expanded .name div {
  color: #888888;
}
/* line 336, ../src/temp-dev.scss */
.tickets .assign ul, .tickets-expanded .assign ul {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  overflow: hidden;
  *zoom: 1;
}
/* line 46, ../../../.gem/ruby/1.8/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/utilities/lists/_inline-block-list.scss */
.tickets .assign ul li, .tickets-expanded .assign ul li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0px;
  display: -moz-inline-box;
  -moz-box-orient: vertical;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  white-space: nowrap;
}
/* line 7, ../../../.gem/ruby/1.8/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/css3/_inline-block.scss */
.tickets .assign ul li, .tickets-expanded .assign ul li {
  *display: inline;
}
/* line 338, ../src/temp-dev.scss */
.tickets .assign ul li, .tickets-expanded .assign ul li {
  padding: 4px 7px 0px 0px;
  color: #999999;
  font-size: 12px;
}
/* line 343, ../src/temp-dev.scss */
.tickets .assign ul li span, .tickets-expanded .assign ul li span {
  color: #444444;
  text-transform: capitalize;
}
/* line 350, ../src/temp-dev.scss */
.tickets .assign ul .priority span.style_1, .tickets-expanded .assign ul .priority span.style_1 {
  /* Low priority style */
  color: #666666;
}
/* line 353, ../src/temp-dev.scss */
.tickets .assign ul .priority span.style_2, .tickets-expanded .assign ul .priority span.style_2 {
  /* Medium priority style */
  color: #cc6633;
}
/* line 356, ../src/temp-dev.scss */
.tickets .assign ul .priority span.style_3, .tickets-expanded .assign ul .priority span.style_3 {
  /* High priority style */
  color: #cc6633;
}
/* line 359, ../src/temp-dev.scss */
.tickets .assign ul .priority span.style_4, .tickets-expanded .assign ul .priority span.style_4 {
  /* Urgent priority style */
  color: #cc6633;
}
/* line 365, ../src/temp-dev.scss */
.tickets .sla, .tickets-expanded .sla {
  vertical-align: top;
  text-align: right;
  font-size: 11px;
}

/* line 372, ../src/temp-dev.scss */
.converstion-sprite {
  overflow: hidden;
  *zoom: 1;
  float: right;
}
/* line 375, ../src/temp-dev.scss */
.converstion-sprite .image {
  float: right;
  content: "";
  width: 32px;
  height: 32px;
  margin: 0px;
  background: url('/images/../images/sprites/32square_sprite.png?1301130704') no-repeat;
  width: 32px;
  height: 32px;
  overflow: hidden;
}
/* line 383, ../src/temp-dev.scss */
.converstion-sprite .email-reply {
  background-position: 0px 0px;
}
/* line 386, ../src/temp-dev.scss */
.converstion-sprite .email-receive {
  background-position: 0px -32px;
}
/* line 389, ../src/temp-dev.scss */
.converstion-sprite .note-public {
  background-position: 0px -64px;
}
/* line 392, ../src/temp-dev.scss */
.converstion-sprite .note-private {
  background-position: 0px -96px;
}
