@charset "UTF-8";
/* Theme Colors and layout Defaults */
/* line 4, ../src/temp-dev.scss */
.tab_panel {
  border-bottom: 1px solid #cfcfcf;
  margin: 5px -20px 0px -20px;
  padding: 0px 20px;
  overflow: hidden;
  *zoom: 1;
  display: block;
}
/* line 9, ../src/temp-dev.scss */
.tab_panel b {
  margin-right: 10px;
  padding: 5px 0px 0px 0px;
  float: left;
}
/* line 15, ../src/temp-dev.scss */
.tab_panel a {
  background: #cfcfcf;
  position: relative;
  top: 1px;
  float: left;
  text-decoration: none;
  padding: 6px 8px;
  margin: 0px 0px 0px 0px;
  color: #333333 !important;
  border: 1px solid #d3d3d3;
  border-bottom: 0px;
  font-size: 13px;
  background: #fcfcfc;
  background: -moz-linear-gradient(top, #fcfcfc 0%, #f1f1f1 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fcfcfc), color-stop(100%, #f1f1f1));
  background: linear-gradient(#fcfcfc, #f1f1f1);
  -pie-background: linear-gradient(#fcfcfc, #f1f1f1);
  border-bottom: 1px solid #eaeaea;
}
/* line 31, ../src/temp-dev.scss */
.tab_panel a.last {
  -moz-border-radius: 0px 4px 4px 0px;
  -webkit-border-radius: 0px 4px 4px 0px;
  border-radius: 0px 4px 4px 0px;
}
/* line 34, ../src/temp-dev.scss */
.tab_panel a.first {
  -moz-border-radius: 4px 0px 0px 4px;
  -webkit-border-radius: 4px 0px 0px 4px;
  border-radius: 4px 0px 0px 4px;
}
/* line 37, ../src/temp-dev.scss */
.tab_panel a.active, .tab_panel a:hover {
  background: #f5f5f5;
  background: -moz-linear-gradient(top, #f5f5f5 0%, #e1e1e1 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f5f5f5), color-stop(100%, #e1e1e1));
  background: linear-gradient(#f5f5f5, #e1e1e1);
  -pie-background: linear-gradient(#f5f5f5, #e1e1e1);
}

/* line 42, ../src/temp-dev.scss */
.solutions_text {
  padding-top: 8px;
  font-family: Georgia, Verdana, Arial, Helvetica, sans-serif;
  font-size: 14px;
}
/* line 46, ../src/temp-dev.scss */
.solutions_text img {
  max-width: 100%;
  height: auto;
}
/* line 47, ../src/temp-dev.scss */
.solutions_text ol, .solutions_text ul {
  margin: 14px 0px 14px 0px;
  padding: 0px 0px 0px 40px;
  line-height: 17px;
}
/* line 48, ../src/temp-dev.scss */
.solutions_text blockquote {
  margin: 1em 1em;
  color: #999;
  border-left: 2px solid #999;
  padding: 6px 6px 1px 1em;
  background-color: #EEE;
}
/* line 49, ../src/temp-dev.scss */
.solutions_text ul {
  list-style: disc outside;
}
/* line 50, ../src/temp-dev.scss */
.solutions_text h1, .solutions_text h2, .solutions_text h3, .solutions_text h4 {
  font-weight: 400;
}
/* line 51, ../src/temp-dev.scss */
.solutions_text h1 {
  font-size: 2em;
}
/* line 52, ../src/temp-dev.scss */
.solutions_text h2 {
  font-size: 1.5em;
}
/* line 53, ../src/temp-dev.scss */
.solutions_text h3 {
  font-size: 1.17em;
}
/* line 54, ../src/temp-dev.scss */
.solutions_text h4 {
  font-size: 1em;
}
/* line 55, ../src/temp-dev.scss */
.solutions_text h5 {
  font-size: .83em;
}
/* line 56, ../src/temp-dev.scss */
.solutions_text h6 {
  font-size: .75em;
}
/* line 57, ../src/temp-dev.scss */
.solutions_text p {
  font-size: 14px;
  line-height: 1.5em;
  margin-bottom: 1.3em;
  text-align: left;
  width: 90%;
}
/* line 58, ../src/temp-dev.scss */
.solutions_text table td, .solutions_text table th {
  border: 1px solid #BBB;
  padding: 4px 5px;
}
/* line 59, ../src/temp-dev.scss */
.solutions_text ins {
  border-bottom: 1px solid green;
  text-decoration: none;
  color: green;
}
/* line 60, ../src/temp-dev.scss */
.solutions_text del {
  color: red;
  text-decoration: line-through;
}
/* line 61, ../src/temp-dev.scss */
.solutions_text cite {
  border-bottom: 1px dashed blue;
}
/* line 62, ../src/temp-dev.scss */
.solutions_text acronym {
  border-bottom: 1px dotted #CCC;
  cursor: help;
}
/* line 63, ../src/temp-dev.scss */
.solutions_text abbr {
  border-bottom: 1px dashed #CCC;
  cursor: help;
}

/* line 67, ../src/temp-dev.scss */
.tag_list {
  overflow: hidden;
  *zoom: 1;
  position: relative;
  padding: 0px;
}
/* line 71, ../src/temp-dev.scss */
.tag_list div.item {
  float: left;
  -moz-border-radius: 5px 5px 5px 5px;
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
  height: 17px;
  background-color: #e7e7e7;
  color: #666666;
  padding: 3px 0px 0px 8px;
  margin: 0px 4px;
}
/* line 79, ../src/temp-dev.scss */
.tag_list div.item .tag_delete {
  float: right;
  visibility: hidden;
}
/* line 85, ../src/temp-dev.scss */
.tag_list div.item:hover .tag_delete {
  visibility: visible;
}

/* line 92, ../src/temp-dev.scss */
.email-settings {
  margin: 0px -20px 10px;
  padding: 0px;
  border-top: 1px solid #e6e6e6;
  border-bottom: 1px solid #f4f4f4;
}
/* line 97, ../src/temp-dev.scss */
.email-settings label {
  font-size: 14px;
  color: #666666;
  display: block;
}
/* line 102, ../src/temp-dev.scss */
.email-settings .highlight {
  font-size: inherit;
  font-size: 15px;
}
/* line 106, ../src/temp-dev.scss */
.email-settings .info_data {
  font-size: 12px;
}
/* line 108, ../src/temp-dev.scss */
.email-settings div.email-item-default, .email-settings div.email-item {
  padding: 12px 22px 4px;
  background: #f6f6f6;
}
/* line 113, ../src/temp-dev.scss */
.email-settings div.email-item-default {
  padding-top: 10px;
  padding-bottom: 10px;
}
/* line 114, ../src/temp-dev.scss */
.email-settings div.email-item-default label {
  line-height: 20px;
}
/* line 119, ../src/temp-dev.scss */
.email-settings div.email-item-default .info_data {
  padding-top: 4px;
}
/* line 123, ../src/temp-dev.scss */
.email-settings div.email-item {
  border-top: 1px solid #ffffff;
  border-bottom: 1px solid #e8e8e8;
}
/* line 126, ../src/temp-dev.scss */
.email-settings div.email-item div.item {
  margin-bottom: 10px;
  font-size: 14px;
}
/* line 128, ../src/temp-dev.scss */
.email-settings div.email-item div.item label {
  font-size: 12px;
  padding-bottom: 2px;
}

/* line 136, ../src/temp-dev.scss */
.email-settings-form table {
  width: 400px;
}
/* line 137, ../src/temp-dev.scss */
.email-settings-form td {
  padding: 6px 8px;
}

/* line 140, ../src/temp-dev.scss */
.email_info {
  border: 1px solid #cfcfcf;
  padding: 8px 12px;
  background: #f2ffda;
  -moz-border-radius: 3px 3px 3px 3px;
  -webkit-border-radius: 3px 3px 3px 3px;
  border-radius: 3px 3px 3px 3px;
  font-size: 14px;
}

/* line 148, ../src/temp-dev.scss */
.primary_email {
  padding: 2px 15px;
  border: 1px solid #b8d385;
  background-color: #ddeeba;
  color: #5b7200;
  font-size: 10px;
  -moz-border-radius: 5px 5px 5px 5px;
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
}

/* line 159, ../src/temp-dev.scss */
#primary-email-settings div.email-item-default, #primary-email-settings div.email-item {
  background-color: #fdfff3;
}

/* line 166, ../src/temp-dev.scss */
.wordwrap p {
  white-space: pre-wrap;
  /* css-3 */
  white-space: -moz-pre-wrap;
  /* Mozilla, since 1999 */
  white-space: -pre-wrap;
  /* Opera 4-6 */
  white-space: -o-pre-wrap;
  /* Opera 7 */
  word-wrap: break-word;
  /* Internet Explorer 5.5+ */
}

/* line 175, ../src/temp-dev.scss */
.intro {
  color: #777;
  font-size: 12px;
  line-height: 17px;
  margin-top: -8px;
  margin-bottom: 10px;
}

/* line 184, ../src/temp-dev.scss */
.info-description p {
  font-size: 12px;
  color: #000000;
  line-height: 17px;
}

/* line 191, ../src/temp-dev.scss */
.tickets-container {
  margin: 0px -20px;
}

/* line 195, ../src/temp-dev.scss */
.tickets, .tickets-expanded {
  margin: 0px;
  width: 100%;
  border-bottom-color: #efefef;
  color: #5f5f5f;
}
/* line 199, ../src/temp-dev.scss */
.tickets thead, .tickets-expanded thead {
  background: #f9f9f9;
  background: -moz-linear-gradient(top, #f9f9f9 0%, #ececec 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f9f9f9), color-stop(100%, #ececec));
  background: linear-gradient(#f9f9f9, #ececec);
  -pie-background: linear-gradient(#f9f9f9, #ececec);
  border-top: 1px solid #efefef;
}
/* line 204, ../src/temp-dev.scss */
.tickets .preview_pic img, .tickets-expanded .preview_pic img {
  width: 36px;
  height: 36px;
}
/* line 207, ../src/temp-dev.scss */
.tickets th, .tickets-expanded th {
  background: none;
  padding: 6px 6px 5px 6px;
}
/* line 211, ../src/temp-dev.scss */
.tickets td, .tickets th, .tickets-expanded td, .tickets-expanded th {
  vertical-align: top;
  border-bottom: 1px solid #efefef;
}
/* line 215, ../src/temp-dev.scss */
.tickets td, .tickets-expanded td {
  padding: 8px 8px;
  background-color: #ffffff;
}
/* line 218, ../src/temp-dev.scss */
.tickets td a, .tickets-expanded td a {
  text-decoration: none;
  color: #5a8ec1;
}
/* line 225, ../src/temp-dev.scss */
.tickets .check, .tickets-expanded .check {
  width: 25px;
  padding-left: 8px;
  padding-top: 9px;
  text-align: right;
}
/* line 231, ../src/temp-dev.scss */
.tickets th.check, .tickets-expanded th.check {
  padding-top: 12px;
}
/* line 236, ../src/temp-dev.scss */
.tickets .name h3, .tickets-expanded .name h3 {
  padding: 0px 0px 4px 0px;
}
/* line 238, ../src/temp-dev.scss */
.tickets .name h3 a, .tickets-expanded .name h3 a {
  text-transform: capitalize;
  font-size: 13px;
  font-weight: bold;
  color: #3f3f3f;
  white-space: nowrap;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  -ms-text-overflow: ellipsis;
  text-overflow: ellipsis;
  -moz-binding: url('/stylesheets/xml/ellipsis.xml#ellipsis');
}
/* line 245, ../src/temp-dev.scss */
.tickets .name h3 a:hover, .tickets-expanded .name h3 a:hover {
  color: #4b7dc0;
}
/* line 249, ../src/temp-dev.scss */
.tickets .name div, .tickets-expanded .name div {
  color: #888888;
}
/* line 254, ../src/temp-dev.scss */
.tickets .assign ul, .tickets-expanded .assign ul {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  overflow: hidden;
  *zoom: 1;
}
/* line 46, ../../../.gem/ruby/1.8/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/utilities/lists/_inline-block-list.scss */
.tickets .assign ul li, .tickets-expanded .assign ul li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0px;
  display: -moz-inline-box;
  -moz-box-orient: vertical;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  white-space: nowrap;
}
/* line 7, ../../../.gem/ruby/1.8/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/css3/_inline-block.scss */
.tickets .assign ul li, .tickets-expanded .assign ul li {
  *display: inline;
}
/* line 256, ../src/temp-dev.scss */
.tickets .assign ul li, .tickets-expanded .assign ul li {
  padding: 4px 7px 0px 0px;
  color: #999999;
  font-size: 12px;
}
/* line 261, ../src/temp-dev.scss */
.tickets .assign ul li span, .tickets-expanded .assign ul li span {
  color: #444444;
  text-transform: capitalize;
}
/* line 268, ../src/temp-dev.scss */
.tickets .assign ul .priority span.style_1, .tickets-expanded .assign ul .priority span.style_1 {
  /* Low priority style */
  color: #666666;
}
/* line 271, ../src/temp-dev.scss */
.tickets .assign ul .priority span.style_2, .tickets-expanded .assign ul .priority span.style_2 {
  /* Medium priority style */
  color: #cc6633;
}
/* line 274, ../src/temp-dev.scss */
.tickets .assign ul .priority span.style_3, .tickets-expanded .assign ul .priority span.style_3 {
  /* High priority style */
  color: #cc6633;
}
/* line 277, ../src/temp-dev.scss */
.tickets .assign ul .priority span.style_4, .tickets-expanded .assign ul .priority span.style_4 {
  /* Urgent priority style */
  color: #cc6633;
}
/* line 283, ../src/temp-dev.scss */
.tickets .sla, .tickets-expanded .sla {
  vertical-align: top;
  text-align: right;
  font-size: 11px;
}

/* line 290, ../src/temp-dev.scss */
.conversation-sprite {
  overflow: hidden;
  *zoom: 1;
  float: right;
}
/* line 293, ../src/temp-dev.scss */
.conversation-sprite .image {
  float: right;
  content: "";
  width: 32px;
  height: 32px;
  margin: 0px;
  background: url('/images/../images/embed/sprites/32square_sprite.png?1301407817') no-repeat;
  width: 32px;
  height: 32px;
  overflow: hidden;
}
/* line 301, ../src/temp-dev.scss */
.conversation-sprite .email-reply {
  background-position: 0px 0px;
}
/* line 304, ../src/temp-dev.scss */
.conversation-sprite .email-receive {
  background-position: 0px -32px;
}
/* line 307, ../src/temp-dev.scss */
.conversation-sprite .note-public {
  background-position: 0px -64px;
}
/* line 310, ../src/temp-dev.scss */
.conversation-sprite .note-private {
  background-position: 0px -96px;
}

/* line 316, ../src/temp-dev.scss */
.contact-box {
  padding-left: 170px;
}
/* line 318, ../src/temp-dev.scss */
.contact-box div.profile_pic {
  float: left;
  margin-left: -150px;
  width: 127px;
  margin-top: 5px;
  text-align: center;
}
/* line 325, ../src/temp-dev.scss */
.contact-box .info-highlight {
  margin: 8px 0px 0px -170px;
  padding-left: 165px;
}

/* line 331, ../src/temp-dev.scss */
.info-highlight {
  font-size: 13px;
  margin: 0px 0px 0px 0px;
  padding: 8px 18px;
  color: #666666;
  border: 1px solid #f4f4e9;
  background-color: #fffbee;
}
/* line 338, ../src/temp-dev.scss */
.info-highlight div {
  padding: 6px;
}

/* line 344, ../src/temp-dev.scss */
.forum_list {
  margin: 0px 0px;
}
/* line 346, ../src/temp-dev.scss */
.forum_list a {
  text-decoration: none;
}
/* line 347, ../src/temp-dev.scss */
.forum_list a.title {
  color: #545454;
}
/* line 18, ../../../.gem/ruby/1.8/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/utilities/links/_link-colors.scss */
.forum_list a.title:visited {
  color: #545454;
}
/* line 24, ../../../.gem/ruby/1.8/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/utilities/links/_link-colors.scss */
.forum_list a.title:hover {
  color: #527eaa;
}
/* line 27, ../../../.gem/ruby/1.8/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/utilities/links/_link-colors.scss */
.forum_list a.title:active {
  color: #545454;
}
/* line 348, ../src/temp-dev.scss */
.forum_list .item_actions {
  float: right;
  font-size: 10px;
  background-color: #F3F1EC;
  -moz-border-radius: 6px 6px 6px 6px;
  -webkit-border-radius: 6px 6px 6px 6px;
  border-radius: 6px 6px 6px 6px;
  border: 1px solid #cfcfcf;
  color: #afafaf;
  padding: 2px 8px;
}
/* line 356, ../src/temp-dev.scss */
.forum_list .item_actions a.highlight {
  background-color: #ffffcc;
  padding: 1px 3px;
}
/* line 361, ../src/temp-dev.scss */
.forum_list .subcounter {
  color: #afafaf;
}
/* line 364, ../src/temp-dev.scss */
.forum_list ul.base-set {
  list-style: none;
  overflow: hidden;
  *zoom: 1;
  margin: 0px;
  padding: 5px 26px;
}
/* line 11, ../../../.gem/ruby/1.8/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/utilities/lists/_bullets.scss */
.forum_list ul.base-set li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0px;
}
/* line 369, ../src/temp-dev.scss */
.forum_list ul.base-set li {
  float: left;
  width: 44%;
  padding: 0px 0px 0px 30px;
  margin: 0px 3% 0px 0px;
}
/* line 374, ../src/temp-dev.scss */
.forum_list ul.base-set li h4.forum_title {
  margin: 3px 0px 0px 0px;
  padding: 6px 0px 4px 0px;
  font-size: 16px;
  position: relative;
}
/* line 378, ../src/temp-dev.scss */
.forum_list ul.base-set li h4.forum_title a {
  font-weight: normal;
}
/* line 383, ../src/temp-dev.scss */
.forum_list ul.base-set li span.icon {
  position: absolute;
  left: -34px;
  top: 2px;
  background: url('/images/../images/embed/sprites/32square_sprite.png?1301407817') no-repeat;
  width: 32px;
  height: 32px;
  overflow: hidden;
}
/* line 389, ../src/temp-dev.scss */
.forum_list ul.base-set li span.forum_type_1 {
  background-position: 0px -192px;
}
/* line 393, ../src/temp-dev.scss */
.forum_list ul.base-set li span.forum_type_2 {
  background-position: 0px -224px;
}
/* line 397, ../src/temp-dev.scss */
.forum_list ul.base-set li span.forum_type_3 {
  background-position: 0px -160px;
}
/* line 401, ../src/temp-dev.scss */
.forum_list ul.base-set li span.forum_type_4 {
  background-position: 0px -128px;
}
/* line 405, ../src/temp-dev.scss */
.forum_list ul.base-set li .topic-list {
  padding: 6px 0px 12px 0px;
  margin-bottom: 8px;
  border-top: 1px solid #f1f1f1;
}
/* line 409, ../src/temp-dev.scss */
.forum_list ul.base-set li .topic-list a.topic {
  white-space: nowrap;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  -ms-text-overflow: ellipsis;
  text-overflow: ellipsis;
  -moz-binding: url('/stylesheets/xml/ellipsis.xml#ellipsis');
  display: block;
  padding: 5px 0px;
  font-size: 13px;
}
/* line 415, ../src/temp-dev.scss */
.forum_list ul.base-set li .topic-list a {
  color: #4d769f;
}
/* line 18, ../../../.gem/ruby/1.8/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/utilities/links/_link-colors.scss */
.forum_list ul.base-set li .topic-list a:visited {
  color: #4d769f;
}
/* line 24, ../../../.gem/ruby/1.8/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/utilities/links/_link-colors.scss */
.forum_list ul.base-set li .topic-list a:hover {
  color: #3399cc;
}
/* line 27, ../../../.gem/ruby/1.8/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/utilities/links/_link-colors.scss */
.forum_list ul.base-set li .topic-list a:active {
  color: #4d769f;
}
/* line 420, ../src/temp-dev.scss */
.forum_list ul.base-set li.odd {
  clear: left;
}
/* line 423, ../src/temp-dev.scss */
.forum_list ul.base-set li.even {
  margin-right: 0px;
  width: 46%;
}

/* line 431, ../src/temp-dev.scss */
.forum-group {
  margin: 0px -20px;
}
