/* Theme Colors and layout Defaults */
/*$blueprint-font-family: "Lucida Grande", Geneva, Arial,Verdana,sans-serif;*/
#errorExplanation, .errorExplanation { overflow: hidden; *zoom: 1; padding: 14px 20px; margin: 0px 0px 10px 0px; background-color: #feefd6; }
#errorExplanation h2, .errorExplanation h2 { display: none; }
#errorExplanation p, .errorExplanation p { color: #333; margin: 0px; padding: 0px; font-size: 13px; color: #993333; }
#errorExplanation ul li, .errorExplanation ul li { font-size: 13px; list-style: disc; margin: 8px 8px 5px 18px; }

.flash_info { position: relative; background-color: #fdfde5; color: #333333; font-size: 14px; line-height: 18px; }
.flash_info .list { padding: 6px 5px; }
.flash_info .list h4.title { font-size: 13px; }
.flash_info .list ul { font-size: 13px; list-style: disc; margin: 0px 8px 0px 18px; }
.flash_info .close { right: 0px; top: 0px; background: url("../images/icons/btn_close_icon.png") no-repeat center; }

.ui-form label.error, .ui-form label.warning { font-size: 13px !important; border: 1px solid #efefef; background: #fefcea; display: block; font-style: normal; margin: 2px -3px; padding: 8px 12px; color: #a90329; }

.ui-form label.warning { color: #cc6600; }
