/* Theme Colors and layout Defaults */
/*  html5doctor.com Reset Stylesheet (Eric Meyer's Reset Reloaded + HTML5 baseline) v1.4 2009-07-27 | Authors: Eric Meyer & Richard Clark html5doctor.com/html-5-reset-stylesheet/
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; outline: 0; font-weight: inherit; font-style: inherit; font-size: 100%; font-family: inherit; vertical-align: baseline; }

body { line-height: 1; color: black; background: white; }

table { border-collapse: separate; border-spacing: 0; vertical-align: middle; }

caption, th, td { text-align: left; font-weight: normal; vertical-align: middle; }

/* tables still need cellspacing="0" in the markup */
table { border-collapse: collapse; border-spacing: 0; }

q, blockquote { quotes: none; }
q:before, q:after, blockquote:before, blockquote:after { content: ""; content: none; }

a img { border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }

ol, ul { list-style: none; }

nav ul { list-style: none; }

blockquote, q { quotes: none; }

blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }

a { margin: 0; padding: 0; font-size: 100%; vertical-align: baseline; background: transparent; }

ins { background-color: #ff9; color: #000; text-decoration: none; }

mark { background-color: #ff9; color: #000; font-style: italic; font-weight: bold; }

del { text-decoration: line-through; }

abbr[title], dfn[title] { border-bottom: 1px dotted; cursor: help; }

hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }

input, select { vertical-align: middle; }

ol { list-style: decimal outside; margin: 3px 8px 3px 28px; }

strong, b { font-weight: bold; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary { display: block; }

/* END RESET CSS */
#tag-list { margin: 5px -5px 5px 0; }

#tag-list li { display: inline; list-style: none outside none; margin: 0; color: #000000; border-color: #DDDDDD; border-width: 1px; border-style: solid; -moz-border-radius: 3px; -webkit-border-radius: 3px; -o-border-radius: 3px; -ms-border-radius: 3px; -khtml-border-radius: 3px; border-radius: 3px; padding: 2px 3px; font-size: 11px; background-color: #33a8a8; }

#tag-list li a { color: #fff; }

#tag-cloud { margin: 5px -5px 5px 0; }

#tag-cloud li { display: inline; list-style: none outside none; margin: 0; padding: 0; }

#tag-cloud li a:hover { color: #000000; }

/* Theme Colors and layout Defaults */
body { font: 12px "Helvetica Neue", Arial, Helvetica, sans-serif; background-color: transparent; }

code, pre { padding: 0 3px 2px; font-family: Menlo, Monaco, "Courier New", monospace; font-size: 12px; color: #333333; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; }

.font11 { font-size: 11px; }

a { color: #336699; text-decoration: none; font-weight: inherit; }
a:hover { color: #00438a; }

a:hover { text-decoration: none; }

.hide { display: none; }

.show { display: block; }

.clearfix { *zoom: 1; }
.clearfix:after { content: ""; display: table; clear: both; }

.title { padding: 5px 0px; font-weight: bold; }

/*.title a{ @include link-colors(#4D769F, #3399cc, #4D769F, #4D769F); text-decoration:none; }*/
h1.title { font-size: 2em; text-transform: capitalize; font-weight: normal; }

h2.title { font-size: 1.6em; }

h3.title, h3.sub_title, h3.title-band { font-size: 1.46em; }

h4.title { font-size: 1.30em; }

h4.title.margin-set { margin-bottom: 8px; }

h3.title-band { margin: 12px -20px; background-color: #f2f2f2; padding: 8px 20px; }

h3.sub_title { font-size: 1.1em; }

.floatl { display: inline; float: left; }

.floatr { display: inline; float: right; }

.alignright { text-align: right; }

.aligncenter { text-align: center; }

.info_data, .info-data { color: #888888; font-size: 12px; line-height: 18px; padding-bottom: 6px; }

.borderbottom { border-bottom: 1px dotted #EFEFEF; }

table td { vertical-align: top; }

.strikethrough { text-decoration: line-through; }

input.auto { width: auto !important; }

textarea.auto-height { height: auto !important; }

.lowercase { text-transform: lowercase; }

.center { text-align: center; }

.padding { padding: 3px 6px; }

label.error { color: red; }

.close-text { float: right; font-family: arial; font-size: 16px; font-weight: bold; line-height: 18px; color: #000000; text-shadow: 0 1px 0 #ffffff; filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40); opacity: 0.4; }

.close-text:hover { color: #000000; text-decoration: none; filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60); opacity: 0.6; cursor: pointer; }

.alert { padding: 8px 14px; margin-top: 8px; margin-bottom: 5px; text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5); background-color: #fcf8e3; border: 1px solid #fbeed5; -moz-border-radius: 4px; -webkit-border-radius: 4px; -o-border-radius: 4px; -ms-border-radius: 4px; -khtml-border-radius: 4px; border-radius: 4px; position: relative; }

.alert, .alert-heading { color: #c09853; }

.alert .close-text { position: absolute; top: 2px; right: 15px; line-height: 18px; font-weight: normal; }

.alert-success { background-color: #dff0d8; border-color: #d6e9c6; }

.alert-success, .alert-success .alert-heading { color: #468847; }

.alert-danger, .alert-error { background-color: #f2dede; border-color: #eed3d7; }

.alert-danger, .alert-error, .alert-danger .alert-heading, .alert-error .alert-heading { color: #b94a48; }

.alert-info { background-color: #d9edf7; border-color: #bce8f1; }

.alert-info, .alert-info .alert-heading { color: #2d6987; }

.alert-block { padding-top: 14px; padding-bottom: 14px; }

.alert-block > p, .alert-block > ul { margin-bottom: 0; }

.alert-block p + p { margin-top: 5px; }

.underline { text-decoration: underline; }

.underline:hover { text-decoration: none; }

.negtiveMargin { margin: 0 -20px -16px; }

/* Theme Colors and layout Defaults */
.ie6 .wrapper, .ie7 .wrapper { width: expression((document.body.clientWidth < 982)? "982px" : "90%"); width: 980px; }
.ie6 ul.header-tabs li.active a, .ie6 ul.header-tabs li.active a:hover, .ie7 ul.header-tabs li.active a, .ie7 ul.header-tabs li.active a:hover { top: 1px; padding-top: 7px; }
.ie6 input, .ie6 button, .ie7 input, .ie7 button { overflow: visible; }
.ie6 input.text, .ie7 input.text { overflow-x: hidden; }
.ie6 ul.summary, .ie7 ul.summary { border-color: #ececec; }
.ie6 ul.icon_grid li a div, .ie7 ul.icon_grid li a div { font-weight: bold; }
.ie6 ul.ui-form li.inline-field, .ie7 ul.ui-form li.inline-field { width: 96%; }
.ie6 .reminders ul li, .ie6 .reminders-ticket ul li, .ie7 .reminders ul li, .ie7 .reminders-ticket ul li { display: inline-block; }
.ie6 .uniForm, .ie6 .uniForm fieldset, .ie6 .uniForm .ctrlHolder, .ie6 .uniForm .formHint, .ie6 .uniForm .buttonHolder, .ie6 .uniForm .ctrlHolder ul, .ie7 .uniForm, .ie7 .uniForm fieldset, .ie7 .uniForm .ctrlHolder, .ie7 .uniForm .formHint, .ie7 .uniForm .buttonHolder, .ie7 .uniForm .ctrlHolder ul { zoom: 1; }
.ie6 .uniForm .textInput, .ie6 .uniForm .fileUpload, .ie6 .uniForm .selectInput, .ie6 .uniForm select, .ie7 .uniForm .textInput, .ie7 .uniForm .fileUpload, .ie7 .uniForm .selectInput, .ie7 .uniForm select { height: 24px; }
.ie6 .ui-form .attachment_list li, .ie7 .ui-form .attachment_list li { width: 200px; border: 0px; }
.ie6 .ui-form .attachment_list li .delete, .ie7 .ui-form .attachment_list li .delete { display: block; }
.ie6 .request-list div.item .bulb, .ie6 .request-list div.item .wand, .ie7 .request-list div.item .bulb, .ie7 .request-list div.item .wand { left: 0px; margin-left: -25px; }
.ie6 input.search, .ie7 input.search { height: 28px; }
.ie6 div.description, .ie7 div.description { margin-top: 0px; margin-bottom: 0px; padding-top: 0px; padding-bottom: 0px; }
.ie6 div.description .details, .ie7 div.description .details { padding: 0px; }
.ie6 .rtCnt .rtDetails h3.title, .ie7 .rtCnt .rtDetails h3.title { margin-top: 14px; padding-bottom: 0px; }
.ie6 div.panel_area .tag_delete, .ie7 div.panel_area .tag_delete { right: 12px; }
.ie6 .placeholder-list dl dt a, .ie7 .placeholder-list dl dt a { width: 180px; }
.ie6 .auto-expand, .ie7 .auto-expand { overflow-x: hidden; }
.ie6 .search_bar, .ie7 .search_bar { width: 220px; }
.ie6 .uiButton, .ie7 .uiButton { padding: 4px 8px; font-size: 11px; }
.ie6 a.uiButton, .ie6 a.uiButton:visited, .ie7 a.uiButton, .ie7 a.uiButton:visited { padding-top: 5px; padding-bottom: 6px; font-size: 11px; }
.ie6 .ui-login .ui-form, .ie6 .ui-signup .ui-form, .ie7 .ui-login .ui-form, .ie7 .ui-signup .ui-form { -moz-box-shadow: 0px 1px 6px #cfcfcf; -webkit-box-shadow: 0px 1px 6px #cfcfcf; box-shadow: 0px 1px 6px #cfcfcf; }
.ie6 .dialog-panel, .ie6 .due-date-dialog, .ie7 .dialog-panel, .ie7 .due-date-dialog { -moz-box-shadow: #9f9f9f 0px 2px 4px; -webkit-box-shadow: #9f9f9f 0px 2px 4px; box-shadow: #9f9f9f 0px 2px 4px; }
.ie6 .due-date-dialog, .ie7 .due-date-dialog { margin-left: 0px; top: -8px; }
.ie6 .ui-form .conditionset fieldset div.s_email div input.text, .ie6 .ui-form .conditionset fieldset div.s_email div textarea.paragraph, .ie7 .ui-form .conditionset fieldset div.s_email div input.text, .ie7 .ui-form .conditionset fieldset div.s_email div textarea.paragraph { width: 550px; }
.ie6 .ui-widget-container, .ie7 .ui-widget-container { -moz-box-shadow: #afafaf -3px 5px 10px; -webkit-box-shadow: #afafaf -3px 5px 10px; box-shadow: #afafaf -3px 5px 10px; }
.ie6 .fd-menu, .ie7 .fd-menu { z-index: 999999; }

.ie6 .fd-menu, .ie7 .fd-menu, .ie8 .fd-menu { border: 1px solid #afafaf; }
.ie6 .fd-menu a:hover, .ie7 .fd-menu a:hover, .ie8 .fd-menu a:hover { background: #5469f9; }

input.text, input[type=text], textarea { border: 1px solid #C6C6C6; padding: 5px; width: 98%; -moz-border-radius: 5px; -webkit-border-radius: 5px; -o-border-radius: 5px; -ms-border-radius: 5px; -khtml-border-radius: 5px; border-radius: 5px; -moz-box-shadow: #dfdfdf 1px 1px 2px inset; -webkit-box-shadow: #dfdfdf 1px 1px 2px inset; -o-box-shadow: #dfdfdf 1px 1px 2px inset; box-shadow: #dfdfdf 1px 1px 2px inset; font: 14px "Helvetica Neue",Arial,Helvetica,sans-serif; margin-bottom: 4px; }

input:focus, textarea:focus { border-color: #006063; }

textarea { overflow: auto; resize: none; padding: 3px; width: 99%; height: 130px; }

input:focus, select:focus, textarea:focus { -moz-box-shadow: #006063 0 0 3px; -webkit-box-shadow: #006063 0 0 3px; box-shadow: #006063 0 0 3px; }

.uiButton-feedbackwidget { display: -moz-inline-box; -moz-box-orient: vertical; display: inline-block; vertical-align: middle; *vertical-align: auto; margin: 0.7em 0.5em 0.7em 0; border-width: 1px; border-style: solid; font-family: "Lucida Grande", Tahoma, Arial, Verdana, sans-serif; font-size: 100%; line-height: 130%; font-weight: bold; text-decoration: none; cursor: pointer; background-image: url(../images/overlay-button.png); background-color: #f8f8f8; background-repeat: repeat-x; color: #333333; display: inline-block; text-decoration: none; margin: 1px; line-height: 17px; border: 1px solid #d4d4d4; padding: 5px 18px 6px; font-size: 11px; cursor: pointer; text-shadow: 1px 1px 0 white; -moz-border-radius: 4px 4px 4px 4px; -webkit-border-radius: 4px 4px 4px 4px; border-radius: 4px 4px 4px 4px; text-align: center; }
.uiButton-feedbackwidget { *display: inline; }
.uiButton-feedbackwidget img { margin: 0 3px -3px 0 !important; padding: 0; border: none; width: 16px; height: 16px; float: none; }
.uiButton-feedbackwidget:hover { background-color: #000; border-color: black; color: #ffffff; text-shadow: rgba(0, 0, 0, 0.2) -1px -1px 1px; *zoom: 1; filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FF919191', endColorstr='#FF3A3A3A'); /* Fallback: */ background: #919191; /* CSS 3 plus vendor prefixes: */ background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #919191), color-stop(100%, #3a3a3a)); background-image: -webkit-linear-gradient(#919191, #3a3a3a); background-image: -moz-linear-gradient(#919191, #3a3a3a); background-image: -o-linear-gradient(#919191, #3a3a3a); background-image: -ms-linear-gradient(#919191, #3a3a3a); background-image: linear-gradient(#919191, #3a3a3a); font-weight: bold; }

.feedback-widget-form { padding-bottom: 1em; }

.feedback-widget-formtitle { padding: 5px 0 10px; border-bottom: 2px solid #b9b9b9; }

.feedback-widget-choice { padding-bottom: 20px; }
.feedback-widget-choice ul li { float: left; padding: 14px 20px 22px 0; }
.feedback-widget-choice ul li a { font-size: 15px; font-weight: normal; color: #5198e7; padding-top: 10px; }
.feedback-widget-choice ul li a.active { border-top: 5px solid #b9b9b9; font-weight: bold; color: #000; }

.feedback-widget-container { margin: 10px auto; padding: 10px 22px 21px; *zoom: 1; filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FFFFFFFF', endColorstr='#FFFFFFFF'); /* Fallback: */ background: white; /* CSS 3 plus vendor prefixes: */ background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #ffffff)); background-image: -webkit-linear-gradient(#ffffff, #ffffff); background-image: -moz-linear-gradient(#ffffff, #ffffff); background-image: -o-linear-gradient(#ffffff, #ffffff); background-image: -ms-linear-gradient(#ffffff, #ffffff); background-image: linear-gradient(#ffffff, #ffffff); -moz-border-radius: 6px 6px 6px 6px; -webkit-border-radius: 6px 6px 6px 6px; border-radius: 6px 6px 6px 6px; -moz-box-shadow: rgba(0, 0, 0, 0.5) -3px 5px 10px; -webkit-box-shadow: rgba(0, 0, 0, 0.5) -3px 5px 10px; box-shadow: rgba(0, 0, 0, 0.5) -3px 5px 10px; border: 2px solid #4b4b4b; width: 500px; }

.feedbackwidget-footer { color: #adadad; font-size: 11px; }
.feedbackwidget-footer a { color: #adadad; text-decoration: underline; }

.feedbackwidget-tooltip { position: absolute; padding: 10px 22px; background-color: #f9f9f9; -moz-border-radius: 0px 6px 6px 0px; -webkit-border-radius: 0px 6px 6px 0px; border-radius: 0px 6px 6px 0px; border: 1px solid #7b7b7b; border-left: none; width: 274px; height: 380px; top: 28px; margin-left: 907px; display: none; }

.footerContent { color: #000000; filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60); opacity: 0.6; }
.footerContent a { color: #000000; text-decoration: none; border-bottom: 1px dotted #000000; }
.footerContent a:hover { color: #000000; border-bottom: none; }

.button-container { overflow: hidden; *zoom: 1; text-align: right; padding: 1em 0em 1em 0; }
