<section class="main content rounded-6 min-height-on-desktop">
	<h3 class="heading">Manage your profile</h3>
	<%= render :partial => "form" %>
</section>
<section class="sidebar content rounded-6">
	<h3 class="heading">Change password</h3>
	<%= render :partial => "change_password" %>
</section>