@font-face {
	font-family: 'freshicons';
	src: url('/fonts/freshicons.eot'); /* IE9 Compat Modes */
	src: url('/fonts/freshicons.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	     url('/fonts/freshicons.woff') format('woff'), /* Modern Browsers */
	     url('/fonts/freshicons.ttf')  format('truetype'), /* Safari, Android, iOS */
	     url('/fonts/freshicons.svg#svgFontName') format('svg'); /* Legacy iOS */
}

/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before {
    font-family: 'freshicons';
    content: attr(data-icon);
    speak: none;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
}

/* Use the following CSS code if you want to have a class per icon */
/*
Instead of a list of all class selectors,
you can use the generic selector below, but it's slower:
[class*="icon-"] {
*/
.icon-book, .icon-bug, .icon-link, .icon-stack, .icon-books, .icon-alarm, .icon-signup, .icon-filter, .icon-new-tab, .icon-ok, .icon-remove, .icon-zoom-in, .icon-zoom-out, .icon-cog, .icon-list-ol, .icon-arrow-down, .icon-arrow-up, .icon-arrow-right, .icon-arrow-left, .icon-caret-up, .icon-caret-down, .icon-double-angle-right, .icon-double-angle-left, .icon-off, .icon-comments, .icon-folder-open, .icon-folder, .icon-drawer, .icon-paperplane, .icon-user-add, .icon-popup, .icon-flag, .icon-statistics, .icon-graph, .icon-info, .icon-help, .icon-warning, .icon-ellipsis, .icon-user, .icon-exit, .icon-chrome, .icon-firefox, .icon-ie, .icon-opera, .icon-safari, .icon-mac, .icon-linux, .icon-windows, .icon-android, .icon-mobile, .icon-location, .icon-bookmark, .icon-users, .icon-link-2, .icon-house, .icon-star, .icon-star-2, .icon-clock, .icon-language, .icon-rss, .icon-ticket, .icon-pie, .icon-pictures, .icon-install, .icon-arrow-left-2, .icon-arrow-right-2, .icon-arrow-up-2, .icon-arrow-down-2, .icon-twitter, .icon-facebook, .icon-linkedin, .icon-googleplus, .icon-inbox, .icon-thumbs-up, .icon-thumbs-down, .icon-magic, .icon-undo, .icon-sitemap, .icon-bolt, .icon-gauge, .icon-caret-left, .icon-caret-right, .icon-sort, .icon-reorder, .icon-eye, .icon-eye-blocked, .icon-drawer-2, .icon-mail, .icon-phone, .icon-heart, .icon-heart-2, .icon-bell, .icon-search, .icon-tools, .icon-lifebuoy, .icon-earth, .icon-bars, .icon-plus, .icon-minus, .icon-cross, .icon-paperclip, .icon-share, .icon-printer, .icon-code, .icon-lock, .icon-lock-open, .icon-archive, .icon-calendar, .icon-comment, .icon-reply, .icon-reply-all, .icon-forward, .icon-headphones, .icon-dropbox, .icon-paint-format, .icon-history, .icon-file, .icon-file-2, .icon-copy, .icon-copy-2, .icon-calendar-2, .icon-shield, .icon-double-angle-up, .icon-double-angle-down, .icon-profile, .icon-file-3, .icon-tag, .icon-tags, .icon-stopwatch, .icon-meter2, .icon-switch, .icon-publish, .icon-credit-card, .icon-flow-tree, .icon-flow-cascade, .icon-flow-branch, .icon-circle-halftone, .icon-circle-halftone3, .icon-circle-halftone2, .icon-edit, .icon-pencil {
    font-family: 'freshicons';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
}
.icon-book:before {
    content: "\e000";
}
.icon-bug:before {
    content: "\e001";
}
.icon-link:before {
    content: "\e017";
}
.icon-stack:before {
    content: "\e01b";
}
.icon-books:before {
    content: "\e01c";
}
.icon-alarm:before {
    content: "\e01f";
}
.icon-signup:before {
    content: "\e026";
}
.icon-filter:before {
    content: "\e027";
}
.icon-new-tab:before {
    content: "\e028";
}
.icon-ok:before {
    content: "\f00c";
}
.icon-remove:before {
    content: "\f00d";
}
.icon-zoom-in:before {
    content: "\f00e";
}
.icon-zoom-out:before {
    content: "\f010";
}
.icon-cog:before {
    content: "\f013";
}
.icon-list-ol:before {
    content: "\f0cb";
}
.icon-arrow-down:before {
    content: "\e02e";
}
.icon-arrow-up:before {
    content: "\e02f";
}
.icon-arrow-right:before {
    content: "\e030";
}
.icon-arrow-left:before {
    content: "\e031";
}
.icon-caret-up:before {
    content: "\f0d8";
}
.icon-caret-down:before {
    content: "\f0d7";
}
.icon-double-angle-right:before {
    content: "\f101";
}
.icon-double-angle-left:before {
    content: "\f100";
}
.icon-off:before {
    content: "\f011";
}
.icon-comments:before {
    content: "\f086";
}
.icon-folder-open:before {
    content: "\e037";
}
.icon-folder:before {
    content: "\e038";
}
.icon-drawer:before {
    content: "\e03a";
}
.icon-paperplane:before {
    content: "\e03e";
}
.icon-user-add:before {
    content: "\e03f";
}
.icon-popup:before {
    content: "\e041";
}
.icon-flag:before {
    content: "\e042";
}
.icon-statistics:before {
    content: "\e043";
}
.icon-graph:before {
    content: "\e044";
}
.icon-info:before {
    content: "\e045";
}
.icon-help:before {
    content: "\e046";
}
.icon-warning:before {
    content: "\e047";
}
.icon-ellipsis:before {
    content: "\e04a";
}
.icon-user:before {
    content: "\e04c";
}
.icon-exit:before {
    content: "\e008";
}
.icon-chrome:before {
    content: "\e01a";
}
.icon-firefox:before {
    content: "\e02b";
}
.icon-ie:before {
    content: "\e035";
}
.icon-opera:before {
    content: "\e036";
}
.icon-safari:before {
    content: "\e048";
}
.icon-mac:before {
    content: "\e049";
}
.icon-linux:before {
    content: "\e04e";
}
.icon-windows:before {
    content: "\e04f";
}
.icon-android:before {
    content: "\e04d";
}
.icon-mobile:before {
    content: "\e051";
}
.icon-location:before {
    content: "\e050";
}
.icon-bookmark:before {
    content: "\e006";
}
.icon-users:before {
    content: "\e055";
}
.icon-link-2:before {
    content: "\e059";
}
.icon-house:before {
    content: "\e05a";
}
.icon-star:before {
    content: "\e05b";
}
.icon-star-2:before {
    content: "\e05c";
}
.icon-clock:before {
    content: "\e05e";
}
.icon-language:before {
    content: "\e05f";
}
.icon-rss:before {
    content: "\e062";
}
.icon-ticket:before {
    content: "\e063";
}
.icon-pie:before {
    content: "\e064";
}
.icon-pictures:before {
    content: "\e065";
}
.icon-install:before {
    content: "\e066";
}
.icon-arrow-left-2:before {
    content: "\e058";
}
.icon-arrow-right-2:before {
    content: "\e067";
}
.icon-arrow-up-2:before {
    content: "\e068";
}
.icon-arrow-down-2:before {
    content: "\e069";
}
.icon-twitter:before {
    content: "\e06b";
}
.icon-facebook:before {
    content: "\e06c";
}
.icon-linkedin:before {
    content: "\e06d";
}
.icon-googleplus:before {
    content: "\e06e";
}
.icon-inbox:before {
    content: "\f01c";
}
.icon-thumbs-up:before {
    content: "\f087";
}
.icon-thumbs-down:before {
    content: "\f088";
}
.icon-magic:before {
    content: "\f0d0";
}
.icon-undo:before {
    content: "\f0e2";
}
.icon-sitemap:before {
    content: "\f0e8";
}
.icon-bolt:before {
    content: "\f0e7";
}
.icon-gauge:before {
    content: "\e060";
}
.icon-caret-left:before {
    content: "\f0d9";
}
.icon-caret-right:before {
    content: "\f0da";
}
.icon-sort:before {
    content: "\f0dc";
}
.icon-reorder:before {
    content: "\f0c9";
}
.icon-eye:before {
    content: "\e009";
}
.icon-eye-blocked:before {
    content: "\e00a";
}
.icon-drawer-2:before {
    content: "\e003";
}
.icon-mail:before {
    content: "\e00b";
}
.icon-phone:before {
    content: "\e00c";
}
.icon-heart:before {
    content: "\e00d";
}
.icon-heart-2:before {
    content: "\e00e";
}
.icon-bell:before {
    content: "\e00f";
}
.icon-search:before {
    content: "\e010";
}
.icon-tools:before {
    content: "\e012";
}
.icon-lifebuoy:before {
    content: "\e014";
}
.icon-earth:before {
    content: "\e015";
}
.icon-bars:before {
    content: "\e016";
}
.icon-plus:before {
    content: "\e019";
}
.icon-minus:before {
    content: "\e024";
}
.icon-cross:before {
    content: "\e029";
}
.icon-paperclip:before {
    content: "\e011";
}
.icon-share:before {
    content: "\e02a";
}
.icon-printer:before {
    content: "\e02c";
}
.icon-code:before {
    content: "\e02d";
}
.icon-lock:before {
    content: "\e033";
}
.icon-lock-open:before {
    content: "\e034";
}
.icon-archive:before {
    content: "\e03d";
}
.icon-calendar:before {
    content: "\f073";
}
.icon-comment:before {
    content: "\f075";
}
.icon-reply:before {
    content: "\e004";
}
.icon-reply-all:before {
    content: "\e005";
}
.icon-forward:before {
    content: "\e007";
}
.icon-headphones:before {
    content: "\f025";
}
.icon-dropbox:before {
    content: "\e018";
}
.icon-paint-format:before {
    content: "\e01d";
}
.icon-history:before {
    content: "\e020";
}
.icon-file:before {
    content: "\e032";
}
.icon-file-2:before {
    content: "\e039";
}
.icon-copy:before {
    content: "\e03b";
}
.icon-copy-2:before {
    content: "\e03c";
}
.icon-calendar-2:before {
    content: "\e052";
}
.icon-shield:before {
    content: "\e053";
}
.icon-double-angle-up:before {
    content: "\f102";
}
.icon-double-angle-down:before {
    content: "\f103";
}
.icon-profile:before {
    content: "\e040";
}
.icon-file-3:before {
    content: "\e054";
}
.icon-tag:before {
    content: "\e05d";
}
.icon-tags:before {
    content: "\e061";
}
.icon-stopwatch:before {
    content: "\e013";
}
.icon-meter2:before {
    content: "\e01e";
}
.icon-switch:before {
    content: "\e022";
}
.icon-publish:before {
    content: "\e002";
}
.icon-credit-card:before {
    content: "\e021";
}
.icon-flow-tree:before {
    content: "\e057";
}
.icon-flow-cascade:before {
    content: "\e023";
}
.icon-flow-branch:before {
    content: "\e025";
}
.icon-circle-halftone:before {
    content: "\e04b";
}
.icon-circle-halftone3:before {
    content: "\e056";
}
.icon-circle-halftone2:before {
    content: "\e06a";
}
.icon-edit:before {
    content: "\f044";
}
.icon-pencil:before {
    content: "\f040";
}
