#visitors_view_container {
  opacity: 0.2;
}

.clearfix:before, .visitorGeo .loc:before,
.clearfix:after,
.visitorGeo .loc:after {
  display: table;
  content: " ";
}

.clearfix:after, .visitorGeo .loc:after {
  clear: both;
}

.visitor_results{
    margin-top: 30px;
    margin-bottom: 20px;
    width: 100%;
    border-radius: 5px;
    overflow: hidden;
    .emptymsg{
        padding-bottom: 60px;
    }
}
.fc-vfilter{
  margin-top:30px;
}
.online_count{
  display: inline-block;
  margin-bottom: 2px;
  width: 84%;
  margin-left: 20px;
  border-radius: 5px;
  .count{
    display: block;
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 4px;
    color: #1272de;
  }
  div{
    float: left;
    padding-left: 20px;
  }
  .on,
  .off{
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    width: 100%;
    padding: 8px 22px;
    border-radius: 5px;
  }
  .on {
    color: #333;
    background-color: rgba(0,0,0,.05);
    span{
      color: #333;
    }
  }
  .off{
    &:hover{
      color: #1272de;
      cursor: pointer;
    }
  }
}
#visitor_layout{
    margin-top: 0px;
}
.visitor_results,
.search_results_list {
  border: 1px solid #e8e8e8;
}
#visitor_results{
  a{
    cursor: pointer;
  }
  tr{
    &.odd{
      background: #FFF;
    }
    &.even{
      background: #fdfdfd;
    }
    &:hover{
    background-color: #fafafa;
    }
  }
  td{
    padding: 10px;
  }
  .visitor_list_time{
    width: 15%;
    color: #999;
    font-size: 11px;
  }
  .new-visitor{
    width: 20%;
    a{
      width: 85%;
    }
  }
  .location{
    width: 20%;
  }
  .lookpage{
    max-width:355px;
    min-width: 45%;
    a{
      width: 90%;
    }
  }
  .chat-visitor{
    width: 20%
  }
  .new-visitor,
  .chat-visitor,
  .location,
  .lookpage{
    i,
    span,
    a{
      float: left;
      b{
        color: #444;
        font-weight: 600;
        font-size: 12px;
      }
    }
    i{
      padding-right: 5px;
      color: #666;
    }
    span{
      width: 85%;
    }
    span,
    a{
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }
  }
  .new-visitor i{
   color: #999;
  }
  .return-visitor i{
   color: #c37d1a;
  }
  .chat-visitor i{
    color: #21ab16;
  }
}
.ellipsis{
  text-overflow: ellipsis;
  overflow: hidden;
  width: 217px;
  white-space: nowrap;
}