<% installed_apps.each do |key,installed_app|
  app = installed_app.application
  unless app.blank?
    app.widgets.each do |widget|
      dip = widget.display_in_pages_option
      if !dip.blank? && dip.include?('helpdesk_tickets_show_page_side_bar')
        ticket.load_flexifield
        liquid_objects = {"ticket" => ticket, "requester" => user}
        widget_code = widget_script(installed_app, widget, liquid_objects) %>
        <div id="<%=app.name%>" class="sidepanel">
          <%=widget_code%>
        </div>
  <%  end
    end
  end
end %>
