/* line 3, ../../src/subscription/subscription.scss */
body {
  background: url("/images/subscriptionadminbg.png"); }

/* line 4, ../../src/subscription/subscription.scss */
.navbar-inner {
  background: url("/images/subscriptionadmintopbg.png"); }

/* line 5, ../../src/subscription/subscription.scss */
.navbar .nav .active > a, .navbar .nav .active > a:hover {
  background-color: #203938; }

/* line 6, ../../src/subscription/subscription.scss */
.navbar-search .search-query {
  background-color: #497272; }

/* line 7, ../../src/subscription/subscription.scss */
.navbar .nav > li > a {
  color: #85acac; }

/* line 8, ../../src/subscription/subscription.scss */
.navbar-search .search-query:-moz-placeholder {
  color: #85acac; }

/* line 9, ../../src/subscription/subscription.scss */
.navbar-search .search-query::-webkit-input-placeholder {
  color: #85acac; }

/* line 10, ../../src/subscription/subscription.scss */
.navbar-inner {
  -webkit-box-shadow: 4px 1px 3px rgba(0, 0, 0, 0.75), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 4px 1px 3px rgba(0, 0, 0, 0.75), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 4px 1px 3px rgba(0, 0, 0, 0.75), inset 0 -1px 0 rgba(0, 0, 0, 0.1); }

/* line 12, ../../src/subscription/subscription.scss */
.main-body {
  padding-top: 70px; }

/* line 13, ../../src/subscription/subscription.scss */
.divider-vertical {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=30);
  opacity: 0.3; }

/* line 15, ../../src/subscription/subscription.scss */
h2 + table, h3 + table, h4 + table, h2 + .row {
  margin-top: 10px; }

/* line 18, ../../src/subscription/subscription.scss */
.floatr {
  float: right; }

/* line 22, ../../src/subscription/subscription.scss */
.admin-logo {
  position: absolute;
  margin-left: -40px;
  margin-top: -5px; }

/* line 28, ../../src/subscription/subscription.scss */
section {
  padding-top: 30px; }

/* line 30, ../../src/subscription/subscription.scss */
.paid {
  background-color: #B6DFAE; }

/* line 34, ../../src/subscription/subscription.scss */
.free {
  background-color: #CFE5E5; }

/* line 38, ../../src/subscription/subscription.scss */
#page-header {
  margin: 10px; }

/* line 42, ../../src/subscription/subscription.scss */
#page-content {
  margin: 10px; }

/* line 46, ../../src/subscription/subscription.scss */
#pick_period select {
  width: 125px;
  margin-bottom: 0px; }

/* line 51, ../../src/subscription/subscription.scss */
.event-container {
  width: 90%;
  position: relative;
  padding: 10px;
  margin: 20px 10px 10px 10px;
  background-color: #FCFCFC;
  border: 1px solid #E5E5E5;
  font-size: 14px;
  border-radius: 10px; }

/* line 62, ../../src/subscription/subscription.scss */
#slide-down {
  cursor: pointer; }

/* line 66, ../../src/subscription/subscription.scss */
.event-overview {
  list-style-type: none;
  position: absolute;
  top: 10px;
  right: 5px; }

/* line 73, ../../src/subscription/subscription.scss */
.event-overview li {
  margin: 5px;
  padding-right: 10px;
  display: inline; }

/* line 79, ../../src/subscription/subscription.scss */
.event-details {
  margin: 25px;
  padding: 5px; }

/* line 84, ../../src/subscription/subscription.scss */
.table-details {
  width: 100%;
  border: solid 1px #CCC;
  border-radius: 5px;
  padding: 0px;
  margin: 0px; }
  /* line 90, ../../src/subscription/subscription.scss */
  .table-details th, .table-details td {
    text-align: center;
    word-wrap: break-word; }

/* line 96, ../../src/subscription/subscription.scss */
.event-summary {
  width: 95%;
  padding: 10px;
  margin: 10px; }
