<div class="widget">
	<div rel="stamp_container">
		<div class="muted"><%= t('topic.marked_as')%></div>
		<div class="stamp-set">
			<strong>
				<%= Topic.all_tokens_for_filters[@topic.forum.forum_type][@topic.stamp_type] %>
			</strong>
		</div>
	</div>
</div>
