<div class="widget" id="user-vote">
	<%= t("forum_shared.topic_vote.#{topic.forum.type_symbol}.vote_info_include_1") + ' ?'%>

	<% voted = @topic.voted_by_user?(current_user) %>
	<% method = voted ? :delete : :put %>
	<div class="like-toggle">
		<%= check_box("","",{ :checked => voted, 
								:rel => 'toggle', 
								"data-checked-label" => t('plain_yes'), 
								"data-unchecked-label" => t('plain_no'),
								:onchange => remote_function( 
				                            :url => voted ? destroy_vote_discussions_topic_path(topic.id, :vote => 'for') : vote_discussions_topic_path(topic.id, :vote => 'for'), 
				                            :method => method 
				                            )
				                }) %>
	</div>
</div>