/* Reset */
.freshSkin table, .freshSkin tbody, .freshSkin a, .freshSkin img, .freshSkin tr, .freshSkin div, .freshSkin td, .freshSkin iframe, .freshSkin span, .freshSkin *, .freshSkin .mceText {border:0; margin:0; padding:0; background:transparent; white-space:nowrap; text-decoration:none; font-weight:normal; cursor:default; color:#000; vertical-align:baseline; width:auto; border-collapse:separate; text-align:left}
.freshSkin a:hover, .freshSkin a:link, .freshSkin a:visited, .freshSkin a:active {text-decoration:none; font-weight:normal; cursor:default; color:#000}
.freshSkin table td {vertical-align:middle}
/* Containers */
.freshSkin table {direction:ltr; background:#F0F0EE}
.freshSkin iframe {display:block; background:#FFF}
.freshSkin .mceToolbar {height:26px}
.freshSkin .mceLeft {text-align:left}
.freshSkin .mceRight {text-align:right}

/* External */
.freshSkin .mceExternalToolbar {position:absolute; border:1px solid #CCC; border-bottom:0; display:none;}
.freshSkin .mceExternalToolbar td.mceToolbar {padding-right:13px;}
.freshSkin .mceExternalClose {position:absolute; top:3px; right:3px; width:7px; height:7px; background:url(../../img/icons.gif) -820px 0}

/* Layout */
.freshSkin table.mceLayout {border:1px solid #c9c9c9; padding:4px;}
.freshSkin table.mceLayout tr.mceFirst td { padding-bottom:3px;}
.freshSkin table.mceLayout tr.mceLast td {border:1px solid #c9c9c9; padding:1px;}
.freshSkin table.mceToolbar, .freshSkin tr.mceFirst .mceToolbar tr td, .freshSkin tr.mceLast .mceToolbar tr td {border:0; margin:0; padding:0;}
.freshSkin td.mceToolbar {padding-top:1px; vertical-align:top}
.freshSkin .mceIframeContainer {border-top:1px solid #CCC; border-bottom:1px solid #CCC}
.freshSkin .mceStatusbar {font-family:'MS Sans Serif',sans-serif,Verdana,Arial; font-size:9pt; line-height:16px; overflow:visible; color:#000; display:block; height:20px}
.freshSkin .mceStatusbar div {float:left; margin:2px}
.freshSkin .mceStatusbar a.mceResize {display:block; float:right; background:url(../../img/icons.gif) -800px 0; width:20px; height:20px; cursor:se-resize; outline:0}
.freshSkin .mceStatusbar a:hover {text-decoration:underline}
.freshSkin table.mceToolbar {margin-left:3px}
.freshSkin span.mceIcon, .freshSkin img.mceIcon {display:block; width:20px; height:20px}
.freshSkin .mceIcon {background:url(../../img/icons.gif) no-repeat 20px 20px}
.freshSkin td.mceCenter {text-align:center;}
.freshSkin td.mceCenter table {margin:0 auto; text-align:left;}
.freshSkin td.mceRight table {margin:0 0 0 auto;}

/* Button */
.freshSkin .mceButton {display:block; border:1px solid #F0F0EE; width:20px; height:20px; margin-right:1px; cursor:pointer;}
.freshSkin a.mceButtonEnabled:hover {border:1px solid #9c9c9a; background-color:#e1e1e1}
.freshSkin a.mceButtonActive, .freshSkin a.mceButtonSelected {border:1px solid #9c9c9a; background-color:#f6f6f6;}
.freshSkin .mceButtonDisabled .mceIcon {opacity:0.3; -ms-filter:'alpha(opacity=30)'; filter:alpha(opacity=30)}
.freshSkin .mceButtonLabeled {width:auto}
.freshSkin .mceButtonLabeled span.mceIcon {float:left}
.freshSkin span.mceButtonLabel {display:block; font-size:10px; padding:4px 6px 0 22px; font-family:Tahoma,Verdana,Arial,Helvetica}
.freshSkin .mceButtonDisabled .mceButtonLabel {color:#888}

/* Separator */
.freshSkin .mceSeparator {display:block; background:url(../../img/icons.gif) -180px 0; width:2px; height:20px; margin:2px 2px 0 4px}

/* ListBox */
.freshSkin .mceListBox, .freshSkin .mceListBox a {display:block}
.freshSkin .mceListBox .mceText {padding-left:4px; width:70px; text-align:left; border:1px solid #CCC; border-right:0; background:#FFF; font-family:Tahoma,Verdana,Arial,Helvetica; font-size:11px; height:20px; line-height:20px; overflow:hidden}
.freshSkin .mceListBox .mceOpen {width:9px; height:20px; background:url(../../img/icons.gif) -741px 0; margin-right:2px; border:1px solid #CCC;}
.freshSkin table.mceListBoxEnabled:hover .mceText, .freshSkin .mceListBoxHover .mceText, .freshSkin .mceListBoxSelected .mceText {border:1px solid #A2ABC0; border-right:0; background:#FFF}
.freshSkin table.mceListBoxEnabled:hover .mceOpen, .freshSkin .mceListBoxHover .mceOpen, .freshSkin .mceListBoxSelected .mceOpen {background-color:#FFF; border:1px solid #A2ABC0}
.freshSkin .mceListBoxDisabled a.mceText {color:gray; background-color:transparent;}
.freshSkin .mceListBoxMenu {overflow:auto; overflow-x:hidden}
.freshSkin .mceOldBoxModel .mceListBox .mceText {height:22px}
.freshSkin .mceOldBoxModel .mceListBox .mceOpen {width:11px; height:22px;}
.freshSkin select.mceNativeListBox {font-family:'MS Sans Serif',sans-serif,Verdana,Arial; font-size:7pt; background:#F0F0EE; border:1px solid gray; margin-right:2px;}

/* SplitButton */
.freshSkin .mceSplitButton {width:32px; height:20px; direction:ltr}
.freshSkin .mceSplitButton a, .freshSkin .mceSplitButton span {height:20px; display:block}
.freshSkin .mceSplitButton a.mceAction {width:20px; border:1px solid #F0F0EE; border-right:0;}
.freshSkin .mceSplitButton span.mceAction {width:20px; background-image:url(../../img/icons.gif);}
.freshSkin .mceSplitButton a.mceOpen {width:9px; background:url(../../img/icons.gif) -741px 0; border:1px solid #F0F0EE;}
.freshSkin .mceSplitButton span.mceOpen {display:none}
.freshSkin table.mceSplitButtonEnabled:hover a.mceAction, .freshSkin .mceSplitButtonHover a.mceAction, .freshSkin .mceSplitButtonSelected a.mceAction {border:1px solid #0A246A; border-right:0; background-color:#B2BBD0}
.freshSkin table.mceSplitButtonEnabled:hover a.mceOpen, .freshSkin .mceSplitButtonHover a.mceOpen, .freshSkin .mceSplitButtonSelected a.mceOpen {background-color:#B2BBD0; border:1px solid #0A246A;}
.freshSkin .mceSplitButtonDisabled .mceAction, .freshSkin .mceSplitButtonDisabled a.mceOpen {opacity:0.3; -ms-filter:'alpha(opacity=30)'; filter:alpha(opacity=30)}
.freshSkin .mceSplitButtonActive a.mceAction {border:1px solid #0A246A; background-color:#C2CBE0}
.freshSkin .mceSplitButtonActive a.mceOpen {border-left:0;}

/* ColorSplitButton */
.freshSkin div.mceColorSplitMenu table {background:#FFF; border:1px solid gray}
.freshSkin .mceColorSplitMenu td {padding:2px}
.freshSkin .mceColorSplitMenu a {display:block; width:9px; height:9px; overflow:hidden; border:1px solid #808080}
.freshSkin .mceColorSplitMenu td.mceMoreColors {padding:1px 3px 1px 1px}
.freshSkin .mceColorSplitMenu a.mceMoreColors {width:100%; height:auto; text-align:center; font-family:Tahoma,Verdana,Arial,Helvetica; font-size:11px; line-height:20px; border:1px solid #FFF}
.freshSkin .mceColorSplitMenu a.mceMoreColors:hover {border:1px solid #0A246A; background-color:#B6BDD2}
.freshSkin a.mceMoreColors:hover {border:1px solid #0A246A}
.freshSkin .mceColorPreview {margin-left:2px; width:16px; height:4px; overflow:hidden; background:#9a9b9a}
.freshSkin .mce_forecolor span.mceAction, .freshSkin .mce_backcolor span.mceAction {overflow:hidden; height:16px}

/* Menu */
.freshSkin .mceMenu {position:absolute; left:0; top:0; z-index:1000; border:1px solid #D4D0C8}
.freshSkin .mceNoIcons span.mceIcon {width:0;}
.freshSkin .mceNoIcons a .mceText {padding-left:10px}
.freshSkin .mceMenu table {background:#FFF}
.freshSkin .mceMenu a, .freshSkin .mceMenu span, .freshSkin .mceMenu {display:block}
.freshSkin .mceMenu td {height:20px}
.freshSkin .mceMenu a {position:relative;padding:3px 0 4px 0}
.freshSkin .mceMenu .mceText {position:relative; display:block; font-family:Tahoma,Verdana,Arial,Helvetica; color:#000; cursor:default; margin:0; padding:0 25px 0 25px; display:block}
.freshSkin .mceMenu span.mceText, .freshSkin .mceMenu .mcePreview {font-size:11px}
.freshSkin .mceMenu pre.mceText {font-family:Monospace}
.freshSkin .mceMenu .mceIcon {position:absolute; top:0; left:0; width:22px;}
.freshSkin .mceMenu .mceMenuItemEnabled a:hover, .freshSkin .mceMenu .mceMenuItemActive {background-color:#dbecf3}
.freshSkin td.mceMenuItemSeparator {background:#DDD; height:1px}
.freshSkin .mceMenuItemTitle a {border:0; background:#EEE; border-bottom:1px solid #DDD}
.freshSkin .mceMenuItemTitle span.mceText {color:#000; font-weight:bold; padding-left:4px}
.freshSkin .mceMenuItemDisabled .mceText {color:#888}
.freshSkin .mceMenuItemSelected .mceIcon {background:url(img/menu_check.gif)}
.freshSkin .mceNoIcons .mceMenuItemSelected a {background:url(img/menu_arrow.gif) no-repeat -6px center}
.freshSkin .mceMenu span.mceMenuLine {display:none}
.freshSkin .mceMenuItemSub a {background:url(img/menu_arrow.gif) no-repeat top right;}

/* Progress,Resize */
.freshSkin .mceBlocker {position:absolute; left:0; top:0; z-index:1000; opacity:0.5; -ms-filter:'alpha(opacity=50)'; filter:alpha(opacity=50); background:#FFF}
.freshSkin .mceProgress {position:absolute; left:0; top:0; z-index:1001; background:url(img/progress.gif) no-repeat; width:32px; height:32px; margin:-16px 0 0 -16px}

/* Formats */
.freshSkin .mce_formatPreview a {font-size:10px}
.freshSkin .mce_p span.mceText {}
.freshSkin .mce_address span.mceText {font-style:italic}
.freshSkin .mce_pre span.mceText {font-family:monospace}
.freshSkin .mce_h1 span.mceText {font-weight:bolder; font-size: 2em}
.freshSkin .mce_h2 span.mceText {font-weight:bolder; font-size: 1.5em}
.freshSkin .mce_h3 span.mceText {font-weight:bolder; font-size: 1.17em}
.freshSkin .mce_h4 span.mceText {font-weight:bolder; font-size: 1em}
.freshSkin .mce_h5 span.mceText {font-weight:bolder; font-size: .83em}
.freshSkin .mce_h6 span.mceText {font-weight:bolder; font-size: .75em}

/* Theme */
.freshSkin span.mce_bold {background-position:0 0}
.freshSkin span.mce_italic {background-position:-60px 0}
.freshSkin span.mce_underline {background-position:-140px 0}
.freshSkin span.mce_strikethrough {background-position:-120px 0}
.freshSkin span.mce_undo {background-position:-160px 0}
.freshSkin span.mce_redo {background-position:-100px 0}
.freshSkin span.mce_cleanup {background-position:-40px 0}
.freshSkin span.mce_bullist {background-position:-20px 0}
.freshSkin span.mce_numlist {background-position:-80px 0}
.freshSkin span.mce_justifyleft {background-position:-460px 0}
.freshSkin span.mce_justifyright {background-position:-480px 0}
.freshSkin span.mce_justifycenter {background-position:-420px 0}
.freshSkin span.mce_justifyfull {background-position:-440px 0}
.freshSkin span.mce_anchor {background-position:-200px 0}
.freshSkin span.mce_indent {background-position:-400px 0}
.freshSkin span.mce_outdent {background-position:-540px 0}
.freshSkin span.mce_link {background-position:-500px 0}
.freshSkin span.mce_unlink {background-position:-640px 0}
.freshSkin span.mce_sub {background-position:-600px 0}
.freshSkin span.mce_sup {background-position:-620px 0}
.freshSkin span.mce_removeformat {background-position:-580px 0}
.freshSkin span.mce_newdocument {background-position:-520px 0}
.freshSkin span.mce_image {background-position:-380px 0}
.freshSkin span.mce_help {background-position:-340px 0}
.freshSkin span.mce_code {background-position:-260px 0}
.freshSkin span.mce_hr {background-position:-360px 0}
.freshSkin span.mce_visualaid {background-position:-660px 0}
.freshSkin span.mce_charmap {background-position:-240px 0}
.freshSkin span.mce_paste {background-position:-560px 0}
.freshSkin span.mce_copy {background-position:-700px 0}
.freshSkin span.mce_cut {background-position:-680px 0}
.freshSkin span.mce_blockquote {background-position:-220px 0}
.freshSkin .mce_forecolor span.mceAction {background-position:-720px 0}
.freshSkin .mce_backcolor span.mceAction {background-position:-760px 0}
.freshSkin span.mce_forecolorpicker {background-position:-720px 0}
.freshSkin span.mce_backcolorpicker {background-position:-760px 0}

/* Plugins */
.freshSkin span.mce_advhr {background-position:-0px -20px}
.freshSkin span.mce_ltr {background-position:-20px -20px}
.freshSkin span.mce_rtl {background-position:-40px -20px}
.freshSkin span.mce_emotions {background-position:-60px -20px}
.freshSkin span.mce_fullpage {background-position:-80px -20px}
.freshSkin span.mce_fullscreen {background-position:-100px -20px}
.freshSkin span.mce_iespell {background-position:-120px -20px}
.freshSkin span.mce_insertdate {background-position:-140px -20px}
.freshSkin span.mce_inserttime {background-position:-160px -20px}
.freshSkin span.mce_absolute {background-position:-180px -20px}
.freshSkin span.mce_backward {background-position:-200px -20px}
.freshSkin span.mce_forward {background-position:-220px -20px}
.freshSkin span.mce_insert_layer {background-position:-240px -20px}
.freshSkin span.mce_insertlayer {background-position:-260px -20px}
.freshSkin span.mce_movebackward {background-position:-280px -20px}
.freshSkin span.mce_moveforward {background-position:-300px -20px}
.freshSkin span.mce_media {background-position:-320px -20px}
.freshSkin span.mce_nonbreaking {background-position:-340px -20px}
.freshSkin span.mce_pastetext {background-position:-360px -20px}
.freshSkin span.mce_pasteword {background-position:-380px -20px}
.freshSkin span.mce_selectall {background-position:-400px -20px}
.freshSkin span.mce_preview {background-position:-420px -20px}
.freshSkin span.mce_print {background-position:-440px -20px}
.freshSkin span.mce_cancel {background-position:-460px -20px}
.freshSkin span.mce_save {background-position:-480px -20px}
.freshSkin span.mce_replace {background-position:-500px -20px}
.freshSkin span.mce_search {background-position:-520px -20px}
.freshSkin span.mce_styleprops {background-position:-560px -20px}
.freshSkin span.mce_table {background-position:-580px -20px}
.freshSkin span.mce_cell_props {background-position:-600px -20px}
.freshSkin span.mce_delete_table {background-position:-620px -20px}
.freshSkin span.mce_delete_col {background-position:-640px -20px}
.freshSkin span.mce_delete_row {background-position:-660px -20px}
.freshSkin span.mce_col_after {background-position:-680px -20px}
.freshSkin span.mce_col_before {background-position:-700px -20px}
.freshSkin span.mce_row_after {background-position:-720px -20px}
.freshSkin span.mce_row_before {background-position:-740px -20px}
.freshSkin span.mce_merge_cells {background-position:-760px -20px}
.freshSkin span.mce_table_props {background-position:-980px -20px}
.freshSkin span.mce_row_props {background-position:-780px -20px}
.freshSkin span.mce_split_cells {background-position:-800px -20px}
.freshSkin span.mce_template {background-position:-820px -20px}
.freshSkin span.mce_visualchars {background-position:-840px -20px}
.freshSkin span.mce_abbr {background-position:-860px -20px}
.freshSkin span.mce_acronym {background-position:-880px -20px}
.freshSkin span.mce_attribs {background-position:-900px -20px}
.freshSkin span.mce_cite {background-position:-920px -20px}
.freshSkin span.mce_del {background-position:-940px -20px}
.freshSkin span.mce_ins {background-position:-960px -20px}
.freshSkin span.mce_pagebreak {background-position:0 -40px}
.freshSkin span.mce_restoredraft {background-position:-20px -40px}
.freshSkin span.mce_spellchecker {background-position:-540px -20px}
