@import "../../settings/settings";
@import "../variables";
.playing {
	.sm2-360ui .sm2-timing,
	.sm2-360ui .sm2-360btn:hover + .sm2-timing,
	.sm2-360ui.sm2_paused .sm2-timing {
		position: relative;
	 @include left(37px);
		font-size: 13px;
		color: $ivr-360ui-playing-text;
		top: -4px;
		visibility: visible;
	}
}
.welcome_message_type {
	border: 1px solid #DDD;
	background: #F7F7F7;
	@include border-radius(4px);
	padding: 4px 15px;
	.control-group { margin:0; }
}
.freshfone-ivr {
	.menu-label {
		margin-top: 8px;
	}
	.numbers_simple_message {
		margin-top: 21px;
	}
	.numbers_ivr_message {
		margin-top: 21px;
	}
	.simple_message_container {
		border: 1px solid #E2E2E2;
		background: #FAFAFA;
		padding: 15px;
		@include border-radius(4px);
		.select2-container { @include margin-left(0); }
	}
	.welcome_message {
		margin-top: -20px;
		.message-container { @include padding-left(125px); }
	}
	.settings-label {
		@include margin-right(15px);
		margin-bottom: 20px;
		font-weight: 600;
		width: 150px;
	}
	.form-header {
		@include margin-left(600px);
		position: absolute;
		top: 0;
		width: 200px;
		height: 30px;
		margin-top: 10px;
		z-index: 200;
	}
	.tabs > li > a {
		background-color: $ivr-tabs-background;
		font-size: 13px;
	}
	fieldset {
		background-color: $ivr-fieldset-background;
		border: 1px solid $ivr-fieldset-border;
		border-top: none;
		position:relative;
	}
	fieldset:first-child {
		border-top: 1px solid $ivr-menu-header-border;
		background-color: $ivr-menu-header-background;
		@include border-top-radius(6px);
		@include clear(both);
	}
	fieldset:last-child {
		background-color: $ivr-add-keypress-background;
		border-bottom-radius: 6px;
	}
	.ivr-menu {
		margin-bottom: 5px;
	}
	.delete-symbol {
		@include opacity(0.3);
		position: absolute;
		cursor: pointer;
		top: 17px;
	 @include left(12px);
		&:hover{
			@include opacity(0.8);
		}
	}
//	.custom-keypad-select2 a, .select2 a{
//		background-image: none;
//	}
	.badge {
		font-size: 16px;
		padding: 12px;
		@include border-radius(4px 0 0 0);
		margin: 0;
	}
	.menu-title {
		@include padding(10px 10px 10px 15px);
		display: inline-block;
		font-size: 14px;
		font-weight: 500;
		width: auto;
		border: none;
		@include margin-right(10px);
		text-overflow: ellipsis;
		@include box-shadow(none);
		@include border-radius(0);
		@include border-top-left-radius(4px);
		background-repeat: no-repeat;
		background-color: $ivr-menu-title-background;
		background-position: 7px 10px;
		&:focus {
	    border-color: $ivr-menu-title-focus-background;
	    outline: 0;
	    outline: thin dotted \9; /* IE6-9 */
	    @include box-shadow(#{inset 0 1px 1px $ivr-menu-title-focus-shadow, 0 0 5px $ivr-menu-title-focus-shadow1});
		}
		&.readonly:focus {
			@include box-shadow(none);
			border-color: none;
		}
		&:hover {
			background-color: $ivr-menu-title-hover;
		};
		&.readonly {
			cursor: default;
		}
	}
	.rename {
		@include opacity(0.8);
	}
	// message selector overrides starts
	.message_value_container {
		margin-bottom: 10px;
		display: inline-block;
		padding-top: 0;
		@include margin-left(5px);
	}
	.record_voice {
		@include margin-left(15px);
	}
	// message selector overrides ends
	.action-type {
		width: 150px;
	}
	.options-keypad {
		@include float(left);
		padding: 10px;
		background: none;
		border: none;
		@include margin-left(15px);
		// Keypad design starts
//		span {
//			display: inline-block;
//			border-radius: 4px;
//			padding: 5px 10px;
//			font-weight: bold;
//			color: #3F3F3F;
//			
//			@include margin-right(-2px);
//			margin-top: 1px;
//			border: 1px solid #E3E3E3;
//			background-color: #F6F6F6;
//			
//			width: 30px;
//			height: 30px;
//			@include box-sizing(border-box);
//
//		  &:hover {
//		    background:#ffffff;
//		    border-color:#888;
//		  }
//		}
//		.current, .current:hover{
//			cursor: default;
//			color:#FFF;
//			background-color: #444444; // Old browsers
//			@include filter-gradient(#444444, #888888, vertical); // IE6-9
//			@include background(linear-gradient(top, #444444 0%,#888888 100%));
//			border: 1px solid #000;
//			@include single-text-shadow(#333, -1px, -1px, 0);
//			@include box-shadow(#000 0 0 6px inset, #FFF 0px 1px 0px);
//		}
		//Keypad design ends
	}
	.message-container {
		margin-top: 20px;
		@include padding-right(10px);
	}
	.options-keypad-container {
		@include float(left);
		@include margin-left(0);
	}
	.performer-container {
		@include float(left);
		padding:10px;
		min-width: 500px;
	}
	.bold {
		font-weight: 600;
	}
	.keypad-label {
		@include margin-right(15px);
		margin-top: 5px;
	}
	.performer {
		@include float(left);
		margin-top: 5px;
		@include margin-right(10px);
		@include margin-left(20px)
	}
	.action_performer_container {
		@include margin-left(5px);
		width: 260px;
		@include box-sizing(border-box);
		height: 27px;
		margin-bottom: 0;
	}
	.close-btn, .turn-off-btn, .turn-on-btn {
		padding: 0 10px;
		cursor: pointer;
		margin-top: 10px;
	}
	.close-btn {
		@include float(right);
	}
	.add-new {
		padding: 12px;
		color: $ivr-add-new-text;
		border: 1px solid $ivr-add-new-border;
		border-top: none;
		cursor: pointer;
		background-color: $ivr-add-new-background;
		border-bottom-radius:6px;
		&:hover {
			color: $ivr-add-new-hover-text;
		};
	}
	.add_new_menu_from_option {
		@include margin-left(30px);
		display: inline-block;
		margin-top: 5px;
	}
	.voice-label {
		@include margin(4px 20px 5px 220px);
	}
	form {
		min-width:730px;
		@include clear(both);
	}
	// Add Symbol Starts
	.symbols-add {
		display: inline-block;
		position: static;
	}
	.icon-detail {
		padding: 0;
		@include padding-right(7px);
		vertical-align: top;
	}
	// Add Symbol ends
	.new-menu {
		margin-top:20px;
		border-top: 1px solid $ivr-new-menu-border;
		@include border-radius(6px);
	}
	.ivr-message {
		display: block;
		@include clear(both);
	}
	.activate_ivr {
		@include margin-right(5px);
	}
	.ivr-disabled-message, .ivr-enabled-message {
		vertical-align: middle;
		@include margin-left(5px);
	}
	.number_performer_input {
		@include margin-left(20px);
		width: 212px;
	}
	.number_performer {
		height: auto;		
	}
}
.select2-result-unselectable {
	cursor: default;
	.select2-result-label {
		cursor: default;
	}
	@include opacity(0.5);
}
.errorExplanation {
	clear:both;
}
.js_validation_error {
	font-size: 13px !important;
	border: 1px solid #efefef;
	background: #fefcea;
	display: none;
	padding: 8px 12px;
	width: 471px;
	color: #a90329;
	@include left(-423px);
	position: relative;
}