    <h3 class="title"><%=t('helpdesk.canned_responses.folders.helpnote.title')%></h3>
    <p><%=t('helpdesk.canned_responses.folders.helpnote.info1')%></p> 
    <p><%=t('helpdesk.canned_responses.folders.helpnote.info2')%></p> 
    <%= tour_button(t('helpdesk.canned_responses.folders.helpnote.tour'), '50094cc1e13a461bb1000059') %>