   
	<%@reports_list.each do |key,value|%>
	<%= link_to_remote (render :partial => "/reports/survey_reports/list_content", :locals => {:content => value,:is_list => true})  ,{:url => {:action =>'report_details', :entity_id =>value[:entity_id], :category=>value[:category]},:update => "report_list",:loading => "jQuery('#report_list').html('<div class=\"loading-box\"></div>');"}, {:class => "agent_report_list"}  %>	
  <%end%>
  
<%if @reports_list.blank?%>
	 <h1 style="font-size:18px;text-align:center;margin-top:50px;"> <%=t('.no_feedback')%> </h1>
<%end%>

<% javascript_tag do %>
jQuery("#date_range_title").html("<%=params['date_range']%>")
<%end%>