	  <ul class="table-list">
		  <%@reports_list.each do |key,value|%>
		   <li>
		   	<%		   		
		   		if params[:date_range].blank?
		   			link_url = survey_report_details_url(:entity_id => value[:entity_id], :category=> value[:category])
		   		else
		   			link_url = survey_report_details_url(:entity_id => value[:entity_id], 
		   				:category=> value[:category],:date_range => params[:date_range])
		   		end
		   	%>
			<%= link_to ((render :partial => "/reports/survey_reports/list_content", :locals => {:content => value,:is_list => true})  ,link_url, {:class => "agent_report_list"})  %>
			</li>	
		  <%end%>
	  </ul>
  
<%if @reports_list.blank?%>
	 <h1 style="font-size:18px;text-align:center;margin-top:50px;"> <%=t('.no_feedback')%> </h1>
<%end%>

<% javascript_tag do %>
	jQuery("#date_range_title").html("<%=params['date_range']%>")

	<%if @reports_list.blank?%>
			jQuery("#back_to_con").hide();
	<%end%>	

	
<%end%> 