<div>
	Hi <%= @account.admin_first_name %>, <br><br>
		<div>Your Account has been blocked due to high volume of traffic. If you feel your requests are genuine, please send an email to support@freshdesk.com with your account details.</div>
		<br><br>
	<div>Regards</div><br>
	<div>Freshdesk Support&nbsp;</div>
	<div><br></div>
</div>
