<div>
  <%= t('mailer_notifier.hi_user', user_name: @account.admin_first_name) %> <br><br>
    <div><%= t('mailer_notifier.subscriptions.admin_spam_watcher_blocked', support_email: "support@freshdesk.com") %></div>
    <br><br>
  <div><%= t('mailer_notifier.regards') %></div><br>
  <div><%= t('mailer_notifier.freshdesk_support') %>&nbsp;</div>
  <div><br></div>
</div>
