<div>
  <%= render layout: 'shared/email_header_footer.html.erb', locals: { user_name: @account.admin_first_name, sent_by: :freshdesk_team, other_recipients_note: true } do %>
    <%= t('mailer_notifier.subscriptions.account_cancel', support_email: @support_email).html_safe %>
  <br/>
  <% end %>
</div>
