<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
	<meta http-equiv='Content-Type' content='text/html; charset=UTF-8' />
	
	<title>Freshdesk Invoice</title>
	
</head>

<body style="font: 12px/1.4 Verdana, serif; background-color:#f4f4f4; padding: 20px; margin: 0; padding: 0;">

	<div style="width: 800px; margin: 0 auto; background-color:#ffffff; margin:0 auto; padding:0 20px 80px 20px; border:1px solid #dfdfdf;">

		<div style="height: 15px; width: 100%; margin: 20px 0 0 0; background: #036265; text-align: center; color: white; font-weight:bold; font-size:12px; text-decoration: uppercase; letter-spacing: 10px; padding: 8px 0px;">INVOICE</div>

  		<div style="float:left; border:1px solid #FFF;">
        <img src="https://s3.amazonaws.com/assets.freshdesk.com/images/logo.gif" width="246" height="60" />
        </div>
		
        <div style=" float:left; margin-left:50px; margin-top:70px;">
        <img src="https://s3.amazonaws.com/assets.freshdesk.com/images/paid.gif" width="172" height="80" /></div>
		<div id="identity">		
      <div style="width: 250px; height: 150px; float: right;">
        <table style="border-collapse: collapse; margin-top: 1px; width: 300px; float: right;">
          <tr>
            <td style="border: 1px solid #dfdfdf; padding: 5px; text-align: left; vertical-align:top; background: #f4f4f4; width:40%;">From</td>
            <td style="border: 1px solid #dfdfdf; padding: 5px; text-align: left; vertical-align:top;">
              <div><strong>Freshdesk Inc.</strong></div>
              <div>340 S Lemon Ave #7585</div>
              <div>Walnut CA 91789</div>
              <div>USA</div>
			  <div>Tax ID 33-1218825</div>
            </td>
          </tr>
        </table>              
      </div>

		</div>
		
		<div style="clear:both"></div>
		
		<div style="overflow: hidden;">
      <table style="border-collapse: collapse; float: left; margin-top: 1px; width: 300px; float: left;">
        <tr>
          <td style="border: 1px solid #dfdfdf; padding: 5px; text-align: left; vertical-align:top; background: #f4f4f4; width:40%;">Name</td>
          <td style="border: 1px solid #dfdfdf; padding: 5px; text-align: left; vertical-align:top;">
            <div><strong><strong><%=@subscription.account.account_admin.name%></strong></strong></div>
            </td>
        </tr>
		<%if @subscription.billing_address%>
		<tr>
		  <td style="border: 1px solid #dfdfdf; padding: 5px; text-align: left; vertical-align:top; background: #f4f4f4; width:40%;">Address</td>
		  <td style="border: 1px solid #dfdfdf; padding: 5px; text-align: left; vertical-align:top;">
              <div><%=@subscription.billing_address.humanize.gsub("\n","<br>")%></div>
            </td>	
		</tr>
		<%else%>
		<tr>
          <td style="border: 1px solid #dfdfdf; padding: 5px; text-align: left; vertical-align:top; background: #f4f4f4; width:40%;">Company Name</td>
          <td style="border: 1px solid #dfdfdf; padding: 5px; text-align: left; vertical-align:top;">
            <div><strong><strong><%=@subscription.account.name%></strong></strong></div>
          </td>
        </tr>
		<%end%>
      </table>
      <table style="border-collapse: collapse; margin-top: 1px; width: 300px; float: right;">
          <tr>
              <td style="border: 1px solid #dfdfdf; padding: 5px; text-align: left; vertical-align:top; background: #f4f4f4; width:40%;">Invoice #</td>
              <td style="border: 1px solid #dfdfdf; padding: 5px; text-align: left; vertical-align:top;">FD000<%=@subscription_payment.id%></td>
          </tr>
          <tr>
      
              <td style="border: 1px solid #dfdfdf; padding: 5px; text-align: left; vertical-align:top; background: #f4f4f4; width:40%;">Issue Date</td>
              <td style="border: 1px solid #dfdfdf; padding: 5px; text-align: left; vertical-align:top;"><div id="date"><%= Time.now.to_s(:short_day).strip %></div></td>
          </tr>
          <tr>
              <td style="border: 1px solid #dfdfdf; padding: 5px; text-align: left; vertical-align:top; background: #f4f4f4; width:40%;">Next Renewal</td>
              <td style="border: 1px solid #dfdfdf; padding: 5px; text-align: left; vertical-align:top;"><div style="background-position: left -165px;"><%= @subscription.next_renewal_at.to_s(:short_day).strip %> (Upon receipt)</div></td>
          </tr>
      </table>
    </div>

    <table style="border-collapse: collapse; clear: both; width: 100%; margin: 30px 0 0 0; border: 1px solid #dfdfdf;">		
		  <tr>
		      <th style="border: 1px solid #dfdfdf; padding: 5px; background: #f4f4f4; text-align:left;">Type</th>
		      <th style="border: 1px solid #dfdfdf; padding: 5px; background: #f4f4f4; text-align:left;">Description</th>
		      <th style="border: 1px solid #dfdfdf; padding: 5px; background: #f4f4f4; text-align:left;">No. of Paid Agents</th>
		      <th style="border: 1px solid #dfdfdf; padding: 5px; background: #f4f4f4; text-align:left;">Unit Price</th>
		      <th style="border: 1px solid #dfdfdf; padding: 5px; background: #f4f4f4; text-align:left;">Amount</th>
		  </tr>
		  
		  <tr style="border: 0; vertical-align: top; border-bottom: 1px solid #dfdfdf;">
		      <td style="border: 1px solid #dfdfdf; padding: 5px; border: 0; vertical-align: top; border-bottom: 1px solid #dfdfdf; width: 250px;">Freshdesk <%=SubscriptionPlan::BILLING_CYCLE_NAMES_BY_KEY[@subscription.renewal_period]%> Subscription Plan - <%=@subscription.subscription_plan.name%> (<%=@subscription.free_agents%> agent Free)</td>
		      <td style="border: 1px solid #dfdfdf; padding: 5px; border: 0; vertical-align: top; border-bottom: 1px solid #dfdfdf; width: 225px;"> </td>
		      <td style="border: 1px solid #dfdfdf; padding: 5px; border: 0; vertical-align: top; border-bottom: 1px solid #dfdfdf;"><div class="qty"><%=@subscription.paid_agents%></div></td>
		      <td style="border: 1px solid #dfdfdf; padding: 5px; border: 0; vertical-align: top; border-bottom: 1px solid #dfdfdf;"><div class="cost">$<%=(@subscription.amount/(@subscription.paid_agents * @subscription.renewal_period)).round.to_f%></div></td>
		      <td style="border: 1px solid #dfdfdf; padding: 5px; border: 0; vertical-align: top; border-bottom: 1px solid #dfdfdf;"><span class="price">$<%=@subscription.amount%></span></td>
		  </tr>
		  <tr>
		      <td style="border: 1px solid #dfdfdf; padding: 5px; border: 0;" colspan="2"> </td>
		      <td style="border: 1px solid #dfdfdf; padding: 5px; border-right: 0; text-align: right;" colspan="2">Subtotal</td>
		      <td style="border: 1px solid #dfdfdf; padding: 5px; border-left: 0; padding: 10px;"><div id="subtotal">$<%=@subscription.amount%></div></td>
		  </tr>
		</table> 
	</div>
</body>

</html>