<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
	<meta http-equiv='Content-Type' content='text/html; charset=UTF-8' />
	
	<title>Freshdesk Invoice</title>
	
</head>
<body style="font: 12px/1.4 Verdana, serif; padding: 20px; margin: 0; padding: 0;">
  <table cellpadding="0" cellspacing="10" border="0" style="background-color:#f3f8ef; margin:0 auto;  -webkit-border-radius: 5px;-moz-border-radius: 5px;-ms-border-radius: 5px;-o-border-radius: 5px;border-radius: 5px; width:100%; word-wrap: break-word;">
    <tr>
      <td>
        <table cellspacing="0" cellpadding="0" border="0" style="width:100%">
          <tr>
            <td style="width:40%">
              <font style="font-size:40px; color:#63a579; font-weight:bold;">
                <img src="https://s3.amazonaws.com/assets.freshdesk.com/images/#{Rails.env}/logo.png" width="170" height="50"  alt="Freshdesk"/>
              </font>
            </td>
            <td style="width:60%; text-align:right; color:#63a579">
                    <div>
                      <strong>Freshdesk&nbsp;Inc.</strong><br/>&nbsp;340&nbsp;S&nbsp;Lemon&nbsp;Ave&nbsp;#7585&nbsp;Walnut&nbsp;CA&nbsp;91789,&nbsp;USA
                    </div>
                    <div>Phone:&nbsp;+1&nbsp;877&nbsp;485&nbsp;0317,Tax&nbsp;ID:&nbsp;33-1218825</div>
            </td>
          </tr>
        </table>
      </td>
    </tr>
    <tr>
      <td style="background-color:#fff; width:100%; -webkit-border-radius: 5px;-moz-border-radius: 5px;-ms-border-radius: 5px;-o-border-radius: 5px;border-radius: 5px; " colspan="2">
        <table cellpadding="10" cellspacing="0" border="0" style="width:100%">
          <tr>
            <td>
             <table cellspacing="0" cellpadding="0" border="0" style="width:100%">
                <tr>
                  <td style="text-align:left; width:40%">
                    <table cellpadding="0" cellspacing="0" border="0" style="width:100%">
                      <tr>
                        <td style="vertical-align:top; width:20px;"> To:&nbsp; </td>
                        <td>
                          <strong><%=@subscription.account.account_admin.name%><br/></strong>
                          <%if @subscription.billing_address%>
                            <%=@subscription.billing_address.humanize.gsub("\n","<br>")%>
                          <%else%>
                            <strong><%=@subscription.account.name%></strong>
                          <%end%>
                        </td>
                      </tr>
                    </table>
                  </td>
                  <td style="width:25%; text-align:center">
                    <font style="font-size:20px; color:#9363dd; font-weight:bold;">
                      <img src="https://s3.amazonaws.com/assets.freshdesk.com/images/#{Rails.env}/due.png" width="90" height="50" alt="DUE"/>
                    </font>
                  </td>      
                  <td style="text-align:right;width:35%">
                    <table cellspacing="0" cellpadding="0" border="0"  style="width:100%">
                      <tr>
                        <td  style="width:50%">Due Date:</td>
                        <td  style="width:50%;text-align:left; padding-left:2px;"><%= Time.now.to_s(:short_day).strip %></td>
                      </tr>
                    </table>
                  </td>
                </tr>
              </table>
            </td>
          </tr>
          <tr>
            <td>
              <table cellspacing="0" cellpadding="0" border="0" style="width:100%">
                <tr>
                  <td>
                    <table cellspacing="0" cellpadding="0" border="0" style="width:100%">
                      <tr>
                        <td style="background-color:#f8f8f8; padding:5px; border-right: 1px solid #fff; margin-left:5px;">Item</td>
                        <td style="background-color:#f8f8f8; padding:5px; border-right: 1px solid #fff;">Subscription</td>
                        <td style="background-color:#f8f8f8; padding:5px; border-right: 1px solid #fff;">No. of Paid Agents</td>
                        <td style="background-color:#f8f8f8; padding:5px; border-right: 1px solid #fff;">Unit price</td>
                        <td style="background-color:#f8f8f8; padding:5px; margin-right:5px;">Amount</td>
                      </tr>
                      <tr>
                        <td style=" padding:5px;margin-left:5px;"><%=@subscription.subscription_plan.name%> (<%=@subscription.free_agents%> agent Free)</td>
                        <td style=" padding:5px;"><%= SubscriptionPlan::BILLING_CYCLE_NAMES_BY_KEY[@subscription.renewal_period] %></td>
                        <td style=" padding:5px;"><%=@subscription.paid_agents%></td>
                        <td style=" padding:5px;">$<%=(@subscription.amount/(@subscription.paid_agents * @subscription.renewal_period)) %></td>
                        <td style=" padding:5px;margin-right:5px;">$<%=@subscription.amount%></td>
                      </tr>
                    </table>
                    <table cellspacing="0" cellpadding="0" border="0" style="width:100%; border-top:5px solid #f8f8f8; margin-top:5px;">
                      <tr>
                        <td style=" padding:5px; vertical-align:top; color:#d0d0d0">All prices in USD</td>
                        <td style=" padding:5px; text-align:right;">
                          <table cellspacing="0" cellpadding="0" border="0" style="text-align:right; width:100%;">
                            <% if @subscription.discount %>
                            <tr>
                              <td style="padding:5px;text-align:right;">Subtotal: $<%=@subscription.amount%></td>
                            </tr>
                            <tr>
                              <td style="padding:5px;text-align:right;">Discount: $<%= @subscription.discount.amount%></td>
                            </tr>
                            <% end %>
                            <tr>
                              <td style="text-align:right; padding:5px; font-size:16px;"><b style="padding:5px;background-color:#fffecd;">Total: $<%=@subscription.amount%></b></td>
                            </tr>
                          </table>
                        </td>
                      </tr>
                    </table>
                  </td>
                </tr>
              </table>
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
</body>
</html>