Hi <%= @account.account_admin %>,

Welcome to <%= AppConfig['app_name'] %>! We are glad that you are evaluating <%= AppConfig['app_name'] %> for your customer support and we're here to help.
Your helpdesk is available at <%= @account.full_domain %>

To contact us, email <%= AppConfig['from_email'] %>

Vijay Shankar 
<%= AppConfig['app_name'] %> Customer Support
