<section id="admin-activation-container" class="activation-container content-form rounded-6 main">
  <h3 class="heading"><%= t("activations.activate_freshdesk_account") %></h3>
  <h2 class="lead"><%= t("activations.helpnote1") %></h2>
  <%= render partial: "form" %>
</section>