<% content_for :sidebar do -%><%-end %>
<h3 class="title">Sign in using twitter</h3>
<ul class="ui-form">
  <li class="inline-field">
	  <div class="admin_help_image">
      <%= get_img("twitter-admin-page.png", :help) %>
      <div class="content">
        <h2 class="title">Engage your customers, directly on twitter</h2>
        <p class="info-data">
          Associate a twitter account to <b> <%= product.name %> </b> and respond to your customers with a tweet or message from within Freshdesk.
        </p>
        <a href="<%= @wrapper.authorize_url %>" class="uiButton-active">Add twitter account</a>
      </div>
    </div>
  </li>
</ul>