<form action="/create_twicket">
  <ul class="ui-form">
      <% current_portal.ticket_fields.each do |field|
        unless params[:topic_id].nil? && !field.is_default_field?
          field_value = @ticket[field.field_name]
        end
        field_label = ( field.is_default_field? ) ? I18n.t("ticket_fields.fields.#{field.name}") : field.label
      %>
      <% unless field.dom_type == "requester" %>
        <%= construct_ticket_element :helpdesk_ticket, field, field_label, field.dom_type, field.required, field_value %>
      <% end %>
    <% end %>
  </ul>
  <div class="button-container">
    <input class="uiButton" type="submite" value="Create ticket" />
  </div>
</form>