<span class="seperator"></span>
<p>Sign in with the Twitter account for this helpdesk.</p>
<p>
  <a href="<%=@wrapper.authorize_url%>">
		<img height="24" width="151" src="http://si0.twimg.com/images/dev/buttons/sign-in-with-twitter-l.png" alt="Sign In Twitter">
	</a>
</p>