<% if @agents.blank? %>
  <option value="">No agents in selected group</option>
<% else %>
  <option>...</option>
  <% @agents.each do |agent| %>
	  <option value="<%=agent.user.id%>"><%=agent.user.name%></option>
  <% end %>
<% end %>