<div class="item">
<a href="javascript:void(0)" class="removefile attachment-close" onclick="jQuery(this).parent().remove(); return false;" ></a>
<a class="attachment-title" href="javascript:void(0)"> <%= filename %></a>
<input type="hidden" name="<%= name %>" value="<%= raw(value) %>" class="ca" />
</div>