<%= t(".execute_the_scenario", :rule_name => rule_name) %>
<%= link_to_function t(".view_details"), "jQuery('#scenario_actions_performed').slideDown(300); $(this).hide()" %>
<div class='list' id="scenario_actions_performed" style="display:none;">
  <h4 class='title'><%= t(".actions_performed") %></h4>
  <ul>
    <% actions_executed.each do |a| %>
      <%= content_tag :li, a %>
    <% end %>
  </ul> 
</div>