<% javascript_tag do %>
	jQuery(document).ready(function(){
		jQuery("#select_view_id").bind("change", function(ev){
			window.location = this.value;
		});
		jQuery("#assign-options-link").bind("click", function(ev){
			jQuery("#assign-options").show();
			jQuery(this).hide();
		});	
	});
<% end %>


| <%= filter_select %>
<!--
<div class="property_selector">
	<a href="javascript:void(0)">
		Select view
		<span class="drop"></span>
	</a>
	
	<div class="menu">
		<ul>
			<%= filter_list %>
		</ul>
	</div>
</div>
-->
 