<% content_for :onload_script do %>
		jQuery("#select_view_id").bind("change", function(ev){
			window.location = this.value;
		});
		jQuery("#assign-options-link").bind("click", function(ev){
			jQuery("#assign-options").show();
			jQuery(this).hide();
		});	
<% end %>
<div class="view_filters">
  <%= select_tag :custom_fitlers, options_for_select(@all_filters.map {|u| [u.name,u.id]}), { :class => "customSelect" } %>
  <% filter_select(current_selector_name) %>
  <a href="#" class="link-item">Tickets I’m Monitoring</a>
  <a href="#" class="link-item">Trash</a>
  <a href="#" class="link-item">Spam</a>
</div>