<% unless @current_view == "raised_by_me" %>
	<div id="new_view_flash" class="new-view-flash" style="display:none">
		<label class="center pt5">  
		  <%= I18n.t('wf.messages.new_view').html_safe %> 
		  <div class="cross pull-right"  id="new-view-flash-cross" style="margin-right:10px">
		    <a href="#"> <%= font_icon "cross", :size => 15 %> </a>
		  </div>
		</label>
	</div>
<% end %>


<script type="text/javascript">
  if (window.localStorage.getItem('hide-new-view-flash') == null)
  {
    jQuery("#new_view_flash").show();
  }
  jQuery("#new-view-flash-cross").live('click', function (e) {
    e.preventDefault();
    if (typeof (Storage) !== "undefined") {
		window.localStorage.setItem('hide-new-view-flash', "data");
	}
    jQuery("#new_view_flash").hide();
  });
</script>