<%= ticket_form.error_messages %>
<%= hidden_field_tag  :topic_id,  params[:topic_id] %> 
<% current_portal.ticket_fields.each do |field|
    if is_edit
      field_value = ((field.is_default_field?) ? @item[field.field_name] : @item.get_ff_value(field.name)) 
    end
    unless params[:topic_id].nil? && !field.is_default_field?
      field_value = @item[field.field_name]
    end
    field_label = ( field.is_default_field? ) ? I18n.t("ticket_fields.fields.#{field.name}") : field.label
  %>
  <%= construct_ticket_element :helpdesk_ticket, field, field_label, field.dom_type, field.required, field_value %>
<% end %>
<% javascript_tag do %>  
  jQuery('#helpdesk_ticket_group_id')
    .bind("change", function(e){
      jQuery('#helpdesk_ticket_responder_id')
              .html("<option value=''>...</option>");
      jQuery.ajax({
        type:        'POST',
        url: 		     '/helpdesk/tickets/get_agents/'+this.value,
        contentType: 'application/text',
        success:     function(data){
                        jQuery('#helpdesk_ticket_responder_id')
                          .html(data);
                     }
      });
    });
<% end %>