<%= ticket_form.error_messages %>
<% current_portal.ticket_fields.each do |field| 
    if is_edit
      field_value = ((field.is_default_field?) ? @ticket[field.field_name] : @item.get_ff_value(field.name)) 
    end %>
  <%= construct_ticket_element :helpdesk_ticket, field, field.label, field.dom_type, field.required, field_value %>
<% end %>
<% javascript_tag do %>  
  jQuery('#helpdesk_ticket_group_id')
    .bind("change", function(e){
      jQuery('#helpdesk_ticket_responder_id')
              .html("<option value=''>...</option>");
      jQuery.ajax({
        type:        'POST',
        url: 		     '/helpdesk/tickets/get_agents/'+this.value,
        contentType: 'application/text',
        success:     function(data){
                        jQuery('#helpdesk_ticket_responder_id')
                          .html(data);
                     }
      });
    });
<% end %>