<% content_for :layoutType do -%>single<%- end %>
<div class="header_area">
	<h3 class="title">Edit Ticket "<%= h(@item.subject) %> (#<%= h(@item.display_id) %>)" </h3>
</div>
<div class="page_area fixedWidth">
	<%= render :partial => "ticket_form", :locals => {:type => "edit"} %>
</div> 