<% content_for :sidebar do -%><%- end %>
<h3 class="title"><%=t('ticket.edit')%> <span class="info-data"> (#<%= h(@item.display_id) %>) </span></h3>
<%= render :partial => "ticket_form", :locals => {:type => "edit"} %>
 