<div id="Sidebar" class="sidepanel">
	<%= render :partial => "helpdesk/tickets/components/custom_filter", :locals => {:items => @items, :wf_filter => @items.wf_filter}%>
</div> 
<div id="ticket-list">
	<%= render :partial => "helpdesk/tickets/components/custom_results", :locals => {:items => @items}%> 
</div>