<% content_for :onload_script do %>
  $J('#rightCol').css("minHeight", $J('#leftcol').height());
	$J("#helpdesk-select-all").live("click", function(ev){
		$J("#tickets-expanded input[type=checkbox]").prop("checked", $J(this).prop("checked"));
	});	

  $J("#select_view_id").live("change", function(ev){
    window.location = this.value;
  });
  
  $J("#assign-options-link").live("click", function(ev){
    jQuery("#assign-options").show();
    jQuery(this).hide();
  });
<% end %>
<% content_for :layoutType do -%>ticket_list<%- end %>
<div class="containerFull">
  <div id="leftcol" class="ticket-leftcol" style="display:<%=(@current_view != "deleted" && @current_view != "spam" && @current_view != "monitored_by")?"block":"none"%>">
	  <div class="leftFilter">    
  	  <%= render :partial => "helpdesk/shared/filter_options", :locals => { :current_filter => @ticket_filter } %>
	  </div>
  </div>
  <div id="rightCol" class="contentCol <%="hasRightCol" unless (@current_view == "deleted" or @current_view == "spam" or @current_view == "monitored_by") %>">
	  <%= render :partial => "helpdesk/shared/ticket_view", :locals => { :items => @items } %>
  </div>
</div>