<div class ="alert-message block-message announcement" id = "site-announcements">
 	<p><%= announcement.message %></p>
	<%= link_to_remote("Hide this message", { :url => "/javascripts/hide_announcement.js" }, :class => "btn") %>
</div>