<% avatar_size = :thumb if local_assigns[:avatar_size].nil? %>

<div class="preview_pic">
	<%= image_tag (avatar) ? 
			avatar.expiring_url(avatar_size) : "/images/fillers/profile_blank.gif" %>
</div>