<div class="search_unit">		
	<div class="search_box">
		<input type="search" placeholder="Search…" results="5" name="q" class="search" autocomplete="off">
	</div>		
	<ul class="alpha_sort_list">
		<li class="active first"><a href="#">All</a></li>
		<li><a href="#">A</a></li>
		<li><a href="#">B</a></li>
		<li><a href="#">C</a></li>
		<li><a href="#">D</a></li>
		<li><a href="#">E</a></li>
		<li><a href="#">F</a></li>
		<li><a href="#">G</a></li>
		<li><a href="#">H</a></li>
		<li><a href="#">I</a></li>
		<li><a href="#">J</a></li>
		<li><a href="#">K</a></li>
		<li><a href="#">L</a></li>
		<li><a href="#">M</a></li>
		<li><a href="#">N</a></li>
		<li><a href="#">O</a></li>
		<li><a href="#">P</a></li>
		<li><a href="#">Q</a></li>
		<li><a href="#">R</a></li>
		<li><a href="#">S</a></li>
		<li><a href="#">T</a></li>
		<li><a href="#">U</a></li>
		<li><a href="#">V</a></li>
		<li><a href="#">W</a></li>
		<li><a href="#">X</a></li>
		<li><a href="#">Y</a></li>
		<li class="last"><a href="#">Z</a></li> 		
	</ul>
	
	<div id="search_unit">
		<span class="sbox_l"></span><span class="sbox"><input type="search" id="srch_fld" placeholder="Search..." autosave="applestyle_srch" results="5" onkeyup="applesearch.onChange('srch_fld','srch_clear')" /></span><span class="sbox_r" id="srch_clear"></span>
	</div>
</div>