<p style="float:right; margin-top:0"></p>
<div class="form-horizontal">
	<div class="control-group" id="forum_name">
		<label class="control-label">
			<%= t('name') %>
			<span class='required_star'>*</span>
		</label>
		<div class="controls"><%= form.text_field :name, :class => "primary required" %></div>
	</div>
	<div class="control-group" id="forum_descripion">
		<label class="control-label"><%= t('description') %></label><div class="controls">
			<%= form.text_area :description, :rows => 7 %>
		</div>
	</div>
</div>
 
