<p style="float:right; margin-top:0"></p>

<ul class="ui-form">
	<li id="forum_name">
		<label><%= 'Title'[:title_title] %></label>
		<div>
			<%= form.text_field :name, :class => "primary" %>
		</div>
	</li>	
	<li id="forum_descripion">
		<label><%= 'Description'[:description_title] %></label>
		<div>
			<%= form.text_area :description, :rows => 7 %>
		</div>
	</li>
</ul>
 
