<% javascript_tag do %>	
	jQuery(document).ready(function(dom){
		jQuery("#placeholder-list-1 a").click(function(ev){
			active_email_body.get(0).value += jQuery(this).text();
		});
		jQuery('#placeholder_close').click(function(){
			jQuery('#place-dialog')
					.slideToggle();	
		});
		jQuery('#place-dialog').draggable();
	});
<% end %>

<div class="placeholder-info" id="place-dialog" style="display:none;">		
  	<h2>Available placeholders</h2>
	<p>
	  Select the below placeholders to append to the email content and they will get converted into the appropriate data.
	</p>
	<b></b>
	<div id="placeholder-list-1" class="placeholder-list">
		<dl>
			<% ticket_placeholders.each do |ph| %>
				<dt><a href="javascript:void(0)"><%= ph[0] %></a></dt><dd><%= ph[1] %></dd>
			<% end %>
		</dl>	
	</div>
	<div class="button-container">
		<a href="javascript:void(0)" id="placeholder_close" class="fdbutton grey">Close</a>
	</div>
</div>
