
<%= javascript_include_tag :'cdn/placeholder' %>
<div class="placeholder-info" id="place-dialog">		
    <button type="button" class="close" id="placeholder_close"></button>
  	<h3 class="title"><%=t('automations.available_placeholders')%></h3>
	<div class="intro"><%=t('automations.info4')%>.</div>
	<div id="placeholder-list-1" class="placeholder-list">	
	    <%= render_placeholders(placeholders) %>
	</div> 
</div>
