<% form_for [@parent, @item], :html => { :id => "Edit_Note_#{@item.id}" } do |f| %>
	<ul class="ui-form">
		<li>
			<%= f.hidden_field :source , :value => Helpdesk::Note::SOURCE_KEYS_BY_TOKEN["note"]%>
			<%= f.text_area :body, { :class => 'required' } %>
		</li>
		<li class="button-container">
			<%= submit_tag(t("update"), :class => "uiButton small") %>
		</li>
	</ul>
<% end %>
<% javascript_tag do %>
	jQuery(document).ready(function(){
		jQuery("#Edit_Note_<%= @item.id %>")
			.validate();
	});
<% end %>