 <li>

  <% if local_assigns[:show_delete] %>
    <span class="delete">
      <%= link_to image_tag("helpdesk/delete.png"), helpdesk_attachment_path(attachment), :method => 'delete', :confirm => "You're about to permanently delete this attachment. Continue?" %>
    </span>
  <% end %>

  <span class="name">
    <%= link_to attachment.content_file_name, attachment %>
    <%= content_tag(:p, attachment.description) unless !attachment.description || attachment.description.empty? %>
  </span>

  <span class="size">
    <%= number_to_human_size attachment.content_file_size %>
  </span>
 </li>