<%
	text = "#{h(r.body)} #{(r.ticket && !parent ? link_to("Re: #{truncate(r.ticket.subject)}", r.ticket, :class => "request_link") : '')}";
	close_link = %{this.form.action = this.checked ? '#{check_url}' : '#{uncheck_url}';Element.down(this.form, "input[name=_method]").value = 'put'; this.form.submit();}
%>	
<tr>
	<td width="30px">
		<% form_for "", :html => { :method => :put } do |f| %>
			<%= check_box_tag("", 1, checked , :onclick => close_link) %>
		<%end%>
	</td>
	<td width="100%"> 
		<%= link_to (  t('delete'), helpdesk_reminder_path(r), :method => 'delete', :confirm => "Delete this reminder?", :class => "delete"  ) %>
		<%= content_tag("label", text, :class=>"reminder #{ checked ? "checked" : "unchecked" }") %>
	</td>
</tr>

