<div class="reminders rounded">
<h3 class="title"><%= local_assigns[:reminder_title] || "To-dos" %></h3>
<ul>
  <%reminders.visible.map do |r| 
   %>   
   <%= render :partial => "/helpdesk/shared/reminder_list", :locals => {:parent=>parent, :r =>r, :checked =>r.deleted, :check_url =>helpdesk_reminder_path(r), :check_method => :delete, :uncheck_url =>restore_helpdesk_reminder_path(r), :uncheck_method =>:put} %>
		
  <%end %> 
</ul>
<% form_for  Helpdesk::Reminder.new() do |f| %>
  <%= f.label :body, "New To-do" %>
  <%= f.text_field :body %>
<% end %>
</div>


