<% if @attachment_files.present? %>
  <%= t('mailer_notifier.attachment') %>
  <ul>
    <% @attachment_files.each do |a| %>
      <li> <a href="<%= a.inline_url %>"> <%= a.content_file_name %></a> </li>
    <% end %>
  </ul>
<% end %>
