<table class="tickets">	
  <tbody>
    <%= render :partial => "/helpdesk/shared/expanded/ticket", :collection => tickets %>
  </tbody>
</table> 
<%= will_paginate @items %>
<% javascript_tag do %>
jQuery(".ticket-description-tip").qtip({
	 position: { 
	      my: 'bottom left',
	      at: 'top  left',
	      viewport: jQuery(window) 
	 }, 
	 style : {
	 	classes: 'ui-tooltip-ticket ui-tooltip-rounded ui-tooltip-shadow'
	 },
	 show: {
	    solo: true,
	    delay: 200,
	    effect: function(offset) {
	        jQuery(this).show("fade", 240); // "this" refers to the tooltip
	    }
	 }
});  
<% end %>