<div class="leftFilter" id="all-views" style="min-height:44px">
  
</div>


<div id="ticket-sub-toolbar">
  <%= render :partial => "/helpdesk/shared/ticket_sort" unless @items.empty? %>
</div>

<div id="ticket-list-body"><div id="ticket-list-body-content">
	<div id="ticket-toolbar" class="toolbar">
	  <%= render :partial => "/helpdesk/shared/ticket_toolbar" %>
	</div>

	<div id="recent_ticket_count" class='more-tweets'>
	  1 new update
	</div>

	<% form_tag "", { :id => "tickets-expanded",  :method => :put } do %>
	  <div id="ticket-list" class="detailed_view">
	    <%= render :partial => "/helpdesk/shared/tickets" %>
	  </div>    
	<% end %>
</div></div>
<%= render :partial => "/helpdesk/shared/ticket_dynamic_menus" %>