<div class="ticket-expanded top">
    <div class="check"> <input type="checkbox" /> </div>
    <div class="left">
        <img src="images/email.png">
        <div class="negative">email</div>
        Oct 29
    </div>
    <div class="right">
        <div class="status updated">Updated</div>
        <div class="when">1 day ago</div>
        <div class="who">Assigned to <a href="">Alice</a></div>
    </div>
    <div class="center">
        <ul class="tags">
            <li><a href="">tag 1</li></a>
            <li><a href="">tag 2</li></a>
            <li><a href="">tag 3</li></a>
        </ul>
        <h3><%= h(ticket_expanded.name) %></h3>
        <%= h(ticket_expanded.description) %>
    </div>
</div>

<div class="clear"></div>

