{% for category in portal.forum_categories %}
	<h1 class="page-title">{{category.name}}</h1>	
	<p class="help-block">{{category.description}}</p>
	{% for forum in category.forums %}
		{% cycle '<div class="forum-category row-fluid">', '' %}
			<div class="forum-group span6">
				<h4>{{ forum.name }} <span class="label label-info">{{ forum.topics.size }} topics</span> </h4>
				<p class="help-block">{{ forum.description }}</p>				
			</div>			
		{% cycle '', '</div>' %}
	{% endfor %}
{% endfor %}