<% form_for :survey_handle,
    :url  => support_survey_feedback_path(@survey_handle.id_token, @rating), :html => { :method => :post } do |f| -%>

	<div style="margin-left:15px;font-weight:bold;"><%=t('.thanks_info')%></div>
	<div class="button-container">
		<div class="floatl">
			*&nbsp;<%=t('.feedback_optional')%>
			<%= text_area(:survey, :feedback, :class => "text" ) %>
			<%= f.submit t('.send'), :class => "uiButton" %>
	</div>
<% end %>