<% if (articles.size == 0) %>
	<span class="no_info_text">No search results found for '<%= key %>'</span>
	<span class="seperator"></span>	
<% else %>
	<h3 class="sub_title">Search results for <span class="match">'<%= key %>'</span></h3>
	<ul class="results">
		<li class="solution_icon">
			<% articles.each do |article| %>
	 		<div class="group">
				<%= link_to(article.excerpts.title, support_article_path(article), :class => "big") %>
				<p>"<%= article.excerpts.description %>"</p>
			</div>
			<% end %>
		</li>
	</ul>
<% end %>
