<% content_for :layoutType do -%>single<%- end %> 
	<div class="live_search">
		<h3 class="title">Start typing a question and see answers in real time</h3>			
		<label class="overlabel" for="ssp_search">Search using a keyword or a full question</label>
		<input type="text" class="search" id="ssp_search"  />			
	</div>		
	<span class="seperator"></span>
	<div id="search_results" style="display:none;"></div>
	<div class="two_col_cont">
		<div class="left_col">
			<h3 class="title">Get Answers</h3>
			<div class="ssp_category_list">	
				<% @categories.each do |category| %>
				<div class="<%= cycle('odd', 'even') %>"> 
					<%= link_to category.name + " &raquo;", category %>
					<%= content_tag (:span, category.description) %> 
				</div> 
				<% end %>
			</div>
		</div>
		<div class="right_col">
			<h3 class="title">Recent Forum Posts</h3>
			<ul class="list_with_icon"> 
				 <li>
				 	<a href="#">Can we Sync our Outlook Calendar with Backpack Calendar? </a>
					<div class="info_data">9 replies, latest by Capnet Admin on Mar 15, 2011 5:43 AM </div>
				 </li>
			</ul>
		</div>
	</div> 
<script type="text/javascript">
	jQuery(document).ready(function(){
		jQuery("ul.ssp_category_list a").live("click", function(ev){		
			ev.preventDefault();	
			jQuery("#InnerDIV").empty();
			jQuery("#RightDiv").addClass('ajax-loader');
			jQuery.ajax({ url: this.href, 
						  success: function(data){
										jQuery("#RightDiv")
											.html(data)
											.removeClass('ajax-loader');
										jQuery("#InnerDIV").show("slide", 500);
							       }});
			
					
			jQuery("ul.ssp_category_list a.active").removeClass('active');
			jQuery(this).addClass('active');				
		});
		
		jQuery("#dialog_close").live("click",function(ev){
				var $marginLefty = jQuery('#solution_dialog');
				jQuery('body').css({'overflow':'auto'});	
				$marginLefty.animate({width: '0px'}, 500, function(){
						jQuery('#solution_dialog_outer').fadeOut(100);
				});			
		});	
		
		jQuery('.right_col a').live('click', function(ev){
			ev.preventDefault();			
			link_url = this.href;
			jQuery('#solution_dialog').empty().addClass("ajax-loader");
			jQuery('#solution_dialog_outer').fadeIn(100, function(){
					var $marginLefty = jQuery('#solution_dialog');
					$marginLefty.animate({width: "80%"}, 80, function(){
						jQuery('body').css({'overflow':'hidden'});			
						jQuery.ajax({ url: link_url, 
								success: function(data){
										jQuery("#solution_dialog")
											.html(data)
											.removeClass('ajax-loader');
							       }});					
					});
				});	
		});
		
		jQuery('.screen').bind("click", function(ev){
			var $marginLefty = jQuery('#solution_dialog');
				jQuery('body').css({'overflow':'auto'});		
				$marginLefty.animate({width: '0px'}, 400, function(){
						jQuery('#solution_dialog_outer').fadeOut(80);								
				});					
		});
		
		var delay = (function(){
		  var timer = 0;
		  return function(callback, ms){
		    clearTimeout (timer);
		    timer = setTimeout(callback, ms);
		  };
		})();
		
		callbackToSearch = function(string){
			jQuery.ajax({ url: "/home/search_solution?search_key="+string, 
							  success: function(data){
							  			jQuery("#search_results").show();
										jQuery("#search_results")
											.html(data);
						}});
		}
		
		jQuery("#ssp_search").bind("keyup", function(ev){
			searchString = this.value;
			if(searchString.length > 2){
				delay(function(){
			      callbackToSearch(searchString);
			    }, 300 );
					
			}else if(searchString == ''){
				jQuery("#search_results").hide();				
			}
		});
		
	});
</script>

<%- content_for :dialogs do -%>
	<div class="tr_wrap" id="solution_dialog_outer" style="display:none;">
		<div class="screen"></div>
		<div class="tr_dialog ajax-loader" id="solution_dialog" style="width:0px;">
			<!--% render :partial => 'solution_article', :locals => { :article => firstArticle } %-->			
		</div>
	</div>	
<%- end -%>