<h1 class="page-title">Help center</h2>
<p class="lead">
	Start typing a question and see answers in real time
</p>
{{ search_portal }}
<hr />
<h2>Solutions</h2>
{% for category in portal.solution_categories %}
	<h3>{{category.name}}</h4>				
	<p>{{category.description | truncate}}</p>
	<div class="row-fluid">
		{% for folder in category.folders %}
			<div class="span6">
				<h4>{{folder.name}}</h4>
			</div>
		{% endfor %}
	</div>
{% endfor %}		
<hr />
{% comment %}
<% if feature?(:forums) && allowed_in_portal?(:open_forums) %>
	<% unless @topics.empty? %> 
		<%= content_tag( :h4, t('recent_forum_posts') ) %>  
		<% @topics.each do |topic|  %>
			<%= link_to topic.title, category_forum_topic_path(topic.forum.forum_category_id, topic.forum_id, topic.id) %> 
			<p> by <%= topic.posts.last.user.name %> on <%= formated_date(topic.replied_at) %> </p>
		<% end %> 				
	<% end %>
<% end %>
{% endcomment %}