<% content_for :layoutType do -%>single<%- end %>
  
<div class="pageContent">
	<div class="information_tip">	
		<div class="floatr white_curved_cont">
			<%= link_to image_tag("/images/add.png") + "Submit a Ticket", "support/tickets/new", :class => "fdbutton"  %> 
			or 
			<%= link_to "Check your ticket status", "helpdesk/dashboard", :class => "button" %> 
		</div>	
		<div class="search">
			<label>Start typing a question and see answers in real time</label>			
			<label class="overlabel" for="ssp_search">Search for a keyword or a full question</label>
			<input type="text" class="search" id="ssp_search"  />			
		</div>		
		<div id="search_results" class="search_results" style="display:none;"></div>
	</div>
	
	<div class="information_tip two_col_cont">
		<div class="left_col">
			<h3 class="title">&nbsp;&nbsp;Solutions</h3>
			<ul class="ssp_category_list">
				<% firstCategory = @categories.find(:first) %>
				<% @categories.each do |category| %>
				<li>
					
					 <!--%= link_to_remote( h(folder.name),
                         :update => "RightDiv",
                         :url =>{ :action => :get_folders , :id => folder.id},
						 :html => { :class => (firstFolder == folder) ? "active":"" }
						) %-->
						 
					<%= link_to h(category.name), 
							{ :action => :get_categories, :id => category.id }, :class => (firstCategory == category) ? "active":""  %>				
				</li>
				<%end%>
			</ul>				
			
			<div class="community_forums white_curved_cont">				
				<h3 class="title">Community Forums</h3>	
				<p>
					Ask questions, share ideas, report problems and get answers from <a href="#">our community forums</a>
				</p>
			</div>	
		</div>
		
		<div class="right_col white_curved_cont" id="RightDiv">			
			<%= render :partial => 'solution_toc', :locals => { :category => @categories.first } %>
		</div>
	</div>
</div>

<script type="text/javascript">
	jQuery(document).ready(function(){
		jQuery("ul.ssp_category_list a").live("click", function(ev){		
			ev.preventDefault();	
			jQuery("#InnerDIV").empty();
			jQuery("#RightDiv").addClass('ajax-loader');
			jQuery.ajax({ url: this.href, 
						  success: function(data){
										jQuery("#RightDiv")
											.html(data)
											.removeClass('ajax-loader');
										jQuery("#InnerDIV").show("slide", 500);
							       }});
			
					
			jQuery("ul.ssp_category_list a.active").removeClass('active');
			jQuery(this).addClass('active');				
		});
		
		jQuery("#dialog_close").live("click",function(ev){
				var $marginLefty = jQuery('#solution_dialog');
				jQuery('body').css({'overflow':'auto'});	
				$marginLefty.animate({width: '0px'}, 500, function(){
						jQuery('#solution_dialog_outer').fadeOut(100);
				});			
		});	
		
		jQuery('.right_col a').live('click', function(ev){
			ev.preventDefault();			
			link_url = this.href;
			jQuery('#solution_dialog').empty().addClass("ajax-loader");
			jQuery('#solution_dialog_outer').fadeIn(100, function(){
					var $marginLefty = jQuery('#solution_dialog');
					$marginLefty.animate({width: "80%"}, 80, function(){
						jQuery('body').css({'overflow':'hidden'});			
						jQuery.ajax({ url: link_url, 
								success: function(data){
										jQuery("#solution_dialog")
											.html(data)
											.removeClass('ajax-loader');
							       }});					
					});
				});	
		});
		
		jQuery('.screen').bind("click", function(ev){
			var $marginLefty = jQuery('#solution_dialog');
				jQuery('body').css({'overflow':'auto'});		
				$marginLefty.animate({width: '0px'}, 300, function(){
						jQuery('#solution_dialog_outer').fadeOut(80);								
				});					
		});
		
		jQuery("#ssp_search").bind("keyup", function(ev){
			searchString = this.value;
			if(searchString.length > 2){
				jQuery.ajax({ url: "/home/search_solution?search_key="+searchString, 
							  success: function(data){
							  			jQuery("#search_results").show();
										jQuery("#search_results")
											.html(data);
							       }});	
			}else if(searchString == ''){
				jQuery("#search_results").hide();				
			}
		})
		
	});
</script>

<%- content_for :dialogs do -%>
	<div class="tr_wrap" id="solution_dialog_outer" style="display:none;">
		<div class="screen"></div>
		<div class="tr_dialog ajax-loader" id="solution_dialog" style="width:0px;">
			<!--% render :partial => 'solution_article', :locals => { :article => firstArticle } %-->			
		</div>
	</div>	
<%- end -%>