<div class="solutions-widget-header">
  <%= font_icon('file', :size => 18, :class => 'pr9') %>
  <div class="sidebar-dropdown">
    <h5 class="dropdown-toggle normal-text">
      <span class="widget-filter drafts-filter-title">
        <%= t('solution.sidebar.drafts.all') %>
      </span>
    </h5>
  </div>
  <span class="lead lead-small">
    <%=t('solution.sidebar.drafts.title').html_safe%>
  </span>
</div>
<div class="tab-content">
  <%= sidebar_drafts_list(@drafts,'drafts-all','active') %>
</div>