<% if @drafts %>
<% title = params[:scope] ? "All Drafts" : "My Drafts" %>
<div class="sidebar-dropdown">
        <ul role="tablist">
          <li class="dropdown">
            <h5 class="conv-title conv-menu dropdown-toggle" data-toggle="dropdown">
              <span class="sub-info"><%= title %></span>
              <span class="caret"></span>
            </h5>
            <ul class="dropdown-menu tick" role="menu" aria-labelledby="dropdownMenu" style="display: none;">
            <li>
              <a class="item" data-hash-url="false" data-toggle="tab" id="drafts-me" ul_class="tick">
              My Drafts
              </a>
            </li>
          <li class="">
          <a class="item" data-hash-url="false" data-toggle="tab" id="drafts-all" ul_class="tick">
              All Drafts
            </a>
            </li>
        </ul>
          </li>
        </ul>
      </div>
      <span class="lead">Drafts</span>

    <ul class="a-list">
    <% @drafts.first(3).each do |a| %>
      <li class="a-item">
         <div>
            <span>
              <%= pjax_link_to(a.title,
                              solution_category_folder_article_path(a.folder.category,a.folder,a),
                              { :class => "a-title"}) %>
            </span> 
            <p class="muted a-desc"> <%= "Edited by #{a.user.name}, #{time_ago_in_words(a.modified_at)}" %> </p>
          </div>
      </li>
    <% end %>
  <% if @drafts.size > 3 %>
    <% view_all = params[:scope] ? solution_drafts_path : 
                  solution_my_drafts_path('all') %>
    <li class="a-item">
      <%= pjax_link_to "View all",view_all %>
    </li>
  <% end %>
  </ul>
</div>
<% end %>