<div class="list-query-panel">
	<ul>
		<li class="lf-item">
			<% if privilege?(:manage_solutions) %>
				<div class="item-checkbox"><input type="checkbox" id="topic-select-all" /></div>
			<% end %>
		</li>
		<li class="lf-item lf-btns faded" id="folder-bulk-action-btn">
			<span>
				<a class="drop-right nav-trigger btn" href="#" menuid="#move_to"><%= t('solution.folders.move_to') %></a>
				<div class="fd-menu" id="move_to"></div>
			</span>
			<span>
				<a class="drop-right nav-trigger btn" href="#" menuid="#visible_to"><%= t('solution.folders.folder_form.visible_to') %></a>
				<div class="fd-menu" id="visibe_to"></div>
			</span>
		</li>
	</ul>
</div>
