<div class="pageContent">
	<h3 class="content_title">Edit Category</h3>
	<% form_for (@category), :html => {:multipart => true, :id => "folder-form"} do |f| %>
	<%= render :partial => "category_form" , :locals => { :f => f }%>
	
	<div class="button-container">
	    <%= submit_tag "Save", :class => "fdbutton submit" %>	   
		<%= link_to('Cancel'[:cancel], solution_categories_url, :class => "fdbutton grey" ) %>
	</div>
	
	<% end %>
</div>