<% content_for :layoutType do %>community solutions<% end %>
<% content_for :sidebar do -%>&nbsp;<%-end %>
<h3 class="title"><%=t('solution_category.edit')%> <span class="info_data">"<%=h(@category.name)%>"</span> </h3>
<%= form_for (@category), :html => {:multipart => true, :id => "folder-form", :class => "validate_form"} do |f| %>
	<%= render :partial => "category_form" , :locals => { :f => f }%>
<% end %>
