<% content_for :layoutType do%>single<% end %>  
<div>
	<div class="header_area">
		<div class="right_panel" >
	  		<%= link_to "<img src='/images/add.png'> Add Category", new_solution_category_path, :class => "fdbutton" %>
		</div>
		<strong class="page_title">Solutions</strong>
	</div>	  
	<div class="page_area">			
			<% @categories.each do |category| %>
			<div class="sol_list">
				<strong><%= link_to h(category.name), category %></strong>
				<div>
					<%= category.description %>
				</div>	
				<span class="seperator"></span>
			</div>
			<%end%>
	</div>
</div>