<div class="pageContent">
	<h3 class="content_title">New Category</h3>
	<% form_for (@category), :html => {:multipart => true, :id => "folder-form"} do |f| %>
	<%= render :partial => "category_form" , :locals => { :f => f }%>
	<% end %>
</div>