<tr class="<%= cycle('stripe', '') %>">
  <td class="check">
    <%= check_box_tag('ids[]', article.to_param,  false, :class => 'selector') %>
  </td>
  <td class="article">
    <h3>
      <%= link_to(h(article.title), edit_helpdesk_article_path(article)) %>
    </h3>
  </td>
  
</tr>
