<div class="row">
	<div class="span8">
		<div class="page-header">
			<%# link_to('Add a new plan', new_admin_subscription_plan_path, :class => "btn btn-success pull-right") %>
			<h2><%= @page_title = 'Plans' %></h2>
		</div>

		<table id="plans" class="table table-bordered">
		  <tr>
		    <th>Name</th>
		    <th>Amount</th>          
				<th>Revenue per month</th>
		  </tr>
		  <% @subscription_plans.each do |plan| %>
		    <tr>
		      <td><%#= link_to(h(plan.name), edit_admin_subscription_plan_path(plan)) %> <%= plan.name %></td>
		      <td><%= number_to_currency(plan.amount) %></td>  
					<td><%= plan.revenues.map {|r| "#{r[0].capitalize}: #{number_to_currency(r[1])}" }.join(' / ') %></td>
		    </tr>
		  <% end %>
		</table>
	</div>
</div>