<%installed_campaign_apps.each do |iapp| %>   
	<div class='sidepanel'>             
		<h3 class='app-title'> <%= Integrations::Constants::APP_NAMES[iapp] %> </h3>    
		<a class='view-detail' onclick="displayAsModal('<%= "#{Integrations::Constants::APP_NAMES[iapp]}" %>')" href='#'> View Campaign Details </a>
	</div>
<% end %>

<% if installed_campaign_apps.present? %>
	<%= javascript_tag do %>
		displayAsModal = function(app) {
			var contact_title = "<%= contact.name %>";
			jQuery('#' + app + '_widget .parent-tmpl, #' + app + '_widget .email_marketing').removeClass('hide');

			var data = {
                targetId: '#' + app.toLowerCase() + '_widget',
                title: contact_title,
                width: "400",
                templateFooter: false,
                destroyOnClose: true
            }

            jQuery.freshdialog(data);
		}
	<% end %>
<% end %>
