<div class="google-signup-content">
	<div class="tab-content">
	  <div class="tab-pane active" id="new-account">
			<div class="ui-form" id="signup-form">
				<%= t('integrations.marketplace_login.error.' + error_type).html_safe %>
			</div>
		</div>
	</div>
</div>
