<div class="top_banner">
	<div class="top-banner-content">
		<img src="/images/misc/freshdesklogo.png" alt="Freshdesk" width="204px" height="50px"/>
		<span class="marketplace-link">
			<%= t('integrations.marketplace_login.admin_credentials.link_your_helpdesk') %>
		</span>
	</div>
</div>
