<% subscription = Account.current.subscription %>
<% fd_fs_bundle = subscription.account.fetch_fd_fs_banner_details %>
<% if subscription.trial? && fd_fs_bundle.present? && ['integrate', 'new'].include?(fd_fs_bundle[:state]) %>
      <div class="fdfs-bundle">
        <div class="pull-left span8 m0">
          <p class="fdfs-info-title"> <%= t('freshdesk_freshsales_bundle.discount_text_3') %> </p>
          <% if fd_fs_bundle[:state] =='new' %>
            <a role="button" data-attr = false class="btn btn-primary try-freshsales" href="#"> 
              <%= t('freshdesk_freshsales_bundle.try_freshsales') %>
            </a>
            <%else%>
             <a href="https://support.freshdesk.com/support/solutions/articles/50000003048-how-to-integrate-freshworks-crm-with-freshdesk" target="_blank" role="button" class="btn btn-primary integrate-freshsales" href="#"> 
                <%= t('freshdesk_freshsales_bundle.integrate_freshsales') %>
              </a>
          <%end%>
        </div>
        <div class="pull-right">
            <img  class="features__icon" src="/images/misc/contact-fdfwcrm-bundle.svg">
        </div>
      </div>
  <% end %>