<div class="sidepanel wordwrap">
	<h3 class="title"><%=t('contact_field.helpcard.title2')%></h3>
	<p><%= t('contact_field.helpcard.info2') %></p>
	<p><%= t('contact_field.helpcard.info3') %></p> 
</div>