<%
	var tableTrClass = function (i) {
		if (i % 2 == 0) { 
			return 'even'; 
		} else{ 
			return 'odd';
		}
	};
	
	var agentTdTmpl = function (data, i, j, agent_metrics) {
		var metric_data, td_class;
		var current_data = data[i][agent_metrics[j]];
		if (consts.percentage_metrics.indexOf(agent_metrics[j]) > -1) {
			metric_data = HelpdeskReports.CoreUtil.addsuffix(current_data);
			td_class = (typeof current_data !== 'number') ? 'disable' : ( HelpdeskReports.locals.enable_ticket_list ? '' : 'disable'  );
		} else if (consts.time_metrics.indexOf(agent_metrics[j]) > -1) { 
			metric_data = HelpdeskReports.CoreUtil.timeMetricConversion(current_data);
			td_class = 'disable'; //Always disabling
		} else { 
			metric_data = HelpdeskReports.CoreUtil.shortenLargeNumber(current_data, 1);
			td_class = (typeof current_data !== 'number') ? 'disable' : ( HelpdeskReports.locals.enable_ticket_list ? '' : 'disable'  );
		}

		var tmpl =  "<td data-agent-id=" + data[i]['agent_id'] + " class='" + td_class + "' data-metric-name=" + agent_metrics[j];
		tmpl += " data-order = '" + current_data + "'";
		tmpl += ">" + metric_data + "</td>";

		return tmpl;
	};

	var consts = jQuery.extend({}, HelpdeskReports.Constants.AgentSummary);
	var agent_metrics = consts.metrics;
%>

<%if (data && data.length>0) { %>
	<% for (var i = 0; i < data.length; i++) { %>
		<tr class="<%= tableTrClass(i) %>" >
			<td data-agent-id="<%= data[i]['agent_id'] %>" class = "disable agent" ><%= data[i]['agent_name'] %></td>
			<% for (var j = 0; j < agent_metrics.length; j++) { %>
				<% var summary_tmpl = agentTdTmpl(data, i, j, agent_metrics); %>
					<%= summary_tmpl%>
			<% } %> 
		</tr>
	<% } %>
<% } %>