<% for (var i in data) { %>
	<% if (HelpdeskReports.CoreUtil.disabled_filter.indexOf(data[i].condition) < 0) { %>
    	<li data-position='<%= data[i].position %>' data-action='pop-field' data-menu='<%= data[i].condition %>'> <%= escapeHtml(data[i].name) %> </li>
    <% } %>
<% } %>