<div class="no-outliers">
    <img src="/assets/empty_insights.png" alt="" width="150" />
    <div class="message">Hooray!</div>
    <div class="help-text"><%= I18n.t('helpdesk_reports.insights.no_insights') %></div>
    <a href="https://support.freshdesk.com/support/solutions/articles/227836-insights/" target="_blank" class="inm_tour_button"><i class="ficon ficon-solution_article"></i><%= I18n.t('helpdesk_reports.insights.help') %></a>
</div>