<div class="message_container">
  <div class="no-data-section  text-center">
    <i class="ficon-no-data-graph"></i>
    <% if (error.code == 551) { %>
      <h4 class="text-center"> <%= I18n.t('helpdesk_reports.something_went_wrong_msg') %> </h4>
    <% } else {%>
      <h4 class="text-center"> <%= I18n.t('helpdesk_reports.no_data_to_display_msg') %> </h4>
    <% } %>
  </div>
</div>