<% if (HelpdeskReports.Constants.Glance.percentage_metrics.indexOf(HelpdeskReports.locals.active_metric) > -1) { %>
	<div class="view-all-tickets compliant" data-ticket="view_all" data-sla="false">
		View all compliant tickets
	</div>

	<div class="view-all-tickets violated" data-ticket="view_all" data-sla="true">
		View all violated tickets
	</div>	
<% } else { %>
	<div class="view-all-tickets compliant" data-ticket="view_all">
		View all tickets
	</div>
<% } %>
