<style>
  <%= render :file => "mailer/css/mailer.css" %>
</style>

<div class="body">
  <div class="mail_content">
    <b>Added as topic follower</b>
  </div>
  <div class="forum_content">
    <div class="actual_content">
      You have been added as a follower by <%= @user.name %> to this topic.
      <br/><br/>
          <div class="forum-title">
            <%= link_to @topic.title, discussions_topic_url(@topic.id, :host => @portal.host) %> <br/>
          </div>
          <div class="profile_img">
            <img src="<%= profile_image_user_url(@user.id, :host => @portal.host)%>" width="30" height="30" />
          </div>
          <div class="user_identity">
            <b class="user_name"><%= @topic.first_post.user.name %></b><br />
          </div>
          <br />
          <div class="actual_content">
            <%= @topic.first_post.body_html.html_safe %>
          </div>
    </div>
    <br>
  </div>
  <div class="unsubscribe">
    <%= link_to 'Stop following this topic',toggle_monitorship_url(:object => "topic", 
                      :id => @topic.id, :type=>"unfollow", :host=> @portal.host) %>
  <br/><br/>
  </div>
  <br><br>
</div>