<label class="control-label">
	<%= is_default ? I18n.t("#{type}_import.#{value}") : key %>
</label>

<div class="controls">
	<div>
		<%
			extra_classes = "table_header select2 span4 "
			extra_classes << "required " if (type.eql?("company") && key == "Company name")
		%>

		<%= select nil, "fields[#{value}]", options_for_select(to_hash(@rows.first)), {:include_blank => "-"}, 
			{:class => extra_classes } %>
		
	</div>
	<%= content_tag(:span, "", 
		:title => t("customer_import.sample_data") ,
		:class => "sample_value_#{value} italics muted tooltip sample_values ellipsis")%>
</div>


