<h3 class="title"><%=t('marketplace.apps')%></h3>
<div class="intro"><%=t('marketplace.app_description')%></div>

<!-- TODO: This needs to be updated with proper CSS -->
 <iframe src="<%= @gallery_iframe_url %>" height="450" width="100%" iframeBorder="0" sandbox="allow-scripts allow-top-navigation allow-popups allow-modals allow-same-origin allow-forms"> </iframe>
