/* Theme Colors and layout Defaults */
/* Bullet icon */
/* Priority Color Codes */
/* Sprite variables used inside the sheet */
/* 
  html5doctor.com Reset Stylesheet (Eric Meyer's Reset Reloaded + HTML5 baseline)
  v1.4 2009-07-27 | Authors: Eric Meyer & Richard Clark
  html5doctor.com/html-5-reset-stylesheet/
*/
/* line 19, ../../src/app/lib/_reset.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline; }

/* line 31, ../../src/app/lib/_reset.scss */
body {
  line-height: 1;
  color: black;
  background: white; }

/* line 38, ../../src/app/lib/_reset.scss */
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle; }

/* line 44, ../../src/app/lib/_reset.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

/* tables still need cellspacing="0" in the markup */
/* line 54, ../../src/app/lib/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* line 56, ../../src/app/lib/_reset.scss */
q, blockquote {
  quotes: none; }
  /* line 103, ../../../../../../.rvm/gems/ruby-1.8.7-p358/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

/* line 57, ../../src/app/lib/_reset.scss */
a img {
  border: none; }

/* line 60, ../../src/app/lib/_reset.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

/* line 64, ../../src/app/lib/_reset.scss */
ol, ul {
  list-style: none; }

/* line 66, ../../src/app/lib/_reset.scss */
nav ul {
  list-style: none; }

/* line 68, ../../src/app/lib/_reset.scss */
blockquote, q {
  quotes: none; }

/* line 71, ../../src/app/lib/_reset.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

/* line 73, ../../src/app/lib/_reset.scss */
a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

/* line 75, ../../src/app/lib/_reset.scss */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none; }

/* line 77, ../../src/app/lib/_reset.scss */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold; }

/* line 79, ../../src/app/lib/_reset.scss */
del {
  text-decoration: line-through; }

/* line 81, ../../src/app/lib/_reset.scss */
abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help; }

/* line 83, ../../src/app/lib/_reset.scss */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

/* line 85, ../../src/app/lib/_reset.scss */
input, select {
  vertical-align: middle;
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif; }

/* line 87, ../../src/app/lib/_reset.scss */
textarea {
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif; }

/* line 89, ../../src/app/lib/_reset.scss */
ol {
  list-style: decimal outside;
  margin: 3px 8px 3px 28px; }

/* line 91, ../../src/app/lib/_reset.scss */
strong, b {
  font-weight: bold; }

/* line 93, ../../src/app/lib/_reset.scss */
em, i {
  font-style: italic; }

/* line 116, ../../../../../../.rvm/gems/ruby-1.8.7-p358/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block; }

/* END RESET CSS */
/* line 99, ../../src/app/lib/_reset.scss */
#tag-list {
  margin: 5px -5px 5px 0; }

/* line 102, ../../src/app/lib/_reset.scss */
#tag-list li {
  display: inline;
  list-style: none outside none;
  margin: 0;
  color: #000000;
  border-color: #DDDDDD;
  border-width: 1px;
  border-style: solid;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  padding: 2px 3px;
  font-size: 11px;
  background-color: #33a8a8; }

/* line 115, ../../src/app/lib/_reset.scss */
#tag-list li a {
  color: #fff; }

/* line 119, ../../src/app/lib/_reset.scss */
#tag-cloud {
  margin: 5px -5px 5px 0; }

/* line 122, ../../src/app/lib/_reset.scss */
#tag-cloud li {
  display: inline;
  list-style: none outside none;
  margin: 0;
  padding: 0; }

/* line 129, ../../src/app/lib/_reset.scss */
#tag-cloud li a:hover {
  color: #000000; }

/* line 4, ../../src/fresh-mce/content.scss */
body, td, pre {
  color: #333333;
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
  margin: 8px;
  font-size: 13px;
  line-height: 18px; }

/* line 87, ../../src/app/lib/_mixins.scss */
p, li, div {
  font-size: 13px;
  line-height: 18px;
  font-style: normal;
  margin: 0; }

/* line 93, ../../src/app/lib/_mixins.scss */
code, pre, p, li, span {
  white-space: pre;
  white-space: pre-wrap;
  white-space: pre-line;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -hp-pre-wrap;
  word-wrap: break-word;
  white-space: pre-line !important;
  white-space: pre-wrap !important; }

/* line 98, ../../src/app/lib/_mixins.scss */
h1 {
  font-size: 2em; }

/* line 99, ../../src/app/lib/_mixins.scss */
h2 {
  font-size: 1.5em; }

/* line 100, ../../src/app/lib/_mixins.scss */
h3 {
  font-size: 1.17em; }

/* line 101, ../../src/app/lib/_mixins.scss */
h4 {
  font-size: 1em; }

/* line 102, ../../src/app/lib/_mixins.scss */
h5 {
  font-size: .83em; }

/* line 103, ../../src/app/lib/_mixins.scss */
h6 {
  font-size: .75em; }

/* line 104, ../../src/app/lib/_mixins.scss */
img, iframe {
  border: 0;
  max-width: 100%; }

/* line 105, ../../src/app/lib/_mixins.scss */
table {
  cursor: default;
  border: 1px solid #afafaf; }

/* line 106, ../../src/app/lib/_mixins.scss */
table td, table th {
  cursor: text;
  font-size: inherit;
  font-size: 13px;
  border: 1px solid #afafaf;
  padding: 4px; }

/* line 107, ../../src/app/lib/_mixins.scss */
em {
  font-style: italic; }

/* line 108, ../../src/app/lib/_mixins.scss */
ins {
  border-bottom: 1px solid green;
  text-decoration: none;
  color: green; }

/* line 109, ../../src/app/lib/_mixins.scss */
cite {
  border-bottom: 1px dashed blue; }

/* line 110, ../../src/app/lib/_mixins.scss */
acronym {
  border-bottom: 1px dotted #CCC;
  cursor: help; }

/* line 111, ../../src/app/lib/_mixins.scss */
abbr {
  border-bottom: 1px dashed #CCC;
  cursor: help; }

/* line 112, ../../src/app/lib/_mixins.scss */
ol, ul {
  margin: 8px 0px 4px 0px;
  padding: 0px 0px 0px 40px;
  line-height: 17px; }

/* line 113, ../../src/app/lib/_mixins.scss */
ul {
  list-style: disc outside; }

/* line 114, ../../src/app/lib/_mixins.scss */
blockquote {
  font-size: 13px;
  line-height: 22px;
  margin: 0.5em;
  color: #666;
  border-left: 1px dotted #999;
  padding: 6px 6px 1px 1em; }

/* line 115, ../../src/app/lib/_mixins.scss */
del {
  text-decoration: none; }
