/* Theme Colors and layout Defaults */
body, td, pre {
  color: #333333;
  font-family: "Helvetica neue", "Helvetica", Arial, Verdana, sans-serif;
  margin: 8px;
  font-size: 13px;
  line-height: 18px;
}

p, li, div {
  font-size: 13px;
  line-height: 18px;
  font-style: normal;
  margin: 0;
}

code, pre, p, li {
  white-space: pre;
  white-space: pre-wrap;
  white-space: pre-line;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -hp-pre-wrap;
  word-wrap: break-word;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 1.17em;
}

h4 {
  font-size: 1em;
}

h5 {
  font-size: .83em;
}

h6 {
  font-size: .75em;
}

img, iframe {
  border: 0;
  max-width: 100%;
  height: auto;
}

table {
  cursor: default;
  border: 1px solid #afafaf;
}

table td, table th {
  cursor: text;
  font-size: inherit;
  font-size: 13px;
  border: 1px solid #afafaf;
  padding: 4px;
}

em {
  font-style: italic;
}

ins {
  border-bottom: 1px solid green;
  text-decoration: none;
  color: green;
}

cite {
  border-bottom: 1px dashed blue;
}

acronym {
  border-bottom: 1px dotted #CCC;
  cursor: help;
}

abbr {
  border-bottom: 1px dashed #CCC;
  cursor: help;
}

ol, ul {
  margin: 8px 0px 4px 0px;
  padding: 0px 0px 0px 40px;
  line-height: 17px;
}

ul {
  list-style: disc outside;
}

blockquote {
  font-size: 13px;
  line-height: 22px;
  margin: 0.5em;
  color: #666;
  border-left: 1px dotted #999;
  padding: 6px 6px 1px 1em;
}
