/* Theme Colors and layout Defaults */
body, td, pre {
  color: #333333;
  font-family: "Lucida Grande", Geneva, Arial, Verdana, sans-serif;
  margin: 8px;
}

body p, body li {
  font-size: 13px;
  line-height: 18px;
  font-style: normal;
  margin: 0;
}
body h1 {
  font-size: 2em;
}
body h2 {
  font-size: 1.5em;
}
body h3 {
  font-size: 1.17em;
}
body h4 {
  font-size: 1em;
}
body h5 {
  font-size: .83em;
}
body h6 {
  font-size: .75em;
}
body img {
  border: 0;
}
body table {
  cursor: default;
}
body table td, body table th {
  cursor: text;
}
body ins {
  border-bottom: 1px solid green;
  text-decoration: none;
  color: green;
}
body del {
  color: red;
  text-decoration: line-through;
}
body cite {
  border-bottom: 1px dashed blue;
}
body acronym {
  border-bottom: 1px dotted #CCC;
  cursor: help;
}
body abbr {
  border-bottom: 1px dashed #CCC;
  cursor: help;
}
body ol, body ul {
  margin: 14px 0px 14px 0px;
  padding: 0px 0px 0px 40px;
  line-height: 17px;
}
body ul {
  list-style: disc outside;
}
body blockquote {
  margin: 1em 1em;
  color: #999;
  border-left: 2px solid #999;
  padding: 6px 6px 1px 1em;
  background-color: #EEE;
}
