<ul id="agentTab" class="tabs nav-tabs">  
  <%= agent_list_tabs %>
</ul>
<div class="row-fluid">
  <div class="span4">
    <div class="dropdown">
       Sorted by: <a role="button" class="dropdown-toggle drop-right" id="sorting_dropdown" data-toggle="dropdown" href="#">
        <b><%= t("agent_list.sort.#{current_agent_order}") %></b><b class="caret"></b></a>
        <%= agent_list_sort %>
    </div>
	</div>
</div>