
<ul class="ui-form">
	<div id="reset_password">
		<li class="inline-field" id="reset_password_body"><%= t("agent.password_reset_message", :requester => h(@user.name)) %>
		</li>
		<li class="inline-field" id="reset_password_body"> <%= t('agent.password_reset_note', :requester => h(@user.email))%></li>
	</div>

	<div class="button-container" id="reset_password_buttons">
		  <%= link_to(t('yes_password_reset'), reset_password_agent_path({:id => @agent.id, :page => params[:page]}), :method => :put, :title  => t('ticket.close_btn_title'), :class => "uiButton special" ,:id => "reset_password_button") %> 
		<%= link_to t('no_password_reset') ,"#", :class => "uiButton",:id => "cancel_agent_button" %>
	</div>

</ul>
<% javascript_tag do %> 
jQuery("#reset_password_button").click(function() 
{
	jQuery(this).addClass("disabled");
});


 jQuery('#cancel_agent_button').click(
 	function(){
		jQuery('#reset_password_template').dialog('close');
 	}); 

<%end%>