<script>

function setUserRole()
{
	
	if (jQuery('input[name=user_role]').is(':checked'))
	{
		jQuery('#role_taken').val('admin');

	}
	else
	{
		jQuery('#role_taken').val('poweruser');
		
	}
	
}
</script>

<h1><%=t('agent.new')%></h1>

<% form_for(@agent) do |f| %>
<%= f.error_messages %>

<input type="checkbox" id="user_role_val" name="user_role" onclick="javascript:setUserRole()" >make as an admin </input>
 
<%= render :partial => "agent_form" %>




 <p>
    <%= f.submit t('update') %>
  </p>
  
  <%end%>
 
 