<div id="add_twitter_handle">
  <h1>Add a Twitter Account</h1>
  <p class="description">In order to add a Twitter account, we need to verify with Twitter that the account belongs to you.</p>
  <p>Sign in with Twitter to verify your Twitter account.</p>
  <p>
    <a href="<%=@wrapper.authorize_url%>"><img height="24" width="151" src="http://si0.twimg.com/images/dev/buttons/sign-in-with-twitter-l.png" alt="Sign In Twitter"></a>
  </p>
</div>