<ul id="reminderlist">
  <% reminders.visible.map do |r| %>   
   <%= render :partial => "/helpdesk/reminders/reminder", :object => r, :locals => { :show_info => show_info } %>
  <% end %>
</ul> 
<div class="addReminder">
	<% form_remote_for(form_controller) do |f| %>
  	<%= f.label :body, t('add_to_do'), :class => "overlabel", :for => "helpdesk_reminder_body" %>
  	<%= f.text_field :body, :class => "text" %>
	<% end %>
</div> 
<ul id="compeleted_reminders">
  <% reminders.logged.map do |r| %>
    <%= render :partial => "/helpdesk/reminders/reminder", :object => r, :locals => { :show_info => show_info } %>
  <% end %>
</ul>


