<% unless @topic.blank? %>
  <div id="vote-toolbar">
    <%= (@topic.user_votes  > 0 || current_user && current_user.id != @topic.user_id && !@topic.answered? && !@topic.solved?) ? '<hr />'.html_safe : '' %>
  <% if(@topic.user_votes > 0) %>		
    <span id="topic-voted-information">
      <%= upvoting_count(@topic) %>
    </span>
  <% end %>
  <% if current_user && current_user.id != @topic.user_id && !@topic.answered? && !@topic.solved? %>
    <% unless(@topic.voted_by_user? current_user) %>
      <%= link_to t("portal.topic_vote.#{@forum.type_symbol}_button"),
      like_support_discussions_topic_path(@topic), 
      "data-remote" => true,
      "data-method" => :put,
      :id => "topic-vote-up-button",
      "data-update" => "#vote-toolbar" %>
    <% else %>
      <%= link_to t("portal.topic_vote.#{@forum.type_symbol}_unlike_button"),
      unlike_support_discussions_topic_path(@topic),
      "data-remote" => true,
      "data-method" => :put,
      :id => "topic-vote-down-button",
      "data-update" => "#vote-toolbar" %>
    <% end %>
  <% end %>
  </div>
<% end %>
