<div class="cmi-plugin">
    <h3 class="cmiTitle">Customer Sentiment Predictor</h3>
    <ul>
        <li><a class="note_mood veryHappy tooltip" href="#" onclick="event.preventDefault();" title="Very Happy"><i class="ico ico-veryhappy"></i></a></li>
        <li><a class="note_mood happy tooltip" href="#" onclick="event.preventDefault();" title="Happy"><i class="ico ico-happy"></i></a></li>
        <li><a class="note_mood neutral tooltip" href="#" onclick="event.preventDefault();" title="Neutral"><i class="ico ico-neutral"></i></a></li>
        <li><a class="note_mood sad tooltip" href="#" onclick="event.preventDefault();" title="Sad"><i class="ico ico-sad"></i></a></li>
        <li><a class="note_mood angry tooltip" href="#" onclick="event.preventDefault();" title="Angry"><i class="ico ico-angry"></i></a></li>
    </ul>
    <div class="cmi-fdbk">Not Neutral? Click to change.</div>
</div>