<li class="conversation">
	<a href="#" class="avatar-wrap"><img src="/images/ticket-details/avatar.jpg" class="avatar"/></a>
	
	<div class="commentbox commentbox-gray">
		<p><span class="comment-lock"></span><a href="#"><strong>Yoda</strong></a> on April 7, 2:30 AM </p>
		<p><a href="">https://support.zendesk.com/entries/337271-integration-with-box-net </a>"If anyone can do it Zendesk can" says someone in the ZD forums. Beat them to it?</p>
	</div>
</li>
<li class="conversation">
	<a href="#" class="avatar-wrap"><img src="/images/ticket-details/avatar.jpg" class="avatar"/></a>
	<div class="commentbox commentbox-gray">
		<span class="commentbox-menu"><p><a href="">Split</a></p></span>
		<p><a href="#"><strong>James T. Kirk</strong></a> on April 7, 2:30 AM </p>
		<p>Hi Cecilia,</P>

		<p>Thanks for reaching out! Yes, Techcrunch was exciting. Sorry about the delay in getting back to you. I am Sreelesh, part of the Biz Dev and Marketing here at Freshdesk.</p>

		<p>The integration with Box will definitely be useful. Can I pls ask some time from you. </p>
		<p>Best,</P>
		<p>Sreelesh.</P>
	</div>
</li>
<li class="conversation">
	<a href="#" class="avatar-wrap"><img src="/images/ticket-details/avatar.jpg" class="avatar"/></a>
	<div class="commentbox">
		<span class="commentbox-menu"><p><a href="">Expand</a></p></span>
		<p><a href="#"><strong>James T. Kirk</strong></a> on April 7, 2:30 AM </p>
		<p>Hi Cecilia,</P>

		<p>Thanks for reaching out! Yes, Techcrunch was exciting. Sorry about the delay in getting back to you. I am Sreelesh, part of the Biz Dev and Marketing here at Freshdesk.</p>

		<p>The integration with Box will definitely be useful. Can I pls ask some time from you. </p>
		<p>Best,</P>
		<p>Sreelesh.</P>

			<div class="attachments-wrap clearfix">
				<h5><strong>4 Attachments</strong></h5>
				<ul>
					<li class="conversation"><a href="#" class="attachment-close"></a><img src="/images/ticket-details/pdf-icon.png"/> Security Whitepaper.pdf <span>(883.6 KB)</span></li>

					<li class="conversation"><a href="#" class="attachment-close"></a><img src="/images/ticket-details/doc-icon.png"/> Security Whitepaper.doc <span>(883.6 KB)</span></li>

					<li class="conversation"><a href="#" class="attachment-close"></a><img src="/images/ticket-details/jpg-icon.png"/> Security Whitepaper.jpg <span>(883.6 KB)</span></li>

				</ul>
			</div>
	</div>
</li>