<% 
  extra_info = @ticket.mobihelp_ticket_info
%>
<div class="widget clearfix" id="app_info">
	<h3><%=t('ticket.app_info.title')%></h3>
	<div class="content">
		<div class="ticket-app-info">
			<%= render :partial => 'helpdesk/tickets/show/app_info_sidebar', :locals => {:extra_info => extra_info}  %>
			<%= link_to( t('ticket.app_info.show_more'), helpdesk_ticket_mobihelp_info_index_path(@ticket), :id => "app_info_show", :rel => 'freshdialog',
		 		"data-target" => "#app_info_dialog", "data-template-footer" => "", :title => t('ticket.app_info.title') ) %>
		</div>
	</div>
</div>
	
