<div class="btn-group redactor_insert_btns">
	<button class="btn dropdown-toggle" data-toggle="dropdown">
  	<%= t('ticket.insert') %> <span class="caret"></span>
	</button>
	<div class="dropdown-menu right" id="reply_options" role="menu" aria-labelledby="dLabel">
		<%= link_to( t('ticket.canned_responses.insert_ca_response'), "#", :rel => "ticket_canned_response", 'data-editor-id' => "#{cntid}-body") %>
		<%= link_to( t('solution.title_singular'), "#", :rel => "ticket_solutions", 'data-editor-id' => "#{cntid}-body") %>
	</div>
</div>