<div class="redactor conversation_thread clearfix inline_reply_form" id="inline_reply_form">
	<div class="conversation">
		<div class="commentbox inline-form-layout inline_form_commentbox">
			<div id="TicketForms">
				<%= render :partial => "/helpdesk/tickets/show/#{page}",
			           :locals => params  %>
			</div>
		</div>
	</div>
</div>
