<script id="file-list-template" type="text/x-jquery-tmpl">
<div class="item">
  {{if (file_valid)}}
  <a class="attachment-close"  href="javascript:void(0)" 
            onclick="remove_file_size_alert(this); Helpdesk.Multifile.remove(this); return false;" 
            inputId="${inputId}"></a>
  {{/if}}
  <div class="attachment-type file-types-def">
    <span class="{{if (!file_valid) }} invalid_attachment {{/if}}">
      <a href="javascript:void(0)">${name} {{if (size != '0' && size != '0.00 KB ') }}( ${size} ){{/if}}</a>
      {{if (!file_valid)}}
        <%= content_tag(:b, t('helpdesk.tickets.note.attachment_size.not_added'), 
                            :class => "alert-text tooltip", 
                            :title => t('helpdesk.tickets.note.attachment_size.exceed_limit')) %>
      {{/if}}
    </span>
  </div>
</div>
</script>
