<span class="seperator"></span>	
<div class="attachments-wrap clearfix">
	<h5><strong><%= pluralize(note.all_attachments.size + note.dropboxes.size, t('attachment'), t('attachments'))%></strong></h5>
	<ul class="attachment_list">
	    <% note.all_attachments.each do |attached| %> 
	    	<%= attachment_list(attached, true, "ticket", note.id) %>
	    <%end%>

	    <% note.dropboxes.each do |dropbox| %> 
			<%= attachment_list(dropbox, true, "dropbox",nil) %>
		<%end%>
	</ul>
</div>