<% unless note.all_attachments.empty? and note.cloud_files.empty? %>
<span class="seperator"></span>	
<div class="attachments-wrap clearfix">
	<h5 id="attachments_title_<%= note.id %>"><strong><%= pluralize(note.all_attachments.size + note.cloud_files.size, t('attachment'), t('attachments'))%></strong></h5>
	<ul class="attachment_list">
	    <% note.all_attachments.each do |attached| %> 
	    	<%= attachment_list(attached, privilege?(:edit_note, note), "ticket", note.id) %>
	    <%end%>

	    <% note.cloud_files.each do |cloud_file| %> 
			<%= attachment_list(cloud_file, privilege?(:edit_note, note), "cloud_file",nil) %>
		<%end%>
	</ul>
</div>
<% end %>
