<div class="dialog-well links">
<table class="table table-striped selected_to_yellow">
  <% current_account.scn_automations.each do |scenario| %>
  <tr><td>
		<div class="actions">
		<%  form_remote_tag(
			:url => execute_scenario_helpdesk_ticket_path(ticket), 
			:method => :post,
			:after => "
				jQuery('#execute_scenario .dialog-well').hide();
				jQuery('#execute_scenario .modal-body .sloading').remove();
				jQuery('#execute_scenario .modal-body').append('<div class=\"sloading loading-block\" />');
				") do %>

			<input type="hidden" name="scenario_id" value="<%= scenario.id %>" />
			<input type="submit" class="btn" value="Execute" />
		<% end %>

		</div>
		<div><strong> <%= h scenario.name %> </strong> </div>
		<div><span class="sub_title"> <%= h scenario.description %> </span> </div>
  </td></tr>
  <% end %>
</table>
</div>