<strong rel="status_name"><%= h(@ticket.status_name) %></strong>,
<span rel="status_timestamp">
<% unless (@ticket.onhold_and_closed? or @ticket.ticket_status.deleted?)%>
	<%=t( @ticket.due_by > Time.now() ? 'ticket_future_due_by_live' : 'ticket_past_due_by_live',
				{:time => distance_of_time_in_words(Time.now(), @ticket.due_by), :timestamp => @ticket.due_by.to_i}) %>
<% else %>
	<% changed_time = @ticket.ticket_states.send(status_changed_time_value_hash(@ticket)[:method]) %>
	<abbr data-livestamp="<%= changed_time.to_i %>"><%= distance_of_time_in_words(Time.now(), changed_time) %></abbr>	
<% end %>
</span>