<div class="widget" id='TicketProperties'>
	<h3 class="title"><%=t('ticket.properties')%></h3>
	<% form_disable = params[:format] == 'widget' ? {:onsubmit=> 'return false'} : {} %>
	<% form_for @ticket,
   :url => url_for(:controller => "helpdesk/tickets", :action => "update_ticket_properties", :id => @ticket.display_id), :html => { :id => 'custom_ticket_form', :class => 'ui-form content'}.merge(form_disable) do |f| %>
	<ul class="cnt">

		<% if privilege?(:edit_ticket_properties) %>
  		<li class="button-container top">
  			<%= f.submit t('update'), :class => "btn btn-primary", :id => "helpdesk_ticket_submit_dup",
  			"data-loading-text" => "#{t('ticket.updating')}...", 
  			"data-saved-text" => "✔ #{t('ticket.update_done')}", 
			
  			"data-default-text" => t('update') %>
  		</li>
		<% end %>
		<!--form values starts here-->
		<%= render :partial => '/helpdesk/tickets/show/ticket_field_elements.html.erb' %>
		<!--form values ends here-->
		<!-- Custom fields ends here-->
		<% if privilege?(:edit_ticket_properties) %>
  		<li class="button-container">
  			<%= f.submit t('update'), :class => "btn btn-primary", :id => "helpdesk_ticket_submit",
  			"data-loading-text" => "#{t('ticket.updating')}...", 
  			"data-saved-text" => "✔ #{t('ticket.update_done')}", 
			
  			"data-default-text" => t('update') %>
  		</li>
		<% end %>
	</ul>
	<% end %> 
</div> 