<div class="static_content">
<ul>
	<li>
		<strong>Top to bottom</strong>: The conversation thread is shown chronologically, with the last response at the bottom.
	</li>
	<li>
		<strong>No more endless scroll</strong>: Long ticket conversation threads are collapsed to just show the most recent three replies.
	</li>
	<li>
		<strong>Send and Do Anything</strong>: Why stop with just “Send and Resolve” when you can now update ticket statuses to pending, closed or just anything when you send!
	</li>
	<li>
		<strong>Stuff where you need them</strong>: Insert Canned Responses and Suggested Solutions directly from reply area. 
	</li>
	<li>
		<strong>Easier, better, faster</strong>: Sticky ticket headers, sleeker agent collision warnings, and way faster page load time when you edit a ticket.
	</li>
</ul>
<div class="buttons">
	<a class="btn" href="https://support.freshdesk.com/support/solutions/articles/70760-new-enhanced-ticket-view-page" target="_blank">Know more about these changes</a>
</div>
</div>