<% if current_account.features_included?(:archive_tickets) %>
  <div class='timeline' id='timeline'>
    <ul class='timeline-list'>
      <% @user_archive_tickets.each do |item| %>
        <li class='timeline-item'>
          <%= ticket_activity(item, true) %>
        </li>
      <% end %>
    </ul>
  </div>
  <% if (@total_archive_user_tickets_size > 10 and !@user.deleted) %>
    <div class='contact_tickets'>
      <div class="more_results">
        <%= link_to t('contacts.view_all_archived',:nick_name => h(@user.display_name)).html_safe, helpdesk_archive_requester_filter_path(:requester_id => @user.id) , :id => "show_more" %>
      </div>
    </div>
  <% end %>
  <% if @user_archive_tickets.empty? %>
    <p class='no-conv-msg'><%= t('contacts.conversations.no_conversations') %></p>
  <% end %>
<% end %>