<p class='muted'> <%= t("contacts.conversations.contact_tickets") %> </p>
<div class='timeline' id='timeline'>
  <ul class='timeline-list'>
    <% @user_tickets.each do |item| %>
      <li class='timeline-item'>
        <%= render partial: "ticket_activity" , locals: { ticket: item } %>
      </li>
    <% end %>
  </ul>
</div>
<% if (@total_user_tickets_size > 10 and !@user.deleted) %>
  <div class='contact_tickets'>
    <div class="more_results">
      <%= link_to t('contacts.view_all',:nick_name => h(@user.display_name)).html_safe, helpdesk_requester_filter_path(:requester_id => @user.id) , :id => "show_more" %>
    </div>
  </div>
<% end %>
<% if @user_tickets.empty? %>
  <p class='no-conv-msg'><%= t('contacts.conversations.no_conversations') %></p>
<% end %>