<% content_for :sidebar do -%><%- end %>
<% if false %>	
  <p> You have reached the maximum number of users you can have with your account level.  You can either delete some of your users or <a href="/account/plan">upgrade your account</a> to be able to create a new user. </p>	
<% else %>
  <h3 class="title"><%=t('contacts.new')%></h3>
  <% form_for @user,:url => { :controller => "contacts", :action => "create.widget" }, :html => { :multipart => true, :onsubmit=>"var new_user_form = jQuery('#new_user');var serialized_data = new_user_form.serializeArray();var form_data={}; for(var i=0;i<serialized_data.length;i++) {form_data[serialized_data[i].name] = serialized_data[i].value} var url = '/contacts.widget';makeRequest(url, handleResponse, {}, form_data);return false;" }  do |f| -%>
    <%= render :partial => "create_form.html", :locals => { :f => f } %>
	<div class="button-container">
	      <%= f.submit t('contacts.save_changes'), :class => "uiButton" %> 
	</div>
  <% end -%>	
<% end %>
