<% if @conversation_type === "conv_all" %>
  
          </div>
          
          <!-- tab 2 -->
          <div class='tab-pane' id='conv_tickets'> 
            
          </div>
          
          <!-- tab 3 -->
          <div class='tab-pane' id='conv_forums'> 
            
          </div>

          <!-- tab4 -->
          