<div class="list-page-body list-page-body-sleek agent-list">

  <table class="lc-minimal-tab current table" id="lc-tab-1">
    <tbody class="list">
    </tbody>
  </table>

  <table class="lc-minimal-tab table" id="lc-tab-2">
    <tbody class="list">
    </tbody>
  </table>

  <div class = "lc-offline-tab">
    <div class="tab-link lc-offline-agents" data-tab="lc-tab-3">
      <%= t('helpdesk.dashboard.livechat.offline') %>
      <span id="offline_count"></span>
    </div>

    <table class="lc-minimal-tab table lc-offline" id="lc-tab-3"> 
      <tbody class="list">
       </tbody>
    </table>
  </div>

</div>
