 <div class="list-page-body">
 	<% if @available_agents.empty? and @unavailable_agents.empty? %>
 		<h3 class="lead"><%= t('helpdesk.dashboard.round_robin.no_agents_available') %></h3>
 	<% else %>
		<table class="table table-striped available-agents">
			<%= render :partial => "agent", :collection => @available_agents %>
		</table>
		<table class="table table-striped">
			<%= render :partial => "agent", :collection => @unavailable_agents %>
		</table>
	<% end %>
</div>
<script type="text/javascript">
	App.Dashboard.bindToggle();
</script>