<li>
	<ul class="ffone-minimal-swap pull-left pt5">
	    <li class="minimal-pill tab-link current" data-tab="ffone-tab-1">
	      <%= t('helpdesk.dashboard.freshfone.accepting') %>
	      <span id="accepting_count"></span>
	    </li>
	    <li class="tab-link" data-tab="ffone-tab-2">
	      <%= t('helpdesk.dashboard.freshfone.not_accepting') %>
	      <span id="not_accepting_count"></span>
	    </li>
	</ul>
</li>