<ul class="ticket-minimal-swap pull-left pt5">
  <li class="ticket-minimal minimal-pill tab-link current" data-tab="ticket-tab-1">
    <%= t('helpdesk.dashboard.freshfone.accepting') %>
    <span id="tickets_accepting_count"><%= @available_agents.count %></span>
  </li>
  <li class="tab-link " data-tab="ticket-tab-2">
    <%= t('helpdesk.dashboard.freshfone.not_accepting') %>
    <span id="tickets_not_accepting_count"><%= @unavailable_agents.count %></span>
  </li>
</ul>




