<li class="clearfix activity" id="<%= ticket_note.id %>"> 
	<%= user_avatar( ticket_note.user,:thumb, "preview_pic circle") %>
	<%= (Liquid::Template.parse(h t(ticket_note.description)).render(eval_activity_data(ticket_note.activity_data).merge(
			'user_path' => link_to_user(ticket_note.user) ,   
			'notable_path' => (ticket_note.notable.nil? ?  ticket_note.activity_data[:title] : link_to(h(ticket_note.notable), find_activity_url(ticket_note), :class => "notelink")) ))).html_safe %>      

	<%= content_tag :div,  "", :class => "help-text", "data-livestamp" => ticket_note.created_at.to_i %>
</li>