<tr>
  <td>
      <span class="toggle_button pull-left"></span>  
      <span class="unavailable_avatar_image cust-list-avatar pull-left">
      </span>
      <span class="name pull-left pl10"></span>
  </td>
    <td class="text-right">
      <span class="presence_time_in_s muted"></span>
    </td>
</tr>
