<li class="menu-item">
  <span class="bullet"></span>
  <%= link_to_function truncate(ca_response.title, :length => 35), "getCannedResponse('#{@ticket.display_id}','#{ca_response.id}')", :title => t(:'ticket.canned_responses.insert_ca_resp_tip') %>
</li>