<ul>
  <!-- <span class="divider"></span>     -->
    <%= each_or_message("/helpdesk/tickets/components/ca_response", current_account.canned_responses.my_canned_responses(current_user), t('no_message.canned_reponses')) %>
</ul>