<% javascript_tag do -%>		
	function getCannedResponse(ca_resp_id){	
		jQuery.ajax({	type: 'POST',
						url: '/helpdesk/tickets/get_ca_response_content/'+ca_resp_id,
						contentType: 'application/text',
						async: false,						
						success: function(data){		
									insertIntoConversation(data);
								}
						});
		return true;
	}
<%- end %>
<div>
	<%
 		my_ca_resp = current_account.canned_responses.my_canned_responses(current_user)
 		my_ca_resp.each do |ca_response|
	%>
		<%= link_to_function ca_response.title, "getCannedResponse('#{ca_response.id}')", :title => t(:'ticket.canned_responses.insert_ca_resp_tip') %>
	<%end%>
</div>