<% unless user.job_title.blank? %>
	<div class="ellipsis user-job-title" title="<%= h user.job_title %>">
   		<%= h user.job_title %>
   	</div>
<% end %>
<% unless user.customer.blank? %>
	<div class="ellipsis user-company-name" title="<%= h user.customer.name %>">
		<%= link_to(h(user.customer.name), user.customer)  %>
	</div>
<% end %>