<li class="close-dialog">
	<% if @ticket
			title = truncate(Liquid::Template.parse(recent.content_html).render('ticket' => @ticket, 'helpdesk_name' => @ticket.account.portal_name), :length => 200)
			function = "getCannedResponse('#{@ticket.display_id}','#{recent.id}', this)"
	  else
	  	title = truncate(recent.content_html, :length => 200)
	  	function = "getCannedResponse('#{recent.id}', this)"
	  end
      title = title.gsub('&lt;', '&amp;lt;')
      #Double escaping tags that are part of the text
    %>
  <%= link_to_function ("<span id='resp-icon'></span><span id='resp-text'>"+ h(recent.title)+"</span>").html_safe, function, :class => "custom-tip-left", "data-tip-classes" => 'ui-tooltip-response',  :title => title.html_safe, "data-response" => recent.id %>
</li>