<h3 class="title"><%=t('ticket.execute_scenario')%></h3>	
<div class="request-list">
  <% current_account.scn_automations.each do |scenario| %>
    <div class="item">	 			
      <%= link_to ( "<span class='wand'></span> #{scenario.name}", 
                    execute_scenario_helpdesk_ticket_url(@ticket, :scenario_id => scenario.id ), :method => :post, 
                    :class => "item-title", :title => t(".execute_this_scenario") ) %>
    </div>
  <% end %>
</div>