<% javascript_tag do %>
	changeAggentList = function(group_id)
	{
		jQuery('#assigned_to').children("select").replaceWith("...");
		
		jQuery.ajax({type: 'POST',
					 url: '/helpdesk/tickets/get_agents/'+group_id,
					 contentType: 'application/text',
	      			 success: function(data){
					 			jQuery('#assigned_to')
									.html(data)
									.hide()
									.show("highlight", {}, 500);
						  	  }
					});
	}
<% end %>
<div class="rtDetails" id="TicketProperties">              
		<h3 class="title">Ticket Properties</h3>	
			<% form_for ticket do |f| %>
	        <ul class="cnt">
	            <li>
	                <label>Due by time</label>
					<%= ticket.due_by.strftime("%B %e %Y at %I:%M %p") %>
	            </li>
				<!--form values starts here-->
					<%= render :partial=> "custom_form_partial" ,:locals => { :f => f } %>
				<!--form values ends here-->
				<!-- Custom fields ends here-->
				<li class="button-container">
					<%= f.submit "Update", :class => "uiButton grey small" %>
				</li>		
	        </ul>
			<% end %> 
	    </div> 