<div class="rtDetails" id="TicketTodos" style="display:none;"> 
	<h3 class="title">To Do</h3>
	<div class="panel_area">
	  <%ticket.reminders.visible.map do |r| 
	  %>
		 <%= render :partial => "/helpdesk/shared/reminder_list", :locals => {:parent =>ticket, :r =>r, :checked =>r.deleted, :check_url =>helpdesk_reminder_path(r), :check_method => :delete, :uncheck_url =>restore_helpdesk_reminder_path(r), :uncheck_method =>:put} %>
	<%end %>
		<span class="seperator"></span>
		<% form_for ticket ? [ticket, Helpdesk::Reminder.new()] : Helpdesk::Reminder.new() do |f| %>
		  <%= f.label :body, "New To Do " %>
			  <%= f.text_field :body %>
		<% end %>
			  
	</div>
	<!--a href="#" class="todo_button">Click to Add new</a-->		 
	
</div>