<% form_tag password_resets_path, { :rel => "validate" } do %>
	<fieldset>
	  	<div class="control-group">
	  		<div class="controls">
	  			<%= text_field_tag "email", "", { :class => "required special", :placeholder => t('your_email_address') } %>
	  		</div>
	  	</div>
	  	<br />
	</fieldset>
  	<div class="control-group">
  		<button type="button" data-toggle-dom="#login-form, #forgot-form" class="btn"> <%= t('cancel') %> </button>
  		<button type="submit" class="btn btn-primary pull-right"> <%= t('reset_my_password') %> </button>
	</div>
<% end %>