<a id="chat-availability" class="chat-toggle tooltip" data-placement="below" data-html="true" data-original-title="<%=availableStatus ? CHAT_I18n.click_to_go_offline : CHAT_I18n.click_to_go_online%>" twipsy-content-set="true">
    <img alt="" height="35px" id="chat_available_icon" class="agent-fchat-<%=availableStatus ? 'on' : 'off' %>" src="/images/spacer.gif" >
</a>