<li>
	<div class="searchresult contactdiv">
		<div class="fc_merge_element">
		  <span class="item_info" title="#{title}"><a href="/helpdesk/tickets/#{display_id}" target="_blank">##{display_id} #{subject}</a></span>
             <div class="info-data hideForList">
             	<div class="fc_convert_tkt_list">
	               <span class="merge-ticket-info">#{ticket_info}</span>
           		</div>
                <button class="selected_tkt_button btn" data-id="#{display_id}">Save</button>
			 </div>
		</div>
	</div>
</li>