// Base settings for portal styles
@import "theme/fb-settings";
@import "lib/settings";
@import "lib/mixins";

// ALL RTL Styles
@import "lib/rtl-styles";

// All lib styles inside the portal
@import "portal-all";
// Facebook theme overides
@import "theme/facebook";