// Base settings for portal styles
@import "lib/settings";
@import "lib/mixins";
@import "lib/rtl-styles";

// CSS Reset
@import "lib/reset";

// Type and some util functions
@import "lib/type";
@import "lib/utilities";
@import "lib/scaffolding";
@import "lib/buttons";

@import "cdn-ignored/sprites/portal/preview/*.png";
$preview-sprite-dimensions: true;
$preview-layout:horizontal;
@include all-preview-sprites;

body{ 
	overflow: hidden; 
	background: #505050; 
}
#iframe-preview{
	position: relative;
	border: 0;
	width: 100%;
	display: block;
	margin: auto;
}

#responsive-buttons{
	@include clearfix;
	span{ @include inline-block; } 
	a{ 
		@include float(left);
		@include border-left(1px solid rgba(#fff, 0.1)); 
		@include border-right(1px solid rgba(#000, 0.1)); 
		padding:5px 4px 5px 6px;
		span{ @include opacity(0.4); }
		&:last-child{
			box-shadow: 1px 0px 1px rgba(255,255,255,0.1);
		}
		&:first-child{
			box-shadow: -1px 0px 1px rgba(0,0,0,0.1);
		}
	}
	a.active{
		box-shadow: inset 0px -8px 30px rgba(0,0,0,0.6);
		background-color: rgba(#333, 0.4);
		span{ @include opacity(1); }
	}
}

.preview-message{
	background: image-url("/images/portal/preview-bg.png");
	border-bottom:5px solid #313131;
}
.page{
	@include container($total-columns); 
}

.mint-preview-class{
	.preview-exit{
		margin-top: 10px;
		@include border-radius(2em);
		@include padding-left(20px);
		@include padding-right(20px);
		@include border-radius(2px);
	    width: 90px;
	    margin-right: 12px;
	    background-color: #ffffff;
	    background-image: none;
	    color: black;
	    border: 0;
	    border-top: 0;
	    text-shadow: none;
	    box-shadow: none;
	    margin-top: 16px;
	    padding: 8px 10px;
	    font-size: 14px;
	}

	.switch-toggle {
		margin-top: 25px;
		position: relative;
		display: inline-block;
		width: 35px;
		height: 20px;
		cursor: pointer;
		border-radius: 34px;
		background-color: #b7e5d6;
		&:before {
		    position: absolute;
		    content: "";
		   	width: 35%;
		    height: 65%;
		    left: 0;
		    bottom: 4px;
		    border-radius: 50%;
		    @include box-shadow(0 1px 1px 0 rgba(0, 0, 0, 0.23));
		    background-color: #fff;
		    -webkit-transition: 0.2s;
		    transition: 0.2s;
		    transform: translateX(3px);
		}
		&.mint-enabled {
			background-color: #02b875;
			&:before {
				transform: translateX(20px);
	    		background: #fff;
	    		transition: 0.2s;
			}
		}
	}

	.text{
		padding: 5px;
		margin-top: 20px;
		position: relative;
		display: inline-block;
		width: 50px;
		height: 30px;
		color:  #2f2727;
		&.active{
			color: #fff;
		}
	}

	.bar{
		padding: 5px;
	    margin-top: 15px;
	    position: relative;
	    display: inline-block;
	    font-size: 27px;
	    padding-left: 10px;
	    padding-right: 49px;
	    color: #928d8d;
	}

	.mint-button{
		border-radius: 2px;
	    width: 70px;
	    margin-right: 12px;
	    background-color: #00b874;
	    background-image: none;
	    color: #fff;
	    border: 0;
	    border-top: 0;
	    text-shadow: none;
	    @include box-shadow(none);
	    margin-top: 16px;
	    padding: 8px 10px;
	    font-size: 14px;
	    cursor: pointer;
	}
	
	.support-old-ui-preview {
	    pointer-events: none;
	    background-color: #b7e5d6;
	}
	
	.mint-button:hover {
	    background-color: #03a86b;
	    color: #fff
	}
}

.loader-mint {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url('https://asset.freshdesk.com/images/animated/ajax-loader.gif') 50% 50% no-repeat rgb(249,249,249);
}
