@import "portal/lib/rtl-mixins";
$none: #efefef;
$options-color: (strongly-disagree: #e7340f,some-what-disagree: #ff8c00,disagree: #ffc400,satisfaction-neutral: #f1db15,agree: #a9d340,some-what-agree: #6bb437,strongly-agree: #4e8d00);
@each $opt,$col in $options-color{
  #{'.'+$opt}{
    background-color: #{$col};
  }
  .border-#{$opt}{
    @include border-left(3px solid #{$col}); 
    @include padding-left(10px);
    margin: 6px 3px;
  }
}

.none{
  background-color: $none;   
   box-shadow: inset 0px 1px 1px #ccc;
}

.survey-rating{
  height:18px; 
  width:18px; 
  /*background-color:$none; */
  vertical-align:middle; 
  display:inline-block;
  border-radius: 100%;
  cursor:pointer;
}

.feedback-text{
	margin-top:-25px;
	float:right;
	font-size: 12px;
	font-weight:bold;
}

.ficon-survey-happy{
		color:#82af56;
}

.ficon-survey-sad{
	color:#ee715e;
}

.ficon-survey-neutral{
	color:#f3ca6e;
}

.loading{
  background-image: url('/assets/animated/ajax-loader.gif');
  background-repeat: no-repeat;
  background-position-x: 36%;
  background-position-y: 40%; 
  height:auto;
  min-height: 100px;
  display: none;
  padding-top:35px;

  .loading-text{
    padding-left: 0px;
    font-weight:500;
    font-size: 16px;
  }
}

.survey-overlay{
  size: 100%;
  background-color: rgba(255,255,255,0.8);
  display: block;
  position: absolute;
  box-sizing: border-box;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}