@import "compass";
@import "lib/rtl-mixins";

@import "cdn-ignored/sprites/smiley/*.png";
$smiley-layout:horizontal;
$smiley-sprite-dimensions:true;
@include all-smiley-sprites;

.smiley-happy, .smiley-neutral, .smiley-unhappy{
  @include inline-block;
  vertical-align: text-top;
}

body{
  font:normal 13px/18px "Helvetica Neue", Arial, sans-serif;
  color:#181818;  
  margin:0px;   
  background-color: #f2f2f2;
} 

.wrapper{
  width:950px;
  margin: 0px auto;
}

.top-strip{ background-color:#313131; padding: 10px 0 0; }

.star-logo{
  width:42px;
  height:40px;
  margin-top:3px;
  @include float(left);
}

.brand:after {
    @include clear(both);
    content: "";
    display: table;
}

.brand{ text-decoration: none; }

.brand .logo { @include margin-left(-5px); }

.brand .logo_text{
	@include margin(15px 0 0 5px);
	font-size:24px;
	color:#f5f5f5;
}

.brand .logo, .brand .logo_text {
    @include float(left);
    position: relative;
    z-index: 5;
}

.brand a {
    text-decoration: none;
}

a {
    color: #336699;
    font-weight: inherit;
    text-decoration: none;
}

a {
    color: #0069D6;
    font-weight: inherit;
    line-height: inherit;
    text-decoration: none;
}

a {
    background: none repeat scroll 0 0 transparent;
    font-size: 100%;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
}

/*Content area*/

.highlighter{
  background-color: #fff4dc;
  @include border-radius(6px);
  border:1px solid #a9a9a9;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.10);
}

.pointer{
  width:17px;
  height:10px;
  @include margin-left(12px);
  position: relative;
  top: -9px;
  &:before, &:after{
    content: "";
    position: absolute;
    border: 10px solid transparent;
    border-bottom-color:#fff4dc;
  }
  &:before{
    border-width: 11px;
    border-bottom-color:#a9a9a9; 
    top: -2px;
    @include left(-1px);
  }
}

.smily{
  padding: 14px;
  @include float(left);
}

h1{
  font-size:24px;
  color: #333333;
  padding-top:8px;
}

h2{
  font-size:22px;
  text-shadow: 1px 0 0 #fff;
  margin-top: -6px;
  line-height: 1.4;
  font-weight: 200;
}

.search-bar{
  height: 210px;
  background-color: #f2f2f2;
  border-bottom-radius:3px;
  border:1px solid #a9a9a9;
  border-top: 0;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.05);
  @include margin-left(15px);
  @include margin-right(15px);
}

.error{
	@include margin-left(5px);
	color:red;
}

.search-top{
  font-size:13px;
  color: #000;
  font-weight:normal;
  padding-top: 10px;
  @include padding-left(12px);
  margin: 0;
}

.position{
  position: relative;
}

.clear{
  @include clear(both);
}

.search-box{
  width: 830px;
  height: 56px;
  background-color: #fff;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  border:1px solid #a9a9a9;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.05);
  margin-top: -15px;
  @include margin-left(15px);
}

.textfield{
  margin:3px 0;
  padding:5px;
  font-size: 18px;
  background-color: #fff;
  color: #666;
  border: 1px solid #C4C4C4;
  @include border-right(1px solid #E9E9E9);
  border-bottom: 1px solid #E9E9E9;
  width:819px;
  height:124px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  box-shadow: inset 0px 2px 6px #e4e4e4;
  position:relative;                   
  overflow:hidden;
  @include margin-left(10px);
  display:block;
  resize:none;
}

input{
    padding:7px 10px;
    font-size:18px;
    background:none;    
    position:absolute;
    @include left(0); top:0;
    border:0;                            
    width:809px;
    height:40px;
}

.button{
  background-color: #616161;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  width:62px;
  height:26px;
  @include float(right);
  position: relative;
  top: -58px;
  @include right(10px);
  margin-top:25px;
}

.button-text{
  font-size:12px;
  color: #fff;
  position: relative;
  @include left(-10px);
  top: -54px;
  font-weight: bold;
  font-family: Helvetica;
  text-shadow: 0px 2px 3px #555;
}

.text_con{
 height:30px;
}



