/* Responsive Code */
//.modal-panel-active will apply only in embedded widget
// Base settings for portal styles
@import "lib/settings";
@import "lib/mixins";

$background-color: #e1e1e1;
$border-color: #bfbfbf;
$header_footer_height: 50px;
$animation-speed:.3s;
$animation-type: ease-in;

@media (max-width: 768px){
	html,.modal-widget{
		height: 100%;
	}
	body, .feedback-wrapper{
		height:100%;
		background:transparent;
	}

	a.mobile-search-icon{
		display: block;
		position:absolute;
		top:0;
	 @include right(0);
		width: $header_footer_height - 1;
		height: $header_footer_height - 1;
		z-index: 12;
		@include text-align(center);
		padding: 15px;
		text-decoration: none;
		@include transition(all 1s);
		&:hover{
			text-decoration:none;
		}
		&.mobile-search-icon-selected{
			background:#ccc;
			@include box-shadow(inset 0px 0px 20px #888);
		}
	}
	.subject-mobile-counter{
		display: block;
		border: 1px solid #CCC;
		margin-bottom: 10px;
		padding: 5px 10px;
		@include border-radius($inputBorderRadius);
		background: #FAFAFA;
		text-decoration: none;
		&:hover {
		  text-decoration: none;
		}
	}
	.mobile-counter{
		background: #000;
		color: #FFF;
		@include text-align(center);
		position: relative;
		border-radius: 15px;
		margin: 0;
		top: -1px;
		z-index: 1;
		padding: 1px 8px;
		@include margin-left(-200%);
		box-shadow: 0 0 0 2px #BFBFBF;
		cursor: pointer;
	}
	.wicon-mobile-search{
		position: absolute;
		@if $rtl { position: fixed; }
		top: 12px;
		@include left(12px);
		cursor: pointer;
	}
	.embedded-wrapper{
		a.mobile-search-icon{
			display: none;
		}
	}
	.fw-thankyou-page{
		.modal-header,.modal-footer{
			display: block;
		}
	}
	.feedback-wrapper{
		margin:0;
		.modal-widget{
			box-shadow: none;
			border:0;
			@include border-radius(0);
			.modal-header,.modal-body,.modal-footer{
				width:100%;
			}
			.modal-body{
				background: #fff;
				padding-top:60px;
				@include transition(transform $animation-speed $animation-type);
				position: absolute;
				@include left(0);
				&.modal-body-hide{
					//@include left(-98%);
					@include transform(translate3d(-98%, 0, 0));
					@include box-shadow(0px 2px 7px rgb(221, 221, 221));
					overflow: hidden;
				}
				.form-portal {
					.control-label{
						width:100%;
					}
					.controls{
						@include margin-left(0);
					}
				}
			}
			.modal-header,.modal-footer{
				background:$background-color;
				@include border-radius(0);
				z-index:11;
			}
			.modal-header{
				border:0;
				border-bottom:1px solid $border-color;
				@include box-shadow(0 0 15px #DFDFDF);
				height:$header_footer_height;
				&:after{
					border:0;
				}
				.modal-header-bg{
					background:none;
					margin: 0 $header_footer_height;
					padding:10px 0;
					@include text-align(center);
					border: 1px solid $border-color;
					border-top: 0;
					height: 100%;
					border-bottom: 0;
					box-shadow: 1px 0px 0px #FFF, inset 1px 0 0 #FFF;
				}			
				h3{
					font-weight: 700;
					line-height: 1.5em;
				}
			}
			.modal-footer{
				border:0;
				border-top:1px solid $border-color;
				@include box-shadow(none);
				padding-top: 10px;
				padding-bottom:10px; 
				.btn{margin-top:0;}
				.copyright{
					width: 65%;
					.fw-privacy-policy{
						display: none;
					}
				}
			}
			.modal-panel{
				display: block; 
				position:absolute;
				width:98%;
				@include left(2%);
				padding-top: 50px;
				padding-bottom: 50px;
				height: 100%;
				overflow: scroll;

				@include transition(transform $animation-speed $animation-type);
				@include transform(translate3d(100%, 0, 0));
				#ws-results-title{
					display: none;
				}
				.panel-content{
					margin-top:10px;
				}
			}
			.modal-panel-show{
				@include transition(transform $animation-speed $animation-type);
				@include transform(translate3d(0, 0, 0));
			}
		}
	} 
	.screenshot-wrap{display: none;}
}