<div class="ticket">
	<ul>
		<% tickets.each do |t| %>
		<li>
			<div class="searchresult">
				<span class="item_info" title="<%= t.subject %>"><%= link_to "##{t.display_id} #{t.subject}",
										helpdesk_ticket_path(t), :target => "_blank" %></span>
				<div class="info-data hideForList">
					<span class="merge-ticket-info">
						<%= t("ticket.merge_ticket_list_status_created_at", 
									:username => "<span class='muted'>
									#{( (params[:key] == 'requester') ? t[:requester_name] : t.requester )}
									</span>", 
									:time_ago => time_ago_in_words(t.created_at) ) %></span>
				</div>
			</div>
		</li>
		<div></div><br/>
		<% end %>
	</ul>
</div>