<div class="freshfone_notification">
	<div class="freshfone-notifier-container" id="freshfone_notification_container">
		<script id="incomingWidget" type="text/x-jquery-tmpl">
			<div class="notifier">
				<div class="desktopNotifier deskNotifier hide">
				</div>
				<div class="user_avatar">
				</div>
				<div class="customer">
				</div>
				<div class="call-meta">
				</div>
				<div class="action">
					<div class="ignore" id="reject_call">
						<%= t('freshfone.widget.ignore') %>
					</div>
					<div class="accept" id="accept_call">
						<%= t('freshfone.widget.accept') %>
					</div>
					<div class="clear"></div>
				</div>
			</div>
		</script>
	</div>
</div>
<script id="freshfone-contact-template" type="text/x-jquery-tmpl">
	<b class="ellipsis">${callerName}</b>
	<div class="notifier_number ${strangeNumber}">${formattedNumber}</div>
	<div class="place-info">
		<p class="country">
			<span>${callerLocation}</span>
		</p>
	</div>
</script>
<script id="ffone-contact-template-nameless" type="text/x-jquery-tmpl">
	<div class="primary notifier_number mt5 mb5">${formattedNumber}</div>
	<div class="place-info mb10">
		<p class="country">
			<i class="icon-location"></i>
			<span>${callerLocation}</span>
		</p>
	</div>
</script>
<script id="freshfone-call-meta-template" type="text/x-jquery-tmpl">
	${callMeta}
</script>
