<div class="transfer_call_container">
	<div class="transfering_call hide">
		<%= t('freshfone.widget.transferring').html_safe %>
	</div>
	<div class="add_call_note">
		<div id="online-agents-list">
			<span class="available_agents_searchicon searchicon"></span>
				<input class="search" placeholder="<%= t('freshfone.widget.transfer_agents') %>" />
		    <ul class="available_agents_list"></ul>
		</div>

		<div class="hide">
		    <!-- A template element is needed when list is empty, TODO: needs a better solution -->
		    <li id="agents-item">
		       <h3 class="available_agents_avatar avatar"></h3>
		       <p class="available_agents_name name"></p>
					 <span class="hide id"></span>
		    </li>
		</div>
		<div class="no_available_agents">
			<%= t('freshfone.widget.unavailable_agents') %>
		</div>
	</div>	
</div>
