<div class="tab-pane hide" id="freshfone_dialpad">
	<input type="hidden" id="lastDial">
	<%= render :partial => 'layouts/shared/freshfone/freshfone_dialpad' %>
	<div id="recent_calls"></div>
	<div class="dialpad_icon">
		<span class="dialpad ficon-ff-dialpad" id="freshfone-dialpad-icon"></span>
	</div>	
	<span class="triangle"></span>
</div>
<div id="freshfone_available_agents" class="hide ffone_available_agents">
	<%= render :partial => 'layouts/shared/freshfone/freshfone_transfer_call' %>
</div>
<div id="end_call" class="hide ffone-end-call">
	<%= render :partial => 'layouts/shared/freshfone/freshfone_end_call' %>
</div>
<div id="ongoing_dialpad">
  <%= render :partial => 'layouts/shared/freshfone/ongoing_dialpad' %>
</div>
