<div  class='freshfone_add_ticket'>
  <div id='add_ticket_container' class='ticket_container_padding'>
    <span class="ticket_details_box">
      <span class="add_icon_padding">
        <a class='ficon-plus fsize-18'></a>
      </span>
      <span class='save_ticket_text'> <%= t('freshfone.widget.save_ticket_to_call') %> </span>
    </span>
    <span id='current_ticket_id' class="btn btn-link current-ticket-id pull-right"></span>
  </div>
  <div id='saved_ticket_container' class='ticket_container_padding hide'>
    <span id='added_ticket_details' class="added-ticket-details">
      <span class='ticket_id'> </span>
      <span class='ticket_subject'> </span>
    </span>
    <span class='ficon-cross fsize-18 unattach_ticket_icon pull-right'></span>
  </div>
</div>