<div class="ff-context-container">
	<div class="caller-context">
		<%= render :partial => 'layouts/shared/freshfone/freshfone_caller_context'%>
	</div>
	<div class="recent-ticket-context" >
		<%= render :partial => 'layouts/shared/freshfone/freshfone_recent_tickets' %>
	</div>
	<div id="freshfone_add_notes" class="hide ffone-add-notes">
		<%= render :partial => 'layouts/shared/freshfone/freshfone_add_notes' %>
	</div>
</div>