  <div class="ff_desktop_notification hide">
    <div class="desktopNotifier inline"><%= font_icon "bell", :size => 14 %></div>
    <div class="inline"><%= t('freshfone.widget.desktop_notification') %></div>
  </div>