<div class="freshfone_notification">
	<div class="notifier-container-slimmer" id="freshfone_notification_container">
		<script id="incomingWidget" type="text/x-jquery-tmpl">
			<div class="notifier">
				<div class="avatar">
				</div>
				<div class="customer">
				</div>
				<div class="action">
					<div class="ignore" id="reject_call">
					</div>
					<div class="accept" id="accept_call">
					</div>
				</div>
			</div>
		</script>
	</div>
</div>
<script id="freshfone-contact-template" type="text/x-jquery-tmpl">
	<b class="ellipsis">${callerName}</b>
	<div class="notifier_number">${formattedNumber}</div>
</script>
<script id="ffone-contact-template-nameless" type="text/x-jquery-tmpl">
	<div class="primary notifier_number">${formattedNumber}</div>
</script>