<div class="freshfone_error_info hide tooltip" data-placement="left" data-original-title="<%= t('freshfone.widget.network_error')%>" id="freshfone-error-widget">
  <div class="fone_connection_left">
    <span class="fone_icon_connection"></span>
    <span class="fone_loader_mark fone_loader"></span>
  </div>
  <div class="fone_error_wrap">
  </div>
</div>