<div class="add_call_note">
	<div class="header">
		<h1 class="header_text title"><%= t('freshfone.widget.notes') %> <span class="note_from_agent"></span></h1>
	</div>
	<textarea id="call_notes" class="call_notes" placeholder="<%= t('freshfone.widget.note_placeholder') %>"></textarea>
</div>