<div class="report-panel-wrapper">
   <%if(tab){%>		
	<div class="report-panel-left">
		<%=  JST["survey/reports/template/stats_tab_layout"]() %>
	</div>
   <%}%>	
	<div class="report-panel-content">
		<%=  JST["survey/reports/template/stats_detail_layout"]() %>
	</div>
</div>