<div class="report-panel-wrapper">	
	<div id="survey_report_sidebar" class="report-panel-left">
	</div>

	<div class="report-panel-content">
		<%=  JST["survey/reports/template/stats_detail_layout"]() %>
	</div>
</div>