<div class='wf_values_table checkboxSet' id='<%= "div_wf_v#{index}_0" %>'>
	<%= hidden_field_tag("wf_v#{index}_0", "") %>	
	<%# if filter_obj[:condition].to_s == "source" %>
	  <%# select("wf_v#{index}_0", "", filter_obj[:options].collect { |k, v| [v, k] }, {}, { :multiple => true, :class => "chzn-select view_checkbox", "data-placeholder" => "Select from #{filter_obj[:name]}"}) %>
	<%# else %>
  	<% filter_obj[:options].each do |k,v|   %>
  	  <div class="item">
  	    <%= check_box_tag v, k, false, { :class => "view_checkbox", :data_hidden_id => "wf_v#{index}_0", :dropdown_index => "#{index}" } %> <%= v %> 
  	  </div>
  	<% end %>
	<%# end %>	
</div>
