<li>
  <h3><%= link_to(guide.name, support_guide_path(guide)) %></h3>
  <blockquote><%= guide.description %></blockquote>
  <ol class="articles">
    <% for article in guide.articles.display_order.limit(article_limit) %>
      <li>
      <%= link_to(article.title, support_guide_path(guide, :anchor => article.to_param)) %>
      </li>
    <% end %>
  </ol>

  <%= link_to(
    "More", 
    support_guide_path(guide),
    :class => 'more') if article_limit && guide.articles.count > article_limit %>
</li>
