<% content_for :layoutType do %>single<% end %>

<% content_for :sidebar do %>
	<%= link_to "Request Support", (current_user) ? new_support_ticket_path : new_anonymous_request_path, :class => :request %>				 
	<h3>Jump to User Guide:</h3>
	<ol class="guides">
	  <%= Helpdesk::Guide.display_order.visible.all(:conditions => { :account_id => current_account.id }).map { |g| content_tag(:li, link_to(g.name, support_guide_path(g))) } %>
	</ol>
<% end %>

<div class="pageContent">	
	<%= render :partial => '/support/shared/article_search' %>
	
	<ol class="guides">
	  <%= render(
	    :partial => 'guide', 
	    :collection => @guides, 
	    :locals => { :article_limit => 5 }) %>
	</ol>
</div>