<header class="header">
	<section class="container">
		<div class="brand">
			<img src="{{portal.logo}}" />
			<h2 class="logo_text">{{portal.name}}</h2>
		</div>
	</section>
</header>
<header class="portal-nav">
	<div class="wrapper">
		<div class="pull-right">
			<div class="well top-submit-btn">
				<button class="btn btn-ticket" type="button"><i class='icon-file'></i> Submit a ticket </button>
			</div>
		</div>
		<ul class="portal-tabs">
			{% for tab in portal.tabs %}
			<li>
				<a href="{{ tab.url }}">{{ tab.label }}</a>
			</li>
			{% endfor %}
		</ul>
	</div>
</header>