<header class="header">
	<section class="container">
		<div class="header-links">
			<a href="{{portal.login_path}}">login</a>
			<a href="{{portal.signup_path}}">Sign up</a>
		</div>
		<div class="brand">
			<img src="{{portal.logo}}" />
			<h2 class="logo_text">{{portal.name}}</h2>
		</div>
	</section>
</header>