{{ header_content }}  
<section id="support-portal" class="container">
	<div class="page-container">
		<div class="row-fluid">			
	  		<div class="span9">
	  			<div class="page-body">
	  				{{ body_content }}
	  			</div>
	  			{{ footer_content }}
	  		</div>	  		
	  		<div class="span3">
	  			<div class="page-node">
	  				Call us @ 888 888 888
	  			</div>
	  			{% translate 'enabled' %}
	  		</div>
	  	</div>	  
  	</div> 
</section>
