<p>
Dear User,
</p>
<p>
The following Admin Bulk Action has been successfully completed.
<table border=1>
<% @redis_info.except(:batches).each do |key, value| %>
<tr>
	<th> <%= key %> </th>
	<td> <%= value.html_safe %> </td>
</tr>
<% end %>
</table>

</p>
<p>
Regards
<br/>
Freshdesk Team
</p>