<div class="reports-title span12">
	<div class="selected-menu-logo span1">
		<%= font_icon "ticket-volume", :size => 32 %>
	</div>
	<div class="span11">
		<div class="report-title-block">
			<span id="report-title"></span>
			<span class="grey-arrow-down title-dropdown"></span>
		</div>
	</div>
</div>
<div class="reports-filter span12">
	<div class="edit-filter span1">
		<button class="btn btn-primary" id="metric-edit"><%=t('helpdesk_reports.edit_filter') %></button>
	</div>
	<div class="filter-type span11">
		<ul></ul>
	</div>
	<!-- Reports menu temporarily removed. -->
</div>