<div class="ticket-list-wrapper hide" id="ticket_list_wrapper">
	<div class="list-title">
		<div class="title_wrapper">	
			<div class="metric_title"></div>
			<div class="metric_value"></div>
		</div>
		<div class="cross" data-action="hide-ticket-list"><%= font_icon "cross", :size => 20 %></div>
	</div>
	<%= render :partial => "reports/v2/tickets/reports/shared/export" %> 
	<div class="sla-toggle-tab hide">
		<div class="compliant">
			<a class="toggle hide" href="javascript:void(0);" data-link="compliant" data-action="toggle-ticketlist" ></a>
			<span class="title"></span> 
		</div>
		<div class="violated">
			<a class="toggle" href="javascript:void(0);" data-link="violated" data-action="toggle-ticketlist" > Violated Tickets</a>
			<span class="title hide"></span> 
		</div>
	</div>
	<div id="ticket_list"></div>
</div>	