<div class="ticket-list-wrapper" id="ticket_list_wrapper">
	<div class="list-title">
		<%=t('helpdesk_reports.tickets') %>
		<div class="cross" data-action="hide-ticket-list"><%= font_icon "cross", :size => 20 %></div>
	</div>
	<div id="ticket_list"></div>
</div>