package_assets:         on          # (on, off, always)
embed_assets:           off         # (on, off, datauri)
compress_assets:        on          # (on, off)
package_path:           packages    # (defaults to assets)
javascript_compressor:  uglifier    # (yui, closure)
allow_debugging:        on

stylesheets:
  print:
    - public/stylesheets/print.css

  common:
    - public/stylesheets/reset.css
    - public/stylesheets/layout.css
    - public/stylesheets/defaults.css
    - public/stylesheets/application.css
    - public/stylesheets/test.css
    - public/stylesheets/validation.css
    - public/stylesheets/form.css
    - public/stylesheets/buttons.css
    - public/stylesheets/chosen.css
    - public/stylesheets/table.css
    - public/stylesheets/autocomplete.css
    - public/stylesheets/jquery-ui.css
    - public/stylesheets/jquery.qtip.css
    - public/stylesheets/ie.css

  widget:
    - public/stylesheets/reset.css   
    - public/stylesheets/defaults.css
    - public/stylesheets/form.css
    - public/stylesheets/buttons.css
    - public/stylesheets/ie.css 

  freshwidget:
    - public/stylesheets/freshwidget.css

  gadget:
    - public/stylesheets/reset.css
    - public/stylesheets/layout.css
    - public/stylesheets/defaults.css
    - public/stylesheets/application.css
    - public/stylesheets/test.css
    - public/stylesheets/validation.css
    - public/stylesheets/form.css
    - public/stylesheets/buttons.css
    - public/stylesheets/chosen.css    
    - public/stylesheets/autocomplete.css
    - public/stylesheets/jquery-ui.css
    - public/stylesheets/jquery.qtip.css
    - public/stylesheets/ie.css
    - public/stylesheets/gadget.css

  subscription:
    - public/stylesheets/bootstrap.css
    - public/stylesheets/bootstrap-responsive.css
    - public/stylesheets/subscription.css
  
  satisfaction:
    - public/stylesheets/satisfaction.css      
  	
javascripts:
  defaults:
    - public/javascripts/prototype.js
    - public/javascripts/effects.js
    - public/javascripts/dragdrop.js
    - public/javascripts/controls.js
    - public/javascripts/application.js
  frameworks:
    - public/javascripts/frameworks/jquery.js
    - public/javascripts/frameworks/sprintf.js
    - public/javascripts/frameworks/plugins/jquery.chosen.js
    - public/javascripts/frameworks/plugins/jquery.cookie.js
    - public/javascripts/frameworks/plugins/jquery.form.js
    - public/javascripts/frameworks/plugins/jquery.livequery.js
    - public/javascripts/frameworks/plugins/jquery.noblecount.js
    - public/javascripts/frameworks/plugins/jquery.overlabel.js
    - public/javascripts/frameworks/plugins/jquery.pageless.js
    - public/javascripts/frameworks/plugins/jquery.placeholder.js    
    - public/javascripts/frameworks/plugins/jquery.qtip.js
    - public/javascripts/frameworks/plugins/jquery.tinymce.js
    - public/javascripts/frameworks/plugins/jquery.tweetfeed.js
    - public/javascripts/frameworks/plugins/jquery.tmpl.js
    - public/javascripts/frameworks/plugins/jquery.ui.js
    - public/javascripts/frameworks/plugins/jquery.validate.js
    - public/javascripts/hackz.js
    - public/javascripts/lib/nestedtree.js
    - public/javascripts/frameworks/plugins/jquery.nested_select_tag.js
  visitor:
    - public/javascripts/frameworks/session.js            
  workspace: 
    - public/javascripts/bootstrap/*.js
    - public/javascripts/utils.js
    - public/javascripts/fast_autocompleter.js    
    - public/javascripts/humane.js
    - public/javascripts/factory_ui.js
    - public/javascripts/lib/json2.js
    - public/javascripts/globalinit.js
  timesheet:
    - public/javascripts/timesheet.js
  freshwidget:
    - public/javascripts/freshwidget.js
  fdwidget:
    - public/javascripts/prototype.js
    - public/javascripts/frameworks/jquery.js
    - public/javascripts/frameworks/plugins/jquery.tmpl.js
    - public/javascripts/frameworks/plugins/jquery.validate.js
    - public/javascripts/lib/nestedtree.js
    - public/javascripts/frameworks/plugins/jquery.nested_select_tag.js
  custom_widget:
    - public/javascripts/custom_widget.js
  getting_started:
    - public/javascripts/getting_started.js
  subscription:                    
    - public/javascripts/prototype.js  
    - public/javascripts/jquery-1.7.1.min.js
    - public/javascripts/bootstrap.js
  conditional:
    - public/javascripts/autosuggest.js    
    - public/javascripts/frameworks/plugins/jquery.nestedselect.js
    - public/javascripts/condition-filter.js  
  ticket_fields:
    - public/javascripts/frameworks/plugins/jquery.tabby.js
    - public/javascripts/lib/nestedtree.js
    - public/javascripts/frameworks/tf_customizer.js
  survey:
    - public/javascripts/frameworks/jquery.js
    - public/javascripts/frameworks/plugins/jquery.validate.js
