---  
- options: 
    display_in_pages: 
    - contacts_show_page_side_bar
  script: |- 
          <script type="text/javascript">
              CustomWidget.include_js("/javascripts/capsule_crm.js")
              capsuleBundle={ t:"{{capsule_crm.api_key}}", reqId:"{{requester.id}}", reqName:"{{requester.name | escape_html}}", reqOrg:"{{requester.company_name | escape_html}}", reqPhone:"{{requester.phone}}", reqEmail:"{{requester.email}}", domain:"{{capsule_crm.domain}}", title:"{{capsule_crm.title}}"};
          </script>
  name: contact_widget
  id: 1
  description: widgets.contact_widget.description
  application_type: capsule_crm

- options: 
    display_in_pages:
    - helpdesk_tickets_show_page_side_bar
    - contacts_show_page_side_bar
  script: |-
          <script type="text/javascript">
            freshbooksBundle={domain:"{{freshbooks.api_url}}", application_id:"{{application.id}}", integrated_resource_id:"{{integrated_resource.id}}", invoice_type:"{{freshbooks.invoice_option}}", remote_integratable_id:"{{integrated_resource.remote_integratable_id}}", ticketId:"{{ticket.display_id}}", agentEmail:"{{agent.email}}", reqEmail:"{{requester.email | escape_html}}", reqCompany:"{{requester.company_name | escape_html}}",reqName:"{{requester.name | escape_html}}", widget_type:"{{widget_type}}"};
            Fjax.Assets.integration('freshbooks', function () {
              if ("{{widget_type}}" == "_contacts") {
                new FreshbooksContactWidget(freshbooksBundle);
              }
              else if ("{{widget_type}}" == "_side_bar") {
                new FreshbooksInvoiceWidget(freshbooksBundle);
              }
              else {
                new FreshbooksWidget(freshbooksBundle, freshbooksinline);
              }
            });         
          </script>
  name: freshbooks_timeentry_widget
  id: 2
  description: freshbooks.widgets.timeentry_widget.description
  application_type: freshbooks

- options: 
  script: |- 
          <script type="text/javascript">
              harvestBundle={domain:"{{harvest.domain}}", application_id:"{{application.id}}", current_user:"{{current_user.id}}",integrated_resource_id:"{{integrated_resource.id}}", remote_integratable_id:"{{integrated_resource.remote_integratable_id}}", ticketId:"{{ticket.display_id}}", agentEmail:"{{agent.email}}", reqEmail:"{{requester.email}}"};       
              CustomWidget.include_js("/javascripts/integrations/harvest.js");
          </script>
  name: harvest_timeentry_widget
  id: 3
  description: harvest.widgets.timeentry_widget.description
  application_type: harvest

- options: 
  script: |-
    
          <div id="jira_widget">
            <div class="content"></div>
          </div>
          <pre class="hide" id="jira-note">
            {{jira.jira_note}}
           </pre>
          <script type="text/javascript">
            CustomWidget.include_js("/javascripts/integrations/atlassian-jira.js");
            jiraBundle={domain:"{{jira.domain}}", application_id:"{{application.id}}", integrated_resource_id:"{{integrated_resource.id}}", remote_integratable_id:"{{integrated_resource.remote_integratable_id}}", ticketId:"{{ticket.id}}", ticket_url:"{{ticket.public_url}}",ticket_rawId:"{{ticket.raw_id}}", ticketSubject:"{{ticket.subject | h}}", agentEmail:"{{agent.email}}", reqEmail:"{{requester.email}}", username:"{{jira.username}}", custom_field_id:"{{jira.customFieldId}}", attachments: {{cloud_files}} } ;
            Fjax.Assets.integration('jira', function () {
              new JiraWidget(jiraBundle);
            });
          </script>
  name: jira_widget
  id: 4
  description: jira.widgets.jira_widget.description
  application_type: jira

- options: 
    display_in_pages: 
    - contacts_show_page_side_bar

  script: |-
          <script type="text/javascript">
              CustomWidget.include_js("/javascripts/integrations/sugarcrm.js");
              sugarcrmBundle={domain:"{{sugarcrm.domain}}", reqEmail:"{{requester.email}}", username:"{{sugarcrm.username}}", password:"{{sugarcrm.password}}"} 
          </script>
  name: sugarcrm_widget
  id: 5
  description: sugarcrm.widgets.sugarcrm_widget.description
  application_type: sugarcrm

- options: 
  script: |- 
          <script type="text/javascript">
              workflowMaxBundle={ k:"{{workflow_max.api_key}}", a:"{{workflow_max.account_key}}", api_url:"https://api.workflowmax.com" , application_id:"{{application.id}}", integrated_resource_id:"{{integrated_resource.id}}", remote_integratable_id:"{{integrated_resource.remote_integratable_id}}", ticketId:"{{ticket.display_id}}", agentEmail:"{{agent.email}}", reqEmail:"{{requester.email}}"};
              CustomWidget.include_js("/javascripts/integrations/workflow_max.js");
          </script>
  name: workflow_max_timeentry_widget
  id: 6
  description: workflow_max.widgets.timeentry_widget.description
  application_type: workflow_max

- options: 
    display_in_pages: 
    - contacts_show_page_side_bar

  script: |-
          <script type="text/javascript">
            var salesforceBundle={domain:"{{salesforce.instance_url}}", reqEmail:"{{requester.email}}", contactFields:"{{salesforce.contact_fields}}", leadFields:"{{salesforce.lead_fields}}", contactLabels:"{{salesforce.contact_labels}}", leadLabels:"{{salesforce.lead_labels}}", reqName:"{{requester.name | escape_html}}" , accountLabels:"{{salesforce.account_labels}}", accountFields:"{{salesforce.account_fields}}" , reqCompany : "{{requester.company_name}}" } ;
            Fjax.Assets.integration('salesforce', function () {
              new SalesforceWidget(salesforceBundle);
            });
          </script>
  name: salesforce_widget
  id: 7
  description: salesforce.widgets.salesforce_widget.description
  application_type: salesforce

- options: 
  script: |-
          <div class="clearfix"><h3 class="title pull-left">{{logmein.title | encode_html}} </h3><div class="class="integrations-logmein_logo pull-right"></div></div>
            <div id="logmein_widget">
              <div class="content"></div>
              <div class="error hide"></div>
            </div>
          <script type="text/javascript">
            CustomWidget.include_js("/javascripts/integrations/logmein.js");
            logmeinBundle={ticketId:"{{ticket.raw_id}}", installed_app_id:"{{installed_app_id}}", agentId:"{{agent.id}}", accountId: "{{account_id}}", reqName:"{{requester.name | h}}", secret:"{{md5secret}}", pincode:"{{cache.pincode}}", pinTime:"{{cache.pintime}}", ssoId:"{{agent.email}}", companyId:"{{logmein.company_id}}", authcode:"{{logmein.authcode}}"} ;
           </script>
  name: logmein_widget
  id: 8
  description: logmein.widgets.logmein_widget.description
  application_type: logmein

- options:
    display_in_pages: 
    - contacts_show_page_side_bar

  script: |-
          <script type="text/javascript">
              batchbookBundle={ domain:"{{batchbook.domain}}", k:"{{batchbook.api_key}}", reqEmail: "{{requester.email}}", reqName: "{{requester.name | escape_html}}", ver: "{{batchbook.version}}"};        
              CustomWidget.include_js("/javascripts/integrations/batchbook.js");
          </script>
  name: batchbook_widget
  id: 9
  description: batchbook.widgets.batchbook_widget.description
  application_type: batchbook

- options:
    display_in_pages: 
    - contacts_show_page_side_bar

  script: |-
          <script type="text/javascript">
              highrise_options={ domain:"{{highrise.domain}}", k:"{{highrise.api_key}}", reqEmail: "{{requester.email}}", reqName: "{{requester.name | escape_html}}"};
              CustomWidget.include_js("/javascripts/integrations/highrise.js");
          </script>
  name: highrise_widget
  id: 10
  description: highrise.widgets.highrise_widget.description
  application_type: highrise

- options:
    display_in_pages: 
    - contacts_show_page_side_bar
    clazz: hide

  script: |-
          <script type="text/javascript">
              CustomWidget.include_js("/javascripts/integrations/mailchimp.js");
              mailchimpBundle={api_endpoint:"{{mailchimp.api_endpoint}}", reqEmail:"{{requester.email}}", reqName:"{{requester.name | escape_html}}",  token:"{{mailchimp.oauth_token}}", export: "{{export}}" , fname: "{{requester.firstname | escape_html}}" , lname: "{{requester.lastname | escape_html}}"  } ;
          </script>
  name: mailchimp_widget
  id: 11
  description: mailchimp.widgets.mailchimp_widget.description
  application_type: mailchimp

- options:
    display_in_pages: 
    - contacts_show_page_side_bar
    clazz: hide

  script: |-
          <script type="text/javascript">
            CustomWidget.include_js("/javascripts/integrations/constantcontact.js");
            ccBundle={reqEmail:"{{requester.email}}", reqName:"{{requester.name | escape_html}}",  token:"{{constantcontact.oauth_token}}", export: "{{export}}", uid: "{{constantcontact.uid}}"  } ;
          </script>
  name: constantcontact_widget
  id: 12
  description: constantcontact.widgets.constantcontact_widget.description
  application_type: constantcontact

- options:
    display_in_pages: 
    - contacts_show_page_side_bar
    clazz: hide

  script: |-
          <script type="text/javascript">
            CustomWidget.include_js("/javascripts/integrations/icontact.js");
            icontactBundle={reqEmail:"{{requester.email}}", reqName:"{{requester.name | escape_html}}",  app_id:"{{icontact.app_id}}", username:"{{icontact.username}}", api_url:"{{icontact.api_url}}", app_id:"{{icontact.app_id}}", export: "{{export}}"  } ;
          </script>
  name: icontact_widget
  id: 13
  description: icontact.widgets.icontact_widget.description
  application_type: icontact

- options:
    display_in_pages: 
    - contacts_show_page_side_bar
    clazz: hide

  script: |-
          <script type="text/javascript">
            CustomWidget.include_js("/javascripts/integrations/campaignmonitor.js");
            cmBundle={reqEmail:"{{requester.email}}", reqName:"{{requester.name | escape_html}}", api_key:"{{campaignmonitor.api_key}}", client_id:"{{campaignmonitor.client_id}}", export: "{{export}}"};
          </script>
  name: campaignmonitor_widget
  id: 14
  description: campaignmonitor.widgets.campaignmonitor_widget.description
  application_type: campaignmonitor

- options:
    display_in_pages: 
    - contacts_show_page_side_bar

  script: |-
          <script type="text/javascript">
              zohocrm_options={ k:"{{zohocrm.api_key}}", reqEmail: "{{requester.email}}", reqName: "{{requester.name | escape_html}}"};
              CustomWidget.include_js("/javascripts/integrations/zohocrm.js");
          </script>
  name: zohocrm_widget
  id: 15
  description: Zoho CRM widget.
  application_type: zohocrm

- options:
    display_in_pages: 
    - helpdesk_tickets_show_page_side_bar

  script: |-
          <script src="/javascripts/pattern/bootstrap-typeahead.js" type="text/javascript"></script>
          <div id="google_calendar_widget"">
            <div class="content">
              <div class="title">
                <span>
                  Google Calendar
                </span>
                <a href="#" class="pull-right" id="add_event_link">Add Event</a><br>
                <span id="gcal-email-container" class="hide">{{installed_app.user_registered_email}}</span>
                <br>
                <a href="{{installed_app.oauth_url}}" id="gcal-change-account-link" class="hide">Change</a>
              </div>
              <div class="gcal-content-body">
                <div id="gcal-older-events-link-container" class="hide"><span class="arrow-right" id="gcal-older-events-arrow"></span><a id="gcal-older-events-link" href="#older_events">Older Events</a></div> 
                <div id="google_calendar_events_container"></div>
              </div>
            </div>
            <div class="error hide"></div>
          </div>
          <script type="text/javascript">
            var google_calendar_options={
              domain:"www.googleapis.com",
              application_id: {{application.id}},
              oauth_token:"{{installed_app.user_access_token}}",
              ticket_id: parseInt('{{ticket.id}}'),
              ticket_subject: "{{ticket.subject | encode_html | strip_newlines}}",
              events_list: [{{installed_app.events_list}}],
              oauth_url: "{{installed_app.oauth_url}}"
            };
            CustomWidget.include_js("/javascripts/integrations/google_calendar.js");
          </script>
    
  name: google_calendar_widget
  id: 16
  description: google_calendar.widgets.google_calendar.description
  application_type: google_calendar

- options:
    display_in_pages: 
    - contacts_show_page_side_bar
  script: |- 
          <script type="text/javascript">
            CustomWidget.include_js("/javascripts/integrations/nimble.js");
            nimbleBundle={domain:"{{nimble.instance_url}}", reqName: "{{requester.name | escape_html}}", reqEmail:"{{requester.email}}", oauth_token:"{{nimble.oauth_token}}" } ;
          </script>
  name: nimble_widget
  id: 17
  description: nimble.widgets.nimble_widget.description
  application_type: nimble

- options: 
  script: |-
          <div class="sloading loading-block loading-small" id="pivotal_tracker_loading"></div>
          <script type="text/javascript">
            pivotal_bundle={ticketId:"{{ticket.id}}", ticketSubject:"{{ticket.subject | h}}", get_pivotal_updates:"{{integrated_resource["get_updates"]}}",webhooks_application_ids:"{{integrated_resource["webhooks_application_ids"]}}",local_integratable_id:"{{integrated_resource["local_integratable_id"]}}", remote_integratable_id:"{{integrated_resource["remote_integratable_id"]}}", resource_id:"{{integrated_resource["resource_id"]}}", reqEmail:"{{requester.email}}" , application_id:"{{application.id}}"};
            CustomWidget.include_js("/javascripts/integrations/pivotal_tracker.js");
          </script>
  name: pivotal_tracker_widget
  id: 18
  description: integrations.pivotal_tracker.widget.description
  application_type: pivotal_tracker

- options:
    display_in_pages:
    - helpdesk_tickets_show_page_side_bar
    - contacts_show_page_side_bar
  script: |-
          <script type="text/javascript">
              CustomWidget.include_js("/javascripts/integrations/shopify.js");
              shopifyBundle={domain:"https://{{shopify.shop_name}}", reqEmail:"{{requester.email}}", widget_type:"{{widget_type}}" } ;
          </script>
  name: shopify_widget
  id: 19
  description: integrations.shopify.desc
  application_type: shopify

- options:
    display_in_pages:
    - helpdesk_tickets_show_page_side_bar 
  script: |-
          <script type="text/javascript">
            seoshopBundle={domain:"https://api.webshopapp.com/{{seoshop.language}}", reqEmail:"{{requester.email}}"} ;
            CustomWidget.include_js("/javascripts/integrations/seoshop.js");
          </script>
  name: seoshop_widget
  id: 20
  description: integrations.seoshop.desc
  application_type: seoshop

- options:
    display_in_pages:
    - contacts_show_page_side_bar
  script: |-
          <script type="text/javascript">
            CustomWidget.include_js("/javascripts/integrations/dynamicscrm.js");
            dynamicscrmBundle={ reqEmail:"{{requester.email}}", domain:"{{dynamicscrm.domain}}", endpoint:"{{dynamicscrm.endpoint}}"  } ;
          </script>
  name: dynamicscrm_widget
  id: 21
  description: dynamicscrm.widgets.dynamicscrm_widget.description
  application_type: dynamicscrm

- options:
    display_in_pages:
    - contacts_show_page_side_bar
    - helpdesk_tickets_show_page_side_bar
  script: |-
          <script type="text/javascript">
            quickbooksBundle={domain:"https://quickbooks.api.intuit.com", token_renewal_date:"{{quickbooks.token_renewal_date}}", invoice_option:"{{quickbooks.invoice_option}}", companyId:"{{quickbooks.company_id}}", application_id:"{{application.id}}", integrated_resource_id:"{{integrated_resource.id}}", remote_integratable_id:"{{integrated_resource.remote_integratable_id}}", reqEmail:"{{requester.email}}", reqName:"{{requester.name | escape_html}}", reqId:"{{requester.id}}", reqCompany:"{{requester.company_name | escape_html}}", agentEmail:"{{agent.email}}", agentName:"{{agent.name | escape_html}}", ticketId:"{{ticket.id}}"};
            Fjax.Assets.integration('quickbooks', function () {
              if ("{{widget_type}}" == "_contacts") {
                new QuickBooksContactsWidget(quickbooksBundle);
              }
              else if ("{{widget_type}}" == "_side_bar") {
                new QuickBooksInvoiceWidget(quickbooksBundle);
              }
              else {
                new QuickBooksWidget(quickbooksBundle, quickbooksinline);
              }
            });
          </script>
  name: quickbooks_timeentry_widget
  id: 22
  description: integrations.quickbooks.desc
  application_type: quickbooks

- options:
    display_in_pages:
    - helpdesk_tickets_show_page_side_bar
  script: |-
          <script type="text/javascript">
            xeroBundle={invoice_name:"",integrated_resource_id:"",remote_integratable_id:"",reqEmail:"{{requester.email}}", reqName:"{{requester.name | escape_html}}", reqCompanyName:"{{requester.company_name | escape_html}}",application_id:"{{application.id}}", ticket_id:"{{ticket.id}}", ticket_timesheet: {{timesheet}} } ;
            CustomWidget.include_js("/javascripts/integrations/xero.js");
          </script>
  name: xero_widget
  id: 21
  description: integrations.xero.desc
  application_type: xero

- options:
    display_in_pages:
    - helpdesk_tickets_show_page_side_bar
  script: |-
          <script type="text/javascript">
            githubBundle={can_set_milestone:"{{github.can_set_milestone}}", application_id:"{{application.id}}", integrated_resource_id:"", remote_integratable_id:"", ticketId:"{{ticket.id}}",ticket_rawId:"{{ticket.raw_id}}", ticketSubject:"{{ticket.subject | h}}", repositories:{{installed_app.configs_repositories}} };
            Fjax.Assets.integration('github', function () {
              new GithubWidget();
            });
          </script>
  name: github_widget
  id: 24
  description: github.widgets.github_widget.description
  application_type: github

- options:
    display_in_pages:
    - helpdesk_tickets_show_page_side_bar
  script: |-
          <script type="text/javascript">
            magentoBundle={reqEmails:"{{requester.all_emails}}", from_email: "{{ticket.from_email}}", ticket_id: "{{ticket.id}}" };
            Fjax.Assets.integration('magento', function () {
              new MagentoWidget(magentoBundle);
            });
          </script>
  name: magento_widget
  id: 25
  description: integrations.magento.desc
  application_type: magento
