<div class="page-header">
	<h2><%= @page_title = 'Edit Discount' %></h2>
</div>

<% form_for [:admin, @subscription_discount], :html => {:class => "form-horizontal"} do |form| %>
  <%= render :partial => 'form', :object => form %>
<% end %>