<div class="collab-is-typing">
	<div class="collab-typing-wave">
		<span class="collab-typing-dot"></span>
		<span class="collab-typing-dot"></span>
		<span class="collab-typing-dot"></span>
	</div>
	<span> <span class="collab-typer-name ellipsis"><%= current_typer %></span>  <%=I18n.t('collaboration.collab_is_typing')%></span>
</div>
