<% javascript_tag do %>
  customMessages = {
    confirmNavigate: '<%= t("admin.products.portal.save_and_continue") %>'
}
<% end %>
<%= f.error_messages %> 
<div class="row-fluid">
  <div class="span12">
    <ul class="form-horizontal contact-form">

    <% company_fields.each do |field| %>
    <%=  render_as_list f, field %>
    <% end %>

    </ul>  
  </div>
</div>