<div class="sidepanel"> 
	<%= content_tag( :h3, t('chatwidget_help_content.title'), :class => 'title' ) %>
	<%= content_tag( :p,  t('chatwidget_help_content.info1')) %>
	<%= content_tag( :p,  t('chatwidget_help_content.info2')) %>
	<%= content_tag( :p,  t('chatwidget_help_content.info3').html_safe) %>
</div>