<div class="sidepanel">
    <h3 class="title"><%=t('admin.canned_responses.helpnote.title')%></h3>
    <p><%=t('admin.canned_responses.helpnote.info1')%></p> 
    <p><%=t('admin.canned_responses.helpnote.info2')%></p> 
</div>