<% content_for :sidebar do -%><%- end %>
<div class="floatr">
		<%= link_to t('.new'), new_admin_canned_response_path, :class => "uiButton"  %>
</div>
<h3 class="title"><%=t('.title')%></h3>
<div>	
	<ul class="admin_list">
	  <%= each_or_message("ca_response", @ca_responses, t("no_message.canned_responses")) %>
	</ul>
</div>