<div class="top_banner">
	<div class="top-banner-content">
		<img src="/images/misc/freshdesklogo.png" alt="Freshdesk" width="204px" height="50px"/>
		<span class="marketplace-link">
			<%= t('link_with_marketplace') %>
		</span>
	</div>
</div>
<%= show_flash %>
<div class="google-signup-content">
	<div class="tab-content">
	  <div class="tab-pane active" id="new-account">
			<div class="ui-form" id="signup-form">
				<%= t('.error_message').html_safe %>
			</div>
		</div>
	</div>
</div>