<ul class="ui-form gamesettings">
    <li>
      <div class="floatr"> 
          <%= link_to t('.new_quest'), new_admin_quest_path, :class => "uiButton" %>
      </div>
      <div class="section-title">
        <%= content_tag(:h3, t('.quest_title'))%>
        <br />
        <p class="help-text">
          Well, it must be removed,' said the King very decidedly, and he called the Queen, who was passing at the moment,
          'My dear! I wish you would have this cat removed!' The Queen had only one way of settling all difficulties, great or small. 
        </p>
        <br />
      </div>
      <div id="quests-container" class="admin-list">
        <%= render :partial => "/admin/quests/quest", :collection => @quests %>
      </div>
    </li>    
</ul>  