<div class="list-page">
  <div class="list-page-header">
    <div class="pull-right"> 
        <%= link_to t('.new_quest'), new_admin_quest_path, :class => "btn btn-primary" %>
    </div>
    <div>
      <%= content_tag(:h3, t('.quest_title'), :class =>"sub-lead")%>
      <p class="muted"> <%= t('.quest_description') %>  </p>
    </div>
  </div>
  <div class="list-page-body" id="quests-container">
    <table class="table table-striped admin-list">
      <%= render :partial => "/admin/quests/quest", :collection => @quests %>
    </table>
  </div>
</div>