<h3 class="title">New Quest</h3>
<% form_for :quest, @quest, :url => admin_quests_path, :html => { :method => :post , :id => "formQuestNew" } do |f| %>
	<%= render :partial => "/admin/quests/quest_form", :locals => { :f => f } %>
<% end %>
