//
// Font icon - Unicode variables.
//


$font-glyphs-abandoned-call: "\f1e5";
$font-glyphs-account: "\f100";
$font-glyphs-add-attachment: "\f26a";
$font-glyphs-add-call: "\f21f";
$font-glyphs-add-people: "\f26b";
$font-glyphs-add-section: "\f273";
$font-glyphs-agent: "\f101";
$font-glyphs-agent-fchat-off: "\f1b0";
$font-glyphs-agent-fchat-on: "\f280";
$font-glyphs-agent_summary: "\f21a";
$font-glyphs-alert: "\f201";
$font-glyphs-align-center: "\f237";
$font-glyphs-align-justify: "\f238";
$font-glyphs-align-left: "\f239";
$font-glyphs-align-right: "\f261";
$font-glyphs-all-streams: "\f102";
$font-glyphs-android: "\f103";
$font-glyphs-announcement-new: "\f2a7";
$font-glyphs-announcements: "\f29e";
$font-glyphs-answer-checked: "\f104";
$font-glyphs-answer-unchecked: "\f105";
$font-glyphs-apple: "\f106";
$font-glyphs-apps: "\f213";
$font-glyphs-archived-ticket: "\f203";
$font-glyphs-arrow-click: "\f1b7";
$font-glyphs-arrow-down: "\f107";
$font-glyphs-arrow-down-2: "\f108";
$font-glyphs-arrow-left: "\f109";
$font-glyphs-arrow-left-2: "\f10a";
$font-glyphs-arrow-right: "\f10b";
$font-glyphs-arrow-right-2: "\f10c";
$font-glyphs-arrow-up: "\f10d";
$font-glyphs-arrow-up-2: "\f10e";
$font-glyphs-arrows-alt: "\f23b";
$font-glyphs-arrows-v: "\f23c";
$font-glyphs-article: "\f204";
$font-glyphs-assign-to: "\f291";
$font-glyphs-attachment: "\f22d";
$font-glyphs-attachment-blank: "\f229";
$font-glyphs-available-on-mobile: "\f1b6";
$font-glyphs-bar-chart: "\f281";
$font-glyphs-bars: "\f23d";
$font-glyphs-bell: "\f10f";
$font-glyphs-billing: "\f110";
$font-glyphs-blank-file: "\f111";
$font-glyphs-blind-transfer: "\f22f";
$font-glyphs-block: "\f20c";
$font-glyphs-blocked-call: "\f20d";
$font-glyphs-bold: "\f23e";
$font-glyphs-book: "\f112";
$font-glyphs-book-dark: "\f22e";
$font-glyphs-book-hollow: "\f1da";
$font-glyphs-bot: "\f2c3";
$font-glyphs-both-direction: "\f267";
$font-glyphs-broadcast-tracker: "\f235";
$font-glyphs-building: "\f226";
$font-glyphs-bulb: "\f113";
$font-glyphs-bullhorn: "\f114";
$font-glyphs-business-hours: "\f115";
$font-glyphs-calendar: "\f1bc";
$font-glyphs-calender_new: "\f2bd";
$font-glyphs-call_phone: "\f2bb";
$font-glyphs-calling: "\f116";
$font-glyphs-camera: "\f232";
$font-glyphs-canned-response: "\f117";
$font-glyphs-caret-down: "\f118";
$font-glyphs-caret-left: "\f119";
$font-glyphs-caret-right: "\f11a";
$font-glyphs-caret-up: "\f11b";
$font-glyphs-categories: "\f1db";
$font-glyphs-categories-orphan: "\f1dc";
$font-glyphs-category: "\f223";
$font-glyphs-chat: "\f1bd";
$font-glyphs-chat-bubble: "\f11c";
$font-glyphs-chat-disable: "\f11d";
$font-glyphs-chat-enable: "\f11e";
$font-glyphs-chat-source: "\f1f3";
$font-glyphs-chat-ticket: "\f2b6";
$font-glyphs-checkbox: "\f11f";
$font-glyphs-checkbox-tick: "\f2a8";
$font-glyphs-checkmark: "\f120";
$font-glyphs-checkmark-round: "\f121";
$font-glyphs-checkmark-round-o: "\f122";
$font-glyphs-checkmark-thick: "\f123";
$font-glyphs-child-icon: "\f263";
$font-glyphs-chrome: "\f124";
$font-glyphs-clear-qna: "\f282";
$font-glyphs-clone: "\f22a";
$font-glyphs-close-qna: "\f283";
$font-glyphs-close-ticket: "\f28f";
$font-glyphs-code: "\f23f";
$font-glyphs-code-snippet: "\f240";
$font-glyphs-comment-multi: "\f125";
$font-glyphs-comments: "\f126";
$font-glyphs-comments1: "\f1d5";
$font-glyphs-company: "\f127";
$font-glyphs-compose-email: "\f1c8";
$font-glyphs-compress: "\f241";
$font-glyphs-connect-chat: "\f236";
$font-glyphs-contacts: "\f26c";
$font-glyphs-conversation: "\f128";
$font-glyphs-create-ticket: "\f297";
$font-glyphs-create-ticket-new: "\f2ab";
$font-glyphs-cross: "\f129";
$font-glyphs-cross-filled: "\f220";
$font-glyphs-cross-round: "\f214";
$font-glyphs-crown: "\f12a";
$font-glyphs-cube: "\f1dd";
$font-glyphs-cube-filled: "\f218";
$font-glyphs-cubes: "\f219";
$font-glyphs-customer-fields: "\f12b";
$font-glyphs-customer-portal: "\f12c";
$font-glyphs-customer-satisfaction: "\f1bf";
$font-glyphs-customer_report: "\f21b";
$font-glyphs-customer_satisfaction: "\f1ea";
$font-glyphs-customers-new: "\f2b4";
$font-glyphs-date: "\f12d";
$font-glyphs-day_pass: "\f12e";
$font-glyphs-db-calendar: "\f206";
$font-glyphs-db-feedback: "\f207";
$font-glyphs-db-interactions: "\f208";
$font-glyphs-db-message: "\f209";
$font-glyphs-db-sand-clock: "\f20a";
$font-glyphs-db-unassigned: "\f20b";
$font-glyphs-deathstar-off: "\f2c4";
$font-glyphs-deathstar-on: "\f2c5";
$font-glyphs-decimal: "\f1c9";
$font-glyphs-default-format: "\f242";
$font-glyphs-delete: "\f215";
$font-glyphs-delete_items: "\f2b1";
$font-glyphs-deleted: "\f1b3";
$font-glyphs-disconnected: "\f12f";
$font-glyphs-dislike: "\f130";
$font-glyphs-dispatcher: "\f131";
$font-glyphs-dot: "\f212";
$font-glyphs-dots: "\f132";
$font-glyphs-down-arrow: "\f230";
$font-glyphs-download: "\f202";
$font-glyphs-drag-vertical: "\f2cc";
$font-glyphs-dropbox: "\f133";
$font-glyphs-dropdown-circle: "\f224";
$font-glyphs-dropdown_blank: "\f134";
$font-glyphs-earth: "\f135";
$font-glyphs-ecommerce: "\f1e2";
$font-glyphs-ecommerce-new: "\f2b2";
$font-glyphs-edit: "\f136";
$font-glyphs-edit-article: "\f2aa";
$font-glyphs-edit-strike-thru: "\f137";
$font-glyphs-ellipsis: "\f138";
$font-glyphs-email: "\f139";
$font-glyphs-email-new: "\f2a1";
$font-glyphs-email-notifications: "\f13a";
$font-glyphs-email_commands_setting: "\f13b";
$font-glyphs-encrypted_text: "\f2ca";
$font-glyphs-encryption-lock: "\f2cb";
$font-glyphs-enter-icon: "\f2ce";
$font-glyphs-eraser: "\f243";
$font-glyphs-eraser-o: "\f244";
$font-glyphs-exchange: "\f245";
$font-glyphs-expand: "\f246";
$font-glyphs-external-link: "\f247";
$font-glyphs-eye: "\f13c";
$font-glyphs-eye-disabled: "\f225";
$font-glyphs-facebook: "\f13d";
$font-glyphs-facebook-lock: "\f13e";
$font-glyphs-facebook-new: "\f29f";
$font-glyphs-facebook-setting: "\f13f";
$font-glyphs-facebook-source: "\f1f4";
$font-glyphs-facebook-ticket-new: "\f2b5";
$font-glyphs-feature-request: "\f294";
$font-glyphs-feature-request-new: "\f2ad";
$font-glyphs-feedback: "\f140";
$font-glyphs-feedback-new: "\f1de";
$font-glyphs-feedback-widget: "\f2b3";
$font-glyphs-ff-add-note: "\f141";
$font-glyphs-ff-clock: "\f142";
$font-glyphs-ff-dialpad: "\f143";
$font-glyphs-ff-group: "\f1b2";
$font-glyphs-ff-group-thin: "\f1d0";
$font-glyphs-ff-hold: "\f1d1";
$font-glyphs-ff-line-phone: "\f1d2";
$font-glyphs-ff-mic: "\f144";
$font-glyphs-ff-mute: "\f145";
$font-glyphs-ff-on-browser: "\f146";
$font-glyphs-ff-on-call: "\f147";
$font-glyphs-ff-on-mobile: "\f1af";
$font-glyphs-ff-phone: "\f148";
$font-glyphs-ff-phone-accept: "\f1d3";
$font-glyphs-ff-phone-reject: "\f1d4";
$font-glyphs-ff-via-browser: "\f1ad";
$font-glyphs-ff-via-phone: "\f1ae";
$font-glyphs-file: "\f149";
$font-glyphs-file-edit: "\f14a";
$font-glyphs-file-visible: "\f14b";
$font-glyphs-firefox: "\f14c";
$font-glyphs-folder: "\f1df";
$font-glyphs-folder-o: "\f14d";
$font-glyphs-folder-open-o: "\f14e";
$font-glyphs-font: "\f248";
$font-glyphs-forum-feature-request: "\f2ae";
$font-glyphs-forum-new: "\f2b9";
$font-glyphs-forum-source: "\f1f5";
$font-glyphs-forum-topic: "\f28e";
$font-glyphs-forward: "\f14f";
$font-glyphs-forward-tkt: "\f1ac";
$font-glyphs-freshchat: "\f150";
$font-glyphs-freshdesk: "\f151";
$font-glyphs-gamification-settings: "\f152";
$font-glyphs-gear: "\f153";
$font-glyphs-gear-line: "\f26d";
$font-glyphs-glance: "\f21c";
$font-glyphs-google: "\f2a0";
$font-glyphs-googleplus: "\f154";
$font-glyphs-group: "\f155";
$font-glyphs-group_summary: "\f21d";
$font-glyphs-grouping-disable: "\f156";
$font-glyphs-grouping-enable: "\f157";
$font-glyphs-hangup: "\f20e";
$font-glyphs-header: "\f249";
$font-glyphs-headphone: "\f2af";
$font-glyphs-help: "\f158";
$font-glyphs-help-icon: "\f1d9";
$font-glyphs-helpdesk: "\f1ca";
$font-glyphs-helpdesk-settings: "\f1cb";
$font-glyphs-helpdesk_new: "\f2be";
$font-glyphs-highlightmode: "\f2bf";
$font-glyphs-horizontal-line: "\f24a";
$font-glyphs-huddle-group: "\f27a";
$font-glyphs-huddle-logo: "\f27b";
$font-glyphs-ie: "\f159";
$font-glyphs-ilos-icon: "\f200";
$font-glyphs-image: "\f24b";
$font-glyphs-import: "\f15a";
$font-glyphs-incoming-call: "\f20f";
$font-glyphs-indent: "\f24c";
$font-glyphs-infinity-5: "\f15b";
$font-glyphs-info: "\f24d";
$font-glyphs-inherit-parent: "\f264";
$font-glyphs-integrations: "\f216";
$font-glyphs-ios: "\f15d";
$font-glyphs-italic: "\f24e";
$font-glyphs-keyicon: "\f265";
$font-glyphs-left-arrow-thick: "\f1d6";
$font-glyphs-left-direction: "\f268";
$font-glyphs-like: "\f15e";
$font-glyphs-link: "\f15f";
$font-glyphs-link-copy: "\f24f";
$font-glyphs-linkedin: "\f160";
$font-glyphs-linux: "\f161";
$font-glyphs-list-ol: "\f250";
$font-glyphs-list-ul: "\f251";
$font-glyphs-live_chat: "\f1ec";
$font-glyphs-livechat: "\f222";
$font-glyphs-lock: "\f162";
$font-glyphs-lock-2: "\f163";
$font-glyphs-lock-open: "\f164";
$font-glyphs-mac: "\f165";
$font-glyphs-magic: "\f252";
$font-glyphs-mail: "\f166";
$font-glyphs-mail-filled: "\f1aa";
$font-glyphs-mail-source: "\f1f6";
$font-glyphs-mail-thin: "\f168";
$font-glyphs-map-marker: "\f169";
$font-glyphs-menu: "\f2ba";
$font-glyphs-merge: "\f16a";
$font-glyphs-message: "\f16b";
$font-glyphs-minus: "\f16c";
$font-glyphs-mobihelp: "\f16d";
$font-glyphs-mobihelp-new: "\f2b7";
$font-glyphs-mobile: "\f16e";
$font-glyphs-mobile-2: "\f274";
$font-glyphs-mobile-2-disabled: "\f275";
$font-glyphs-mobile-active-source: "\f1f7";
$font-glyphs-mobile-source: "\f1f8";
$font-glyphs-multi-product: "\f16f";
$font-glyphs-nested_field: "\f1cc";
$font-glyphs-new-phone-ticket: "\f1cd";
$font-glyphs-new-ticket: "\f1ce";
$font-glyphs-no-arrow-left: "\f170";
$font-glyphs-no-arrow-right: "\f171";
$font-glyphs-no-data: "\f1fe";
$font-glyphs-no-data-graph: "\f1c6";
$font-glyphs-no-network: "\f1b4";
$font-glyphs-no_change: "\f284";
$font-glyphs-notice: "\f172";
$font-glyphs-notice-o: "\f173";
$font-glyphs-notification: "\f270";
$font-glyphs-number: "\f174";
$font-glyphs-observer: "\f175";
$font-glyphs-onhold: "\f211";
$font-glyphs-open-in-new-window: "\f292";
$font-glyphs-open-in-portal: "\f1e0";
$font-glyphs-open-new-tab: "\f2a9";
$font-glyphs-opera: "\f177";
$font-glyphs-outbound-email: "\f2b8";
$font-glyphs-outdent: "\f253";
$font-glyphs-outgoing-call: "\f210";
$font-glyphs-paint-brush: "\f254";
$font-glyphs-paperplane: "\f178";
$font-glyphs-paragraph: "\f179";
$font-glyphs-pencil: "\f17a";
$font-glyphs-performance_distribution: "\f21e";
$font-glyphs-phone: "\f17b";
$font-glyphs-phone-block: "\f17c";
$font-glyphs-phone-disable: "\f17d";
$font-glyphs-phone-disable-thin: "\f1b5";
$font-glyphs-phone-new: "\f2a3";
$font-glyphs-phone_summary: "\f1ee";
$font-glyphs-pie-chart: "\f285";
$font-glyphs-pin: "\f2b0";
$font-glyphs-plain-text: "\f255";
$font-glyphs-plus: "\f17e";
$font-glyphs-plus-circle: "\f1c5";
$font-glyphs-portal-source: "\f1f9";
$font-glyphs-portals: "\f1cf";
$font-glyphs-post-edit: "\f17f";
$font-glyphs-power: "\f26e";
$font-glyphs-preserve-format: "\f256";
$font-glyphs-print: "\f29d";
$font-glyphs-pushpin: "\f180";
$font-glyphs-puzzle: "\f1d7";
$font-glyphs-qna: "\f286";
$font-glyphs-questions: "\f296";
$font-glyphs-read-all: "\f271";
$font-glyphs-rearrange: "\f181";
$font-glyphs-rebranding: "\f182";
$font-glyphs-refresh: "\f183";
$font-glyphs-refresh-source: "\f1fa";
$font-glyphs-reorder: "\f184";
$font-glyphs-reorder-2: "\f185";
$font-glyphs-reply: "\f186";
$font-glyphs-report-a-problem: "\f295";
$font-glyphs-reports-sorting: "\f1e1";
$font-glyphs-reports-sorting-asc: "\f1e3";
$font-glyphs-reports-sorting-desc: "\f1e4";
$font-glyphs-restore: "\f227";
$font-glyphs-retweet: "\f187";
$font-glyphs-right-direction: "\f269";
$font-glyphs-role: "\f188";
$font-glyphs-safari: "\f189";
$font-glyphs-save: "\f18a";
$font-glyphs-save-as: "\f18b";
$font-glyphs-scenario: "\f18c";
$font-glyphs-search: "\f18d";
$font-glyphs-search-new: "\f2a4";
$font-glyphs-security: "\f18e";
$font-glyphs-see-more: "\f28d";
$font-glyphs-settings-outline: "\f22c";
$font-glyphs-settings1: "\f1d8";
$font-glyphs-share: "\f2c2";
$font-glyphs-shared: "\f18f";
$font-glyphs-sidebar-list: "\f190";
$font-glyphs-skills: "\f262";
$font-glyphs-sla: "\f191";
$font-glyphs-smile-o: "\f257";
$font-glyphs-solution-article-new: "\f28b";
$font-glyphs-solution_article: "\f287";
$font-glyphs-solution_article_1: "\f288";
$font-glyphs-sorting-asc: "\f1e6";
$font-glyphs-sorting-default: "\f1e7";
$font-glyphs-sorting-dsc: "\f1e8";
$font-glyphs-split: "\f192";
$font-glyphs-square-o: "\f258";
$font-glyphs-star: "\f193";
$font-glyphs-star-o: "\f194";
$font-glyphs-strikethrough: "\f259";
$font-glyphs-suggested-solution: "\f29a";
$font-glyphs-supervisor: "\f195";
$font-glyphs-support-email: "\f26f";
$font-glyphs-survey-happy: "\f1b8";
$font-glyphs-survey-neutral: "\f1b9";
$font-glyphs-survey-sad: "\f1ba";
$font-glyphs-survey-settings: "\f196";
$font-glyphs-table: "\f25a";
$font-glyphs-tags: "\f205";
$font-glyphs-text: "\f198";
$font-glyphs-text-height: "\f25b";
$font-glyphs-thumbs-down: "\f29c";
$font-glyphs-thumbs-up: "\f29b";
$font-glyphs-tick: "\f217";
$font-glyphs-tick-new: "\f2bc";
$font-glyphs-ticket: "\f199";
$font-glyphs-ticket-fields: "\f19a";
$font-glyphs-ticket-new: "\f2a6";
$font-glyphs-ticket-reply: "\f290";
$font-glyphs-ticket-status: "\f298";
$font-glyphs-ticket-status-new: "\f2ac";
$font-glyphs-ticket-thin: "\f228";
$font-glyphs-ticket_template: "\f22b";
$font-glyphs-ticket_volume: "\f1f1";
$font-glyphs-time_sheet: "\f1f2";
$font-glyphs-timeline-forum: "\f19b";
$font-glyphs-timeline-ticket: "\f19c";
$font-glyphs-timespent: "\f278";
$font-glyphs-tint: "\f25c";
$font-glyphs-transfer-round: "\f221";
$font-glyphs-trash: "\f19d";
$font-glyphs-trash-o: "\f19e";
$font-glyphs-trash-strike-thru: "\f19f";
$font-glyphs-twitter: "\f1a0";
$font-glyphs-twitter-like: "\f1fd";
$font-glyphs-twitter-lock: "\f1a1";
$font-glyphs-twitter-new: "\f299";
$font-glyphs-twitter-o: "\f1a2";
$font-glyphs-twitter-source: "\f1fb";
$font-glyphs-twitter-ticket: "\f2a2";
$font-glyphs-underline: "\f25d";
$font-glyphs-undo: "\f2d0";
$font-glyphs-undo-inherit: "\f266";
$font-glyphs-unlink: "\f25e";
$font-glyphs-unlink-tracker: "\f233";
$font-glyphs-unlock: "\f1a3";
$font-glyphs-unverified: "\f1a4";
$font-glyphs-upload: "\f25f";
$font-glyphs-user: "\f1a5";
$font-glyphs-video-camera: "\f260";
$font-glyphs-view-retweets: "\f1a6";
$font-glyphs-warm-transfer: "\f231";
$font-glyphs-warning: "\f1a7";
$font-glyphs-web: "\f276";
$font-glyphs-web-disabled: "\f277";
$font-glyphs-web-new: "\f2a5";
$font-glyphs-web-page: "\f1a8";
$font-glyphs-web-source: "\f1fc";
$font-glyphs-went-wrong: "\f1ff";
$font-glyphs-windows: "\f1a9";