	$font-class: "ficon-";

// Default font size will be taken from the parents font size
[class*="#{$font-class}"] {
  font-size: inherit;
}

// Font icons used inside a link
a [class*="#{$font-class}"], a[class*="#{$font-class}"]{
  color:#333;
}

// Font icons used in forum pages
.forum_follow_icon{              @extend .#{$font-class}star-o; }
.forum_follow_icon.active{       @extend .#{$font-class}star; }
.forum_follow_icon.active:after{ @extend .#{$font-class}star-o:before; }
.forum-type-problem{             @extend .#{$font-class}notice-o; }
.forum-type-announce{            @extend .#{$font-class}bullhorn; }
.forum-type-ideas{               @extend .#{$font-class}bulb; }
.forum-type-howto{               @extend .#{$font-class}help; }
.agent-preview{                  @extend .#{$font-class}open-in-new-window; }
.list-query-panel .dropdown-menu li.active a:before{ 	
	@extend .#{$font-class}checkmark; 
}

.delete-notice{
	@extend .#{$font-class}notice;
	color:red;
	&:before{
		background: #fff;
		border-radius: 100%;
		line-height: 30px;
		border: 2px solid #fff;
	}
}
// Font icons in ticket pages
.hover-card-agent , .list_agents_replying{
	.active{
		.#{$font-class}message{
			font-size:16px;
			vertical-align:middle;
			position:relative;
			top:-1px;
			color: #77924e;
		}
	}
}
.fc_notifier-container{
	.notify_chat_name .#{$font-class}star{
		color: #007F80;
	}
}

// Font icons used in Freshsocial
.tw-accs{
	li{
		a{
			.#{$font-class-name}all-streams{
				width: 24px;
				height: 24px;
				@include float(left);
				background: #333;
				color: #fff;
				text-align: center;
				@include border-radius(4px);
			}
			&:after{
				@extend .#{$font-class-name}arrow-right:before;
			}
		}
	}
}
.tw-wrapper{
	#search_social .#{$font-class-name}twitter{
		position: absolute;
		top: 12px;
		@include left(19px);
		z-index: 1;
		color: #aaa;
	}
	.tw-explorer{
		.pane-head{
			.ph-icons{
				.#{$font-class-name}cross{
					display: inline-block;
					margin-top: 2px;
					color: #333;
					@include margin-right(5px);
				}
			}
		}
	}
}
.conv-wrapper{
	.#{$font-class-name}freshdesk{
		color: #4E903E;
	}
}
.icon-lst i.#{$font-class-name}twitter{
	color: #55acee;
}
a.tw-tkt-link{
	i.#{$font-class-name}ticket{
		color: green;
	}
	&:before{
		@extend .#{$font-class-name}checkmark:before;
	}
	&.tw-agent{
		i.#{$font-class-name}ticket{
			position: relative;
			@include right(3px);
		}
	}
}
i.#{$font-class-name}twitter{
	color: #888;
}
.info-data a{
	i.#{$font-class-name}twitter{
		color: #888;
		position: relative;
		top: 1px;
	}
	&:hover i.#{$font-class-name}twitter{
		color:#55acee;
	}
}
.adm-social{
	.add-another{
		.#{$font-class-name}plus{
			background: #9ad400;
			color: #fff;
			width: 16px;
			height: 16px;
			display: inline-block;
			text-align: center;
			border-radius: 10px;
			border: 1px solid #599f00;
			@include margin(0 22px 0 8px);
		}
		&:hover{
			background: #efefef;
		}
	}
	.ce-btn{
		.#{$font-class-name}minus{
			background: #fd735f;
			color: #fff;
			width: 16px;
			height: 16px;
			display: inline-block;
			text-align: center;
			border-radius: 10px;
			border: 1px solid #bf3727;
			@include margin(0 0 0 12px);
		}
	}
}
.twt-list-item,
.tweets-conv{
	.shr-fav-btn{
		.#{$font-class-name}star{
			position: relative;
			color: #FFE23C;
			&:after{
				@extend .#{$font-class-name}star-o:before;
				color: #4E1A00;
				font-size:16px;
				left:0;
				position:absolute;
			}
		}
	}
}
/* ======================= header notification ================== */
.header-notification-wrapper{
	.notification_present .#{$font-class-name}help{
		color: white;
	}
	.popover-wrapper{
		.#{$font-class-name}freshdesk, .#{$font-class-name}search, .#{$font-class-name}mail,.#{$font-class-name}answer-checked {
			color:#fff;
		}
		.#{$font-class-name}phone{
			color: #aaa;
		}
	}
	.search-head{
		.#{$font-class-name}search{
			color: #777;
			@include float(left);
			@include margin-right(10px);
			line-height: 25px;
		}
	}
}
/* === Admin Chat Settings === */
.prechat_form{
	.inline-field{
		.#{$font-class-name}rearrange{
			@include float(left);
			@include margin-right(10px);
			line-height: 25px;
		}
	}
	.prechat_wrap{
		.#{$font-class-name}caret-down{
			top: 50%;
			position: absolute;
			@include right(7px);
			font-size: 12px;
			margin-top: -12px;
			color: #8a8a8a;
		}
	}
}
// Chat Archive
.fc-conversation{
	.recent-chats{		
		li{
			&:before{
				@extend .#{$font-class-name}comments;
			}
		}
	}
}

/* ====== Admin Font Settings ======== */
.font-setting-wrapper {
	.#{$font-class-name}save,
	.#{$font-class-name}cross {
		color:#999;
	}
	.#{$font-class-name}save:hover,
	.#{$font-class-name}cross:hover {
		color:#000;
	}
}
/* ==== Custom Contact Field Icons === */

.#{$font-class-name}phone_number {
	@extend .#{$font-class-name}freshfone;
}
.#{$font-class-name}url {
	@extend .#{$font-class-name}link;
}

.dropdown-tick {
	font-weight: bold;
	color: #FFF;
	position: absolute;
	@include left(5px);
	top: 5px;
}
.dropdown-menu.tick:not(.menu-pjax) .active:before { 
	@extend .#{$font-class-name}checkmark-thick;
	@extend .dropdown-tick;
}
.dropdown-menu.tick.menu-pjax .selected-tab {
	&:before { 
		@extend .#{$font-class-name}checkmark-thick;
		@extend .dropdown-tick;
		color: $dropdownLinkColor;
	}
	&:hover {
		&:before {
			color: $dropdownLinkColorHover;
		}
	}
}

// Chat conversation in ticket page
.conversation_wrap{
  &:after{
    @extend .#{$font-class-name}comments:before;
  }
}

// Ticket Conversation Icons
.conversation_thread{
	.#{$font-class-name}reply,
	.#{$font-class-name}chat-bubble{
		border: 1px solid #A4A4A4;
		color: #A4A4A4;
		display: inline-block;
		width: 18px;
		height: 18px;
		text-align: center;
		border-radius: 50%;
		font-size: 12px;
	}
	.commentbox {
		.conv-actions-reply{
			text-indent: inherit;
			.#{$font-class-name}reply{
				width: inherit;
				height: inherit;
				border: none;
				color: #666666;
				border-radius: none;
				font-size: 18px;
				margin-top: 5px;
			}
		}
	}
}
