//
// Icon Font: glyphs
//

@font-face {
  font-family: "glyphs";
  src: font-url("glyphs_03689101d9532bb72fa1b7d77a42613a.eot");
  src: font-url("glyphs_03689101d9532bb72fa1b7d77a42613a.eot?#iefix") format("embedded-opentype"),
       font-url("glyphs_03689101d9532bb72fa1b7d77a42613a.woff") format("woff"),
       font-url("glyphs_03689101d9532bb72fa1b7d77a42613a.ttf") format("truetype"),
       font-url("glyphs_03689101d9532bb72fa1b7d77a42613a.svg#glyphs") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "glyphs";
    src: font-url("glyphs_03689101d9532bb72fa1b7d77a42613a.svg#glyphs") format("svg");
  }
}

[data-icon]:before { content: attr(data-icon); }

[data-icon]:before,
.ficon-abandoned-call:before,
.ficon-account:before,
.ficon-add-attachment:before,
.ficon-add-call:before,
.ficon-add-people:before,
.ficon-add-section:before,
.ficon-agent:before,
.ficon-agent-fchat-off:before,
.ficon-agent-fchat-on:before,
.ficon-agent_summary:before,
.ficon-alert:before,
.ficon-align-center:before,
.ficon-align-justify:before,
.ficon-align-left:before,
.ficon-align-right:before,
.ficon-all-streams:before,
.ficon-android:before,
.ficon-announcement-new:before,
.ficon-announcements:before,
.ficon-answer-checked:before,
.ficon-answer-unchecked:before,
.ficon-apple:before,
.ficon-apps:before,
.ficon-archived-ticket:before,
.ficon-arrow-click:before,
.ficon-arrow-down:before,
.ficon-arrow-down-2:before,
.ficon-arrow-left:before,
.ficon-arrow-left-2:before,
.ficon-arrow-right:before,
.ficon-arrow-right-2:before,
.ficon-arrow-up:before,
.ficon-arrow-up-2:before,
.ficon-arrows-alt:before,
.ficon-arrows-v:before,
.ficon-article:before,
.ficon-assign-to:before,
.ficon-attachment:before,
.ficon-attachment-blank:before,
.ficon-available-on-mobile:before,
.ficon-bar-chart:before,
.ficon-bars:before,
.ficon-bell:before,
.ficon-billing:before,
.ficon-blank-file:before,
.ficon-blind-transfer:before,
.ficon-block:before,
.ficon-blocked-call:before,
.ficon-bold:before,
.ficon-book:before,
.ficon-book-dark:before,
.ficon-book-hollow:before,
.ficon-bot:before,
.ficon-both-direction:before,
.ficon-broadcast-tracker:before,
.ficon-building:before,
.ficon-bulb:before,
.ficon-bullhorn:before,
.ficon-business-hours:before,
.ficon-calendar:before,
.ficon-calender_new:before,
.ficon-call_phone:before,
.ficon-calling:before,
.ficon-camera:before,
.ficon-canned-response:before,
.ficon-caret-down:before,
.ficon-caret-left:before,
.ficon-caret-right:before,
.ficon-caret-up:before,
.ficon-categories:before,
.ficon-categories-orphan:before,
.ficon-category:before,
.ficon-chat:before,
.ficon-chat-bubble:before,
.ficon-chat-disable:before,
.ficon-chat-enable:before,
.ficon-chat-source:before,
.ficon-chat-ticket:before,
.ficon-checkbox:before,
.ficon-checkbox-tick:before,
.ficon-checkmark:before,
.ficon-checkmark-round:before,
.ficon-checkmark-round-o:before,
.ficon-checkmark-thick:before,
.ficon-child-icon:before,
.ficon-chrome:before,
.ficon-clear-qna:before,
.ficon-clone:before,
.ficon-close-qna:before,
.ficon-close-ticket:before,
.ficon-code:before,
.ficon-code-snippet:before,
.ficon-comment-multi:before,
.ficon-comments:before,
.ficon-comments1:before,
.ficon-company:before,
.ficon-compose-email:before,
.ficon-compress:before,
.ficon-connect-chat:before,
.ficon-contacts:before,
.ficon-conversation:before,
.ficon-create-ticket:before,
.ficon-create-ticket-new:before,
.ficon-cross:before,
.ficon-cross-filled:before,
.ficon-cross-round:before,
.ficon-crown:before,
.ficon-cube:before,
.ficon-cube-filled:before,
.ficon-cubes:before,
.ficon-customer-fields:before,
.ficon-customer-portal:before,
.ficon-customer-satisfaction:before,
.ficon-customer_report:before,
.ficon-customer_satisfaction:before,
.ficon-customers-new:before,
.ficon-date:before,
.ficon-day_pass:before,
.ficon-db-calendar:before,
.ficon-db-feedback:before,
.ficon-db-interactions:before,
.ficon-db-message:before,
.ficon-db-sand-clock:before,
.ficon-db-unassigned:before,
.ficon-deathstar-off:before,
.ficon-deathstar-on:before,
.ficon-decimal:before,
.ficon-default-format:before,
.ficon-delete:before,
.ficon-delete_items:before,
.ficon-deleted:before,
.ficon-disconnected:before,
.ficon-dislike:before,
.ficon-dispatcher:before,
.ficon-dot:before,
.ficon-dots:before,
.ficon-down-arrow:before,
.ficon-download:before,
.ficon-drag-vertical:before,
.ficon-dropbox:before,
.ficon-dropdown-circle:before,
.ficon-dropdown_blank:before,
.ficon-earth:before,
.ficon-ecommerce:before,
.ficon-ecommerce-new:before,
.ficon-edit:before,
.ficon-edit-article:before,
.ficon-edit-strike-thru:before,
.ficon-ellipsis:before,
.ficon-email:before,
.ficon-email-new:before,
.ficon-email-notifications:before,
.ficon-email_commands_setting:before,
.ficon-encrypted_text:before,
.ficon-encryption-lock:before,
.ficon-enter-icon:before,
.ficon-eraser:before,
.ficon-eraser-o:before,
.ficon-exchange:before,
.ficon-expand:before,
.ficon-external-link:before,
.ficon-eye:before,
.ficon-eye-disabled:before,
.ficon-facebook:before,
.ficon-facebook-lock:before,
.ficon-facebook-new:before,
.ficon-facebook-setting:before,
.ficon-facebook-source:before,
.ficon-facebook-ticket-new:before,
.ficon-feature-request:before,
.ficon-feature-request-new:before,
.ficon-feedback:before,
.ficon-feedback-new:before,
.ficon-feedback-widget:before,
.ficon-ff-add-note:before,
.ficon-ff-clock:before,
.ficon-ff-dialpad:before,
.ficon-ff-group:before,
.ficon-ff-group-thin:before,
.ficon-ff-hold:before,
.ficon-ff-line-phone:before,
.ficon-ff-mic:before,
.ficon-ff-mute:before,
.ficon-ff-on-browser:before,
.ficon-ff-on-call:before,
.ficon-ff-on-mobile:before,
.ficon-ff-phone:before,
.ficon-ff-phone-accept:before,
.ficon-ff-phone-reject:before,
.ficon-ff-via-browser:before,
.ficon-ff-via-phone:before,
.ficon-file:before,
.ficon-file-edit:before,
.ficon-file-visible:before,
.ficon-firefox:before,
.ficon-folder:before,
.ficon-folder-o:before,
.ficon-folder-open-o:before,
.ficon-font:before,
.ficon-forum-feature-request:before,
.ficon-forum-new:before,
.ficon-forum-source:before,
.ficon-forum-topic:before,
.ficon-forward:before,
.ficon-forward-tkt:before,
.ficon-freshchat:before,
.ficon-freshdesk:before,
.ficon-freshfone:before,
.ficon-gamification-settings:before,
.ficon-gear:before,
.ficon-gear-line:before,
.ficon-glance:before,
.ficon-google:before,
.ficon-googleplus:before,
.ficon-group:before,
.ficon-group_summary:before,
.ficon-grouping-disable:before,
.ficon-grouping-enable:before,
.ficon-hangup:before,
.ficon-header:before,
.ficon-headphone:before,
.ficon-help:before,
.ficon-help-icon:before,
.ficon-helpdesk:before,
.ficon-helpdesk-settings:before,
.ficon-helpdesk_new:before,
.ficon-highlightmode:before,
.ficon-horizontal-line:before,
.ficon-huddle-group:before,
.ficon-huddle-logo:before,
.ficon-ie:before,
.ficon-ilos-icon:before,
.ficon-image:before,
.ficon-import:before,
.ficon-incoming-call:before,
.ficon-indent:before,
.ficon-infinity-5:before,
.ficon-info:before,
.ficon-inherit-parent:before,
.ficon-integrations:before,
.ficon-ios:before,
.ficon-italic:before,
.ficon-keyicon:before,
.ficon-left-arrow-thick:before,
.ficon-left-direction:before,
.ficon-like:before,
.ficon-link:before,
.ficon-link-copy:before,
.ficon-linkedin:before,
.ficon-linux:before,
.ficon-list-ol:before,
.ficon-list-ul:before,
.ficon-live_chat:before,
.ficon-livechat:before,
.ficon-lock:before,
.ficon-lock-2:before,
.ficon-lock-open:before,
.ficon-mac:before,
.ficon-magic:before,
.ficon-mail:before,
.ficon-mail-filled:before,
.ficon-mail-source:before,
.ficon-mail-thin:before,
.ficon-map-marker:before,
.ficon-menu:before,
.ficon-merge:before,
.ficon-message:before,
.ficon-minus:before,
.ficon-mobihelp:before,
.ficon-mobihelp-new:before,
.ficon-mobile:before,
.ficon-mobile-2:before,
.ficon-mobile-2-disabled:before,
.ficon-mobile-active-source:before,
.ficon-mobile-source:before,
.ficon-multi-product:before,
.ficon-nested_field:before,
.ficon-new-phone-ticket:before,
.ficon-new-ticket:before,
.ficon-no-arrow-left:before,
.ficon-no-arrow-right:before,
.ficon-no-data:before,
.ficon-no-data-graph:before,
.ficon-no-network:before,
.ficon-no_change:before,
.ficon-notice:before,
.ficon-notice-o:before,
.ficon-notification:before,
.ficon-number:before,
.ficon-observer:before,
.ficon-onhold:before,
.ficon-open-in-new-window:before,
.ficon-open-in-portal:before,
.ficon-open-new-tab:before,
.ficon-opera:before,
.ficon-outbound-email:before,
.ficon-outdent:before,
.ficon-outgoing-call:before,
.ficon-paint-brush:before,
.ficon-paperplane:before,
.ficon-paragraph:before,
.ficon-pencil:before,
.ficon-performance_distribution:before,
.ficon-phone:before,
.ficon-phone-block:before,
.ficon-phone-disable:before,
.ficon-phone-disable-thin:before,
.ficon-phone-new:before,
.ficon-phone_summary:before,
.ficon-pie-chart:before,
.ficon-pin:before,
.ficon-plain-text:before,
.ficon-plus:before,
.ficon-plus-circle:before,
.ficon-portal-source:before,
.ficon-portals:before,
.ficon-post-edit:before,
.ficon-power:before,
.ficon-preserve-format:before,
.ficon-print:before,
.ficon-pushpin:before,
.ficon-puzzle:before,
.ficon-qna:before,
.ficon-questions:before,
.ficon-read-all:before,
.ficon-rearrange:before,
.ficon-rebranding:before,
.ficon-refresh:before,
.ficon-refresh-source:before,
.ficon-reorder:before,
.ficon-reorder-2:before,
.ficon-reply:before,
.ficon-report-a-problem:before,
.ficon-reports-sorting:before,
.ficon-reports-sorting-asc:before,
.ficon-reports-sorting-desc:before,
.ficon-restore:before,
.ficon-retweet:before,
.ficon-right-direction:before,
.ficon-role:before,
.ficon-safari:before,
.ficon-save:before,
.ficon-save-as:before,
.ficon-scenario:before,
.ficon-search:before,
.ficon-search-new:before,
.ficon-security:before,
.ficon-see-more:before,
.ficon-settings-outline:before,
.ficon-settings1:before,
.ficon-share:before,
.ficon-shared:before,
.ficon-sidebar-list:before,
.ficon-skills:before,
.ficon-sla:before,
.ficon-smile-o:before,
.ficon-solution-article-new:before,
.ficon-solution_article:before,
.ficon-solution_article_1:before,
.ficon-sorting-asc:before,
.ficon-sorting-default:before,
.ficon-sorting-dsc:before,
.ficon-split:before,
.ficon-square-o:before,
.ficon-star:before,
.ficon-star-o:before,
.ficon-strikethrough:before,
.ficon-suggested-solution:before,
.ficon-supervisor:before,
.ficon-support-email:before,
.ficon-survey-happy:before,
.ficon-survey-neutral:before,
.ficon-survey-sad:before,
.ficon-survey-settings:before,
.ficon-table:before,
.ficon-tags:before,
.ficon-text:before,
.ficon-text-height:before,
.ficon-thumbs-down:before,
.ficon-thumbs-up:before,
.ficon-tick:before,
.ficon-tick-new:before,
.ficon-ticket:before,
.ficon-ticket-fields:before,
.ficon-ticket-new:before,
.ficon-ticket-reply:before,
.ficon-ticket-status:before,
.ficon-ticket-status-new:before,
.ficon-ticket-thin:before,
.ficon-ticket_template:before,
.ficon-ticket_volume:before,
.ficon-time_sheet:before,
.ficon-timeline-forum:before,
.ficon-timeline-ticket:before,
.ficon-timespent:before,
.ficon-tint:before,
.ficon-transfer-round:before,
.ficon-trash:before,
.ficon-trash-o:before,
.ficon-trash-strike-thru:before,
.ficon-twitter:before,
.ficon-twitter-like:before,
.ficon-twitter-lock:before,
.ficon-twitter-new:before,
.ficon-twitter-o:before,
.ficon-twitter-source:before,
.ficon-twitter-ticket:before,
.ficon-underline:before,
.ficon-undo:before,
.ficon-undo-inherit:before,
.ficon-unlink:before,
.ficon-unlink-tracker:before,
.ficon-unlock:before,
.ficon-unverified:before,
.ficon-upload:before,
.ficon-user:before,
.ficon-video-camera:before,
.ficon-view-retweets:before,
.ficon-warm-transfer:before,
.ficon-warning:before,
.ficon-web:before,
.ficon-web-disabled:before,
.ficon-web-new:before,
.ficon-web-page:before,
.ficon-web-source:before,
.ficon-went-wrong:before,
.ficon-windows:before {
  display: inline-block;
  font-family: "glyphs";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

.ficon-abandoned-call:before { content: "\f1e5"; }
.ficon-account:before { content: "\f100"; }
.ficon-add-attachment:before { content: "\f26a"; }
.ficon-add-call:before { content: "\f21f"; }
.ficon-add-people:before { content: "\f26b"; }
.ficon-add-section:before { content: "\f273"; }
.ficon-agent:before { content: "\f101"; }
.ficon-agent-fchat-off:before { content: "\f1b0"; }
.ficon-agent-fchat-on:before { content: "\f280"; }
.ficon-agent_summary:before { content: "\f21a"; }
.ficon-alert:before { content: "\f201"; }
.ficon-align-center:before { content: "\f237"; }
.ficon-align-justify:before { content: "\f238"; }
.ficon-align-left:before { content: "\f239"; }
.ficon-align-right:before { content: "\f261"; }
.ficon-all-streams:before { content: "\f102"; }
.ficon-android:before { content: "\f103"; }
.ficon-announcement-new:before { content: "\f2a7"; }
.ficon-announcements:before { content: "\f29e"; }
.ficon-answer-checked:before { content: "\f104"; }
.ficon-answer-unchecked:before { content: "\f105"; }
.ficon-apple:before { content: "\f106"; }
.ficon-apps:before { content: "\f213"; }
.ficon-archived-ticket:before { content: "\f203"; }
.ficon-arrow-click:before { content: "\f1b7"; }
.ficon-arrow-down:before { content: "\f107"; }
.ficon-arrow-down-2:before { content: "\f108"; }
.ficon-arrow-left:before { content: "\f109"; }
.ficon-arrow-left-2:before { content: "\f10a"; }
.ficon-arrow-right:before { content: "\f10b"; }
.ficon-arrow-right-2:before { content: "\f10c"; }
.ficon-arrow-up:before { content: "\f10d"; }
.ficon-arrow-up-2:before { content: "\f10e"; }
.ficon-arrows-alt:before { content: "\f23b"; }
.ficon-arrows-v:before { content: "\f23c"; }
.ficon-article:before { content: "\f204"; }
.ficon-assign-to:before { content: "\f291"; }
.ficon-attachment:before { content: "\f22d"; }
.ficon-attachment-blank:before { content: "\f229"; }
.ficon-available-on-mobile:before { content: "\f1b6"; }
.ficon-bar-chart:before { content: "\f281"; }
.ficon-bars:before { content: "\f23d"; }
.ficon-bell:before { content: "\f10f"; }
.ficon-billing:before { content: "\f110"; }
.ficon-blank-file:before { content: "\f111"; }
.ficon-blind-transfer:before { content: "\f22f"; }
.ficon-block:before { content: "\f20c"; }
.ficon-blocked-call:before { content: "\f20d"; }
.ficon-bold:before { content: "\f23e"; }
.ficon-book:before { content: "\f112"; }
.ficon-book-dark:before { content: "\f22e"; }
.ficon-book-hollow:before { content: "\f1da"; }
.ficon-bot:before { content: "\f2c3"; }
.ficon-both-direction:before { content: "\f267"; }
.ficon-broadcast-tracker:before { content: "\f235"; }
.ficon-building:before { content: "\f226"; }
.ficon-bulb:before { content: "\f113"; }
.ficon-bullhorn:before { content: "\f114"; }
.ficon-business-hours:before { content: "\f115"; }
.ficon-calendar:before { content: "\f1bc"; }
.ficon-calender_new:before { content: "\f2bd"; }
.ficon-call_phone:before { content: "\f2bb"; }
.ficon-calling:before { content: "\f116"; }
.ficon-camera:before { content: "\f232"; }
.ficon-canned-response:before { content: "\f117"; }
.ficon-caret-down:before { content: "\f118"; }
.ficon-caret-left:before { content: "\f119"; }
.ficon-caret-right:before { content: "\f11a"; }
.ficon-caret-up:before { content: "\f11b"; }
.ficon-categories:before { content: "\f1db"; }
.ficon-categories-orphan:before { content: "\f1dc"; }
.ficon-category:before { content: "\f223"; }
.ficon-chat:before { content: "\f1bd"; }
.ficon-chat-bubble:before { content: "\f11c"; }
.ficon-chat-disable:before { content: "\f11d"; }
.ficon-chat-enable:before { content: "\f11e"; }
.ficon-chat-source:before { content: "\f1f3"; }
.ficon-chat-ticket:before { content: "\f2b6"; }
.ficon-checkbox:before { content: "\f11f"; }
.ficon-checkbox-tick:before { content: "\f2a8"; }
.ficon-checkmark:before { content: "\f120"; }
.ficon-checkmark-round:before { content: "\f121"; }
.ficon-checkmark-round-o:before { content: "\f122"; }
.ficon-checkmark-thick:before { content: "\f123"; }
.ficon-child-icon:before { content: "\f263"; }
.ficon-chrome:before { content: "\f124"; }
.ficon-clear-qna:before { content: "\f282"; }
.ficon-clone:before { content: "\f22a"; }
.ficon-close-qna:before { content: "\f283"; }
.ficon-close-ticket:before { content: "\f28f"; }
.ficon-code:before { content: "\f23f"; }
.ficon-code-snippet:before { content: "\f240"; }
.ficon-comment-multi:before { content: "\f125"; }
.ficon-comments:before { content: "\f126"; }
.ficon-comments1:before { content: "\f1d5"; }
.ficon-company:before { content: "\f127"; }
.ficon-compose-email:before { content: "\f1c8"; }
.ficon-compress:before { content: "\f241"; }
.ficon-connect-chat:before { content: "\f236"; }
.ficon-contacts:before { content: "\f26c"; }
.ficon-conversation:before { content: "\f128"; }
.ficon-create-ticket:before { content: "\f297"; }
.ficon-create-ticket-new:before { content: "\f2ab"; }
.ficon-cross:before { content: "\f129"; }
.ficon-cross-filled:before { content: "\f220"; }
.ficon-cross-round:before { content: "\f214"; }
.ficon-crown:before { content: "\f12a"; }
.ficon-cube:before { content: "\f1dd"; }
.ficon-cube-filled:before { content: "\f218"; }
.ficon-cubes:before { content: "\f219"; }
.ficon-customer-fields:before { content: "\f12b"; }
.ficon-customer-portal:before { content: "\f12c"; }
.ficon-customer-satisfaction:before { content: "\f1bf"; }
.ficon-customer_report:before { content: "\f21b"; }
.ficon-customer_satisfaction:before { content: "\f1ea"; }
.ficon-customers-new:before { content: "\f2b4"; }
.ficon-date:before { content: "\f12d"; }
.ficon-day_pass:before { content: "\f12e"; }
.ficon-db-calendar:before { content: "\f206"; }
.ficon-db-feedback:before { content: "\f207"; }
.ficon-db-interactions:before { content: "\f208"; }
.ficon-db-message:before { content: "\f209"; }
.ficon-db-sand-clock:before { content: "\f20a"; }
.ficon-db-unassigned:before { content: "\f20b"; }
.ficon-deathstar-off:before { content: "\f2c4"; }
.ficon-deathstar-on:before { content: "\f2c5"; }
.ficon-decimal:before { content: "\f1c9"; }
.ficon-default-format:before { content: "\f242"; }
.ficon-delete:before { content: "\f215"; }
.ficon-delete_items:before { content: "\f2b1"; }
.ficon-deleted:before { content: "\f1b3"; }
.ficon-disconnected:before { content: "\f12f"; }
.ficon-dislike:before { content: "\f130"; }
.ficon-dispatcher:before { content: "\f131"; }
.ficon-dot:before { content: "\f212"; }
.ficon-dots:before { content: "\f132"; }
.ficon-down-arrow:before { content: "\f230"; }
.ficon-download:before { content: "\f202"; }
.ficon-drag-vertical:before { content: "\f2cc"; }
.ficon-dropbox:before { content: "\f133"; }
.ficon-dropdown-circle:before { content: "\f224"; }
.ficon-dropdown_blank:before { content: "\f134"; }
.ficon-earth:before { content: "\f135"; }
.ficon-ecommerce:before { content: "\f1e2"; }
.ficon-ecommerce-new:before { content: "\f2b2"; }
.ficon-edit:before { content: "\f136"; }
.ficon-edit-article:before { content: "\f2aa"; }
.ficon-edit-strike-thru:before { content: "\f137"; }
.ficon-ellipsis:before { content: "\f138"; }
.ficon-email:before { content: "\f139"; }
.ficon-email-new:before { content: "\f2a1"; }
.ficon-email-notifications:before { content: "\f13a"; }
.ficon-email_commands_setting:before { content: "\f13b"; }
.ficon-encrypted_text:before { content: "\f2ca"; }
.ficon-encryption-lock:before { content: "\f2cb"; }
.ficon-enter-icon:before { content: "\f2ce"; }
.ficon-eraser:before { content: "\f243"; }
.ficon-eraser-o:before { content: "\f244"; }
.ficon-exchange:before { content: "\f245"; }
.ficon-expand:before { content: "\f246"; }
.ficon-external-link:before { content: "\f247"; }
.ficon-eye:before { content: "\f13c"; }
.ficon-eye-disabled:before { content: "\f225"; }
.ficon-facebook:before { content: "\f13d"; }
.ficon-facebook-lock:before { content: "\f13e"; }
.ficon-facebook-new:before { content: "\f29f"; }
.ficon-facebook-setting:before { content: "\f13f"; }
.ficon-facebook-source:before { content: "\f1f4"; }
.ficon-facebook-ticket-new:before { content: "\f2b5"; }
.ficon-feature-request:before { content: "\f294"; }
.ficon-feature-request-new:before { content: "\f2ad"; }
.ficon-feedback:before { content: "\f140"; }
.ficon-feedback-new:before { content: "\f1de"; }
.ficon-feedback-widget:before { content: "\f2b3"; }
.ficon-ff-add-note:before { content: "\f141"; }
.ficon-ff-clock:before { content: "\f142"; }
.ficon-ff-dialpad:before { content: "\f143"; }
.ficon-ff-group:before { content: "\f1b2"; }
.ficon-ff-group-thin:before { content: "\f1d0"; }
.ficon-ff-hold:before { content: "\f1d1"; }
.ficon-ff-line-phone:before { content: "\f1d2"; }
.ficon-ff-mic:before { content: "\f144"; }
.ficon-ff-mute:before { content: "\f145"; }
.ficon-ff-on-browser:before { content: "\f146"; }
.ficon-ff-on-call:before { content: "\f147"; }
.ficon-ff-on-mobile:before { content: "\f1af"; }
.ficon-ff-phone:before { content: "\f148"; }
.ficon-ff-phone-accept:before { content: "\f1d3"; }
.ficon-ff-phone-reject:before { content: "\f1d4"; }
.ficon-ff-via-browser:before { content: "\f1ad"; }
.ficon-ff-via-phone:before { content: "\f1ae"; }
.ficon-file:before { content: "\f149"; }
.ficon-file-edit:before { content: "\f14a"; }
.ficon-file-visible:before { content: "\f14b"; }
.ficon-firefox:before { content: "\f14c"; }
.ficon-folder:before { content: "\f1df"; }
.ficon-folder-o:before { content: "\f14d"; }
.ficon-folder-open-o:before { content: "\f14e"; }
.ficon-font:before { content: "\f248"; }
.ficon-forum-feature-request:before { content: "\f2ae"; }
.ficon-forum-new:before { content: "\f2b9"; }
.ficon-forum-source:before { content: "\f1f5"; }
.ficon-forum-topic:before { content: "\f28e"; }
.ficon-forward:before { content: "\f14f"; }
.ficon-forward-tkt:before { content: "\f1ac"; }
.ficon-freshchat:before { content: "\f150"; }
.ficon-freshdesk:before { content: "\f151"; }
.ficon-freshfone:before { content: "\f1c0"; }
.ficon-gamification-settings:before { content: "\f152"; }
.ficon-gear:before { content: "\f153"; }
.ficon-gear-line:before { content: "\f26d"; }
.ficon-glance:before { content: "\f21c"; }
.ficon-google:before { content: "\f2a0"; }
.ficon-googleplus:before { content: "\f154"; }
.ficon-group:before { content: "\f155"; }
.ficon-group_summary:before { content: "\f21d"; }
.ficon-grouping-disable:before { content: "\f156"; }
.ficon-grouping-enable:before { content: "\f157"; }
.ficon-hangup:before { content: "\f20e"; }
.ficon-header:before { content: "\f249"; }
.ficon-headphone:before { content: "\f2af"; }
.ficon-help:before { content: "\f158"; }
.ficon-help-icon:before { content: "\f1d9"; }
.ficon-helpdesk:before { content: "\f1ca"; }
.ficon-helpdesk-settings:before { content: "\f1cb"; }
.ficon-helpdesk_new:before { content: "\f2be"; }
.ficon-highlightmode:before { content: "\f2bf"; }
.ficon-horizontal-line:before { content: "\f24a"; }
.ficon-huddle-group:before { content: "\f27a"; }
.ficon-huddle-logo:before { content: "\f27b"; }
.ficon-ie:before { content: "\f159"; }
.ficon-ilos-icon:before { content: "\f200"; }
.ficon-image:before { content: "\f24b"; }
.ficon-import:before { content: "\f15a"; }
.ficon-incoming-call:before { content: "\f20f"; }
.ficon-indent:before { content: "\f24c"; }
.ficon-infinity-5:before { content: "\f15b"; }
.ficon-info:before { content: "\f24d"; }
.ficon-inherit-parent:before { content: "\f264"; }
.ficon-integrations:before { content: "\f216"; }
.ficon-ios:before { content: "\f15d"; }
.ficon-italic:before { content: "\f24e"; }
.ficon-keyicon:before { content: "\f265"; }
.ficon-left-arrow-thick:before { content: "\f1d6"; }
.ficon-left-direction:before { content: "\f268"; }
.ficon-like:before { content: "\f15e"; }
.ficon-link:before { content: "\f15f"; }
.ficon-link-copy:before { content: "\f24f"; }
.ficon-linkedin:before { content: "\f160"; }
.ficon-linux:before { content: "\f161"; }
.ficon-list-ol:before { content: "\f250"; }
.ficon-list-ul:before { content: "\f251"; }
.ficon-live_chat:before { content: "\f1ec"; }
.ficon-livechat:before { content: "\f222"; }
.ficon-lock:before { content: "\f162"; }
.ficon-lock-2:before { content: "\f163"; }
.ficon-lock-open:before { content: "\f164"; }
.ficon-mac:before { content: "\f165"; }
.ficon-magic:before { content: "\f252"; }
.ficon-mail:before { content: "\f166"; }
.ficon-mail-filled:before { content: "\f1aa"; }
.ficon-mail-source:before { content: "\f1f6"; }
.ficon-mail-thin:before { content: "\f168"; }
.ficon-map-marker:before { content: "\f169"; }
.ficon-menu:before { content: "\f2ba"; }
.ficon-merge:before { content: "\f16a"; }
.ficon-message:before { content: "\f16b"; }
.ficon-minus:before { content: "\f16c"; }
.ficon-mobihelp:before { content: "\f16d"; }
.ficon-mobihelp-new:before { content: "\f2b7"; }
.ficon-mobile:before { content: "\f16e"; }
.ficon-mobile-2:before { content: "\f274"; }
.ficon-mobile-2-disabled:before { content: "\f275"; }
.ficon-mobile-active-source:before { content: "\f1f7"; }
.ficon-mobile-source:before { content: "\f1f8"; }
.ficon-multi-product:before { content: "\f16f"; }
.ficon-nested_field:before { content: "\f1cc"; }
.ficon-new-phone-ticket:before { content: "\f1cd"; }
.ficon-new-ticket:before { content: "\f1ce"; }
.ficon-no-arrow-left:before { content: "\f170"; }
.ficon-no-arrow-right:before { content: "\f171"; }
.ficon-no-data:before { content: "\f1fe"; }
.ficon-no-data-graph:before { content: "\f1c6"; }
.ficon-no-network:before { content: "\f1b4"; }
.ficon-no_change:before { content: "\f284"; }
.ficon-notice:before { content: "\f172"; }
.ficon-notice-o:before { content: "\f173"; }
.ficon-notification:before { content: "\f270"; }
.ficon-number:before { content: "\f174"; }
.ficon-observer:before { content: "\f175"; }
.ficon-onhold:before { content: "\f211"; }
.ficon-open-in-new-window:before { content: "\f292"; }
.ficon-open-in-portal:before { content: "\f1e0"; }
.ficon-open-new-tab:before { content: "\f2a9"; }
.ficon-opera:before { content: "\f177"; }
.ficon-outbound-email:before { content: "\f2b8"; }
.ficon-outdent:before { content: "\f253"; }
.ficon-outgoing-call:before { content: "\f210"; }
.ficon-paint-brush:before { content: "\f254"; }
.ficon-paperplane:before { content: "\f178"; }
.ficon-paragraph:before { content: "\f179"; }
.ficon-pencil:before { content: "\f17a"; }
.ficon-performance_distribution:before { content: "\f21e"; }
.ficon-phone:before { content: "\f17b"; }
.ficon-phone-block:before { content: "\f17c"; }
.ficon-phone-disable:before { content: "\f17d"; }
.ficon-phone-disable-thin:before { content: "\f1b5"; }
.ficon-phone-new:before { content: "\f2a3"; }
.ficon-phone_summary:before { content: "\f1ee"; }
.ficon-pie-chart:before { content: "\f285"; }
.ficon-pin:before { content: "\f2b0"; }
.ficon-plain-text:before { content: "\f255"; }
.ficon-plus:before { content: "\f17e"; }
.ficon-plus-circle:before { content: "\f1c5"; }
.ficon-portal-source:before { content: "\f1f9"; }
.ficon-portals:before { content: "\f1cf"; }
.ficon-post-edit:before { content: "\f17f"; }
.ficon-power:before { content: "\f26e"; }
.ficon-preserve-format:before { content: "\f256"; }
.ficon-print:before { content: "\f29d"; }
.ficon-pushpin:before { content: "\f180"; }
.ficon-puzzle:before { content: "\f1d7"; }
.ficon-qna:before { content: "\f286"; }
.ficon-questions:before { content: "\f296"; }
.ficon-read-all:before { content: "\f271"; }
.ficon-rearrange:before { content: "\f181"; }
.ficon-rebranding:before { content: "\f182"; }
.ficon-refresh:before { content: "\f183"; }
.ficon-refresh-source:before { content: "\f1fa"; }
.ficon-reorder:before { content: "\f184"; }
.ficon-reorder-2:before { content: "\f185"; }
.ficon-reply:before { content: "\f186"; }
.ficon-report-a-problem:before { content: "\f295"; }
.ficon-reports-sorting:before { content: "\f1e1"; }
.ficon-reports-sorting-asc:before { content: "\f1e3"; }
.ficon-reports-sorting-desc:before { content: "\f1e4"; }
.ficon-restore:before { content: "\f227"; }
.ficon-retweet:before { content: "\f187"; }
.ficon-right-direction:before { content: "\f269"; }
.ficon-role:before { content: "\f188"; }
.ficon-safari:before { content: "\f189"; }
.ficon-save:before { content: "\f18a"; }
.ficon-save-as:before { content: "\f18b"; }
.ficon-scenario:before { content: "\f18c"; }
.ficon-search:before { content: "\f18d"; }
.ficon-search-new:before { content: "\f2a4"; }
.ficon-security:before { content: "\f18e"; }
.ficon-see-more:before { content: "\f28d"; }
.ficon-settings-outline:before { content: "\f22c"; }
.ficon-settings1:before { content: "\f1d8"; }
.ficon-share:before { content: "\f2c2"; }
.ficon-shared:before { content: "\f18f"; }
.ficon-sidebar-list:before { content: "\f190"; }
.ficon-skills:before { content: "\f262"; }
.ficon-sla:before { content: "\f191"; }
.ficon-smile-o:before { content: "\f257"; }
.ficon-solution-article-new:before { content: "\f28b"; }
.ficon-solution_article:before { content: "\f287"; }
.ficon-solution_article_1:before { content: "\f288"; }
.ficon-sorting-asc:before { content: "\f1e6"; }
.ficon-sorting-default:before { content: "\f1e7"; }
.ficon-sorting-dsc:before { content: "\f1e8"; }
.ficon-split:before { content: "\f192"; }
.ficon-square-o:before { content: "\f258"; }
.ficon-star:before { content: "\f193"; }
.ficon-star-o:before { content: "\f194"; }
.ficon-strikethrough:before { content: "\f259"; }
.ficon-suggested-solution:before { content: "\f29a"; }
.ficon-supervisor:before { content: "\f195"; }
.ficon-support-email:before { content: "\f26f"; }
.ficon-survey-happy:before { content: "\f1b8"; }
.ficon-survey-neutral:before { content: "\f1b9"; }
.ficon-survey-sad:before { content: "\f1ba"; }
.ficon-survey-settings:before { content: "\f196"; }
.ficon-table:before { content: "\f25a"; }
.ficon-tags:before { content: "\f205"; }
.ficon-text:before { content: "\f198"; }
.ficon-text-height:before { content: "\f25b"; }
.ficon-thumbs-down:before { content: "\f29c"; }
.ficon-thumbs-up:before { content: "\f29b"; }
.ficon-tick:before { content: "\f217"; }
.ficon-tick-new:before { content: "\f2bc"; }
.ficon-ticket:before { content: "\f199"; }
.ficon-ticket-fields:before { content: "\f19a"; }
.ficon-ticket-new:before { content: "\f2a6"; }
.ficon-ticket-reply:before { content: "\f290"; }
.ficon-ticket-status:before { content: "\f298"; }
.ficon-ticket-status-new:before { content: "\f2ac"; }
.ficon-ticket-thin:before { content: "\f228"; }
.ficon-ticket_template:before { content: "\f22b"; }
.ficon-ticket_volume:before { content: "\f1f1"; }
.ficon-time_sheet:before { content: "\f1f2"; }
.ficon-timeline-forum:before { content: "\f19b"; }
.ficon-timeline-ticket:before { content: "\f19c"; }
.ficon-timespent:before { content: "\f278"; }
.ficon-tint:before { content: "\f25c"; }
.ficon-transfer-round:before { content: "\f221"; }
.ficon-trash:before { content: "\f19d"; }
.ficon-trash-o:before { content: "\f19e"; }
.ficon-trash-strike-thru:before { content: "\f19f"; }
.ficon-twitter:before { content: "\f1a0"; }
.ficon-twitter-like:before { content: "\f1fd"; }
.ficon-twitter-lock:before { content: "\f1a1"; }
.ficon-twitter-new:before { content: "\f299"; }
.ficon-twitter-o:before { content: "\f1a2"; }
.ficon-twitter-source:before { content: "\f1fb"; }
.ficon-twitter-ticket:before { content: "\f2a2"; }
.ficon-underline:before { content: "\f25d"; }
.ficon-undo:before { content: "\f2d0"; }
.ficon-undo-inherit:before { content: "\f266"; }
.ficon-unlink:before { content: "\f25e"; }
.ficon-unlink-tracker:before { content: "\f233"; }
.ficon-unlock:before { content: "\f1a3"; }
.ficon-unverified:before { content: "\f1a4"; }
.ficon-upload:before { content: "\f25f"; }
.ficon-user:before { content: "\f1a5"; }
.ficon-video-camera:before { content: "\f260"; }
.ficon-view-retweets:before { content: "\f1a6"; }
.ficon-warm-transfer:before { content: "\f231"; }
.ficon-warning:before { content: "\f1a7"; }
.ficon-web:before { content: "\f276"; }
.ficon-web-disabled:before { content: "\f277"; }
.ficon-web-new:before { content: "\f2a5"; }
.ficon-web-page:before { content: "\f1a8"; }
.ficon-web-source:before { content: "\f1fc"; }
.ficon-went-wrong:before { content: "\f1ff"; }
.ficon-windows:before { content: "\f1a9"; }
