//
// Font icon - Unicode variables.
//


$font-glyphs-abandoned-call: "\f1e5";
$font-glyphs-account: "\f100";
$font-glyphs-agent: "\f101";
$font-glyphs-agent-fchat-off: "\f1b0";
$font-glyphs-agent-fchat-on: "\f1b1";
$font-glyphs-agent-summary: "\f1bb";
$font-glyphs-alert: "\f203";
$font-glyphs-all-streams: "\f102";
$font-glyphs-android: "\f103";
$font-glyphs-answer-checked: "\f104";
$font-glyphs-answer-unchecked: "\f105";
$font-glyphs-apple: "\f106";
$font-glyphs-arrow-click: "\f1b7";
$font-glyphs-arrow-down: "\f107";
$font-glyphs-arrow-down-2: "\f108";
$font-glyphs-arrow-left: "\f109";
$font-glyphs-arrow-left-2: "\f10a";
$font-glyphs-arrow-right: "\f10b";
$font-glyphs-arrow-right-2: "\f10c";
$font-glyphs-arrow-up: "\f10d";
$font-glyphs-arrow-up-2: "\f10e";
$font-glyphs-available-on-mobile: "\f1b6";
$font-glyphs-bell: "\f10f";
$font-glyphs-billing: "\f110";
$font-glyphs-blank-file: "\f111";
$font-glyphs-book: "\f112";
$font-glyphs-book-hollow: "\f1da";
$font-glyphs-bulb: "\f113";
$font-glyphs-bullhorn: "\f114";
$font-glyphs-business-hours: "\f115";
$font-glyphs-calendar: "\f1bc";
$font-glyphs-calling: "\f116";
$font-glyphs-canned-response: "\f117";
$font-glyphs-caret-down: "\f118";
$font-glyphs-caret-left: "\f119";
$font-glyphs-caret-right: "\f11a";
$font-glyphs-caret-up: "\f11b";
$font-glyphs-categories: "\f1db";
$font-glyphs-categories-orphan: "\f1dc";
$font-glyphs-category: "\f201";
$font-glyphs-chat: "\f1bd";
$font-glyphs-chat-bubble: "\f11c";
$font-glyphs-chat-disable: "\f11d";
$font-glyphs-chat-enable: "\f11e";
$font-glyphs-chat-source: "\f1f3";
$font-glyphs-checkbox: "\f11f";
$font-glyphs-checkmark: "\f120";
$font-glyphs-checkmark-round: "\f121";
$font-glyphs-checkmark-round-o: "\f122";
$font-glyphs-checkmark-thick: "\f123";
$font-glyphs-chrome: "\f124";
$font-glyphs-comment-multi: "\f125";
$font-glyphs-comments: "\f126";
$font-glyphs-comments1: "\f1d5";
$font-glyphs-company: "\f127";
$font-glyphs-compose-email: "\f1c8";
$font-glyphs-conversation: "\f128";
$font-glyphs-cross: "\f129";
$font-glyphs-crown: "\f12a";
$font-glyphs-cube: "\f1dd";
$font-glyphs-customer-fields: "\f12b";
$font-glyphs-customer-portal: "\f12c";
$font-glyphs-customer-report: "\f1be";
$font-glyphs-customer-satisfaction: "\f1bf";
$font-glyphs-customer_reports: "\f1e9";
$font-glyphs-customer_satisfaction: "\f1ea";
$font-glyphs-date: "\f12d";
$font-glyphs-day_pass: "\f12e";
$font-glyphs-decimal: "\f1c9";
$font-glyphs-deleted: "\f1b3";
$font-glyphs-disconnected: "\f12f";
$font-glyphs-dislike: "\f130";
$font-glyphs-dispatcher: "\f131";
$font-glyphs-dots: "\f132";
$font-glyphs-dropbox: "\f133";
$font-glyphs-dropdown-circle: "\f202";
$font-glyphs-dropdown_blank: "\f134";
$font-glyphs-earth: "\f135";
$font-glyphs-ecommerce: "\f1e2";
$font-glyphs-edit: "\f136";
$font-glyphs-edit-strike-thru: "\f137";
$font-glyphs-ellipsis: "\f138";
$font-glyphs-email: "\f139";
$font-glyphs-email-notifications: "\f13a";
$font-glyphs-email_commands_setting: "\f13b";
$font-glyphs-eye: "\f13c";
$font-glyphs-facebook: "\f13d";
$font-glyphs-facebook-lock: "\f13e";
$font-glyphs-facebook-setting: "\f13f";
$font-glyphs-facebook-source: "\f1f4";
$font-glyphs-feedback: "\f140";
$font-glyphs-feedback-new: "\f1de";
$font-glyphs-ff-add-note: "\f141";
$font-glyphs-ff-clock: "\f142";
$font-glyphs-ff-dialpad: "\f143";
$font-glyphs-ff-group: "\f1b2";
$font-glyphs-ff-group-thin: "\f1d0";
$font-glyphs-ff-hold: "\f1d1";
$font-glyphs-ff-line-phone: "\f1d2";
$font-glyphs-ff-mic: "\f144";
$font-glyphs-ff-mute: "\f145";
$font-glyphs-ff-on-browser: "\f146";
$font-glyphs-ff-on-call: "\f147";
$font-glyphs-ff-on-mobile: "\f1af";
$font-glyphs-ff-phone: "\f148";
$font-glyphs-ff-phone-accept: "\f1d3";
$font-glyphs-ff-phone-reject: "\f1d4";
$font-glyphs-ff-via-browser: "\f1ad";
$font-glyphs-ff-via-phone: "\f1ae";
$font-glyphs-file: "\f149";
$font-glyphs-file-edit: "\f14a";
$font-glyphs-file-visible: "\f14b";
$font-glyphs-firefox: "\f14c";
$font-glyphs-folder: "\f1df";
$font-glyphs-folder-o: "\f14d";
$font-glyphs-folder-open-o: "\f14e";
$font-glyphs-forum-source: "\f1f5";
$font-glyphs-forward: "\f14f";
$font-glyphs-forward-tkt: "\f1ac";
$font-glyphs-freshchat: "\f150";
$font-glyphs-freshdesk: "\f151";
$font-glyphs-freshfone: "\f1c0";
$font-glyphs-gamification-settings: "\f152";
$font-glyphs-gear: "\f153";
$font-glyphs-googleplus: "\f154";
$font-glyphs-group: "\f155";
$font-glyphs-group-summary: "\f1c1";
$font-glyphs-grouping-disable: "\f156";
$font-glyphs-grouping-enable: "\f157";
$font-glyphs-help: "\f158";
$font-glyphs-help-icon: "\f1d9";
$font-glyphs-helpdesk: "\f1ca";
$font-glyphs-helpdesk-settings: "\f1cb";
$font-glyphs-helpdesk_at_glance: "\f1eb";
$font-glyphs-ie: "\f159";
$font-glyphs-ilos-icon: "\f200";
$font-glyphs-import: "\f15a";
$font-glyphs-infinity-5: "\f15b";
$font-glyphs-integrations: "\f15c";
$font-glyphs-ios: "\f15d";
$font-glyphs-left-arrow-thick: "\f1d6";
$font-glyphs-like: "\f15e";
$font-glyphs-link: "\f15f";
$font-glyphs-linkedin: "\f160";
$font-glyphs-linux: "\f161";
$font-glyphs-live_chat: "\f1ec";
$font-glyphs-lock: "\f162";
$font-glyphs-lock-2: "\f163";
$font-glyphs-lock-open: "\f164";
$font-glyphs-mac: "\f165";
$font-glyphs-mail: "\f166";
$font-glyphs-mail-filled: "\f1aa";
$font-glyphs-mail-source: "\f1f6";
$font-glyphs-mail-thin: "\f168";
$font-glyphs-map-marker: "\f169";
$font-glyphs-merge: "\f16a";
$font-glyphs-message: "\f16b";
$font-glyphs-minus: "\f16c";
$font-glyphs-mobihelp: "\f16d";
$font-glyphs-mobile: "\f16e";
$font-glyphs-mobile-active-source: "\f1f7";
$font-glyphs-mobile-source: "\f1f8";
$font-glyphs-multi-product: "\f16f";
$font-glyphs-nested_field: "\f1cc";
$font-glyphs-new-phone-ticket: "\f1cd";
$font-glyphs-new-ticket: "\f1ce";
$font-glyphs-no-arrow-left: "\f170";
$font-glyphs-no-arrow-right: "\f171";
$font-glyphs-no-data: "\f1fe";
$font-glyphs-no-data-graph: "\f1c6";
$font-glyphs-no-network: "\f1b4";
$font-glyphs-notice: "\f172";
$font-glyphs-notice-o: "\f173";
$font-glyphs-number: "\f174";
$font-glyphs-observer: "\f175";
$font-glyphs-open-in-new-window: "\f176";
$font-glyphs-open-in-portal: "\f1e0";
$font-glyphs-opera: "\f177";
$font-glyphs-paperplane: "\f178";
$font-glyphs-paragraph: "\f179";
$font-glyphs-pencil: "\f17a";
$font-glyphs-performance-distribution: "\f1c3";
$font-glyphs-performance_distributions: "\f1ed";
$font-glyphs-phone: "\f17b";
$font-glyphs-phone-block: "\f17c";
$font-glyphs-phone-disable: "\f17d";
$font-glyphs-phone-disable-thin: "\f1b5";
$font-glyphs-phone_summary: "\f1ee";
$font-glyphs-plus: "\f17e";
$font-glyphs-plus-circle: "\f1c5";
$font-glyphs-portal-source: "\f1f9";
$font-glyphs-portals: "\f1cf";
$font-glyphs-post-edit: "\f17f";
$font-glyphs-pushpin: "\f180";
$font-glyphs-puzzle: "\f1d7";
$font-glyphs-rearrange: "\f181";
$font-glyphs-rebranding: "\f182";
$font-glyphs-refresh: "\f183";
$font-glyphs-refresh-source: "\f1fa";
$font-glyphs-reorder: "\f184";
$font-glyphs-reorder-2: "\f185";
$font-glyphs-reply: "\f186";
$font-glyphs-reports-sorting: "\f1e1";
$font-glyphs-reports-sorting-asc: "\f1e3";
$font-glyphs-reports-sorting-desc: "\f1e4";
$font-glyphs-retweet: "\f187";
$font-glyphs-role: "\f188";
$font-glyphs-safari: "\f189";
$font-glyphs-save: "\f18a";
$font-glyphs-save-as: "\f18b";
$font-glyphs-scenario: "\f18c";
$font-glyphs-search: "\f18d";
$font-glyphs-security: "\f18e";
$font-glyphs-settings1: "\f1d8";
$font-glyphs-shared: "\f18f";
$font-glyphs-sidebar-list: "\f190";
$font-glyphs-sla: "\f191";
$font-glyphs-sorting-asc: "\f1e6";
$font-glyphs-sorting-default: "\f1e7";
$font-glyphs-sorting-dsc: "\f1e8";
$font-glyphs-split: "\f192";
$font-glyphs-star: "\f193";
$font-glyphs-star-o: "\f194";
$font-glyphs-summary-1: "\f1ef";
$font-glyphs-summary-2: "\f1f0";
$font-glyphs-supervisor: "\f195";
$font-glyphs-survey-happy: "\f1b8";
$font-glyphs-survey-neutral: "\f1b9";
$font-glyphs-survey-sad: "\f1ba";
$font-glyphs-survey-settings: "\f196";
$font-glyphs-tags: "\f197";
$font-glyphs-text: "\f198";
$font-glyphs-ticket: "\f199";
$font-glyphs-ticket-fields: "\f19a";
$font-glyphs-ticket-volume: "\f1c4";
$font-glyphs-ticket_volume: "\f1f1";
$font-glyphs-time_sheet: "\f1f2";
$font-glyphs-timeline-forum: "\f19b";
$font-glyphs-timeline-ticket: "\f19c";
$font-glyphs-trash: "\f19d";
$font-glyphs-trash-o: "\f19e";
$font-glyphs-trash-strike-thru: "\f19f";
$font-glyphs-twitter: "\f1a0";
$font-glyphs-twitter-like: "\f1fd";
$font-glyphs-twitter-lock: "\f1a1";
$font-glyphs-twitter-o: "\f1a2";
$font-glyphs-twitter-source: "\f1fb";
$font-glyphs-unlock: "\f1a3";
$font-glyphs-unverified: "\f1a4";
$font-glyphs-user: "\f1a5";
$font-glyphs-view-retweets: "\f1a6";
$font-glyphs-warning: "\f1a7";
$font-glyphs-web-page: "\f1a8";
$font-glyphs-web-source: "\f1fc";
$font-glyphs-went-wrong: "\f1ff";
$font-glyphs-windows: "\f1a9";