//
// Icon Font: glyphs
//

@font-face {
  font-family: "glyphs";
  src: font-url("glyphs_74eee9c184d4ae80a7d0ba1f239112ff.eot");
  src: font-url("glyphs_74eee9c184d4ae80a7d0ba1f239112ff.eot?#iefix") format("embedded-opentype"),
       font-url("glyphs_74eee9c184d4ae80a7d0ba1f239112ff.woff") format("woff"),
       font-url("glyphs_74eee9c184d4ae80a7d0ba1f239112ff.ttf") format("truetype"),
       font-url("glyphs_74eee9c184d4ae80a7d0ba1f239112ff.svg#glyphs") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "glyphs";
    src: font-url("glyphs_74eee9c184d4ae80a7d0ba1f239112ff.svg#glyphs") format("svg");
  }
}

[data-icon]:before { content: attr(data-icon); }

[data-icon]:before,
.ficon-account:before,
.ficon-agent:before,
.ficon-all-streams:before,
.ficon-answer-checked:before,
.ficon-answer-unchecked:before,
.ficon-arrow-down:before,
.ficon-arrow-down-2:before,
.ficon-arrow-left:before,
.ficon-arrow-left-2:before,
.ficon-arrow-right:before,
.ficon-arrow-right-2:before,
.ficon-arrow-up:before,
.ficon-arrow-up-2:before,
.ficon-bell:before,
.ficon-billing:before,
.ficon-blank-file:before,
.ficon-book:before,
.ficon-bulb:before,
.ficon-bullhorn:before,
.ficon-business-hours:before,
.ficon-calling:before,
.ficon-canned-response:before,
.ficon-caret-down:before,
.ficon-caret-left:before,
.ficon-caret-right:before,
.ficon-caret-up:before,
.ficon-chat-bubble:before,
.ficon-chat-disable:before,
.ficon-chat-enable:before,
.ficon-checkbox:before,
.ficon-checkmark:before,
.ficon-checkmark-round:before,
.ficon-checkmark-round-o:before,
.ficon-checkmark-thick:before,
.ficon-comment-multi:before,
.ficon-comments:before,
.ficon-conversation:before,
.ficon-cross:before,
.ficon-crown:before,
.ficon-customer-fields:before,
.ficon-customer-portal:before,
.ficon-date:before,
.ficon-day_pass:before,
.ficon-dislike:before,
.ficon-dispatcher:before,
.ficon-dots:before,
.ficon-dropbox:before,
.ficon-dropdown_blank:before,
.ficon-earth:before,
.ficon-edit:before,
.ficon-edit-strike-thru:before,
.ficon-ellipsis:before,
.ficon-email:before,
.ficon-email-notifications:before,
.ficon-email_commands_setting:before,
.ficon-eye:before,
.ficon-facebook:before,
.ficon-facebook-lock:before,
.ficon-facebook-setting:before,
.ficon-feedback:before,
.ficon-ff-add-note:before,
.ficon-ff-clock:before,
.ficon-ff-dialpad:before,
.ficon-ff-mic:before,
.ficon-ff-mute:before,
.ficon-ff-on-browser:before,
.ficon-ff-on-call:before,
.ficon-ff-phone:before,
.ficon-file:before,
.ficon-file-edit:before,
.ficon-file-visible:before,
.ficon-folder-o:before,
.ficon-folder-open-o:before,
.ficon-forward:before,
.ficon-freshchat:before,
.ficon-freshdesk:before,
.ficon-freshfone:before,
.ficon-gamification-settings:before,
.ficon-gear:before,
.ficon-googleplus:before,
.ficon-group:before,
.ficon-grouping-disable:before,
.ficon-grouping-enable:before,
.ficon-help:before,
.ficon-import:before,
.ficon-infinity-5:before,
.ficon-integrations:before,
.ficon-like:before,
.ficon-link:before,
.ficon-linkedin:before,
.ficon-lock:before,
.ficon-lock-2:before,
.ficon-lock-open:before,
.ficon-mail:before,
.ficon-map-marker:before,
.ficon-merge:before,
.ficon-message:before,
.ficon-minus:before,
.ficon-mobihelp:before,
.ficon-mobile:before,
.ficon-multi-product:before,
.ficon-notice:before,
.ficon-notice-o:before,
.ficon-number:before,
.ficon-observer:before,
.ficon-open-in-new-window:before,
.ficon-paperplane:before,
.ficon-paragraph:before,
.ficon-pencil:before,
.ficon-phone:before,
.ficon-phone-disable:before,
.ficon-phone-enable:before,
.ficon-plus:before,
.ficon-post-edit:before,
.ficon-pushpin:before,
.ficon-rearrange:before,
.ficon-rebranding:before,
.ficon-refresh:before,
.ficon-reorder:before,
.ficon-reorder-2:before,
.ficon-reply:before,
.ficon-retweet:before,
.ficon-role:before,
.ficon-save:before,
.ficon-save-as:before,
.ficon-scenario:before,
.ficon-search:before,
.ficon-security:before,
.ficon-sidebar-list:before,
.ficon-sla:before,
.ficon-split:before,
.ficon-star:before,
.ficon-star-o:before,
.ficon-supervisor:before,
.ficon-survey-settings:before,
.ficon-tags:before,
.ficon-text:before,
.ficon-ticket:before,
.ficon-ticket-fields:before,
.ficon-ticket2:before,
.ficon-timeline-forum:before,
.ficon-timeline-ticket:before,
.ficon-trash:before,
.ficon-trash-o:before,
.ficon-trash-strike-thru:before,
.ficon-twitter:before,
.ficon-twitter-lock:before,
.ficon-twitter-o:before,
.ficon-unlock:before,
.ficon-user:before,
.ficon-view-retweets:before,
.ficon-warning:before {
  display: inline-block;
  font-family: "glyphs";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

.ficon-account:before { content: "\f19f"; }
.ficon-agent:before { content: "\f147"; }
.ficon-all-streams:before { content: "\f100"; }
.ficon-answer-checked:before { content: "\f12e"; }
.ficon-answer-unchecked:before { content: "\f140"; }
.ficon-arrow-down:before { content: "\f101"; }
.ficon-arrow-down-2:before { content: "\f166"; }
.ficon-arrow-left:before { content: "\f102"; }
.ficon-arrow-left-2:before { content: "\f167"; }
.ficon-arrow-right:before { content: "\f103"; }
.ficon-arrow-right-2:before { content: "\f168"; }
.ficon-arrow-up:before { content: "\f104"; }
.ficon-arrow-up-2:before { content: "\f169"; }
.ficon-bell:before { content: "\f17e"; }
.ficon-billing:before { content: "\f148"; }
.ficon-blank-file:before { content: "\f16a"; }
.ficon-book:before { content: "\f105"; }
.ficon-bulb:before { content: "\f13a"; }
.ficon-bullhorn:before { content: "\f13b"; }
.ficon-business-hours:before { content: "\f149"; }
.ficon-calling:before { content: "\f183"; }
.ficon-canned-response:before { content: "\f14a"; }
.ficon-caret-down:before { content: "\f106"; }
.ficon-caret-left:before { content: "\f107"; }
.ficon-caret-right:before { content: "\f108"; }
.ficon-caret-up:before { content: "\f109"; }
.ficon-chat-bubble:before { content: "\f1a0"; }
.ficon-chat-disable:before { content: "\f16b"; }
.ficon-chat-enable:before { content: "\f16c"; }
.ficon-checkbox:before { content: "\f181"; }
.ficon-checkmark:before { content: "\f10a"; }
.ficon-checkmark-round:before { content: "\f12f"; }
.ficon-checkmark-round-o:before { content: "\f130"; }
.ficon-checkmark-thick:before { content: "\f182"; }
.ficon-comment-multi:before { content: "\f131"; }
.ficon-comments:before { content: "\f175"; }
.ficon-conversation:before { content: "\f10b"; }
.ficon-cross:before { content: "\f10c"; }
.ficon-crown:before { content: "\f10d"; }
.ficon-customer-fields:before { content: "\f19d"; }
.ficon-customer-portal:before { content: "\f14b"; }
.ficon-date:before { content: "\f184"; }
.ficon-day_pass:before { content: "\f14c"; }
.ficon-dislike:before { content: "\f17f"; }
.ficon-dispatcher:before { content: "\f14d"; }
.ficon-dots:before { content: "\f10e"; }
.ficon-dropbox:before { content: "\f184"; }
.ficon-dropdown_blank:before { content: "\f185"; }
.ficon-earth:before { content: "\f10f"; }
.ficon-edit:before { content: "\f110"; }
.ficon-edit-strike-thru:before { content: "\f186"; }
.ficon-ellipsis:before { content: "\f111"; }
.ficon-email:before { content: "\f14e"; }
.ficon-email-notifications:before { content: "\f14f"; }
.ficon-email_commands_setting:before { content: "\f150"; }
.ficon-eye:before { content: "\f112"; }
.ficon-facebook:before { content: "\f113"; }
.ficon-facebook-lock:before { content: "\f173"; }
.ficon-facebook-setting:before { content: "\f151"; }
.ficon-feedback:before { content: "\f152"; }
.ficon-ff-add-note:before { content: "\f176"; }
.ficon-ff-clock:before { content: "\f177"; }
.ficon-ff-dialpad:before { content: "\f178"; }
.ficon-ff-mic:before { content: "\f179"; }
.ficon-ff-mute:before { content: "\f17a"; }
.ficon-ff-on-browser:before { content: "\f17b"; }
.ficon-ff-on-call:before { content: "\f17c"; }
.ficon-ff-phone:before { content: "\f17d"; }
.ficon-file:before { content: "\f142"; }
.ficon-file-edit:before { content: "\f132"; }
.ficon-file-visible:before { content: "\f133"; }
.ficon-folder-o:before { content: "\f114"; }
.ficon-folder-open-o:before { content: "\f115"; }
.ficon-forward:before { content: "\f180"; }
.ficon-freshchat:before { content: "\f164"; }
.ficon-freshdesk:before { content: "\f116"; }
.ficon-freshfone:before { content: "\f153"; }
.ficon-gamification-settings:before { content: "\f154"; }
.ficon-gear:before { content: "\f117"; }
.ficon-googleplus:before { content: "\f118"; }
.ficon-group:before { content: "\f155"; }
.ficon-grouping-disable:before { content: "\f16d"; }
.ficon-grouping-enable:before { content: "\f16e"; }
.ficon-help:before { content: "\f13c"; }
.ficon-import:before { content: "\f156"; }
.ficon-infinity-5:before { content: "\f141"; }
.ficon-integrations:before { content: "\f157"; }
.ficon-like:before { content: "\f13d"; }
.ficon-link:before { content: "\f119"; }
.ficon-linkedin:before { content: "\f11a"; }
.ficon-lock:before { content: "\f11b"; }
.ficon-lock-2:before { content: "\f187"; }
.ficon-lock-open:before { content: "\f11c"; }
.ficon-mail:before { content: "\f143"; }
.ficon-map-marker:before { content: "\f11d"; }
.ficon-merge:before { content: "\f188"; }
.ficon-message:before { content: "\f165"; }
.ficon-minus:before { content: "\f11e"; }
.ficon-mobihelp:before { content: "\f158"; }
.ficon-mobile:before { content: "\f185"; }
.ficon-multi-product:before { content: "\f159"; }
.ficon-notice:before { content: "\f134"; }
.ficon-notice-o:before { content: "\f135"; }
.ficon-number:before { content: "\f189"; }
.ficon-observer:before { content: "\f15a"; }
.ficon-open-in-new-window:before { content: "\f13e"; }
.ficon-paperplane:before { content: "\f11f"; }
.ficon-paragraph:before { content: "\f18a"; }
.ficon-pencil:before { content: "\f186"; }
.ficon-phone:before { content: "\f144"; }
.ficon-phone-disable:before { content: "\f16f"; }
.ficon-phone-enable:before { content: "\f170"; }
.ficon-plus:before { content: "\f120"; }
.ficon-post-edit:before { content: "\f136"; }
.ficon-pushpin:before { content: "\f18b"; }
.ficon-rearrange:before { content: "\f145"; }
.ficon-rebranding:before { content: "\f15b"; }
.ficon-refresh:before { content: "\f171"; }
.ficon-reorder:before { content: "\f137"; }
.ficon-reorder-2:before { content: "\f172"; }
.ficon-reply:before { content: "\f121"; }
.ficon-retweet:before { content: "\f122"; }
.ficon-role:before { content: "\f15c"; }
.ficon-save:before { content: "\f190"; }
.ficon-save-as:before { content: "\f191"; }
.ficon-scenario:before { content: "\f15d"; }
.ficon-search:before { content: "\f123"; }
.ficon-security:before { content: "\f15e"; }
.ficon-sidebar-list:before { content: "\f138"; }
.ficon-sla:before { content: "\f15f"; }
.ficon-split:before { content: "\f181"; }
.ficon-star:before { content: "\f124"; }
.ficon-star-o:before { content: "\f139"; }
.ficon-supervisor:before { content: "\f160"; }
.ficon-survey-settings:before { content: "\f161"; }
.ficon-tags:before { content: "\f162"; }
.ficon-text:before { content: "\f18c"; }
.ficon-ticket:before { content: "\f125"; }
.ficon-ticket-fields:before { content: "\f163"; }
.ficon-ticket2:before { content: "\f126"; }
.ficon-timeline-forum:before { content: "\f18d"; }
.ficon-timeline-ticket:before { content: "\f18e"; }
.ficon-trash:before { content: "\f13f"; }
.ficon-trash-o:before { content: "\f127"; }
.ficon-trash-strike-thru:before { content: "\f18f"; }
.ficon-twitter:before { content: "\f128"; }
.ficon-twitter-lock:before { content: "\f174"; }
.ficon-twitter-o:before { content: "\f182"; }
.ficon-unlock:before { content: "\f129"; }
.ficon-user:before { content: "\f12a"; }
.ficon-view-retweets:before { content: "\f12b"; }
.ficon-warning:before { content: "\f12c"; }
