$font-class: "ficon-";

// Default font size will be taken from the parents font size
[class*="#{$font-class}"] {
  font-size: inherit;
}

// Font icons used inside a link
a [class*="#{$font-class}"], a[class*="#{$font-class}"]{
  color:#333;
}

.#{$font-class}freshfone,.#{$font-class}phone-enable{
	@extend .#{$font-class}ff-phone;	
}
// -----------------------------------------------------------------------------------------------
//									 Fix!!! - Remove content controls
// 												Ticket Details
// -----------------------------------------------------------------------------------------------
.content .controls, .ticket_details .sticky_right, .community {
	.monitor{              @extend .#{$font-class}star-o;}
	.monitor_active{       @extend .#{$font-class}star;}
	.monitor_active:after{ @extend .#{$font-class}star-o:before; }
}
// -----------------------------------------------------------------------------------------------
// 									Font icons used in forum pages
// -----------------------------------------------------------------------------------------------
.forum_follow_icon{              @extend .#{$font-class}star-o; }
.forum_follow_icon.active{       @extend .#{$font-class}star; }
.forum_follow_icon.active:after{ @extend .#{$font-class}star-o:before; }
.forum-type-problem{             @extend .#{$font-class}notice-o; }
.forum-type-announce{            @extend .#{$font-class}bullhorn; }
.forum-type-ideas{               @extend .#{$font-class}bulb; }
.forum-type-howto{               @extend .#{$font-class}help; }
.agent-preview{                  @extend .#{$font-class}open-in-new-window; }

// Hover card font icons
.contact_hover .product-twitter { 			@extend .#{$font-class}twitter-o;}
.contact_hover .product-email-logo { 		@extend .#{$font-class}mail;}
.product-page .product-email-logo { 		@extend .#{$font-class}mail;}
.contact_hover .product-call { 				@extend .#{$font-class}phone;}

// Email notification font icons
.common-icon-outdated {				@extend .#{$font-class}notice;}

// Ticket Show font icons
.commentbox .conv-actions-delete {			@extend .#{$font-class}trash;}
.commentbox .conv-actions-edit {			@extend .#{$font-class}edit;}
.commentbox .conv-actions-forward {			@extend .#{$font-class}forward;}
.commentbox .conv-actions-split {			@extend .#{$font-class}split;}

// Ticket View font icons
.ticket-view-saveas{						
	@extend .#{$font-class}checkmark;
	&:before {
		font-weight: bold;
	}
}
.ticket-view-save{							
	@extend .#{$font-class}checkmark;
	&:before {
		font-weight: bold;
	}
}
.ticket-view-saveas:after{					@extend .#{$font-class}ellipsis:before;}
.ticket-view-edit {							@extend .#{$font-class}edit;}
.ticket-view-delete {						@extend .#{$font-class}trash;}

.list-query-panel .dropdown-menu li.active a:before{ 	
	@extend .#{$font-class}checkmark; 
}
// -----------------------------------------------------------------------------------------------
// 									Font icons in ticket pages
// -----------------------------------------------------------------------------------------------

.delete-notice{
	@extend .#{$font-class}notice;
	color:red;
	&:before{
		background: #fff;
		border-radius: 100%;
		line-height: 30px;
		border: 2px solid #fff;
	}
}
// Font icons in ticket pages
.hover-card-agent , .list_agents_replying{
	.active{
		.#{$font-class}message{
			font-size:16px;
			vertical-align:middle;
			position:relative;
			top:-1px;
			color: #77924e;
		}
	}
}
.fc_notifier-container{
	.notify_chat_name .#{$font-class}star{
		color: #007F80;
	}
}
// -----------------------------------------------------------------------------------------------
// 									Font icons used in Freshsocial
// -----------------------------------------------------------------------------------------------
.tw-accs{
	li{
		a{
			.#{$font-class-name}all-streams{
				width: 24px;
				height: 24px;
				@include float(left);
				background: $default_txt_color;
				color: #fff;
				text-align: center;
				@include border-radius(4px);
			}
			&:after{
				@extend .#{$font-class-name}arrow-right:before;
			}
		}
	}
}
.tw-wrapper{
	#search_social .#{$font-class-name}twitter{
		position: absolute;
		top: 12px;
		@include left(19px);
		z-index: 1;
		color: #aaa;
	}
	.tw-explorer{
		.pane-head{
			.ph-icons{
				.#{$font-class-name}cross{
					display: inline-block;
					margin-top: 2px;
					color: $default_txt_color;
					@include margin-right(5px);
				}
			}
		}
	}
}
.conv-wrapper{
	.#{$font-class-name}freshdesk{
		color: #4E903E;
	}
}
.icon-lst i.#{$font-class-name}twitter{
	color: #55acee;
}
a.tw-tkt-link{
	i.#{$font-class-name}ticket{
		color: green;
	}
	&:before{
		@extend .#{$font-class-name}checkmark:before;
	}
	&.tw-agent{
		i.#{$font-class-name}ticket{
			position: relative;
			@include right(3px);
		}
	}
}
i.#{$font-class-name}twitter{
	color: #888;
}
.info-data a{
	i.#{$font-class-name}twitter{
		color: #888;
		position: relative;
		top: 1px;
	}
	&:hover i.#{$font-class-name}twitter{
		color:#55acee;
	}
}
.adm-social{
	.add-another{
		.#{$font-class-name}plus{
			background: #9ad400;
			color: #fff;
			width: 16px;
			height: 16px;
			display: inline-block;
			text-align: center;
			border-radius: 10px;
			border: 1px solid #599f00;
			@include margin(0 22px 0 8px);
		}
		&:hover{
			background: #efefef;
		}
	}
	.ce-btn{
		.#{$font-class-name}minus{
			background: #fd735f;
			color: #fff;
			width: 16px;
			height: 16px;
			display: inline-block;
			text-align: center;
			border-radius: 10px;
			border: 1px solid #bf3727;
			@include margin(0 0 0 12px);
		}
	}
}
.twt-list-item,
.tweets-conv{
	.shr-fav-btn{
		.#{$font-class-name}star{
			position: relative;
			color: #FFE23C;
			&:after{
				@extend .#{$font-class-name}star-o:before;
				color: #4E1A00;
				font-size:16px;
				left:0;
				position:absolute;
			}
		}
	}
}
// -----------------------------------------------------------------------------------------------
// 											header notification 
// -----------------------------------------------------------------------------------------------
.header-notification-wrapper{
	.notification_present .#{$font-class-name}help{
		color: white;
	}
	.popover-wrapper{
		.#{$font-class-name}freshdesk, .#{$font-class-name}search, .#{$font-class-name}mail,.#{$font-class-name}answer-checked {
			color:#fff;
		}
		.#{$font-class-name}phone{
			color: #aaa;
		}
	}
	.search-head{
		.#{$font-class-name}search{
			color: #777;
			@include float(left);
			@include margin-right(10px);
			line-height: 25px;
		}
	}
}
// -----------------------------------------------------------------------------------------------
// 											Admin Chat Settings 		
// -----------------------------------------------------------------------------------------------
.prechat_form{
	.inline-field{
		.#{$font-class-name}rearrange{
			@include float(left);
			@include margin-right(10px);
			line-height: 25px;
		}
	}
	.prechat_wrap{
		.#{$font-class-name}caret-down{
			top: 50%;
			position: absolute;
			@include right(7px);
			font-size: 12px;
			margin-top: -12px;
			color: #8a8a8a;
		}
	}
}
// -----------------------------------------------------------------------------------------------
//												Add and Delete Icon
// -----------------------------------------------------------------------------------------------

.rounded-add-icon{
	background: green;
	@extend .#{$font-class}plus;
}
.rounded-minus-icon{
	background: #990000;
	@extend .#{$font-class}minus;
}
.rounded-add-icon, .rounded-minus-icon{
	display: inline-block;
	cursor: pointer;
	border-radius: 100%;
	@include padding(0 4px 0 4px);
	color: #fff;
	font-size: 14px;
	@include box-shadow(inset 1px -1px 0px rgba(0,0,0,0.2));
	&.disabled{
		background: #999;
	}
}
span.fb_add
.pick-response, 
#results li, .match_results li:hover #resp-icon,
.contactdiv:hover #resp-icon,
#resp-icon, .canned-response-menu span.bullet{
	@extend .rounded-add-icon;
}
#contact-area #resp-icon
.sla_policy_form .delete, 
.sla_policy_form .delete_conditions,
.rem_mail, #cancel_email, .remove_image,
.ivr-menu .delete-symbol,
.merge-cont #resp-icon { 
	@extend .rounded-minus-icon;  
}
.icon-detail .symbols-add{
	@extend .#{$font-class}plus;
	font-size:14px;
	color: #fff;
	background: #009853;
	width: auto;
	height: auto;
	@include padding(1px 4px);
	text-align: center;
	border-radius: 100%;
}
.canned-response-menu span.bullet{ color:#aaa; }
.rem_mail, #cancel_email, .remove_image { 
	@include padding(0 0 2px 20px); @include margin-left(5px); cursor: pointer; 
}

.icon-close{
	cursor: pointer;
	&:before{
		content: '\00d7';
		padding: 2px;
		color: #000;
		font-weight: bold;
		position: relative;
		top: -1px;
	}
}
#resp-icon.clicked{
	background-color: #fff;
	&:before{
		visibility:hidden;
	}
}
// -----------------------------------------------------------------------------------------------
// 												Freshfone & customer details page
// -----------------------------------------------------------------------------------------------

.phone-icons,.user_phone{@extend .#{$font-class}ff-phone; font-size:14px;}
.mobile-icons { @extend .#{$font-class}mobile; }
.phone-icons, .mobile-icons { &:before{@include padding-right(10px); color:$default_txt_color;}}

// -----------------------------------------------------------------------------------------------
// 										Ticket Details Page
// -----------------------------------------------------------------------------------------------
.conversation_thread{
	.comment-lock{ @extend .#{$font-class}security; color:#999; font-size:16px; }
	.attachment-options .dropbox_div label{ 
		@extend .#{$font-class}dropbox;
		&:before{
			font-size: 15px;
			@include padding-right(7px);
		}
	} 
} 
.ticket-actions{
	.forward{ @extend .#{$font-class}arrow-right-2; }
	.reply-inner{ @extend .#{$font-class}reply; }
	.forward-inner{ @extend .#{$font-class}arrow-right-2; }
	.note-inner{ @extend .#{$font-class}file-edit; }
	.forward, .reply-inner, .forward-inner, .note-inner{
		&:before{
			font-size: 16px;
			vertical-align: middle;
			position: relative;
			top: -1px;
		}
	}
}
.private-icon{ @extend .#{$font-class}security;}
.delete_black{ @extend .#{$font-class}trash; }
.private-icon,.delete_black{
	font-size: 16px;color:#000; 
	&:hover{color:#000;}
}
.reminders, .todo{ .delete{ @extend .#{$font-class}trash-o; color:#990000; font-size: 18px; } }

.toolbar_pagination .prev_page span{ @extend .#{$font-class}caret-left; font-size:20px;}
.toolbar_pagination .next_page span{ @extend .#{$font-class}caret-right; font-size:20px;}
// -----------------------------------------------------------------------------------------------

#duration .error{ @extend .#{$font-class}warning; color:#fdb415; }
.symbols-issue{ @extend .#{$font-class}warning; color:#d33d27; }
.symbols-tag-edit{@extend .#{$font-class}pencil; }
.symbols-tag-remove{@extend .#{$font-class}minus; }
// Chat Archive
.fc-conversation{
	.recent-chats{		
		li{
			&:before{
				@extend .#{$font-class-name}comments;
			}
		}
	}
}

/* ====== Admin Font Settings ======== */
.font-setting-wrapper {
	.#{$font-class-name}save,
	.#{$font-class-name}cross {
		color:#999;
	}
	.#{$font-class-name}save:hover,
	.#{$font-class-name}cross:hover {
		color:#000;
	}
}
/* ==== Custom Contact Field Icons === */

.#{$font-class-name}phone_number {
	@extend .#{$font-class-name}freshfone;
}
.#{$font-class-name}url {
	@extend .#{$font-class-name}link;
}

.dropdown-tick {
	font-weight: bold;
	color: #FFF;
	position: absolute;
	@include left(5px);
	top: 5px;
}
.dropdown-menu.tick:not(.menu-pjax) .active:before { 
	@extend .#{$font-class-name}checkmark-thick;
	@extend .dropdown-tick;
}
.dropdown-menu.tick.menu-pjax .selected-tab {
	&:before { 
		@extend .#{$font-class-name}checkmark-thick;
		@extend .dropdown-tick;
		color: $dropdownLinkColor;
	}
	&:hover {
		&:before {
			color: $dropdownLinkColorHover;
		}
	}
}

// Chat conversation in ticket page
.conversation_wrap{
  &:after{
    @extend .#{$font-class-name}comments:before;
  }
}

// Ticket Conversation Icons
.conversation_thread{
	.#{$font-class-name}reply,
	.#{$font-class-name}chat-bubble{
		border: 1px solid #A4A4A4;
		color: #A4A4A4;
		display: inline-block;
		width: 18px;
		height: 18px;
		text-align: center;
		border-radius: 50%;
		font-size: 12px;
	}
	.commentbox {
		.conv-actions-reply{
			text-indent: inherit;
			.#{$font-class-name}reply{
				width: inherit;
				height: inherit;
				border: none;
				color: #666666;
				border-radius: none;
				font-size: 18px;
				margin-top: 5px;
			}
		}
	}
}
#chat-dashboard{
	.fc_widget_refresh_on{
		.chat_icon_connection{
			@extend .ficon-disconnected; 
		}
	}
}