 <% if @page_tab.nil? %>
 <label class="checkbox">
    <%= check_box_tag "add_tab" %><p>Add Page tab<p>
  </label>
  <% end %>
  <div id="page_tab_options">
    <label class="caption">Tab Name : </label>
    <%= text_field_tag "custom_name", @page_tab ? @page_tab["name"] : "", :class => "fields required" %>
    <label class="caption">Tab Image Url : </label>
    <%= text_field_tag "custom_image_url", @page_tab ? @page_tab["image_url"] : "", :class => "fields" %>
  </div>
  <%= link_to("Remove Tab", remove_page_tab_social_facebook_path(@item.id), :class => "btn", :id => "cancel_tab") if @page_tab %>