
<% form_for :facebook_page, :url => { :controller=>"social/facebook_pages", :action=>"enable_pages"}, :html => { :multipart => true , :method => :put } do |f| %>


<ul class="ui-form">
	
	<span> Here is the list of facebook pages you admin. We will fetch the visitor posts from the following pages and convert as tickets in Freshdesk . 
If you don't want to enable the page please uncheck!!! </span>

	<%= hidden_field(:user, :profile_id, :id => "profile_id", :value =>@fb_pages.first[:profile_id]  ) %>
	
	<%@fb_pages.each do |fb_page|%>
	
	<%debug fb_page%>
        <li>
			<label>
				<%= check_box( "enable", "pages", { :multiple => true, :checked => true }, fb_page[:page_id] , nil) %>
				<%= fb_page[:page_name]  %>
			</label>
		</li>	
		
	<%end%>

</ul>
<div class="button-container">
       <%= submit_tag 'Save', :class => "uiButton" %>	
</div>
<% end %>