<% content_for :sidebar do -%><%-end %>
<h3 class="title">Add your facebook pages</h3>
<ul class="ui-form">
  <li class="inline-field">
	  <div class="admin_help_image">
      <!--%= get_img("twitter-admin-page.png", :help) %-->
      <div class="content">
        <h2 class="title">Engage your customers, directly on facebook</h2>
       
        <a href="<%= @fb_client.authorize_url %>" class="uiButton-active">Add facebook page</a>
      </div>
    </div>
  </li>
</ul>