@import "../../settings/settings";
@import "../variables";

.number-settings .settings-label {
	@include margin-right(15px);
	font-weight: 600;
	width:150px;
}
.general-settings .row-fluid{
	margin-bottom: 12px;
}
.togglable_message{
	margin-top: 15px;
}
.togglable_options_title{
	font-weight: 500;
	color: #666;
}
.number-settings {
	.menu-label {
		margin-top: 8px;
	}
	.settings-label {
		@include margin-right(15px);
		margin-bottom: 20px;
		font-weight: 600;
		width:150px;
	}
	.message_value_container {
		margin-bottom: 10px;
		display: inline-block;
		padding-top: 0;
		@include margin-left(5px);
	}
	.recording-alert{
		padding: 6px 0;
		span{
			@include margin-right(7px);
			line-height: 1.4em;
		}
	}
	.Message-alert{
		padding: 6px 0;
		@include text-align(center);
		@include margin-left(150px);		
	}
	.freshfone-controls {
		.select2-container { @include margin-left(0); }
		.toggle-button {
			margin-top: 3px;
			@include margin-left(0);
		}
	}
.access_groups_control {
			height: 30px;
		}
}
.freshfone-title{
	font-size: 18px;
	font-weight: 300;
	margin-bottom: 20px;
	display: inline-block;
}

.max_queue_length_select2{
	display: inline-block;
	width: 70px;
}

.queue_wait_time{
	display: inline-block;
	.queue_wait_time_options{
		.queue_wait_time_select2{
			display: inline-block;
		}
		 label{
			display:inline-block;
			vertical-align: bottom;
		}	
	}
}

.multi_business_hours {
	margin-top: 15px;
	margin-bottom: 15px;
	.business_calendar_select2{
		width: 150px;
	}
}
.freshfone_welcome_message_alert{
	margin-bottom: 10px;
}
.toggle_freshfone_form{
	display: inline-block;
	@include padding-right(10px);
}
.freshfone-disabled-alert{
	margin-bottom: 25px;
}
.selectGroupAccess{
	cursor: pointer;
}