<!-- TO BE REMOVED : OLD UI DEPRECATION -->
<div id="falcon-invite-modal"  class="clearfix in" role="dialog" tabindex="-1" >
  <div id="falcon-invite-image" class="horizontal-split clearfix">
  </div>
  <div id="falcon-invite-message" class="horizontal-split clearfix">
    <h3><%= t('.greetings') %></h3>
    <p>
      <%= t('.invite_msg').html_safe %>
    </p>

    <p class="muted"><%= t('.post_script').html_safe %></p>

    <span class="muted" id="try-later"><%= t('.maybe_later') %></span>
  </div>
</div>