@charset "UTF-8";

@import '_mixins.scss';
@import '_icons.scss';

@font-face {
  font-family: 'fontello';
  src: url("../icons/fontello.eot");
  src: url("../icons/fontello.eot?#iefix") format('embedded-opentype'), url("../icons/fontello.woff") format('woff'), url("../icons/fontello.ttf") format('truetype'), url("../icons/fontello.svg#fontello") format('svg');
  font-weight: normal;
  font-style: normal;
}

.branding {
	text-align:center;
	.logo{
			margin-left:0.36em;
			display: inline-block;
			background-color: white;
			border: 1px solid #434343 !important;
			margin-bottom: 0.36em;
			@include border-radius(5px);
	}
}
#home-user-profile {
	text-align:center;
	>img {
		@include border-radius(2em);
	}
}
input, textarea, select {
	font-size: 0.9em;
}
.x-field .x-field-input, .x-field .x-input-el, .x-form-label span{
	font-size:14px !important;
}

.hide{
	display:none;
}
.show {
	diplay:block;
}
.homepage{
	background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAYAAAAGCAYAAADgzO9IAAAAKElEQVQImWMwNjb+jw0zGBsb/3dxccEuoaKigl0Cp1HIGGYshgTMWACx8jltBi6orwAAAABJRU5ErkJggg==), #333;
	.home_img{
		width:90px;
		height:90px;
		background: white;
		text-align: center;
		overflow: hidden;
		display: inline-block;
		border: 2px solid #111;
		@include border-radius(90px);
		img{
			@include border-radius(90px);
			width:80px;
			height:80px;
			margin-top:3px;
		}
	}
	.title{
		font-size:1.2em;
		color:#fff;
		@include text-shadow( #000 -1px -1px 0);
	}
	.user_name{
		text-align:center;
		color:#fff;
		@include text-shadow( #000 -1px -1px 0);
		font-size:0.8em;
	}
	#home-user-profile{
		text-align:center;
	}
}
/*hack for sencha styles starts*/

.x-body{
	background-image: url("../images/bg.png");
	@include text-shadow( #fff 1px 1px 0);
}
.x-button-headerBtn {
	span{
		&.info{
			display:block;
			text-decoration:none;
			font-size: 125%;
			font-family: 'fontello';
			color: #fff;
			text-align: center;
			background: none !important;
			speak: none;
			-webkit-mask-image: none !important;
			margin: -5px 0 0 -5px;
			speak: none;
			&:before {
				content: '\26a1';
			}
		}
	}
}
x-button-forward::before, .x-button-forward::after, .x-button-back::before, .x-button-back::after{
			width: 0.7em;
			-webkit-mask-size: 0.74em 1.8em;
		}
x-button-forward::before, .x-toolbar .x-button-forward::before {
		right:-0.72em;
	}
.x-toolbar-header{
	margin-bottom: 1px;
	border-bottom-color: #3B68A8 !important;
	@include box-shadow( rgba(87, 87, 87, 0.5) 0 2px 10px );
	z-index:8;
	background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAMAAAADCAYAAABWKLW/AAAAG0lEQVQIW2Ncd/Tp/yBraUYGIAATMAEwByYAAOL9C1upVlJBAAAAAElFTkSuQmCC), 
		-webkit-linear-gradient(#B9C6D9, #98ABC7 50%, #879EBE 51%, #7691B5)!important;
	background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAMAAAADCAYAAABWKLW/AAAAG0lEQVQIW2Ncd/Tp/yBraUYGIAATMAEwByYAAOL9C1upVlJBAAAAAElFTkSuQmCC),
		linear-gradient(#B9C6D9, #98ABC7 50%, #879EBE 51%, #7691B5) !important;
	border-color: #19212D;
	.x-title {
		color: white;
		@include text-shadow( #666 -1px -1px 0 );
		font-size:1em;
	}
}
.x-toolbar-subheader {
	border-bottom-color: white !important;	
}
.x-tab .x-button-icon.add1, .x-button .x-button-icon.x-icon-mask.add1 {
	-webkit-mask-image: url('../images/plus.png');
}

.x-form .x-scroll-container > .x-inner {
	padding: 0 !important;
}

#ticketProperties{
	.x-form-fieldset {
		//overflow: auto !important;
		.x-form-fieldset-inner {
			//overflow: auto !important;
		}
	}
	.x-form-label {
		span{
			font-size:1.2em !important;
			font-weight:normal !important;
		}
	}
	.x-field-input{
		font-weight:500;
	}
	.x-field-select .x-component-outer::after{
			background-color: #666 !important;
	}
	.x-field .x-input-checkbox	{
		&:after{
			left:1.1em !important;
			right:auto !important;
		}
	}
}

.x-button {
	&.lightPlus {
		background:#AAA !important;
	}
	.x-button-icon.x-icon-mask{
		width: 1em;
		height: 1em;
		-webkit-mask-size: 1em;
	}
}
.loading{
	.x-mask-inner{
		background:transparent !important;
		.x-mask-message{
			display:none;
		}
	}
}

.x-list-paging{
}
.x-loading-spinner {
	display:none;
}
/*hack for sencha styles ends*/

.empty-list-text{
	padding: 60px 0;
	font-size: 1em;
	text-align: center;
	color: #666;
	@include text-shadow( #fff 0px 1px 1px );
}

a {
	text-decoration:none;
	color:#1272DE;
}
.disclose{
					overflow: hidden;
					/* -webkit-mask: 0 0 url('../images/arrow.png') no-repeat; 
					background: #4b5768	;*/
					position: absolute;
					width: 15px;
					height: 20px;
					right:10px;
					font-family:fontello;
					font-size:16px;
					bottom:20%;
					&:before {
							content: '\e816';
						}
			}
.views{
	.list-item-title{
		div{
			&.count{
				float:right;
				font-size:0.8em;
				color: #9999;
				text-align: right;
				margin:2px 20px 0px 10px;
				>div{
					padding: 2px 5px;
					@include box-shadow(inset -1px -1px 0 rgba(0, 0, 0, 0.1));
					@include border-radius(9px);
					min-width: 1.8em;
					text-align: center;
					background: #CADCE3;
					display:inline-block;
				}
			}
			&.name{
				padding-right:5px;
				color:#2F2F2F;
				font-size:16px;
				font-weight:bold;
				line-height:1.6;
				width:70%;
				float:left;
				@include ellipsis
			}
		}
		&.disabled{
			div{
				&.disclose{
					color:#aba9a9;
				}
				&.count{
					color: #FFF;
					font-size:0.9em;
					@include text-shadow( #ccc 1px 1px 0);
				}
				&.name{
					color:#aba9a9;
					font-size:16px;
					font-weight:normal;
					line-height:1.6;
				}
			}
		}
	}
}
/*ticketList related code*/
.x-list-normal .x-list-item.x-item-pressed .x-list-item-label{
			color:#fff;
			background:url('../images/activebg.png');
			@include text-shadow( #393939 -1px -1px 0);
			.name{
				color:#fff;
			}
			.count div{
				background:#757575;
			}
			.ticket-item{
				color:#fff;
				@include text-shadow( #333 1px 1px 0);
				.info{
					background:#757575;
					@include box-shadow(0);
				}
				.subject{
					color:#fff;
					@include text-shadow( #333 1px 1px 0);
				}
			}
		}
.x-list-normal .x-list-item .x-list-item-label {
	
	border-top: 1px solid #CCC;
	@include box-shadow( #fff 1px 2px );
}
.ticketsList{
	.x-list-item-label {
		padding:0 0 0 0 !important;
	}
	.ticket-item{
		font-size: 14px;
		color:#333333;
		/*&:active{
			color:#fff;
			background:url('../images/activebg.png');
			text-shadow:1px 1px #393939;
			.info.btn{
				background: rgba(91,91,91,0.7);
				color:#fff;
				@include box-shadow(1px 1px 0px #848383);
			}
		}*/
		>div{
			&.disclose{
				bottom:35%;
			}
			display:inline-block;
			&:first-child{
				z-index:100;
				width:12px;
				height: 99%;
				position: absolute;
				margin-top:1px;
				$img:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAMAAAADCAYAAABWKLW/AAAAHElEQVQIW2NkgIL///+nMYLYYAYj4yxGGAMkCADU+AtnRrreewAAAABJRU5ErkJggg==);
				&.Low{
					background: #008ff9; 
					background:$img, -moz-linear-gradient(left, #008ff9 0%,#007ad4 80%,#005391 100%,#005290 100%);
					background:$img, -webkit-gradient(linear, left top, right top, color-stop(0%,#008ff9), color-stop(80%,#007ad4), color-stop(100%,#005391), color-stop(100%,#005290)); 
					background:$img, -webkit-linear-gradient(left, #008ff9 0%,#007ad4 80%,#005391 100%,#005290 100%); 
					background:$img, -o-linear-gradient(left, #008ff9 0%,#007ad4 80%,#005391 100%,#005290 100%); 
					background:$img, -ms-linear-gradient(left, #008ff9 0%,#007ad4 80%,#005391 100%,#005290 100%); 
					background:$img, linear-gradient(to right, #008ff9 0%,#007ad4 80%,#005391 100%,#005290 100%); 
					filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#008ff9', endColorstr='#005290',GradientType=1 ); /* IE6-8 */
				}
				&.Medium{
					background: #89ce00; /* Old browsers */
					background:$img, -moz-linear-gradient(left,  #89ce00 0%, #75af00 80%, #4e7600 100%, #005290 100%); /* FF3.6+ */
					background: $img, -webkit-gradient(linear, left top, right top, color-stop(0%,#89ce00), color-stop(80%,#75af00), color-stop(100%,#4e7600), color-stop(100%,#005290)); /* Chrome,Safari4+ */
					background: $img, -webkit-linear-gradient(left,  #89ce00 0%,#75af00 80%,#4e7600 100%,#005290 100%); /* Chrome10+,Safari5.1+ */
					background: $img, -o-linear-gradient(left,  #89ce00 0%,#75af00 80%,#4e7600 100%,#005290 100%); /* Opera 11.10+ */
					background: $img, -ms-linear-gradient(left,  #89ce00 0%,#75af00 80%,#4e7600 100%,#005290 100%); /* IE10+ */
					background: $img, linear-gradient(to right,  #89ce00 0%,#75af00 80%,#4e7600 100%,#005290 100%); /* W3C */
					filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#89ce00', endColorstr='#005290',GradientType=1 ); /* IE6-8 */
				}
				&.High{
					background: #de0000; /* Old browsers */
					/* IE9 SVG, needs conditional override of 'filter' to 'none' */
					background:$img, -moz-linear-gradient(left,  #de0000 0%, #d50000 71%, #bd0000 84%, #810000 100%); /* FF3.6+ */
					background:$img, -webkit-gradient(linear, left top, right top, color-stop(0%,#de0000), color-stop(71%,#d50000), color-stop(84%,#bd0000), color-stop(100%,#810000)); /* Chrome,Safari4+ */
					background:$img, -webkit-linear-gradient(left,  #de0000 0%,#d50000 71%,#bd0000 84%,#810000 100%); /* Chrome10+,Safari5.1+ */
					background:$img, -o-linear-gradient(left,  #de0000 0%,#d50000 71%,#bd0000 84%,#810000 100%); /* Opera 11.10+ */
					background:$img, -ms-linear-gradient(left,  #de0000 0%,#d50000 71%,#bd0000 84%,#810000 100%); /* IE10+ */
					background:$img, linear-gradient(to right,  #de0000 0%,#d50000 71%,#bd0000 84%,#810000 100%); /* W3C */
					filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#de0000', endColorstr='#810000',GradientType=1 ); /* IE6-8 */

				}
				&.Urgent{
					background: #ffb613; /* Old browsers */
					background: $img, -moz-linear-gradient(left,  #ffb613 0%, #d99b10 80%, #946a0b 100%, #005290 100%); /* FF3.6+ */
					background: $img, -webkit-gradient(linear, left top, right top, color-stop(0%,#ffb613), color-stop(80%,#d99b10), color-stop(100%,#946a0b), color-stop(100%,#005290)); /* Chrome,Safari4+ */
					background:$img,  -webkit-linear-gradient(left,  #ffb613 0%,#d99b10 80%,#946a0b 100%,#005290 100%); /* Chrome10+,Safari5.1+ */
					background:$img,  -o-linear-gradient(left,  #ffb613 0%,#d99b10 80%,#946a0b 100%,#005290 100%); /* Opera 11.10+ */
					background: $img, -ms-linear-gradient(left,  #ffb613 0%,#d99b10 80%,#946a0b 100%,#005290 100%); /* IE10+ */
					background: $img, linear-gradient(to right,  #ffb613 0%,#d99b10 80%,#946a0b 100%,#005290 100%); /* W3C */
					filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffb613', endColorstr='#005290',GradientType=1 ); /* IE6-8 */

				}
			};
			&.title{
				width:90%;
				padding: 9px 0px 6px 22px;
				vertical-align: top;
				line-height:1.4em;
				>div{
					@include ellipsis;
					&:last-child{
						span:first-child{
							margin-left:0px !important;
						}
					}
					&.subject{
						font-size: 16px;
						font-weight: bold;
						@include ellipsis;
					}
				}
				
			}
			div{
				span{
					margin-left:5px;
					&:first-child{
						margin: 0;
					}
				}
				
			}
		}
		.info{
				color: #999999;
				&.btn, &.state-btn{
					font-size:0.9em;
					background: rgba(0,0,0,0.5);
					padding: 1px 5px;
					color:#fff;
					@include text-shadow(#666 -1px -1px 0);
					@include border-radius(5px);
					@include box-shadow(-1px -1px 0px #FFF);
					@include ellipsis;
					&.responded{
						background: #698ee4;
					}
				}
				&.btn-light{
					display: inline-block;
					background: #F0F0F0;
					padding: 1px 5px;
					margin: 0px 5px;
					@include border-radius(5px);
					@include box-shadow(0px 1px 1px #CCC);
				}
		}
		.display_id{
			font-weight:normal;
			color:#999;
		}
	}
}
.ticketsList .ticket-item.Resolved .title .info.btn{
					background: rgba(0,0,0,0.2) !important;
					@include text-shadow(#666 0 0 0);
		}
.dashboardButton{
    >div{
    	>div{
    		@include border-radius(6px);
		    color: #3A3A3A;
		    display: block;
		    padding: 10px;
		    position: relative;
		    text-align: center;
		    text-decoration: none;
    		background: none repeat scroll 0 0 #F2F2F2;
			@include box-shadow(rgba(0, 0, 0, 0.2) 0 1px 2px inset);
    		min-height: 80px;
			min-width: 80px;
	    	img{
		    	height : 32px;
		    	width  : 32px;
		    	background: url("../images/admin-icon-s7ff03d5a26.png") no-repeat scroll 0 0 transparent;
		    	&.tickets{
		    		background-position: 0 -224px;
		    	}
		    	&.settings{
		    		background-position: 0 0;
		    	}
		    	&.contacts{
		    		background-position: 0 -384px;
		    	}
		    	&.profile{
		    		background-position: 0 -32px;
		    	}
		    }
	    	.label{
	    		font-size: 13px;
			    line-height: 18px;
			    position: relative;
			    white-space: pre-wrap;
			    word-wrap: break-word;
	    	}
    	}
    }
}

.customerDetails{
	h3{
		&.title{
			background: black;
			color: white;
			text-shadow: -1px -1px 0 #333;
			padding: 5px;
		}
	}
	.customer-info {
		@include box-shadow(#aaa 0 0 100px inset);
		border-bottom: 1px solid #CCC;
		width: 100%;
		float: left;
		padding-bottom: 10px;
		.profile_pic{
			float:left;
			padding:10px;
			width: 25%;
			>img{
				@include border-radius(8px);
				@include box-shadow(#fff 1px 1px 0);
				width: 100%;
				border: 1px solid #858585;
			}
		}
		.customer-info-list{
			float: right;
			width: 75%;
			div{
				font-size: 14px;
				line-height: 22px;
				word-wrap:break-word;
			}
			.phone, .email, .twitter,.facebook{
				border-radius: 15px;
				background: #f3f3f3;
				padding: 1px;
				margin-right: 2%;
				margin-bottom:5px;
				float: left;
				width: 98%;
				span{
					width: 25px;
					height: 25px;
					background: #CCC;
					border-radius: 20px;
					float: left;
					font-size: 14px;
					padding: 2px 3px;
					color:#898989;
					margin-right: 3px;
					font-family: 'fontello';
				}
			}
			.phone{
				span:before {
					content: '\1F4DE';
				}
			}
			.email{
				span:before {
					padding: 2px 4px;
					content: '\270E';
				}
			}
			.twitter{
				span:before {
					content: '\F303';
				}
			}
			.facebook{
				span:before {
					content: '\F308';
				}
			}
		}
		div{
			vertical-align:top;
			font-size:0.8em;
			word-wrap:break-word;
			&.title{
				text-transform: capitalize;
				font-weight: normal;
				font-weight:bold;
				font-size: 20px;
				line-height:20px;
				color: #333;
				margin-top: 4px;
			}
		}
	}
}


#details #ext-element-116{
	width:1px;
}
.x-panel.x-floating, .x-msgbox.x-floating, .x-form.x-floating {
		padding-top:13px;
		@include border-radius(0.7em);
		border-radius: 0.7em;
		background:-webkit-linear-gradient(top, rgba(97, 97, 97, 0.9) 15%,rgba(28, 28, 28, 0.85) 15%);
		background:-moz-linear-gradient(top, rgba(97, 97, 97, 0.9) 15%,rgba(28, 28, 28, 0.85) 15%);
}
.x-msgbox{ 
	border: 0.15em solid #e4e4e4;
	.x-title {
		font-size: 1em;
		@include text-shadow( #000 -1px -1px 0 );
		line-height: 1.5em;
		color:#fff;
	}
}
.x-msgbox-text{
	font-size:0.9em;
	padding: 10px;

}
.x-msgbox-buttons .x-button {
	min-width: 48%;
	min-height: 46px;
	.x-button-label{
		font-size:1em;
	}
}
.x-list-paging {
	&.x-completed{
		display:none;
	}
	&.x-loading {
		.x-loading-spinner {
			display:block;
		}
		.x-list-paging-msg{
			display:none;
		}
	}
	.x-loading-spinner {
		display:none;
	}
	.x-list-paging-msg{
		color:#666;
		font-size: 16px;
		padding: 15px;
		margin: 1px auto;
		color: black;
		text-decoration: none;
		font-weight: bold;
		text-align: center;
		@include box-shadow(inset rgba(0, 0, 0, 0.3) 0 3px 16px);
		border: 1px solid #AAA;
		position: relative;
		cursor: pointer;
		margin: 1px auto;
		&:active{
			color:#1d60bd;
			@include text-shadow( #86afe6 0 0 20px );
			@include box-shadow(inset rgba(0, 0, 0, 0.6) 0 3px 16px);
		}
	}
}
.x-button.x-button-action, .x-button.x-button-action.x-button-back::after, .x-button.x-button-action.x-button-forward::after, .x-toolbar .x-button.x-button-action, .x-toolbar .x-button.x-button-action.x-button-back::after, .x-toolbar .x-button.x-button-action.x-button-forward::after, .x-button.x-button-action-round, .x-button.x-button-action-round.x-button-back::after, .x-button.x-button-action-round.x-button-forward::after, .x-toolbar .x-button.x-button-action-round, .x-toolbar .x-button.x-button-action-round.x-button-back::after, .x-toolbar .x-button.x-button-action-round.x-button-forward::after, .x-button.x-button-action-small, .x-button.x-button-action-small.x-button-back::after, .x-button.x-button-action-small.x-button-forward::after, .x-toolbar .x-button.x-button-action-small, .x-toolbar .x-button.x-button-action-small.x-button-back::after, .x-toolbar .x-button.x-button-action-small.x-button-forward::after{
	overflow: hidden;
    font-weight: bold;
    @include text-shadow( rgba(0, 0, 0, 0.6) 0px -1px 0);
    text-overflow: ellipsis;
    text-decoration: none;
    text-align: center;
    white-space: nowrap;
    background: none;
    background-image: -webkit-gradient(linear, left top, left bottom,
        color-stop(0, #8ea4c1),
        color-stop(0.5, #5877a2),
        color-stop(0.5, #476999),
        color-stop(1, #4a6c9b));
    @include border-radius(6px);
    border: 1px solid #45505d;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .25),
                        0 1px 0 rgba(255, 255, 255, 0.25);

}
.x-toolbar-dark .x-button, .x-toolbar-dark .x-button.x-button-back::after, .x-toolbar-dark .x-button.x-button-forward::after, .x-toolbar .x-toolbar-dark .x-button, .x-toolbar .x-toolbar-dark .x-button.x-button-back::after, .x-toolbar .x-toolbar-dark .x-button.x-button-forward::after, .x-toolbar-dark .x-field-select .x-component-outer, .x-toolbar-dark .x-field-select .x-component-outer.x-button-back::after, .x-toolbar-dark .x-field-select .x-component-outer.x-button-forward::after, .x-toolbar .x-toolbar-dark .x-field-select .x-component-outer, .x-toolbar .x-toolbar-dark .x-field-select .x-component-outer.x-button-back::after, .x-toolbar .x-toolbar-dark .x-field-select .x-component-outer.x-button-forward::after, .x-toolbar-dark .x-field-select .x-component-outer::before, .x-toolbar-dark .x-field-select .x-component-outer::before.x-button-back::after, .x-toolbar-dark .x-field-select .x-component-outer::before.x-button-forward::after, .x-toolbar .x-toolbar-dark .x-field-select .x-component-outer::before, .x-toolbar .x-toolbar-dark .x-field-select .x-component-outer::before.x-button-back::after, .x-toolbar .x-toolbar-dark .x-field-select .x-component-outer::before.x-button-forward::after {
    font-weight: bold;
    @include text-shadow( rgba(0, 0, 0, 0.6) 0px -1px 0);
    text-overflow: ellipsis;
    text-decoration: none;
    text-align: center;
    white-space: nowrap;
    background: none;
    background-image: -webkit-gradient(linear, left top, left bottom,
        color-stop(0, #7d88a5),
        color-stop(0.5, #3a4e78),
        color-stop(0.5, #273f6d),
        color-stop(1, #273f6d));
    @include border-radius(6px);
    border: 1px solid #45505d;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .25),
                        0 1px 0 rgba(255, 255, 255, 0.25);
}
.ticketDetails{
	#details {
		.HDR {
			&.bottom{
				@include box-shadow(0px 0px 16px #bbb);
				border-bottom-width:0px;
				padding: 0 !important;
				margin-top: 20px;
				ul.actions{
					padding: 0 !important;
				}
				li{
					padding:10px 0;
				}
			}
			padding:0.5em 0em 0em 0em;
			margin-bottom:0.5em;
			border-bottom:0.1em solid #BFBFBF;
			background: url("../images/stripe.png"), -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(229,229,229,1)), color-stop(100%,rgba(249,247,245,1))); /* Chrome,Safari4+ */
    		background: url("../images/stripe.png"), -webkit-linear-gradient(top, rgba(229,229,229,1) 0%,rgba(249,247,245,1) 100%); /* Chrome10+,Safari5.1+ */
			.subject{
				font-size: 1.3em;
				min-height:2em;
				color:#333;
				font-weight:bold;
				line-height: 1.2;
				div.icon {
						width: 2em;
						height: 2em;
						display:inline-block;
						margin: 0.4em;
						@include border-radius(2em);
						vertical-align:top;
						@include box-shadow(inset 0 0 7px #333);
						&.Low{
							background-color:#0C8AAE;
						}
						&.Medium{
							background-color:#0A9458;
						}
						&.High{
							background-color:#CC5600;
						}
						&.Urgent{
							background-color:#AC2200;
						}
						&.Email {
							background-image: url('../images/subject-mail-icon.png');
							background-position: 50% 50%;
							background-repeat: no-repeat;
							-webkit-background-size: 28px 19px;
							background-size: 28px 19px;
						}
						&.Twitter {
						}
						&.Portal {
						}
						&.Chat {
						}
						&.Facebook {
						}
						&.Forum {
						}
						&.Phone {
							background-image: url('../images/subject-mail-icon.png');
							background-position: 50% 50%;
							background-repeat: no-repeat;
							-webkit-background-size: 28px 19px;
							background-size: 28px 19px;
						}
				}
				div.title{
					display:inline-block;
					width:80%;
					vertical-align:top;
					min-height:2em;
					&.full{
						width:98%;
						padding-left:10px;
					}
				}
			}
		}
		ul.actions {
			padding:1em 0em 0em 0em;
			margin:0;
			list-style:none;
			background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(241,247,246,0.1)), color-stop(100%,rgba(241,247,246,1))); /* Chrome,Safari4+ */
    		background: -webkit-linear-gradient(top, rgba(241,247,246,0.1) 0%,rgba(241,247,246,1) 100%); /* Chrome10+,Safari5.1+ */
			li {
				display:inline-block;
				width:20%;
				border-right:1px solid #dbdcdd;
				@include box-shadow( #fff 1px 0 0 );
				&.half{
					&:first-child{
						text-align:right;
						a {
							margin-right:10%;
						}
						span{
							font-size: 16px;
							vertical-align: middle;
						}
					}
					&:last-child{
						a {
							margin-left:10%;
						}
						span{
							font-size: 16px;
							vertical-align: middle;
							margin-left:10px;
						}
					}
					width:50%;
					vertical-align: bottom;
					a{
						width:4em;
						margin:0 0%;
						display:inline-block;
					}
				}
				&:last-child{
					border:none;
				}
				a {
					&:active{
						color:#1d60bd;
						@include text-shadow( #86afe6 0 0 20px );
					}
					margin:0 20%;
					display:block;
					text-decoration:none;
					font-size:175%;
					font-family: 'fontello';
					color:#666;
					text-align:center;
					@include text-shadow( #fff 1px 1px 0);
					speak: none;
					&.automation
					{
						&:before {
							content: '\26a1';
						}
					}
					&.chat {
						&:before {
							font-size:0.9em;
							content: '\e720';
						}
					}
					&.reply {
						color:#333;
						&:before {
							content: '\e825';
						}
						&:active{
							color:#1d60bd;
						}
					}
					&.close {
						&:before {
							content: '\2713';
						}
					}
					&.trash {
						&:before {
							content: '\e729';
						}
					}
				}
			}
		}
	}

	.conversation{
		padding:0.3em 0.5em;
		.thumb {
			margin-right: 0.5em;
			height: 44px;
			width: 44px;
			background:#fff;
			text-align: center;
			overflow: hidden;
			display: inline-block;
			border:1px solid #888;
			@include border-radius(30px);
			img{
				width: 38px;
				height: 38px;
				@include border-radius(30px);
				margin-top:2px;
			}
		} 
		.Info{
			display:inline-block;
			vertical-align:top;
			line-height:1.2em;
			font-size:1em;
			margin-top: 3px;
			>a{
				font-weight:bold;
				text-decoration:none;
				color:#1272de;
			}
			.date{
				font-size:0.9em;
			}
			color:#999999;
		}
		.msg{
			@include text-formatting;
			border: 1px solid #B0B0B0;
			background-color: #F5F5F5;
			@include border-radius(0.4em);
			padding: 0.6em;
			margin:0.5em 0;
			@include triangle-before(up,#F5F5F5,0.5em);
			&:before{
				top:-0.5em;
				left:0.85em;
				&:before{
					border-bottom-color: red;
				}
			}
			@include triangle-after(up,#B0B0B0,0.8em);
			&:after{
				top:-0.6em;
				z-index:-1;
				left:0.6em;
			}
			&.fromReq{
				background-color: #FFFAED;
				@include box-shadow(0px 4px 6px rgba(0, 0, 0, 0.1));
				@include triangle-before(up,#FFFAED,0.5em);
			}
			>div.ellipsis{
				display:block;
				text-overflow: ellipsis;
				overflow: hidden;
				max-height: 7em;
				display: -webkit-box;
				-webkit-line-clamp: 6;
				-webkit-box-orient: vertical;
				+.attachments {
					display:none;
				}
			}
			p{
				margin : 0;
				font-size:1.1em;
				white-space: pre-wrap; /* css-3 */
				white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
				white-space: -pre-wrap; /* Opera 4-6 */
				white-space: -o-pre-wrap; /* Opera 7 */
				word-wrap: break-word; /* Internet Explorer 5.5+ */
			}
			.loadMore{
				color:#666;
				text-decoration: none;
				font-size: 1.2em;
				font-weight: bolder;
				@include text-shadow( #fff 1px 1px 0);
				white-space: nowrap;
				padding: 0 10px;
				border: 1px solid #D4D4D4;
				border-bottom-color: #BCBCBC;
				line-height: 0.6em;
				box-sizing: border-box;
				height: 20px;
				letter-spacing: -0.1em;
				text-shadow: 1px 1px 0 white;
				display: block;
				width: 40px;
				@include border-radius(3px);
				background: -webkit-linear-gradient(top, #FAFAFA, #EAEAEA);
				background: linear-gradient(to bottom, #FAFAFA, #EAEAEA);
				background: -moz-linear-gradient(top, #FAFAFA, #EAEAEA);
			}
			.clip{
				position: absolute;
				top: 0px;
				background: red;
				right: -3px;
			}
			.attachments{
				padding-top:10px;
				a{
					display:block;
					border:1px solid #E9E2CD;
					border-bottom-width:0px;
					background-color:#fffdf8;
					color:#333;
					text-decoration:none;
					height:30px;
					vertical-align:middle;
					position:relative;
					padding: 5px;
					&:first-child{
						@include border-top-right-radius(5px);
						@include border-top-left-radius(5px);
					}
					&:last-child{
						@include border-bottom-right-radius(5px);
						@include border-bottom-left-radius(5px);
						border-bottom-width:1px;
					}
					span.disclose{
						font-size: 13px !important;
						right: 4px !important;
						bottom: 13% !important;
					}
				}
			}
		}
	}
	.ticketProperties {
		&.customer{
			.x-toolbar-subheader{
				.customer{
					background-color:#cecece;
					.user3{
						-webkit-mask:none;
						background: transparent url('../images/customer-info.png') 50% 50% no-repeat;
					}
				}
				.propeties{
					background:none;
					.doc2{
						background: transparent url('../images/ticket-properties-dis.png') 50% 50% no-repeat;
					}
				}
			}	
		}
		.x-toolbar-subheader{
			.x-button{
				border-radius:0px;
				padding:0.7em;
			}
			.propeties{
				background-color:#cecece;
				.doc2 {
					-webkit-mask:none;
					background: transparent url('../images/ticket-properties.png') 50% 50% no-repeat;
				}
			}
			.customer{
				.user3{
					-webkit-mask:none;
					background: transparent url('../images/customer-info-dis.png') 50% 50% no-repeat;
				}
			}
		}
	}
	.x-carousel-indicator{
		display:none !important;
	}
}

/* Customer Page css */
.banner{
	background-color: #FFFAED;
	@include box-shadow(0px 2px 10px rgba(0, 0, 0, 0.1) inset);
	position: relative;
	text-align: center;
	margin-top: -7px;
	padding: 4px 0;
	border-bottom: 1px solid #DDD;
}

