@import "compass/typography/text/force-wrap";
@import "compass/typography/text/ellipsis";

@mixin text-formatting(){
   p, li, div{ 
      font-size: 13px;
      line-height: 18px;
      font-style: normal;
      margin:0;
   }                          
   code, pre, p, li{ @include force-wrap; }              
   h1 {font-size: 2em}
   h2 {font-size: 1.5em}
   h3 {font-size: 1.17em}
   h4 {font-size: 1em}
   h5 {font-size: .83em}
   h6 {font-size: .75em}
   img, iframe {border:0; max-width: 100%; height: auto;}
   table {cursor:default; border:1px solid #afafaf; } 
   table td, table th {cursor:text; font-size: inherit; font-size: 13px; border:1px solid #afafaf; padding: 4px; }
   em{ font-style:italic; }
   ins {border-bottom:1px solid green; text-decoration: none; color:green}
   cite {border-bottom:1px dashed blue}
   acronym {border-bottom:1px dotted #CCC; cursor:help}
   abbr {border-bottom:1px dashed #CCC; cursor:help}
   ol, ul{ margin: 8px 0px 4px 0px; padding: 0px 0px 0px 40px; line-height: 17px;}
   ul{ list-style:disc outside;  }
   blockquote { font-size:13px; line-height:22px; margin:0.5em; color: #666; border-left: 1px dotted #999; padding:6px 6px 1px 1em; }
}

//// TRIANGLES ////

// Transforms the element into a triangle
// You can modify border sizes to change the shape
@mixin triangle($direction: down, $color: $green, $size: 6px) {
	@if $direction == left {
		border-bottom: $size solid transparent;
		border-right: $size solid $color;
		border-top: $size solid transparent;
	}
	@else if $direction == right {
		border-bottom: $size solid transparent;
		border-left: $size solid $color;
		border-top: $size solid transparent;
	}
	@else if $direction == up {
		border-bottom: $size solid $color;
		border-left: $size solid transparent;
		border-right: $size solid transparent;
	}
	@else if $direction == down {
		border-right: $size solid transparent;
		border-left: $size solid transparent;
		border-top: $size solid $color;
	}
	height: 0;
	width: 0;
}

// Attaches a triangle to the element using a pseudo-element
@mixin triangle-after($direction: down, $color: $green, $size: 6px) {
	position: relative;
	&:after {
		@include triangle($direction, $color, $size);
		content: "";
		margin: 0;
		padding: 0;
		position: absolute;
	}
}


// Attaches a triangle to the element using a pseudo-element
@mixin triangle-before($direction: down, $color: $green, $size: 6px) {
	position: relative;
	&:before {
		@include triangle($direction, $color, $size);
		content: "";
		margin: 0;
		padding: 0;
		position: absolute;
	}
}

// Convenience function to change the current element and it's triangle's color
@mixin triangle-color($color: $green, $direction: down) {
	background: $color;
	&:after {
		@if $direction == left {
			border-right-color: $color;
		}
		@else if $direction == right {
			border-left-color: $color;
		}
		@else if $direction == up {
			border-bottom-color: $color;
		}
		@else if $direction == down {
			border-top-color: $color;
		}
	}
}


//// BUBBLES ////

// Turns element into a speech bubbles (used for numbers)
@mixin bubble($background: none, $text: none) {
	@include border-radius(3px);
	position: relative;
	font-size: 13px;
	padding: 3px 5px;
	@if $text != none {
		color: $text;
	}
	@if $background != none {
		background: $background;
	}
	&:after {
		border-color: transparent;
		content: "";
		position: absolute;
		border-style: solid;
		border-width: 4px;
		height: 0;
		width: 0;
		bottom: -4px;
		left: 5px;
		@if $background != none {
			border-left-color: $background;
		}
	}
}