<div class="masterversion">
		<div class="master-content">
			<button type="button" class="close close-link" data-dismiss="modal" aria-hidden="true"></button>
				<h3 class="lead">Customizing your ticket form</h3>
				<p>The ticket form in Freshdesk helps you take support queries and collect feedback from your customers. It is shown by default in your support portal and can be added as a widget to your website, your support portal and even your web application. </p>

				<p>In order to give your customers the best support experience possible, you need to be able to get working on their tickets right away and resolve issues quickly. The ticket form helps you collect all the facts you need right at the very first step, eliminating the need for you to go back and forth to the customer with more questions. With this in mind, you can customize your ticket form to fit your business type or your internal support process. </p>

				<p>For example, you might need the customer’s order ID to speed things up a bit, or need special fields to better categorize the ticket. You can include the right ticket fields in your form, and let your customers and agents fill in the information you need in the format you want.</p>

				<p>The ticket form in Freshdesk helps you take support queries and collect feedback from your customers. It is shown by default in your support portal and can be added as a widget to your website, your support portal and even your web application. </p>

				<p>In order to give your customers the best support experience possible, you need to be able to get working on their tickets right away and resolve issues quickly. The ticket form helps you collect all the facts you need right at the very first step, eliminating the need for you to go back and forth to the customer with more questions. With this in mind, you can customize your ticket form to fit your business type or your internal support process. </p>

				<p>For example, you might need the customer’s order ID to speed things up a bit, or need special fields to better categorize the ticket. You can include the right ticket fields in your form, and let your customers and agents fill in the information you need in the format you want.</p>

				<p>For example, you might need the customer’s order ID to speed things up a bit, or need special fields to better categorize the ticket. You can include the right ticket fields in your form, and let your customers and agents fill in the information you need in the format you want.</p>
		</div>
	</div>