<div class="control-group">
	<label class="control-label" for="title-tags">Title Tags</label>
	<div class="controls">
	<input type="text" id="title-tags" placeholder="">
	<p class="formdesc muted">characters. Best SEO pages, recommend a maximum of 72 character</p>
	</div>
</div>
<div class="control-group">
	<label class="control-label" for="meta-desc">Folder</label>
	<div class="controls">
	<textarea id="meta-desc"></textarea>
	<p class="formdesc muted">characters. Best SEO pages, recommend a maximum of 150 characte</p>
	</div>
</div>
<div class="control-group">
	<label class="control-label" for="meta-keywords">Folder</label>
	<div class="controls">
	<input type="text" id="meta-keywords" placeholder="">
	<p class="formdesc muted">Separate keywords with comma</p>
	</div>
</div>
