<div class="solution-details">
	<div class="draft-history sidebar-section">
		<div class="created-history">		
			<p>Created by</p>
			<p>Shankar Ganesh </p>
			<p>Thu, 26 Sep at 1:32pm</p>
		</div>
		<div class="edited-history">		
			<p>Last edited by</p>
			<p>Ramesh Ganapathy </p>
			<p>Fri, 26 Sep at 3:41pm</p>
		</div>
	</div>

	<div class="sidebar-section">
		<div class="title-wrapper">
			<p class="leads span2">Article Properties</p>
			<p class="edit span1 pull-right"><a class="" href="javascript:void(0)" data-target="#article-prop" data-width="750" rel="freshdialog" title="Properties">Edit</a></p>
		</div>

		<div class="tags section">
			<span>Permanent</span>
			<span>Published</span>
		</div>
		<div class="folder-name section">
			<h5 class="leads">Folder</h5>
			<p>Setting up folder channels</p>
		</div>
		<div class="tags-wrapper section">
			<h5 class="leads">Tags</h5>
			<div class="tags">
			<span>Sprout</span>
			<span>Blossom</span>
			<span>Forest</span>
			<span>Garden</span>
			</div>
		</div>

		<div class="section content-status red">
			Out dated content
		</div>

	</div>

	<div class="sidebar-section feedback">
		<div class="title-wrapper">
			<p class="leads span2">Feedback</p>
		</div>
		<div class="section feedback-list">
			<ul>
				<li>
					<p class="feed-title">Need more information</p>
					<p class="shortnote">I've just installed the freshdesk extension for magento, and i need help on...</p>
					<p class="feed-time">Steph reported a month ago</p>
				</li>
				<li>
					<p class="feed-title">Need more information</p>
					<p class="shortnote">I've just installed the freshdesk extension for magento, and i need help on...</p>
					<p class="feed-time">Steph reported a month ago</p>
				</li>
			</ul>
		</div>
		<div class="section view-all-feed">
			<a href="#">View all feedback</a>
		</div>
	</div>

	<div class="sidebar-section analytics">
		<div class="title-wrapper">
			<p class="leads span2">Analytics</p>
		</div>
		<div class="section">
			<p>25 views</p>
			<p>12</p>
		</div>
	</div>
</div>