<div class="info_data">Was this article helpful?</div>
<%= @article.thumbs_up%> 
<% image_tag('/images/thumb_up.png' )%> 
<%= link_to "Yes", "" %> or <% @article.thumbs_down%> 
<%= image_tag('/images/thumb_down.png' )%>
<%= link_to "No", "" %> 

