<% content_for :layoutType do%>single<% end %>
<% content_for :head do %>
  <%= javascript_include_tag "helpdesk/expanding_textarea" %>
  <%= javascript_include_tag "helpdesk/multifile" %>
  <%= javascript_include_tag "helpdesk/article_section" %>
<% end %> 
<div class="pageContent">
	<h3 class="content_title">New Solution</h3>
	<%= render :partial => 'article_form', :locals => {:article => @article} %>
</div>

