<% vote_type = (params[:vote] || 1).to_i %>
<% user_votes = @article.votes.where(:vote => vote_type) %>

<% anonymous_votes = (vote_type == 1 ? @article.thumbs_up : @article.thumbs_down) - user_votes.size %>
<% if anonymous_votes > 0 %>
	<div class="voted-user">
		<div class="avatar-wrap">
			<%= user_avatar(nil, :small) %>
		</div>
		<div class="user-name anonymous">
			<%= t('solution.anonymous_votes', :count => anonymous_votes) %>
		</div>
	</div>
<% end %>

<% user_votes.each do |vote| %>
	<div class="voted-user">
		<div class="avatar-wrap">
			<%= user_avatar(vote.user, :small) %>
		</div>
		<div class="user-name">
			<%= link_to vote.user.name, user_path(vote.user), :target => "_blank" %>
		</div>
	</div>
<% end %>