<div class="nudge-banner-container">
  <img class="annual-savings__icon" src="/images/percentage.svg">
  <span class="annual-savings__text">
    <%= t('annual_save.primary_text', amount: savings_amount) %>
    <a href='/a/admin/explore?annualUpgrade=true' target='_top'> <%= t('annual_save.primary_link') %> </a>
  </span>
</div>