<div align="center">
  <img class="fd-fd-bundle-logo" class="features__icon" src="/images/fd-fwcrm-bundle.svg">
  <p class="primary_bundle_text">
    <%=t('freshdesk_discount.' + discount_coupon.downcase + '.discount_title_text', time: time_left)%><br>
  </p>
  <p class="secondary_bundle_text">
    <%=t('freshdesk_discount.' + discount_coupon.downcase + '.discount_subtitle_text')%><br>
  </p>
  <hr>
</div>