<% content_for :sidebar do -%><%- end %>
<h3 class="title"><%= t('plans_and_pricing') %></h3>
<%= render :partial => "select_plans", :locals => { :plans => @plans, :subscription => @subscription, :show_all => true } %>
