<%= content_for :sidebar do %>
<div class="sidepanel">    
  <% if !@subscription.trial? and @subscription.card_number.present? %>
    <%= render :partial => "/subscriptions/payment_info" %>  
  <% end %>
</div>

<% end %>

<h3 class= "title"><%= @page_title = t("admin.home.index.billing") %></h3>
<%= render :partial => "/subscriptions/state/#{@subscription.state}", :locals => { :subscription => @subscription, :plans => @plans } %>