<% content_for :sidebar do -%>

<% if @subscription.card_number.present?  %>
  <div class="sidepanel">    
    <%= render :partial => "/subscriptions/payment_info" %>  
  </div>
<% end %>

<% end %>

<h3 class= "title"><%= @page_title = t("admin.home.index.billing") %></h3>
<%= render :partial => "/subscriptions/state/#{@subscription.state}", :locals => { :subscription => @subscription, :plans => @plans } %>