<% unless @ticket.dropboxes.blank? %>
	<hr />
	<div class="cs-g-c attachments" id="ticket-{{ticket.id}}-dropbox-attachments">
		<% @ticket.dropboxes.each do |dropbox| %> 
		<% 
		 	filename = dropbox.url.split('/')[-1]
			extname = dropbox.url.split('.')[-1] 
			extname = (["pdf", "doc", "mov", "xls", "zip", "txt", "ppt"].include?(extname)) ? extname : "def"
		%>
		<div class="cs-g-3 attachment">
			<%= image_tag("/images/portal/file-type/#{extname}.png", 
					:class => "file-thumbnail",
					:width => "50px", :height => "50px") %>			
			<a href="<%=dropbox.url%>" class="ellipsis file-name" target="_blank">
				<i class="icon-dropbox-small"></i> <%= filename %>
			</a>			
			<div class="help-text">
				<%= link_to t("delete"), helpdesk_dropbox_path(dropbox), 
      						:method => 'delete',
      						:confirm => t("attachment_delete") %>
			</div>
		</div>
		<% end %>
	</div>
<% end %>