<% content_for :layoutType do%>single<% end %>
<div class="pageContent">
	<div class="admin">
	<h3 class="title">Helpdesk</h3>
	<ul class="icon_grid admin_icons">
		<li>
			<a href="<%= edit_account_path %>">
				<img src="/images/spacer.gif" class="helpdesk_rebrand" /><div>Helpdesk Rebranding</div>
			</a>
		</li>
		<li>
			<a href="/ticket_fields">
				<img src="/images/spacer.gif" class="ticket_field" /><div>Ticket Fields</div>
			</a>
		</li>		 
		<li>
			<a href="email_configs">
				<img src="/images/spacer.gif" class="email" /><div>Email Settings</div>
			</a>
		</li>
		<li>
			<a href="email_notifications">
				<img src="/images/spacer.gif" class="email_notify" /><div>Email Notifications</div>
			</a>
		</li>
		<li>
			<a href="/helpdesk/sla_policies">
				<img src="/images/spacer.gif" class="sla" /><div>SLA Policy</div>
			</a>
		</li>
		<li>
			<a href="va_rules">
				<img src="/images/spacer.gif" class="virtual_agent" /><div>Virtual Agent</div>
			</a>
		</li>
		<li>
			<a href="automations">
				<img src="/images/spacer.gif" class="automation" /><div>Scenario Automations</div>
			</a>
		</li>
		<li>
			<a href="business_calendars">
				<img src="/images/spacer.gif" class="business_hours" /><div>Business Hours</div>
			</a>
		</li>
		
	</ul>
	</div>
	<div class="admin even">
	<h3 class="title">People & Roles</h3>
	<ul class="icon_grid admin_icons"> 
		<li>
			<a href="/agents">
				<img src="/images/spacer.gif" class="user" /><div>Agents</div>
			</a>
		</li> 
		<li>
			<a href="/groups">
				<img src="/images/spacer.gif" class="user_group" /><div>Groups</div>
			</a>
		</li> 
	</ul>
	</div>
</div>