<% content_for :layoutType do%>single<% end %>
	<div class="admin">
		<h3 class="title">Helpdesk</h3>
		<ul class="icon_grid admin_icons">
			<li>
				<a href="<%= edit_account_path %>">
					<img src="/images/spacer.gif" class="admin-icon-rebranding" /><div>Helpdesk Rebranding</div>
				</a>
			</li>
			<li>
				<a href="/ticket_fields">
					<img src="/images/spacer.gif" class="admin-icon-ticket-fields" /><div>Ticket Fields</div>
				</a>
			</li>		 
			<li>
				<a href="email_configs">
					<img src="/images/spacer.gif" class="admin-icon-email-settings" /><div>Email Settings</div>
				</a>
			</li>
			<li>
				<a href="email_notifications">
					<img src="/images/spacer.gif" class="admin-icon-email-notifications" /><div>Email Notifications</div>
				</a>
			</li>
			<li>
				<a href="/helpdesk/sla_policies">
					<img src="/images/spacer.gif" class="admin-icon-sla" /><div>SLA Policies</div>
				</a>
			</li>
			<li>
				<a href="va_rules">
					<img src="/images/spacer.gif" class="admin-icon-dispatcher" /><div>Dispatch'r</div>
				</a>
			</li> 
			<% if feature?(:scenario_automations) %>
				<li>
					<a href="automations">
						<img src="/images/spacer.gif" class="admin-icon-scenario" /><div>Scenario Automations</div>
					</a>
				</li>
			<% end %>
			<% if feature?(:business_hours) %>
				<li>
					<a href="business_calendars">
						<img src="/images/spacer.gif" class="admin-icon-business-hours" /><div>Business Hours</div>
					</a>
				</li>
			<% end %> 
			<li>
				<a href="widget_config">
					<img src="/images/spacer.gif" class="admin-icon-feedback" /><div>Feedback widget</div>
				</a>	
			</li>
		</ul>
	</div>
	<div class="admin even">
		<h3 class="title">People & Roles</h3>
		<ul class="icon_grid admin_icons"> 
			<li>
				<a href="/agents">
					<img src="/images/spacer.gif" class="admin-icon-agent" /><div>Agents</div>
				</a>
			</li> 
			<li>
				<a href="/groups">
					<img src="/images/spacer.gif" class="admin-icon-group" /><div>Groups</div>
				</a>
			</li> 
		</ul>
	</div>
	<div class="admin">
		<h3 class="title">Account</h3>
		<ul class="icon_grid admin_icons">
			<li>
				<a href="/account/billing">
					<img src="/images/spacer.gif" class="admin-icon-billing" /><div>Billing details</div>
				</a>
			</li> 
		</ul>
	</div>