<div class="alert-message hide" id="language-message">
  <%= I18n.t("falcon_languages_alert") %>
</div>

<script type='text/javascript'>
  toggleMessage = function() {
    jQuery('#language-message').slideToggle();
  }
</script>
