<div id="chat_ticket_options">
	<div class="ui-widget-overlay"></div>
		<div id="ticket_options" class="chat_ticket_options ">
			<div class="ticket_search_details convert-ticket">
				<h3 class="grey"><%=i18n.convert_to_ticket%></h3>
				<h4><%=i18n.create_ticket_tip%></h4>
				<div  class="btn btn-primary new_tkt" id="new_tkt"><%=i18n.new_ticket_tip%></div>

				<div id="confirm_tkt" class="existing_tkt btn disabled">
					<%=i18n.existing_tkt_option_tip%>
					<p id="existing_tkt_subject" class="existing_tkt_subject"></p>
				</div>
				<a href="#"  id="existing_tkt_link" class="select_tkt"><%=i18n.select_ticket%> &#9658;</a>
				<a href="#" id="return_select_tkt" class="return_select_tkt hide"> &#9658;</a>
				<div  class="no_tkt btn" id="do_nothing"><%=i18n.do_not_convert_tkt%></div>
			</div>
		</div>
</div>

 