
<% content_for :sidebar do %>
<%= render :partial => "helpnote_without_tour" %>
<% end %>
<h3 class="title"><%=t('sla_policy.edit')%></h3>
<% form_for(@sla_policy, :html => {:class => 'sla_policy_form'}) do |f| %>
	<%= render :partial => "form", :locals => { :f => f } %>
   		
<% end %>