<h3 class="title">New SLA Policy</h3>
	<% form_for(@sla_policy) do |f| %> 
	  <%= render :partial => "form", :locals => { :f => f } %> 
	  <div class="button-container">
		<%= f.submit 'Save', :class => "fdbutton" %>
		<%= link_to 'cancel', helpdesk_sla_policies_path, :class => "fdbutton grey" %>
	  </div>	 
	<% end %>