<div class="sidepanel">
    <h3 class="title"><%=t('dispatch.title')%></h3>
	<p><%=t('dispatch.helpcard.info1')%></p>
	<p><%=t('dispatch.helpcard.info2')%></p>
	<%= tour_button(t('dispatch.helpcard.tour'), '501910d2e13a46792b00007c') %>
</div>