<% content_for :sidebar do %>
	<%= render :partial => "helpnote_without_tour" %>
<% end %>

<%= include_cloudfront_css :pattern %>
<h3 class="lead"><%=t('dispatch.new')%></h3> 
<% form_for :va_rule, @va_rule, :url => admin_va_rules_path, :html => { :method => :post , :id => "VirtualAgent" } do |f| %>
	<%= render :partial => "/admin/shared/rule_form", :locals => { :f => f } %>
<% end %>
