<h3 class="title"><%=t('dispatch.new')%></h3> 
<% form_for :va_rule, @va_rule, :url => admin_va_rules_path, :html => { :method => :post , :id => "VirtualAgent" } do |f| %>
	<%= render :partial => "form", :locals => { :f => f } %>
<% end %>
