// --------------------------------------------------------------------------------------------
//								 	Plans and Billing page
// --------------------------------------------------------------------------------------------

// 	Highlight for showing the number of trial days left
// --------------------------------------------------------------------------------------------
.well-trial, .well-active {
	@include padding(15px 20px);
	@include border-radius(3px);
	border: 1px solid #efefef;
	font-size: 15px;
	line-height: 1.5;
	margin-bottom: 20px;
}

.add-phone-credits {
    letter-spacing: 0.5px;

	.account-suspended {
		pointer-events: none;
		color: #000000;
	}
}

.calculate-container {
	padding: 24px 40px 24px 0;
	width: 450px;
	border-right: 1px solid #DADFE3;
	margin-left: 50px;

	.billing-actions{
		float: right;
	}
}

.current-plan-info .save-info {
	width: 100%;
}

#billing-template #show-confirmation-box {
	display: none;
}

.omni-close {
	display: inline-block;
}

.submit-confirm {
	padding-top: 3px;
}

.billing-cost .select2-container {
	min-width: 94px;
}

.omni_warning {
	border: 1px solid #ffd0d6;
	padding: 18px;
	border-radius: 4px;
	background-color: #ffecf0;
	margin-bottom: 12px;
}

.omni-disabled, .omni-enabled {
	margin-top: 10px;
	position: relative;
	font-size: 14px;
}

.choose-plan-container {
	margin-top: 20px;
}

.choose-plan-border {
	border-bottom: 1px solid #dadfe3;
}

.choose-plan-drop {
  overflow: hidden;
  margin-top: 10px;
}

#ChangePlan {
	position: relative;
}

.omni_change_plan {
  width: 60%;
  margin: 0 auto;
  border: 1px solid #dadfe3;
  box-shadow: 0 2px 4px 0 rgba(18,52,77,0.19);

  .omni_plan_pricing {
	display: flex;
	align-items: center;

	.slashed-price {
		color: #b1bdc8;
		font-weight: bold;

		&::before {
			content: '';
			border-top: 2px solid #b1bdc8;
			height: 0px;
			display: block;
			width: 100%;
			transform: rotate(164deg);
			position: relative;
			top: 16px;
			padding: 0 2px;
		}
	}

	.bundle-price {
		font-weight: bold;
	}

	.forward-arrow {
		margin: 0 15px;
		font-size: 16px;
		color: #b1bdc8;
	}
  }

  .current-plan-disabled {
	opacity: 1;
  }
}

.omni-channel-icon {
  display: inline-block;
  float: left;
  margin-right: 12px;
}

.features {
  display: flex;

  &__icon {
  	@include margin-right(12px);
  }

  &__wrapper {
  	display: flex;
 	-webkit-flex: 1; /* Safari 6.1+ */
  	-ms-flex: 1; /* IE 10 */
  	flex: 1;
  	align-items: center;
  	padding: 20px;
  }

  &__content {
  	flex-grow: 1;
  	flex-basis: 0%;

  	h4 {
  		padding-bottom: 4px;
  	}
  	.highlight {
		color: #40894c;
		font-weight: bold;
	}
  }

  .vr-line {
  	border-left: 1px dashed #dadfe3;
    height: auto;
    margin: 10px 0;
  }
}


.features-card {
	border-top: 1px solid #dadfe3;
	padding: 25px 0;

	&.ocr-card {
	  min-height: 150px;
	}

	&__title {
	  font-weight: bold;
	  line-height: 24px;
	  font-size: 15px;
	}

	&__price {
	  color: #930003;
	  font-size: 15px;
	  letter-spacing: -0.5px;
	  line-height: normal;
	  font-weight: bold;

	  .free {
		display: none;
	  }

	  &.slashed {

	  	.price-value {
	  	  color: #b1bdc8;
	  	  font-weight: 300;
	  	  display: inline-block;
    	  padding: 0px 2px;

    	  &::before {
	    	content: '';
			border-top: 1px solid #b1bdc8;
			height: 0px;
			display: block;
			width: 100%;
			transform: rotate(164deg);
			position: relative;
			top: 12px;
			padding: 0 2px;
    	  }
	  	}
	  }

	  &.slashed-free .free {
		display: inline-block;
	  }

	  .per-agent {
	  	vertical-align: baseline;
	  }
	}

	&__features--list {
	  list-style: disc;
	  display: list-item;
	  font-size: 15px;
	  font-weight: 300;
	  line-height: 24px;
	  margin-left: 20px;
	}
}

.well-active {
	@include pie-clearfix;
	background: #fefef0;
	border-radius: 5px;
	display: flex;
	align-items: center;
	@include padding(25px 20px);
	.plan-title{
		background: rgba(0, 0, 0, 0.5);
		margin: 0 auto;
		display: inline-block;
		font-size: 22px;
		font-weight: 200;
		color: #fff;
		padding: 8px 20px;
		border-radius: 20px;
	}
	.current-plan-info, .subscription-info-divider, .billing-info-divider{
		width: 55%;
		text-align: center;
		display: inline-block;
		vertical-align: middle;
	}

	.current-plan {
		width: 55%;
		align-self: center;
	}

	.current-plan, .subscription-info-divider {
		width: 40%;
	}
	.current-plan-info, .billing-info-divider {
		width: 59%;
	}
	.subscription-info-divider, .billing-info-divider {
		@include text-align(left);
		vertical-align: top;
		.price{
			font-size:30px;
			font-weight:300;
			line-height: 26px;
			padding-bottom: 5px;
		}
	}
	.subscription-info-divider{
		ul{
			@include border-right(1px solid #ddd);
			@include margin-right(20px);
		}
		li {
		    padding: 4px;
		    list-style: disc;
		    @include margin-left(20px);
		}
	}
	.edit-plan{
		display: inline-block;
		padding: 05px 25px;
		border: 1px solid #ddd;
		margin: 10px 0;
		border-radius: 5px;
		@include margin-left(-20px);
	}
}
.well-trial {
	text-align: center;
}

.accounted-created{
	@include float(right);
	margin-top: -30px;
}

.label.label-lead{
	@include border-radius(2em);
	@include padding(10px 20px);
	margin-bottom:15px;
	font-size: 19.5px;
	font-weight: 300;
	display: inline-block;

}

.label-success.label-lead{
	background-color:#6FA74F;
}

// Plans comparison summary
// --------------------------------------------------------------------------------------------
.payment-info{
	.caption{
		font-size: 16px;
		font-weight: bold;
	}
	.fields{
		margin-top: 10px;
	}
	.billing-address{
		display: block;
		color: #777;
		margin: 12px 0 3px;
		font-size: 13px;
	}
}

.tax-text{
  color: #333;
  font-size: 13px;
}

.classic-account{
	font-size: 10px;
	padding: 1px 3px;
	background-color: #999;
	color: white;
	font-weight: bold;
	@include border-radius(4px);
	text-transform: uppercase;
	width: 43px;
	display: block;
}

.pricelist .btn{
	display: block;
	width: 80%;
	padding-left: 0;
	padding-right: 0;
	position: absolute;
	bottom: 10px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.free-plan-payment{
	color: #777;
	font-weight: bold;
}
.plan-info{
	width:35%;
	float:left;
}
.subscribed-plan-details .billing-cost{
	@include text-align(left);
}

.per-agent {
  font-size: 12px;
  vertical-align: middle;
  display: inline-block;
  padding-bottom: 6px;
  color: #000;
  font-weight: 300;
}

.currency-note{
	border: 1px solid #FFDE5E;
	padding: 5px 10px;
	border-radius: 4px;
	background: #FFDE5E;
	color: #333;
	font-weight: 400;
	margin-bottom: 15px;
	span{
		margin: 5px auto;
		display: none;
		margin-top: -17px;
		@include margin-left(55px);
		border-bottom-color: #FFDE5E;
		border-bottom-width: 7px;
	}
}

.you-save-amount,
.money {
	color: #91000d;
	font-weight: bold;
}

.vertical-top {
	vertical-align: top;
}

dt.vertical-top {
	padding-top: 5px;
}

.save-info {
	font-size: 12px;
  margin-bottom: 0px;
  padding-top: 5px;
  width: 100px;
  .money {
  	font-weight: bold;
  }
}

#billing-template{
	.billing-cost{
		margin-top: 10px;
		font-size: 13px;

		h2{
			font-size: 15px;
			vertical-align: top;
    	display: inline-block;
  	}

  	.per-month-charges {
  		color: #91000d;
  		font-size: 12px;
  		margin-bottom: 0px;
  	}
		dl{ margin-top: 7px; }
		dd, dt{
			display: inline-block;
		}
		dt{
			@include text-align(left);
			width: 47%;
			font-weight: bold;
			vertical-align: middle;

			&.align-top {
				vertical-align: top;
			}
		}
		.agents-split{
			border-top:1px dashed #afafaf;
			margin-top: 10px;
			padding-top: 15px;
			margin-bottom: 10px;
			#cost-per-agent{
				font-weight: bold;
				color: #666;
	 		}
		}
		.freddy-pack {
			font-weight: normal;
			font-size: 12px;
			color: #475867;
		}
		.session-pack {
			color: #00A886;

			&-cycle {
				text-transform: lowercase;
			}
		}
		&-divider {
			height: 0;
			border: 1px solid #EBEFF3;
		}
		.tr-total{
			input[type=submit]{
				margin: 10px;
			}
		}
	}
}

.features-billing {

  &__toggle {
  	font-weight: bold;
  	padding-top: 16px;
  	margin: 0;

  	&:first-child {
  	  border-top: 1px solid #dadfe3;
  	}

  	&:last-child {
  	  padding-bottom: 8px;
  	}

  	.toggle-button {
  	  float: right;
  	}
  }
}

.freddy-semi-bold {
	font-weight: 600 !important;
}

.features-billing-edit {

  &__toggle {
		padding: 14px 16px;
    background: #F0F0F0;
    border: 1px solid #EBEFF3;
		border-radius: 6px;

		.addon-name {
			font-weight: bold;
			font-size: 14px;
		}

		.toggle-button {
			float: right;
		}
	}

	.freddy-cx-options {
		clear: both;
		padding: 8px 16px;
		background: #F0F0F0;
		border: 1px solid #EBEFF3;
		border-radius: 0 0 6px 6px;
	}

	.freddy-billing-exists {
		border-bottom: 1px solid #DEDEDE;
		margin-bottom: 0;
		border-radius: 6px 6px 0 0;
	}

}

.billing-divider{
	border-top:1px dashed #afafaf;
	border-bottom:0;
	display: none;
	margin: 0px;
}

.subscribed-plan-details{
	.billing-divider{
		display: none;
	}
}

.free-plan-options .currency-note .arrow-up{
	margin-left: 110px;
}

.billing-total-cost{
	padding-bottom: 10px;
}

input[type=text].input-agent-count{
	margin-bottom: 0;
	width:25px;
	padding-left: 3px;
}

.agent-details td{
	font-weight: 500;
	color: #666;
}

.plan-expand{
	font-weight: bold;
	font-size: 13px;
	position: relative;
	@include margin-left(12px);
	&:before {
	 content:"";
	 border:5px solid;
	 border-color: transparent transparent transparent #777;
	 height:0;
	 width:0; /* Firefox 3.0 damage limitation */
	 font-size:0px;
	 position: absolute;
	 top: 4px;
	 @include left(-12px);
  }
}

.plan-expand-click:before{
  border-color: #777 transparent transparent transparent;
}


.choose-plan-title{
	margin-top: 10px;
	padding-bottom: 4px;
}

.activate-options{ display: none;}

.dialog-alert{
	.downgrade-message{
		margin: 10px;
		font-size: 13px;
		line-height: 1.3;
	}

	.downgrade-actions{
		margin: 10px;
		@include text-align(right);
		#confirm-cancel{
			font-weight: normal;
		}
	}

	.confirm-dialog{
		min-height: 100px !important;
	}
}

.free-plan-options{
	.activate-options{
		display: block;
		@include text-align(center);
	}
	#plan_form{
		display: none;
	}
	#billing-template{
		min-height: 0;
		border: 0;
		padding: 0;
	}
	.currency-note{
		span{
			@include margin-left(65px);
		}
	}
}

.plan-section-title{
	margin-bottom: 15px;
	.lead{ margin-bottom: 0; }
}
.plan-cost{
	font-size: 24px;
	font-weight: bold;
}

.plan-confirm-message {
	font-size: 16px;
	line-height: 1.5;
	font-weight: 300;
}
.plan-confirm-message .label{
	text-transform: uppercase;
	padding: 2px 5px;
}

.plans{
	border:1px solid #efefef;
	border-width: 1px 0;
	table{ width:100%; }
	td{
		vertical-align:top;
		@include border-right(1px solid #efefef);
		padding: 20px 20px 40px;
		overflow: hidden;
		position: relative;
		&:last-child{
			@include border-right(0);
		}
	}
	.plan-details{
		.lead{ margin-bottom: 0; }

		p.plan-details{
			@include min-height(300px);
			font-weight: 300;
			font-size: 15px;
			line-height: 1.8;

			span {
				display: list-item;
				margin-left: 20px;
			}

			&.hide_first_feature {
				span:first-child {
					display: none;
				}
			}

			&:not(.basic_plan) {
				span:first-child {
					font-style: italic;
					display: inline-block;
					margin-left: 0px;
				}
			}

		}

		.plan-brief{
			font-size: 11px;
			padding-bottom: 12px;
		}
	}
	.discount-strikethrough{
		color:#999999;
		text-decoration:line-through;
		font-size:15px;
	}
	.discount-info-text{
		color:#990000;
		@include padding(0 0 3px 0);
		font-size:13px;
	}
	.info-data{
		color:$default_txt_color;
		font-weight: 300;
	}

	.active:not(.toggle-button){
		background-color:#FFFFDD;
		border-width: 1px 1px 0 0;
		border-color:mix(#000, #FFFFDD, 20%);
		top:0;
		overflow: visible;
		@include right(0);
		@include box-shadow(0 0 15px -1px #DADADA);
		&:before {
			content:"";
			position:absolute;
			display: block;
			height: 10px;
			top: -1px;
		 	@include left(-1px);
			background-color: #4D3636;
			width: 101%;
			@include border-radius(2px 2px 0 0);
		}
		.plan-button{
			display:none;
		}
		.btn{
			background-color: #4D3636;
			color: #fff;
			font-weight: bold;
			text-shadow: none;
			background-image: none;
		}
	}

	button {
		margin-top:6px;
	}
	.billing {
		td{
			border:0;
			vertical-align:middle;
			padding:4px 5px;
			input{
				width:auto !important;
			}
		}
		.tr-total td{
			border-top:1px dashed #afafaf;
			vertical-align: baseline;
			font-weight: bold;
			font-size: 13px;
			.total{
				font-size:18px;
				font-weight:bold;
				color:#669900;
				display:block;
				margin-top:4px;
			}
		}
	}
}

.total {
	color: #91000d;
	display: block;
}

.invoice-list, .invoice-download-icon{
	background-color: #f7f7f7;
	text-align: center;
	color: #7b7b7b;
	border-radius: 3px;
}

.invoice-download-icon{
  padding: 8px 8px 8px 10px;
}

.invoice-date{
	@include text-align(right);
	color: #AAAAAA;
}

.invoice-modal-config{
	color: #8E8E8E;
}

.invoice-table.table{
	@include text-align(right);
	th{
		border-top: 1px solid #535353;
		border-bottom: 1px solid #A6A6A6;
	}
}

.ft-wt{
	font-weight: 500;
}

.invoice-status{
	color:green;
}

.invoice-refund{
	color:#D75334;
}

.btn-primary{
	[class*='ficon-']{ color: #fff;}
}

.table tr:hover {
	.invoice-download-icon{
		background-color: #DDDDDD;
	}
}






// --------------------------------------------------------------------------------------------
//								 	Admin Daypass start
// --------------------------------------------------------------------------------------------

.daypass_table th{
    background-color:#FAFAFA;
    font-weight: 450;
  }

  .passes-available-container{
    background-color: #F8F8F8;
    border: 1px solid #E2E2E2;
    @include border-radius(7px);
    box-sizing: border-box;
  }

  .daypass-no-result{
  	height: 80px;
  	text-align: center;
  }

  .mt30{
  	margin-top: 30px;
  }

  .pl80{
    @include padding-left(80px);
  }
  .usage-history-filter{
  	padding-top: 6px;

  	.fd-ajaxmenu{
      @include right(14%);
  	}
  	.search_container{
      margin: -5px 0;
      @include padding(6px 6px 0px 4px);
      background: #EEE;
      overflow: hidden;
      @include border-radius(6px 6px 0 0);
  	}

  	.menu_search{
    	border-color: #aaa;
  	}

  	.contents{
	    @include text-align(left);
	    padding-top: 2px;
	    max-height: 400px;
    	overflow-y: scroll;
  	}

  	input:focus {
      border:1px solid #aaa;
    }

    .quick-action{
  		position: relative;
  	}

  	.quick-action:after {
  		@include right(0px);
  	}
  	.no_results{
  		text-align: center;
  	}

  }

  #agent_filter a{
    color: #000;
    @include padding-right(10px);
  }

  #days-filter-display {
    color: #000;
  }

  #filterDaysMenu{
  	display:none;
  	@include margin-left(45%);
  	@include text-align(left);
  }

  .usage-history-filter a .drop-right:after{
  	@include margin(5px 0 0 5px);
  }

  .daypass_container{
  	border-bottom: none;
  }

  .table{
  	margin-bottom: 0px;
  }

  .usage_history_wrap{
  	position: relative;
  }

// --------------------------------------------------------------------------------------------
//								 downgrade request change start
// --------------------------------------------------------------------------------------------
	.downgrade-backdrop {
		z-index: -1;
	}

	.right-arrow-billing {
		color: #91A2B2;
		font-size: 20px;
    display: inline-block;
    vertical-align: top;
    padding: 0 10px;
	}

	.strike {
		text-decoration: line-through;
    color: #91A2B2;
	}

	.loyalty-upgrade-wrapper {
		border: 1px solid #DADFE3;
		border-radius: 4px;
		padding: 16px 15px 18px;
		margin-bottom: 40px;
	}

   .request-change-wrapper {
			border: 1px solid #DADFE3;
			border-bottom: 0;
			border-radius: 4px;

 			.on-request {
				border-bottom: 1px solid #DADFE3;
				padding: 15px 25px;
				.on-request-date{
					font-weight: bold;

 				}
				.next-renewal  {
					font-weight: bold;
					border-left: 1px solid #000;
				}
			}


	 }
	 .downgrade-submit-btn {
	 	display: inline-block;
	 }
	 .request-change-container {
				display: flex;
				padding: 16px 24px;
				.request-change-items {
					padding-right: 50px;
					.plan-from,.plan-to,.billing-cycle {
						font-weight: bold;
					}
					.item-to {
						font-weight: normal;
						text-transform: initial;
					}
					.agents-count {
						font-weight: 600;
					}
					&.plan-addon {
						width: 34%;
					}
				}
	}
	.cancel-request {
		float: right;
		font-weight: bold;
		cursor: pointer;
		text-decoration: none;
	}
	.second-downgrade-modal-wrapper {
		width: 80%;
		margin: 80px auto;
		top: 0;
		left: 0;
		.modal-header{
			border:0 none;
		}
		.request-change-container {
			border: 1px solid #ebeff3;
			border-radius: 8px;
		}
		.downgrade-header {
		    font-size: 24px;
				font-weight: 700;
		}
		.existing-request,.latest-request {
			font-size: 14px;
			.content-text {
              font-weight: bold;
			}
		}
		.request-change-items {
		 	.plan-from,.plan-to,.billing-cycle {
				font-weight: normal;
				text-transform: capitalize;
			}
			.item-to {
				font-weight: normal;
				text-transform: initial;
			}
		}
		.agents-count-text,.fsm-count-text {
		  color:#333;
		}
		.required-mark{
			display: none;
		}
		.same-request {
			.plan-from,.plan-to,.billing-cycle,.agents-count-text,.fsm-count-text {
				font-weight: 600;
			}
			.item-to {
				font-weight: normal;
				text-transform: initial;
			}
			.required-mark{
				font-weight:bold;
				display: inline-block;
			}
		}

		.plan-name {
			width: 50%;
		}

		.agents-count {
			width: 10%;
		}

		.fsm-count {
		 	width: 25%;
		}

		.billing-cycle-details {
			width: 35%;
		}
		.upgrade-info-wrapper {
			border: 1px solid #FDDBB5;
			background-color: #FEF1E1;
			border-radius: 4px;
			padding: 15px 10px;
			.upgrade_info {
				border-left: 1px solid #FDDBB5;
			}
			.upgrade-info-icon {
			 vertical-align: middle;
			}
		}
	}
 	 .request-change-info {
		 padding: 11px 25px;
		 border: 1px solid #BBDCFE;
		 margin: 0;
		 background-color: #E5F2FD;
		 border-bottom-right-radius: 4px;
		 border-bottom-left-radius: 4px;
		 margin-bottom: 50px;
		 display: flex;

		 &.hide {
		 	display: none !important;
		 }
	 }

	 .request-change-status {
	 	padding: 15px 25px;
		margin: 0;
		border-radius: 4px;
		margin-bottom: 50px;
		display: flex;

		img{
			margin-right: 5px;
		    padding-right: 10px;
		    border-right: 1px solid;
			display: none;
		}

		&.success {
			border: 1px solid #B4E5DA;
			background-color: #E0F5F1;

			.success-icon {
				display: block;
			}
		}

		&.failure {
			border: 1px solid #FFD0D6;
			background-color: #FFECF0;

			.failure-icon {
				display: block;
			}
		}

		&.hide {
			display: none !important;
		}
	 }
	 .downgrade-sprout{
	 	display: none;
	 }
	 .pending-cancellation-request-modal {
    	width: 470px;
    	left: 55%;
    	top: 55%;

		.modal-header {
			border: 0 none;
		}

 		.modal-body {
			margin: 0 !important;
    		border: 0 !important;
		}

		.modal-footer {
			background: none !important;
		}
	}


// --------------------------------------------------------------------------------------------
//								 	downgrade request change end
// --------------------------------------------------------------------------------------------


// --------------------------------------------------------------------------------------------
//								 	Admin -> Daypass end
// --------------------------------------------------------------------------------------------

// --------------------------------------------------------------------------------------------
//					Admin Subscription Revamp start
// --------------------------------------------------------------------------------------------

.well-active-new{
	background: #F8F8F8;
	padding: 0 30px;
	align-items: stretch;
	.sprout-new-active, .explore-higer-plan{
		@include margin(5px 0 0 5px);
		&:hover{
			cursor: pointer;
		}
	}
	.payment-info{
		display: inline-block;
		vertical-align: middle;
		.caption{
			display: inline-block;
			@include margin-right(10px);
		}
	}
	.edit-plan{
		font-size: 14px;
    color: #12344D;
    font-weight: 600;
    background: linear-gradient(180deg, #FFFFFF 2.56%, #F3F5F7 95.75%);
    border: 1px solid #CFD7DF;
		@include margin(10px 0 0 -20px);
	}

	.session-metering {
		border: 1px solid #EBEFF3;
    box-sizing: border-box;
    box-shadow: 0px 2px 4px rgba(207, 215, 223, 0.24);
    border-radius: 8px;
    background: #fff;
		padding: 16px 20px;
		margin-top: 15px;
		margin-right: 15px;
		max-width: 280px;

		&-progress {
			background: #EBEFF3;
			border-radius: 6px;
			margin-top: 8px;

			&-bar {
				height: 5px;
				border-radius: 6px;

				&.green-bar {
					background: #00A886;
				}

				&.orange-bar {
					background: #E86F25;
				}

				&.red-bar {
					background: #D72D30;
				}

			}
		}

		&-meter {
			font-weight: 700;
		}

		&-title {
			font-size: 13px;
			color: #475867;
		}

		&-consumed {
			margin-top: 8px;
			margin-bottom: 0;
			font-size: 12px;
			color: #475867;
			font-style: italic;
		}

		.buy-session {
			margin-top: 8px;
			margin-left: 0;
		}
	}

	.subscription-info-divider{
		ul{
			@include padding-right(20px);
		}
		width: auto;
		@include float(left);
		max-width: 50%;
	}
	.free-divider{
		ul{
			@include border-right(none);
		}
		max-width: 60%;
	}
	.free-divider--sanscard{
		max-width: 100%;
	}
	.current-plan{
		width: 20%;
		padding: 24px 0;
		align-self: start;
    margin-right: 30px;
	}
	.current-plan-info{
		width: 100%;
    align-self: center;
	}

	.billing-info-divider {
		width: auto;
		max-width: 50%;
		@include float(left);
	}
	.plan-title.classic{
		@include margin-right(20px);
	}
	.payment-info-new{
		max-width: 26%;
		padding: 24px 0;
		@include padding-left(25px);
		@include word-hyphernate;
	}
}
.plan-confirm-message-new{
	font-size: 14px;
	font-weight: 400;
}
.plan-confirm-message-info{
	margin-bottom: 10px;
	border: 1px solid #EBEBEB;
	.downgrade-message-info{
		background-color:#EBEBEB;
		padding: 10px 15px;
	}
	.downgrade-feature-list{
		padding: 10px 15px;
		background-color: #F7F7F7;
		.downgrade-warning{
			color:#b94a48;
			padding: 10px 0;
		}
		.upgrade-warning{
			color: #008000;
		}
		.lost-feature, .new-feature{
			width:46%;
			display: inline-block;
			position: relative;
			vertical-align: top;
			@include padding(3px 0 3px 16px);
			&:before{
				position: absolute;
				@include left(0);
			}
		}
		.lost-feature:before{
			color:#b94a48;
			top: 7px;
		}
		.new-feature:before{
			color:#008000;
			top: 6px;
		}
	}
}
// --------------------------------------------------------------------------------------------
//					Admin Subscription Revamp end
// --------------------------------------------------------------------------------------------

// --------------------------------------------------------------------------------------------
//								 downgrade request change start
// --------------------------------------------------------------------------------------------
	.downgrade-backdrop {
		z-index: -1;
	}
   .request-change-wrapper {
			border: 1px solid #DADFE3;
			border-bottom: 0;
			border-top-left-radius: 4px;
			border-top-right-radius: 4px;

 			.on-request {
				border-bottom: 1px solid #DADFE3;
				padding: 15px 25px;
				.on-request-date{
					font-weight: bold;

 				}
				.next-renewal  {
					font-weight: bold;
					border-left: 1px solid #000;
				}
			}


	 }
	 .downgrade-submit-btn {
	 	display: inline-block;
	 }
	 .request-change-container {
				display: flex;
				padding: 16px 24px;
				.request-change-items {
					padding-right: 50px;
					.plan-from,.plan-to,.billing-cycle {
						font-weight: 600;
					}
					.agents-count {
						font-weight: 600;
					}
				}
	}
	.cancel-request {
		float: right;
		font-weight: bold;
		cursor: pointer;
		text-decoration: none;
	}
	.second-downgrade-modal-wrapper {
		width: 80%;
		margin: 80px auto;
		top: 0;
		left: 0;
		.modal-header{
			border:0 none;
		}
		.request-change-container {
			border: 1px solid #DADFE3;

		}
		.downgrade-header {
			font-size: 24px;
			font-weight: 700;
		}
		.existing-request,.latest-request {
			font-size: 14px;
			.content-text {
              font-weight: bold;
			}
		}
		.agents-count-text,.fsm-count-text {
			color:#333;
			font-weight: 600;
		}
		.required-mark{
			display: none;
		}
		.same-request {
			.plan-from,.plan-to,.billing-cycle,.agents-count-text,.fsm-count-text {
				font-weight: 600;
			}
			.required-mark{
				font-weight:bold;
				display: inline-block;
			}
		}

		.plan-name {
			width: 50%;
		}

		.agents-count {
			width: 10%;
		}

		.fsm-count {
		 	width: 25%;
		}

		.billing-cycle-details {
			width: 35%;
		}
		.upgrade-info-wrapper {
			border: 1px solid #FDDBB5;
			background-color: #FEF1E1;
			border-radius: 4px;
			padding: 15px 10px;
			.upgrade_info {
				border-left: 1px solid #FDDBB5;
			}
			.upgrade-info-icon {
			 vertical-align: middle;
			}
		}
	}
 	 .request-change-info {
		 padding: 11px 25px;
		 border: 1px solid #BBDCFE;
		 margin: 0;
		 background-color: #E5F2FD;
		 border-bottom-right-radius: 4px;
		 border-bottom-left-radius: 4px;
		 margin-bottom: 50px;
		 display: flex;

		 &.hide {
		 	display: none !important;
		 }
	 }

	 .request-change-status {
	 	padding: 15px 25px;
		margin: 0;
		border-radius: 4px;
		margin-bottom: 50px;
		display: flex;

 		img{
			margin-right: 5px;
		    padding-right: 10px;
		    border-right: 1px solid;
			display: none;
		}

 		&.success {
			border: 1px solid #B4E5DA;
			background-color: #E0F5F1;

 			.success-icon {
				display: block;
			}
		}

 		&.failure {
			border: 1px solid #FFD0D6;
			background-color: #FFECF0;

 			.failure-icon {
				display: block;
			}
		}

 		&.hide {
			display: none !important;
		}
	}
	.downgrade-sprout {
		display: none;
	}

	.pending-cancellation-request-modal {
    	width: 470px;
    	left: 55%;
    	top: 55%;

		.modal-header {
			border: 0 none;
		}

 		.modal-body {
			margin: 0 !important;
    		border: 0 !important;
		}

		.modal-footer {
			background: none !important;
		}

		.subscription-change-sub {
			margin-top: 10px;
		}
	}

.primary_bundle_text {
	font-size: 24px;
    font-weight: bold;
    letter-spacing: -0.3px;
    line-height: 29px;
    text-align: center;
    margin-bottom: 8px;
}

.secondary_bundle_text {
	font-size: 16px;
    letter-spacing: -0.2px;
    line-height: 19px;
    text-align: center;
    margin-bottom: 12px;
}

.nudge-banner-container {
	border: 1px solid #CFD7DF;
	border-radius: 4px;
	margin-bottom: 30px;
}
.annual-savings {
	&__icon {
		width: 40px;
		height: 37.48px;
		margin: 13px 13px 13px 19px;
		vertical-align: middle;
	}
	&__text {
		font-style: normal;
		font-weight: 600;
		font-size: 14px;
		line-height: 24px;
		vertical-align: middle;
		color: #12344D;
	}
}

.fd-fd-bundle-logo {
	padding-top: 12px;
	height: 43px;
	width: 230px;
	margin-bottom: 22px;
}
.omni-features {
    &__icon {
        @include margin-right(12px);
    }
    &__wrapper {
        text-align:center;
        width: 100%;
		margin: 15px 0;

        &__header {
            display:flex;
            align-items: center;
            width: 30%;
            margin: 0 auto;
            .title {
                font-weight: bold;
            }
		}

		&__description {
			margin-top: 5px;
			.content {
				letter-spacing:1px
			}
		}
    }
    &__content {
        flex-grow: 1;
        flex-basis: 0%;

        .highlight {
          color: #40894C;
          font-weight: bold;
      }
	}

    .fsm {
        width: 60%;
        margin: 0 auto;
        position: relative;
        border: 1px solid #EBEFF3;
        margin-bottom: 30px;
		border-radius: 4px;
		box-sizing: border-box;
		box-shadow: 0 2px 4px 0 rgba(18,52,77,0.08);

        &__icon {
            border: 1px solid #CFD7DF;
            border-radius: 50%;
            @include padding(4px 3px 0 3px);
        }
        &__content {
            .title {
                font-weight: bold;
                letter-spacing: 0.5px;
                .toggle-button {
                    position: absolute;
                    @include right(20px);
                    bottom: 40px;
                }
            }
            .lead-note {
                width: 80%;
                text-transform: none;
                color: #475867;
            }
        }
    }
}

.omni-current-plan {
	display: flex;
    flex: auto;
	justify-content: space-around;

	.current-plan{
		width: auto;
	}
}

.trial-phone-credits {
    & > * {
        display: inline-block;
	}

	.credits {
		@include border-right(1px solid #DADFE3);
		@include padding-right(16px);
	}

    .add-phone-credits {
        @include margin(2px 0 8px 10px);
        font-size: 16px;
        font-weight: 500;
    }
}

.active-phone-credits {
    @include text-align(left);
    @include padding-left(30px);
    margin-top: 16px;

    .phone-credit-info {
        @include margin(0);

        .list_item {
            margin-bottom: 6px;
        }
    }
}

.carousel-inner {
	height: 215px;
}

.carousel-control {
	background-color: transparent;
	border: 0;
	color: #808080;
}
.carousel-control:hover {
	color: #000000;
}

.fc-omni-channel-experience-logo {
	height: 102px;
	padding-top: 16px;
  padding-right: 16px;
}

.omni-channel-experience-logo {
	height: 152px;
}

.nudge-banner-content-container {
	margin: 10px 60px 0;
}

.omni-channel-experience-description {
	width: 72%;
	font-size: 16px;
	padding: 8px 0 16px 8px;
}

.omni-channel-experience-title {
	width: 72%;
	font-size: 18px;
	font-weight: bold;
	padding: 28px 0 0 8px;
}

.fc-omni-channel-experience-description {
	width: 90%;
	font-size: 14px;
	padding: 8px 0 16px 8px;
}

.fc-omni-channel-experience-title {
	width: 90%;
	font-size: 18px;
	font-weight: bold;
	padding: 28px 0 0 8px;
}

.nudge-banner-table {
	border: 1px #ebeef0 solid;
	box-shadow: 0px 2px 4px rgba(235, 239, 243, 0.32);
	border-radius: 8px;
}

.omni-channel-td-data {
	padding-left: 36px;
	width: 90%;
}

.fc-omni-channel-td-data {
	padding-left: 20px;
	width: 90%;
}

.explore-omnichannel-button {
	margin-bottom: 28px;
}

.omni-channel-td-logo {
	text-align: right;
}

// --------------------------------------------------------------------------------------------
//								 	downgrade request change end
// --------------------------------------------------------------------------------------------
