// --------------------------------------------------------------------------------------------
//								 	Plans and Billing page
// --------------------------------------------------------------------------------------------

// 	Highlight for showing the number of trial days left
// --------------------------------------------------------------------------------------------
.well-trial, .well-active {
	@include padding(15px 20px);
	@include border-radius(3px);
	border: 1px solid #efefef;
	font-size: 15px;
	line-height: 1.5;
	margin-bottom: 20px;
}

.well-active {
	@include pie-clearfix;
	background: #fefef0;
	border-radius: 5px;
	@include padding(25px 20px);
	.plan-title{
		background: rgba(0, 0, 0, 0.5);
		margin: 0 auto;
		display: inline-block;
		font-size: 22px;
		font-weight: 200;
		color: #fff;
		padding: 8px 20px;
		border-radius: 20px;
	}
	.current-plan, .current-plan-info, .subscription-info-divider, .billing-info-divider{
		width: 55%;
		text-align: center;
		display: inline-block;
		vertical-align: middle;
	}

	.current-plan, .subscription-info-divider {
		width: 40%;
	}
	.current-plan-info, .billing-info-divider {
		width: 59%;
	}
	.subscription-info-divider, .billing-info-divider {
		@include text-align(left);
		vertical-align: top;
		.price{
			font-size:30px;
			font-weight:300;
			line-height: 26px;
			padding-bottom: 5px;
		}
	}
	.subscription-info-divider{
		ul{
			@include border-right(1px solid #ddd);
			@include margin-right(20px);
		}
		li {
		    padding: 4px;
		    list-style: disc;
		    @include margin-left(20px);
		}
	}
	.edit-plan{
		display: inline-block;
		padding: 05px 25px;
		border: 1px solid #ddd;
		margin: 10px 0;
		border-radius: 5px;
		@include margin-left(-20px);
	}
}
.well-trial {
	text-align: center;
}

.accounted-created{
	@include float(right);
	margin-top: -30px;
}

.label.label-lead{
	@include border-radius(2em);
	@include padding(10px 20px);
	margin-bottom:15px;
	font-size: 19.5px;
	font-weight: 300;
	display: inline-block;

}

.label-success.label-lead{
	background-color:#6FA74F;
}

// Plans comparison summary
// --------------------------------------------------------------------------------------------
.payment-info{
	.caption{
		font-size: 16px;
		font-weight: bold;
		text-transform: capitalize;
	}
	.fields{
		margin-top: 10px;
	}
	.billing-address{
		display: block;
		color: #777;
		margin: 12px 0 3px;
		font-size: 13px;
	}
}
.classic-account{
	font-size: 10px;
	padding: 1px 3px;
	background-color: #999;
	color: white;
	font-weight: bold;
	@include border-radius(4px);
	text-transform: uppercase;
	width: 43px;
	display: block;
}

.pricelist .btn{
	display: block;
	width: 80%;
	padding-left: 0;
	padding-right: 0;
	position: absolute;
	bottom: 10px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.free-plan-payment{
	color: #777;
	font-weight: bold;
}
.plan-info{
	width:35%;
	float:left;
}
.subscribed-plan-details .billing-cost{
	@include text-align(left);
}

.currency-note{
	border: 1px solid #FFDE5E;
	padding: 5px 10px;
	border-radius: 4px;
	background: #FFDE5E;
	color: #333;
	font-weight: 400;
	span{
		margin: 5px auto;
		display: block;
		margin-top: -17px;
		@include margin-left(55px);
		border-bottom-color: #FFDE5E;
		border-bottom-width: 7px;
	}
}

#billing-template{
	.billing-cost{
		margin-top: 10px;
		font-size: 13px;
		h2{ font-size: 15px; }
		dl{ margin-top: 7px; }
		dd, dt{
			display: inline-block;
		}
		dt{
			@include text-align(left);
			width: 28%;
			font-weight: bold;
		}
		.agents-split{
			border-top:1px dashed #afafaf;
			margin-top: 10px;
			padding-top: 15px;
			margin-bottom: 10px;
			#cost-per-agent{
				font-weight: bold;
				color: #666;
	 		}
		}
		.tr-total{
			input[type=submit]{
				margin: 10px;
			}
		}
	}
}

.billing-divider{
	border-top:1px dashed #afafaf;
	border-bottom:0;
}

.subscribed-plan-details{
	.billing-divider{
		display: none;
	}
}

.free-plan-options .currency-note .arrow-up{
	margin-left: 110px;
}

.billing-total-cost{
	padding-bottom: 10px;
}

input[type=text].input-agent-count{
	margin-bottom: 0;
	width:25px;
	padding-left: 3px;
}

.agent-details td{
	font-weight: 500;
	color: #666;
}

.plan-expand{
	font-weight: bold;
	font-size: 13px;
	position: relative;
	@include margin-left(12px);
	&:before {
	 content:"";
	 border:5px solid;
	 border-color: transparent transparent transparent #777;
	 height:0;
	 width:0; /* Firefox 3.0 damage limitation */
	 font-size:0px;
	 position: absolute;
	 top: 4px;
	 @include left(-12px);
  }
}

.plan-expand-click:before{
  border-color: #777 transparent transparent transparent;
}


.choose-plan-title{
	margin-top: 10px;
	padding-bottom: 4px;
}

.activate-options{ display: none;}

.dialog-alert{
	.downgrade-message{
		margin: 10px;
		font-size: 13px;
		line-height: 1.3;
	}

	.downgrade-actions{
		margin: 10px;
		@include text-align(right);
		#confirm-cancel{
			font-weight: normal;
		}
	}

	.confirm-dialog{
		min-height: 100px !important;
	}
}

.free-plan-options{
	.activate-options{
		display: block;
		@include text-align(center);
	}
	#plan_form{
		display: none;
	}
	#billing-template{
		min-height: 0;
		border: 0;
		padding: 0;
	}
	.currency-note{
		span{
			@include margin-left(65px);
		}
	}
}

.plan-section-title{
	margin-bottom: 15px;
	.lead{ margin-bottom: 0; }
}
.plan-cost{
	font-size: 24px;
	font-weight: bold;
}

.plan-confirm-message {
	font-size: 16px;
	line-height: 1.5;
	font-weight: 300;
}
.plan-confirm-message .label{
	text-transform: uppercase;
	padding: 2px 5px;
}

.plans{
	border:1px solid #efefef;
	border-width: 1px 0;
	table{ width:100%; }
	td{
		vertical-align:top;
		@include border-right(1px solid #efefef);
		padding: 10px 20px 20px;
		overflow: hidden;
		position: relative;
		&:last-child{
			@include border-right(0);
		}
	}
	.plan-details{
		.lead{ margin-bottom: 0; }
		h4{ font-weight:bold; }
		p{
			font-size:13px;
		}
		p.plan-details{
			@include min-height(190px);
			font-weight: 300;
			font-size: 15px;
			line-height: 1.8;
			margin-bottom: 25px;
		}
		.plan-brief{
			font-size: 11px;
			padding-bottom: 12px;
		}
	}
	.discount-strikethrough{
		color:#999999;
		text-decoration:line-through;
		font-size:15px;
	}
	.discount-info-text{
		color:#990000;
		@include padding(0 0 3px 0);
		font-size:13px;
	}
	.info-data{
		color:$default_txt_color;
		font-weight: 300;
	}
	.active{
		background-color:#FFFFDD;
		border-width: 1px 1px 0 0;
		border-color:mix(#000, #FFFFDD, 20%);
		top:0;
		overflow: visible;
		@include right(0);
		@include box-shadow(0 0 15px -1px #DADADA);
		&:before {
			content:"";
			position:absolute;
			display: block;
			height: 10px;
			top: -11px;
		 	@include left(-1px);
			background-color: #4D3636;
			width: 101%;
			@include border-radius(2px 2px 0 0);
		}
		.plan-button{
			display:none;
		}
		.downgrade-plan-button{
			display:none;
		}
		.btn{
			background-color: #4D3636;
			color: #fff;
			font-weight: bold;
			text-shadow: none;
		}
	}

	button{
		margin-top:6px;
	}
	.billing{
		min-height: 150px;
		td{
			border:0;
			vertical-align:middle;
			padding:4px 5px;
			input{
				width:auto !important;
			}
		}
		.tr-total td{
			border-top:1px dashed #afafaf;
			vertical-align: baseline;
			font-weight: bold;
			font-size: 13px;
			.total{
				font-size:18px;
				font-weight:bold;
				color:#669900;
				display:block;
				margin-top:4px;
			}
		}
	}
}


.billing-actions{
	margin-top: 10px;
}


.invoice-list, .invoice-download-icon{
	background-color: #f7f7f7;
	text-align: center;
	color: #7b7b7b;
	border-radius: 3px;
}

.invoice-download-icon{
  padding: 8px 8px 8px 10px;
}

.invoice-date{
	@include text-align(right);
	color: #AAAAAA;
}

.invoice-modal-config{
	color: #8E8E8E;
}

.invoice-table.table{
	@include text-align(left);
	th{
		border-top: 1px solid #535353;
		border-bottom: 1px solid #A6A6A6;
	}
}

.ft-wt{
	font-weight: 500;
}

.invoice-status{
	color:green;
}

.invoice-refund{
	color:#D75334;
}

.btn-primary{
	[class*='ficon-']{ color: #fff;}
}

.table tr:hover {
	.invoice-download-icon{
		background-color: #DDDDDD;
	}
}






// --------------------------------------------------------------------------------------------
//								 	Admin Daypass start
// --------------------------------------------------------------------------------------------

.daypass_table th{
    background-color:#FAFAFA;
    font-weight: 450;
  }

  .passes-available-container{
    background-color: #F8F8F8;
    border: 1px solid #E2E2E2;
    @include border-radius(7px);
    box-sizing: border-box;
  }

  .daypass-no-result{
  	height: 80px;
  	text-align: center;
  }

  .mt30{
  	margin-top: 30px;
  }

  .pl80{
    @include padding-left(80px);
  }
  .usage-history-filter{
  	padding-top: 6px;

  	.fd-ajaxmenu{
      @include right(14%);
  	}
  	.search_container{
      margin: -5px 0;
      @include padding(6px 6px 0px 4px);
      background: #EEE;
      overflow: hidden;
      @include border-radius(6px 6px 0 0);
  	}

  	.menu_search{
    	border-color: #aaa;
  	}

  	.contents{
	    @include text-align(left);
	    padding-top: 2px;
	    max-height: 400px;
    	overflow-y: scroll;
  	}

  	input:focus {
      border:1px solid #aaa;
    }

    .quick-action{
  		position: relative;
  	}

  	.quick-action:after {
  		@include right(0px);
  	}
  	.no_results{
  		text-align: center;
  	}

  }

  #agent_filter a{
    color: #000;
    @include padding-right(10px);
  }

  #days-filter-display {
    color: #000;
  }

  #filterDaysMenu{
  	display:none;
  	@include margin-left(45%);
  	@include text-align(left);
  }

  .usage-history-filter a .drop-right:after{
  	@include margin(5px 0 0 5px);
  }

  .daypass_container{
  	border-bottom: none;
  }

  .table{
  	margin-bottom: 0px;
  }

  .usage_history_wrap{
  	position: relative;
  }

// --------------------------------------------------------------------------------------------
//								 	Admin -> Daypass end
// --------------------------------------------------------------------------------------------

// --------------------------------------------------------------------------------------------
//					Admin Subscription Revamp start
// --------------------------------------------------------------------------------------------

.well-active-new{
	background: #F8F8F8;
	.sprout-new-active{
		@include margin(5px 0 0 5px);
		&:hover{
			cursor: pointer;
		}
	}
	.payment-info{
		display: inline-block;
		vertical-align: middle;
		.caption{
			display: inline-block;
			@include margin-right(10px);
		}
	}
	.edit-plan{
		background-color: #fff;
		@include margin(10px 0 0 -20px);
	}
	.subscription-info-divider{
		ul{
			@include padding-right(20px);
		}
		width: auto;
		@include float(left);
		max-width: 40%;
	}
	.free-divider{
		ul{
			@include border-right(none);
		}
		max-width: 60%;
	}
	.free-divider--sanscard{
		max-width: 100%;
	}
	.current-plan{
		width: 20%;
	}
	.current-plan-info{
		width: 50%;
	}
	.billing-info-divider {
		width: auto;
		max-width: 40%;
		@include float(left);
	}
	.plan-title.classic{
		@include margin-right(20px);
	}
	#billing-template{
		.billing-cost{
			margin: 10px;
		}
	}
	.payment-info-new{
		max-width: 26%;
		margin: -25px 0;
		padding: 25px 0;
		@include border-left(1px solid #ddd);
		@include padding-left(25px);
		@include word-hyphernate;
	}
}
.plan-confirm-message-new{
	font-size: 14px;
	font-weight: 400;
}
.plan-confirm-message-info{
	margin-bottom: 10px;
	border: 1px solid #EBEBEB;
	.downgrade-message-info{
		background-color:#EBEBEB;
		padding: 10px 15px;
	}
	.downgrade-feature-list{
		padding: 10px 15px;
		background-color: #F7F7F7;
		.downgrade-warning{
			color:#b94a48;
			padding: 10px 0;
		}
		.upgrade-warning{
			color: #008000;
		}
		.lost-feature, .new-feature{
			width:46%;
			display: inline-block;
			position: relative;
			vertical-align: top;
			@include padding(3px 0 3px 16px);
			&:before{
				position: absolute;
				@include left(0);
			}
		}
		.lost-feature:before{
			color:#b94a48;
			top: 7px;
		}
		.new-feature:before{
			color:#008000;
			top: 6px;
		}
	}
}
// --------------------------------------------------------------------------------------------
//					Admin Subscription Revamp end
// --------------------------------------------------------------------------------------------
