
.customer-portal{
	.portal-section{
		.moderation-info{
			@include border-left(1px solid #ddd);
			@include padding-left(20px);
		}
		margin-bottom: 40px;
		.heading{
			font-size: 18px;
			font-weight: 200;
			border-top: 1px solid #CCC;
			padding: 5px 0 30px;
		}
		.border-none{
			border: none;
		}
		.sub-section{
			padding-bottom: 15px;
			border-bottom: 1px solid #F1F1F1;
		}
		label{
			display: inline;
			@include margin-left(5px);
			@include margin-right(20px);
		}
		@if $rtl{
			label{
				unicode-bidi: -moz-isolate; unicode-bidi: -webkit-isolate; unicode-bidi: isolate;
			}
		}
		.control-label{
			padding-top: 0;
			width: 320px;
		}
		.mt-20 {
			margin-top: 20px;
		}
		.controls{
			@include margin-left(320px);
			@include padding-left(10px);
		}
		.forum_captcha{
			@include margin(10px 0 0 0);
			min-height: 0px;
		}
		.captcha{
			@include margin(10px 0 0 136px);
			min-height: 0px;

			#captcha {
				margin-top: 3px;
			}
		}
		.checkbox label{ @include margin-left(0); }
		.multiple-check{
			input[type="checkbox"]{
				margin-top: -2px;
			}
			label{
				display: inline-block;
			}
		}
	}
	.form-button{
		@include text-align(right);
		margin-top: 30px;
		padding-top: 15px;
		border-top: 1px solid #CCC;
	}
}

.multiple_radio {
	input[type="radio"], input[type="checkbox"]{
			margin-top: -2px;
	}
	.ficon-help{
   	font-size: 16px;
    margin-top: -6px;
    color: #06c;
    &:hover{ color: #004080;}
	}
	&.moderation{
		span{
			display: block;
		}
		label{
			font-weight: 500;
		}
	}
}
.right-border #moderation{
	@include border-right(1px solid #F1F1F1);
}
.portal_section_help {
	color:#78848e;
	padding-top: 15px;
	font-size: 15px;
}
