//------------------------------------------------------------------------------------------
                // Custom Mailbox start
//------------------------------------------------------------------------------------------
.mailbox-username,.mailbox-password{
  display:inline-block;
  margin-top: -3px;
}

.smtp_limit_alert{
  border: 1px solid #CCC;
  border-radius: 5px;
  padding: 7px;
  background: #FEFDEE;
  @include margin(-13px 0px 17px 0px);
}

.imap_limit_alert{
  @extend .smtp_limit_alert;
  @include margin(4px 0px 17px 0px);
}

.ficon-notice-o {
	color: #e84444;
}
//------------------------------------------------------------------------------------------
                // Custom Mailbox end
//------------------------------------------------------------------------------------------