//------------------------------------------------------------------------------------------
                // Custom Mailbox start
//------------------------------------------------------------------------------------------
.mailbox-username,.mailbox-password{
  display:inline-block;
  margin-top: -3px;
}

.smtp_limit_alert{
  border: 1px solid #CCC;
  border-radius: 5px;
  padding: 7px;
  background: #FEFDEE;
  margin: -13px 0px 17px 0px;
}
//------------------------------------------------------------------------------------------
                // Custom Mailbox end
//------------------------------------------------------------------------------------------