
/* Admin Home Page Styles */
$Account_color:#a1a1a1;
$Account_hover_color:#838383;

$RelatedMatch_color: #009C96;
$ExactMatch_color: #006063;

.admin {
	@include padding(0 0 5px 0);
	&.blur {
		@include opacity (.2);
	}
	.admin_icons li a{
		.ficon-supervisor, .ficon-dispatcher, .ficon-scenario, .ficon-observer{
			font-size:52px;
			padding:4px;
		}
	}
	h3{
		&.title{
			margin-bottom:16px;
			font-size: 20px;
			font-weight: 200;
			color:#666;
			padding:0;
		}
		span{
			display:inline-block;
			padding-top:2px;
		}
	}
	ul{
		@include margin-left(-32px);
	}
	.admin_icons{	
			@extend .icon;
	}

	&.support-channels, &.general-settings, &.helpdesk-productivity, &.account-settings{
		@extend .section-header;
	}
	&.support-channels{
	    @extend .category1;
	}
	&.general-settings{
		@extend .category2;
	}
	&.helpdesk-productivity{
		@extend .category3;
	}
	&.account-settings{
		ul.admin_icons{
			li a{ 
				i{
					background-color: $Account_color;
				}
				&:hover{
					color:$Account_hover_color;
					.img-outer{
						background-color: $Account_hover_color;
					}
					i{
						background-color: $Account_hover_color;
						@include animation(Account_beat $animation_timing);
						@include box-shadow($hover_boxshadow_final $Account_hover_color);
					}
				}
			}
		}
		h3.title{
			border-color: $Account_color;
			span{
				border-color:$Account_color;
			}
		}
	}
	&.support-channels, &.general-settings, &.helpdesk-productivity, &.account-settings {
		ul.admin_icons li {
			&.related-match {
				opacity : 1;
				a .img-outer {
					background-color: $RelatedMatch_color;
				}
				i{
					background-color: $RelatedMatch_color;
					@include animation(RelatedMatch_beat $animation_timing);
					@include box-shadow( $hover_boxshadow_final $RelatedMatch_color);
				}
			}
			&.exact-match {
				opacity : 1;
				a .img-outer {
					background-color: $ExactMatch_color;	
				}
				i{
					background-color: $ExactMatch_color;
					@include animation(ExactMatch_beat $animation_timing);
					@include box-shadow( $hover_boxshadow_final $ExactMatch_color);
				}
			}
		}
	}
}
.admin.support-channels .fsize-36.ficon-livechat {
	position: relative;
	&:before {
		position: absolute;
		top: 14px;
		right: 0;
		left: 0;
	}
}
input[type=text].as-input {
	width:250px;
	position: absolute;
	z-index: 3;
	@include right($common-padding);
	background: transparent;
	padding: 5px;
	&::-ms-clear {
		display: none;
	}
}
input[type=text].as-hint {
	@extend .as-input;
	z-index: 2;
	color: #ccc;
	&::-ms-clear {
		display: none;
	}
}
.as-clear {
	display: none;
	padding: 8px 5px 10px;
	font-size: 20px;
	font-weight: 200;
	line-height: 10px;
	color: #666;
	position: relative;
	z-index: 3;
	&:hover {
		color: #666;
	}
}
.as-suggestions-container {
	position: absolute;
	top: 47px;
	@include right(282px);
}
// .as-more {
// 	-webkit-animation-duration: 1s;
//   	animation-duration: 1s;
//   	-webkit-animation-fill-mode: both;
//   	animation-fill-mode: both;
//   	-webkit-animation-name: bounceInUp;
//   	animation-name: bounceInUp;

// 	padding:10px 20px;
// 	background-color: #252525;
// 	color: $white;
// 	font-weight: 600;
// 	display: none;
// 	position: fixed;
// 	&:after {
// 		content: '';
// 		width: 0; 
// 		height: 0; 
// 		border-left: 5px solid transparent;
// 		border-right: 5px solid transparent;
// 		border-top: 7px solid $white;
// 		position: relative;
// 		top: 13px;
// 		left: 5px;
// 	}
// 	&:hover {
// 		color: $white;
// 	}
// 	&.hide {
// 		-webkit-animation-duration: 1s;
// 		animation-duration: 1s;
// 		-webkit-animation-fill-mode: both;
// 		animation-fill-mode: both;
// 		-webkit-animation-name: bounceOutDown;
// 		animation-name: bounceOutDown;
// 	}
// }
.is_stuck.admin-header {
	background-color: #fff;
	padding: $common-padding $common-padding 0;
	@include margin-left(-($common-padding));
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
}

/* Account Animation */
@include keyframes(Account_beat) {
	from {
		@include box-shadow($hover_boxshadow_start $Account_hover_color);
	}
	50% {
		@include box-shadow($hover_boxshadow_middle $Account_hover_color);
	}
	to {
		@include box-shadow($hover_boxshadow_final $Account_hover_color);
	}
}
/* Exact Match Animation */
@include keyframes(ExactMatch_beat) {
	from {
		@include box-shadow($hover_boxshadow_start $ExactMatch_color);
	}
	50% {
		@include box-shadow($hover_boxshadow_middle $ExactMatch_color);
	}
	to {
		@include box-shadow($hover_boxshadow_final $ExactMatch_color);
	}
}
/* Related Match Animation */
@include keyframes(RelatedMatch_beat) {
	from {
		@include box-shadow($hover_boxshadow_start $RelatedMatch_color);
	}
	50% {
		@include box-shadow($hover_boxshadow_middle $RelatedMatch_color);
	}
	to {
		@include box-shadow($hover_boxshadow_final $RelatedMatch_color);
	}
}
// @-webkit-keyframes bounceInUp {
//   0% {
//     opacity: 0;
//     -webkit-transform: translateY(2000px);
//     transform: translateY(2000px);
//   }

//   60% {
//     opacity: 1;
//     -webkit-transform: translateY(-10px);
//     transform: translateY(-10px);
//   }

//   80% {
//     -webkit-transform: translateY(5px);
//     transform: translateY(5px);
//   }

//   100% {
//     -webkit-transform: translateY(0);
//     transform: translateY(0);
//   }
// }
// @-webkit-keyframes bounceOutDown {
//   0% {
//     -webkit-transform: translateY(0);
//     transform: translateY(0);
//   }

//   20% {
//     opacity: 1;
//     -webkit-transform: translateY(5px);
//     transform: translateY(5px);
//   }

//   40% {
//     opacity: 1;
//     -webkit-transform: translateY(-10px);
//     transform: translateY(-10px);
//   }

//   100% {
//     opacity: 0;
//     -webkit-transform: translateY(2000px);
//     transform: translateY(2000px);
//   }
// }

/* support chat with us button style */
.btn.btn-support-chat {
	position: absolute;
    right: 292px;
    height: 28px;
    font-size: 12px;
    font-weight: 500;
    line-height: 28px;
    padding: 0 10px;
    color : #06c;
    background-color: #fff !important;
    background-image: none;
    box-shadow: none;
    border : 1px solid #ccc;
    .ficon {
    	position: relative;
    	top: 1px;
    	display: inline-block;
    	font-size: 15px;
    	line-height: 1;
    	margin: -3px 5px 0 0;
    	color: #000;
    }
    &:focus,
    &:active {
    	outline: 0;
    }
    &:active {
    	box-shadow: none;
    }
    &:hover {
    	color: #004080;
    }
}

#lc_chat_layout.lc-support-widget {
	right: 15px;
	left: inherit;
	z-index: 90000;
}

.chat-support-link {
	cursor: pointer;
	color: #06c;
	&:hover {
		color: #004080;
	}
}

.admin-upgrade-banner {
  background-color: #fff;
  position: relative;
  margin-bottom: 30px;
  padding: 25px;
  border-radius: 3px;
  box-shadow: 0 1px 2px 0 #dbdfe3;
  border: solid 1px #d3dbda;


  .admin-mint-upgrade {
  	margin-top: 20px;
  }

  .admin-mint-title {
    font-size: 18px;
  	font-weight: 600;
  }
}

.freshchat-edit {

	.mint-bg-box,
	.chat-content-card {
	  display: block;
	  min-height: 60px;
	  border: 1px #ebeef0 solid;
	  padding: 22px 20px 8px 20px;
	  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.02);
	  margin: 20px 0 30px 0;
	  border-radius: 4px;
	}

	.chat-content-card {
		min-height: 36px;
	}
	.mint-bg-box {
	  background-image: url("/images/mint-brand-bg.svg");
	  background-size: 70%;
	  background-repeat: no-repeat;
	  background-position: 100% 100%;
	  padding: 30px 20px;

	  h5.lead {
	  	font-weight: normal;
	  }

	  .signup-chat {
	    margin-left: 0;
	  }
	}

	.omni-bundle {
		width: 100%;

		.display-flex {
			display: flex;
			align-items: center;
			justify-content: space-between;
		}

		.chat-content-card {
			padding: 16px 20px;

			.secondary-title {
				font-size: 14px;
				font-weight: 600;
				color: #12344D;
			}

			.secondary-help-text {
				padding: 4px 0 0;
				margin: 0;
			}
		}

		.explore-link:hover {
			box-shadow: 0 2px 4px 0 rgba(0,0,0,.12);

			.secondary-title {
				color: #2c5cc5;
			}
		}

		.error_state {
			max-width: 440px;
			margin: 50px auto;
			text-align: center;

			&__title {
				margin: 8px;
				color: #12344D;
				font-size: 18px;
				font-weight: 600;
			}

			&__description {
				color: #475867;
				font-size: 12px;
			}
		}
	}
}


/* Admin Home Page css end */