
/* Admin Home Page Styles */
$Account_color:#a1a1a1;
$Account_hover_color:#838383;

$RelatedMatch_color: #009C96;
$ExactMatch_color: #006063;

.admin {
	@include padding(0 0 5px 0);
	&.blur {
		@include opacity (.2);
	}
	.admin_icons li a{
		.ficon-supervisor, .ficon-dispatcher, .ficon-scenario, .ficon-observer{
			font-size:52px;
			padding:4px;
		}
	}
	h3{
		&.title{
			margin-bottom:16px;
			font-size: 20px;
			font-weight: 200;
			color:#666;
			padding:0;
		}
		span{
			display:inline-block;
			padding-top:2px;
		}
	}
	ul{
		@include margin-left(-32px);
	}
	.admin_icons{	
			@extend .icon;
	}

	&.support-channels, &.general-settings, &.helpdesk-productivity, &.account-settings{
		@extend .section-header;
	}
	&.support-channels{
	    @extend .category1;
	}
	&.general-settings{
		@extend .category2;
	}
	&.helpdesk-productivity{
		@extend .category3;
	}
	&.account-settings{
		ul.admin_icons{
			li a{ 
				i{
					background-color: $Account_color;
				}
				&:hover{
					color:$Account_hover_color;
					.img-outer{
						background-color: $Account_hover_color;
					}
					i{
						background-color: $Account_hover_color;
						@include animation(Account_beat $animation_timing);
						@include box-shadow($hover_boxshadow_final $Account_hover_color);
					}
				}
			}
		}
		h3.title{
			border-color: $Account_color;
			span{
				border-color:$Account_color;
			}
		}
	}
	&.support-channels, &.general-settings, &.helpdesk-productivity, &.account-settings {
		ul.admin_icons li {
			&.related-match {
				opacity : 1;
				a .img-outer {
					background-color: $RelatedMatch_color;
				}
				i{
					background-color: $RelatedMatch_color;
					@include animation(RelatedMatch_beat $animation_timing);
					@include box-shadow( $hover_boxshadow_final $RelatedMatch_color);
				}
			}
			&.exact-match {
				opacity : 1;
				a .img-outer {
					background-color: $ExactMatch_color;	
				}
				i{
					background-color: $ExactMatch_color;
					@include animation(ExactMatch_beat $animation_timing);
					@include box-shadow( $hover_boxshadow_final $ExactMatch_color);
				}
			}
		}
	}
}

input[type=text].as-input {
	width:250px;
	position: absolute;
	z-index: 3;
	@include right($common-padding);
	background: transparent;
	padding: 5px;
	&::-ms-clear {
		display: none;
	}
}
input[type=text].as-hint {
	@extend .as-input;
	z-index: 2;
	color: #ccc;
	&::-ms-clear {
		display: none;
	}
}
.as-clear {
	display: none;
	padding: 8px 5px 10px;
	font-size: 20px;
	font-weight: 200;
	line-height: 10px;
	color: #666;
	position: relative;
	z-index: 3;
	&:hover {
		color: #666;
	}
}
.as-suggestions-container {
	position: absolute;
	top: 47px;
	@include right(282px);
}
// .as-more {
// 	-webkit-animation-duration: 1s;
//   	animation-duration: 1s;
//   	-webkit-animation-fill-mode: both;
//   	animation-fill-mode: both;
//   	-webkit-animation-name: bounceInUp;
//   	animation-name: bounceInUp;

// 	padding:10px 20px;
// 	background-color: #252525;
// 	color: $white;
// 	font-weight: 600;
// 	display: none;
// 	position: fixed;
// 	&:after {
// 		content: '';
// 		width: 0; 
// 		height: 0; 
// 		border-left: 5px solid transparent;
// 		border-right: 5px solid transparent;
// 		border-top: 7px solid $white;
// 		position: relative;
// 		top: 13px;
// 		left: 5px;
// 	}
// 	&:hover {
// 		color: $white;
// 	}
// 	&.hide {
// 		-webkit-animation-duration: 1s;
// 		animation-duration: 1s;
// 		-webkit-animation-fill-mode: both;
// 		animation-fill-mode: both;
// 		-webkit-animation-name: bounceOutDown;
// 		animation-name: bounceOutDown;
// 	}
// }
.is_stuck.admin-header {
	background-color: #fff;
	padding: $common-padding $common-padding 0;
	@include margin-left(-($common-padding));
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
}

/* Account Animation */
@include keyframes(Account_beat) {
	from {
		@include box-shadow($hover_boxshadow_start $Account_hover_color);
	}
	50% {
		@include box-shadow($hover_boxshadow_middle $Account_hover_color);
	}
	to {
		@include box-shadow($hover_boxshadow_final $Account_hover_color);
	}
}
/* Exact Match Animation */
@include keyframes(ExactMatch_beat) {
	from {
		@include box-shadow($hover_boxshadow_start $ExactMatch_color);
	}
	50% {
		@include box-shadow($hover_boxshadow_middle $ExactMatch_color);
	}
	to {
		@include box-shadow($hover_boxshadow_final $ExactMatch_color);
	}
}
/* Related Match Animation */
@include keyframes(RelatedMatch_beat) {
	from {
		@include box-shadow($hover_boxshadow_start $RelatedMatch_color);
	}
	50% {
		@include box-shadow($hover_boxshadow_middle $RelatedMatch_color);
	}
	to {
		@include box-shadow($hover_boxshadow_final $RelatedMatch_color);
	}
}
// @-webkit-keyframes bounceInUp {
//   0% {
//     opacity: 0;
//     -webkit-transform: translateY(2000px);
//     transform: translateY(2000px);
//   }

//   60% {
//     opacity: 1;
//     -webkit-transform: translateY(-10px);
//     transform: translateY(-10px);
//   }

//   80% {
//     -webkit-transform: translateY(5px);
//     transform: translateY(5px);
//   }

//   100% {
//     -webkit-transform: translateY(0);
//     transform: translateY(0);
//   }
// }
// @-webkit-keyframes bounceOutDown {
//   0% {
//     -webkit-transform: translateY(0);
//     transform: translateY(0);
//   }

//   20% {
//     opacity: 1;
//     -webkit-transform: translateY(5px);
//     transform: translateY(5px);
//   }

//   40% {
//     opacity: 1;
//     -webkit-transform: translateY(-10px);
//     transform: translateY(-10px);
//   }

//   100% {
//     opacity: 0;
//     -webkit-transform: translateY(2000px);
//     transform: translateY(2000px);
//   }
// }

/* Admin Home Page css end */