.mobiapp-form{
  margin-top : 20px;
	.app-image{
		@include float(right);
		width: 70px;
		height: 70px;
		border: 1px solid #B4B4B4;
		@include margin-right(20px);
		border-radius: 5px;
		.app-icon{
			margin: auto;
			margin-top: 12px;
		}
	}
	.seperator{
		border: 0;
		margin-bottom: 20px;
	}
	.toggle-button{
		@include margin-left(20px);
	}
	.codetextarea{
		@include margin-left(-20px);
	}
  .info-data {
    @include margin-left(0px !important);
  }
}

.sdk-content{
	margin-top: 20px;
	.sdk-downloads{
		margin-bottom: 30px;
		.text-info{
			@include border-left(1px solid #CACACA);
			@include padding-left(10px);
			@include margin-left(10px);
			min-height: 40px;
		}
		p{
			margin-bottom: 8px;
		}
		.upcoming{
			color: #959595;
			font-weight: 600;
			font-size: 15px;
			padding: 6px 0px;
		}
	}
}

.product-list{
	td{
		p{
			margin: 0;
			@include margin-left(5px);
			font-weight: 500;
		}
	}
	.preview-image{
		display: inline-block;
		vertical-align: middle;
		border: 1px solid #CCC;
		border-radius: 3px;
		width: 20px;
		height: 20px;
	}
}
.with-list{
  .hotline-info-list{
    display: none;
  }
}
.mobihelp-apps{ 
  background-color: #f8f8f8;
  border: 1px #ececec solid;
  border-radius: 6px;
  p{ color: $gray; line-height: 1.6em}
  .get-started{
    font-weight: 600;
  }
  .hotline-note{
    margin-top: 190px;
  }
  .toggle-info{
    position: relative;
    .hotline_demo-wrap{
      position: absolute;
      right: -70%;
      top: -100px;
    }
  }
  .phone-frame{
    background-image: image-url("/assets/helpimages/iphone-frame.png");
    @include size(510px, 252px);
    position: relative;
    background-repeat: no-repeat;
  }
  .hotline_demo{
    background-image: image-url("/assets/helpimages/DriveU.gif");
    background-repeat: no-repeat;
    @include size(385px, 216px);
    position: absolute;
    top: 62px;
    left: 17px;
  }
  .more-details-link{
    cursor: pointer;
  }

  .hotline-info-list{
    margin: 40px 0px;
    li{
      padding: 4px 0px;
      color: $gray;
    }
  }
	.index-app-container{
		margin-top: 60px;
		.index-app-span{
			@include border-right(1px solid #D2D2D2);
			text-align: center;
			min-height: 160px;
			&:nth-child(3){
				border:0;
			}
			.app-icon{
				margin: auto;
				margin-top: 15px;
				margin-bottom: 15px;
			}
			.app-def{
				text-align: center;
				padding: 0px 10px 0px 10px;
				line-height: 1.5;
				cursor: pointer;
			}
			h4{
				margin-bottom: 10px;
			}
			.app-image{
		    	display: inline-block;
				vertical-align: middle;
				@include margin-right(5px);
				margin-top: -3px;
			}
		}
	}
}
