.product-page{
	[class^="product-"], [class*="product-"]{
		display: inline-block;
		width: 15px;
		height: 16px;
		line-height: 14px;
		vertical-align: text-top;
		margin-top: -2px;
	}
	.product-email-logo
	{
		margin-top: 1px;
		width: auto;
		height: auto;
		font-size: 15px;
		color: #999;
	}
	.product-email{
		vertical-align: top;
	}
	.channel-text{
		display: inline-block;
		width:300px;
		div{
			width: 90%;
		}
	}
	.un-verified-product{
		text-decoration: line-through;
	}
	.block-display{
		display: inline-block;
		width:250px;
	}
	.list-page-body .table{
		table-layout:fixed;
		tr td{
			width:30.3%;
			&:first-child{
				width:9%;
			}
			.ficon-earth{
				color:$linkColor;
			}
			.portal-logo-wrap{
				height:50px;
				width:50px;
				overflow: hidden;
				border: 1px solid #aaa;
				@include border-radius(5px);
				vertical-align: middle;
			}
		}
		h4 { font-weight: bold; }
	}
}

.portal-page-form{
	.plus{
    	@include border-radius(100%);
	    background: green;
	    @include text-align(center);
	    color: #fff;
	    margin: 0;
	    font-weight: bold;
	    width: 18px;
	    height: 19px;
	    display: inline-block;
	}
	.product-radio{
		vertical-align: top;	
	}

	.multi-product-add.ui-form .add-email{
		.plus{
			cursor: pointer;
		}
		@include margin-left(190px);
		font-weight: bold;
		a{
			@include padding-left(5px);
			cursor: pointer;
		}
	}
	.multi-product-add.ui-form .configure-email-form {
		margin-bottom: 0;
		background-color: white;
	}
	.portal-favicon, .portal-logo{
		@include float(none);
	}
	.portal-favicon{
		height:16px;
	}
	.overlabel{
		@include margin-left(5px);
	}
	.rebranding-header{
		@include margin-left(-$common-padding);	
	}
	.control-group{
		.configure-email-form{
			width:73%;
			padding: 0;
			border:0;
		}
	}
	.multi-product-add {
		background-color: white;
		border:0;
		width:100%;
	}
	.product-email-configuration{
		margin-bottom: 0;
		@include border-right(0);
		.un-verified-product{
			text-decoration: line-through;
		} 
		.unverified_info{
			margin-top: 5px;
			margin-bottom: 7px;
		}
		.support_emails_row{
			margin-top: 5px;
		}
		.set_primary{
			input{
				margin-top: -3px;
			}
		}
		.deleteChoiceProduct{
			position: absolute;
			width: 30px;
			background: #f2f2f2;
		 	@include left(0);
			top: 0;
			height: 98%;
			margin-top: 1px;
			div{
				@include border-radius(100%);
			    background: #e67c7c;
			    @include text-align(center);
			    color: #fff;
			    margin: 6px;
			    font-weight: bold;
			    width: 17px;
			    height:17px;
			    font-size: 12px;
				letter-spacing: -2px;
				margin-top: 10px;
			}
			p{
				font-size: 20px;
				font-weight: bold;
			}
		}
		.disabled{
			div{
				background: #ccc;
			}
		}
		
		.template-container{
			width: 98%;
			height:100%;
			border: 1px solid #ccc;
			@include border-right(0);
			@include border-left(0);
			@include padding(5px 0 5px 50px);
			padding-bottom: 5px;
		}	
		div.text{
			width: 300px;
		}	
		label.product-radio-label{
			display: inline-block;
			width:75%;
		}
	}
}
