<% installedApp = get_app_details("jira") %>
<% jira_integrated_resource = Integrations::IntegratedResource.find_by_installed_application_id_and_local_integratable_id(installedApp, @ticket.id) %>
<textarea id="widget-jira" style="display:none">
  <div class="content"><div class="negtive-margin">
    <h3 class="title"><%= h(installedApp[0].configs_title)%></h3>
    <%
    @liquid_objects = {"requester" => @ticket.requester, "ticket" => @ticket, "agent" => @agent, "integrated_resource" => jira_integrated_resource} %>
    <% widget_code = get_app_widget_script("jira", "jira_widget", @liquid_objects) 
    widget_code = widget_code.gsub("}}", " | encode_html}}")
    %>
    <%= Liquid::Template.parse(widget_code).render({"ticket" => @ticket}, :filters => [Integrations::FDTextFilter]) %>
    <div class="loading-box" id="jira_issue_loading"></div>
  </div></div>
</textarea>
<span id="jira_issue_icon" class="custom-tip-bottom" title="<%=t('ticket.integrations.jira.tooltip')%>">
	<%= link_to image_tag("/images/spacer.gif"), "#", :class=> (jira_integrated_resource.nil?) ? 'jira' : 'jira_active',  "data-placement" => "below", :rel => "widget-popover", "data-widget-container" => "widget-jira" %>
</span>  