<div class="sidepanel wordwrap">
	<h3 class="title"><%=t('admin.products.helpnote.heading1')%></h3>
	<p><%=t('admin.products.helpnote.content1')%></p>
	<h3 class="title"><%=t('admin.products.helpnote.heading2')%></h3>
	<p><%=t('admin.products.helpnote.content2')%></p>
</div>