<% content_for :sidebar do -%>
  <div class="sidepanel">
    <h3 class="title">Multiple Products</h3>
    <p>
      Multiple products helps you to provide product or brand specific support.
    </p>
    <h4 class="title"><strong>Add twitter</strong></h4>
    <p>
      Enable your products twitter channel for the products.
    </p>
  </div>
<%-end %>
<% @page_title = t('.title') %>
<div class="floatr">
	<%= link_to(t('.add_product'), new_admin_product_path, :class => "uiButton") %>
</div>
<%= content_tag :h3, @page_title, :class => "title" %>
<div>	
	<ul class="admin_list">
	  <%= each_or_message("product", @products, t("no_message.products")) %>
	</ul>
</div>