Hi <%=@user%>,
<br/>
<br/>
The agents export you had requested is complete. You can download the file from <a href=<%= @url %>>here</a>. If the link does not work, copy and paste the URL below in your browser's address bar:
<br/>
<br/>
<%=  @url %>
<br/>
<br/>
Regards,
<br/>
Freshdesk Customer Support