<div id="cti_end_call" class="hide integration-end-call">
	<%= render :partial => 'layouts/shared/cti/cti_end_call' %>
</div>
<div id="toolbar" class="hide" style="background:darkgray;">
	<%= render :partial => 'layouts/shared/cti/'+ @cti_app_name +'_toolbar' %>
</div>

<span class="triangle"></span>