<ul class="popupbox-tabs outgoing">
	<li>
		<a href="#toolbar" class="recentCalls tooltip" data-toggle="popupbox"
			 data-offset=12 id="cust_det" title=<%=@cti_app_name%>>
			<i class='ficon-ff-phone fsize-16'></i>
		</a>
	</li>
</ul>