<script src="http://code.jquery.com/jquery-1.11.0.min.js" type="text/javascript"></script>
<script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js" type="text/javascript"></script>
<script type="text/javascript">var myJQuery = jQuery.noConflict( true );</script>

<%= render :partial => 'layouts/shared/cti/toolbar' %>
<div class="no-call-msg">
No call in progress
</div>
	<script>
		jQuery(document).ready(function() {
		initialize();
	});
	</script>