<div class="cti hide">
	<div class="cti-header" id="user_details">
			<div>
				<a id="profile_pic" class="profile-pic"></a>
				<div class="cti-cust-details">
					<h3 id = "cust_name" class="cti-name"></h3>
				  <label id = "cust_mobile" class="cti-mobile-number"></label>
			  </div>
			</div>
			<div id = "cust_company" class="cti-comp-name"></div>
	</div>
	<ul id="tickets_table" class="cti-ticket-list">
	</ul>
</div>