<div class="cti hide">
	<div class="cti-header" id="user_details">
		<a id="profile_pic" class="profile-pic"></a>
		<h3 id = "cust_name" class="cti-name"></h3>
		<label id = "cust_mobile" class="cti-mobile-number"></label>
		<label id = "cust_company" class="cti-comp-name"></label>
	</div>
	<ul id="tickets_table" class="cti-ticket-list">
	</ul>
</div>