<% time_sheet.each do |group_title, time_entrys| %>
  
	<tr>
		<td colspan="4"><%= group_title %></td> 
		<td class="hours"><strong class="group_time"><%= get_total_time(time_entrys) %></strong></td>
	</tr>	
	<% time_entrys.each do |time_entry| %>
	
	<tr>
		<%@headers.each do |item|%> 
		     <% content = item.eql?(:group_by_day_criteria) ?  formated_date(time_entry.executed_at, "%A, %e %b %Y")  : time_entry.send(item) %>
			    <%= content_tag :td, h(content), :class => item %>
		
			
		<%end%>
	</tr>
	<% end %>	
<% end %>
