<div class="grid report">	
		<table width="100%">
			<tr>
			  <% @headers.each do |header|
				 	concat content_tag :th, h(Helpdesk::TimeSheet::REPORT_LIST_VIEW[header]), :class => header
				 end %>
			</tr>
	 
     <%= render :partial => "time_sheet", :object => @time_sheets %>	
     <tr>
       <th colspan="4">Total</th>
       <th class="hours"><div id="totaltime"></div></th>
     </tr>
   </table>
   <% javascript_tag do%>
   	 total_hours = $$("strong.group_time")
	 					.collect(function(t){ return t.innerHTML })
						.inject(0, function(acc, n){ return parseFloat(acc) + parseFloat(n); });
	 $("totaltime").innerHTML = sprintf( "%0.02f", total_hours);
	 
   <% end %>	
</div>
