			<li>
				<div> <%=h(time_sheet.user.name)%></div>
				<div> <%=get_time_in_hours(time_sheet.time_spent)%></div>
				<div><%=h(time_sheet.note)%></div>	
				<div><%=h(time_sheet.ticket_display)%></div>							
			</li>	