<div class="grid report">	
		<table width="100%">
			<tr>
				<th>Agent</th>
				<th>Hours</th>
				<th>Note</th>
				<th>Ticket</th>
			</tr>
     <%= render :partial => "time_sheet", :collection => @time_sheets %>	
	      <tr>
	      	<th>Total</th>
			<th><%=get_total_time(@time_sheets)%></th>
	      </tr>
</table>	
</div>
