<div class="innerbox text-vertical">
  <div class="call-ringing text-vertical-inner">
    <p><%=t('freshfone.admin.numbers.caller_id.wait')%></p>
    <p class="calling-number"></p>
    <div class="call_loading mt20"></div>
  </div>  
</div>