<div class="outgoing-caller-title" >
  <%=t('freshfone.admin.numbers.caller_id.manage_caller_id')%>
  <span class="caller_count">(<%= outgoing_callers.count %>)</span>
  <span><%=t('freshfone.admin.numbers.caller_id.add_another')%></span>
</div>