<div class="innerbox">
  <div class="validation-message">
    <p class="number-validated m5"><a class="ficon-checkmark-round-o active mr5"></a><%=t('freshfone.admin.numbers.caller_id.number_added')%></p>
  </div>
  <div class="nummber-added">
    <a id="back-to-caller-ids" href="#"><%=t('freshfone.admin.numbers.caller_id.ok')%></a>
  </div>
</div>