<div class="innerbox text-vertical">
  <div class="validate-caller-id text-vertical-inner">
    <p><%=t('freshfone.admin.numbers.caller_id.enter_code')%></p>
    <p class="validation-code"></p>
  </div>
</div>