<div class="verify-number-container">
  <div class="verify-number-box">
    <div class="verification-details p10">
      <p><%=t('freshfone.admin.numbers.caller_id.enter_number')%></p>
      <input type="text" id="caller-number" class="outgoing-number"
              placeholder="Phone Number" autofocus>
      <div class ="error-message hide"></div>
    </div>        
    <div class="verify-number">
      <a id="verify-outgoing-number" href="#"><%=t('freshfone.admin.numbers.caller_id.verify_number')%></a> 
    </div>        
  </div>
</div>