<%= stylesheet_link_tag_with_rtl :'cdn/hootsuite' %>
<div class="hs-stream">
	<div class="hootsuite-error">
		<p><%= t("integrations.hootsuite.agent_error")%></p>
		<%= link_to t("integrations.hootsuite.header.try_again"), params.merge(:controller => "home", :action => "log_out") %>
	</div>
	
</div>