@import "../lib/settings";
@import "variables";
.playing {
	.sm2-360ui .sm2-timing,
	.sm2-360ui .sm2-360btn:hover + .sm2-timing,
	.sm2-360ui.sm2_paused .sm2-timing {
		position: relative;
		left: 37px;
		font-size: 13px;
		color: #666;
		top: -4px;
		visibility: visible;
	}
}
.fresfone-call-history {
//	change css
	.table-striped{
		table-layout:fixed;
		tr:nth-child(odd) td {
			background-color: $ch-cells-background;
		}
	}
	.relative {
		position: relative;
	}
	.normal {
		font-weight: 400;
	}
	.ui360 .sm2-360ui.sm2_playing .sm2-360btn:hover + .sm2-timing {
		visibility:visible;
	}
	.ui360 .sm2-360ui.sm2_paused .sm2-360btn:hover + .sm2-timing,
	.ui360 .sm2-360ui.sm2_paused .sm2-timing {
		visibility:visible;		
	}
	.loading-box {
		background-repeat: no-repeat;
	}
	.dropdown.open .dropdown-toggle {
		background: none;
		color:$ch-dropdown-toggle;
	}
	.ticksymbol {
		margin-top: 0;
	}
	.freshfone-number-caret {
		margin-top: 10px;
		@include triangle(down, $ch-number-caret-border, 5px)
	}
	td{
		width:40px;
		/* 2 */
		&.user_details {
			float:none;
		}
		&.width1 {
			width:20%;
			/* 2 */
		}
		&.width2 {
			width:15%;
			/* 1 */
		}
		&.width3 {
			width:12%;
			/* 2 */
		}
		&.width4 {
			width:9%;
			/* 1 */
		}
	}
	.assigned_ticket {
		color: $ch-assigned-ticket;
		.spinner{
			left: 12px !important;
		}
	}
	.call_user {
		border-left: 1px solid $ch-call-user-border;
		margin-right: -12px;
		.can-make-calls {
			height: 30px;
			width: 30px;
			margin: 0 auto;
			background-repeat: no-repeat;
			cursor:pointer;
			display: block;
			text-indent: -9999px;
			padding: 0;
		}
	}
	.preview_pic img,	.callhistory_helpdesk_avatar {
		width:35px;
		height:35px;
	}
	.freshfone_customer{
		&:hover{
			.add_to_blacklist{
				display: block;
			}
		}
	}
	.blacklist-toggle {
		position: absolute;
		top: 6px;
		left: 8px;
		z-index: 3;
		display: block;
	}
	.blacklist .blacklist-toggle {
		background:none;
	}
	
	.ff-user-location {
		font-size: 12px;
		margin-top: 4px;
		text-transform: capitalize;
	}
	.ui360 {
		border: 1px solid $ch-ui360-border;
		border-radius: 20px;
		width: 100px;
		background-color: $ch-ui360-background;
	}
	.playing {
		background-color: $ch-ui360-playing-background;
		border-color: $ch-ui360-playing-border;
		@include box-shadow(inset -1px 0px 7px -1px $ch-ui360-playing-shadow);
	}
	.child_calls {
		cursor: pointer;
		display: block;
		font-weight: 700;
		text-align: center;
		color: $ch-child-call-text;
	}
	.no_call_history {
		text-align: center;
		padding: 40px;
		font-size: 22px;
		color: $ch-no-call-log-text;
		font-weight: 200;
	}
	.call_direction {
		width:40px;
		height:24px;
		display: inline-block;
		background-repeat: no-repeat;
		cursor: default;
	}
	.create_freshfone_ticket,
	.converted_ticket {
		padding: 6px 0 6px 30px;
		background-repeat: no-repeat;
		font-weight: 500;
	}
	.transfer_call {
		td:first-child {
			border-left: 4px solid $ch-transfered-call-border;
		}
	}
	.transfer_agent_pointer {
		position: absolute;
		width: 15px;
		height: 15px;
		display: inline-block;
		top: -22px;
		left: 10px;
	}
	.callhistory_helpdesk_avatar {
		margin-right: 10px;
		@include border-radius(6px);
	}
	.helpdesk_number {
		font-size: 12px;
		display: inline-block;
		margin-top: 3px;
	}
}