<hr style="border:none;
           border-top:1px dashed #e5e5e5;
           color:#fff;
           background-color:#fff;
           height: 9px;
           width:50%;" />
<div style="text-align: center;color:#79858F;margin-bottom: 32px;">
  <p>
    <%= t('sandbox.mail.footer.cheers') %>
  </p>
  <p style="line-height: 1.5;">
    <%= t('sandbox.mail.footer.info_line').html_safe %>
  </p>
</div>