<div style='padding: 10px 0;
            border-bottom: solid 1px #dadfe3;'>
  <%= image_tag "#{Helpdesk::EMAIL_LOGO_URL[Rails.env.to_sym]}", { :style=>"height: 18px;" } %>
</div>
<div style="text-align: center;
            padding-top: 24px;">
  <%= image_tag "#{SANDBOX_ASSETS}/sandbox_mail.png", { :style=>"height:250px;"} %>
</div>