<div class="page-header">
  <h2><%= @page_title = @account %></h2>                                                                         
</div>
<div class="row">

  <!-- Internal Tool Panes -->
  <div class="container">
    <!-- Pane Titles -->
    <ul class="nav nav-tabs" role="tablist">
      <li class="active">
        <a href="#acc_details" role="tab" data-toggle="tab">
            Account Details
        </a>
      </li>

      <li>
        <a href="#tools" role="tab" data-toggle="tab">
          Toolbelt
        </a>
      </li>
    </ul>
    
    <!-- Pane pages -->
    <div class="tab-content">
      <div class="tab-pane fade active in" id="acc_details">
        <%= render :partial => "account_info" %>
      </div>
      <div class="tab-pane fade" id="tools">
        <%= render :partial => "account_tools" %>
      </div>
    </div>
  </div>

</div>