$survey-types: happy #82af56, neutral #f3ca6e, sad #ee715e;

@each $survey-type in $survey-types {
  .ficon-survey-#{nth($survey-type, 1)}, a .ficon-survey-#{nth($survey-type, 1)}{
    color: #{nth($survey-type, 2)};
  }
}

// ---------- NEW DASHBOARD ---------- //
.index-page-content{ min-height: 900px;}

// Dashboard Summary//
.db-summary{
  li{
    @for $i from 1 through 6 {
      &:first-child:nth-last-child(#{$i}),
      &:first-child:nth-last-child(#{$i}) ~ li {
        width: 100% / $i }
    }
    @include float(left);
    box-sizing: border-box;
    @include border-right(1px $grayLighter solid);
    a{
      padding-top: 15px;
      @include padding-left(20px);
      display: block;
      .db-icon-wrap{
        @include float(left);
        @include size(40px, 40px);
        @include box-shadow(inset 0 1px 2px 0px rgba(0,0,0, 0.13));
        border-radius: 50%;
        background-color: #ebeff0;
        display: inline-block;
        [class*='dbicon-'] {
          font-size: 1.3rem;
          @include micro-position(10px);
        }
        .ficon-onhold{ font-size: 1.4rem;}
        .dbicon-red{ color: $icon-color-red;}
        .dbicon-darkred{ color: $icon-color-darkred;}
        .dbicon-orange{ color: $icon-color-orange;}
        .dbicon-blue{ color: $icon-color-blue;}
        .dbicon-darkyellow{ color: $icon-color-darkyellow;}
        .dbicon-saffron{ color: $icon-color-saffron;}
        .dbicon-green{color: $icon-color-green;}
        .dbicon-brown{ color: $icon-color-brown;}
      }
      .summary-count{
        @include micro-position(-6px);
        p{ color: $grayLight; font-size: 1em;}
      }
      &:hover{
        .db-icon-wrap{ 
          background-color: #f2f4f5;
          box-shadow: inset 0px 0px 0px 1px #ccc;
        }
        h4{ color: $linkColor;}
      }
    }
    h4{
      @include font-shorthand(30px, $fontWeightLight, normal);
      color: $gray;
    }
    &:first-child{
      @include border-right(1px #ccc solid);
      h4{ font-weight: 400; color: $black;}
      a{ padding-left: 0;}
    }
    &:last-child{
      @include border-right(none);
    }
  }
  
  &.agent_widget {
      margin-top : 50px;

      li {
          background : #f9f9f9;
          padding : 24px 5px 14px 5px;

          &:first-child {
              border-right : 1px solid #ebeff0;
              h4{
                font-weight: 300;
                color: #555;
              }
          }

          a {
            padding-left : 0px;
          }
          
          h4{
              font-size : 27px;
          }
      }

  }
}

// Dashboard filter
.db-filter{
  .lead { margin-bottom: 0}
  .group-select{
    //scroll hack
    .mCSB_outside + .mCS-minimal.mCSB_scrollTools_vertical, .mCSB_outside + .mCS-minimal-dark.mCSB_scrollTools_vertical{
      right: 0;
    }
    @include micro-position(4px);
    .dropdown {
      padding-right: 30px
    }
    .dropdown-menu{
      max-height: 220px;
      overflow-y: auto;
      right : 0;
      left : auto;
    }
    .caret{
      @include micro-position(2px);
      border-top-color: $grayLight;
    }
    #group-filter-text {
        font-weight: 500;
    }
  }
  .view-select{
    h4{
      font-size: 18px;
      font-weight: $fontWeightSemibold;
      .caret{
        @include micro-position(4px);
        border-top: 6px solid $grayLight;
        border-right: 6px solid transparent;
        border-left: 6px solid transparent;
      }
    }
  }
}

.widget-wrapper-bg{
  margin-left: -20px;
  margin-right: -20px;
  margin-bottom: -40px;
  box-sizing: border-box;
  /* Dashboard charts */
}

// Widget wrapper -
.widget-wrapper{
  font-size: 13px;
  background-color: #ebeff0;
  *{ box-sizing: border-box;}
  .more-activities{
    width: 100%;
    padding: 4px 18px;
    background-color: #FFF8DF;
    border-radius: 30px;
    color: #06c;
    font-weight: 500;
    margin: 10px 0 5px;
    text-shadow: none;
    font-size: 12px;
    @include box-shadow(1px 2px 2px -1px rgba(204, 204, 204, 0.26));
  }

  .reminders, .todo{
    ul{
      border-top: none;
      li{
        border-bottom: none;
        min-height: 30px;
        .reminder{ margin-top: -2px;}
        .reminders .delete{ color: #333;}
        a.request_link {
          color: #06c;
          &:hover{
            color: #06c;
          }
        }
      }
    }
  }
  .widget{
    background-color: #ebeff0;
    box-sizing: border-box;
    padding-bottom: 20px;
    left: 0;
  }
  .widget-activity {
    .widget-title {
      border-bottom: 1px solid #eee;
    }
  }
  .widget-inner{
    background-color: #fff;
    font-size: 12px;
    border-radius: 4px;
    position: relative;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    .widget-title{
      padding: 10px 20px;
      font-size: 13px;
      font-weight: 500;
      color: #555;

      &.multi{
        padding-bottom : 8px;
      }
    }
    .widget-title-muted{
      padding: 0 20px;
      font-size: 12px;
      margin-top : -10px;
      margin-bottom : 8px;
    }
    &.reminders{ padding-top: 0;}
    div.addReminder form{
      border: 1px #e2e2e2 solid;
      border-radius: 3px;
      margin-bottom: 10px;
      padding: 6px 0px;
    }

// View all link in widget
    .widget-more-link{
      color: #0066cc;
      font-weight: 500;
      display: block;
      border-top: 1px #f7f7f7 solid;
      padding: 8px 0px;
      position: absolute;
      bottom: 0px;
      left: 0;
      width: 100%;
      text-align: center;
      border-radius: 0px 0px 4px 4px;
      background-color: #fff;
    }
    #load-more{
      border: none;
      box-shadow: 1px 2px 6px #ccc;
      background: none;
      background-color: #fff;
      @extend .widget-more-link;
      border-top: 1px #f7f7f7 solid;
    }
    // Widget content must be put inside this style only.
    .widget-content{
      @include padding(0px 20px 17px 20px);
      .help-text{ font-size: 11px;}
      .innerbox{
        background-color: #f9f9f9;
        border-radius: 4px;
        border: 1px #eee solid;
        height: 142px;
        position: relative;
        p{ font-size: 13px;}
        ul{
          text-align: center;
          padding: 15px;
          color: $grayLight;
          li{
            // Styled the width based on the li count
            @for $i from 1 through 4 {
              &:first-child:nth-last-child(#{$i}),
              &:first-child:nth-last-child(#{$i}) ~ li {
                width: 100% / $i }
              }
            border-right: 1px #eee solid;
            &:last-child{ border-right: none;}
            &.disabled a{ color: $grayLight;}
            float: left;
            box-sizing: border-box;
            h4{font-size: 36px;}
          }
        }
        .innerbox-link{
          display: block;
          width: 100%;
          padding: 10px 20px;
          position: absolute;
          bottom: 0;
          border-top: 1px #eee solid;
          .ficon-arrow-right{
            position: absolute;
            @include right(20px);
            font-size: 20px;
            top: 9px;
            color: #999;
          }
        }
      }
      .innerbox-middle{
        display: table;
        height: 180px;
        width: 100%;
        @extend .innerbox;
        ul{
          display: table-cell;
          vertical-align: middle;
        }
      }

      h3{ &.lead, &.title{display: none;}}
      .nav-tabs.sleek-tab > li{
        margin-top: 0;
        margin-bottom: 0;
      }
      .nav-tabs.sleek-tab > .active > a, .nav-tabs.sleek-tab > .active > a:hover{
        border-bottom: 3px #919191 solid;
      }
      .tabs{
        @include margin-right(0px);
        @include margin-left(0px);
        @include padding-right(0px);
        @include padding-left(0px);
        padding-top: 6px;
      }
      .widget-scroll{
        @include scrolling-shadows;
        height: 140px;
        overflow: auto;
        .ul{ border-top: none;}
      }
    }
    &.freshfone_dashboard .freshfone_alert {
      margin: 0;
      border-radius: 2px;
      min-height: 142px;
      padding: 40px 20px;
    }

    /* ----- Chat refresh button ----- */
    .fc_widget_refresh_off {
      .chat_icon_connection, .refresh_wrap.tooltip{
        display: none;
      }
    }

    .refresh_wrap.tooltip .ficon-refresh{
      display: none;
    }

    .fc_widget_refresh_on{
      color: #D00;
      .refresh_wrap.tooltip .ficon-refresh{
        display: block;
      }
    }
  }
}

//leaderboard
.leaderboard-innerbox{
  li{
    width: 50%;
    text-align: center;
    min-height: 77px;
    &:nth-child(2), &:nth-child(4){ @include border-left(1px #eee solid);}
    &:nth-child(3), &:nth-child(4){ border-top: 1px #eee solid;}
    padding-top: 10px;
    .trophy-wrap{
      .preview_pic, .trophy{
        text-align: center; float: none;
        display: inline-block;
        position: relative;
      }
      .trophy{ @include left(10px);}
      .preview_pic{
        @include size(34px, 34px);
        top: 4px;
        cursor: pointer;
        img{
          vertical-align: middle;
          @include micro-position(-4px);
        }
        &.thumb, .thumb{
          @include size(34px, 34px);
          line-height: 34px;
          border-radius: 50%;
        }
      }
      .avatar-text{ line-height: 35px; top: 4px;}
    }
  }
}

.new-leaderboard{
  .tabs-left{
    .tabs{
      padding: 0px!important;
      border-radius: 4px;
      background-color: #f9f9f9;
      border: solid 1px rgba(150, 150, 150, 0.09);
      li{
      	min-height: initial;
      	padding-top: 0px;
      	&:nth-child(2), &:nth-child(4){ @include border-left(0px);}
      	&:nth-child(3), &:nth-child(4){ border-top: 0px;}
        .leaderboard-tabs{
          border: 0px;
          border-radius: 0px;
          border-bottom: solid 1px #f0f0f0;
          span{
            -webkit-filter: grayscale(100%);
               -moz-filter: grayscale(100%);
                 -o-filter: grayscale(100%);
                -ms-filter: grayscale(100%);
                    filter: grayscale(100%);
          }
        }
      }
      li.active{
        .leaderboard-tabs{
          span{
            -webkit-filter: grayscale(0%);
               -moz-filter: grayscale(0%);
                 -o-filter: grayscale(0%);
                -ms-filter: grayscale(0%);
                    filter: grayscale(0%);
          }
        }
      }
    }
    .tab-content{
      @include margin-left(60px); 
      .tab-pane{
        .category-leader{
          padding-bottom: 30px;
          padding-top: 20px;
        }
      }
      .empty-category{
      	text-align: center;
      	padding: 70px 0;
      }
    }
  }
  li{
    width: 40px;
    height: 40px;
    border-bottom: solid 3px #f0f0f0;
  }
  li.active{
    background-color: #ffffff;
  }
  .leaderboard-tabs{
    max-height: 40px;
    min-width: 40px!important;
    padding: 10px;
    margin: 0!important;
  }
  .category-leader, .category-ranks{
    div{
      border-radius: 100%;
      img{
      	border-radius: 100%;
      }
    }
    .rank-user-name{
      height: 14px;
      opacity: 0.4;
      font-size: 12px;
      font-weight: normal;
      color: #000000;
    }
  }
  .leaderboard-others{
    display: inline-block;
    text-align: center;
    @include margin-left(5px);
    .thumb{
      width: 28.8px;
      height: 28.8px;
      margin-bottom: 5px;
      line-height: 30px;
      border-radius: 100%;
    }
    .other-rank{
      font-size: 12px;
      height: 14px;
      font-weight: normal;
      @include margin-left(-10px);
      color: #919191;
    }
  }
  .leaderboard-others.self{
    .thumb{
      width: 40.8px;
      height: 40.8px;
      border: solid 1.2px #388bb0;
      box-shadow: inset 0 0 1px 1px white;
      line-height: 40px;
    }
    .other-rank{
      font-weight: 500;
      height: 15px;
      color: #388bb0;
    }
  }
}

//Achivements
#achievements{
  font-size: 13px;
}
.achievement-chart-wrap{
  @include border-right(1px #eee solid);
}
.achievements-inner{
  .label{
    text-shadow: none;
    background-color: transparent;
    color: $grayLight;
    word-break: break-all;
    word-break: break-word;
    white-space: normal;
    font-weight: $fontWeightNormal;
    text-align: center;
    display: block;
  }
  .achivement-text{ font-size: 10px; margin-top: -5px;}
  .badges{
    margin-bottom: 7px;
  }

}

// Activity feed
.activityfeed-wrap{
  overflow-y: auto;
  height: 437px;
  @include scrolling-shadows;
}
.activityfeed {
  .preview_pic{ position: inherit;}
  li{
      border-bottom: 1px dotted #efefef;
      @include padding(8px 20px 8px 48px);
      font-size: 13px; line-height:1.3;
      a{
        color: #4D769F;
        font-weight: $fontWeightBold;
        &:hover{ color: #077ee3}
      }
      div.preview_pic{
          @include margin-left(-48px);
          @include margin-right(0px);
          margin-top: 3px;
          @include border-radius(100%);
          img{@include size(35px, 35px);}
      }
      .thumb{
        @include size(35px, 35px);
        line-height: 35px;
        font-size: 14px;
      }
  }

}

[data-gs-height="2"] .activityfeed-wrap{
  height: 560px;
}

[data-gs-height="3"] .activityfeed-wrap{
  height: 776px;
}

[data-gs-height="4"] .activityfeed-wrap{
  height: 1065px;
}

[data-gs-height="5"] .activityfeed-wrap{
  height: 1353px;
}

[data-gs-height="6"] .activityfeed-wrap {
  height: 1638px;
}

// Trail notification
.nd-trial-wrap{
  @include margin-right(-20px);
  @include margin-left(-20px);
  margin-bottom: -40px;
  margin-top: 0px;
  padding: 40px;
  min-height: 50px;
  padding-right: 0px;
  background-color: #ebeff0;
  .details-container{ background-color: transparent;}
  .trial_expiry, .sales-manager-notifier{
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
    border-radius: 4px;
  }
  .sp-details{ min-height: 120px;}
  *{ box-sizing: border-box;}
  .trial_expiry{
    margin-bottom: 3px;
    margin-right: 20px;
    .span8{ p{ margin-bottom: 5px;}}
    .trial-background{ margin-top: 34px;}
  }
  .sales-manager-notifier{
    background-image:
     linear-gradient(
       to right,
       #fffef2 50%,
       #fffed7 50%
     );
    background-color: #fffef2;
    margin-left: -20px;
    margin-right: -20px;
    margin-top: -18px;
    margin-bottom: 3px;
  }
}

$i: 0;
@while $i <= 9 {
 .span-row#{$i + 1} {
   height: widgetheight(1 * ($i + 1), $i);
 }
 $i: $i+1;
}
.db-empty-msg{
  display: table;
  width: 100%;
  p{
    display: table-cell;
    vertical-align: middle;
    height: 145px;
    text-align: center;
  }
}
.modal.slider-modal, .widget-wrapper-bg{
  .g:hover{
    text.label, text.value{
      fill: #08c;
    }
  }
  .bar, .backdrop , .label, .value, .filledBar { cursor: pointer;}
  .bar{
    fill: #4CA2E3;
    &.Urgent { fill: #E22A24;}
    &.High { fill: #FBC029;}
    &.Medium { fill:#239EF8 ;}
    &.Low { fill: #95CA1E; }
    &.Status {fill: #4CA2E3;}
  }
  .allchart{
    padding:10px;
    &:hover{ opacity: 0.4;}
  }
  text.label, text.value{
    fill: #333;
  }
  text.label {
      font-size: 13px;
      font-weight: normal;
      text-shadow: none;
  }
  text.value{
      font-size: 20px;
  }
  .progress-meter{
    .background { fill: #EBEBEB;}
    .foreground { fill: #6C6C6C; }
    text{font-size: 10px;}
  }
}
//modal
.modal.slider-modal{
  .modal-header h3{
    &.modal-title{
      font-size: 14px;
      text-shadow: none;
      box-sizing: border-box;
      font-weight: $fontWeightSemibold;
      @include padding-right(30px);
    }
    a {
      font-size: 13px;
      font-weight: $fontWeightNormal;
    }
  }
  text.label {
      font-size: 13px;
      font-weight: normal;
      text-shadow: none;
  }
  text.value{
      font-size: 20px;
  }
}

//gridstack
.grid-stack {
  margin: 20px 10px 20px;
}

.ticket-summary{
  padding : 5px 5px 20px 5px;

  #db-filer-text {
    font-weight: normal;
    font-family: HelveticaNeue-Light,"Helvetica Neue",Helvetica, Arial;
  }

  .dropdown {
    cursor: pointer;
  }
  .dropdown-menu .active > a, .dropdown-menu .active > a:hover{
    background: none;
    color: #333;
    font-weight: $fontWeightBold;
  }
  // Need to remove this later
  .dropdown-tick, .dropdown-menu.tick:not(.menu-pjax) .active:before, .dropdown-menu.tick.menu-pjax .selected-tab:before{
    color: #333;
  }

}

html[dir="rtl"] .ficon-arrow-right:before{
  content: "\f109" !important;
}

html[dir="rtl"] .ficon-arrow-left:before{
  content: "\f10b" !important;
}

/* Widgets Revamp */

.list_widgets {
  margin : 15px auto;
}

/* Csat Widget */

.csat_widget{
    .survey-count {
      width: 90%;
      background: #f9f9f9;
      margin: 10px auto;
      border-radius : 3px;

      .section{
        width: 50%;
        border : 1px solid #f2f2f2;
        text-align: center;
        float: left;
        padding: 20px;

        &.first{
          border-right: 0px;
        }
        .count{
          color: #999;
          font-size: 26px;
          margin-bottom : 10px; 
        }

        .text{
          color : #666;
        }
      }
    }

    .survey-indicator{
      display: inline-block;
      @include border-radius(100%);
      width: 12px;
      height: 12px;
      padding: 0;
      line-height: 0;
      position: relative;
      top: 2px;
    }

    .survey-summary{
      margin: 25px 0 25px 16px;
    }

    .survey-summary .survey-icon{
      font-size: 34px;
      @include float(left);
    }

    .survey-icon{
      @include margin-right(5px);
    }
    .survey-summary{ 
      .rating-percentage{
        line-height:34px;
        font-size:20px;
      }
      .overview-percentage{
        font-size:14px;
        font-weight:500;
      }

      .span2.survey-info{
          width : 30%;  
      }
    }
}


li.odd,li.even {
    padding: 8px 50px 8px 28px;
    font-size: 14px;
    a {
        display: inline-block;
        overflow: hidden;
        text-overflow: ellipsis;
        width: 80%;
    }
}

li.odd {
    background: #f6f6f6;
}  



/* SVG Styles */
svg {
  shape-rendering: crispEdges;
}

.highcharts-scrollbar g{
  display : none;
}

.snapshot_menu,.ticket_summary_title{
  display : none;
}

/* Side bar */
.dashboard-details-wrapper{
  position: fixed;
  top: 0;
  @include right(0);
  width: 600px;
  z-index: 16;
  background: #fff;
  height: 100%;
  overflow-y: scroll;
  @include box-shadow (0 0 5px 0 #aaa);
  @include transition(transform .3s);
  @include translateX(600px);
  &.active{
    @include translateX(0);
  }
  
  .sloading{
    position: relative;
  }
  
  h4{
    text-align: center;
    margin-top: 8em;
  }
  .list-title{
    height: 60px;
    color: #797979;
    border-bottom: 1px solid #d5d5d5;
    background: #f5f5f5;
    line-height : 0;

    .title_wrapper{
      @include float(left);

      .level1{
        font-size: 15px;
        font-weight: 500;
        padding: 18px 0 7px 0;
        color : #333333;

        &.center-title {
            margin-top : 12px;
        }
      }

      .level2{
        font-size : 13px;
        color : #666;
        font-weight : normal;
        margin: 15px 0 0 0;
      }
    }
    
    .cross {
      width: 29px;
      @include float(right);
      cursor: pointer;
      margin : 20px 0;  
    }

    &:after{
      display : block;
      content : '';
      clear : both;
    }
    
  }
  
  div.report-pager {
      border-bottom : 1px solid #eee;
      width: 90%;
      margin: 0 auto;

      .ctrl{
          width: 20px;
          height: 20px;
          background: #efefef;
          margin: 10px 10px;
          border-radius: 10px;
          float: right;

          &.active{
            background: #eee;
          }

          i {
              margin-left: 7px;
              margin-top: 2px;
              display: block;
              color: #333;
          }
      }
  }

  div#graph_space {
    width: 98%;
    margin: 16px auto;
  }

  .trend-toggle-tab{
    text-align: left;
    margin: 12px;
    border-bottom: 1px solid #EEE;
    padding: 12px 0px;
    
    .link1{
      padding : 0px 12px;
      @include border-right(1px solid #333);
      display: inline-block;
    }

    .link2{
      padding: 0px 12px;
      display: inline-block;
    }
    
    span.toggle{
      color: #0066CC;
        cursor: pointer;
        &.active{
          color: #333;
          cursor: default;
        }
    }
  }

  .graph_details{

        width : 50%;
        margin :15px  auto;
        
        .wrape {
           border : 1px solid #e0e0e0;
           overflow : auto;
           height : auto;
           border-radius: 5px;
        }
        .wrape:after {
          content: "";
          display: block;
          clear: both;
         }

        .title{
          font-weight : 500;
          margin-top : 10px;
          margin-bottom: 10px;
          color : #555;
        }
        .symbol{
            width: 8px;
            height: 8px;
            @include margin-right(10px);
            margin-top: 3px;
        }
        .thinSymbol{
            height : 4px;
            border-radius : 4px;
            margin-top : 5px;
            width: 10px;
        }
        div.odd,div.even,div.detail_row {
            padding: 8px 16px 8px 16px;
            font-size: 12px;
            text-transform : capitalize;
        }

        div.even {
            background: #f6f6f6;
        }  
        
        div.dot-divider{
            border-bottom : 1px dotted #efefef;
        }

        div.dot-divider:last-child{
            border-bottom : 0px;
        }

        &.incoming-trend {
            width : 90%;
            div.detail_row {
                width : 42%;
                border-left : 1px dotted #efefef;

                &:last-child {
                border-right : 1px dotted #efefef;
                }
            }
        }
  }

  .list_items {
    width : 92%;
    margin : 30px auto;
    border : 1px solid #e0e0e0;
    border-radius: 5px;
  }
}

.preventscroll{
  overflow: hidden;
}

.solution-link {
  margin-right : 8px; 
  margin-top : 5px;
}

/* ------- Year in review style --------- */

.dashboard-review-container {
  .year-in-review {
    background: #ebeff0;
  }
}
