/* Theme Colors and layout Defaults */
/* Bullet icon */
/* Priority Color Codes */
/* Sprite variables used inside the sheet */
/* line 2, ../../src/pattern/patternhack.scss */
body {
  font-size: 13px; }

/* line 5, ../../src/pattern/patternhack.scss */
.lead {
  margin-bottom: 20px;
  font-size: 21px;
  font-weight: 200;
  line-height: 30px; }

/* line 12, ../../src/pattern/patternhack.scss */
small {
  font-size: 90%; }

/* line 16, ../../src/pattern/patternhack.scss */
strong {
  font-weight: bold; }

/* line 20, ../../src/pattern/patternhack.scss */
.muted {
  color: #999999; }

/* line 23, ../../src/pattern/patternhack.scss */
.page-header {
  padding-bottom: 9px;
  margin: 20px 0 30px;
  border-bottom: 1px solid #eeeeee; }

/* line 29, ../../src/pattern/patternhack.scss */
.topbar .dropdown-menu a, .dropdown-menu a {
  text-shadow: 0 0 0 white; }

/* line 33, ../../src/pattern/patternhack.scss */
.cust_list_table .open .menu, .cust_list_table .dropdown.open .menu, .cust_list_table .open .dropdown-toggle, .cust_list_table .dropdown.open .dropdown-toggle {
  border: 0 solid transparent;
  background: none;
  color: inherit; }

/* line 39, ../../src/pattern/patternhack.scss */
.table th, .table td {
  padding: 15px; }

/* line 42, ../../src/pattern/patternhack.scss */
.tabs {
  margin-right: -20px;
  margin-left: -20px;
  padding-right: 20px;
  padding-left: 20px; }

/* line 49, ../../src/pattern/patternhack.scss */
.pagination ul > li > a:hover .arrow-up {
  border-bottom-color: #fff; }
/* line 50, ../../src/pattern/patternhack.scss */
.pagination ul > li > a:hover .arrow-right {
  border-left-color: #fff; }
/* line 51, ../../src/pattern/patternhack.scss */
.pagination ul > li > a:hover .arrow-down {
  border-top-color: #fff; }
/* line 52, ../../src/pattern/patternhack.scss */
.pagination ul > li > a:hover .arrow-left {
  border-right-color: #fff; }

/* line 57, ../../src/pattern/patternhack.scss */
.arrow-right,
.arrow-left,
.arrow-up,
.arrow-down {
  /*
   * In Internet Explorer, The"border-style: dashed" will never be
   * rendered unless "(width * 5) >= border-width" is true.
   * Since "width" is set to "0", the "dashed-border" remains
   * invisible to the user, which renders the border just like how
   * "border-color: transparent" renders.
   */
  border-style: dashed;
  padding: 0;
  border-color: transparent;
  border-width: 0.7em;
  display: -moz-inline-box;
  display: inline-block;
  /* Use font-size to control the size of the arrow. */
  font-size: 9px;
  height: 0;
  line-height: 0;
  position: relative;
  vertical-align: middle;
  width: 0; }

/* line 80, ../../src/pattern/patternhack.scss */
.arrow-up {
  border-bottom-width: 1em;
  border-bottom-style: solid;
  border-bottom-color: #666;
  bottom: 0.25em; }

/* line 87, ../../src/pattern/patternhack.scss */
.arrow-right {
  border-left-width: 1em;
  border-left-style: solid;
  border-left-color: #666;
  left: 0.35em; }

/* line 94, ../../src/pattern/patternhack.scss */
.arrow-down {
  border-top-width: 1em;
  border-top-style: solid;
  border-top-color: #666;
  top: 0.25em; }

/* line 101, ../../src/pattern/patternhack.scss */
.arrow-left {
  border-right-width: 1em;
  border-right-style: solid;
  border-right-color: #666;
  right: 0.35em; }

/* line 107, ../../src/pattern/patternhack.scss */
.text-info {
  width: 75%;
  word-wrap: break-word;
  overflow: hidden; }

/* line 112, ../../src/pattern/patternhack.scss */
.cust-list-avatar, .text-info {
  display: inline-block;
  vertical-align: middle; }

/*  overriding buttons styles from Bootstrap v1.4 */
/* line 119, ../../src/pattern/patternhack.scss */
.btn-group.open {
  overflow: visible; }

/* line 122, ../../src/pattern/patternhack.scss */
.btn.dropdown-toggle {
  overflow: visible; }
  /* line 124, ../../src/pattern/patternhack.scss */
  .btn.dropdown-toggle:after {
    display: none; }
  /* line 128, ../../src/pattern/patternhack.scss */
  .btn.dropdown-toggle .caret {
    margin: 6px 0 0; }

/* line 132, ../../src/pattern/patternhack.scss */
.open .dropdown-toggle {
  color: inherit; }

/* line 138, ../../src/pattern/patternhack.scss */
.open > .dropdown-menu:before {
  border-bottom: 6px solid rgba(0, 0, 0, 0.35);
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  height: 0;
  width: 0;
  position: absolute;
  z-index: 2;
  content: "";
  top: -6px;
  left: 25px; }

/* line 147, ../../src/pattern/patternhack.scss */
.open > .dropdown-menu:after {
  border-bottom: 5px solid white;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  height: 0;
  width: 0;
  position: absolute;
  z-index: 3;
  content: "";
  top: -5px;
  left: 26px; }

/* line 156, ../../src/pattern/patternhack.scss */
.open > .dropdown-menu.right {
  left: auto;
  right: 0; }
  /* line 161, ../../src/pattern/patternhack.scss */
  .open > .dropdown-menu.right:before {
    right: 25px;
    left: auto; }
  /* line 166, ../../src/pattern/patternhack.scss */
  .open > .dropdown-menu.right:after {
    right: 26px;
    left: auto; }

/*  End of Button overriding */
/* line 179, ../../src/pattern/patternhack.scss */
table.selected_to_yellow tbody tr td.stripe-select {
  background-color: #fffad8; }
/* line 183, ../../src/pattern/patternhack.scss */
table.selected_to_yellow tbody tr td label {
  cursor: pointer; }

/* line 189, ../../src/pattern/patternhack.scss */
.dialog-well {
  height: 350px;
  overflow: scroll;
  border: 1px solid #f1f1f1;
  border-top: 3px solid #f1f1f1;
  border-bottom: 8px solid #f1f1f1;
  -moz-border-radius: 5px 5px 5px 5px;
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px; }
  /* line 197, ../../src/pattern/patternhack.scss */
  .dialog-well .actions-menu {
    float: right; }
  /* line 202, ../../src/pattern/patternhack.scss */
  .dialog-well.links td:hover {
    background: #fffad8; }

/* This class overriding app-common css. */
/* line 209, ../../src/pattern/patternhack.scss */
.pagination {
  border-bottom: 0; }
  /* line 211, ../../src/pattern/patternhack.scss */
  .pagination a {
    font-weight: normal; }
    /* line 213, ../../src/pattern/patternhack.scss */
    .pagination a:hover, .pagination a:focus {
      text-decoration: none; }

/* This class overriding app-bootstrap css. */
/* line 221, ../../src/pattern/patternhack.scss */
.dropdown-toggle:after {
  border-top: 0; }
