
<h4 class="title">Can you please tell us how we can improve this article?</h4>
<% form_for :ticket, :url => create_ticket_support_article_path, :html => { :method =>:post, :id => "feedback_form" }  do |f|    %>
  <%= hidden_field_tag "meta[user_agent]", request.env["HTTP_USER_AGENT"] %>
  <%= hidden_field_tag "helpdesk_ticket[subject]", "Feedback for #{article.title}" %>
  <ul class="ui-form">
  <li>
  <label id="requester-label">Your Email *</label>
  <input type="text" id="helpdesk_ticket[email]" class="text required email" name="helpdesk_ticket[email]"></input>
  </li> 
  <li>
  <label id="description-label">Comments</label>
  <%= text_area_tag "helpdesk_ticket[description]" %>
  </li>
 </ul>
  <span class="seperator"></span>
  <%= submit_tag 'Send Feedback', :class => "uiButton" -%> 
<% end %>
 <% javascript_tag do %>
  	jQuery("#feedback_form").validate({
		submitHandler: function(form) {
		   	jQuery(form).ajaxSubmit({success: showResponse});
		}
	});
	function showResponse(response, status){
		jQuery("#article_voting").html(response);
	}
  <% end %>
