<script id="file-list-template" type="text/x-jquery-tmpl">			
  <div class="item">
  	<span class="{{if (!file_valid) }} alert-invalid{ {{/if}}">
  		${name} {{if (size != '0' && size != '0.00 KB ') }} (${size}) {{/if}}
  	</span>
  	<span> 
  		{{if (file_valid) }}
  			- <a href="javascript:void(0)" onclick="Helpdesk.Multifile.remove(this); return false;" inputId="${inputId}">remove</a>
  		{{else}}
  			<span class="alert-invalid-attach-text">
  				<%= t('helpdesk.tickets.note.attachment_size.exceed_limit') + t('helpdesk.tickets.note.attachment_size.not_added') %>
  			</span>
  		{{/if}}
  	</span>
  </div>
</script>