<script id="file-list-template" type="text/x-jquery-tmpl">
  <div class="item">
    {{if (file_valid) }}
      <a href="#" class="close attach-close"
      onclick="Helpdesk.Multifile.remove(this);return false;" inputId="${inputId}">&times;</a>
    {{else}}
      <%= content_tag(:span, t('helpdesk.tickets.note.attachment_size.not_added_greater'), 
                                :class => "alert-invalid-text", 
                                :title => t('helpdesk.tickets.note.attachment_size.exceed_limit')) %>
    {{/if}}
    <div class="ellipsis {{if (!file_valid) }} alert-invalid {{/if}}">${name} 
    {{if (size != '0' && size != '0.00 KB ') }} (${size}){{/if}}
    </div>
  </div>
</script>