<div class="tickets-container">
 <table class="tickets">	
	<tbody>
		<%= each_or_message("/support/shared/ticket", @tickets, t("helpdesk.tickets.views.no_tickets")) %>
	</tbody>
 </table>
</div>
 <div class="toolbar">
    <%= will_paginate @tickets, :class => "toolbar_pagination_full" %>  
 </div>