<p style="line-height:20px;font-size:13px;">
Cool!<br><br>

You've received the test mail you just sent out from Freshdesk account.<br><br>

If everything worked fine, you should now see this mail converted to a new ticket. Hop over to your Freshdesk helpdesk portal and look under the "Tickets" tab.<br><br>

Got it? Great! Now everytime your customers send you an email here, you'll have it appear as a ticket in Freshdesk automatically!<br><br>

If your helpdesk did not show you a new ticket, first make sure that you have configured all your emails in this id to get forwarded to your Freshdesk support id (usually in the format "support@[your-domain].freshdesk.com"].
You can learn how to do this <a href="https://support.freshdesk.com/solution/categories/4/folders/7/articles/2-converting-your-support-email-into-freshdesk-tickets" target="_blank">here</a>. Still having problems? Get in touch with us at support@freshdesk.com and we'll help you set this up.<br><br>

Thanks,<br>
Freshdesk Team
</p>