<footer>
  <div class="form-footer fixed">
    <div id="footer-content" class=<%="disable-action" if @preview%>>
      <%= submit_tag t('support.canned_form.form_submit'), :class => "form-submit", :id => "submit"%>
    </div>
  </div>
</footer>
