<footer>
  <div class="form-footer fixed">
    <div id="footer-content" class=<%="disable-action" if @preview%>>
      <a href=<%= support_tickets_path %> class="btn btn-light pull-left cancel"><%= t('cancel') %></a>
      <%= submit_tag t('send_feedback'), :class => "btn btn-success", :id => "submit"%>
    </div>
  </div>
</footer>