<header>
  <div id="preview-header" class="fixed header">
    <div id="header-content">
      <%= image_tag logo_url, :alt => t('logo'), :onerror => "default_image_error(this)",:"data-type" => "logo", :class=>'pull-left'%>
      <div id="header-title"><%=current_portal.portal_name%></div>
    </div>
  </div>
</header>