/* Integrations Listing CSS */
@import "settings/settings";
/* NEW UI */
#integrations-list{
  .sleek-tab{
    margin-bottom: -1px;
    @include margin-left(0px);
    @include margin-right(0px);
    @include padding(0 5px);
    border-bottom: 1px solid #a0a0a0;
    li{
      @include margin-left(15px);
    }
    a{
      transition-property: none;
      font-size: 13px;
      &:hover, &:focus, &:active{
        color: #333;
        border-bottom: solid 4px #a0a0a0;
        outline: none;
      }
    }
  }
}
.no-plugs{
	border: solid 1px #ececec;
	height: 100px;
	width: 100%;
	background: #fafafa;
  @include text-align(center);
	position: relative;
	display: block;
	margin-top:10px;
	p{
		margin-top: 38px;
		font-weight: 300;
		font-size: 15px;
	}
}
.list-box{
	width: 96% !important;
  @include clear(both);
  @include padding(2%);
	background: #fff;
  &:hover{
    background: #fafafa;
  }
	&:first-child{
    @include border-width(1px 0px 1px 0px);
	}
	.switch-box{
		width: 82px;
		.toggle-button{
      @include margin-left(0);
		}
	}
	.logo-box{
		position: relative;
    width: 140px;
    height: 70px;
    border: solid 1px #aaa;
    @include padding(2px);
    @include margin-right(16px);
    @include text-align(center);
    vertical-align: middle;
		.plug-logo{
			width: 88%;
			height: 100%;
      @include margin(0);
			border: solid 1px #bbb;
			&:before{
				position: absolute;
        @include left(30%);
				top: 12%;
				opacity: 0.3;
			}
		}
		img{
			height: 70px;
		}
    .ficon-puzzle{
      margin-top: 10px;
      display: inline-block;
      opacity: 0.7;
    }
	}
	.desc-box{
		width:calc(100% - 245px);
	}
	.plug-data{
		height: 22px;
		.plug-type{
      @include border-radius(12px);
			border: solid 1px #ccc;
			color: #666;
			height: 12px;
			font-size: 11px;
			font-weight: normal;
      @include float(left);
      @include padding(3px 8px);
			line-height: 12px;
      @include margin-right(8px);
      margin-top: 2px;
      cursor: default;
		}
		.plug-name{
			font-size: 14px;
			font-weight: 500;
      @include margin(4px 0px);
			display: inline-table;
		}
		.plug-actions{
      @include float(right);
		}
		.btn-default{
			background: #F0F0F0;
			border: none;
			box-shadow: none;
      @include padding(2px 4px);
      @include margin-left(6px);
			width: 14px;
		}
	}
	p{
		margin-top: 8px;
    line-height: 1.6em;
    font-weight: 400;
    height: 38px;
    overflow: hidden;
    @include cursor(default);
	}
	.actions{
		padding-top: 35px;
		position: relative;
	}
}

/* used in integration page */
.plug-logo{
  width: 50%;
  height: 50%;
  @include margin(auto);
  position: absolute;
  top: 0;
  @include left(0);
  bottom: 0; 
  @include right(0);
}


.apps-wrapper{
  width: 100%;
  border: solid #f0f0f0;
  @include border-width(0px 0px 1px 0px);
  &:first-child {
    @include border-width(1px 0px 1px 0px);
  }
  .title{
    margin-top:6px;
  }
  .disabled-app{
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAH0lEQVQIW2NkQAWSjEh8SQYGhucwATAHJAkSgHNAAgBJLgMeVQZnUgAAAABJRU5ErkJggg==);
    border-color: #e5e5e5;
    .desc{
      color: #828282;
    }
    .logo-box{
      border: solid 1px #ddd;
      opacity: 0.4;
    }
    .plug-name{
      color:#828282;
      &:hover{
        color: #06c;
      }
    }
    .ficon-puzzle{
      opacity: 0.5;
    }
    .btn-settings{
      pointer-events: none;
      @include cursor(default);
      background-color: #e6e6e6;
      background-image: none;
      opacity: 0.4;
    }
    .plug-data p{
      color: #777;
    }
  }
}

.custom-apps-list{
  margin-top: 6px;
  @include padding-left(15px);
  @include padding-right(15px);
  .app-custom{
    display: table;
    .intro{ 
      margin-top:10px;
    }
  }
  .no-items{
    line-height: 22px;
    font-weight:300;
  }
  .add-link{
    font-weight:300;
  }
  .button-bar{
    @include margin(6px 0);
  }
  .pills{
    width: 50%;
    @include float(left);
    @include padding(4px 0 8px);
  }
}
.fplugs-box{  
  .figure-box{
    img {
      position: absolute;
      @include margin(auto);
      top: 0;
      @include left(0);
      @include right(0);
      bottom: 0;
      width: 160px;
      height: auto;
    }
  }
}
.feedback-form{
  textarea{
    &:focus{
      outline: none;
      border-color: rgba(82, 168, 236, 0.8);
      box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px rgba(82, 168, 236, 0.3);
    }
  }
}
/*switch -- NOT USED YET */
/*.onoffswitch {
    position: relative; width: 50px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label {
    display: block;
		overflow: hidden;
    @include cursor(pointer);
		border: 1px solid #999;
    @include border-radius(20px);
		height: 14px;
}
.onoffswitch.disabled{
	.onoffswitch-label{
		border-color: #ccc;
	}
	.onoffswitch-switch{
		border-color: #ccc;
	}
	.onoffswitch-inner:before{
		background: #ccc;
	}
}
.onoffswitch-inner {
    display: block; width: 200%; @include margin-left(-100%);
    transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block;
		@include float(left);
		width: 50%;
		height: 20px;
    @include padding(0);
		line-height: 16px;
    font-size: 12px; 
    color: white;
    box-sizing: border-box;
}
.onoffswitch-inner:before {
		content: "ON";
    @include padding-left(9px);
		padding-top: 3px;
		background-color: #008000;
		color: #FFFFFF;
		height: 20px;
		font-size: 16px;
		font-weight: normal;
}
.onoffswitch-inner:after {
		content: "OFF";
    @include padding-right(8px);
		background-color: #EEEEEE;
		color: #646464;
    @include text-align(right);
		font-size: 18px;
		font-weight: 300;
		padding-top: 2px;
}
.onoffswitch-switch {
    display: block;
		width: 18px;
    @include margin(3px);
		height: 18px;
		background: #FFFFFF;
		border: 1px solid #999;
    @include border-radius(20px);
		position: absolute;
		top: -2px;
		bottom: 0;
    @include right(26px);
		transition: all 0.3s ease-in 0s;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    @include margin-left(0);
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    @include right(-2px);
} */