@import "settings/settings";
.installer-form{
  .form-lbl{
    padding-top:20px;
    font-weight: 500;
  }
  .help-text{
    margin-top: -5px;
  }
  .select2 + .help-text{
    margin-top: 0;
  }
}
.fa-installer{
  &.fa-bg {
    @include margin(0);
    width:100%;
  }
  .fa-breadcumb {
    @include padding(17px 15px);
    display: block;
  }
  .fa-hmeta {
    height: 40px;
    background-size: 60px;
    @include clear(both);
    border-top: solid 1px rgba(0,0,0,.1);
    border-bottom: solid 1px #ccc;
    width: 100%;
    margin-top: 50px;
    .progress{
      height: 70px;
      background-color: transparent;
      background-image: none;
      box-shadow: none;
      @include border-radius(0);
      margin-top: -54px;
      @include margin-left(-15px);
      .bar{
        background-repeat: repeat;
      }
      .bar-success{
        box-shadow: none;
        background-image: linear-gradient(135deg, rgba(255, 255, 255, 0.35) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.35) 50%, rgba(255, 255, 255, 0.35) 75%, transparent 75%, transparent);
        background-color: rgba(100, 100, 100, 0.2);
      }
      &.active .bar{
        box-shadow: none;
      }
    }
  }
  .app-name{
    font-weight: 300;
    @include padding(5px);
  }
  .fa-settings{
    @include padding(2%);
    width: 96%;
    .status{
      font-weight: 300;
      font-size: 20px;
    }
  }
  .install-form{
    height: calc(100vh - 160px);
    overflow: auto;
  }
  .ficon-info{
    @include margin-left(-62px);
    margin-top: -2px;
    background: #fff;
    color: #999;
    position: absolute;
  }
  .fa-info{
    @include padding(0 20px);
    .fa-desc{
      font-size: 14px;
      line-height: 21px;
      @include text-align(justify);
    }
    .fa-form {
      @include padding(15px);
      background: #efefef;
      border: 1px solid #ccc;
      @include border-radius(6px);
      overflow: auto;
    }
    .fa-textip{
      @include border-radius(4px);
      border:1px solid #ccc;
      font-size: 12px;
      @include padding(8px);
    }
  }
  .info-box {
    @include margin(0);
    @include padding(0);
  }
  .install-status{
    font-weight: bold;
  }
  .install-msg{
    font-weight: 300;
    font-size: 14px;
  }
  .install-note{
    font-size: 12px;
    color:#999999;
  }
}