.shortcut-key{
	font-family: Monaco, "Lucida console", "Courier New", monospace;
	font-weight: 200;
	color: #fc7e2e;
	span{
		color: #ccc;
	}
}

.help-chart{
	font-size: 13px;
	margin-top: -15px;
	color: #333;

	.sub-lead{
		font-size: 16px;
		margin-bottom: 10px;
	}
	hr{
		margin-top: 20px;
		margin-bottom: 5px;
	}
	.view_detail{
		position: absolute;
	 	@include right(21px);
		top: 31px;
	}
	.shortcut-key, .description{
		min-height: 24px;
		line-height: 16px;
	}
	.shortcut-key{
		@include text-align(right);
	}
	.description{
		font-weight: 200;
		@include padding-left(5px);
	}
}

.mt0{
	margin-top: 0;
}

.sidepanel .shortcut-key{
	font-size: 12px;
}
.ticket_subject{ // This class is used to set priority border height 100%
	position: relative;
	margin: -7px 0; 
	padding: 7px 0;
}
.sc-item-selected{
	&.ticket-status-5, &.ticket-status-4{
		.sc-item-cursor.priority-border{
			background: $COL_RESOLVED_CLOSED; // Old browsers
		}
	}
}
.sc-item-selected .sc-item-cursor{
	width: 0;
	height:100%;
	position: absolute;
	top: 0px;
	@include margin-left(-107px);
	&.priority-high {
		background: $COL_PRI_HIGH; // Old browsers
	}
	&.priority-low {
		background: $COL_PRI_LOW; /* Old browsers */
	}
	&.priority-medium {
		background: $COL_PRI_MEDIUM;
	}
	&.priority-urgent {
		background: $COL_PRI_URGENT; /* Old browsers */
	}
}

.profile_info .custom{
	display:block;
	@include padding(10px 12px 10px 24px);

	.description{
		font-size: 90%;
		margin-top: 5px;
		color: inherit;
	}
}

.color-orange{
	color: #fc7e2e;
}

.shorcuts-info{ 
	display: none; 
}

.shortcuts-active .shorcuts-info{ 
	display: block; 
}
// =============================================================================
//					Ticket list item selector animation
// =============================================================================
.sc-item-selected .sc-item-cursor{
	width:4px;
	@include animation(fadeIn 100ms);
}
.fade-out .sc-item-cursor{
	@include animation(fadeOut 100ms);
	width:0;
}
@include keyframes(fadeIn){
	0%{width:0;}
	100%{width:5px;}
}
@include keyframes(fadeOut){
	0%{width:5px;}
	100%{width:0;}
}
