// Base settings for app
@import "../settings/settings";

// new satisfaction survey
@import "../page/new_satisfaction";

// Satisfaction survey
@import "../page/satisfaction";
@import "../page/survey";

// Gamification
@import "../module/gamification";

// Shortcut chart styles
@import "shortcuts-chart";

// RTL styles
@import "rtl-styles.scss";

