// Base settings for app
@import "lib/settings";
@import "lib/mixins";

// Satisfaction survey
@import "lib/satisfaction";
@import "lib/survey";

// Gamification
@import "lib/gamification";

// Animation
@import "lib/animate-custom";

// Admin
@import "lib/admin";
