@import "lib/settings";
/*Requester Info Tabs in Ticket Details page */
@import "requester-info/*.png";

.ticket_details .pagearea{
	min-width: 1100px;
	margin: 0 auto;
	margin-top: -11px;
	border: none;
	@include box-shadow(0px 5px 6px #ccc);
}

ol, ul, li{
	margin: 0px;
	list-style: none;
}

.header{
	z-index: 1;
}

.bg{
	background-color: #ccc;
	border:1px solid red;
}

a:hover{
	color: #0e5ab0;
}

p strong{
	font-weight: bold;
}

.f-right{
	float: right;
}

.clearfix:before,
.clearfix:after {
    content:"";
    display:table;
}

.clearfix:after {
    clear:both;
}

.clearfix {
    zoom:1;
    overflow: visible;
}

.tkt-wrapper-inner{
	width: 98%; /* It must be adjust the width for ".leftcontent .at_the_top" class*/
	margin: 0 auto;
	padding-left: 25px;
	margin-top: -13px;
}

.tkt-wrap{
	clear: both;
	min-width: 1102px;
	width: 80%;
	margin: 0 auto;
}

.tkt-wrapper{
	margin:0 auto;
	overflow:visible;
	position:relative;
	text-align: left;
	padding-bottom: 20px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #333;
}

#tkt-inner{
	position:relative;
	z-index:1;
	margin: 8px 0px 0px 0px;
	padding-right: 318px;
	.tkt-sidebar{
		width:310px;
		float:right;
		margin-right:-310px;
	}
	.leftcontent{
		float: left;
		width: 99%;
	}
}

.priority_block {
	height: 10px;
	width: 10px;
	margin-right: 10px;
	display: inline-block;
	@include corners(2px);

	&.priority_color_1 {
		background-color: $COL_PRI_LOW;
	}
	&.priority_color_2 {
		background-color: $COL_PRI_MEDIUM;
	}
	&.priority_color_4 {
		background-color: $COL_PRI_URGENT;
	}
	&.priority_color_3 {
		background-color: $COL_PRI_HIGH;
	}
}

.content{
	.controls{
		width: 100%;
		display: block;
	.control-left-outer{
		width: 100%;
	}	
		.control-left{
			padding-bottom: 10px;
			position: relative;
			border-left: 1px #d8d8d8 solid;
			-webkit-box-shadow: -4px 0px 0px #f0f0f0;
			   -moz-box-shadow: -4px 0px 0px #f0f0f0;
			    -ms-box-shadow: -4px 0px 0px #f0f0f0;
			        box-shadow: -4px 0px 0px #f0f0f0;

			h2{
				font-size: 18px;
				color: #333;
				text-shadow: 0px 1px 0px #fff;
				line-height: 21px;
				font-weight: 300;
				height: 21px;
				overflow: hidden;
				word-break: break-all;
				margin: 0 -10px;
				padding: 0 10px;

				&:hover {
					min-height: 21px;
					background: #f7f7f7;
					overflow: visible;
					height: auto;
					z-index: 13;
					position: relative;
					border-radius: 5px;
				}

				span{
					color: #666666;
				}
			}

			.monitor, .monitor_active {
				background-repeat: no-repeat;
				@include hide-text();
				width: 23px;
				height: 21px;
				margin-right: 10px;
				display: inline-block;
				margin-bottom:  -4px;
			}

			.monitor {
				background: sprite($symbol, tkt-not-monitoring);
			}
			.monitor_active {
				background: sprite($symbol, tkt-monitoring);					
			}


			.source-badge-wrap{
				position: absolute;
				left: -30px;
				top: -8px;
				width: 48px;
				height: 48px;
				@include border-radius(42px);
				background: #fff;
				border: 1px solid #cfcfcf;
				padding: 3px;
				text-align: center;
				display: table;
				float: left;

				.source{
					@include border-radius(42px);
					vertical-align: middle;
					position: relative;
					display: table-cell;
					width: 46px;
					height: 46px;

					background-repeat: no-repeat;
					&.source-email {
						background: sprite($symbol, source-badge-email);
					}
					&.source-facebook {
						background: sprite($symbol, source-badge-email);
					}
					&.source-twitter {
						background: sprite($symbol, source-badge-email);
					}
					&.source-portal {
						background: sprite($symbol, source-badge-email);
					}
					&.source-phone {
						background: sprite($symbol, source-badge-email);
					}
					&.source-chat {
						background: sprite($symbol, source-badge-email);
					}
					&.source-forum {
						background: sprite($symbol, source-badge-email);
					}

					&.collision_refresh {
						background: sprite($symbol, collision_refresh);
					}

					background-color: $COL_RESOLVED_CLOSED;		//Fallback

					&.priority_color_1 {
						background-color: $COL_PRI_LOW;
					}
					&.priority_color_2 {
						background-color: $COL_PRI_MEDIUM;
					}
					&.priority_color_4 {
						background-color: $COL_PRI_URGENT;
					}
					&.priority_color_3 {
						background-color: $COL_PRI_HIGH;
					}

					&.resolved, &.closed {
						background-color: $COL_RESOLVED_CLOSED !important;
					}

					&:hover{

					}	
				}
			}
		}

		.open-box{
			background-color: #FFF;
			float: right;
			width: 308px;
			padding: 5px 0px;
			border: solid 1px #CCC;
			@include border-radius(4px, 4px);
			h4{
				font-size: 18px;
				padding-left: 10px;
				padding-bottom: 5px;
			}

			p{
				font-size: 13px;
				padding-left: 10px;
				line-height: 20px;
			}
		}
	}
}

#toggle-note-visibility {
	display: inline-block;
	float: right;
	margin: 0 5px;

	.note-visible, .note-hidden {
		i {
			display: block;
			width: 30px;
			height: 26px;
			float: right;
		}
		label {
			font-size: 13px;
			display: inline-block;
			padding:6px 10px 0 0;
			cursor: pointer;
		}
		cursor: pointer;
	}

	
	.note-visible i {
		background:sprite($symbol, note-visible);
		background-repeat: no-repeat;
	}
	.note-hidden i {
		background:sprite($symbol, note-hidden);
		background-repeat: no-repeat;
	}

	.note-visible {
		display: none;
	}

	&.visible {
		.note-visible{
			display:block;
		}

		.note-hidden {
			display: none;
		}
	}

	input[type=checkbox] {
		display: none;
	}
}



// .btn {
// 	margin: 0;
// 	padding: 5px 10px;
// 	color: #333;
// 	font-family: inherit;
// 	font-weight: 500;
// 	@include text-shadow(1px 0 0 rgba(255,255,255,0.49));
// 	@include box-shadow(1px 0 1px #FFF);

// 	&.tall {
// 		padding: 5px 10px 6px;
// 		font-size: 12px;
// 	}

// }

// .btn-group {
// 	overflow: visible;
// 	display: inline-block;
// 	position: relative;
// 	.btn.dropdown-toggle:after {
// 	 	width: 0;
// 		height: 0;
// 		display: inline-block;
// 		content: "&darr;";
// 		text-indent: -99999px;
// 		vertical-align: top;
// 		margin-top: 6px;
// 		margin-left: 0px;
// 		border-left: 6px solid transparent;
// 		border-right: 6px solid transparent;
// 		border-top: 6px solid #6f6f6f;
// 		@include opacity(1);
// 	}
// }


.ticket-actions{
	display: block;
	margin: 10px 0px 0px;
	.forward, .reply{
		float: left;
		font-size: 12px;
		color: #333;
		margin-right: 10px;
		padding: 0px 10px;
		&:hover{ background: #fafafa;}
		&:active{ background: #fff;}
	}
	.reply{
		border: 1px #ccc solid;
		background-color: #fafafa;
		@include border-radius(4px);
		padding-right: 10px;
		background-color: #ffffff; 
		@include filter-gradient(#ffffff, #e5e5e5, vertical);
		$experimental-support-for-svg: true;
		@include background-image(linear-gradient(top,  #ffffff 0%,#e5e5e5 100%));
		-webkit-box-shadow: 0px 0px 1px #fff;
		   -moz-box-shadow: 0px 0px 1px #fff;
		    -ms-box-shadow: 0px 0px 1px #fff;
		        box-shadow: 0px 0px 1px #fff;
	}
	.menu-dropdown, .dropdown-menu { 
	float: left;
	position: absolute;
	top: 30px;
	left: 0;
	z-index: 900;
	margin: 2px 0 0;
	padding: 5px 0;
	border: 1px solid rgba(0, 0, 0, 0.2);
	-webkit-border-radius: 6px;
	-moz-border-radius: 0 0 6px 6px;
	border-radius: 6px;
	-webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
	}

	.ticket-btns{
		float: left;
		margin-right: 10px;

	}

	.ticket-btn{
		float: left;
		@include border-radius(4px);
		margin-right: 10px;
		color: #333;
		font-size: 13px;
		padding: 7px 10px;
		border: 1px #ccc solid;
		@include filter-gradient(#ffffff, #e5e5e5, vertical);
		$experimental-support-for-svg: true;
		@include background-image(linear-gradient(top,  #ffffff 0%,#e5e5e5 100%));
		@include box-shadow(0px 0px 1px #fff);

        &:hover{
        	text-decoration: none;
        	background: #e6e6e6;
        	-webkit-box-shadow: inset 1px 0 0 rgba(255, 255, 255, 0.125), inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
		    -moz-box-shadow: inset 1px 0 0 rgba(255, 255, 255, 0.125), inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
		    box-shadow: inset 1px 0 0 rgba(255, 255, 255, 0.125), inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
        }
	}

	.forward{
		padding: 10px 0px 10px 25px;
		background: url(/images/ticket-details/forward-icon.png) no-repeat 0px 5px;
	}

	.reply .down-arrow{
		position: relative;
		top: 10px;
		left: 5px;
		width: 0; 
		height: 0; 
		border-left: 6px solid transparent;
		border-right: 6px solid transparent;
		border-top: 6px solid #6f6f6f;
		margin: 5px;
	}

	.reply-inner{
		background: url(/images/ticket-details/reply-icon.png) no-repeat 0px 6px;
		display: inline-block;
		width: 18px;
		height: 18px;
		margin: -5px 4px -1px 0;
	}
}

.content-wrapper{
	width: 100%;
	display: block;


}

.pseudo_reply {
	height: 15px;
	background: #FFF;
	padding: 25px;
	font-size: 13px;
	color: #999;
	border-radius: 5px;
	cursor: pointer;

	a {
		color: #666;
		border-bottom: dotted 1px #999;
	}
}


.responder_field {
	&.select2-container {
    	.select2-choice {
    		background: none;
    		border-color: #FFF;
    	}

    	&:hover .select2-choice {
		    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #eeeeee), color-stop(0.5, white));
		    background-image: -webkit-linear-gradient(center bottom, #eeeeee 0%, white 50%);
		    background-image: -moz-linear-gradient(center bottom, #eeeeee 0%, white 50%);
		    background-image: -o-linear-gradient(bottom, #eeeeee 0%, #ffffff 50%);
		    background-image: -ms-linear-gradient(top, #eeeeee 0%, #ffffff 50%);
		    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#eeeeee', endColorstr = '#ffffff', GradientType = 0);
		    background-image: linear-gradient(top, #eeeeee 0%, #ffffff 50%);
		    border: 1px solid #aaa;
		    outline: none;

		    //Copied from Select2
    	}
    }

    &.select2-container-active .select2-choice {
    	background-color: #fff;
	    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #eeeeee), color-stop(0.5, white));
	    background-image: -webkit-linear-gradient(center bottom, #eeeeee 0%, white 50%);
	    background-image: -moz-linear-gradient(center bottom, #eeeeee 0%, white 50%);
	    background-image: -o-linear-gradient(bottom, #eeeeee 0%, #ffffff 50%);
	    background-image: -ms-linear-gradient(top, #eeeeee 0%, #ffffff 50%);
	    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#eeeeee', endColorstr = '#ffffff', GradientType = 0);
	    background-image: linear-gradient(top, #eeeeee 0%, #ffffff 50%);
    	border: 1px solid #5897fb;
		    //Copied from Select2

    }

    &.select2-container-active.select2-dropdown-open .select2-choice {
    	background-color: #fff;
	    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #eeeeee), color-stop(0.5, white));
	    background-image: -webkit-linear-gradient(center bottom, #eeeeee 0%, white 50%);
	    background-image: -moz-linear-gradient(center bottom, #eeeeee 0%, white 50%);
	    background-image: -o-linear-gradient(bottom, #eeeeee 0%, #ffffff 50%);
	    background-image: -ms-linear-gradient(top, #eeeeee 0%, #ffffff 50%);
	    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#eeeeee', endColorstr = '#ffffff', GradientType = 0);
	    background-image: linear-gradient(top, #eeeeee 0%, #ffffff 50%);
    	border: 1px solid #AAA;
		//Copied from Select2

    }
}

.hidden_upload {
	display: inline-block;
	width: 200px;
	margin: 0 10px;
	div {
		cursor: pointer;
		color: #1272de;
		width: 200px;
		overflow: hidden;
		text-overflow: ellipsis;
		-o-text-overflow: ellipsis;
		-webkit-text-overflow: ellipsis;
		top: 16px;
		position:relative;

	}

	span {
		color: #434343;
	}

	input[type=file] {
		height: 17px;
		width: 200px;
		position:relative;
		@include opacity(0);
	}
	
}   
.conversation_thread.redactor{
	border:none;
	margin-bottom: 30px;
	margin-top: -30px;
	@include box-shadow(none);

    .avatar-wrap:before{
    	left: 200px;
 	    width: 300px;
    	height: 20px;
    	background: #000;
    }
// -----------------
    #reply-draft {
    	float: left;
    	padding-top: 5px;

    	.sav {
    		background: #ededed;
    		@include border-radius(0 4px 4px 0);
    		color: #333;
    		float:left;
    		margin:0;
    		padding: 1px 7px;
    	}

    	&.saving {
    		.sav {
    			@include corners(4px);
    		}
    	}

    	.close-img {
    		background: #b3b3b3;
    		margin:0 1px 0 0;
    		padding: 2px 7px 2px 3px;
    		float:left;
    		@include border-radius(4px 0 0 4px);
    	}
    }

}

.list_agents_replying {
	float: right;
	margin-top: -19px;
	background: #fcfcf9;
	padding: 5px 15px;
	border: solid 1px #ccc;
	border-radius: 5px;
}

#cnt-note .list_agents_replying  {
	margin: 0 5px;
}
#not_following_message {
	padding:8px 10px;
	margin-left:10px;
	display: inline-block;
}

ol.conversation_thread{
	padding: 10px 10px 10px 10px;
	margin-top:-20px;
	border-left: 1px #d8d8d8 solid;
	-webkit-box-shadow: -4px 0px 0px #f0f0f0;
	   -moz-box-shadow: -4px 0px 0px #f0f0f0;
	    -ms-box-shadow: -4px 0px 0px #f0f0f0;
	        box-shadow: -4px 0px 0px #f0f0f0;
     
    &.loading-center {
    	li { display: none; }
    	height: 50px;
    	border: none;
    	box-shadow: none;
    }

    .freshdesk_quote {
    	// display: none;
    }

	li.conversation{
		margin-bottom: 22px;
		position: relative;
	}


    .commentbox {
    	padding: 15px;
    	min-height: 60px;
    }

    .form_title {
    	font-size: 13px;
    }

    .ui-form {
    	border: solid 1px #CCC;
		@include corners(5px);
		margin: 20px 0 10px;
		background: #fdfdfd;
    }

    .request_panel {
    	border: none;
    	overflow:hidden;
    	padding: 0;
    }


	.tweet-counter {
		position: static;
		color: #888;
	}

	#tweet_type_selector {
		display: none;
		position: relative;
		top: 2px;
		right: 15px;
		width: 150px;
	}


	.post_in_forum {
		text-align: right;
		display: inline-block;
		margin-right: 25px;
		padding: 0;
		font-size: 12px;

		[type="checkbox"] {
			margin: 0 5px;
		}
	}

    .ui-form .inline-field {
    	$message_window_bg_color: #FDFDFD;

    	background: $message_window_bg_color;
    	border-bottom: solid 1px #F3F3F3;
    	padding: 5px 10px;
    	@include border-radius(6px 6px 0 0);
    	float: none;
    	width: auto;
		clear: both;

    	label {
    		float: none;
    		display: inline-block;
    		width: auto;
    		font-weight: bold;
    		margin-right: 15px;

    	}

    	input[type=text] {
    		border: none;
    		@include box-shadow(none);

    		&:focus {
    			border: none;
    		}
    	}

    	label.error {
    		width: 100%;
			margin: 0;
			@include box-sizing(border-box);
    	}

    	.attachments-wrap {

			display: block;

			i {
				font-style: normal;
			}

    	}

    	&.message {
    		padding:0;
    		textarea {
	    		@include box-sizing(border-box);
				width: 100%;
				padding: 5px 10px;
				border: none;
				box-shadow: none;
	    	}
    	}

    	&.cc_fields {
    		overflow: hidden;
    		label {
				float:left;
				width: 50px;
				position:relative;
				z-index:2;
    		}

    		.clear_emails {
    			float:right;
    			width: 30px;
    			padding: 5px 15px;
    			z-index: 2;
    			position:relative;
    		}
    		.email_container {
    			width: 100%;
				float: right;
				padding: 0 90px 0 50px;
				margin-top: -25px;
				display: inline-block;
				zoom: 1;
				vertical-align: top;
				@include box-sizing(border-box);
				ul.multi_value_field {
					border: none;
					background: none;

					li.choice {
						background: rgba(240,240,240,0.3);
						border: solid 1px #EEE;
						padding: 2px 4px 3px 12px;
					}
				}
			}

			.request_form_options {
				margin-top: -20px;
			}

    		.select2-container {
    			width: 100%;
				float: right;
				padding: 0 60px;
				position: relative;
				top: -25px;
				.select2-choices {
					border: 1px $message_window_bg_color solid;
					background: $message_window_bg_color;					
				}
    			.select2-choice, .select2-search-choice {
    				float: none;
    				width: auto;
    				display: inline-block;
    			}

    		}




    		input[type=text] {
	    		display: inline-block;
	    		width: 100%;
	    		float: none;
    		}
    	}

    	&.checkbox{
    		overflow: hidden;
    		label {
				display:inline-block;
				zoom: 1;
				width: 100%;
				position: static;
    		}
    		input[type=checkbox] {
    			float: none;
    		}
    	}
    	&.notify_agent{
    		overflow: hidden;
    		border: none;
    		label {
				display:inline-block;
				zoom: 1;
				width: 100px;
				z-index:2;
    		}

    		.email_container {
    			
				display: inline-block;
				zoom: 1;
				vertical-align: top;
				padding: 0 0 0 110px;
				margin-top: -27px;
				width: 100%;
				@include box-sizing(border-box);
				ul.multi_value_field {
					border: none;
					background: none;

					li.choice {
						background: rgba(240,240,240,0.3);
						border: solid 1px #EEE;
						padding: 2px 4px 3px 12px;
					}
				}
			}

    		.select2-container {
				width: 100%;
				.select2-choices {
					border: 1px $message_window_bg_color solid;
					background: $message_window_bg_color;					
				}
    			.select2-choice, .select2-search-choice {
    				float: none;
    				width: auto;
    				display: inline-block;
    			}

    		}


    		input[type=text] {
	    		display: inline-block;
	    		width: 100%;
	    		float: none;
    		}
    	}
    	.redactor_box {
    		border: none;
    	}

    	.redactor_toolbar {
    		background: none;
    		border: none;
    	}

    	&.continous {
    		border: none;
    	}

    	&.clearField {
    		background: #FFF;
    	}

    	&.attachment-options {
    		float:none;
    		width: auto;

    		padding: 0 10px;
    		margin-bottom: -10px;

    		label {
    			float: left;
    			width: 130px;
    			margin: 10px 15px 0 0;
    		}

    		.file-types-def {
    			padding: 3px;
    			background: none;
    		}
    	}

    }

	.uiButton {
		background: #e7e7e7;
		border: solid 1px #ccc;
		@include box-shadow(1px 0 3px rgba(0,0,0,0.04));
		@include text-shadow(1px 0 0px #FFF);
		@include vertical-gradient(#FFF, #e7e7e7);
		color:#333;
		font-weight: normal;

		&.special {
			background: #262626;
			border: solid 1px #3a3a3a;
			@include text-shadow(-1px 0 0px #000);
			@include vertical-gradient(#4f4f4f, #262626);
			color: #FFF;

			&:hover {
				border: solid 1px #4D4D4D;
			}
		}

		&:hover {
			border: solid 1px #999;
		}
	}

    .request_panel .ui-form .request_form_options  {
    	position: static;
    	float: right;
    	margin: 5px 0;
    	width: 100px;
    	text-align: right;
    	a {
    		margin: 10px;
    		padding: 5px;
    	}
    }

    .note-forward-form {
    	padding: 5px;
    	margin: 0 0 20px;
    	background: #fdfdfd;
    	@include corners(5px);

    }
}

#show_more {

	.avatar-wrap-collapse {
		background: #1272de;
		border-color: #0155b2;
		color: #FFF;
	}

	&.loading {
		background: none;
		.avatar-wrap {
			@include hide-text();
			background-image:url('/images/ajax-loader.gif');
			background-repeat:no-repeat;
			background-position: center;

			p {
				display: none;
			}
		}

	}

	.commentbox {
		min-height: 10px;
	}
}
.avatar-wrap {
	width: 52px;
	height: 52px;
	z-index: 100;
	@include border-radius(42px);
	background: #fff;
	position: absolute;
	border: 1px solid #cfcfcf;
	margin: 0 0 3px 0;
	padding: 2px;
	text-align: center;
	float: left;
	left: -42px;
	.preview_pic {
		display: inline-block;
		margin: 0;
		float:none;
		img {
			@include border-radius(30px);
			position: relative;
			top: 2px;
			height: 48px;
			width: 48px;
		}
	}
	.avatar {
		@include border-radius(30px);
		position: relative;
		top: 2px;
	}
	&:hover{
		text-decoration: none;
	}
}

.avatar-wrap-collapse{
	border: 3px #b5b5b5 solid;
	@include box-shadow(0px 0px 5px #ccc);
	top: -12px;
	p{
		padding-top: 10px;
		font-size: 13px;
		.count_number{
			font-size: 16px;
			clear: both;
			font-weight: bold;
			display: block;
		}
	}
}

.tkt-sidebar{

	.requester-avatar-wrap{
		float: left;
		width: 50px;
		
		.requester-avatar{
			@include border-radius(6px);
			margin-top: 3px;
			border: 1px #bbb solid;
		}
	}

	.requester-details{
		display: inline-block !important;
		float: left;
		width: 72%;
		font-size: 13px;
		padding-left: 10px;
		line-height: 18px;
		h4{
			font-weight: bold;
		}

		p{
			color: #6e6e6e;
			span{
				font-size: 11px;
			}
		}
	}
	.jira-wrap{
		background: #f5f5f5;
		@include border-radius(5px);
		display: block;
		margin: 30px 0px;

		span{
			font-size: 13px;
			color: #777;
			background: url(/images/ticket-details/jira-icon.png) no-repeat 7px 7px;
			padding: 12px 12px 12px 38px;
			display: block;
		}
	}

	.time-tracked{

		.list-noinfo {
			padding: 0;
			font-size: 1.1em;
		}

		.new_timer a {
			font-size: 14px;
			font-weight: bold;
		}

		#timesheetlist {
			padding: 10px 0;
		}

		div.preview_pic img {
			width: 30px;
			height: 30px;
		}
		.time-tracked-details{
			display: inline-block;
			margin:10px 0;

		}

		.details {
			display: block;
			float: left;
			width: 270px;
		}

		.requester-avatar-wrap {
			padding: 0px 10px 10px  0;
			width: 30px;
		}

		.note {
			padding: 5px 0;
			a {
				color: #333;
			}

		}

		.info {
			clear: both;
			overflow: hidden;
			width: 270px;
			color: #777;
			font-size: 10px;

			.time_stamp {
				width: 125px;
				float: left;
			}

			.is_billable {
				width: 125px;
				float: right;
				text-align: right;
			}
		}

		h3,h4{

			.user_name {
				color: #333;
				font-size: 13px;
			}
			.tracked_time{
				float: right;
				text-align: right;
			}

			.time_unit {
				font-size: 13px;
				font-weight: normal;
				font-style: normal;
			}

			.time {
				font-size: 15px;
				font-weight: bold;

			}

			.timer_box {
				position: relative;
				left: -70px;
				top: -6px;

				@include opacity(0.3);
			}
		}

		.actions {
			clear: both;
			font-size: 13px;
			margin-bottom: 10px;
			a {
				margin: 5px 10px 5px 0;
			}

			.toggle_timer {
				display: none;
			}
		}

		.time_running {
			.toggle_timer {
				display: inline;
			}
		}

		.time-tracked-details:hover {
			h3,h4 {
				.timer_box {
					@include opacity(1);
				}
			}
			.actions {
				visibility: visible;
			}
		}
	
	}

	#TicketProperties {

		.ui-form {
			position: static;
			background: none;
			border: none;
		}
		overflow:hidden;
		li.field{
			width: 100%;
			float: left;
			padding: 0 0 5px;
			clear:both;
			label{
				width: 100%;
				display: block;
				clear: both;
				height:19px;
				font-size: 13px;
				padding: 5px 0px;
			}

			&.checkbox {
				padding: 10px 0;
				label {
					width: auto;
					display: inline-block;
					margin-top: 3px;
				}
			}

			label.error {
				margin: -10px 0 0;
				overflow: hidden;
				width: auto;
				display:block;
				padding: 10px 5px 5px;
			}

			.customSelect, select, input.text, input.number{
				width: 310px;
				color: #333;
				@include box-shadow(0 1px 5px rgba(0,0,0,.15));
				border: 1px solid #ccc;
			}

			.select2-container{ width: 310px; }

			.select2-container-multi .select2-choices .select2-search-choice {
				float: none;
				display: inline-block;
				width: auto;
			}

			input[type=text] {
				width: 297px;
			}

			&.nested_field{
				.level_2, .level_3 {
					select, .select2-container {
						width: 297px;
					}
				}
			}

			&.loading-right {
				.select2-container {
					display:none;
				}
			}
		}



		li.default_source, li.default_status, li.default_ticket_type, li.default_priority{
			width: 50%;
			float: left;
			padding-bottom: 5px;
			clear:none;
			min-height: 60px;
			.customSelect, select, .select2-container{
				width: 152px;
			}
			input[type=text]{
				width: 142px;
			}
		}

		.chzn-container-single .chzn-single {
		  background-color: #fafafa;
		  border: 1px solid #ccc;
		  color: #444444;
		  background-image:none;
		}


		.chzn-container-single.chzn-disabled .chzn-single abbr:hover {
		  background-position: right top;
		}
	}

	.widget{
		border-top: 2px #838383 solid;
		width: 100%;
		@include min-height(130px);
		clear: both;


		h3{
			font-size: 16px;
			font-weight: bold;
			padding-top: 5px;
			padding-bottom: 5px;
		}

		.tkt-tabs-wrap{
			width: 100%;
			ul{
				display: block;
				clear: both;
				width: 100%;

				li{
					float: right;
					text-align: center;
					position: relative;
					top: -0px;
					margin-left: 5px;
					padding: 2px 3px;
					border-bottom: 1px #fff solid;
					border-left: 1px #fff solid;
					border-right: 1px #fff solid;
					@include border-radius(0px 0px 5px 5px);
				}

				li a{
					display: inline-block;
					height: 16px;
					width: 23px;
					text-align: center;
					position: relative;
					z-index: 200;
				}
				@include all-requester-info-sprites;


				li:hover{
					opacity: 0.7;
					border-bottom: 1px #ccc solid;
					border-left: 1px #ccc solid;
					border-right: 1px #ccc solid;
				}

				li.active{ 
					border-bottom: 1px #ccc solid;
					border-left: 1px #ccc solid;
					border-right: 1px #ccc solid;
				}
			}
		}


		.requester_tab{
			width: 100%;
			display: block;

			h3{ margin-bottom: 10px;}

			.requester-avatar-wrap{
				border: 1px #ccc solid;
				@include border-radius(6px);
				float: left;
				width: 54px;
				height: 54px;
				display: inline-block !important;
				text-align: center;
				.preview_pic img{
					@include border-radius(6px);
					width: 54px;
					height: 54px;
				}
			}

			.requester-details{
				display: inline-block !important;
				float: left;
				width: 72%;
				font-size: 13px;
				padding-left: 10px;
				line-height: 16px;

				.more_details {
					margin-top: 10px;
				}
			}
		}
	}
}

// Timesheet Modal CSS Overrides and new CSS
#timeentry_add, .timeentry_edit {
	margin: 5px;
	padding: 0;
}

.modal-body .ui-form {
	.full_width {
		width: 100%;
		margin: 5px 0;
		float:left;
	}

	.one_third {
		width: 33%;
		float: left;
		margin-right: 1%;
	}

	.two_third {
		width: 66%;
		float: left;
	}

	label {
		color: #000;
		font-weight: bold;
	}

	label.billable_hours {
		font-size: 11px;
	}

	.executed_at {
		label {
			display: inline-block;
		}

		cursor: pointer;
		input {
			border: none;
			@include box-shadow(none);
		}

		&:hover input{
			border: 1px solid #C6C6C6;
			@include box-shadow(inset, 1px 1px 2px #dfdfdf);
		}
	}
	.agent {
		label {
			display: inline-block;
			width: 50px;
		}

		.select2-container {
			width: 300px;
	    	.select2-choice {
	    		background: none;
	    		border-color: #FFF;

	    		div b {
	    			display: none;
	    		}
	    	}
	    }

	    &:hover {
	    	.select2-container .select2-choice {
			    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #eeeeee), color-stop(0.5, white));
			    background-image: -webkit-linear-gradient(center bottom, #eeeeee 0%, white 50%);
			    background-image: -moz-linear-gradient(center bottom, #eeeeee 0%, white 50%);
			    background-image: -o-linear-gradient(bottom, #eeeeee 0%, #ffffff 50%);
			    background-image: -ms-linear-gradient(top, #eeeeee 0%, #ffffff 50%);
			    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#eeeeee', endColorstr = '#ffffff', GradientType = 0);
			    background-image: linear-gradient(top, #eeeeee 0%, #ffffff 50%);
			    border: 1px solid #aaa;
			    outline: none;

			    //Copied from Select2


	    		div b {
	    			display: block;
	    		}
	    	}
	    }

	    .select2-container-active .select2-choice {
	    	background-color: #fff;
		    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #eeeeee), color-stop(0.5, white));
		    background-image: -webkit-linear-gradient(center bottom, #eeeeee 0%, white 50%);
		    background-image: -moz-linear-gradient(center bottom, #eeeeee 0%, white 50%);
		    background-image: -o-linear-gradient(bottom, #eeeeee 0%, #ffffff 50%);
		    background-image: -ms-linear-gradient(top, #eeeeee 0%, #ffffff 50%);
		    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#eeeeee', endColorstr = '#ffffff', GradientType = 0);
		    background-image: linear-gradient(top, #eeeeee 0%, #ffffff 50%);
	    	border: 1px solid #5897fb;
			    //Copied from Select2

	    }

	    .select2-container-active.select2-dropdown-open .select2-choice {
	    	background-color: #fff;
		    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #eeeeee), color-stop(0.5, white));
		    background-image: -webkit-linear-gradient(center bottom, #eeeeee 0%, white 50%);
		    background-image: -moz-linear-gradient(center bottom, #eeeeee 0%, white 50%);
		    background-image: -o-linear-gradient(bottom, #eeeeee 0%, #ffffff 50%);
		    background-image: -ms-linear-gradient(top, #eeeeee 0%, #ffffff 50%);
		    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#eeeeee', endColorstr = '#ffffff', GradientType = 0);
		    background-image: linear-gradient(top, #eeeeee 0%, #ffffff 50%);
	    	border: 1px solid #AAA;
			//Copied from Select2

	    }
	}
}


/*Comment-box*/
.commentbox{
	position: relative;
	margin-top: 10px;
	display: block;
	margin-left: 29px;
	padding: 10px;
	line-height: 150%;
	background: #fffdf8;
	border: 1px solid #cccccc;
	@include min-height(30px);
	@include border-radius(4px);
	@include box-shadow(0px 5px 8px rgba(130,130,130,0.24));

	blockquote.freshdesk_quote {
		font-size: 13px;
		line-height: 22px;
		margin: .5em;
		color: #666;
		border-left: 1px dotted #999;
		padding: 6px 6px 1px 1em;
	}

	.actions {
		float: right;
		display: inline-block;
		width: auto;
		visibility: hidden;

		a {
			color: #1272de;
			font-weight: bold;
			font-size: 13px;
			padding: 2px;
			margin: 3px;
		}

		.red_links {
			color: #933;
		}
	}

	&:hover {
		.actions {
			visibility: visible;
		}
	}

	.commentbox-menu{
		float: right;
		margin-left: 10px;
	}
	p{
		margin: 0 0 15px 0;
		width: 95%;
		font-size: 13px;
		font-weight: normal;
		color: #656565;
		line-height: 17px;
	}

	.author-mail-detail{
		margin: 0 0 2px 0;
		color: #a2a19f;
		text-align: left;
		padding: 0px;
		a {
			font-weight:bold;
		}
	}

	.tag {
		float:right;
		background: #b5b5b5;
		color: #FFF;
		border: solid 1px #FFF;
		@include text-shadow(-1px 0 0 rgba(0,0,0,0.28));
		max-width: 150px;
		display: block;
		@include corners(5px);
		font-size: 10px;
		padding: 3px 10px 5px;
		font-weight: 600;
		margin-top: 5px;
	}
}

.commentbox-gray{
	background: #fafafa;
	border: 1px #ebebeb solid;
	@include box-shadow(0px 0px 0px #ffffff);
}

.commentbox-gray:after{
	border-color: rgba(255, 253, 248, 0);
	border-right-color: #ebebeb;
}

.commentbox-gray:before{
	border-color: rgba(255, 253, 248, 0);
	border-right-color: #333333;
}

.commentbox:after, .commentbox:before {
	right: 100%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.commentbox:after {
	border-color: rgba(255, 253, 248, 0);
	border-right-color: #fffdf8;
	border-width: 8px;
	top: 25px;
	margin-top: -8px;
}

.commentbox:before {
	border-color: rgba(204, 204, 204, 0);
	border-right-color: #cccccc;
	border-width: 9px;
	top: 25px;
	margin-top: -9px;
}

.commentbox-blue{
	background: #1272de;
	border: 1px #3a7ecc solid;
	@include box-shadow(0px 0px 0px rgba(0,0,0,0.36));
	@include min-height(10px);
	padding: 10px 20px !important;
	margin-top:0;
	width: 100px;
	line-height: 100%;
	font-size: 13px;
	font-weight: bold;
	color: #fff;
	text-align: center;
	text-shadow: 0px 1px 0px #000;
	&:hover{
		color: #fff;
		@include box-shadow(0px 3px 8px #ccc);
	}
}

.commentbox-blue:after{
	border-color: rgba(#1272de, 0);
	border-right-color: #1272de;
	margin-top: -15px;
}

.commentbox-blue:before{
	border-color: rgba(#1272de, 0);
	border-right-color: #1272de;
	margin-top: -16px;
}

.commentbox .commentbox-menu{
	@include opacity(0);
}

.commentbox:hover .commentbox-menu{
	@include opacity(1);
	-webkit-transition: all 0.5s ease;
	   -moz-transition: all 0.5s ease;
	    -ms-transition: all 0.5s ease;
			transition: all 0.5s ease;
}

#ticket_original_request div {
	margin: 10px 0;
}

.attachments-wrap{

	.attachments-container {
		display: inline;
	}

	.attachment_list {
		display: inline;
	}

	color: #333333;
	span{
		margin-right: 10px;
		b{
			color: #999999;
		}
	}
	h5{
		font-size: 12px;
		color: #1272de;
		font-weight: bold;

	}

	.attachment-type {
		margin: 0;
		padding: 3px 0 3px 25px;
		width: auto;
		height: 14px;
		display: inline-block;
	}

	.attachment-close{
		background: url(/images/ticket-details/attachment-close.png) no-repeat;
		display: inline-block;
		width: 7px;
		height: 7px;
		margin-right: 10px;
	}

	ul{
		margin-top: 10px;
	}

	li, div.item{
		background: #fbf8f2;
		border: 1px #e8e8e8 solid;
		@include border-radius(4px);
		padding: 5px 10px;
		color: #1272de;
		font-size: 12px;
		margin: 5px;
		display: inline-block;
		float: none;
		min-height: 20px;
		height:auto !important;
		width: auto;
		min-width: 100px;
		span{
			color: #999999;
		}
		img{
			vertical-align: middle;
		}
	}

}

label.custom-select {
    position: relative;
    display: inline-block;
}

.custom-select select {
    display: inline-block;
    border: 2px solid #bbb;
    padding: 4px 3px 3px 5px;
    margin: 0;
    font: inherit;
    outline:none; /* remove focus ring from Webkit */
    line-height: 1.2;
    background: #f8f8f8;
    -webkit-appearance:none; /* remove the strong OSX influence from Webkit */
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}

@media screen and (-webkit-min-device-pixel-ratio:0) { 
    .custom-select select {
        padding-right:30px;    
    }
}

.custom-select select:focus {
    -webkit-box-shadow: 0 0 3px 1px #c00;
    -moz-box-shadow: 0 0 3px 1px #c00;
    box-shadow: 0 0 3px 1px #c00;
}

.custom-select:after {
    content: "▼";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    font-size: 60%;
    line-height: 30px;
    padding: 0 7px;
    background: #bbb;
    color: white;    
    pointer-events:none;    
    -webkit-border-radius: 0 6px 6px 0;
    -moz-border-radius: 0 6px 6px 0;
    border-radius: 0 6px 6px 0;
}

.no-pointer-events .custom-select:after{
	content: none;
}

.dropdown-large{
	.chzn-select{
		width: 310px;
		color: #333;
	}
}

.dropdown-small{
	.chzn-select{
		width: 152px;
	}
}

.comment-lock{
	background: url(/images/ticket-details/mail-lock.png) no-repeat 0px 0px;
	margin-top: -50px;
	display: inline-block;
	position: relative;
	z-index: 100;
	width: 40px;
	height: 29px;

}

.bread-crumb-wrap{
	width: 100%;
	display: block;
	
	.bread-crumb{
		float: left;
		padding-top: 6px;
		padding-bottom: 5px;
		position: relative;
		left: -28px;
		li{
			float: left;
			font-size: 13px;
			padding: 5px 3px;
			color: #505050;
			font-weight: bold;
		}
		a {
			font-weight: normal;
		}
	}
}

.activity_toggle {
	float: right;
	text-align: center;
	width: 120px;
	@include border-radius(4px);
	border: 1px #eaeaea solid;
	background-color: #f7f7f7;
	padding: 7px 10px;
	cursor: pointer;
	margin: 5px 15px;
	span {
		font-weight: bold;
	}

	.visible { display: none; }
	&.visible {
		span { display: none; }
		.visible { display: inline; }
	}

	&.loading-center {
		@include hide-text();
		font-size: 0.1em;
		color: #f7f7f7;
		height:15px;
	}
}

.pagination-link{
	float: right;
	li{
		float: right;
		font-size: 13px;
		padding: 5px 0px;
		margin-left: 5px;
	}
	.pagi-btn{
		@include border-radius(4px);
		border: 1px #d2d2d2 solid;
		display: inline-block;
		padding: 7px 10px;
		color: #333;
		span.arrow-next, span.arrow-previous{
			width: 7px;
			height: 9px;
			display: inline-block;
			margin: 0px 3px;
		}

		span.arrow-next{
			background: url(/images/ticket-details/arrow-next.png) no-repeat;
		}

		span.arrow-previous{
			background: url(/images/ticket-details/arrow-previous.png) no-repeat;
		}
		&:hover{
			background: #f6f4f4;
		}
		&:active{
			background: #fafafa;
		}

		&.disabled {
			color: #CCC;
			border: 1px #f6f6f6 solid;

			span {
				@include opacity(0.1);
			}
		}
	}

}

.redactor-ribbon-wrap{
	font-size: 13px;
	float: left;
	width: 100px;
	position: absolute;
	height: 100px;
	top: 12px;

	p{
		padding-left: 20px;
		margin-bottom: 4px;
	}

	.redactor-ribbon{
		background: #ccc;
		padding: 3px 0px;
		padding-left: 20px;
		display: block;
		color: #fff;
	}
}

.notify-wrap{
	margin-top: 10px;
	color: #333;
	font-size: 13px;
	.attachments-wrap{
		margin-top: 10px;
		float: left;
		width: 78%;

		.addnew{
			background: url(/images/ticket-details/addnew-btn.png) no-repeat;
			padding: 2px 0px;
			margin-left: 10px;
			padding-left: 25px;
		}
	}
	input[type="text"]{
		width: 80%;
		float: right;
		@include border-radius(5px);
		border: 1px #c6c6c6 solid;
		@include box-shadow(inset 0px 0px 3px #ccc);
		padding: 6px;
	}

	input[type="button"]{
		padding: 5px 10px;
	    margin-left: 5px;
	    float: left;
	    display: inline-block;
	    border: 1px #8a8a8a solid;
	    color: #fff;
	    cursor: pointer;
	    text-shadow: -1px -1px -1px #6c6c6c;
		background-color: rgb(178,178,178); // Old browsers
		@include filter-gradient(#b2b2b2, #5a5a5a, vertical); // IE6-8
		$experimental-support-for-svg: true;
		@include background-image(linear-gradient(top,  rgba(178,178,178,1) 0%,rgba(90,90,90,1) 100%));
		@include border-radius(3px);
	}

	input[type="button"]:hover{
	    background: #8e8e8e;
	}

	input[type="button"]:active{
	    background: #6e6e6e;
	    border-bottom: 1px #ccc solid;
	    -webkit-box-shadow: inset 0px 0px 3px #444;
	       -moz-box-shadow: inset 0px 0px 3px #444;
	        -ms-box-shadow: inset 0px 0px 3px #444;
	            box-shadow: inset 0px 0px 3px #444;
	}
}

.commentbox-yellow{
	position: relative;
	margin-left: 40px;
	padding: 10px 10px 0;
	background: #f8f4e9;
	border: 1px solid #cccccc;
	min-height:100px;
	@include border-radius(4px);

	.ticket-subject{
		padding-right: 320px;
	}
}
.commentbox-yellow:after, .commentbox-yellow:before {
	right: 100%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.commentbox-yellow:after {
	border-color: rgba(255, 253, 248, 0);
	border-right-color: #f8f4e9;
	border-width: 8px;
	top: 25px;
	margin-top: -8px;
}

.commentbox-yellow:before {
	border-color: rgba(204, 204, 204, 0);
	border-right-color: #cccccc;
	border-width: 9px;
	top: 25px;
	margin-top: -9px;
}


.commentbox-info{
	position: relative;
	margin-left: 40px;
	padding: 10px 10px 0;
	background: #f7f7f7;
	border: 1px solid #cccccc;
	height:75px;
	@include border-radius(4px);

	.ticket-subject{
		padding-right: 320px;
	}
}
.commentbox-info:after, .commentbox-info:before {
	right: 100%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.commentbox-info:after {
	border-color: rgba(255, 253, 248, 0);
	border-right-color: #f7f7f7;
	border-width: 8px;
	top: 25px;
	margin-top: -8px;
}

.commentbox-info:before {
	border-color: rgba(204, 204, 204, 0);
	border-right-color: #cccccc;
	border-width: 9px;
	top: 25px;
	margin-top: -9px;
}

// Agent Collision CSS
.fixedStrap .ticket-notifications {
	position: absolute;
	top: 20px;
}


.symbols-ac-show-reply{  background: sprite($symbol, ac-show-reply);  }
.symbols-ac-show-view{  background: sprite($symbol, ac-show-viewing);  }

/***** FIXED HEADER CSS ******/

.fixedStrap.at_the_top{
	position: fixed;
	top: 0;
	z-index: 99;
	margin: 0 auto;
	width: 85.5%;
	min-width: 1000px;
	background: #fff;
	@include box-shadow
		(300px 0px 0px 0px #fff, 
		-300px 0px 0px 0px #fff,
		0px 0px 20px 0px #e5e5e5,
		-37px 2px 10px rgba(0, 0, 0, 0.1),
		10px 2px 10px rgba(0, 0, 0, 0.1));
}
.tkt-sidebar .at_the_top{
	background-color:#fff;
	}

.drop-red, .drop-green, .drop-yellow{
	@include border-radius(3px);
	width: 18px;
	height: 18px;
	display: inline-block;
}

.drop-red{
	background-color: #f00;
	color: #f00;
}

.drop-green{
	background-color: green;
}

.drop-yellow{
	background-color: yellow;
}


/* Agent Collision CSS */

.reply-flip, .view-flip {
    position: absolute;
    display: inline-block;
    color: #fff;
    left: -12px;
    @include perspective(1000);
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px #ccc solid;
    @include opacity(0.15);
}
.reply-flip.active, .view-flip.active {
	@include opacity(1);
}
.view-flip {
    top: -5px;
}
.reply-flip {
    top: 30px;
}

.reply-flip, .view-flip {

	.flip-front, .flip-back{
	    position: absolute;
	    top: 0;
	    left: 0;
	    @include transform-style(preserve-3d);
	    @include backface-visibility(hidden);
	    -webkit-transition: 0.75s;
	    -moz-transition: 0.75s;
	    -o-transition: 0.75s;
	    transition: 0.75s;
	}

	.flip-front{
	   z-index: 5;
	   border-radius: 50%;
	   background: #333;
	   color: #fff;
	   width: 20px;
	   height: 20px;
	   background-repeat: no-repeat;
	}

	.flip-back {
		z-index: 0;
		border-radius: 50%;
		font-size: 10px;
		vertical-align: middle;
		text-align: center;
		padding-top: 5px;
		color: #fff;
		width: 20px;
		height: 15px;
		@include rotateY(-180deg);
		background: #333;
		color: #fff;
	}

	&:hover {
		.flip-front {
		    z-index: 5;
		    @include rotateY(180deg);
		    background: #333;
		}

		.flip-back  {
		    z-index: 10;
		    @include rotateY(0deg);
		}
	}

}
.reply-flip .flip-front {
   background-image: inline-image('collision/show-reply.png', 'image/png');
}

.view-flip .flip-front {
	background-image: inline-image('collision/show-viewing.png', 'image/png');
}

/* Keyframes for Agent Collision in Ticket view */

@-webkit-keyframes flipauto{
    0% {
        -webkit-transform: rotateY(0deg);
        z-index: 0;
    }
  100% {
        -webkit-transform: rotateY(180deg);
        z-index: 20;
    }
}

@-webkit-keyframes flipauto-back{
    0% {
        -webkit-transform: rotateY(0deg);
        z-index: 10;
    }
  100% {
        -webkit-transform: rotateY(180deg);
        z-index:10;
    }
}

@-moz-keyframes flipauto{
    0% {
        -moz-transform: rotateY(0deg);
        z-index: 0;
    }
  100% {
        -moz-transform: rotateY(180deg);
        z-index: 20;
    }
}

@-moz-keyframes flipauto-back{
    0% {
        -webkit-transform: rotateY(0deg);
        z-index: 10;
    }
  100% {
        -moz-transform: rotateY(180deg);
        z-index:10;
    }
}

@-ms-keyframes flipauto{
    0% {
        -ms-transform: rotateY(0deg);
        z-index: 0;
    }
  100% {
        -ms-transform: rotateY(180deg);
        z-index: 20;
    }
}

@-ms-keyframes flipauto-back{
    0% {
        -ms-transform: rotateY(0deg);
        z-index: 10;
    }
  100% {
        -ms-transform: rotateY(180deg);
        z-index:10;
    }
}

@keyframes flipauto{
    0% {
        transform: rotateY(0deg);
        z-index: 0;
    }
  100% {
        transform: rotateY(180deg);
        z-index: 20;
    }
}

@keyframes flipauto-back{
    0% {
        transform: rotateY(0deg);
        z-index: 10;
    }
  100% {
        transform: rotateY(180deg);
        z-index:10;
    }
}

.dropdown.open .dropdown-toggle {
	color: #333;
}
.redactor_insert_btns {
	position: absolute;
	z-index:5;
	right: 15px;

	.btn {
		border: none;
		background: none;
	}

	.dropdown-menu {
		margin-left: -100px;
	}
}


#revert_details_view {
	clear: both;
	margin: 0 0 20px;
	padding: 5px 0;
	border: solid 1px #DEDEDE;
	@include corners(5px);
	text-align: center;

	a.switch {
		width:140px;
		border-right: solid 1px #CCC;
		display: inline-block;
		margin-right: 10px;
	}
}


// Overriding common elements for new details page
.ticket_details {
	div.watchers_tooltip {
		margin: -11px 0px 0px 25px;

		.arrow-right {display:none}

	}
}