/* This import applies a global reset to any page that imports this stylesheet.*/
@import "lib/settings";
$walkthru-spacing: 40px;
@import "cdn-ignored/sprites/walkthru/*.png";

/* Sprite sheet for walkthru */
#tourmyapp{
	.tourmyapp{ background: inline-image("cdn-ignored/bg-repeats/walkthru-bg.png"); }
	.tourmyapp-close{ @include walkthru-sprite(tour-close); }
	.tourmyapp-pointer-bottom{ @include walkthru-sprite(arrow_top); }
	.tourmyapp-pointer-right{ @include walkthru-sprite(arrow_left); }
	.tourmyapp-pointer-top{ @include walkthru-sprite(arrow_bottom); }
	.tourmyapp-pointer-left{ @include walkthru-sprite(arrow_right); }
	.tourmyapp-content h3{ @include walkthru-sprite(touricon-white); }
}

#tourmyapp{ z-index: 1000000 !important; }
#tourmyapp .tourmyapp {	
	border: 1px solid #666;
	font-family: $blueprint-font-family;
	width: 400px;
	margin-top: -5px;
	@include box-shadow(0px 8px 40px rgba(0, 0, 0, 0.5));

	.tourmyapp-title {		
		@include border-radius(5px 5px 0 0);
		background-color:#243838;
		height: 40px;
		@include box-shadow(0 1px 0 rgba(255, 255, 255, 0.3) inset);
	}

	.tourmyapp-close {
		margin: 14px 17px 0 0;
	}

	.tourmyapp-pointer-border {
		border: none;
		position:absolute;
		background-repeat: no-repeat;
	}

	.tourmyapp-pointer-top {
		height: 25px;
		width: 31px;
		left: 184px;
	}

	.tourmyapp-pointer-bottom {
		height: 21px;
		width: 26px;
		left: 184px;
	}

	.tourmyapp-pointer-right, .tourmyapp-pointer-left {
		margin-top:-4px;
		height: 29px;
		width: 26px;
	}

	.tourmyapp-pointer-bottom{ top: -18px; }
	
	.tourmyapp-pointer-right{
		left: -25px;
		height: 32px;
		width: 27px;
		margin-top:-3px;
	}

	.tourmyapp-pointer-top{ margin-top: -14px; }
	.tourmyapp-pointer-left{ left: 387px; }
	.tourmyapp-pointer-fill{ display:none; }
    .tourmyapp-content, .tourmyapp-toolbar {
		padding: 10px;
		font-size: 13px;
		line-height: 20px;
		color: #333;
		p{ margin: 0; }
	}

	.tourmyapp-content{
	    margin-top: -40px;	    
        h3{
            color: #FFF;
            font-size: 16px;
            font-weight: bold;
            padding:0 0 20px 29px;
            margin: -1px 2px;
            text-shadow: -1px -1px 0px rgba(0, 0, 0, 0.4);
            line-height: 23px;
        }

        p {
        	padding: 0px 10px 0px 10px;
        	margin-bottom: 10px;
        }

        strong {
				font-size: inherit;
		}
    }

	.tourmyapp-step-index {
		font-weight:normal;
		font-size: 12px;
	}

	button {
		@include border-radius(5px);
		background: #338484;
		@include background-with-css2-fallback(linear-gradient(#338484, #166666));
		border: solid 1px #005454;
		padding: 5px 18px;
		font-weight: normal;
		font-size: 13px;
		@include text-shadow(1px  0 0 #3a3a3a);
		text-decoration: none;
	}

	.tourmyapp-branding{ display:none !important; }
	
	.next_button_arrow:after{
		content: "";		
		border: 5px solid transparent;
		float: right;
		border-left-color: #faf9f6;
		position: relative;
		left: 8px;
		top: 3px;
	}

	.tourmyapp-next_button:hover{
		cursor: pointer;
	}
}