<% content_for :layoutType do%>solutions_ltSidebar<% end %>
<% content_for :sidebar do %>
	<h4 class="product_title">
	  <div class="sol_category">
	  	#Category name#
	  </div>
  	</h4>	 
	<ul class="tableofcontents">	   
	   	<li>
			<h4>#Folder 1#</h4>
		</li>
		<li>
			<h4>#Folder 2#</h4>
		</li>
	</ul>
<% end %>

<div class="breadcrum">
	
</div>	
<div class="header_area">
	  <h4>
	  		<%= @article.title %>
	  </h4>
	  <div>Modified on <%= @article.updated_at.strftime("%B %e %Y at %I:%M %p") %></div>
	  </div>
	  <div class="page_area">
	  		<%= @article.description %>	
	  </div>		  
</div>
 