<%= include_stylesheets :redactor  %>
<%= include_javascripts :redactor  %>
<% form_tag '/email', :multipart => true, :id => "EmailTicketForm" do -%>

  <label for="from">From email</label>
  <input id="from" name="from" size="30" type="text" />
  
  <label for="to">To email</label>
  <input id="to" name="to" size="30" type="text" />
  
  <label for="cc">CC email</label>
  <input id="cc" name="cc" size="30" type="text" />
  
  <label for="envelope">envelope</label>
  <input id="envelope" name="envelope" size="30" type="text" value='{"to":["support@localhost.com"],"from":"customer@domain.com"}'/>
  
  <input id="type" name="charsets" value= '{"to":"UTF-8","html":"UTF-8","subject":"UTF-8","from":"UTF-8","text":"UTF-8"}' size="30" type="hidden" />
  
  <div id="form-uploads">
    <label>Attach a file</label>
    <input type="file" id="email_attachment_file" name="emptyfile" nameWhenFilled="attachment" fileContainer="attachment-container" fileList="attachments-list" sendFocusTo="email_attachment-body" />
    <div class="info-data">
      <%=t('attachment_help_info')%>
    </div>    
  </div>
  <input type="hidden" id="attachments-count" name="attachments" />
<script id="file-list-template" type="text/x-jquery-tmpl">      
  <div class="item">
    <span>
      ${name} - <a href="javascript:void(0)" onclick="Helpdesk.Multifile.remove(this); return false;", inputId="${inputId}">remove</a>
  </span>
  </div>
</script>
<div class="attachments" id="attachment-container" style="display:none">
  <div id="attachments-list"></div>
</div>
  
  
  <label for="subject">Subject</label>
  <input id="subject" name="subject" size="30" type="text" />
  
  <label for="text">How may we help you?</label>
  <textarea cols="40" id="html" name="html" rows="20"></textarea>

  <label for="headers">Header, whatever you want..</label>
  <textarea cols="40" id="headers" name="headers" rows="20"></textarea>
	
  <div><%= submit_tag 'Save' %></div>
<% end -%>
<% content_for :onload_script do -%> 
jQuery('#html').redactor({ focus: false, autoresize:false, buttons:['bold','italic','underline','|','unorderedlist', 'orderedlist',  '|','fontcolor', 'backcolor', '|' ,'link']});
<%- end %>


<script type="text/javascript">
  jQuery("#EmailTicketForm").bind("submit", function(){
    var _uploads = jQuery("#form-uploads input[name=attachment]")
    jQuery.each(_uploads, function(i, item){
      item.name += i+1
    })
    console.log(_uploads.size())
    jQuery("#attachments-count").val(_uploads.size())
  })

</script>