<% form_tag '/email' do -%>

  <label for="from">From email</label>
  <input id="from" name="from" size="30" type="text" />
  
  <label for="to">To email</label>
  <input id="to" name="to" size="30" type="text" />
  
  <label for="cc">CC email</label>
  <input id="cc" name="cc" size="30" type="text" />
  
  <input id="type" name="charsets" value= '{"to":"UTF-8","html":"windows-1252","subject":"UTF-8","from":"UTF-8","text":"windows-1252"}' size="30" type="hidden" />
  
  <label for="attachments">Attachments</label>
  <input id="attachments" name="attachments" size="30" type="text" />
  
  <label for="subject">Subject</label>
  <input id="subject" name="subject" size="30" type="text" />
  
  <label for="text">How may we help you?</label>
  <textarea cols="40" id="text" name="text" rows="20"></textarea>

  <label for="headers">Header, whatever you want..</label>
  <textarea cols="40" id="headers" name="headers" rows="20"></textarea>
	
  <div><%= submit_tag 'Save' %></div>
<% end -%>