<br/>
<br/>
<%= simple_format(@config.description) %>
<br/>
<br/>

P.S
<% if @export_url.present? %>
  You can download the file from <a href=<%= @export_url %>>here</a> (It will expire in 45 days). If the link does not work, copy and paste the URL below in your browser's address bar:
  <br/><br/> <%=  @export_url %>
<% else %>
  Please find the file attached with this mail.
<% end %>


