<% require 'sanitize' %>
<% if survey_handle && (survey_handle.preview? || ticket.requester.customer?) %>
  <%= render partial: 'layouts/shared/survey', locals: { survey_handle: survey_handle, rating: nil, translation_record: translation_record, language: language, preview: false, survey: nil } %>
<% end %>
<% if surveymonkey_survey %>
  <p>
    <%= "<br>------------------------<br>".html_safe unless in_placeholder %>
    <%= Sanitize.fragment(surveymonkey_survey[:text]).html_safe %>
    <br>
    <%= "<a href=\"#{surveymonkey_survey[:link]}\">#{h(surveymonkey_survey[:link])}</a>".html_safe %>
  </p>
<% end %>
