<%unless @dropboxes.blank? %>
	<div style='border-top: 1px solid; width: 50%; border-color: grey;'></div>
  	<% @dropboxes.each do |dbox|
      parsed_url = URI.escape(dbox.url)
      name = URI.parse(parsed_url).path[%r{[^/]+\z}] %>
      <table style='border: 0px solid; margin-top: 3px;' >
          <tbody>
          <tr>
          <td><span><img src='https://s3.amazonaws.com/assets.freshdesk.com/images/dropbox_big.png'/></span></td>
          <td><span><a href ='<%=URI.unescape(parsed_url)%>' target='_blank'><%=URI.unescape(name)%></a></span>
          </td>
          </tr>
      	</tbody>
       </table>
    </div>
  	<%end%>
  <%end%>