<%

# Getting previous 4 notes
prev_notes = ticket.notes.for_quoted_text(note.id)

last_conv = prev_notes.blank? ? ticket : prev_notes.first

if prev_notes.blank?
  last_reply_by = (last_conv.requester.name || '')+"&lt;"+(last_conv.requester.email || '')+"&gt;"
  last_reply_time = last_conv.created_at
  last_reply_content = last_conv.description_html
else
  last_reply_by = (last_conv.user.name || '')+"&lt;"+(last_conv.user.email || '')+"&gt;" 
  last_reply_by  = (ticket.reply_name || '')+"&lt;"+(ticket.reply_email || '')+"&gt;" unless last_conv.user.customer?       
  last_reply_time = last_conv.created_at
  last_reply_content = last_conv.body_html
  quote_added = false

  unless last_reply_content.blank?
    doc = Nokogiri::HTML(last_reply_content)
    doc_fd_css = doc.css('div.freshdesk_quote')
    unless doc_fd_css.blank?
      remove_prev_quote = doc_fd_css.xpath('//div/child::*[1][name()="blockquote"]')[3] # will show last 4 conversations apart from recent one
      remove_prev_quote.remove unless remove_prev_quote.blank?

      quote_added = true
    end
    last_reply_content = "
<blockquote class='freshdesk_quote'>
  On #{last_conv.created_at.strftime("%a, %b %e, %Y at %l:%M %p")} <span class='separator' /> , #{last_reply_by} wrote:
  #{doc.at_css("body").inner_html}
</blockquote>"
  end

  unless quote_added
    prev_notes.reverse!
    last_reply_content = ""
    prev_notes.each do |note|
      last_reply_content = "
<blockquote class='freshdesk_quote'>
  On #{note.created_at.strftime("%a, %b %e, %Y at %l:%M %p")} <span class='separator' /> , #{note.user.name} wrote:

  #{note.body_html}

  #{last_reply_content}
</blockquote>
      "
    end
  end

end


%>
<div class='freshdesk_quote'><%= last_reply_content %></div>