<div style="font-family:'Helvetica Neue', Helvetica, Arial, sans-serif">
	<%= @body.html_safe %>
	<%=render :partial => 'dropbox_template', :locals => { :dropboxes => @dropboxes} %>

	<%=render :partial => "satisfaction_survey", :locals => {:ticket => @ticket, :survey_handle => @survey_handle,
				:surveymonkey_survey => @surveymonkey_survey, :in_placeholder => false } %>

	<%= render :partial => 'shared/free_plan_message' %>
	<%#render :partial => "quoted_text", :locals => { :ticket => @ticket, :note => @note } if @include_quoted_text %>
</div>
