//@import "compass/css3/pie";
@import "compass/css3";

@mixin shadows($color: #aaaaaa, $x: 1px, $y: 2px, $spread: 2px) { 
  -moz-box-shadow: $color $x $y $spread;
  -webkit-box-shadow: $color $x $y $spread;
  box-shadow: $color $x $y $spread; }

@mixin inset-shadows($color: #aaaaaa, $x: 1px, $y: 1px, $spread: 1px) { 
  -moz-box-shadow: inset $x $y $spread $color;
  -webkit-box-shadow: inset $x $y $spread $color;
  box-shadow: inset $x $y $spread $color; 
}

@mixin corners($tl: 5px, $tr: nil, $br: nil, $bl: nil) { 
  @if $tr == nil {
    $tr: $tl; }
  @if $br == nil {
    $br: $tl; }
  @if $bl == nil {
    $bl: $tl; }
  -moz-border-radius: $tl $tr $br $bl;
  -webkit-border-radius: $tl $tr $br $bl;
  border-radius: $tl $tr $br $bl;
}

@mixin pointer-title($bg: #afafaf, $ht: 9px){
	@include border-left-radius(3px);
	height: $ht;
	&:before {
	   content:"";
	   position:absolute;
	   top:0px;
	   right:-($ht*2);
	   display:block; width:0; /* Firefox 3.0 damage limitation */
	   border:$ht solid transparent;   
	   height:0px;
	   font-size:0px;
	}
}

@mixin vertical-gradient($start: black, $end: #cccccc) {
  @include filter-gradient($start, $end);
  /* Fallback: */
  background: $start;
	/* CSS 3 plus vendor prefixes: */
  @include background-image(linear-gradient($start, $end));
}

@mixin wrap(){
	white-space: pre-wrap; /* css-3 */
	white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
	white-space: -pre-wrap; /* Opera 4-6 */
	white-space: -o-pre-wrap; /* Opera 7 */
	word-wrap: break-word; /* Internet Explorer 5.5+ */
}

@mixin rotate($degree: -90deg, $location: bottom left) {
	-moz-transform:rotate($degree); 
	-moz-transform-origin: $location;
	-webkit-transform: rotate($degree);
	-webkit-transform-origin: $location;
	-o-transform: rotate($degree);
	-o-transform-origin: $location;
}

@mixin text-formatting(){
   p, li, div{ 
      font-size: 13px;
      line-height: 18px;
      font-style: normal;
      margin:0;
   }                          
	 code, pre{ @include wrap(); }
   h1 {font-size: 2em}
   h2 {font-size: 1.5em}
   h3 {font-size: 1.17em}
   h4 {font-size: 1em}
   h5 {font-size: .83em}
   h6 {font-size: .75em}
   img {border:0; max-width: 100%; height: auto;}
   table {cursor:default; border:1px solid #afafaf; } 
   table td, table th {cursor:text; font-size: inherit; font-size: 13px; border:1px solid #afafaf; padding: 4px; }
   em{ font-style:italic; }
   ins {border-bottom:1px solid green; text-decoration: none; color:green}
   cite {border-bottom:1px dashed blue}
   acronym {border-bottom:1px dotted #CCC; cursor:help}
   abbr {border-bottom:1px dashed #CCC; cursor:help}
   ol, ul{ margin: 8px 0px 4px 0px; padding: 0px 0px 0px 40px; line-height: 17px;}
   ul{ list-style:disc outside;  }
   blockquote { font-size:13px; line-height:22px; margin:0.5em; color: #666; border-left: 1px dotted #999; padding:6px 6px 1px 1em; }
}