@mixin pie {
  behavior: url(/stylesheets/PIE.htc); 
}
 
@mixin shadows($color: #aaaaaa, $x: 1px, $y: 2px, $spread: 2px) { 
  -moz-box-shadow: $color $x $y $spread;
  -webkit-box-shadow: $color $x $y $spread;
  box-shadow: $color $x $y $spread; }

@mixin inset-shadows($color: #aaaaaa, $x: 1px, $y: 1px, $spread: 1px) { 
  -moz-box-shadow: inset $x $y $spread $color;
  -webkit-box-shadow: inset $x $y $spread $color;
  box-shadow: inset $x $y $spread $color; 
}

@mixin corners($tl: 5px, $tr: nil, $br: nil, $bl: nil) { 
  @if $tr == nil {
    $tr: $tl; }
  @if $br == nil {
    $br: $tl; }
  @if $bl == nil {
    $bl: $tl; }
  -moz-border-radius: $tl $tr $br $bl;
  -webkit-border-radius: $tl $tr $br $bl;
  border-radius: $tl $tr $br $bl; 
}

@mixin vertical-gradient($start: black, $end: #cccccc) {
  background: $start;
  background: -moz-linear-gradient(top, $start 0%, $end 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, $start), color-stop(100%, $end));
  background: linear-gradient($start, $end);
  -pie-background: linear-gradient($start, $end);
}

@mixin wrap(){
	white-space: pre-wrap; /* css-3 */
	white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
	white-space: -pre-wrap; /* Opera 4-6 */
	white-space: -o-pre-wrap; /* Opera 7 */
	word-wrap: break-word; /* Internet Explorer 5.5+ */
}

