/* This import applies a global reset to any page that imports this stylesheet.*/
@import "base";
@import "mixins";

/* Importing admin icons */
@import "admin-icon/*.png";

/* Ticket Show page twitter style icons */ 
$ticketicon: sprite-map("ticket-icon/*.png");

/* Bullet icon */ 
$bullet-icon:"symbols/request_nav_seperator.gif";
body { color: #333; background:$background; min-width:$blueprint-liquid-container-min-width+20; }

/* PAGE AREA STYLE */ 

.sp_border{
	border:1px solid darken($background, 15%); 
}

.pagearea, .sidepanel, .rtCnt, .no-helpdesk{
	background-color:#ffffff;	
}

.pagearea, .sidepanel, .rtCnt, .no-helpdesk, #errorExplanation, .flash_info{  
   @extend .sp_border;
	padding:14px 20px; margin:0px 10px 10px 0px;
}

.sidepanel, .rtCnt{
	@include shadows(rgba(0,0,0, 0.05), 0px, 1px, 2px);
}

.pagearea{
	@include min-height(450px);
	@include shadows(rgba(0,0,0, 0.2), 0px, 2px, 3px);
	position:relative;
}

ul.activityfeed, ul.summary{
	list-style:none;
	padding:0px;
}

ul.summary{
// @include pie;
	@include corners(6px);
	@include inset-shadows(#ececec, 1px, 1px, 2px);
	background-color:#f7f7f7; border:1px solid #f7f7f7;
	margin-bottom:10px; 
	li{ 
		@include float-left; 
		margin:2px 0px;
		padding:0px 0px 4px 0px; width:106px;
		border-right:1px solid #e8e8e8; text-align:center;
		a{ 
			text-decoration:none; color:#333333; text-align:center;
			span{
				display:block;
				position:relative;
				top:8px;
			}
			h4{			 
				font-size:36px; color:#666666;
				padding-top:8px;	
				font-weight:bold; 
			}
		}	
		a.overdue{
			color:#996666;
			h4{ color:#a65252; }
		}
	}	
	li.last { border:0px; }		 
}  

ul.activityfeed li{ 
	border-bottom:1px solid #f7f7f7;
	padding:8px 0px 4px 70px;
	display:block; 
	color:#666666;
	font-size:1.1em; line-height:1.5;
	.preview_pic{
		margin-left:-68px;
	}
	a{ 
		@include link-colors(#3e71a4, #3e71a4, #3e71a4, #3e71a4, #3e71a4);
	   	text-decoration:none; 
	}
	.activity_time{ color:#a6a6a6; padding-top:3px;}
}

/* SIDEBAR CONTAINERS */

.no-helpdesk{
	margin:50px auto;
	padding:18px 20px 30px 20px;
	text-align:center;
	max-width:700px; 
}

.no-helpdesk p{
	font-size:15px; 
	line-height:1.5em; 
	margin:0px;
	text-align:center;
}

.sidepanel{
	p{
		font-size:14px; 
		line-height:1.5em;
		font-family:georgia;
		margin:0px 0px 14px 0px;
	}  
	.element{
		padding:4px 16px 16px 16px;
		margin:0px -20px; 
		font-size:13px;
		h4{
			border-bottom:1px solid #f1f1f1;
			padding-bottom:1px;
			margin-bottom:6px;
		} 
		.edit{
			float:right;
			margin-top:4px;
			a{ font-size: 12px; text-decoration:none; }
		}
	}
	.element.first{
		border-top:0px;
	}
	.element.last{
		border-bottom:0px;
	}
} 

.left_connected{
	position:relative;
	left:3px;
	border-right:0px;
	margin:12px 0px;
}

.ui-list_with_icon{ 
	@include pretty-bullets($bullet-icon, 8px, 0px);
	padding-top:5px;
	list-style:none;
	margin:0px;
	padding:0px; 
	li{ 
		padding:4px 0px 4px 18px; 
		color:#41658a;
		position:relative;
	}
	li img{
		position:absolute;
		left:0px; top:4px;
	}
	li a{
		@include link-colors(#444444, #527EAA, #527EAA, #333333);
		font-size:1.0em; line-height:1.5;
		text-decoration:none;
	}
}

.user_name{ font-weight:bold; color:#527eaa; }
.ticket_title{ font-weight:bold; color:#527eaa; }

.pageSeperator{
	border-top:1px solid #fefefe;
	border-bottom:1px solid #efefef;	
	margin:0px 18px;
}
		
h3.content_title, h2.content_title{
		color:#333333;
		font-size:1.50em; 
		padding:14px 0px 2px 0px;			
		margin:0px; 
		img{
			float:left;
			position:relative;
			top:-8px;
			left:-2px;			
		}
}

h3.content_title.withPadding{
	margin:2px 0px 4px 25px;
}

h2.content_title{	
		font-size:1.9em;
		margin-top:6px;
}


			
.pageContent{
	/*padding:10px 18px;*/	
	h2{
		color:#555;
	}	 
	.subtitle{
		font-style:italic;
		color:#333333;
		font-size:0.8em; 
	}
}

 
/* Sharp Fold Corners */


.ltSlant, .rtSlant{
	  width: 0;
	  height: 0;
	  position: absolute;  
	  overflow: hidden; /* IE fix */ 
}

.ltSlant{
	  border-left: 11px solid #FFF; /* IE fix */
	  border-left: 11px solid rgba(0,0,0,0); 
}
.rtSlant{	 
	  border-right: 11px solid #FFF; /* IE fix */
	  border-right: 11px solid rgba(0,0,0,0); 
}

.title_corner{
	left:-10px;
	top:0px;
	position:absolute;
	width:10px;
	height:100%;
	background:#ecedf3;
	span.ltSlant{
		top:-10px; 
		border-bottom-color:#c5c8dc;
	}
}

/* Page Style */
 
.tab-buttons{ 
	margin-left:10px;
	@include no-bullets;
	li{
		float:left;
		padding:2px 8px;
		margin:0px 5px;
		@include border-radius(0.8em);
		border:1px solid #afafaf;	
		@include vertical-gradient(#ffffff, #efefef);  
		a{
			text-decoration:none;
			color:#333;
		}
		 
	}
} 
		
.viewActions{
	border:1px solid #e7e7e7;	 
	background: #F9F9F9; /* old browsers */
	background: -moz-linear-gradient(top, #F9F9F9 0%, #ECECEC 100%); /* firefox */	
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#F9F9F9), color-stop(100%,#ECECEC)); /* webkit */
	
	padding:5px 10px 0px 10px; 
	
	@include clearfix; 
 
	h4{
		font-size:1.2em;
		color:#666666;
		float:left;		
	}
	.vert-seperator{
		border-left:1px solid #fff;
		background:#afafaf;
		width:1px;		
		margin:0px 5px;
	}
	ul.actionpanel{
		@include inline-block-list;
		clear:left;
		.sort{
			select{
				width:130px;
				margin:0px 6px;
			}
		}
	}
} 

.actionsRight{
	float:right;
	position:relative;
	top:-31px;
}

.actions_bar{
	margin:10px 0px 4px 0px;
	display:block;
	@include corners(6px);
	padding:2px 4px;
	background-color:#efefef;
	border:1px solid #efefef;
	border-bottom:1px solid #cfcfcf;
	border-right:1px solid #cfcfcf;
	ul{ 
		@include horizontal-list; 
	} 	
}

ul.secondary-actions{
	background-color:#f5f5f5;
	@include inline-block-list;
	li{
		border-bottom:0px;
		margin:8px 3px;
	}
}  
	
/* Control Buttons */
.bulk_checkbox{
	.button{
		padding:2px 3px;
		input{
			position:relative;
			top:-1px;
		}
	}
}

div.checkbox{
	@include clearfix;
	input{
		float:left;
	}
}

div.leader-left{
    border-bottom: 1px dotted #ccc;
}

div.leader-right{
    float: right; 
    font-weight: normal; 
    margin-top: 3px;

}

.ui-dropdown-button{
	background:#efefef;
	@include border-radius(0.8em);
	@include inline-block;
	list-style:none;
	margin:0px;
	padding:3px 6px;
	
} 

.forum_type{
	padding:6px 12px;
	color:#ffffff;
	text-transform:uppercase;
	@include corners(4px, 4px, 0px, 0px);
	margin:10px 6px 0px 6px;
	font-weight:bold;
	font-size:9px;
}

/* Request Details page */

ul.ui-list-2col, ul.ticket_properties{ 
	@include clearfix; 
	list-style:none;
	padding:6px 0px 3px 0px;
	margin:0px 0px 5px 0px;
	li{ 
		font-weight:bold;
		color:#565656;
		float:left;
		padding:2px 0px;
		width:50%;
		span, label{
			display:inline-block;
			font-weight:normal;
			width:30%;
			text-align:right;
			padding-right:6px; 
			font-size:inherit;
		}
	}
	input, select, textarea{
		width:auto;
	}
} 

.request_nav{
	float:right;
	padding:4px 12px;
	a{ 
		color:#2c86c7;
		text-decoration:none;
		text-transform:uppercase;
	}
}
a.nav_older{
		padding-left:10px; 
		background:url("../images/older_arrow.gif") no-repeat left;
}
	
a.nav_new{
	padding-right:10px; 
	background:url("../images/newer_arrow.gif") no-repeat right;
}


div.preview_pic{
	padding:0px;
	@include float-left;
	margin-right:10px;
	img{			
		padding:3px;
		background:#ffffff;
		border:1px solid #efefef;
		width:50px;
		height:50px;
	}
}

div.profile_pic{
	img{
		padding:3px;
		background:#ffffff;
		border:1px solid #cfcfcf;		
		@include shadows(#dfdfdf, 0px, 1px, 3px);
	}
}

body h5{
	padding:0px;
	margin:0px;
}

.bottom-actions{
	font-size:11px; 
	padding:4px 0px;
	margin-bottom:8px;
	background-color:#f6f6f6;
	a{
		@include link-colors(#4D769F, #3399cc, #4D769F, #4D769F); 
		text-decoration:none;
		font-weight:bold;
		padding:0px 8px;
	}
	a.first{
		padding-left:0px;
	}
}

.request_details{	  
	.ticket_actions{
		position:relative; 
		display:inline;
		float:right;
		margin-top:-30px; 
		.action_buttons{
			margin-top:0px;
		} 
	} 
	.bookmark{
		display:none;
	}
	
	.requestCnt{		 
		padding:10px 20px;		
		position:relative;
		margin:5px -20px 16px -20px;
		background:#ffffff;
		border:1px solid #f1f1f1;
		border-width:1px 0px;
		.title{ 			
			color:#555555; 
			em{ 			
				font-style:normal;
				font-weight:normal;
				color:#888888;
				font-size:1.1em;  
			}
			b{
				line-height:24px;
				font-size:1.08em;
				font-weight:normal;
			}
		}
		.mark_action{
			float:right;
			padding:0px;
			margin:0px;
			margin-top:8px;
		}
		.seperator{
			margin:6px 0px;
			border-bottom: 1px solid #EFEFEF;
		}
	}
	
	.request-cnt-first{
		background:#fafafa;  
		div.description{  
			margin-left:60px;
			.preview_pic{
				margin-left:-70px;
			}	
		}
	}
	
	div.description{  
			margin:8px 0px 8px 70px;
			padding:0px 0px 0px 10px; 
			position: relative;
			.details{ 
				padding:8px 0px 3px 0px;
				margin-top:4px;
				border-top:1px solid #efefef; 
				color:#333333; 
				font-size:13px;
				@include text-formatting;
				.ui-form{
					@include corners(0px);
					border-left:0px;
					border-right:0px;
					padding:0px;
					padding-top:16px;
					margin: -1px -12px;
					label{
						font-size:13px;
					}
					li{ 
						border:0px;
					}
					.button-container{
						width:93%;
					}
				}
			}
			.min_height{
				@include min-height(100px);
			}
			.preview_pic{
				position:absolute;
				margin-left:-80px;
				margin-top:-2px;
			}
			.user_details{
				color:#777777;
				font-size:13px;
				a{
					text-decoration:none;
					color:#527eaa;
					text-transform:capitalize;	
				}
				a:hover{
					text-decoration:none;
				}
				div{
					padding:2px 0px;
				}
				.loading-edit{
					position:absolute;
					width:16px;
					height:11px;
					margin:3px 8px;
					@extend .loading-fb;
				}
			}
		}
	
	.request-conversation{
		padding-top:0px;
		padding-right:0px;
		padding-bottom:0px;
		background-color:#FAFAFA;
		div.description{
			border-left:1px solid #efefef;
			background-color:#ffffff;
			margin:0px 0px 0px 70px;
			padding:12px;
			border-bottom:1px solid #efefef;
			.preview_pic{
				margin-top:-4px;
			}
			.details{
				border-top:0px;
			}
		}
	}
		
	.request_desp { 
		margin:0px 10px 0px 10px;
		@include clearfix;		
		.sub_title{
			color:#454545; 
			display:block;
			font-weight:bold;
			text-transform:capitalize;	
			font-size:14px;
		}		
	}
	
	.request_status{
		float:right; 
		position:relative;
		top:-18px;
		border:1px solid #d3d497;
		@include vertical-gradient(#FEFEDF, #FBFD90);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FEFEDF', endColorstr='#FBFD90',GradientType=0 ); /* IE6-9 */
		
		img{
			position:absolute;
			left:-6px;
			top:0px;
		}
	
		ul{ 			
			color:#979866;
			font-weight:bold;	
			padding:6px 10px; 
			list-style:none;
			margin:0px;
		}
	
		ul b{ 
			float:left;	
			font-weight:normal;
		}
		
		span.ltSlant{
			display:none;
			position:absolute;
			font-size:0px;
			line-height:0px;
			width:0px;
			height:0px;
			left:-9px;
			top:-1px;
			border:4px solid white;
			border-right-color:#d3d497;
			border-bottom-color:#d3d497;
		}
	}
	.subtitle{
			margin:0px;
			padding:8px 0px;
			font-size:14px;
			font-weight:bold;
			color:#333333;
	} 
	
}


.seperator{
	border-bottom: 1px solid #efefef;
	font-size:0px;
	display:block;
	height:1px;
	margin:5px 0px;
}

.attachment_list, .ui-form .attachment_list{
	@include no-bullets;
	color:#888987; 
	margin-top:3px;
	padding:0px;
	@include clearfix;	
	li{
		@include clearfix;
		@include corners(3px);
		float:left;
		font-size:11px;
		width:25%;
		padding:5px 4px 5px 42px;
		margin:3px 0;
		@include min-height(40px); 
		position:relative;
		.preview_img{
			margin:8px 0px;
			position:absolute;
			width:34px; 
			left:5px;
			top:0px;
			img.image{
				margin:0px 0px 0px 0px;
				width:32px; height:32px;
			}
		}	
		a{
			@include link-colors(#6699cc, #336699, #6699cc, #6699cc);
			text-decoration:none;
		} 
		name a{
			@include ellipsis;
		}
		.delete{
			position:absolute;
			right:0px;
			display:none;
			top:0px;
		}
	} 
	li:hover{
		background:#f2e9d1;
		a{
			@include link-colors(#993333, #333333, #993333, #993333);
			text-decoration:none;
		} 
		.delete{
			display:block;
		}
	}
}

.timestamp{
	color:#999999;
	font-size:11px;
}
 
.ticket-panel{
	@include corners(0, 12px, 12px, 0);
	background-color:#3f3f3f;
}

.rtCnt{
	padding:0px 0px 0px 0px;
	border:0px !important;
	.local_activities{
		a{
			font-weight:bold;
			@include link-colors(#527EAA, #527EAA, #527EAA, #527EAA, #527EAA);
		}
		.activity_time{
			color:#999999;
			padding:3px 0px;
		}
	}
	
	.rtDetails_forum{
		@include corners(6px);
		padding:14px 14px 6px 14px;
		h4.title{
			font-size:13px; 
			color:#afafaf;
		}
		@include min-height(230px);
		.mark_action{
			margin-bottom:14px;
		}
	}
	
	.rtDetails{
		@include min-height(550px);
		box-shadow:0 0 40px rgba(0, 0, 0, 0.05) inset;
	}
	
	.rtDetails{
		margin:0px 78px 0px 0px;  
		padding-top:5px; 
		z-index:10; 
		background-color:#ffffff;
		border:1px solid #cfcfcf;
		position:relative;
		h3.title{
			font-size:14px;
			padding:0px 10px 3px 10px;
			display:block;
			margin:0px;
			margin-top:5px;
		}
		.ui-list_with_icon{
			margin:6px;
		}
		.cnt{
			@include no-bullets;
			margin-top:-6px;
			padding:0px 10px 8px 10px;
			li{
				border-bottom:1px solid #f3f3f3;
				padding:6px 0px;
				label{
					display:block;
					font-size:11px;
					font-weight:bold;
					color:#666666;
				}
				select{
					font-size:11px;
					max-width:100%;
				}
				span.edit-item{
				 	background: sprite($icons, edit-item) no-repeat;	
					float:right;
					width:16px;
					height:16px;
					margin-top:-2px;
					cursor:pointer;
				}
			}
			li.button-container{
				border-bottom:0px;
			}
		}
	}
	
	$spritesize:44px;
	
	.rtPanel{
		float:right;
		width:75px;
		position:relative;
		z-index:9;
		padding-top:6px;
		text-align:center;
		a{
			display:block;
			font-size:11px;
			text-decoration:none;
			font-weight:bold;
			color:#9aa2a9;
			padding:5px;
			margin-bottom:10px;
			text-align:center; 
			img{
				width:44px;
				height:32px;
			}
			img.ticketprop{
				background: sprite($ticketicon, properties) no-repeat;
			}
			img.suggestsolutions{
				background: sprite($ticketicon, solutions) no-repeat;
			}
			img.scenario{ 
				background: sprite($ticketicon, scenario) no-repeat;
			}
			img.requesterinfo{ 
				background: sprite($ticketicon, user-info) no-repeat;
			}
			img.todo{ 
				background: sprite($ticketicon, todo) no-repeat;
			}
			img.tags{ 
				background: sprite($ticketicon, tag) no-repeat;
			}
			img.activity{ 
				background: sprite($ticketicon, activity) no-repeat;
			}
			
			em{
				display:block;
				font-style:normal;
				line-height:11px;
				white-space:normal;
				padding-top:0px;
				@include wrap;
			} 
		}
		a.active, a:hover{
			img.ticketprop{ 
				background: sprite($ticketicon, properties_active) no-repeat;
			}
			img.suggestsolutions{ 
				background: sprite($ticketicon, solutions_active) no-repeat;
			}
			img.scenario{ 
				background: sprite($ticketicon, scenario_active) no-repeat;
			}
			img.requesterinfo{ 
				background: sprite($ticketicon, user-info_active) no-repeat;
			}
			img.todo{ 
				background: sprite($ticketicon, todo_active) no-repeat;
			}
			img.tags{ 
				background: sprite($ticketicon, tag_active) no-repeat;
			}
			img.activity{ 
				background: sprite($ticketicon, activity_active) no-repeat;
			}
			color:#ffffff;
		}
		
	}
}

ul.admin_icons{
	@include clearfix;
	list-style:none;
	li{
		float:left;
		padding-right:10px;
		position:relative;
		@include min-height(90px);
		a{
			position:relative;
			display:block;
			padding:8px 0px 2px 0px;
			text-align:center; 
			text-decoration:none;
			color:#3a3a3a;
			width:100px;
			img{ height:32px; width:32px; }
			div{
				@include wrap;
				font-size:13px;
				line-height:18px;
				margin:6px 0px;
				padding:1px 3px;
				position:relative;
			}
			@include corners(6px);
//       @include pie;
		}
		a:hover{
			color:#000000;
			background:#f2f2f2;
			@include inset-shadows(rgba(0,0,0, 0.2), 0, 1px, 2px);	
		}
	}
}
@include all-admin-icon-sprites;

.mark_action{ 
	a, .stamp{
		padding:2px 6px; 
		margin:0px 0px 6px 0px;
		@include corners(4px);
		@include link_colors(#ffffff, #ffffaf, #ffffff, #ffffff);
		text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
		font-size:12px;
		text-decoration:none;
		font-weight:bold;
	}
	a{
		background: #666666;
		color:#ffffff;
	}
	
	.stamp{
		margin:0px 8px;
		@include min-width(80px);
		text-align:center;
	}
	
	a.hover, a.active{
		@include inset-shadows(#000000, 0px, 1px, 2px);				
	}
	
	.stamp.stamp_type_1{
		background: #3EA9E0;
	} 		
	.stamp.stamp_type_2{
		background:lighten(#336600, 10%);
	} 	
	.stamp.stamp_type_3{
		background:#993333;
	}
}

.stamp_answer{
	background-color:#336600;
	color:#ffffff;
	padding:3px 12px;
	@include corners(4px);
	margin:2px 5px;
	position:relative;
	top:-6px;
}

div.panel_area{
	padding:10px;
	label{
		display:inline;
	}
	a{
		text-decoration:none;
		@include link-colors(#333333, #527EAA);
	}
	.tag_item{
		background:#efefef; 
		@include corners(6px);
		padding:3px 8px;
		display:block;
		margin:3px 0px;
	}
	.tag_delete{
		color:#527EAA;
		font-weight:bold;
		font-size:10px;
		position:absolute;
		right:3px;
		top:2px;
	}
	div.item{
		display:block;
		position:relative;
	}
}

.action_icons{ 
	img{
		background-color:none;
		width:28px;
		height:28px;
	}
	.monitor img{ 
		background: sprite($ticketicon, monitor) no-repeat;
	}
	.monitor_active img{ 
		background: sprite($ticketicon, monitor_active) no-repeat;
	}
	.spam img{ 
		background: sprite($ticketicon, flag-spam) no-repeat;
	}
	.spam_active img{ 
		background: sprite($ticketicon, flag-spam_active) no-repeat;
	}
}

.request_panel_list{
	margin:5px 3px;
	border:1px solid #cfcfcf;
	div.item{
		@include vertical-gradient(#efefef, #dfdfdf);
		padding:3px 8px;
		a{
			font-size:12px;
			@include link-colors(#333333);
			display:block;
			text-decoration:none;
			padding:5px;
		}
	}
}

.expando{
	border:1px solid #DFDFDF;
	color:#333333;
	font-size:12px;
	padding:5px 5px;
	width:98%;
	clear:both;
	text-align:left;
	overflow:hidden;
} 

.request_bt{
	color:#333; 
	padding:5px 12px 5px 12px;	
	font-weight:bold;
	background: #ffffff; /* old browsers */
	background: -moz-linear-gradient(top, #ffffff 0%, #e5e5e5 100%); /* firefox */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#e5e5e5)); /* webkit */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=0 ); /* ie */
	border:1px solid #afafaf; 
}
a.request_bt:hover{
	background:#fff; 
	border-color:#dae0c1; 
	color:#333;	
}

 
.user_details_widget{ 
	padding:10px;
	div{
		padding:3px 0px; 
	}
	a, a.user_name{
		color:#527EAA;
	}
	.preview_pic img{
		padding:0px;
		border:0px;
		margin-bottom:8px;
		width:auto;
		height:auto;
		border:1px solid #afafaf;
	}
} 

.ui-rightColSubTab{
	@include horizontal-list; 
	border-bottom:1px solid #b9d6eb;
	li{
		a{
			background:#f3f8fd;
			border:1px solid #d7e8f5;
			border-bottom-width:0px;
			color:#454545;
			padding:5px 12px; 
			position:relative;
			display:inline-block;
			@include border-top-radius(0.55em);
			text-decoration:none;
		}
	}
	li.first{
		margin-left:6px; 
	}
	li.active a{
		border-color:#b9d6eb;
		background-color:#ffffff;
		color:#6f6f6f;
		top:1px;
		padding-top:6px;
		font-weight:bold;
	}
}  

.ui-rightList{
	font-size:0.75em;
	background:#fff;
	padding:8px 0px 10px 0px;
}
.ui-rightList li{
	padding:4px 10px 4px 23px;
	color:#41658a;
	position:relative;
}
.ui-rightList li a{
	color:#41658a;
}

/* User Guide styles */
.sol_category{
	padding:55px 5px 5px 5px;
	margin:0px;
	background:url('/images/icons/solutions.png') no-repeat center 3px;
	font-weight:bold;		
	text-align:center;		
}

.admin{
	padding:0px 0px 10px 0px;
	margin:0px 8px 10px 10px;
	border-bottom:1px solid #ededed;
	h3.title{
		margin-bottom:16px;
	}
} 

.guide_page{
	padding:10px;
	border:1px solid #efefef;
	ul{
		li{
			a{
				color:#444;
			}
			a:hover{
				text-decoration:none;
			}
		}
	}
}

.product_help, .general_help{
	float:left;
	width:48%;	
}
.general_help{
	border-left:2px solid #efefef;
	padding-left:2%;
}


.guide_details{ 
	background:#fefefe;
	padding:4px 8% 4px 12px;
}

.tableofcontents{
	padding:0px;margin:12px 5px 6px 18px;	 
	list-style:none;
	h4{
		margin:8px 0px 6px 0px;
		a{
			text-decoration:none;
			color:#393939;
		}
	}
	ul{
		margin:0px;
		padding:0px 6px 6px 8px;	 
		list-style:none;
	}
	a:hover{
		text-decoration:none;
	}
}

.search_box{
	input{
		display:inline-block; 
		border:1px solid #afafaf;
		padding:3px 2px;
		@include corners(6px);
		width:300px;
	}
	
}


.contactForm{
	padding-top:20px;
	.personalCard{
		background: #E7F1E0;  
		background: -moz-linear-gradient(top, #E7F1E0 0%, #DAECD4 100%);  
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#E7F1E0), color-stop(100%,#DAECD4));  
		img{
			float:left;
		}
	}	
	ul{
		@include no-bullets;
		padding:0px;margin:0px;
	}
	label{
		font-size:1.0em;
		display:inline-block;
	}
	.overlabel{
		margin-top:7px;
		color:#aaaaaa;
	}
	input{
		display:inline-block;
	}
	
}

h4.list_title{
	margin:3px 8px; 
	padding:0px;
}

.forums{
	border:1px solid #efefef;
	td{
		border:1px solid #f0f0f0;
		text-align:left;
	}
	td.c1{
		background:#efefef;
	}
}

.topics_list_grid{
	.item{
		@include clearfix;
		border-bottom:1px solid #efefef;
		padding:10px 15px 6px 60px;
		position:relative;
		.topic_icon{
			position:absolute; 
			left:15px; top:8px;
		} 
		h4.topic_title{
			margin:0px;		
			font-weight:bold;
			font-size:12px;
			a{
				color:#1A6690;
			}
		}
		a{
			text-decoration:none;
			color:#1A6690;
		}
	}
}

.icon_text{
	font-size:10px;
	font-weight:bold;
	text-transform:uppercase;
	width:100%;
	background-color:#888888;
	color:#ffffff;
	padding:0px 2px;
	@include corners(3px);
	@include ellipsis;
}

.list_icon_large_full_width{
	background:#ffffff;
	@include corners(6px);
	@include clearfix;
	margin:5px 8px;
	padding:6px;
	.item{
		@include min-height(42px);
		border-bottom:1px solid #F3F1EC;
		padding:6px 6px 6px 45px;
		position:relative;
		.topic_icon{
			margin:2px;
			left:5px;
			top:5px;
			position:absolute;
			width:32px;
			text-align:center;
			
			.locked{
				position:absolute;
				bottom:0px;
				left:0px;
			}
		}
		.topic_title{
			font-size:14px;
			padding:0px 0px 1px 0px;
			margin:0px;
		}	
		.info{
			font-size:11px;
			color:#888888;
		}
	}
}

.no_info_text, .no-info-text{
	font-weight:normal;	
	color:#aaaaaa;
	font-size:12px;
	padding:2px 0px 6px 0px;
	a{ 
		@include link-colors(#4D769F, #3399cc, #4D769F, #4D769F);
		text-decoration:none;
		font-size:12px;
	}
}
 
.big-info{
	text-align:center;
	padding:12px 8px;
	.no-info-text{
		font-size:22px;
		line-height:1.7em;
	}
} 

.topics_list{
	ul.base_set{
		padding-top:16px;
		li{
			width:100%;
			margin-bottom:10px;
			border-bottom:1px solid #efefef;
		}
		li{  
			.topic_icon{
			 	@include float-left; 
			 	margin-right:10px;
			}
		}
		h4.topic_title{
			margin:0px;		
			font-weight:bold;
			a{
				color:#1A6690;
			}
		}
		a{
			text-decoration:none;
			color:#1A6690;
		}
	} 
}

.alpha_sort_list{ 
	@include clearfix;
	list-style:none;
	display:block;
	margin:0px -20px;
	background:#f1f1f1;
	padding:4px 30px;
	li{
		float:left;
		margin:0px;
		padding:3px 0px;		
		a{			
			border:1px solid #dedede;	
			background: #efefef;			
			font-weight:bold;
			text-decoration:none;
			font-size:11px;
			padding:5px 6px;
			color: #909090;
		}
	}
	li.active a, li a:hover{
			color:#333333;
			border-color:#f5f5f5f;
			background: #fff;					
	}
	li.first a{ 
		border-left:1px solid #dedede;	
	}
	li.last a{ 
		border-right:1px solid #dedede;		
	}
} 

.contact_table{
	border:3px solid #e8e8e8;
	@include corners(6px);	
	@include no-bullets;
	margin:0px;padding:0px;
	li{
		border-bottom:1px solid #e2e2e2; 
		vertical-align:top;
		padding:3px;
		margin:0px;
		font-size:1.1em;
		b{
			color:#666666;
		}
		a.user_name{
			display:block;
			font-weight:normal;
			font-size:1.3em;
			color:#336699;
			padding:0px 0px 0px 0px;
			margin:0px;
			text-decoration:none;
			text-transform:capitalize;
		}
		div{
			margin:0px; padding:0px;
		}		
	}  
}
 
span.sort_handle{
			position:relative;
			float:left;
			left:0px;
			top:1px;
			width:25px;
			height:25px;
			cursor:move;
			background:url(/images/sort_handle.gif) no-repeat;
			@include corners(5px);
}

.deactivated{
	li{
		background:#f6f6f6;
		a.item_info{
			color:#666666;
			}
	}
}



.sortable{
	background:#efefef;
	border-top:1px solid #cfcfcf;
	padding:2px 20px 10px 20px;
	margin:0px -20px;
	
	span.sort_handle{
		margin:0px 5px 0px 0px;
		position:relative;
		top:-1px !important;
	}
	.actions{
		padding:3px 10px 6px 3px;
		text-align:right;
	}
	li{
		cursor:move;
		border:1px solid #dfdfdf;
		margin:1px 10px;
		border-bottom-color:#bfbfbfb;
		border-right-color:#bfbfbfb;
		font-size:1.2em;
		padding:5px 5px 0px 5px;
		@include corners(2px);
	}
	li.ui-sortable-placeholder{
		border-color:#efefef;
		background-color:#efefef !important;
	}
}

 

.infoPage{	
	position:relative;
	h3.info_title{
		font-size:2.0em;
		margin:0px 0px;
		padding:4px 0px;
	}
	h4.info_title{
		font-size:1.3em;
		margin:0px 0px;
		padding:4px 0px;
		a{
			text-decoration:none;
			color:#336699;
		}
	}	
	.info_subtitle{
		font-size:1.3em;
		font-weight:bold;
	}
	span.seperator{
		border-color:#97acb8;
		margin:15px 0px;
	}
	p.info{		
		color:#333333;
		background-color: transparent;
		display: block;
		font-size: 13px;
		line-height: 18px;
		margin-bottom: 0px 0px 13px 0px;
		padding:0px;
		text-align: left;

	}
}

.company{
	margin:12px 19px 12px 50px;
	.building_pic{
		position:absolute;
		left:-40px;
	}
}

.contact{
	margin:12px 19px 12px 170px;
	.profile_pic{
		position:absolute; 
		left:-150px;
	}
}

.contact_info{
		clear:left;
		margin:5px;
		.icon_text{
			font-size:1.1em;
			padding:2px 0px 0px 30px;
			position:relative;
			background:none;
			span{
				em{
					font-style:normal;
					float:left;
					@include min-width(60px);
				}
			}
			img{
				position:absolute;
				left:0px;
				top:0px;
			}
			a, span{
				display:block;
			}
			a{			
				text-decoration:none;
				color:#336699;				
			}
		}
	}



ul.item_list{
	@include no-bullets;		
	@include clearfix;	
	margin:0px;			
	padding:0px;	
	background:#f8f8f8;
	border:1px solid #dfdfdf;
	border-bottom-color:#e8e8e8;
	border-left-color:#e8e8e8;
	li{
		padding:5px;
		margin:5px;
		font-size:12px;
		@include clearfix;
		position:relative;
		@include min-width(150px);
		@include corners(6px);
		a{
			text-decoration:none;				
		}	
		div.preview_pic{
			margin-right:5px;
			img{
				width:32px;
				height:32px;		
			}
		} 
		b{
			position:relative;	
			top:2px;
		}
		.selected_tick{
			position:absolute;
			left:3px; bottom:3px;
			display:none;		
		}
		.control{
			position:absolute;
			right:3px; bottom:3px;
			display:none;
		}
	}
	li:hover{
		background:#efefef;
	}
	li:hover .selected_tick, li:hover .control{
		display:block;
	}
}

ul.active{	
	a{			
		color:#336699;		
	}
	.selected_tick{
		background:url('/images/delete.png') no-repeat;
	}
}

ul.inactive{
	a{
		@include opacity(0.6);		
		color:#333333;	
	}
	a:hover{
		@include opacity(1);
	}
	.selected_tick{
		background:url('/images/photo_check.png') no-repeat;					
	}
}

ul.user_list{
	@include no-bullets;
	@include clearfix;
	margin:0px;
	padding:0px;
	li{
		float:left;
		width:auto;
		.preview_pic{
			margin:2px;
			img{
				padding:0px;
				border:0px;
			}	
		}
		.username{
			display:block;
			@include ellipsis;
		}
	}
}

.padding6{
	padding:6px;
}

h3.t_padding{
	padding:2px 10px;
}

.placeholder-info{ 
	position:fixed;
	text-align:left; 
	width:600px;
	top:2%;
	right:40px;
	@include shadows(#888888, 0px, 0px, 2px);
	@include corners(6px);
	margin:0px 0px;
	padding:10px 15px;
	background:#f8f8f8; 
	border:2px solid #dfdfdf;
	
	z-index:99;
	
	h2{
		padding:0px;
		margin:0px;	
		font-size:1.6em;
	}
	p{
		margin:0px 0px 8px 0px;
		font-size:10px;
		a{
			font-size:11px;
		}
	}
	
}

.placeholder-list{
		dl{
			padding:0px;margin:0px;
			
			dd{
				padding:0px 0px 8px 0px;margin:0px;
			}
			dt{	
				float:left;
				a.uiButton{
					width:170px; 
					text-align:left;
				} 
			}
		}
	}

* html .placeholder-info {position:absolute;}


.guides{
	padding:8px 0px 0px 30px;
	li{
		padding:3px 5px;
		a{
			font-size:14px;
			color:#333333;
			text-decoration:none;
			border-bottom:1px dotted #333333;
			padding:0px;
		}
		a:hover{
			border:0px;
		}
	}
}

.twoColumn{
	.col_left, .col_right{
		float:left;
		padding:0px;
		margin:0px;
		width:50%;
	}
	.col_right{
		.guides{
			border-left:1px solid #efefef;
		}
	}
}

.mceEditorView{
	line-height: 20px;
	vertical-align: baseline;
	font-size:12px;
	color:#333333;	
	img{
		margin:0px 10px 10px 10px;
	}
	p{
		margin: 0px 0px 1.5em;
	} 
}


div.information_tip{
	padding:15px 20px;
	@include corners(8px);
	margin:0px 0px 10px 0px;
	background: #F3F1EC;
	h3.title, h4.title{
		padding:0px;
		margin:3px 0px 6px 0px;
		font-weight:bold;		
		color:#666666;
	}
	h3.title{
		font-size:20px;
		color:#888888px
	}
	h4.title{
		font-size:16px;
	}
	
}


/* Search form generic styling */
div.search{
	padding:8px 0px;
	position:relative;
	width:60%;
	@include clearfix;
	label{
		display:block;		
	}
	input.search{	
		width:90%;
		padding:3px;		
		margin:3px 0px;
	}
	label, input.search{
		font-size:14px;
		color:333;		
	}
}

.innerContent{
	padding:8px;
	@include corners(6px);
	background:#efefef;
}

.brief{
	font-size:14px;
	color:#666666;
}

h4.border_title{
   font-size:16px;
   border-bottom:1px solid #ebebeb;
   padding-bottom:6px;
   margin-bottom:8px;
   text-transform:capitalize;
}

.forum-category-list{
	padding:2px 20px;
	h2.title{
		margin:4px 0px;
	}
}

.forum-section{
	margin: 18px 0 0 0;
	@include clearfix;
	.forum-left-navigation{
		float:left;
		width:20%;
	}
	.topic-right-section{
		border:1px solid #f1f1f1;
		background-color:#f5f5f5;
		padding:4px;
		margin-left:20%;
		@include corners(4px);
	}
	
	.forum-list{
		border-bottom:1px dashed #DCDCDC;
		padding-bottom:8px;
		li{  
			font-size: 12px;
		    line-height: 1.6em;
		    margin: 0 12px 5px 0px;
		    padding-left:20px;
			a{
				@include link-colors(#4D769F, #3399cc, #4D769F, #4D769F);
				@include ellipsis;
				text-decoration:none;
				font-weight:400; 
			}
			span{
				color: #888888;
	    		font-size: 11px;
			}
		}
		li.active{ 
			a{ 
				@include link-colors(#4D769F, #3399cc, #4D769F, #4D769F);
			}
		}
	}
}


.sticky{	background:#ffffff; }

.category-title{ 
	font-size:14px;
	background-color:#f6f6f6;
	border-top:1px solid #e2e2e2;
	padding:10px 26px 10px 26px;
	a.title{
		@include link-colors(#545454, #527EAA, #545454, #545454);
		text-decoration:none;
	}
}

.solution-list .odd, .solution-list .even{
	@include clearfix;
	margin:5px 2% 5px 1%; 
	padding:10px 0px;
	float:left;
	width:47%;
	font-size:12px;
	a{
		@include link-colors(#4D769F, #3399cc, #4D769F, #4D769F);
		text-decoration:none;
	}	
	ul{
		@include pretty-bullets($bullet-icon);
	}	
	li{ 
		line-height:18px;
		padding:0px 0px 4px 18px;
		color:black;
		a{ 
			font-size:14px; 
			@include link-colors(#21759B, #3399cc, #21759B, #21759B); 
		}
	} 
}
 
 
.two_col_cont{
	@include clearfix;
	padding:0px 0px 0px 0px;
	.left_col, .right_col{
		float:left;
		padding-top:12px;	 
	}
	.left_col{
		width:47%;
		@include min-height(300px);
		border-right:1px solid #efefef;
		padding-right:2%;
	}
	.right_col{
		width:47%;
		padding-left:2%;
		border-left:1px solid #efefef;
		position:relative;
		left:-1px;
	}	
}

.ssp_recent_list{
	border-top:1px solid #f1f1f1;
	padding-top:8px;
}

.ssp_category_list{
	@include clearfix;
	margin:0px 0px 8px 0px;
	padding:0px; 
	div.odd, div.even{ 
		margin:0px 2% 6px 0px; 
		padding:1% 0;  
		a{			 
			font-size:16px; 
			@include link-colors(#4D769F, #3399cc, #4D769F, #4D769F);
			font-weight:bold;
			text-transform:capitalize;
			text-decoration:none;
			padding-bottom:4px;
		} 
		li{
			a{
				font-size:12px;
			}
		}
		span{
			color:#888888;
		}
		a, span{
			display:block;
		} 
	}
}

.white_curved_cont{
	@include corners(6px);
	background-color:#ffffff;
	padding:10px;
	p{
		font-size:12px;
	}
}

.tr_wrap{
	position:fixed;
	right:0px;
	top:0px;
	width:100%;
	height:100%;	
	z-index:99999;
	.screen{
		position:absolute;width:100%; height:100%; left:0px; top:0px;
		background:#888888;
		@include opacity(0.3);
	}
	.tr_dialog{
		@include shadows(#888888, 0px, 0px, 20px);
		@include corners(8px);
		padding:0px;
		margin:0px;		
		width:80%;		
		position:absolute;
		right:-5px;
		top:1%;
		height:98%;
		background-color:#ffffff;
		border:1px solid #afafaf;	
		.header_area{
			@include corners(8px, 8px, 0, 0);
		}		
		.page_area{
			overflow:auto;
			height:85%;
		}
	}
}

.no_padding{
	padding-bottom:0px;
}

.header_area{
	@include clearfix;
	border-bottom:1px solid #bbbfc9;
	padding:4px 16px;
	h4{
		padding:0px; margin:0px;
		font-size:16px;
		font-weight:bold;
		color:#333333;
		a{
			text-decoration:none;
			color:#333333;
		}
		span{
			font-size:12px;
		}
	}
	.actions{
		float:right;
		a{
			@include corners(6px);
			padding:8px 2px 0px 2px;
			text-decoration:none;
		}
		a:hover{
			background:#ffffff;
		}
	}
	.right_panel{
		float:right;
		position:relative;
		top:-5px; 
		right:10px;
	}
}		

.ajax-loader, .loading, .loading-right, .loading-center{
	background-image:url('/images/load.gif');
	background-repeat:no-repeat;
	background-position: 10px 10px;
}

.loading-center{
	background-position: center center;	
}

.loading-right{
	background-position: right 3px;
}

.loading-fb{
	background-image:url('/images/load-fb-style.gif');
	background-repeat:no-repeat;
	background-position: 0px 0px;	
}

.search_results{
	background-color:#ffffff;
	@include inset-shadows;
	@include corners(6px);
	border:1px solid #dfdfdf;
	padding:10px;
	.result{
		border-top:1px solid #efefef;
		padding:8px 10px 10px 10px;
	}
	h2{
		font-size:16px; color:#333333;
	}
	h4{
		font-size:12px;
		a{
			color:#4D769F;
		}
		margin:0px;
	}
}

.link_placeholder{
	float:right;
	margin-right:15px;
	text-decoration:none;
	border-bottom:1px dotted #9f9f9f;
}



.button_panel{
	width:95%;
	background:#dfdfdf;
	padding:10px;
	text-align:right;
}

.property_selector{
	position:relative;
	padding:3px 12px;
	width:200px;
	display:inline-block;
	margin-left:10px;
	@include corners(18px);
	background:#333333;
	border-bottom:1px solid #b4b4b4;
	a{
		color:#b4b4b4 !important;
		font-size:12px;
	}
		
}

.menu{
	font-size:12px;
	display:none;
	ul{
		@include no-bullets;
		background: #f5f5f5;
		@include corners(6px);
		border-right:1px solid #dfdfdf;
		border-bottom:1px solid #dfdfdf;
		@include inset-shadows(#cfcfcf, 0px, 2px, 1px);
		padding:10px 10px 5px 10px;
		margin:3px 0px;
	}
}

.attachments{
	padding:8px;
	margin-top:8px;
	background:#f6f6f6;
	border:1px solid #dfdfdf;
	div.item{
		padding:5px;
		em{
			text-transform:capitalize;
			font-size:11px;
			color:#527EAA;
		}
		@include clearfix;
	}
}


.note_form{
	td{
		vertical-align:top;
	}
}

.page_title{
	padding:4px 4px 4px 0px;
	margin:0px 0px;
	font-size:14px;
	color:#333333;
	font-weight:bold;
}
span.sub_title{
	color:#666666;
	font-weight:normal;
	font-size:12px;
}

a.page_title{
	text-decoration:none;
	@include link_colors(#336699, #333333, #336699, #336699);
}

.title_area{
	background:#efefef;
}


.ui-autocomplete-loading{
	 background: white url('../images/ajax-loader.gif') right center no-repeat;  
}

.ui-autocomplete{
	.ui-menu-item{
		border-bottom:1px solid #dfdfdf;
	}
}

.solution_title{
	position:relative;
	.topic_icon{
		position:absolute;
		left:20px;
		top:10px;
		text-align:center;
		.locked{
			position:absolute;
			top:13px;
			left:10px;
		}
	}
}

.pagination{
	padding:8px 20px 10px 20px; 
	margin:1px -19px;
	background:#efefef;
	a{
		@include link-colors(#336699, #333333, #336699, #336699);
		font-weight:bold;
		text-decoration:none;
	}	
}

.meta_info{
	font-size:10px;
	color:#888888;
}

.meta_icon, .icon_info{
	color:#999999;
	text-align:center;
	padding:1px 5px 2px 5px;
	@include corners(6px);
	font-size:9px; 
}

.meta_icon{
	background:#efefef;
}

.item_information{
	.two_cols{
		display:none;
	}
}

.item_information:hover{
	.two_cols{
		display:block;
	}
}



.user_info{
	div{
		@include clearfix;
		span{
			float:left;
			padding-right:5px;
			color:#999999;
			width:50px;
		}
	}
}

.highlight{
	font-size:12px; color:#0078BD;
}

.company_box, .contact-box{
	margin:-14px -20px 8px -20px;
	padding:14px 20px;
	background:#F6F6F6;
	border-bottom:1px solid #f3f3f3;
	@include corners(6px, 6px, 0px, 0px);
}

.contact-box-additional{
	padding-left:150px;
}

.user-info{ 
	margin-top:12px;
	padding-top:8px;
	border-top:1px solid #f1f1f1;
	div{
		@include clearfix;
		padding:5px 0px;
		span{
			width:160px;
			float:left;
			text-transform:capitalize;
			font-weight:bold;
			color:#666666;
		}
	}
}

.history-list{
		@include no-bullets;
		margin:0px; padding:0px;
		a:hover{
			text-decoration:none;
		}
		.info_data{
				font-size:12px;
		}
		li{
			@include clearfix;
			padding:10px 0px 5px 0px;
			margin:0px 0px;
			border-bottom:1px solid #f3f3f3;
			font-size:12px;
			a.title{
				display:block;
				font-weight:normal;
				font-size:13px;
				margin:0px;
				padding:0px 0px 3px 0px;
			} 
			
			a{
				@include link-colors(#4D769F, #3399cc, #4D769F, #4D769F);
				text-decoration:none;
			}
			 
			.preview_pic{
				border-color:#d2d2d2;  
				img{ width:36px; height:36px; padding:0px; border:0px; }
			}
		} 
	}

.max_width{
	width:200px;
}

.nobullets{
	@include no-bullets;
	margin:0px; padding:0px;
}

.text_red{
	color:#ff0000 !important;
}

.private{
	padding-left:20px;
	background:url(../images/private_lock_grey.gif) no-repeat left;
}

.match{
	font-weight:bold; 
}

.search_results_bar{
	@include corners(0px, 0px, 6px, 6px);
	@include shadows(#bbbbbb, 0px, 3px, 10px);
	border:1px solid #afafaf;
	display:none;
	position:absolute;
	background:#ffffff;
	right:10px;
	border-top:1px solid #dddede;
	padding-left:100px;
	z-index:9999999;
	.results{
		width:300px;
		@include corners(0px, 0px, 6px, 0);
		background:#f6f6f6;
		border-left:1px solid #dedede;
		li{
			padding:6px 0px 0px 0px;			
			border-bottom:1px solid #efefef;
			a:hover, a.active{
				background-color:#333333;
				color:#ffffff;
			} 
			border-bottom:1px solid #efefef;
		}
	}
}

#search_results{
	display:block; 
}

.results{ 
	padding-bottom:8px;
	.ticket_icon, 	.contact_icon, .company_icon, .solution_icon, .forum_icon { display:inline-block; }
	.ticket_icon	span.icon{ background:sprite($icons, page-white) no-repeat; }
	.contact_icon	span.icon{ background:sprite($icons, user) no-repeat; } 
	.company_icon	span.icon{ background:sprite($icons, building) no-repeat; } 
	.solution_icon	span.icon{ background:sprite($icons, solutions) no-repeat; } 
	.forum_icon		span.icon{ background:sprite($icons, comments) no-repeat; }  
	
	li{
		list-style:none;
		position:relative;
		padding:6px 0px 8px 0px;
		span.icon{ 
			position:absolute;
			width:16px;
			height:16px;
			margin-left:4px;
			margin-top:5px;
		}
		a{
			display:block;
			text-decoration:none;
			line-height:16px;
			background-position:5px 4px;
			background-repeat:no-repeat;
			@include link-colors(#333333, #ffffff, #333333, #333333);
			span.info{
				float:right;
				font-size:10px;
				color:#888888;
			}
		}
		
		a.user{
			@include link-colors(#006699, #126d9b, #006699, #006699);
			font-weight:bold;
		}
		a.big{
			font-size:13px;
			position:relative;
			left:-25px;
			@include link-colors(#006699, #126d9b, #006699, #006699);
		}
		a.big:hover{
			text-decoration:underline;
		}
		
		h4{
			position:absolute;
			left:0px;
			top:9px;
			margin-left:-100px;
			width:90px;
			color:#888888;
			font-size:12px;
			text-align:right;
		}
		div, a{
			padding:4px 8px 4px 25px;
		}
		div.title{
			background:#efefef;
			color:#666666;
		}
		strong.title{
			font-weight:bold;
			font-size:13px;
		}
		div.group{
			@include clearfix;
			border-bottom:1px solid #f1f1f1;
			padding-top:6px;
			padding-bottom:6px;
			.preview_pic{
				padding:0px;
				margin:0px;
				position:relative;
				margin-left:-28px;
				img{
					border:0px;
					padding:6px;
				}
			}
			span{
				padding:0px 0px 4px 0px; 
			}
			span.small{
				font-size:11px;
			}
			span.light{
				color:#888888;
			}
			span.icon{ 
				padding:0px;
				margin-left:-20px;
			}
		}
	}
}

.big_results{
	padding:8px 14px 12px 14px;
}


.folder_section{
	float:left;
	width:200px;
	padding-top:15px;
	h3.title{
		text-align:center;
		border-bottom:1px dotted #DCDCDC;
		padding: 0 0 20px; 
	}
	.active{
	   a{ 
	      @include link-colors(#333333, #333333, #333333, #333333); }
	}
}

.solution_list{
	margin: 10px 0 0;
	list-style:none;
	li{  
		font-size: 13px;
	    line-height: 1.8em;
	    margin: 0 0 7px;
		a{
			@include link-colors(#4D769F, #3399cc, #4D769F, #4D769F);
			text-decoration:none;
		}
		span{
			color: #888888; 
		}
	}
}

.artical_section{
	margin-left:210px;
	border-left:1px solid darken(#E2E2E2, 5%);
	@include min-height(450px); 
	padding: 20px;
	margin-top:-14px;
	margin-right:-20px;
	text-align: left;
	.info_data{ margin-bottom:7px; } 
	.search-grey-box{ margin:-10px -20px 12px -20px; }
}

.artical_list{
	font-size: 14px;
	font-weight: 400;
    line-height: 1.7em;
    margin-top:12px;
    margin-bottom: 20px;
    margin-left: 37px; 
    text-align: left;
    
    li{
    	margin-top:4px; 
    	a{ @include link-colors(#4D769F, #3399cc, #4D769F, #4D769F);   }
    }
}

.article_info{
	padding-top:5px;
}

.crumbs{ 
	background-color: #f8f8f8;
    border-bottom: 1px solid #E8E8E8;
    color:#999999;
    font-size: 12px;
    @include corners(0, 6px, 0, 0);
    margin: -20px -20px 10px;
    padding: 7px 15px;
    a{  
    	@include link-colors(#4D769F, #3399cc, #4D769F, #4D769F); text-decoration:none;
    }
    span, a{
    	padding:0px 5px;
    }
}

.add_new{
	background:url("../images/add_small.png") 3px 1px no-repeat;
}
.rss_icon{
	background:url("../images/feed-icon.png") 8px 3px no-repeat;
}
.lock{
	background-image:url("../images/private_lock.gif"); 
	background-position:3px 0px;
	background-repeat: no-repeat;
	padding-left:20px !important;
} 
	
.status_text{
	background-color:#888888;
	@include corners(6px);
	color:#ffffff;
	padding:4px 8px 2px 8px;
	text-transform:uppercase;
	font-weight:bold;
	font-size:10px;
	margin:0px 2px;
}


.ignore-margin-20{
	margin-left:-20px;
	margin-right:-20px;
}

#pageless-loader .msg{
	padding-top:12px;
	font-size:1.4em !important;
}

.no_margin{
	margin:0px !important;
}

.full-width{
	display:block !important;
	text-align:center;
}

.scenario_actions{
		@include no-bullets;
		@include clearfix;
		border:1px solid #cfcfcf;
		padding:0px;
		margin:0px 5px; 
		li{
			a{
				img{
					position:absolute;
					left:10px;
					top:8px;
				}
				position:relative;
				display:block;
				@include link-colors(#444444, #527EAA, #527EAA, #333333);
				@include vertical-gradient(#efefef, #e8e8e8);
				border-bottom:1px solid #dfdfdf;
				text-decoration:none;
				font-weight:bold;
				font-size:12px;
				padding:6px 8px 6px 30px;
				
			}
			span{
				font-size:10px;
			}
		}	
		
	}

.request-list{
	background-color:#f4f4f4;
	margin:4px 1px;
	div.item{ 
		border-bottom:1px dotted #dedede;
		position:relative;
		a.item-title{
			font-size:12px;
			@include link-colors(#333333, #ffffff);
			display:block;
			text-decoration:none;
			padding:9px 8px 11px 26px;
			.bulb, .wand{
				position:absolute;
			}
			.bulb{
				background:sprite($icons, lightbulb) no-repeat;
				width:16px; 
				height:16px;
				left:6px;
				top:10px;
			} 
			.wand{
				background:sprite($icons, wand) no-repeat;
				width:22px; 
				height:22px;
				left:2px;
				top:8px
			}
		}
		.private-icon{
			display:none;
			background:sprite($symbol, private-lock-grey) no-repeat;
			width:16px;
			height:16px;
			position:relative;
			left:5px;
			float:right;			
		}
		a.item-title:hover{
			background-color:#666666;
			.arrow_left{
				border-color:#666666;
				border-right-color:#ffffff;
			}
			.bulb{ background:sprite($icons, lightbulb-grey) no-repeat; }
			.wand{ background:sprite($icons, wand-grey) no-repeat; }
		}
		a.private .private-icon{
			display:block;			
		}
	} 
}

.item-menu{
	position:absolute;
	left:-1px;
	top:0px;
	z-index:9999;
	width:1px;
	display:none;
	ul{
		@include no-bullets;
		position:absolute;
		right:0px;
		top:0px;
		width:170px;
		background: #f6f6f6;
		@include corners(6px, 0px, 0px, 6px);
		@include shadows(#bbbbbb, 0px, 3px, 10px);
		border:1px solid #cfcfcf;
		border-right-color:#dfdfdf;
		padding:3px 0px;
		margin:0px;
		li{
			display:block;
			a{
				font-size:13px;
				font-weight:400;
				padding:3px 12px;
				display:block;
				text-decoration:none; 		
				@include link-colors(#666666, #ffffff); 
			}
			a:hover{
				background:#666666; 
			}
			
		} 
		
	}
} 


.reminders:before {
   content:"";
   position:absolute;
   top:-2px;
   right:-2px;
   border-width:0 16px 16px 0;
   border-style:solid;
   border-color:$background $background #734e3d #734e3d;
   background:#e3b558; 
   display:block; width:0; /* Firefox 3.0 damage limitation */
   border-width:14px;
   border-color:$background $background transparent transparent;
   -webkit-border-bottom-left-radius:5px;
   -moz-border-radius:0 0 0 5px;
   border-radius:0 0 0 5px;
   height:0px;
   font-size:0px;
}

.reminders, .reminders-ticket{ 
	h3.title{  
		border-bottom:1px solid #f1edd1;
		color:#734e3d;  
		display:block;
	}
}
.rtCnt .rtDetails.reminders-ticket{ 
   background-color:#ffffe2; 
	label{ font-size:14px; }
	h3.title{
	   padding:1px 0px 5px 0px;
	}
	.panel_area{ padding-top:0px; }
}

.reminders, .reminders-ticket{
	position:relative; 
   background-color:#ffffe2;    
   ul{
		display:block;
		margin:2px 0px;
		border-top:1px solid #f1edd1;
		li{
			padding:6px 0px 6px 20px;
			border-bottom:1px solid #f1edd1;
			text-transform:capitalize;
			position:relative;
			input{
			   float:left;
			   margin-left:-16px;
			   position:absolute;
			}
			label{
				font-size:13px;
				font-weight:normal;
				color:#734e3d; 
				margin-left:5px;
				line-height:18px;	
				padding-top:0px;
				display:block;
			}
			a.request_link{
				display:block; 
				@include link-colors(#666666, #6f8698, #6f8698, #6f8698);
				font-size:12px;		
				text-decoration:none;		
			}
			.checked{ 
				font-size:12px;
				color:#a98e6d; 
				text-decoration:line-through;
				a.request_link{
					font-size:10px;
					color:#a98e6d;
				}
			}
			.delete{
				float:right;
				width:16px; height:16px; 
				overflow:hidden;
				text-indent:-99999px;
				background-color:#999999;
				@include corners(6px);
				@include sprite-background("../images/embed/sprites/16square_sprite.png", 16px, 16px);
				visibility:hidden;
				position:relative;
				left:-3px;
			}
		}  
		li:hover, li.active{
			background-color:#fefed2;
			background-image:url(../images/overlay-top-shadow.png);
			background-repeat:repeat-x;
			.delete{
				visibility:visible;
			}
		}
	} 
}

div.addReminder{
	margin:0px 0px;
	display:block;
	height:35px;
	padding:0px;
	position:relative;
	form{
//    @include pie;
		@include corners(6px);
		border:2px solid #e3dcc1;
		padding:3px 0px;
		margin:8px 0px 8px 0px;
		background-color:#fefef2;
		input.text{
			color:#734e3d;
			border:0px; background:0px;
			font-size:14px;
			display:block;
			margin:2px 0px 0px 0px;
			padding:0px 0px 0px 10px;
		}
		input:focus{ @include shadows(0, 0, 0, 0);}
		label.overlabel{
			margin:2px 5px 4px 10px;
			padding:0px;
			font-size:14px;
			color:#ab9485;
		}
	}
} 



.tab_panel{
	border-bottom:1px solid #cfcfcf;
	margin:5px -20px 0px -20px;
	padding:0px 20px;
	@include clearfix;
	b{
		margin-right:10px;
		padding:5px 0px 0px 0px;
		float:left;
	}
	display:block;
	a{
		background:#cfcfcf; 
		position:relative;
		top:1px;
		float:left;
		text-decoration:none;
		padding:6px 8px;
		margin:0px 0px 0px 0px;
		color:#333333 !important;
		border:1px solid #d3d3d3;
		border-bottom:0px;
		font-size:13px;
		  
		@include vertical-gradient(#fcfcfc, #f1f1f1);  
		border-bottom:1px solid #eaeaea;
	}
	a.last{
		@include corners(0px, 4px, 4px, 0px);
	}
	a.first{
		@include corners(4px, 0px, 0px, 4px);
	}
	a.active, a:hover{
		@include vertical-gradient(#f5f5f5, #e1e1e1);			
	}
}

.solutions_text{
	padding-top:8px;
	font-family: Georgia, Verdana, Arial, Helvetica, sans-serif; 
	font-size:14px;
	img{ max-width:100%; height:auto;}
	ol, ul{ margin: 14px 0px 14px 0px; padding: 0px 0px 0px 40px; line-height: 17px;}
	blockquote { margin: 1em 1em; color: #999; border-left: 2px solid #999; padding:6px 6px 1px 1em; background-color: #EEE;}
	ul{ list-style:disc outside;  }
	h1, h2, h3, h4{ font-weight:400; }
	h1 {font-size: 2em}
	h2 {font-size: 1.5em}
	h3 {font-size: 1.17em}
	h4 {font-size: 1em}
	h5 {font-size: .83em}
	h6 {font-size: .75em}
	p{  font-size:14px; line-height: 1.5em; margin-bottom: 1.3em; text-align: left; width: 90%;  }
    table td, table th { border:1px solid #BBB; padding:4px 5px; }
    ins {border-bottom:1px solid green; text-decoration: none; color:green}
	del {color:red; text-decoration:line-through}
	cite {border-bottom:1px dashed blue}
	acronym {border-bottom:1px dotted #CCC; cursor:help}
	abbr {border-bottom:1px dashed #CCC; cursor:help}
}


.tag_list{
	@include clearfix;
	position:relative;
	padding:0px;	
	div.item{
		float:left;
		@include corners(5px);
		height:17px;
		background-color:#e7e7e7;
		color:#666666;
		padding:3px 0px 0px 8px;
		margin:0px 4px;
		.tag_delete{
			float:right;
			visibility:hidden;
		}
	}	
	div.item:hover{
		.tag_delete{
			visibility:visible;
		}
	}
}

.wordwrap p, .wrap{ @include wrap; }

.intro{
	color: #777;
	font-size:12px; 
	line-height: 17px;
	margin-top: -6px;
	margin-bottom:10px;
}

.info-description{
	p{
		font-size:12px;
		color:#000000;
		line-height: 17px;
	}
}

.tickets-container{
	margin:0px -20px;
	padding:0px 0px 0px 0px;
}

.ticket-header{
	background-image:url(../images/overlay-button.png);
	background-color:#f8f8f8;
	background-repeat:repeat-x;
	background-position:bottom; 
	border:1px solid #dfdfdf;
	border-width:1px 0px; 
}

.tickets, .tickets-expanded{
	width:100%;
	color:#5f5f5f;
	border-top:1px solid #f4f4f4; 
	th{
		background:none;
		padding:6px 6px 5px 6px;
	}		 
	td, th{
		vertical-align:top;
		border-bottom:1px solid #efefef;
	}
	td{
		padding:10px 8px 10px 10px;
		background-color:#ffffff;
		a{
			text-decoration:none;
			color:#5a8ec1; 
		}
	}
	tr:hover td, tr.active td{
		background-color:#f4f4f4;
		background-image:url(../images/overlay-top-shadow.png);
		background-position:top left;
		border-bottom:1px solid #dfdfdf;
		background-repeat:repeat-x;
	}
	.check{
		width:25px;
		padding-left:8px;
		padding-top:12px; 
		text-align:right;
	}
	th.check{
		padding-top:10px;
	}
	
	.name, .name-user{			
		width:55%;
		padding-left:57px;
		.preview_pic{
			margin:0px; 
			margin-top:2px;
			margin-left:-53px;
			img{ 
				padding:2px;
				width:36px; height:36px;
			}
		}
		h3{
			padding:0px 0px 4px 0px;
			a{
				text-transform:capitalize;
				font-size:1.06em;
				line-height:22px;
				display:block;
				color:#444444;	 
			}
			a:hover{
				color:#000000;
			}
		} 
		div{
			color:#888888;
		}
	}
	
	.name-user{
		padding-left:20px;
	}
	.assign{
		ul{
			@include inline-block-list;
			li{
				padding:4px 7px 0px 0px; 
				color:#999999;
				font-size:12px;
				span{
					color:#444444;
					text-transform:capitalize;
					
				}					
			}
			.priority{
					span.style_1{		/* Low priority style */
						color:#666666
					}
					span.style_2{		/* Medium priority style */
						color:#cc6633
					}
					span.style_3{		/* High priority style */
						color:#cc6633
					}
					span.style_4{		/* Urgent priority style */
						color:#cc6633
					}					
				}
		}
	}
	.sla{
		vertical-align:top;
		text-align:right;
		font-size:11px;
	}
}	  
 
.conversation-sprite{ 
	position:relative;
	display:inline;
	margin-top:-10px;
	float:right;
	.image {
		float:right;
	    content: ""; 
	    width: 32px;
	    height: 32px;
	    margin: 0px;
	    @include sprite-background("../images/embed/sprites/32square_sprite.png", 32px, 32px);
	}
	.email-reply{
		@include sprite-row(1, 32px, 0);
	}
	.email-receive{
		@include sprite-row(2, 32px, 0);
	}
	.note-public{
		@include sprite-row(3, 32px, 0);
	}
	.note-private{
		@include sprite-row(4, 32px, 0);
	}
	
}

.contact-box{
	padding-left:170px;
	div.profile_pic{
		float:left;
		margin-left:-150px;
		width:127px;
		margin-top:5px;
		text-align:center; 
	}
	.info-highlight{
		margin:8px 0px 0px -170px;
		padding-left:165px;
	}
}

.info-highlight, .info-highlight-deleted{
	font-size:13px;
	margin:0px 0px 0px 0px;
	padding:8px 18px;
	color:#666666;
	border:1px solid #f4f4e9;
	background-color:#fffbee;
	div{
		padding:6px;
	}
}

.info-highlight-deleted{
	margin:-13px -20px -10px -20px;
	padding:15px 18px 18px 18px;
	font-size:15px;
}



.forum-group{
	margin:0px -20px; 
}

.list-noinfo{
	padding:10px 20px;
	font-size:1.1em;
	font-weight:bold;
	color:#666666;
	@include text-shadow(#ffffff, -1px, -1px, 1px);
}

.caption-text{
	background:#f6f6f6;
	padding:6px 8px 6px 50px;
	border-bottom:1px solid #efefef;
	font-size:12px;
	color:#999999;
}

.sort{
	text-align:right;
	position:relative;
	padding: 6px 40px 0px 0px;
	.sort_order{
		position:absolute;
		right:0px;
		top:0px;
		.image{
			position:absolute;
			right:0px;
			top:0px;
			width:32px; height:32px;
			@include sprite-background("../images/embed/sprites/32square_sprite.png", 32px, 32px);
			@include sprite-row(10, 32px, 0);
		}
		.ASC{
			@include sprite-row(9, 32px, 0);
		}
		.DESC{
			@include sprite-row(10, 32px, 0);
		}
	}
}

.admin_list, .content_list{
	@include no-bullets;
	margin:0px -20px;
	padding:0px 0px;
	border:1px solid #f2f2f2;
	border-width:1px 0px;
	li{	
		@include clearfix;
		padding:8px 20px 8px 20px;
		border-bottom:1px solid #efefef;
		@include vertical-gradient(#fbfbfb, #fafafa);
		color:#656565;
		position:relative;
		.preview_pic{
			float:left;
			margin-right:10px;
			margin-top:-3px;
		}
		div{
			padding-top:1px;
		}
		div.item_actions{
			float:right;
			padding:2px 0px;
			position:relative;
			top:-4px;
			visibility:hidden;
			a{
				color:#333333;
				font-weight:bold;
				text-decoration:none;
			}
			a:hover{
				text-decoration:none;
			}
		}		
		div.item_information{
			@include clearfix;
			float:left;
			width:70%;
			.info_data{
				padding:2px 2px;
				font-size:12px;
			}
			.col1{
				width:60%;
			}
			.col1, .col2{
				float:left;
				padding:0px;
			}
			.col2{
				padding-top:4px;
			}
		}
		a{
			color:#336699;
			text-decoration:none;
		}
		a.item_info{
			font-size:1.25em;
			color:#336699;
			text-decoration:none;
		 }
		 input.checkbox{
		 	position:absolute;
		 	left:8px;
		 	top:10px;
		 }
		 a.big-text{
		    font-size:1.75em;
		 }
		 .text{
		    font-size:1.2em;
		    margin-bottom:4px;
		 }		 
		 .portal-logo{
		    width:90px;
		    padding-right:12px;
		    text-align:right;
		    border-right:1px solid #efefef;
		    padding-top:3px;
		 }
		 .portal-text{
		    padding-left:12px;
		    .not-verified{
		       padding:12px 0px;
		    }
		    .inactive_email{
		       margin:0px;
		    }
		    .slim-button{
		       margin-top:-3px;
		       color:#333333;
		    }
		 }
		 .color_box{
		    @include clearfix;
		 }
		 .color_item{
		    width:11px;
		    height:11px;
		    float:right;
		    margin-left:2px;
		 }
		 .image_logo, .color_item{
		    border:1px solid #dbdbdb;
		 }
		 .image_logo{
		    max-height:40px;
		    max-width:90px;
		 }
	}
	li:hover{
		background:lighten(#f1f1f1, 2%);  
		div.item_actions{
			visibility:visible;
		}
	} 
}

.footerContent{
	color:#000000;
	a{color:#000000; text-decoration:none; border-bottom:1px dotted #000000; }
	a:hover{color:#000000; border-bottom: none;}
	@include opacity(0.6);
}

.list-bar{
	padding:6px 20px;
	background-color:#f5f5f5;
	border-top:1px solid #e8e8e8;
	border-bottom:1px solid #dfdfdf;
	@include clearfix;
	a.first{
		padding-left:0px;
		border-left:0px;
	}
	a.active{
		font-weight:bold;
		color:#333333;
	}
	a{
		font-size:12px;
		color:#666666;
		text-transform:capitalize;
		text-decoration:none;
		border-left:1px solid #d6d6d6;
		border-right:1px solid #ebebeb;
		padding:0px 10px;
		margin:0px;
		float:left;
	}
}


.list-badge{
	float:right;
	position:relative;
	right:0px;
	top:-5px;
	@include clearfix;
	.stamp{
		padding:4px 8px;
		margin:0px;
		font-size:12px; 
		font-weight:bold;
		float:left;
		@include corners(6px);
	}
	
	
	.leftflat{
		@include corners(0px, 6px, 6px, 0px);
	}
	.stamp{	  
		@include min-width(80px);
		text-align:center; 
		color:#ffffff;
		text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
		text-decoration:none;
		border-right-width:0px;  
		position:relative;
	} 
	.stamp.stamp_type_1{
		background-color: #3EA9E0;
	} 		
	.stamp.stamp_type_2{
		background-color: #346600;
	} 
	
	.stamp.stamp_type_3{ 
		background-color: #993531;
	} 
	
	
}

.idea-likes{
	padding:4px 8px;
	margin:0px;
	font-size:12px; 
	font-weight:bold;
		color:#666666;
		border-color:#dadada;
		padding-left:24px;
		@include corners(6px);
		position:relative;
		background-color:#f4f4f4;
		.like-image{
			left:0px;
			top: 0px;
			margin-left:-3px;
			margin-top:-5px;
			position:absolute;
			@include sprite-background("../images/embed/sprites/32square_sprite.png");
			@include sprite-row(11, 32px, 0);
			height:24px;
		} 
}

.plans{
	background:#ededed;
	border:1px solid #cccccc;
	table{ width:100%; }
	td{ width:33%; vertical-align:top;border:1px solid #dadada;	padding:8px 13px; }
	.plan-details{ 
		h2, h4{	text-transform:uppercase; font-weight:bold; }
		h2{
			font-size:22px;
			color:#333333;
		}
		h3{
			font-size:18px;
			font-weight:normal;
			padding-bottom:3px;
		}
		h4{
			font-size:14px;
			color:#5f892c;
			padding-bottom:6px;
		}
		p{
			font-size:13px;
		}
		p.plan-details{
			color:#666666;		
			line-height:1.65em;
			@include min-height(90px);
		}
	}
	.discount-strikethrough{
		color:#999999;
		text-decoration:line-through;
		font-size:15px;
	}
	.discount-info-text{
		color:#990000;		
		padding:0px 0px 3px 0px;
		font-size:13px; 
	}
	.info-data{
		font-size:14px;
		color:#333333;
	}
	.active{
		border:0px;
		background-color:#f4fded;
		.plan-button{
			display:none;
		}
	}
	
	button{
		margin-top:6px;
	}
	.billing{
		border-top:1px dotted #afafaf;
		margin:8px -10px;
		padding:6px 0px;
		font-size:14px;
		td{ 
			border:0px; 
			vertical-align:middle;
			padding:3px 10px;
			input{
				width:auto !important;
			}
		}
		td.numbers{
			font-size:18px;
			text-align:right;
		}
		.tr-total td{
			border-top:1px solid #efefef;
			vertical-align:top;
			.total{ 
				font-size:18px;
				font-weight:bold;
				color:#669900;
				display:block;
				margin-top:4px;
			}
		}
	}
}

.ui-form .info-highlight{
	margin:0px -10px 6px -10px;
	padding:0px 10px 8px 10px;
	font-size:14px;
	line-height:22px;
}

.big-text{
	font-size:16px;
	line-height:26px;
}

p.info-text{
	font-size:13px;
	line-height:22px;
	margin:2px 0px 4px 0px;
	padding:2px 0px 4px 0px;
}

.cvv-help-text{
	background-color:#ece6e1;
	border:1px solid darken(#ece6e1, 10%);
	position:absolute;
	padding:0px 8px 0px 8px;
	width:200px;
	margin-left:280px;
	margin-top:-130px;
	text-align:center;
	z-index:9999;
	@include corners(8px);
}

.table-padding-5{
	td{
		margin:4px 0px;
	}
}

.small-select select{
	width:180px !important;
}

.highlight-text span{background:#ffffcc;}

a.close{
   position: absolute;
   right: 5px;
   top: 5px;
   width: 28px;
   height: 28px;
   background: url(../images/close_delete.png) no-repeat center;
   z-index: 999;
}