// This import applies a global reset to any page that imports this stylesheet.
@import "base";
@import "mixins";

*{
	margin:0px; padding:0px;
}

a{
	color:#336699;
}
a:hover{
	color:#336699;
	text-decoration:none;
}
body{
  	@include blueprint-typography(true);
  	height:100%;
  	background:$background;
} 

body {margin:0; padding:0 10px 0 10px; border:0; height:100%; overflow-y:auto; }


#wrap{
	@include container;
	overflow:visible;	
}
 
.content{ 
	position:relative;	
	border:1px solid #dfdfdf; 
	background-color:#ffffff;
	@include shadows(#dfdfdf, 0px, 2px, 2px);
	margin-bottom:50px;	
}
 
#inner {    
	@include pie-clearfix;	
	position:relative;
	z-index:1;  	
	margin:0px 0px;	
	padding-right:$sidebar-width; /* The width of the rail */ 
	.leftcontent{
		width:100%;
		@include min-height(450px);
		border-right:$sidebar-width solid $sidebar-color; /* The width and color of the rail */
		margin-right:-$sidebar-width; /* Hat tip to Ryan Brill */
		float:left;		 	
	}
	.sidebar{ 
		width:$sidebar-width;
		float:left; 
		margin-right:-$sidebar-width;
	} 
	
}

.single #inner{
	padding-right:0px; 
	.sidebar{
		display:none;
	}
	.leftcontent{
		margin-right:0px;
		border-right:0px;
	}
}

.twoCol_ltSidebar #inner{
	padding-right:0px;
	padding-left:$sidebar-width; /* The width of the rail */
	.sidebar{
		margin-right:0px;
		margin-left:-$sidebar-width;
	} 
	.leftcontent{
		margin-right:0px;
		border-right:0px;
		border-left:$sidebar-width solid #f2f8fc; /* The width and color of the rail */
		margin-left:-$sidebar-width; /* Hat tip to Ryan Brill */
		float:right;			
	}
}

.solutions_ltSidebar #inner{
	padding-right:0px;
	padding-left:$solution-sidew; /* The width of the rail */ 
	.sidebar{
		margin-right:0px;
		width:$solution-sidew;
		margin-left:-$solution-sidew;
		background-color:#fcfcfc;
	} 
	.leftcontent{
		margin-right:0px;
		border-right:0px;
		border-left:$solution-sidew solid #fcfcfc; /* The width and color of the rail */
		margin-left:-$solution-sidew; /* Hat tip to Ryan Brill */
		float:right; 	
	}
}
 
	
.content div.corners{ 
	left:0px;
	top:16px;
	height:60px; 
	width:27px;
	z-index:10;
} 

/* Header styles */
.header {  
	@include clearfix;
	padding:12px 0px 0px 0px;
	border-bottom:5px solid $complement;
}

.tab-menu{
	display:none;	
	clear:both;
	@include clearfix;
	background-color:$base;
	ul{
		@include no-bullets;
		padding:0px; margin:0px;
		li{
			a{
				float:left;
				padding:5px 15px 4px;
				text-decoration:none;
				text-transform:uppercase;
				font-weight:bold;
				font-size:11px;
				color:#333333;
			}
			a:hover{
				background:#ffffff;
			}
		}
	}
}

a.brand{	
	@include float-left;
	@include clearfix;
	padding-bottom:6px;
	text-decoration:none;	
	*{
		float:left;
	} 
	h3{
		font-size:20px;
		font-weight:bold;
		text-decoration:none;
		margin:0px;
		padding:0px;
		position:relative;
		top:10px;
		left:-5px;
		color:#555555;
	}	
}



.header_links{
	@include float-right; 	
	text-align:right;	
	position:relative;
	z-index:0;	
	strong{
		color:#6699cc;	
	}	
	ul{
		@include inline-block-list(0); 
		li{
			a{			
				@include link-colors(#999999, #333333);			
				background-image:url("../images/footer_seperator.gif");
				background-repeat:no-repeat;
				background-position:left 3px;
				padding-left:6px;
				font-size:12px;			
				text-decoration:none;
			}			
		}
		li.first a{
			background-image:none;
		}
	}
} 

/* Header Tab styles */
.header_tabs{ 
	@include pie-clearfix;
	position:relative; 
	clear:both; 
	width:100%;
	ul.tabs{
		@include no-bullets;
		@include clearfix;
		float:left;
		margin:0px;
		padding:0px; 
		li{
			float:left;
			@include min-width(90px); 
			a{
				text-decoration:none; 
				color:#ffffff;
				padding:5px 10px 5px 10px;
				text-transform:uppercase;				
				font-size:0.9em;				
				font-weight:bold;
				text-align:center;				
				display:block;							
				position:relative;
				@include corners(6px, 6px, 0, 0); 
				@include text-shadow(rgba(0,0,0,0.5), 1px, 1px, 3px);				
				border:1px solid #000; 
				@include tab-style($base-highlight);   
				span{
					  position:absolute; 
					  @include corners(5px, 5px, 0, 0);
					  width:100%;
					  left:0px;					  					   
					  top:0px;					   
					  height:100%;
					  border-top:1px solid #fafafa;		 
					  @include opacity(0.65);
					  @include vertical-gradient(rgba(255,255,255,0.55), rgba(255,255,255,0)); 	   
				}	
			}
		}
		li.active a, li a:hover{
				@include tab-style($complement);
				border-bottom:0px;
				padding-bottom:6px;  			
		}
		li a:hover{
				@include tab-style(saturate($complement, 5%));
		}
	}
}

.header_seperator{
	height:8px;
	background-color:$complement;
	border:1px solid $complement;
	border-width:0px 1px 0px 1px;	
	@include corners(0px, 5px, 0px, 0px); 
}
 
 
/* Button and Nav style */
.rightHeadElements{	 
	position:absolute;
	right:-3px;
	margin:0px;
	padding:0px;
	bottom:-7px; 
	z-index:2;	
	li{
		@include no-bullets;
		padding:0px;
		float:left;	
	}
}

a.new_ticket{ 
	@include anchor-button(false); 
	padding:5px 8px 5px 25px;
	margin:0xp 8px 0px 0px; 
	color:#555555 !important;  
	position:relative;  
	top:-1px;
	font-size:0.95em;
	img{
		position:absolute;
		left:5px;
		top:4px;	
	}
}

.search{
	position:relative;
	/*label.overlabel{
		top:0px;
		margin:3px 10px;
		font-weight:bold;		
		color:#999999;		
		font-size:1.0em;
	}*/
 	div.searchTxt{  
		@include min-width(200px);
		border:1px solid #cfcfcf;
		background:#fff; 
		float:left;
		height:23px;
		padding-right:10px;
		margin-right:3px;
		position:relative;
		top:7px;
		@include border-radius(2em); 
		input{		
			border:0px;
			font-size:1.0em;
			width:100%;
			padding:5px 10px;
			background:none;		
		}
	}
	.searchbt{
		float:left; 
		@include button-button(false);
	}
}


.ui-bt-grey{
	@include button-colors(#878787, #ffffff, #dadada, #d8d8d8);
	/*background: #ffffff;  
	background: -moz-linear-gradient(top, #ffffff 0%, #f6f6f6 47%, #ededed 100%);   
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(47%,#f6f6f6), color-stop(100%,#ededed)); */
	@include vertical-gradient(#ffffff, #ededed); 	 
	@include corners(2em); 
}
.ui-bt-grey:hover{ 
	border-color:#606c88;
	@include vertical-gradient(#606c88, #3f4c6b); 
	color:#ffffff !important;	 
} 
  


/* Summary Bar */
#summaryBar{
	 border:2px solid $base;
	 border-left-width:0px; 
	 margin:16px 12px 11px 0px;
	 background-color:#fffff1;
	 position:relative;
	 height:56px;
}

ul.summary{
	 @include no-bullets;
	 margin:0px; padding:0px;
	 position:relative;
	 .summary_arrow{
		position:absolute;
		right:-56px;
		top:0px;
		border:28px solid #fffff1;
		z-index:0;
		border-left-color:$base;
		height:0px; width:0px;
		font-size:0px;
		padding:0px;margin:0px;
	}	 
	li.title{
		font-size:11px;
		text-transform:uppercase;
		font-weight:bold;
		color:#666666;	
		margin:0px 48px 0px 0px;
		
		background:$base;	
		display:inline-block;
		height:35px;
		padding:22px 10px 0px 5px;	
		border:0px;
		position:relative;
		/*font-style:italic;*/
	} 
	 
	li{ 
		@include float-left; 
		padding:0px;
		margin:4px 5px 0px 5px; 	
		h4{
			@include float-left;			
			color:desaturate($base-highlight, 10%);
			font-size:3.2em;	
			font-weight:bold;
			position:relative;
			padding:0px 5px;
			margin:0px;
			line-height:0.9em;
		}
		p{
			@include float-left;
			font-size:1.0em;
			color:desaturate($base-highlight, 15%);
			position:relative; 
			width:65px;
			text-align:left;
			span{
				display:block;
			}
		}
		a{
			text-decoration:none; 
			float:left; 
			padding-right:10px;
			height:35px;
			position:relative;
			top:8px;
			border-right:1px solid #cbcbbf; 
		}	
	}	
	li.last-child a{
		border:0px;
		
	}		 
	li a:hover h4, li a:hover p{
		color:darken($complement, 20%);
	
	} 
}  

.rightSubContainers{
	margin:16px 10px;
	background:#f7fbfd;
	padding:10px 12px 10px 12px;
	border:1px solid #ced9df;
	@include corners(6px);
	h3.title{
 		color:#666666;
		font-size:14px;
		margin-bottom:5px;
		font-weight:bold;
	}
	h4{
		color:#666666;
		font-size:1.2em;
		margin-bottom:5px;
		padding:0px;	
	}
	.help_text{
		color:#555;
		p{
			margin:0px;
			padding:6px 0px;
			font-size:13px;
		}
	}
		
}

.rightSubContainers:hover{
	@include shadows(#afafaf);
} 

.reminders{
	margin:16px 10px;
	background:#ffffe5;
	border:1px solid #eaeadc;
	padding:12px 12px;
	position:relative;
	
	h3.title{
		color:#916c48;
		font-size:1.2em;
		margin-bottom:5px;
	} 
	ul{
		padding:0px 5px;
		list-style:none;	
		li{
			padding:6px 10px 0px 20px;
			margin:0px;
			color:#454545;
			position:relative;
			input{
				position:absolute;
				left:-5px;
				top:6px;
			}	
			label{
				font-size:1em;
			}
			.reminder{
				font-weight:normal;
				color:666;
			}
			.checked{
				text-decoration:line-through;
			}
		} 
	}
	.todo_button{ 
			background:#fefedd;
			border:1px dashed #e7e8ae;
			display:block;
			color:#916c48;  
			padding:5px 5px 5px 20px;
			text-decoration:none;
	}
	.corner{
			background:url("../images/corners_reminder.jpg") no-repeat;
			width:43px; height:26px;
			position:absolute;
			top:-1px;
			right:-18px; 
	}
}

.ui-list_with_icon{ 
	padding-top:5px;
	list-style:none;
	margin:0px;
	padding:0px; 
	li{
		background:url('../images/request_nav_seperator.gif') left 8px no-repeat;
		padding:4px 0px 4px 12px; 
		color:#41658a;
		position:relative;
	}
	li img{
		position:absolute;
		left:0px; top:4px;
	}
	li a{
		color:#336699;
	}
	li a:hover{
		color:#663366;
		background:#efefef;
	}
}

.user_name{ font-weight:bold; color:#527eaa; }
.ticket_title{ font-weight:bold; color:#527eaa; }

.pageSeperator{
	border-top:1px solid #fefefe;
	border-bottom:1px solid #efefef;	
	margin:0px 18px;
}
		
h3.content_title, h2.content_title{
		color:#333333;
		font-size:1.50em; 
		padding:14px 0px 2px 0px;			
		margin:0px; 
		img{
			float:left;
			position:relative;
			top:-8px;
			left:-2px;			
		}
}

h3.content_title.withPadding{
	margin:2px 0px 4px 25px;
}

h2.content_title{	
		font-size:1.9em;
		margin-top:6px;
}
.title{
	font-weight:bold;
	color:#555555;
	padding:0px; margin:5px 0px;
}

.title.padded{
	padding:0px 15px;
}

h3.title{
	font-size:16px;
}

h2.title{
	font-size:22px;
}

ul.activityfeed{ 
		padding:0px;	
		@include no-bullets;		 
		li{
			@include clearfix;
			padding:5px 0px; 
			border-bottom:1px solid #e4f4e4;
			display:block; 
			color:#666;
			div.preview_pic{			
				clear:left;
			}
			a{ 
				@include link-colors(#3e71a4, #3e71a4, #3e71a4, #3e71a4, #3e71a4);
				text-decoration:none; 
			}
			em.activity_time{
				display:block;
				color:#a6a6a6;
				font-style:normal;
				padding-bottom:8px;
			}
		} 
}

.pageContent{
	margin:11px 15px;	
	h2{
		color:#555;
	}	 
	.subtitle{
		font-style:italic;
		color:#333333;
		font-size:0.8em; 
	}
}

/* Making the sticky footer align to the middle and having the same width of the container */
#footer{
	min-width:950px;
	@include min-height($footer-height);
	width: $blueprint-liquid-container-width;
	margin: 0 auto; 
	*zoom: 1; 
	text-align:left;	
	position:relative;
	
}

/* Footer Styles */

.footer{
	position:relative;
	background-color:$base;
	display:none;	
	color:#666666;
	border-bottom: 1px solid desaturate(darken($base, 10%), 10%); 
	.footerinfo{ 
		padding:15px 20px;
		position:relative;
		z-index:1;
		ul{
			float:right;
			li.first{
				list-style:none;
			}	
			 li{
				float:left;
				padding:0px 0px 0px 10px;
				list-style-image:url("../images/footer_seperator.gif");
				list-style-position:inside;
				a{
					color:#546065;
					text-decoration:none;
				}
				a:hover{
					color:#41658a;	
				}
			}
		}
	} 
} 

/* Sharp Fold Corners */
.corners{ 
	position:absolute; 
	z-index:0; 
	width:100%;  
	height:100%; 
	left:0px; 
	top:0px; 
	*{
		position:absolute;
		width:10px; 
	}
	span.ltExt, span.rtExt{
		height:100%;
		top:0px;
		background-color:$base;		
		border-color: desaturate(darken($base, 10%), 10%);
		border-style:solid;
		border-bottom: 1px solid desaturate(darken($base, 10%), 10%); 
	}
	span.ltExt{
		left:-11px;		
		border-left-width:1px;	
	}
	span.rtExt{
		right:-11px; 
		border-right-width:1px;		
	}
	span.ltSlant, span.rtSlant{ 
		width:0;
		top:-12px;  
		z-index:100;
	}
	span.ltSlant{
		left:-11px;		
	} 
	span.rtSlant{
		right:-11px;
	}  
} 

.ltSlant, .rtSlant{
	  width: 0;
	  height: 0;
	  position: absolute;  
	  overflow: hidden; /* IE fix */
	  border-bottom: 11px solid desaturate(darken($base, 20%), 20%); 
}

.ltSlant{
	  border-left: 11px solid #FFF; /* IE fix */
	  border-left: 11px solid rgba(0,0,0,0); 
}
.rtSlant{	 
	  border-right: 11px solid #FFF; /* IE fix */
	  border-right: 11px solid rgba(0,0,0,0); 
}


.title_corner{
	left:-10px;
	top:0px;
	position:absolute;
	width:10px;
	height:100%;
	background:#ecedf3;
	span.ltSlant{
		top:-10px; 
		border-bottom-color:#c5c8dc;
	}
}


.ltShadow, .rtShadow{
	top:0px;
	width:25px;
	height:100%;
	z-index:0;	
	position:absolute;
	display:none;	
}
.ltShadow{  	
	left:0;
	top:-5px;
	margin-left:-25px; 
	background:url("../images/shadow_lt.png") no-repeat top left;	
}
.rtShadow{  
	right:0; 
	margin-right:-25px;  	 
	background:url("../images/shadow_rt.png") no-repeat top right; 
} 

/* generic form styles */

label{
    display: block;
    font-size: 0.80em;
    color: #666;
}

input[type=text], select, input[type=file], input.text {
    margin: 0;
    padding: 0;
    font-size: 14px;
    color: #333;
    padding: 2px;
    margin-bottom: 5px;
    margin-top: 0;
    width: 96%;
}

.disabled{
	background-color:#F0F0F0;
	color:#777777 !important;
	padding:4px !important;
	border:	1px solid #cfcfcf;
}

select {
    padding: 1px;
    width: 100%;
	font-size:12px;
	width:auto;
}

textarea {
    padding: 5px;
    font-size:13px;
    line-height: 18px;
    height: 100px;
    width: 98%;
    font-family:$blueprint-font-family;
}

form table {
    width: 100%;
}


/*
form.new_helpdesk_ticket{
	background:lighten($base, 11%);
	@include border-radius(1em);
	padding:10px 20px 20px 10px;
	margin:5px 0px; 
	label{
		font-size:1.0em;
		color:#333333;
		font-weight:normal;		 
		padding:0px 0px 3px 0px;
		height:auto;
		margin-top:6px;
	}
	input.text, select, textarea{
		font-size:12px;
		color:#444;
		background:#fefee6; 
		padding:3px;
		font-weight:normal;  
	} 
	input.text:focus, select:focus, textarea:focus{
		background:#fff;
	}
	.seperator{
		border-top:1px solid #999;
		margin:6px 0px;
	}
	select{
		width:auto; 
	}
	.button-container{
		margin-top:15px;
	}
}
*/


/* Page Style */
 
.tab-buttons{ 
	margin-left:10px;
	@include no-bullets;
	li{
		float:left;
		padding:2px 8px;
		margin:0px 5px;
		@include border-radius(0.8em);
		border:1px solid #afafaf;	
		@include vertical-gradient(#ffffff, #efefef);  
		a{
			text-decoration:none;
			color:#333;
		}
		 
	}
} 
		
.viewActions{
	border:1px solid #e7e7e7;	 
	background: #F9F9F9; /* old browsers */
	background: -moz-linear-gradient(top, #F9F9F9 0%, #ECECEC 100%); /* firefox */	
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#F9F9F9), color-stop(100%,#ECECEC)); /* webkit */
	
	padding:5px 10px 0px 10px; 
	
	@include clearfix; 
 
	h4{
		font-size:1.2em;
		color:#666666;
		float:left;		
	}
	.vert-seperator{
		border-left:1px solid #fff;
		background:#afafaf;
		width:1px;		
		margin:0px 5px;
	}
	ul.actionpanel{
		@include inline-block-list;
		clear:left;
		.sort{
			position:relative;
			top:5px;
			*{
				float:left;			
			}			
			select{
				width:130px;
				margin:0px 6px;
			}
		}
	}
}

.sort{
	text-align:right;
	padding: 3px 13px 3px 0px;
}

.actions{
	list-style:none; 
	margin:0px; padding:0px;
	li{
		
	}	 
}

.actionsRight{
	float:right;
	position:relative;
	top:-31px;
}

.actions_bar{
	margin:10px 0px 4px 0px;
	display:block;
	@include corners(6px);
	padding:2px 4px;
	background-color:#efefef;
	border:1px solid #efefef;
	border-bottom:1px solid #cfcfcf;
	border-right:1px solid #cfcfcf;
	ul{ 
		@include horizontal-list; 
	} 	
}


.floatr{
	float:right;
}

.alignright{
	text-align:right;
}

ul.secondary-actions{
	background-color:#f5f5f5;
	@include inline-block-list;
	li{
		border-bottom:0px;
		margin:8px 3px;
	}
} 
 
#pages{
	.tickets, .tickets-expanded{
		margin:0px; 
		thead{
			@include vertical-gradient(#F9F9F9, #ececec);
			border-bottom:1px solid #afafaf;
		}
		
		color:#5f5f5f;
		th{
			background:none;
			padding:6px 6px 5px 6px;
		}		 
		td, th{
			vertical-align:top;
			border-bottom:1px solid #efefef;
		}
		td{
			padding-bottom:8px;
			a{
				text-decoration:none;
				color:#5a8ec1; 
			}
		}
		.stripe td{
			background:lighten($base, 11%);
		}
		.check{
			width:25px;
			padding-left:8px;
			padding-top:9px; 
			text-align:right;
		}
		th.check{
			padding-top:12px;
		}
		
		.name{			
			width:50%;
			h3{
				padding:4px 0px 0px 0px;
				margin-bottom:4px;
				a{
					text-transform:capitalize;
					font-size:12px;
					font-weight:bold;
					color:#3f3f3f;	
					@include ellipsis;
				}
				a:hover{
					color:#4b7dc0;
				}
			} 
		}
		.assign{
			ul{
				@include inline-block-list;
				li{
					padding:4px 7px 0px 0px;
					
					color:#999999;
					font-size:12px;
					span{
						color:#444444;
						text-transform:capitalize;
						
					}					
				}
				.priority{
						span.style_1{		/* Low priority style */
							color:#666666
						}
						span.style_2{		/* Medium priority style */
							color:#cc6633
						}
						span.style_3{		/* High priority style */
							color:#cc6633
						}
						span.style_4{		/* Urgent priority style */
							color:#cc6633
						}					
					}
			}
		}
		.sla{
			vertical-align:top;
			text-align:right;
			font-size:11px;
		}
	}	 
} 
/* Control Buttons */
.bulk_checkbox{
	.button{
		padding:2px 3px;
		input{
			position:relative;
			top:-1px;
		}
	}
}

div.leader-left{
    border-bottom: 1px dotted #ccc;
}


div.leader-right{
    float: right; 
    font-weight: normal; 
    margin-top: 3px;

}



.ui-dropdown-button{
	background:#efefef;
	@include border-radius(0.8em);
	@include inline-block;
	list-style:none;
	margin:0px;
	padding:3px 6px;
	
}

.fdbutton{ 
	@include anchor-button;
    @include min-width(80px);
    padding: 5px 7px;    
    margin: 2px; 
    border:1px solid #cdcecd;
    text-align:center;
    font-size: 12px;
    color:#4a4a25 !important;
    @include corners(10px);
    @include vertical-gradient(#f1fce3, #ddf0c4);
    
    @include inset-shadows(rgba(0, 0, 0, 0.05), 0, 2px, -2px);
     box-shadow:
        0 2px rgba(0, 0, 0, 0.05),
        0 -2px rgba(0, 0, 0, 0.05) inset;

    -webkit-box-shadow:
        0 2px rgba(0, 0, 0, 0.05),
        0 -2px rgba(0, 0, 0, 0.05) inset;

    -moz-box-shadow:
        0 2px rgba(0, 0, 0, 0.05),
        0 -2px rgba(0, 0, 0, 0.05) inset;
       
     @include text-shadow(rgba(255,255,255,0.9), 1px, 1px, 1px);
}
.grey{
	@include vertical-gradient(#f1f5ed, #efefef);
	color:#555555 !important;
}

	
.button {
	@include anchor-button;
    white-space: nowrap;
    text-align: center;
    font-size: 0.90em;
    overflow: hidden;
    padding: 4px 8px;
    margin: 2px;
    border: 2px solid #aaa;
    background:#fff;
    color:#3f3f3f !important;

    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;

    box-shadow:
        0 2px rgba(0, 0, 0, 0.05),
        0 -2px rgba(0, 0, 0, 0.05) inset;

    -webkit-box-shadow:
        0 2px rgba(0, 0, 0, 0.05),
        0 -2px rgba(0, 0, 0, 0.05) inset;

    -moz-box-shadow:
        0 2px rgba(0, 0, 0, 0.05),
        0 -2px rgba(0, 0, 0, 0.05) inset;

    background:
        -moz-linear-gradient(
            center top,
            rgba(255, 255, 255, 0) 50%,
            rgba(0, 0, 0, 0.03) 0%
        ) repeat scroll 0 0 #fff;

    background:
        -webkit-gradient(
            linear,
            0% 0%,
            0% 100%,
            from(#fff),
            to(rgba(0, 0, 0, 0.03)),
            color-stop(0.5, rgba(255,255,255,0)),
            color-stop(0.5, rgba(0, 0, 0, 0.03))
        ) repeat scroll 0 0 #fff;
	
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed',GradientType=0 ); /* ie */
		
    border: 1px solid rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.button:hover {
    background: #eee;
    border-color: rgba(0, 0, 0, 0.3);
}

.button.selected {
    z-index: 6;
    border-color: rgba(208, 91, 63, 0.6);

    box-shadow:
        0 2px rgba(0, 0, 0, 0.05),
        0 1px 7px rgba(208, 91, 63, 0.5),
        0 -2px rgba(0, 0, 0, 0.05) inset;

    -webkit-box-shadow:
        0 2px rgba(0, 0, 0, 0.05),
        0 1px 7px rgba(208, 91, 63, 0.5),
        0 -2px rgba(0, 0, 0, 0.05) inset;

    -moz-box-shadow:
        0 2px rgba(0, 0, 0, 0.05),
        0 1px 7px rgba(208, 91, 63, 0.5),
        0 -2px rgba(0, 0, 0, 0.05) inset;
}




/* Request Details page */

.breadcrum{
	background:#e9ebee;
	border-bottom:1px solid #cfd2d9;
	padding:3px 20px 0px 20px;
	@include clearfix;
}
 
.breadcrum, .crumbs {
	display:block;
	color:#555555;
	a{
		color:#666666;
		text-decoration:none;
		padding:3px 12px 3px 0px;
		margin-right:8px;	
		font-weight:bold;
		font-size:12px;
	}
	em{
		font-style:normal;
	}
}


ul.ui-list-2col, ul.ticket_properties{ 
	@include clearfix; 
	list-style:none;
	padding:6px 0px 3px 0px;
	margin:0px 0px 5px 0px;
	li{ 
		font-weight:bold;
		color:#565656;
		float:left;
		padding:2px 0px;
		width:50%;
		span, label{
			display:inline-block;
			font-weight:normal;
			width:30%;
			text-align:right;
			padding-right:6px; 
			font-size:inherit;
		}
	}
	input, select, textarea{
		width:auto;
	}
} 

.request_nav{
	float:right;
	padding:4px 12px;
	a{ 
		color:#2c86c7;
		text-decoration:none;
		text-transform:uppercase;
	}
}
a.nav_older{
		padding-left:10px; 
		background:url("../images/older_arrow.gif") no-repeat left;
}
	
a.nav_new{
	padding-right:10px; 
	background:url("../images/newer_arrow.gif") no-repeat right;
}


div.preview_pic{
		padding:0px;
		float:left;
		margin-right:10px;
		img{			
			padding:3px;
			background:#ffffff;
			border:1px solid #cfcfcf;
			width:50px;
			height:50px;
			@include shadows(#dfdfdf, 0px, 1px, 3px);
		}
}

div.profile_pic{
	img{
		padding:3px;
		background:#ffffff;
		border:1px solid #cfcfcf;		
		@include shadows(#dfdfdf, 0px, 1px, 3px);
	}
}

.request_details{	 
	background:#fff;	
	margin:0px 0px 0px 0px;  
	border:1px solid #efefef;
	 
	.request_header{		
		@include pie-clearfix;
		padding:5px 10px;		
		position:relative;
		margin-bottom:10px;
		background:lighten($base, 8%);
		border-bottom:1px solid #cfcfcf;
		.title{ 			
			color:#555555; 
			font-size:16px;
			em{ 			
				font-style:normal;
			}
		}
		.user_details a{
			color:#527eaa;
			text-transform:capitalize;	
		}
		.user_details a:hover{
			text-decoration:none;
		}
		div.description{
			margin:5px 5px 15px 70px;
			div#description-summary, div#description-full{ 
				padding:0px 0px 0px 0px;
				margin:0px;
				color:#333333; 
				line-height:18px;
				font-size:12px;
			}
		}
	}
	 
	.user_details{ 
		color:#999999; 
	}
	.request_desp { 
		margin:0px 10px 0px 10px;
		@include clearfix;		
		.sub_title{
			color:#454545; 
			display:block;
			font-weight:bold;
			text-transform:capitalize;	
			font-size:14px;
		}		
	}
	
	.request_status{
		background: #FEFEDF; /* old browsers */
		background: -moz-linear-gradient(top, #FEFEDF 0%, #FBFD90 100%); /* firefox */	
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FEFEDF), color-stop(100%,#FBFD90)); /* webkit */	
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FEFEDF', endColorstr='#FBFD90',GradientType=0 ); /* ie */ 
		
		float:right;
		position:relative;	
		top:-13px;
		border:1px solid #d3d497;
		
		img{
			position:absolute;
			left:-6px;
			top:0px;
		}
	
		ul{ 
			color:#979866;
			font-weight:bold;	
			padding:6px 10px; 
			list-style:none;
			margin:0px;
		}
	
		ul b{ 
			float:left;	
			font-weight:normal;
		}
		
		span.ltSlant{
			left:-8px;
			top:0px;
			border-width:7px;
			border-bottom-color:#d3d497;
		}
	}
}

.note_conv_form{
	.overlabel{
		margin:5px;
		color:#666;
	}
}

.seperator{
	border-top:1px solid #e3e5e0;
	display:block;
	height:1px;
	margin:5px 0px;
}
.attachment_list{
	color:#888987; 
	margin-top:3px;
}
.attachment_list li{
	padding:3px 6px 3px 20px;
	position:relative;	
} 
.attachment_list li img{
	position:absolute;
	left:0px;
	top:3px;
}
.attachment_list li a{
	color:#2c86c7;
	text-decoration:none;
} 

.request_panel{
	background:#eff6de;
	padding:5px 0px 5px 0px; 
	border:1px solid #dfeedf;
	border-width:0px 1px 1px 1px;
	margin:0px 0px 5px 0px; 
	padding:3px 10px;
}

.request_panel textarea{
	border:1px solid #DFDFDF;
	color:#333333; 
	font-size:12px;
	padding:5px 5px;
	width:98%;
	height:15px;
	clear:both;
	text-align:left;
} 

.button-container ul{
	@include horizontal-list;
	padding:10px 0px;  
}

.button-container{
	text-align:right;
}

label.overlabel{
	color:#888888;
	position:absolute; 
	font-size:1.0em;
	font-weight:normal;
	z-index:5;
	margin:8px;
}


.request_bt{
	color:#333; 
	padding:5px 12px 5px 12px;	
	font-weight:bold;
	background: #ffffff; /* old browsers */
	background: -moz-linear-gradient(top, #ffffff 0%, #e5e5e5 100%); /* firefox */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#e5e5e5)); /* webkit */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=0 ); /* ie */
	border:1px solid #afafaf; 
}
a.request_bt:hover{
	background:#fff; 
	border-color:#dae0c1; 
	color:#333;	
}

.conversations{
	.title{
		background:#efefef;
		margin:0px;
		padding:8px 10px;
		color:#333333;
		border-bottom:1px solid #dfdfdf;
	}
	padding:0px 0px; 
	margin-bottom:28px;
	text-align:left;
	ul{
		@include clearfix;
		list-style:none;
		margin:0px;
		padding:0px 0px 0px 0px;
		li.note{
			@include clearfix;
			padding:10px;
			border:1px solid #fff;			
			border-bottom:1px solid #dfdfdf;
			div.item_actions{
				float:right;
				padding:2px 0px;
				position:relative;
				top:-4px;
				visibility:hidden;
				a{
					color:#333333;
					font-weight:bold;
					text-decoration:none;
				}
				a:hover{
					text-decoration:none;
				}
			}		
			.note-body{				
				padding:0px 5px 5px 0px;			
				margin:0px 0px 0px 0px;
				font-size:12px;
				line-height:18px;
				color:#555555;
				p{
					padding:0px;
					padding-bottom:6px;
					margin:0px;
				}
			}
		}
		li.note:hover{
			border:1px solid #cfcfcf;
			background-color:#f6f6f6;
			div.item_actions{
				visibility:visible;
			}
		}
	}
	h5{
		margin-bottom:5px;
	}
	ul.attachment_list{
		padding:2px; margin:2px;
		li{
			padding:0px; margin:0px;
			@include clearfix;
			span{
				display:inline-block;
			}
		}
	}
	
	ul.note-actions{
			@include horizontal-list;
			padding-left:6px;
			a{
				font-size:0.9em;
			}	
	}
	.left_info{
		float:left;
		position:relative;
		z-index:2;
		width:60px;  
	}	
	.conv_details{		
		padding:0px 0px;	
		margin-left:70px;
		margin-right:30px;
		h4{
			margin:0px;
			padding:0px 0px 6px 0px;
		}		
		a.user_name{
			font-weight:bold;
			text-decoration:none;
			color:#444;
			font-size:12px;
		}	
		em.timestamp{
			color:#888888;
			display:block;
			font-style:normal;
			font-size:12px; 
		}	
	 
		.icon_lock{
			background:url("../images/private_lock.gif") #e4e4b9 left top no-repeat;
			float:right;
			position:relative;
			left:9px;
			bottom:7px;
			width:20px;
			height:19px;		 
		}
	}	
}
 
.user_details_widget{
	background:#f7fbfd;
	border:1px solid #b9d6eb;
	margin:16px 8px 6px 8px;
	h3.title, .user_details, .ui-list_with_icon{
		padding:5px 6px 5px 6px;	
	}	
	h3.title{
		color:#666666;  
		margin:0px;
	} 
	.user_details{ 
		img{
			float:left;
			margin-right:6px;	
			margin-top:4px;
		}
		a, em{
			display:block;
			font-style:normal;
			text-decoration:none;
		}
	}
	.ui-list_with_icon{
		background:#ffffff;		
	}  
} 

.ui-rightColSubTab{
	@include horizontal-list; 
	border-bottom:1px solid #b9d6eb;
	li{
		a{
			background:#f3f8fd;
			border:1px solid #d7e8f5;
			border-bottom-width:0px;
			color:#454545;
			padding:5px 12px; 
			position:relative;
			display:inline-block;
			@include border-top-radius(0.55em);
			text-decoration:none;
		}
	}
	li.first{
		margin-left:6px; 
	}
	li.active a{
		border-color:#b9d6eb;
		background-color:#ffffff;
		color:#6f6f6f;
		top:1px;
		padding-top:6px;
		font-weight:bold;
	}
}  

.ui-rightList{
	font-size:0.75em;
	background:#fff;
	padding:8px 0px 10px 0px;
}
.ui-rightList li{
	padding:4px 10px 4px 23px;
	color:#41658a;
	position:relative;
}
.ui-rightList li a{
	color:#41658a;
}

/* User Guide styles */
.sol_category{
	padding:55px 5px 5px 5px;
	margin:0px;
	background:url('/images/icons/solutions.png') no-repeat center 3px;
	font-weight:bold;		
	text-align:center;		
}


ul.icon_grid{
	@include horizontal-list;
	@include clearfix;	
	li{
		width:80px;
		height:80px;
		margin:0px 0px;
		padding:0px 0px 10px 0px;
		a{
			position:relative;
			display:block;
			padding:5px 0px;
			text-align:center; 
			text-decoration:none;
			color:#3a3a3a; 
			em{
				display:block;
				font-style:normal;				
				padding-top:5px;	
				white-space:normal;
				font-size:12px;				
			}
			@include corners(6px);
			
		}
		a:hover{
			color:#336699;
			background:lighten($complement, 30%);
				
		}
	}
}
	
ul.solution_folder.icon_grid{
	padding:10px;
	li{
		height:auto;
		position:relative;
		clear:left;
		border:1px solid red;	
		padding:0px;
		a.sol_category{
			margin:10px 0px;
			padding:5px 5px 5px 5px;
			font-weight:bold;		
			@include ellipsis(true);
		}
		a:hover{
			color:#336699;
			background-color:#efefef;				
		}
		span.count{
			@include corners(4px);
			background:#efefef;
			border:1px solid #cfcfcf;
			padding:3px 6px;
			position:absolute;
			left:70px;
			font-size:14px;
			font-weight:bold;
			top:36px;
			z-index:2;			
		}		
	}
}

.admin{
	padding:10px 0px; 
	margin:0px 20px;
	border-bottom:1px solid #ededed;
	border-top:1px solid #fefefe;
	ul.icon_grid{		
		li{ 
			width:100px; 
			padding-right:20px;
		}
	}
	h3.content_title{
		padding:5px 0px 15px 0px;
		font-weight:bold;
		color:#636363;
		margin:0px;	
	}
} 
.guide_page{
	padding:10px;
	border:1px solid #efefef;
	ul{
		li{
			a{
				color:#444;
			}
			a:hover{
				text-decoration:none;
			}
		}
	}
}

.product_help, .general_help{
	float:left;
	width:48%;	
}
.general_help{
	border-left:2px solid #efefef;
	padding-left:2%;
}


.guide_details{ 
	background:#fefefe;
	padding:4px 8% 4px 12px;
}

$lightBase:lighten($base, 5%);

.product_title{
	text-align:center;
	padding:5px 0px;
	@include border-radius(0.8em);
	border:2px solid #base; 
	margin:15px 15px 0px 15px;
	background: $base; /* old browsers */
	background: -moz-linear-gradient(top,  $lightBase 0%,  $base 100%); /* firefox */	
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, $lightBase), color-stop(100%, $base)); /* webkit */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$lightBase', endColorstr='$base',GradientType=0 ); /* ie */
	
	a{
		font-size:1.1em;
		color:#666666;
		text-decoration:none;
		
		em{
			font-style:normal;
			display:block;
			margin-top:6px;
			color:#666666;
		}
	}
}

.tableofcontents{
	padding:0px;margin:12px 5px 6px 18px;	 
	list-style:none;
	h4{
		margin:8px 0px 6px 0px;
		a{
			text-decoration:none;
			color:#393939;
		}
	}
	ul{
		margin:0px;
		padding:0px 6px 6px 8px;	 
		list-style:none;
	}
	a:hover{
		text-decoration:none;
	}
}

.search_box{
	input{
		display:inline-block; 
		border:1px solid #afafaf;
		padding:3px 2px;
		@include corners(6px);
		width:300px;
	}
	
}


.contactForm{
	padding-top:20px;
	.personalCard{
		background: #E7F1E0;  
		background: -moz-linear-gradient(top, #E7F1E0 0%, #DAECD4 100%);  
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#E7F1E0), color-stop(100%,#DAECD4));  
		img{
			float:left;
		}
	}	
	ul{
		@include no-bullets;
		padding:0px;margin:0px;
	}
	label{
		font-size:1.0em;
		display:inline-block;
	}
	.overlabel{
		margin-top:7px;
		color:#aaaaaa;
	}
	input{
		display:inline-block;
	}
	/*
	input.text, textarea {
		padding: 6px;
		border: solid 1px #E5E5E5;
		outline: 0; 
		width: 50%;
		background: #FFFFFF url('bg_form.png') left top repeat-x;
		background: -webkit-gradient(linear, left top, left 25, from(#FFFFFF), color-stop(4%, #EEEEEE), to(#FFFFFF));
		background: -moz-linear-gradient(top, #FFFFFF, #EEEEEE 1px, #FFFFFF 25px);
		box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;
		-moz-box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;
		-webkit-box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;
	}
	 
	textarea {
		width: 400px;
		max-width: 400px;
		height: 150px;
		line-height: 150%;
	}
	
	input.text:hover, textarea:hover,
	input.text:focus, textarea:focus {
		border-color: #afafaf;
		-webkit-box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 8px;
	}
	
	.form label {
		margin-left: 10px;
		color: #999999;
	}*/
	 		
}


.ui-login{ 
	width:380px;
}

.help_text{
	padding:2px 0px 0px 0px;
	a{
		text-decoration:none;
		color:#336699;
	}
}

.assign-agent{
	background: #f5f5f5;
	@include corners(6px);
	border-right:1px solid #dfdfdf;
	border-bottom:1px solid #dfdfdf;
	@include inset-shadows(#cfcfcf, 0px, 2px, 1px);
	padding:10px 10px 5px 10px;
	margin:3px 0px;
}

.ui-form{ 
	@include no-bullets; 
	@include pie-clearfix;
	padding:15px 15px 15px 15px;
	margin:0px 0px 6px 0px;
	position:relative;
	background: #f5f5f5;
	@include corners(6px);
	border-right:1px solid #dfdfdf;
	border-bottom:1px solid #dfdfdf;
	@include inset-shadows(#cfcfcf, 0px, 2px, 1px);
	li{
		padding:0px 0px 5px 0px; 
		margin:0px;
		float:left;		
		a.fdbutton{
			@include min-width(110px);
		}
		width:100%;
	} 
	li.text, li.paragraph{
		width:98%;
	}
	li.dropdown, li.small{
		width:48%;
	}
	
	li.medium{
		width:75%;
	}
	
	label, li.checkbox{						
		font-weight:normal; 
		padding:4px 0px;
		margin:0px;
		line-height:18px;
		color:#565656;
		font-size:14px;
	}
	li.checkbox{
		padding:10px 0px;
		@include clearfix;
		input, label{
			float:left;
		} 
		label{
			position:relative;
			font-size:12px;
			top:-3px; left:3px;
		}
	}	
	
	label.overlabel{
		color:#999999;
		margin-left:8px;
		margin-top:0px;
		font-size:14px;	
	}	
	input.text, textarea{		
		margin:0px 0px 3px 0px;
		color:#3f3f3f;
		padding:3px;
		font-size:16px;
		border:1px solid #bfbfbf;
		font-weight:normal;
		@include form-gradient;		
	}
	textarea{
		font-family:inherit;
		font-size:9pt;
		line-height:16px;
		overflow:auto;
	}
	input.very_small{
		width:200px;
	}
	textarea.smallpara{
		height:50px;
	}
	select{
		width:auto;
		font-size:1.0em; 
		font-weight:normal;
 	}
 	input.text:focus, textarea:focus{ 		 
 		@include form-gradient(#f7fdef);	
 		border-color:#5b711f;
 	}   
	span{
		font-weight:normal;
		font-size:0.9em;
		color:#777777;
		display:block;
	}	 
	.largefield{
		label{
			font-size:1.4em;			
		}
		input{
			font-size:1.4em; 
		}
	}	
	.seperator{
		margin-bottom:0px;
		padding:1px;
	}
	.button-container{
		margin-top:18px;
		background:$base;
		@include border-radius(0.6em);
		text-align:right;
		input.button{
			font-size:1em;
			padding:5px 8px;
		}
	}
	.check_box{
		@include clearfix;
		label{
			float:left;
			font-size:1.4em;		
		}
		input{
			float:left;
			margin:5px;
		}
	}
	.inline_field{
		margin:0px 0px 10px 30px;
		input{		
			width:45%;
			margin:0px;
		}
		label{ 
			font-size:1.2em;
		}
	}
	.inlineChecklist{
		label{
			float:left;
			font-size:1em; 
			padding:5px 16px 0px 0px; 
		}
		input{
			top:0px;
		}
	}
	.colsets{
		/*background:lighten($base, 8%);
		@include border-radius(0.2em);
		*/
		fieldset{
			@include pie-clearfix;
			margin:0px;
			padding:2px 1px;
			border:0px;
			position:relative;
			
			.dropchoice, .tags{
				@include pie-clearfix;
				float:left; 
				margin:0px 5px 0px 0px;
				padding:0px;				
				input{
					width:95%;
					float:left;
				}				
			}
			.dropchoice{ 
				width:35%; 
			}
			.tags{ 
				width:50%; 
			}
			img{				
				position:absolute;
				right:6px;
				top:3px;
			}
		}	
		fieldset.addchoice{
			border:1px solid #dfdfdf;
			background:#ffffff;
			padding:3px;	
		}	
	}
		
	.choicelist{
		label{
			font-size:1.1em;
		}
		label.radiolabel{
			font-size:1em;
			float:left; 
			padding:0px 5px;	
			margin-right:10px;		
		}
		input.radio{
			float:left;
		}
	}
	
	div.nestedChoices{					
			@include clearfix;	 
			padding-bottom:10px;
			div{
				margin:5px 0px 0px 20px;
				padding:4px 0px 0px 4px;
				border:1px dotted #afafaf;
				border-width:0px 0px 0px 1px;
			}
			input{
				margin-right:3px;
				position:relative;
				top:-1px; 
			}
			h4{
				font-size:1.1em; 
				margin:0px;
				padding:3px 0px 4px 4px;
				span{
					font-size:0.9em;
					padding:6px 3px 3px 16px;
				}
				label{
					padding:0px;
					margin:0px; 
					color:#333333;
					font-size:12px;
					display:inline;
				}
			}
			label{					
				float:none;
				padding-left:10px;
			}
			span{ 
				color:#666666;
			}
		}

	li.textleft{
		@include clearfix;
		position:relative;
		label{
			position:absolute;
			left:6px;
			top:3px;
			width:25%;
		}		
	}
	label.error{
		font-size:1em;
		color:red;
	}
	fieldset.addchoice{		
		padding:0px;			
		color:#999999;
		cursor:pointer;
		
	} 
	fieldset.addchoice:hover{
		background:#f8f8f8;
	}	
	.conditionset{
		border:1px solid #cfcfcf;
		padding:0px;
		fieldset{
			@include pie-clearfix;			
			padding:5px 0px 5px 4px;
			border-bottom:1px solid #cfcfcf;
			background:#efefef;
			position:relative;
			
			*{
				float:left;
				width:auto;
				margin:2px 4px;
			}
			.add, .delete{
				position:absolute;
				margin:0px;
				padding:0px;
				cursor:pointer;
				right:10px;
				top:5px;
			}
			div.controls{
				width:95%;
			}
			
			input.text{
				width:300px;
				font-size:10pt;
			}
			textarea.paragraph{
				width:400px;
			}
			
			div.s_comment{				
				width:520px;
				.paragraph{
					width:98%;
				}
			}
			div.s_email{
				float:none;
				display:block;
				clear:both;
				width:800px;
				padding:4px;
				@include clearfix;	
				div{
					width:100%;
					padding:4px 0px;
					font-size:12px;
					border-bottom:1px solid #cfcfcf;
					em{
						font-style:normal;
					}
					b{
						width:180px;
					}
					input.text, textarea.paragraph{
						width:590px;
					}
					a.l_placeholder{
						clear:left;
						float:right;
						font-size:11px; 
						text-decoration:none;
						color:#0078BD;
						border-bottom: 1px dotted #0078BD;
					}
					a.l_placeholder:hover {
					     border-bottom: 1px solid #0078BD;
					}
				}
			}
			
			span{
				margin:0px; padding:0px;
			}
			
			span.sort_handle:hover{
				background-color:#fafafa;
			}
			
			label.checkbox{
				width:100%;
				font-size:1.3em;				
			}
		}
		div{
			margin:0px;padding:0px;
		}
		
	}
}

a.addchoice{		
	padding:5px;			
	color:#999999;
	border:1px solid #cfcfcf;
	border-width:1px 0px;
	text-decoration:none;
	cursor:pointer;
	padding:6px 10px 6px 28px;			
	font-weight:bold;
	@include link-colors(#336699, #333333, #336699, #336699, #333333);
	display:block;
	background:url('../images/add.png') no-repeat 8px 7px;
} 

a.addchoice:hover{
	background-color:#f8f8f8;
}	

.grid{
	border:1px solid #cfcfcf;		
	padding:0px;
	background:#f6f6f6;
	table{
		padding:0px; margin:0px;
		font-size:12px;
		th, td{
			padding:8px 10px;
			vertical-align:top;			
		}
		th{			
			line-height:18px;	
			span{
				display:block;
				font-weight:normal;
			}
		}
		td{			
			label{
				font-size:12px;
				padding:0px 6px;
				color:#555555;
				em{
					font-style:normal;
					font-weight:bold;
					text-transform:capitalize;
					color:#000000;
				}
			}
			background:#efefef;
			border-top:1px solid #cfcfcf;				
		}
	}
	.olist{
		list-style:decimal;
	}
	.grid_form{	
		td{
			border:0px;
			padding:6px 10px 0px 10px;
			background:#fafafa;
		}
		.button-container{
			text-align:right;
			padding:0px 10px 10px 0px;
		}
	}
}

.grid{
	ul{
		@include no-bullets;
		margin:0px; padding:0px;		
		background:#efefef;
		border-top:1px solid #cfcfcf;
		padding:8px 12px;
		@include clearfix;
		li{
			margin:0px; padding:0px;
			float:left;
			width:33%;
		}
	}
}


span.sort_handle{
	position:relative;
	left:0px;
	top:1px;
	width:25px;
	height:25px;
	cursor:move;
	background:url(/images/sort_handle.gif) no-repeat;
	@include corners(5px);
}

.custom_form_outer{ 
	@include pie-clearfix;
	width:60%;
	float:left;	
}

h4.content_title{
	margin:0px;
	font-size:16px;
	font-weight:bold;
	padding:0px;
}

h4.list_title{
	margin:3px 8px; 
	padding:0px;
}

.pageContent .custom_form_outer{ 
	h3.content_title{
		padding:15px 0px 0px 15px;
		margin:0px;
	}	
}

.ui-custom-fields, .ui-custom-form{
	@include no-bullets;	
	margin:0px 0px 0px 0px; 
	padding:0px;
}

.admin_form{
	@include clearfix;
	background-color:#efefef; 
	padding:8px 10px 15px 10px;
	margin:0px;
	h4.title{
		color:#555;
		font-size:14px;
		font-weight:bold;
		margin:0px;
		padding:0px 0px 8px 18px;
	}
}

.admin_form .button-container{
	padding-left:180px;
	width:100%;
	.fdbutton{
		@include min-width(60px);
	}
}

.ui-custom-fields{
	@include clearfix;
	display:block;
	margin-bottom:10px;
	li{
		float:left;
	}
	.fdbutton{
		@include min-width(125px);
		margin:2px 0px 2px 15px;
		font-weight:normal;
	}
}

.ui-sortable-placeholder{
	background:#DFEFFF;
	border:1px dotted #C2D7EF;
	visibility: visible !important;
	padding:20px 6px;
}
	
.ui-custom-form{
	padding:10px 14px 3px 14px;
	margin-bottom:10px;	 
	background:#ffffff;
	@include clearfix;
	li{   
		padding:4px; 
		position:relative;
		border:1px dotted #ffffff;
		cursor:move;
		.ui-field-panel{
			position:absolute;
			right:0px; top:0px;			 
			display:none;
		}  	
		.action_panel{
			position:absolute;
			top:0px;
			right:20px;
			padding:0px;
			visibility:hidden;
		}
	} 
	
	li:hover, li.active{		
		background:#DFEFFF;
		border-color:#C2D7EF;
		.ui-field-panel{
			display:block;
		}
		.action_panel{
			visibility:visible;
		}
	}
	li.active{
		border-style:solid;
	}
}

.hint_drag{
	background:#fefedf;
	border:1px solid #cccccc;
	padding:15px 30px; 
	margin:10px 18px;
	display:block;
	
}



.forums{
	border:1px solid #efefef;
	td{
		border:1px solid #f0f0f0;
		text-align:left;
	}
	td.c1{
		background:#efefef;
	}
}

.forum_list, .topics_list{
	background:$base;
	padding:6px;
	@include border-radius(0.8em);
	h4.title{
		margin:0px;
		padding:2px 6px;
	}
	ul.base_set{
		@include horizontal-list;
		background:#ffffff;
		border:2px solid darken($base, 5%);
		@include border-radius(0.8em);	
		li{
			width:46.8%;
			margin:2px 8px;
			padding:0px;
			margin-bottom:6px;
			h5{
				font-size:14px;
				margin:7px 6px 2px 13px;
				a{
					color:#545454;
					text-decoration:none;	
					span.subcounter{
						font-weight:normal;	
						color:#848484;					
					}					
				}
				a:hover{
					span.follow_link{
						color:darken($base, 45%);
					}
				}
				border-bottom:1px solid #efefef;
			}
		}
	}
	ul{
		@include no-bullets;
		padding:6px;
		margin:0px; 
		li{
			a{
				color:#1A6690;
			}
		}
	}
	
}

.topics_list{ 
	ul.base_set{
		padding-top:16px;
		li{
			width:100%;
			margin-bottom:10px;
			border-bottom:1px solid #efefef;
		}
		li{  
			.topic_icon{
			 	@include float-left; 
			 	margin-right:10px;
			}
		}
		h4.topic_title{
			margin:0px;		
			font-weight:bold;
			a{
				color:#1A6690;
			}
		}
		a{
			text-decoration:none;
			color:#1A6690;
		}
	} 
}


.dialog_ticket_field{
	/*position:absolute;
	z-index:10;	
	width:510px;
	background:#ffffff;
	border:3px solid $base;
	padding:12px 10px;	
	@include border-radius(0.6em);*/
	float:left;
	width:39%; 
	margin-top:25px;
	position:relative;
	margin-left:5px;
	background:lighten($base, 6%);
	@include border-radius(8px);
	font-size:0.95em;
	ul.ui-form{
		background:none;
	}
}


.title_bar_grey{
	@include clearfix;
	background-color:#efefef;
	display:block;
	padding:4px 10px 4px 4px;
	@include corners(6px, 6px, 0px, 0px);
	h3.title{
		color:#555;
		font-weight:bold;
		font-size:1.5em;
		padding:8px 15px;
		margin:0px;
	}
}

.alpha_sort_list{ 
	@include clearfix;
	list-style:none;
	display:block;	
	padding:0px 2px;
	margin:0px;	
	background:#bfbfbf;
	border:1px solid #bfbfbf;
	border-width:0px 0px 1px 0px; 
	@include corners(6px);
	float:left;
	li{
		float:left;
		margin:0px;
		padding:5px 0px;		
		a{			
			border-right:1px solid #dedede;			
			background: #efefef;			
			font-weight:bold;
			text-decoration:none;
			padding:5px 8px;
			color: #909090;
		}
	}
	li.active a, li a:hover{
			color:#333333;
			border-color:#f5f5f5f;
			background: #fff;					
	}
	li.first a{
		@include corners(6px, 0px, 0px, 6px);
	}
	li.last a{
		@include corners(0px, 6px, 6px, 0px);
		border:0px;
	}
}

.search_unit{
	
}

.contact_table{
	border:3px solid #e8e8e8;
	@include corners(6px);	
	@include no-bullets;
	margin:0px;padding:0px;
	li{
		border-bottom:1px solid #e2e2e2; 
		vertical-align:top;
		padding:3px;
		margin:0px;
		font-size:1.1em;
		b{
			color:#666666;
		}
		a.user_name{
			display:block;
			font-weight:normal;
			font-size:1.3em;
			color:#336699;
			padding:0px 0px 0px 0px;
			margin:0px;
			text-decoration:none;
			text-transform:capitalize;
		}
		div{
			margin:0px; padding:0px;
		}		
	} 
	
		
}

.admin_list, .content_list{
	@include no-bullets;
	margin:0px 0px;
	padding:0px;
	border:3px solid #efefef;
	@include corners(0px, 0px, 6px, 6px);
	border-top:0px;
	li{	
		@include clearfix;
		padding:8px 5px 8px 18px;
		border-bottom:1px solid #efefef;
		@include vertical-gradient(#fbfbfb, #fafafa);
		color:#656565;
		position:relative;
		img.profile_pic{
			float:left;
			margin-right:10px;
			margin-top:5px;
		}
		div.item_actions{
			float:right;
			padding:2px 0px;
			position:relative;
			top:-4px;
			visibility:hidden;
			a{
				color:#333333;
				font-weight:bold;
				text-decoration:none;
			}
			a:hover{
				text-decoration:none;
			}
		}		
		a{
			color:#336699;
			text-decoration:none;
		}
		a.item_info{
			font-size:1.25em;
			color:#336699;
			text-decoration:none;
		 }
		 input.checkbox{
		 	position:absolute;
		 	left:8px;
		 	top:10px;
		 }
		 span.sort_handle{
			position:relative;
			float:left;
			left:0px;
			top:1px;
			width:25px;
			height:25px;
			cursor:move;
			background:url(/images/sort_handle.gif) no-repeat;
			@include corners(5px);
		}
	}
	li:hover{
		background:#f6f6f6;  
		div.item_actions{
			visibility:visible;
		}
	} 
}

.deactivated{
	li{
		background:#f6f6f6;
		a.item_info{
			color:#666666;
			}
	}
}

.sortable{
	background:#efefef;
	border-top:1px solid #cfcfcf;
	padding:2px 0px 10px 0px;
	span.sort_handle{
		margin:0px 5px 0px 0px;
		position:relative;
		top:-1px !important;
	}
	.actions{
		padding:3px 10px 6px 3px;
		text-align:right;
	}
	li{
		cursor:move;
		border:1px solid #dfdfdf;
		margin:1px 10px;
		border-bottom-color:#bfbfbfb;
		border-right-color:#bfbfbfb;
		font-size:1.2em;
		padding:4px;
		@include corners(2px);
	}
	li.ui-sortable-placeholder{
		border-color:#efefef;
		background:#efefef;
	}
}


.switch{
	border:1px solid #afafaf;
	@include border-radius(8px);
	@include pie-clearfix;	
	float:left;
	a{
		padding:4px 10px;
		text-decoration:none;
		color:#fff;
		font-size:1.2em;
		float:left;		
	}
	.on{
		border:1px solid #afafaf;
		@include border-radius(8px);
		color:#333333;
		background: #ffffff; /* old browsers */
		background: -moz-linear-gradient(top, #ffffff 0%, #f1f1f1 9%, #f6f6f6 100%); /* firefox */	
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(9%,#f1f1f1), color-stop(100%,#f6f6f6)); /* webkit */	
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f6f6f6',GradientType=0 ); /* ie */
	}
	background: #c9de96; /* old browsers */
	background: -moz-linear-gradient(top, #c9de96 0%, #8ab66b 11%, #398235 100%); /* firefox */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#c9de96), color-stop(11%,#8ab66b), color-stop(100%,#398235)); /* webkit */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c9de96', endColorstr='#398235',GradientType=0 ); /* ie */
}

.tab_panel{
	margin:5px 0px 10px 20px;
	padding:0px 6px;
	b{
		margin-right:10px;
	}
	display:block;
	a{
		background:#cfcfcf;
		position:relative;
		top:2px;
		text-decoration:none;
		padding:5px 8px;
		margin:0px 8px 0px 0px;
		color:#333333 !important;
		border:1px solid #afafaf;
		@include corners(8px);
		font-size:1.1em;
		background: #ffffff; /* old browsers */		
		background: -moz-linear-gradient(top, #ffffff 0%, #f3f3f3 50%, #ededed 51%, #ffffff 100%); /* firefox */		
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(50%,#f3f3f3), color-stop(51%,#ededed), color-stop(100%,#ffffff)); /* webkit */		
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=0 ); /* ie */  
	}
	a.active, a:hover{
		background:#fff;
		-moz-box-shadow:inset 0px 1px 3px #333333;
	    -webkit-box-shadow:inset 0 0 3px #333333;
	    box-shadow:inset 0 0 3px #333333;		
	}
}

.infoPage{	
	position:relative;
	h3.info_title{
		font-size:2.0em;
		margin:0px 0px;
		padding:4px 0px;
	}
	h4.info_title{
		font-size:1.3em;
		margin:0px 0px;
		padding:4px 0px;
		a{
			text-decoration:none;
			color:#336699;
		}
	}	
	.info_subtitle{
		font-size:1.3em;
		font-weight:bold;
	}
	span.seperator{
		border-color:#97acb8;
		margin:15px 0px;
	}
	p.info{		
		color:#333333;
		background-color: transparent;
		display: block;
		font-size: 13px;
		line-height: 18px;
		margin-bottom: 0px 0px 13px 0px;
		padding:0px;
		text-align: left;

	}
}

.company{
	margin:12px 19px 12px 50px;
	.building_pic{
		position:absolute;
		left:-40px;
	}
}

.contact{
	margin:12px 19px 12px 150px;
	.profile_pic{
		position:absolute;
		border:1px solid #afafaf;
		left:-140px;
	}
}

.contact_info{
		clear:left;
		margin:5px;
		.icon_text{
			font-size:1.1em;
			padding:2px 0px 0px 30px;
			position:relative;
			background:none;
			span{
				em{
					font-style:normal;
					float:left;
					@include min-width(60px);
				}
			}
			img{
				position:absolute;
				left:0px;
				top:0px;
			}
			a, span{
				display:block;
			}
			a{			
				text-decoration:none;
				color:#336699;				
			}
		}
	}


.tag_list{
	background:url(../images/icons/tag_blue.png) no-repeat left top;
	padding-left:22px;
	margin:5px 0px;
	position:relative;	
	a{
		@include corners(5px);
		background-color:#e7e7e7;
		color:#666666;
		padding:2px 6px;
		text-decoration:none;
	}	
}

.history_list{
	@include no-bullets;
	margin:0px; padding:4px 0px;	
	a:hover{
		text-decoration:none;
	}
	li{
		padding:8px 10px;
		a, a:visited{
			color:#336699;
		}
		h3{
			font-size:1.2em;
			padding:0px 0px 0px 0px; margin:0px 0px 8px 0px;
			display:block;			
		}
		strong{
			display:block;
			span{
				float:left;
				@include min-width(100px);
				font-weight:normal;
			}
		}
	}
	li.stripe{
		background:#eaeef1;
	}
}

ul.item_list{
	@include no-bullets;		
	@include clearfix;	
	margin:0px;			
	padding:0px;	
	background:#f8f8f8;
	border:1px solid #dfdfdf;
	border-bottom-color:#e8e8e8;
	border-left-color:#e8e8e8;
	li{
		padding:5px;
		margin:5px;
		font-size:12px;
		@include clearfix;
		position:relative;
		@include min-width(150px);
		@include corners(6px);
		a{
			text-decoration:none;				
		}	
		div.preview_pic{
			margin-right:5px;
			img{
				width:32px;
				height:32px;		
			}
		} 
		b{
			position:relative;	
			top:2px;
		}
		.selected_tick{
			position:absolute;
			left:3px; bottom:3px;
			display:none;		
		}
		.control{
			position:absolute;
			right:3px; bottom:3px;
			display:none;
		}
	}
	li:hover{
		background:#efefef;
	}
	li:hover .selected_tick, li:hover .control{
		display:block;
	}
}
ul.active{	
	a{			
		color:#336699;		
	}
	.selected_tick{
		background:url('/images/delete.png') no-repeat;
	}
}
ul.inactive{
	a{
		@include opacity(0.6);		
		color:#333333;	
	}
	a:hover{
		@include opacity(1);
	}
	.selected_tick{
		background:url('/images/photo_check.png') no-repeat;					
	}
}

.padding6{
	padding:6px;
}

h3.t_padding{
	padding:2px 10px;
}

label.caption{
	text-transform:capitalize;
}

.placeholder-info{
	width:400px;
	position:absolute;
	text-align:left;
	height:85%;
	top:2%;
	right:30px;
	@include shadows(#888888, 0px, 0px, 9px);
	z-index:99999;
	.placeholder-list{
		border:1px solid #afafaf;
		background:#f8f8f8;
		padding:10px 15px;
		overflow:auto;
		height:70%;
	}
	margin:10px 0px;
	padding:10px 15px;
	background:#efefef;
	@include corners(6px);
	border:3px solid #dfdfdf;
	h2{
		padding:0px;
		margin:0px;	
		font-size:1.6em;
	}
	p{
		margin:0px 0px 8px 0px;
		font-size:10px;
		a{
			font-size:11px;
		}
	}
	dl{
		padding:0px;margin:0px;
		
		dd{
			padding:0px 0px 8px 0px;margin:0px;
		}
		dt{	
			a{
				font-size:16px;
				font-family:inherit;
				text-decoration:none;
				color:#393939;
				border-bottom: 1px dotted #393939;
			}
			a:hover{
				border-bottom: 0px;
				color:#0078BD;
			}
		}
	}
	
}

* html .placeholder-info {position:absolute;}


.guides{
	padding:8px 0px 0px 30px;
	li{
		padding:3px 5px;
		a{
			font-size:14px;
			color:#333333;
			text-decoration:none;
			border-bottom:1px dotted #333333;
			padding:0px;
		}
		a:hover{
			border:0px;
		}
	}
}

.twoColumn{
	.col_left, .col_right{
		float:left;
		padding:0px;
		margin:0px;
		width:50%;
	}
	.col_right{
		.guides{
			border-left:1px solid #efefef;
		}
	}
}

.mceEditorView{
	line-height: 20px;
	vertical-align: baseline;
	font-size:12px;
	color:#333333;	
	img{
		margin:0px 10px 10px 10px;
	}
	p{
		margin: 0px 0px 1.5em;
	} 
}


div.information_tip{
	padding:15px 20px;
	@include corners(8px);
	margin:0px 0px 10px 0px;
	background: #f2f2f2;
	h3.title, h4.title{
		padding:0px;
		margin:3px 0px 6px 0px;
		font-weight:bold;		
		color:#666666px;
	}
	h3.title{
		font-size:20px;
		color:#888888px
	}
	h4.title{
		font-size:16px;
	}
	
}


/* Search form generic styling */
div.search{
	padding:8px 0px;
	position:relative;
	width:60%;
	@include clearfix;
	label{
		display:block;		
	}
	input.search{	
		width:90%;
		padding:3px;		
		margin:3px 0px;
	}
	label, input.search{
		font-size:14px;
		color:333;		
	}
}

.innerContent{
	padding:8px;
	@include corners(6px);
	background:#efefef;
}

.sol_list{
	@include pretty-bullets($bullet-icon);
	margin:8px 0px 10px 0px; padding:0px 3px;
	font-size:14px;
	a{
		@include link-colors(#336699, #443322, #336699, #336699, #336699);
		text-decoration:none;
	}
}

.two_col_cont{
	@include clearfix;
	padding:0px 0px 0px 0px;
	.left_col, .right_col{
		float:left;	
		padding-top:10px;
		padding-bottom:10px;
	}
	.left_col{
		width:30%;
	}
	.right_col{
		padding-left:20px;
		width:65%;		
		@include inset-shadows;
		overflow:hidden;
		border:1px solid #dfdfdf;
		ul.carousel{
			@include no-bullets;
			margin:0px; padding:0px;
			min-height:400px;
		}
	}	
}

.white_curved_cont{
	@include corners(6px);
	background-color:#ffffff;
	padding:10px;
	p{
		font-size:12px;
	}
}

.community_forums{
	background-image:url('../images/icons/comments_32.png');
	background-repeat: no-repeat;
	background-position: 6px 6px;	
	padding:10px 16px 4px 44px;
	margin-right:10px;
	margin-top:8px;	
}

.ssp_category_list{
	@include no-bullets;
	margin:10px 0px;
	padding:0px;
	border:1px solid #cfcfcf;
	border-width:1px 0px 1px 1px;
	@include corners(6px, 0px, 0px, 6px);	
	li{	
		@include clearfix;		
		border-bottom:1px solid #cfcfcf;
		border-top:1px solid #ffffff;
		@include corners(6px, 0px, 0px, 6px);
		span.count{
			float:right;			
			margin:4px;
			padding:2px 8px;
			@include corners(4px);
			background:#666666;
			color:#ffffff;
		}			
		a{			
			background-image:url("../images/dir.png");
			background-repeat:no-repeat;
			background-position:10px 6px;
			padding:5px 15px 5px 33px;
			font-size:14px;
			text-decoration:none;		
			@include corners(4px);	
			color:#333333;
			display:block;
		}
		a:hover{
			background-color:#f3f3f3;
		} 
		a.active{
			background-color:#ffffff;
		}
	}
}

.tr_wrap{
	position:fixed;
	right:0px;
	top:0px;
	width:100%;
	height:100%;	
	z-index:99999;
	.screen{
		position:absolute;width:100%; height:100%; left:0px; top:0px;
		background:#888888;
		@include opacity(0.3);
	}
	.tr_dialog{
		@include shadows(#888888, 0px, 0px, 20px);
		@include corners(8px);
		padding:0px;
		margin:0px;		
		width:80%;		
		position:absolute;
		right:-5px;
		top:1%;
		height:98%;
		background-color:#ffffff;
		border:1px solid #afafaf;	
		.header_area{
			@include corners(8px, 8px, 0, 0);
		}		
		.page_area{
			overflow:auto;
			height:85%;
		}
	}
}

.page_area, .header_area{
	padding:10px 20px 6px 20px;
}

.header_area{
	@include vertical-gradient(#ebecef, #d1d5db);
	border-bottom:1px solid #bbbfc9;
	h4{
		padding:0px; margin:0px;
		font-size:16px;
		font-weight:bold;
		color:#333333;
		a{
			text-decoration:none;
			color:#333333;
		}
		span{
			font-size:12px;
		}
	}
	.actions{
		a{
			@include corners(6px);
			padding:8px 2px 0px 2px;
			text-decoration:none;
		}
		a:hover{
			background:#ffffff;
		}
	}
}		

.ajax-loader{
	background-image:url('/images/ajax-loader.gif');
	background-repeat:no-repeat;
	background-position: 10px 10px;
}

.email_info{
	border:1px solid #cfcfcf;
	padding:4px 10px;
	background:#f2ffda;
	@include corners(3px);
	font-size:11px;
}

.flash_info{
	background-color:#f4fdcb;
	border-bottom:1px solid #b9b9b9;
	padding:8px 20px;
	color:#333333;
	font-size:12px;
}

.search_results{
	background:#ffffff;
	@include inset-shadows;
	@include corners(6px);
	border:1px solid #dfdfdf;
	padding:10px;
	.result{
		border-top:1px solid #efefef;
		padding:8px 10px 10px 10px;
	}
	h2{
		font-size:16px; color:#333333;
	}
	h4{
		font-size:12px;
		a{
			color:#4D769F;
		}
		margin:0px;
	}
}

.link_placeholder{
	float:right;
	margin-right:15px;
}



.button_panel{
	width:95%;
	background:#dfdfdf;
	padding:10px;
	text-align:right;
}

.close{
	position:absolute;
	right:5px;
	top:5px;
	width:28px;
	height:28px;
	background:url("../images/close_delete.png") no-repeat center;
	z-index:999;
}

.property_selector{
	position:relative;
	padding:3px 12px;
	width:200px;
	display:inline-block;
	margin-left:10px;
	@include corners(18px);
	background:#333333;
	border-bottom:1px solid #b4b4b4;
	a{
		color:#b4b4b4 !important;
		font-size:12px;
	}
	.drop{
		position:absolute;
		right:10px;
		top:8px;
		border:5px solid #333333;
		border-top-color:#ffffff;
		width:1px; height:1px;
	}	
}

.menu{
	font-size:12px;
	display:none;
	ul{
		@include no-bullets;
		background: #f5f5f5;
		@include corners(6px);
		border-right:1px solid #dfdfdf;
		border-bottom:1px solid #dfdfdf;
		@include inset-shadows(#cfcfcf, 0px, 2px, 1px);
		padding:10px 10px 5px 10px;
		margin:3px 0px;
	}
}