@import "base";
@import "mixins";

/* Used suggestions on all examples */
$choicebg: #DEE7F8;

div.autocomplete ul {
  background: #EEE;
  list-style-type: none;
  position:absolute;
  z-index:99999;
  padding: 0px;
  margin: 0px;
}

div.autocomplete ul li {
  background: #EEE;
  border: 1px solid #CCC;
  border-top: none;
  font-size: 13px;
  padding: 4px 12px;
  font-family: "Lucida Grande","Verdana";
  font-size: 11px;
  margin: 0px !important;
  white-space: nowrap !important;
  cursor: pointer;
  text-overflow: ellipsis;
  overflow: hidden;
}

div.autocomplete ul li.selected {
  background: #78959D;
  border: none;
  padding: 4px 13px 5px;
  color: #FFF;
}


/* Only used on multi select fields */

ul.multi_value_field {
  overflow: hidden;
  list-style-type: none;
  padding: 0px 3px;
  margin: 0px;
  border: 1px solid #999;
  height: auto !important;
  width: 98%;
  border: 1px solid #CFCFCF;
  background:#ffffff;
}

ul.multi_value_field li, ul.multi_value_field input {
  display: block;
  float: left;
  margin: 3px 5px 2px 0;
  list-style-type: none;
  -x-system-font: none;
  font-family: "Lucida Grande","Verdana";
  font-size:13px;
  width:auto;
  position:relative;
  @include shadows(#ffffff, 0, 0, 0);
}

ul.multi_value_field li.search_field_item{
    padding:0px;
    border:0px;
}

ul.multi_value_field li.choice {
  @include corners(12px);
  background: $choicebg none repeat scroll 0 0;
  border: 1px solid darken($choicebg, 10%);
  padding: 0px 4px 2px 12px;
}

ul.multi_value_field li.choice a.close-link {
  font-family:arial;
  color: desaturate(darken($choicebg, 30%), 40%);
  padding: 0px 4px 0px 8px;
  position:relative;
  font-size: 13px;
  cursor: pointer;
  text-decoration: none;
  outline: none;
  background:none;
}

ul.multi_value_field li input {
  border: 0 !important;
  margin: 0 !important;
  outline: 0 !important;
  padding: 3px 0 3px !important;
  width: 100px !important;
  background: none !important;
}

ul.multi_value_field li.choice:hover {
  background-color: #BBCEF1;
  border-color: #6D95E0;
}

