// Here is where you can define your constants for your application and to configure the blueprint framework.
// Feel free to delete these if you want keep the defaults:

$blueprint-grid-columns: 24;
$blueprint-grid-width: 30px;
$blueprint-grid-margin: 10px;
$blueprint-liquid-container-width: 95%; 

/* Theme Colors and layout Defaults */
$header_color:#2f3733; 				 
$tab_color:#7cb537; 				 
$background:#efefef; 

$sidebar-color:#ffffff;
$sidebar-width:310px;
$invert-side-width:200px;
$header_height:90px;
$use-mozilla-ellipsis-binding:true;

@import "compass/utilities";
@import "compass/css3";
@import "compass/support"; 

// Import the non-default scaffolding module.
@import "blueprint/liquid";
@import "blueprint/buttons";
@import "blueprint/link-icons";
@import "blueprint/typography";
 
// Typography Configuration
$blueprint-font-family: "Lucida Grande", Geneva, Arial,Verdana,sans-serif;

// Bullet icon 
$bullet-icon:"../images/request_nav_seperator.gif";




