// Here is where you can define your constants for your application and to configure the blueprint framework.
// Feel free to delete these if you want keep the defaults:

$blueprint-grid-columns: 24;
$blueprint-grid-width: 30px;
$blueprint-grid-margin: 10px; 
$blueprint-liquid-container-width: 90%;
$legacy-support-for-ie:true;

/* Theme Colors and layout Defaults */
$base:#d4ebd4; 				/* Base Green */
$base-highlight:#629462;

$complement:#5fa5d8;		/* Secondary Blue */

$background:desaturate(lighten($base, 8%), 12%);

$sidebar-color:#f2f8fc;
$sidebar-width:300px;
$solution-sidew:240px;
$footer-height:50px;
$header_height:90px;
$use-mozilla-ellipsis-binding:true;

@import "compass/reset";
@import "compass/utilities";
@import "compass/css3";
@import "compass/support";

// Import the stick footer module.
/*
@import "compass/layout/sticky-footer";
@include sticky-footer($footer-height, "#wrap", ".push", "#footer");
*/
// Import all the default blueprint modules so that we can access their mixins.
@import "blueprint";   

// Import the non-default scaffolding module.
@import "blueprint/liquid";
@import "blueprint/buttons";
@import "blueprint/link-icons";
@import "blueprint/typography";

/*@include blueprint;*/

// Typography Configuration
$blueprint-font-family: "Lucida Grande",Geneva,Arial,Verdana,sans-serif;

// Bullet icon 
$bullet-icon:"../images/request_nav_seperator.gif";




