// Here is where you can define your constants for your application and to configure the blueprint framework.
// Feel free to delete these if you want keep the defaults:

$blueprint-liquid-grid-columns: 24;
$blueprint-liquid-grid-width: 3.167%;
$blueprint-liquid-grid-margin: 1.042%;
$blueprint-liquid-container-width: 90%;
$blueprint-liquid-container-min-width: 1102px;
$blueprint-liquid-grid-push-pull: -($blueprint-liquid-grid-margin + $blueprint-liquid-grid-width);

/* Theme Colors and layout Defaults */
$header_color:#2f3733;
$tab_color:#7cb537;
$background:#efefef;

$sidebar-color:#ffffff;
$sidebar-width:310px;
$invert-side-width:200px;
$header_height:54px;
$use-mozilla-ellipsis-binding:true;

@import "compass/utilities";
@import "compass/css3";
@import "compass/support"; 
@import "compass/typography/text/ellipsis";

// Import the non-default scaffolding module.
@import "blueprint/liquid";
@import "blueprint/buttons";
@import "blueprint/link-icons";
@import "blueprint/typography";
 
// Typography Configuration
$blueprint-font-family: "Helvetica neue", "Helvetica", Arial, Verdana, sans-serif;
$symbol: sprite-map("symbols/*.png");
$ticketicon: sprite-map("ticket-icon/*.png");
$icons: sprite-map("icons/*.png");