// This import applies a global reset to any page that imports this stylesheet.
@import "base";
@import "mixins";  

body {	font:12px $blueprint-font-family; background-color: transparent; }

body {
	h1, h2, h3, h4, h5{
		margin:0px;
	}
	h4{
		font-size:12px;
	}
}

.font11{
	font-size:11px;
}

a{ @include link-colors(#4D769F, #3399cc); }
a:hover{text-decoration:none;}

p{
	color: #555555;
    font-size: 12px;
    line-height: 1.35em;
    margin:5px 0px 1.3em 0px;
    text-align: left;
}

.hide{
    display:none;
}

.clearfix{ @include clearfix; }

.title{ color:#444444; padding:6px 0px 10px 0px;font-weight:bold;}
.title a{ @include link-colors(#4D769F, #3399cc, #4D769F, #4D769F); text-decoration:none; }
h1.title{ font-size:2em; text-transform:capitalize; font-weight:normal; }
h2.title{ font-size:1.65em; font-weight:normal; }
h3.title, h3.sub_title, h3.title-band{ font-size:1.45em; }
h4.title { font-size:1.36em; font-weight:normal; }
h3.title-band{ margin:12px -20px; background-color:#f2f2f2; padding:8px 20px; }
h3.sub_title{ font-size:1.1em; }

.floatl{float:left;}
.floatr{float:right;}
.alignright{text-align:right;}
.aligncenter{text-align:center;}
.info_data, .info-data{
	color:#888888;
	font-size:12px;
	line-height:18px;
	padding-bottom:6px;
} 
table td{ 
	vertical-align:top; 
}

.strikethrough{
	text-decoration:line-through;
}

input.auto{
   width:auto !important;
}

textarea.auto-height{
   height:auto !important;
}

.lowercase{
	text-transform:lowercase;
}

.center{
   text-align:center;
}

.padding{
   padding:3px 6px;
}

label.error{
   color:red;
}