//including the needed styles from app
@import "portal/lib/falcon_settings";
@import "settings/settings";
@import "pattern/lib/forms";
@import "pattern/lib/buttons";
@import "pattern/lib/button-groups";
@import "pattern/lib/popovers";
@import "plugins/select2";


body{
  min-width: 100%;
}

.clearfix{
  clear: both;
}
.sub-heading {
  letter-spacing: 1px;
  font-weight: 200;
  font-size: 14px;
  color: #666;
}
.activation-form {
  padding-top: 20px;
  label.control-label {
    margin-top: 5px;
  }
  .separator {
    border-bottom: 1px solid rgba(153, 153, 153, 0.2);
    margin-top: 10px;
    margin-bottom: 10px;
  }
}

.activation-page {
  width: 600px;
  background: #fff;
  margin: 75px auto;
  box-shadow: 0px 0px 10px -4px #4d4d4d;
  border-radius: 5px;
  .industry-select2 {
    width:107%;
  }
}
.banner {
  background: #183247;
  @include border-radius(5px 5px 0px 0px);
  @include padding(30px 50px);
  color: #183247;
  border-bottom: 1px solid #dadfe3;
  .logo {
    @include float(left);
  }
  .heading {
    @include float(left);
    font-size: 25px;
    color: #183247;
    @include padding(8px 15px);
  }
}

.activation-container {
  @include padding(30px 60px);

  .heading {
    text-transform: capitalize;
    color: #183247;
    font-weight: 600;
  }
  .lead {
    line-height: 12px;
    font-size: 15px;
    margin-bottom: 30px;
    font-weight:300;
    color: #4E4E4E;
  }
  
  .control-group {
    margin: 15px 0px;
    .separator{
      display: none;
    }
    .control-label {
      @include float(left);
      width: 35%;
    }
    .controls{
      @include float(left);
      width: 65%;
    }
    .controls input, .controls select{
      width: 100%;
      font-size: 14px;
      @include padding(6px 10px);
      @include box-shadow(none);
      color: #183247;
    }
  }

  .form-actions {
    background: #fff;
    border: none;
    text-align: center;
    .btn-primary {
      font-size: 14px;
      background: #02b875;
      @include padding(8px 24px);
      border-radius: 5px;
      text-transform: uppercase;
      border: 1px solid #03a86b;
    }
  }
}

.activation-page{
  .banner{
    background-color: #183247;
    .heading{
      color: #fff;
    }
  }
}

//password policy popover styles
.popover .password-wrapper{

    .policy-title {
      font-weight: bold;
      margin-bottom: 10px;
      font-size:14px;
    }

    ul{
        @include margin-left(5px);
    }

    li{
    @include margin-left(10px);
    list-style-type: disc;
    line-height: 22px;
  }
}
