@import "base";
@import "mixins";

/* generic form styles */

label{
    display: block; 
    color: #666;
	padding:6px 0px 3px 0px;
	font-size:1.4em;
}

input[type=text], select, input.text { 
    width: 96%;
	margin:0px 0px 3px 0px;
	color:#3f3f3f;
	padding:3px;
	font-size:16px;
}

input.text, input[type=text], textarea{
	border:1px solid #cfcfcf;
	font-weight:400;
}

div.color{
	input{
		width:220px;
		font-size:16px;
		border:1px solid #afafaf;
	}
	span{
		display:inline;
	}
}

textarea{  
	overflow:auto;
	font-size:1.0em;
	line-height:1.4em;
	resize:none;
	padding:3px;
}

input.very_small{
	width:200px;
}

textarea.smallpara{
	height:50px;
}
	
input:focus, textarea:focus{ border-color:$tab_color !important; }
input:focus, select:focus, textarea:focus{ @include shadows($tab_color, 0, 0, 3px);}

#header_search{
	border:0px;
}

input.disabled, select.disabled, textarea.disabled{
	background-color:#F0F0F0;  
	border:	1px solid #cfcfcf;
	color:#777777 !important;
}

select {
    padding: 1px;
	font-size:13px; 
	font-weight:normal;
	width:auto;
}

textarea { 
    height: 100px;
    width: 96%;
    font-family:$blueprint-font-family;
}


form table {
    width: 100%;
}

div.ui-form ul{
	padding:0px;
}

div.ui-form ul, ul.ui-form{ 
	list-style:none; 
	@include pie-clearfix;
	margin:0px -20px 10px -20px;
}


a.addchoice{		
	padding:5px;			
	color:#999999;
	border:1px solid #cfcfcf;
	border-width:1px 0px;
	text-decoration:none;
	cursor:pointer;
	padding:8px 10px 8px 28px;			
	font-weight:bold;
	@include link-colors(#333333, #336699, #333333, #333333, #333333);
	display:block;
	background-image:url('../images/add.png');
	background-repeat: no-repeat;
	background-position: 8px 7px;
	background-color:#f2f2f2;
} 

a.addchoice:hover{
	background-color:#e8e8e8;
}	

.colsets{
	.customchoices{
				
	}
	fieldset{
		@include pie-clearfix;
		margin:1px 0px 0px 0px;
		padding:2px 1px;
		border:0px;
		position:relative;
		background-color:#f1f1f1;
		border:1px solid #cfcfcf;
		b{
			font-size:11px;
		}
		.dropchoice, .tags{
			@include pie-clearfix;
			float:left; 
			margin:0px 5px 0px 0px;
			padding:0px;				
			input{
				margin-right:5px;
				width:100%;
			}				
		}
		.dropchoice{ 
			width:76%; 
		}
		.tags{ 
			width:50%; 
			display:none;
		}
		img{	
			cursor:pointer;			
			position:absolute;
			right:8px;
			top:5px;
		}
	}
	a.addchoice{
		border:1px solid #dfdfdf;
		background-color:#f3f3f3;
		background-position:5px 5px; 
		font-size:12px;
		padding:6px 10px 6px 25px;			
	}
	a.addchoice:hover{
		background-color:#f8f8f8;
	}
}	
	
.choicelist{
	label{
		font-size:1.1em;
	}
	label.radiolabel{
		font-size:1em;
		float:left; 
		padding:0px 5px;	
		margin-right:10px;		
	}
	input.radio{
		float:left;
	}
	
}

.ui-form{
	padding:15px 20px 15px 26px; 
	position:relative;
	border-top:1px solid #dfdfdf;
	border-bottom:1px solid #dfdfdf; 
	background-color:#f6f6f6; 
	li{
		padding:0px 0px 5px 0px; 
		margin:0px;
		float:left;		
		a.fdbutton{
			@include min-width(110px);
		}
		width:100%;
	} 
	li.text, li.paragraph{
		width:98%;
	}
	li.dropdown, li.small{
		width:48%;
	}
	
	li.medium{
		width:75%;
	}
	 
	label, li.checkbox{						
		font-weight:normal;
		margin:0px;
		line-height:18px;
		color:#565656;
		font-size:1.3em;
		font-weight:400;
	}
	
	label.overlabel{
		color:#999999;
		margin-left:8px;
		margin-top:0px;
		font-size:14px;	
	}	 
	li.checkbox{
		@include clearfix;
		padding:10px 0px;
		input{
			float:left;
			margin-right:6px;
			margin-top:1px;
		} 
		label{
			position:relative;
			font-size:0.8em;
			top:-8px; left:3px;
		}
	}	
	
	.largefield{
		label{
			font-size:1.4em;			
		}
		input{
			font-size:1.4em; 
		}
	}	
	span{
		font-weight:normal;
		font-size:0.9em;
		color:#777777;
		display:block;
	}
	.check_box{
		@include clearfix;
		label{
			float:left;
			font-size:1.4em;		
		}
		input{
			float:left;
			margin:5px;
		}
	}
	
	.seperator{
		margin-bottom:0px;
		padding:1px;
	}
	.inline_field{
		margin:0px 0px 10px 30px;
		input{		
			width:45%;
			margin:0px;
		}
		label{ 
			font-size:1.2em;
		}
	}
	.inlineChecklist{
		label{
			float:left;
			font-size:1em; 
			padding:5px 16px 0px 0px; 
		}
		input{
			top:0px;
		}
	}
	
	
	li.textleft{
		@include clearfix;
		position:relative;
		label{
			position:absolute;
			left:6px;
			top:3px;
			width:25%;
		}		
	}
	fieldset.addchoice{		
		padding:0px;			
		color:#999999;
		cursor:pointer;
		
	} 
	fieldset.addchoice:hover{
		background:#f8f8f8;
	}	
	.conditionset{
		border:1px solid #cfcfcf;
		padding:0px;
		fieldset{
			@include pie-clearfix;			
			padding:5px 0px 5px 4px;
			border-bottom:1px solid #cfcfcf;
			background:#efefef;
			position:relative;
			
			*{
				float:left;
				width:auto;
				margin:2px 4px;
			}
			.add, .delete{
				position:absolute;
				margin:0px;
				padding:0px;
				cursor:pointer;
				right:10px;
				top:5px;
			}
			div.controls{
				width:95%;
			}
			
			input.text{
				width:300px;
				font-size:10pt;
			}
			textarea.paragraph{
				width:400px;
			}
			
			div.s_comment{				
				width:520px;
				.paragraph{
					width:98%;
				}
			}
			div.s_email{
				float:none;
				display:block;
				clear:both;
				width:800px;
				padding:4px;
				@include clearfix;	
				div{
					width:100%;
					padding:4px 0px;
					font-size:12px;
					border-bottom:1px solid #cfcfcf;
					em{
						font-style:normal;
					}
					b{
						width:180px;
					}
					input.text, textarea.paragraph{
						width:590px;
					}
					a.l_placeholder{
						clear:left;
						float:right;
						font-size:11px; 
						text-decoration:none;
						color:#0078BD;
						border-bottom: 1px dotted #0078BD;
					}
					a.l_placeholder:hover {
					     border-bottom: 1px solid #0078BD;
					}
				}
			}
			
			span{
				margin:0px; padding:0px;
			}
			
			span.sort_handle:hover{
				background-color:#fafafa;
			}
			
			label.checkbox{
				width:100%;
				font-size:13px;				
			}
		}
		div{
			margin:0px;padding:0px;
		}
		
	}
}

.ui-form .inline-field{
	border-bottom:1px dotted #cfcfcf;
	padding-top:8px;
	input[type=text], select, input.text {
		width:auto;
	}
	.caption{
		float:left;
		width:35%;
	}
	div.fields{
		float:left;
		width:60%;
		label{
			font-size:1.1em;
		}
	}
}

.business_hours{
	td{
		vertical-align:top;
	}
	td.borderleft{
		border-left:1px solid darken(#f2f2f2,10%);
	}
	.business_time{
		div.specific_hours{
			padding:16px 26px;
		}
		div.timerange{
			@include pie-clearfix;	
			input, strong{
				float:left;
			}
			input{
				width:80px;
			}
			strong{
				font-weight:normal;
				padding:0px 10px;
			}
		}
	}
	.business_days{
		label{
			float:left;
			font-size:12px;
			padding-right:8px;
		}
	}
	.holidaylist{
		padding-left:0px;
		ul{
			color:#444444;
			@include clearfix;
			background-color:lighten(#f3f3f3, 5%);
			padding:10px 5px 5px 10px;
			margin:0px;
			@include corners(6px);
			li{
				position:relative;
				margin-right:20px; 
				.close{
					position:absolute;
					background:url(../images/icons/btn_close_icon.png) no-repeat;
					width:18px;
					height:18px;
					right:6px;
					top:0px;
				}
			}
		}
	}
}

input.time{
	font-weight:normal;
	font-size:12px;
}

 
.grid{
	border:1px solid #cfcfcf;		
	padding:0px;
	background:#f6f6f6;
	table{
		padding:0px; margin:0px;
		border:0px;
		font-size:13px;
		border-bottom:2px solid #cfcfcf;
		th, td{
			padding:8px 10px;
			vertical-align:top;
			border:0px;			
		}
		th{			
			line-height:18px;	
			font-weight:bold;
			background-image:url(../images/overlay-button.png);
			background-color:#f2f2f2;
			background-repeat:repeat-x; 
			span{
				display:block; 
			}
		}
		td{			
			label{
				font-size:12px;
				padding:0px 6px;
				color:#555555;
				em{
					font-style:normal;
					font-weight:bold;
					text-transform:capitalize;
					color:#000000;
				}
			}
			background-color:#efefef;
			border-top:1px solid #cfcfcf;				
		}
		tr.even{
			td{
				background-color:#f4f4f4;
			}	
		}
	}
	.olist{
		list-style:decimal;
	}
	.grid_form{	
		td{
			border:0px;
			padding:6px 10px 0px 10px;
			background:#fafafa;
		}
		.button-container{
			text-align:right;
			padding:0px 10px 10px 0px;
		}
	}
}

.grid{
	ul{
		@include no-bullets;
		margin:0px; padding:0px;		
		background:#efefef;
		border-top:1px solid #cfcfcf;
		padding:8px 12px;
		@include clearfix;
		li{
			margin:0px; padding:0px;
			float:left;
			width:33%;
		}
	}
}


span.sort_handle{
	position:relative;
	left:0px;
	top:1px;
	width:25px;
	height:25px;
	cursor:move;
	background:url(/images/sort_handle.gif) no-repeat;
	@include corners(5px);
}	

.ui-custom-fields, .ui-custom-form{
	@include no-bullets;	
	margin:0px 0px 0px 0px; 
	padding:0px;
}

.admin_form{
	@include clearfix;
	background-color:#f3f3f3; 
	padding:8px 20px 0px 20px;
	margin:0px -20px;
	li{
		position:relative;
	}
	h4.title{
		color:#555; 
		font-weight:bold;
		margin:0px;
		padding:8px 0px 6px 0px;
	}
}


.button-container{
	text-align:right;
	padding:1em 2em 1em 0;
}

.ui-draggable-dragging{
	z-index:99999;
}

.ui-custom-fields{ 
	display:block;
	margin-bottom:10px;
	@include pie-clearfix;
	li{
		float:left;
		position:relative;
	}
	.fdbutton{
		@include min-width(120px);
		margin:2px 4px;
		font-size:11px;
	}
}

.custom_form_outer .placeHolder{
	height:50px !important;
	border:1px solid #C2D7EF !important;
}


.ui-sortable-placeholder{
	background:#DFEFFF !important;
	border:1px dotted #C2D7EF  !important;
	visibility: visible !important;
	padding:20px 6px;
	position:relative;
	z-index:99;
}
	
.ui-custom-form{
	padding:0px;
	position:relative;
	.ui-form{ background:#ffffff; margin-bottom:1px; }		 
	li{   
		padding:4px; 
		position:relative;
		background:#ffffff;
		div{ position:relative; }
		border:1px dotted #ffffff;
		cursor:move; 
	} 
	
	li:hover, li.hover, li.active{		
		background:#DFEFFF;
		border-color:#C2D7EF;
		.ui-field-panel{
			display:block;
		}
		.action_panel{
			visibility:visible;
		}
	}
	li.active{
		border-style:solid;
	}
}

.hint_drag{
	background:#fefedf;
	border:1px solid #cccccc;
	padding:15px 30px; 
	margin:10px 18px;
	display:block;
	
}

.width400{
	width:400px;
}

.ui-login .ui-form{ 
	width:350px;
}

.ui-signup .ui-form{ 
	width:560px;
}

.ui-login, .ui-signup{ 
	text-align:center;
	display:block;
	padding:18px 0px;
	.ui-form{ 
		background:none;
		border:0px;
		margin:4px auto;
		@include corners(12px);
		@include shadows(0px, 1px, 6px, rgba(0, 0, 0, 0.10) );
		text-align:left;
		padding:25px;
		border:1px solid #c2c2c2; 
		background:#ffffff;
		ul{
			margin:0px;
			li{
				input.text{
					margin:3px 0px 5px 0px;
					width:320px;	
				}
			}
		}
	}
}

.ui-widget-container{
	padding:10px 20px;
	min-height:200px;
	@include vertical-gradient(#ffffff, #f4f4f4);
	@include corners(6px); 
	@include shadows(rgba(0,0,0,0.5), -3px, 5px, 10px); 
	_border:1px solid #afafaf;
	_background:#ffffff;
	margin:10px;
	.button-container{
		width:96% !important;
		padding-right:0px !important;
	}
}

.ui-form-widget{
	padding:15px;
	margin:0px -15px !important;
	border:1px solid #DFDFDF !important;
	background-color:rgba(244, 244, 244, 0.5) !important;
	label{
		font-size:1.2em;
	}
}	
 
.requesteremail, .agentemail{
	height:220px;
}

.live_search{
    text-align:left;
    padding:0px 0px 0px 0px;
    margin:8px 0px;
    .loading{
    	background-position:right !important;
    }
    .overlabel{
    	padding:0px;
    }
} 

input.search{
	@include corners(3px);
    margin-right: 10px;
    background-color: #FFFFFF;
    border: 1px solid #C7C7C7;
    color: #747472;
    font-size: 13px;
    height:18px;
    padding: 5px 7px;
    width: 500px;
}

.sp_paragraph{
	@include corners(3px);
    background-color: #FFFFFF;
    border: 1px solid #C7C7C7;
    color: #747472;
    margin-bottom:8px;
}


.search-grey-box{
	@include clearfix;
	background-color:#f2f2f2;
	border-top:1px solid #e2e2e2; 
	padding:6px 30px 6px 20px;  
}


.sidepanel{
	.close{ right:14px; }
}

.ui-dialog-form{
	font-size:80%;
	.info-data{
		padding-left:24px;
		display:block;
		font-size:1.2em;
		margin-top:-5px;
	}
}

fieldset.nestedChoices{					
	@include clearfix;	
	display:block;
	margin:1px 0px;
	padding:2px;
	border:1px dotted #cfcfcf;
	border-right-color:#e2e2e2;
	border-bottom-color:#e2e2e2;
	background-color:rgba(0, 0, 0, 0.01);
	display:block;
	
} 

.dialog-panel{
	@include shadows(rgba(0, 0, 0, 0.5), 0, 0, 8px);
	z-index:999999;
	background-color:#fafafa;	
}


.border-top{
	margin-top:6px;
	padding-top:6px;
	border-top:1px dotted #cfcfcf;
}

.overlay-field{
	position:absolute;
	width:100%;
	height:100%;
	background:none;
}

.code-view{
	padding:8px 20px;
	textarea{
		border:1px dotted #afafaf;
		display:block;
		background:#ffffff;
		font-size:12px;
		color:#333333;
		height:160px;
		font-family: "courier";
	}
}