@import "base";
@import "mixins";  

.widget-ovelay{
	@include opacity(0.5);
	background-color:white;
}

.freshwidget-container, .widget-ovelay {
	position:fixed;
	_position:absolute;
	left:0px; top:0px;
	width:100%;
	height:100%;
	z-index:90002;
}

.freshwidget-container{
	position:absolute;
}


.left a{ left:-2px; }
.left a:hover{ left:0px; }

.right{ right:-2px; }
.right:hover{ right:0px; }

.top{ top:-2px; }
.top:hover{ top:0px; }

.bottom{
	bottom:0px;
	a{ bottom:-2px; }
	a:hover{ bottom:0px; }
}

.freshwidget-theme{
	@include shadows(rgba(0,0,0, 0.6), 0px, 0px, 3px);  
	@include text-shadow(rgba(0, 0, 0, 0.2), -1px, -1px, 1px);
	padding:6px 16px 8px 16px;
	background-color:#7eb600;
	border:2px solid #ffffff;
	color:#ffffff;
	font-size:16px; 
	text-decoration:none;
	font-weight:bold;
}

.freshwidget-theme:hover{
	color:#f3f3f3;
}

.freshwidget-customimage{ overflow:visible; }

.right .freshwidget-customimage{ right:0px; }

.freshwidget-button{
	a{
		position:fixed;
		white-space: nowrap;
		_position:absolute;
		_right:0px;
	}
	position:absolute;
	display:block !important;
	width:0px;
	height:0px;
	z-index:90000;
	margin:0px;
}

.left a.freshwidget-theme, .top a.freshwidget-theme{  border-top-width:0px; }
.left a.freshwidget-theme{
		@include rotate(-90deg, top left);
		filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}
.bottom a.freshwidget-theme, .right a.freshwidget-theme{  border-bottom-width:0px; }
.right a.freshwidget-theme{
	@include rotate;
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}



/* Widget Form Style */ 

.freshwidget-dialog{
	position:absolute;
	padding:8px 0px; 
	left:50%;
	margin-left:-260px;
	top:100px;
	z-index:900010; 
	 
	iframe{
		width:612px; 
		height:900px;
	}    
	
	.widget-close{
		position:absolute;
		right:5px;
		top:6px;
		width: 28px;
		height: 28px; 
		cursor:pointer;
	}
}
