@import "app/lib/settings";

$button-radius: 6px;

.widget-ovelay{
	@include opacity(0.5);
	background-color:white;
}

.freshwidget-container, .widget-ovelay {
	position:fixed;
	_position:absolute;
	left:0px; top:0px;
	width:100%;
	height:100%;
	z-index:90002;
}

.freshwidget-container{
	position:absolute;
}

.fd-btn-left a{ left:-2px; }
.fd-btn-left a:hover{ left:0px; }

.fd-btn-right{ 
	right:-2px;
	*right: 35px; /* IE 7 specific style */
}
.fd-btn-right:hover{ 
	right:0px;
	*right:33px; /* IE 7 specific style */
}
.ie8.fd-btn-right, .ie9.fd-btn-right{ 
	right:35px; /* IE 8 & 9 specific style */
}
.ie8.fd-btn-right:hover, .ie9.fd-btn-right:hover{ 
	right:33px; /* IE 8 & 9 specific style */
}

.fd-btn-top{ top:-2px; }
.fd-btn-top:hover{ top:0px; }

.fd-btn-bottom{
	bottom:0px;
	a{ bottom:-2px; }
	a:hover{ bottom:0px; }
}

.freshwidget-theme{
	@include text-shadow(rgba(0, 0, 0, 0.2), -1px, -1px, 1px);
	padding:8px 16px;
	background-color:rgb(1, 84, 83);
	color: rgb(255, 255, 255);
	/*border:0 solid rgba(255, 255, 255, 0.8);*/
	color:#ffffff;
	font-size:14px; 
	text-decoration:none;
	font-weight:bold;
	outline:0;	
}

.freshwidget-theme:hover{
	color:#f3f3f3;
}

.freshwidget-customimage{ overflow:visible; }

.fd-btn-right .freshwidget-customimage{ right:0px; }

.freshwidget-button{
	position:fixed;
	display:block !important;
	width:0px;
	height:0px;
	z-index:90000;
	margin:0px;
	outline:0;
}

.freshwidget-button a{
	position:fixed;
	white-space: nowrap;
	_position:absolute;
	_right:0px;
	outline:0;
}

.proxy-link{
	position: absolute;
	z-index: 10;
	outline:0;
}

.fd-btn-left a.freshwidget-theme, .fd-btn-top a.freshwidget-theme{  
	/*border-top-width:0; */
	@include border-bottom-radius($button-radius); 
	@include box-shadow( 0 0 10px rgba(0, 0, 0, 0.1), inset 0 -1px 0 rgba(0, 0, 0, 0.08), inset 0 -2px 0 rgba(255, 255, 255, 0.7), inset 0 9px 29px rgba(0, 0, 0, 0.1) );
}
.fd-btn-left a.freshwidget-theme{
	@include widget-rotate(-90deg, top left);
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);	
}

.fd-btn-bottom a.freshwidget-theme, .fd-btn-right a.freshwidget-theme{  
	/*border-bottom-width:0; */
	@include border-top-radius($button-radius); 
	@include box-shadow( 0 0 10px rgba(0, 0, 0, 0.1), inset 0 1px 0 rgba(0, 0, 0, 0.08), inset 0 2px 0 rgba(255, 255, 255, 0.7), inset 0 -9px 29px rgba(0, 0, 0, 0.1) );
}
.fd-btn-right a.freshwidget-theme{
	@include widget-rotate;
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}

.fd-btn-left a.ie10{
	-ms-transform: widget-rotate(-90deg);
	-ms-transform-origin: top left;
}

.fd-btn-right a.ie10{
	-ms-transform: widget-rotate(-90deg);
	-ms-transform-origin: bottom left;
}

/* Widget Form Style */ 
.freshwidget-dialog{
	position:absolute;
	padding:8px 0; 
	left:50%;
	margin-left:-420px;
	top:20px;
	z-index:900010;
	iframe{ width: 850px; height: 600px; }
	.widget-close{
		position:absolute;
		left:-8px;
		top:30px;
		width: 28px;
		height: 28px; 
		cursor:pointer;
	}
}
