@import "base";
@import "mixins";  

.widget-ovelay{
	@include opacity(0.5);
	background-color:white;
}

.freshwidget-container, .widget-ovelay {
	position:fixed;
	_position:absolute;
	left:0px; top:0px;
	width:100%;
	height:100%;
	z-index:90002;
}

.freshwidget-container{
	position:absolute;
}

.freshwidget-theme{
	@include shadows(#000000, 0, 0, 2px); 
	padding:6px 18px;
	background-color:#000000;
	border:3px solid #ffffff;
	color:#ffffff;
	font-size:16px;
	text-decoration:none;
	_font-weight:bold;
}
.freshwidget-theme:hover{
	color:#f3f3f3;
}

.freshwidget-button{
	a{
		position:fixed;
		white-space: nowrap;
		_position:absolute;
		_right:0px;
	}
	position:absolute;
	width:0px;
	height:0px;
	z-index:90000;
	margin:0px;
}

.left{
	a{
		left:0px;
		border-top-width:0px;
		@include rotate(-90deg, top left);
		filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);		
	}
}

.right{
	right:0px;
	a{
		border-bottom-width:0px;
		@include rotate;
		filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);		
	}
}

.top{
	top:0px;	
	a{ border-top-width:0px; }
}

.bottom{
	bottom:0px;
	a{ border-bottom-width:0px;bottom:0px; }
}


/* Widget Form Style */ 

.freshwidget-dialog{
	position:absolute;
	padding:8px 0px; 
	left:50%;
	margin-left:-260px;
	top:100px;
	z-index:900010; 
	 
	iframe{
		width:612px; 
		height:900px;
	}    
	
	.widget-close{
		position:absolute;
		right:-2px;
		top:6px;
		width: 28px;
		height: 28px;
		background:url(http://192.168.1.104:3000/images/widget_close.png) no-repeat;
		cursor:pointer;
	}
}
