@import "base";
@import "mixins";

/* Qtip hack for using our own tool-tip style for new ticket Auto Suggest Solutions  */
.ui-solution-suggest{
	margin-top: -15px;
	.ui-tooltip-tip{
		display: none;
	}
	&:after{
		content:"";
		position: absolute;
		width:12px; 
		height:21px;
		background:sprite($symbol, new-solution-arrow) no-repeat;
		left: -11px;
		top: 20px;		
	}
	.ui-tooltip-content{
		padding: 15px 16px;
	}
}