$bg_color: 				#efefef !default;
$header_color: 			#252525 !default;
$tab_color:				#006063 !default;

$background: 			$bg_color;
$bg_ctxt_color:	    	if(lightness($background) > 50, black, white) !default;
$header_ctxt_color: 	if(lightness($header_color) > 50, black, white) !default;
$tab_ctxt_color:		if(lightness($tab_color) > 50, black, white) !default;
$subtxt_color: 			if(lightness($background) > 50, #222, #EEE) !default;
$subtxt_hover_color: 	if(lightness($background) > 50, #000, #FFF) !default;
$alternate_txt_color: 	if(lightness($background) > 50, white, black) !default;
$alternate_bg_color: 	if(lightness($background) > 50, #666, #AAA) !default;
$filterTextShadow: 		if(lightness($background) > 50, #FFF 1px 1px 0, #333 -1px -1px 0) !default;
		
$lightness_val: lightness($tab_color);
$tab_search_image: '/cdn-ignored/sprites/symbols/search-white.png';

@if $lightness_val > 50{
	$tab_search_image: '/cdn-ignored/sprites/symbols/search.png';
}

$lightness_val: lightness($header_color);
$loading_color: rgba(60,60,60,0.2);

@if $lightness_val < 10 {
	$loading_color: rgba(255,255,255,0.8)
} @else if $lightness_val < 50 {
	$loading_color: rgba(255,255,255,0.6)
}

$lightness_val: lightness($header_color);

$loading_color: rgba(60,60,60,0.2);

@if $lightness_val < 10 {
	$loading_color: rgba(255,255,255,0.8)
 	//$loading_color: lighten($header_color, 20%);
} @else if $lightness_val < 50 {
	$loading_color: rgba(255,255,255,0.6)
 	//$loading_color: lighten($header_color, 15%);
}

$filterTextShadow: if(lightness($background) > 50, #FFF 1px 1px 0, #333 -1px -1px 0) !default;

body { background: $background; }

.sp_border, #errorExplanation { 
	border-color: darken($background, 15%); 
}

/* ------------------------------------------------------------------------------------------- */
/* 										 Footer Styles 										   */
/* ------------------------------------------------------------------------------------------- 

.footer{
	color:$bg_ctxt_color;
}
/* ------------------------------------------------------------------------------------------- 	*/
/* 											Header color 										*/
/* ------------------------------------------------------------------------------------------- 	*/	

.header { background-color: $header_color; }
.fd-branding .logo_text, .header_links, .header_links a, .header_links a:hover, .ui-widget-header { 
	color: $header_ctxt_color; 
}
.header_links a.nav-trigger:before { border-top-color: $header_ctxt_color; }
.header-link-wrapper{
	border-color: $header_ctxt_color;
		border-color: rgba($header_ctxt_color, .2);
}
.header-link-wrapper a .header-spinner{
	background: linear-gradient(rgba($header_ctxt_color,0.3) 50%, rgba($header_ctxt_color,0.5) 50%), linear-gradient(rgba($header_ctxt_color,0.5) 50%, rgba($header_ctxt_color,0.3) 50%);
	background-position: 0 0,100% 0;
    background-size: 50% 100%;
    background-repeat: no-repeat;
}
//.fd-branding .logo_text { border-color:rgba($header_ctxt_color, 0.3); }
.nav_search div.search_bar { border-color:darken($tab_color, 8%); } 
.header-notification-wrapper .ficon-help{ 
	color: rgba($header_ctxt_color, 0.4);
}
.header-notification-wrapper .product-notification-link:hover .ficon-help,
.header-notification-wrapper .product-notification-link.active .ficon-help{
	color: $header_ctxt_color;
}
.header-notification-wrapper{ 
	border-color: rgba($header_ctxt_color, .2);
}
/* -------------------------------------------------------------------------------------------  */
/* 										Tab color settings 										*/
/* -------------------------------------------------------------------------------------------  */

.top_nav_bg { background: $tab_color; }

.theme-tab, .title-highlight{ background-color: $tab_color; color: $tab_ctxt_color;  }
.theme-tab:before{ border-left-color: $tab_color; }	

.nav_search div.search_bar input, a.new_ticket, .new_ticket_button, ul.header-tabs li a ,.nav_search div.search_bar label.overlabel { color: $tab_ctxt_color; }


.nav_search div.search_bar .search-icon-inactive{
	background: inline-image($tab_search_image) no-repeat;
	background-position: 0;
}
ul.header-tabs li a:hover { background: lighten($tab_color, 3%);  color: $tab_ctxt_color; }
a.new_ticket:hover, .new_ticket_button:hover { color: lighten($tab_ctxt_color, 3%); }

.dropdown, .dropdown.open{
	a.dropdown-toggle.new_ticket_button{
		color: $tab_ctxt_color;

		&:hover {
			color: lighten($tab_ctxt_color, 3%);
		}
	}
}
/* ------------------------------------------------------------------------------------------- */
/* 										Button settings 									   */
/* ------------------------------------------------------------------------------------------- */

.special.uiButton, .uiButton.disabled, .uiButton.disabled:hover{ 
   background-color:darken($tab_color, 6%); 
   border-color: darken($tab_color, 13%); 
   color:$tab_ctxt_color;  
}
.iphone-inactive.uiButton{
	background-color:#e7e7e7;
	color:#7f7f7f;
	border-color:#a4a4a4;
	text-shadow: 0 0 0 rgba(0, 0, 0, 0);
}
