@import "pattern/lib/mixins";
@import "portal/lib/settings";
@import "module/attachments";
@import "compass";
$rtl: false !default;
$font-class: "ficon-";
$zindexTooltip: 1030 !default;
@import "pattern/lib/custom_mixin.scss";
@import "pattern/lib/rtl-mixins";
@import "pattern/lib/popovers";
@import "pattern/lib/tooltip";
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,300);
@import "fonts/glyphs";

@import "hootsuite/hs-default";
@import "hootsuite/hs-home";
@import "hootsuite/hs-ticket-details";
@import "hootsuite/hs-avatar";
