@import "base";
@import "mixins";

.ie6, .ie7{
	.wrapper{ 
		width: expression((document.body.clientWidth < 982)? "982px" : "#{$blueprint-liquid-container-width}");
		width: 980px; 
	}
	
	ul.header-tabs{
		li.active a, li.active a:hover{
			top:1px;
			padding-top:7px;
		}
	}
	
	input, button {
		overflow: visible;
	}
	input.text{
		overflow-x:hidden;
	}
  
	ul.summary{ border-color:#ececec; }
	
	ul.icon_grid li a div{ font-weight:bold; }
	
	ul.ui-form li.inline-field{
		width:96%;
	}
	
	.reminders, .reminders-ticket{
	   ul li{display:inline-block;}
   }
	
	.uniForm, .uniForm fieldset, .uniForm .ctrlHolder, .uniForm .formHint, .uniForm .buttonHolder, .uniForm .ctrlHolder ul{ zoom:1; }
	.uniForm .textInput,
	      .uniForm .fileUpload,
	      .uniForm .selectInput,
	      .uniForm select{ height:24px; }
	      
	#custom_form li{
		height:65px !important;
	}
	
	.ui-form{
		.attachment_list li{
			width:200px;
			.delete{
				display:block;
			}
			border:0px;
		}
	}
	.request-list div.item{ 
		.bulb, .wand{
			left:0px;
			margin-left:-25px;
		}
	}
	
	input.search{
		height:28px;	
	}
	
	div.description{  
		margin-top:0px;
		margin-bottom:0px;
		padding-top:0px;
		padding-bottom:0px;
		.details{
			padding:0px;
		}
	}
	
	
	.rtCnt .rtDetails h3.title{
		margin-top:14px;
		padding-bottom:0px;
	}
	
	div.panel_area .tag_delete{
		right:12px;
	}
	
	.placeholder-list dl dt a{
		width:180px;
	}
	
	.auto-expand{
		overflow-x:hidden;
	}
	.search_bar{width:220px;}
	
	.uiButton{
		padding:4px 8px;
		font-size:11px;
	}
	
	a.uiButton, a.uiButton:visited{
		padding-top:5px;
		padding-bottom:6px;
		font-size:11px;
	}
	.ui-login, .ui-signup{
		.ui-form{ 
			@include shadows(0px, 1px, 6px, #cfcfcf );
//       @include pie;
		}
	}
	
	.ui-form{
		li, li.text, li.paragraph{
			width:100%;
		}
		li.dropdown, li.small, li.dropdown_blank{
			padding-left:2%;
			padding-right:2%;
			width:48%;
		}
		li.checkbox input{
			margin:0px;
		}
	}
	
	.dialog-panel, .due-date-dialog{
		@include shadows( #9f9f9f, 0px, 2px, 4px);
	}
	.due-date-dialog{
		margin-left:0px;
		top:-8px;
	}
	.ui-form .conditionset fieldset div.s_email div input.text, .ui-form .conditionset fieldset div.s_email div textarea.paragraph {
		width:550px;
	}
	.ui-widget-container{
		@include shadows(#afafaf, -3px, 5px, 10px);
//		@include pie;
	}
   .fd-menu{ z-index:999999 }
}
.ie6, .ie7, .ie8{
   .fd-menu{ border:1px solid #afafaf; a:hover{ background: #5469f9; } }
}
