// This import applies a global reset to any page that imports this stylesheet.
@import "base";
@import "mixins";

html {  height:100%; overflow-y:scroll; }

.wrapper{
   @include clearfix;
	@include container;
	position:relative;
	text-align: left; 
	max-width:1280px;
	min-width:auto;
	padding:0px 8px; 
}
  
.top_links a{
	text-decoration:none;
	font-weight:bold;
	padding:0px 8px;
	margin:0px;
	border-right:1px solid #afafaf;
	border-left:1px solid #efefef;
	@include link-colors(#527EAA, #888888, #527EAA, #527EAA);
}

.fixedWidth{
	max-width:680px;
}

#wrap{
	margin-bottom:0px;
	text-align:center;
} 

#minwidthfix{
	width:950px;
}

label.overlabel{
	color:#888888;
	position:absolute; 
	font-size:1.0em;
	font-weight:normal;
	z-index:5;
	margin:8px;
}

#inner {
	@include pie-clearfix;
	position:relative;
	.leftcontent{
		float:left;
		width:100%;
	}
	z-index:1;  	
	margin:12px 0px 0px 0px;	
	padding-right:$sidebar-width+8;   
	.sidebar{ 
		width:$sidebar-width;
		float:right;
		margin-right:-($sidebar-width);
	}  
}

.single #inner{
	padding-right:0px;	
	.sidebar{
		display:none;
	}	
	.leftcontent{
		margin-right:0px;
		border-right:0px;
	}	
}
  
.invert #inner{
	padding-right:0px;
	padding-left: $invert-side-width; /* The width of the rail */	
	.sidebar, .leftcontent{
		float:right; 
	}
	.sidebar{
		margin-right:0px;
		width:$invert-side-width;
		margin-left: -$invert-side-width; 
	}	
}
  

div.bg_white{
	background-color:#ffffff;
}

div.bg_pulp{
	background-color:#F3F1EC;
}

.twoCol_ltSidebar #inner{
	padding-right:0px;
	padding-left:$sidebar-width; /* The width of the rail */
	.sidebar{
		margin-right:0px;
		margin-left:-$sidebar-width;
	} 
	.leftcontent{
		margin-right:0px;
		border-right:0px;
		border-left:$sidebar-width solid #f2f8fc; /* The width and color of the rail */
		margin-left:-$sidebar-width; /* Hat tip to Ryan Brill */
		float:right;			
	}
}

.breadcrumb{
	padding:4px 0px;
	margin:8px 10px 3px 10px;
	@include clearfix;
	color:#ffffff;
	font-size:12px;
	a{
		@include link-colors(#ffffff, #ffffff, #ffffff, #ffffff, #ffffff);
		text-decoration:none;
		padding:3px 10px;
		@include corners(6px);
		background-color:#afafaf;
		text-decoration:none;
	}
} 

/* Header styles */

.header {  
	@include clearfix;
	position:relative;
	padding:5px 0px 0px 0px;
	background:$header_color;
}

.brand{
	@include clearfix;
	position:absolute;
	left:0px;
	margin-left:8px;
	text-decoration:none;
	a{ text-decoration:none; }
	.logo, .logo_text{ float:left; position:relative; z-index:5; }
	.logo{
		margin:0px 0px 0px 4px;
	}
	.logo_text{
	   font-size:1.6em;
	   border-left:1px solid lighten(#ffffff, 1%);
      color:#ffffff;
      padding:0px 0 0px 12px;
      margin-left:10px;
      margin-top:13px;
   }
}

.header_links{
	float:right;
	text-align:right;
	height:55px;
	margin:0px 12px;
	color:#ffffff;
	font-size:12px;
	strong{
		font-weight:bold;
	}
	a{
		padding:0px 6px; 
		color:#ffffff;
		text-decoration:none;
	}
	a:hover{
		text-decoration:none;
	}
} 

/* Header Tab styles */

.top_nav_bg{
	background:$tab_color; 
	@include inset-shadows(rgba(0, 0, 0, 0.2), 0px, -1px, 1px);
}

ul.header-tabs{
	list-style:none;
	li{
		float:left; 
		position:relative;
		span{
			background:none;
			height:1px;
			display:block; 
			font-size:0px;
			position:relative;
			z-index:1;
			margin-bottom:-2px;
		}		 
			a{
				position:relative;
				z-index:5;
				text-decoration:none;
				color:#ffffff;
				padding:9px 16px 8px 16px;
				font-size:13px;
				font-weight:bold;
				text-align:center;
				display:block;
				text-transform:capitalize;
				@include text-shadow(rgba(0, 0, 0, 0.1), 1px, 1px, 1px);
			}
			a:hover{
				background:lighten($tab_color, 10%);
				@include inset-shadows(rgba(0, 0, 0, 0.1), 0px, -2px, 1px); 
				color:#ffffff;
			} 
	}  
	li.active a, li.active a:hover{
		border-color:darken($tab_color, 10%);
		background:$background;
		padding-top:7px;
		top:2px;
		@include shadows(rgba(0, 0, 0, 0.4), 0px, 0px, 1px);
		color:#000000; 
	} 
} 

/* Footer styles */
.footerContent{
	padding:4px 20px 20px; 
}


/* Variables.less
 * Variables to customize the look and feel of Bootstrap
 * ----------------------------------------------------- */
/* Mixins.less
 * Snippets of reusable CSS to develop faster and keep code readable
 * ----------------------------------------------------------------- */
/*
 * Scaffolding
 * Basic and global styles for generating a grid system, structural layout, and page templates
 * ------------------------------------------------------------------------------------------- */

a {
  color: #0069d6;
  text-decoration: none;
  line-height: inherit;
  font-weight: inherit;
}
a:hover {
  color: #00438a;
  text-decoration: underline;
}
.pull-right {
  float: right;
}
.pull-left {
  float: left;
}
.hide {
  display: none;
}
.show {
  display: block;
}
.row {
  zoom: 1;
  margin-left: -20px;
}
.row:before, .row:after {
  display: table;
  content: "";
  zoom: 1;
}
.row:after {
  clear: both;
}
.row > [class*="span"] {
  display: inline;
  float: left;
  margin-left: 20px;
}
.span1 {
  width: 40px;
}
.span2 {
  width: 100px;
}
.span3 {
  width: 160px;
}
.span4 {
  width: 220px;
}
.span5 {
  width: 280px;
}
.span6 {
  width: 340px;
}
.span7 {
  width: 400px;
}
.span8 {
  width: 460px;
}
.span9 {
  width: 520px;
}
.span10 {
  width: 580px;
}
.span11 {
  width: 640px;
}
.span12 {
  width: 700px;
}
.span13 {
  width: 760px;
}
.span14 {
  width: 820px;
}
.span15 {
  width: 880px;
}
.span16 {
  width: 940px;
}
.span17 {
  width: 1000px;
}
.span18 {
  width: 1060px;
}
.span19 {
  width: 1120px;
}
.span20 {
  width: 1180px;
}
.span21 {
  width: 1240px;
}
.span22 {
  width: 1300px;
}
.span23 {
  width: 1360px;
}
.span24 {
  width: 1420px;
}
.row > .offset1 {
  margin-left: 80px;
}
.row > .offset2 {
  margin-left: 140px;
}
.row > .offset3 {
  margin-left: 200px;
}
.row > .offset4 {
  margin-left: 260px;
}
.row > .offset5 {
  margin-left: 320px;
}
.row > .offset6 {
  margin-left: 380px;
}
.row > .offset7 {
  margin-left: 440px;
}
.row > .offset8 {
  margin-left: 500px;
}
.row > .offset9 {
  margin-left: 560px;
}
.row > .offset10 {
  margin-left: 620px;
}
.row > .offset11 {
  margin-left: 680px;
}
.row > .offset12 {
  margin-left: 740px;
}
.span-one-third {
  width: 300px;
}
.span-two-thirds {
  width: 620px;
}
.row > .offset-one-third {
  margin-left: 340px;
}
.row > .offset-two-thirds {
  margin-left: 660px;
}