// Styles for plugins used in freshdesk
@import "settings/settings";

@import "module/add-watcher";
@import "module/bulk_actions";
@import "module/canned-response";
@import "module/contact-hover";
@import "module/gamification";
@import "module/getting_started";
@import "module/ghost";
@import "module/google_calendar";
@import "module/intagrations";
@import "module/merge";
@import "module/contact_merge";
@import "module/salesforce";
@import "module/sla_policy";
@import "module/survey-report";
@import "module/surveymonkey";
@import "module/tags";
@import "module/search";
@import "module/attachments";
@import "module/product_notification";
@import "module/placeholder";
