// Styles for plugins used in freshdesk
@import "settings/settings";

@import "page/customer";
@import "page/forums";
@import "page/social";
@import "page/ticket-list";
@import "page/custom-fields.scss";
@import "page/chat-temp";

@import "page/admin/billing";
@import "page/admin/home";
@import "page/admin/observer";
@import "page/admin/product_page";
@import "page/admin/email_config";
@import "page/admin/mobihelp";
@import "page/admin/customer_portal";
@import "page/admin/surveymonkey";
