@import "blueprint";

// Generate the blueprint print styles:
@include blueprint-print;
 
a, a:visited { color: #444; text-decoration: underline; }
a:after { content: " (" attr(href) ")"; } 
abbr:after { content: " (" attr(title) ")"; }
.ir a:after { content: ""; }  
pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
thead { display: table-header-group; }  
tr, img { page-break-inside: avoid; }
@page { margin: 0.5cm; }
p, h2, h3 { orphans: 3; widows: 3; }
h2, h3{ page-break-after: avoid;} 
p{ 
	font-size:1.0em; 
   margin: 0 0 0;
   text-align: left;
}

body{
     background: none repeat scroll 0 0 white;
     font-size: 80%;
	  font-family:Verdana,sans-serif;
	  line-height: 1.8em;
 }
  .header{
    border:1px dashed #afafaf; 
	border-width:1px 0px;
    h3{
       margin:8px 0;
       font-size:1.1em;
    }
  }
  .header, .wrapper{
     margin: 0 0 25px 0; 
  }
   
  .ticket-details{
     width:100%;
     margin-bottom:6px;
     td{
        padding:0;
        vertical-align:top;
     }
     .left{ text-align:left; padding-right:1%; width:70%; }
     .right{ text-align:right; padding-left:1%; width:30%; }
  }
  
  .seperator{
     display:block;
     margin:25px 0;
     border-top:1px dashed #afafaf; 
     page-break-before:auto;
     page-break-after:avoid;
  }
  .properties{
     @include clearfix; 
     span{
        float:left;
        width:25%;
        margin-bottom:10px;
        b{ display:block; }
     }
  }

 