@import "settings/settings";

// Common sprites
@import "sprites/common";

// Symbol sprites
@import "sprites/symbol";

// Ticket icon sprites
@import "sprites/ticket-icon";

// Icon sprites
@import "sprites/icons";

// Font icons
@import "fonts/glyphs";

@import "fonts/glyphs-variables";

@import "fonts/glyphs-common";

@import "fonts/glyphs-sizes";
