@import "base";
@import "mixins";

.reminders:before {
   content:"";
   position:absolute;
   top:-2px;
   right:-2px;
   border-width:0 16px 16px 0;
   border-style:solid;
   border-color:$background $background #734e3d #734e3d;
   background:#e3b558; 
   display:block; width:0; /* Firefox 3.0 damage limitation */
   border-width:14px;
   border-color:$background $background transparent transparent;
   -webkit-border-bottom-left-radius:5px;
   -moz-border-radius:0 0 0 5px;
   border-radius:0 0 0 5px;
   height:0px;
   font-size:0px;
}

.reminders{ 
	h3.title{  
		border-bottom:1px solid #e3dcc1;
		color:#734e3d;  
		display:block;
	}
}
.reminders-ticket{ 
	label{ font-size:14px; }
}

.reminders, .reminders-ticket{
	position:relative; 
    background-color:#ffffe2 !important;    
	table{
		display:block;
		margin:2px 0px;
		border-top:1px solid #e3dcc1;	
		tbody, tr{
			display:block;
		}
		
		td{
			vertical-align:top;
			padding:6px 0px 6px 0px;
			border-bottom:1px solid #f1edd1;
			text-transform:capitalize;
			position:relative;
			label{
				font-size:13px;
				font-weight:normal;
				color:#734e3d; 
				margin-left:5px;
				line-height:18px;	
				padding-top:0px;
				display:block;
			}
			a.request_link{
				display:block; 
				@include link-colors(#666666, #6f8698, #6f8698, #6f8698);
				font-size:12px;		
				text-decoration:none;		
			}
			.checked{ 
				font-size:12px;
				color:#a98e6d; 
				text-decoration:line-through;
				a.request_link{
					font-size:10px;
					color:#a98e6d;
				}
			}
			.delete{
				float:right;
				width:16px; height:16px; 
				overflow:hidden;
				text-indent:-99999px;
				background-color:#999999;
				@include corners(6px);
				@include sprite-background("../images/embed/sprites/16square_sprite.png", 16px, 16px);
				visibility:hidden;
				position:relative;
				left:-3px;
			}
		}  
		tr:hover, tr.active{
			background-color:#fefed2;
			background-image:url(../images/overlay-top-shadow.png);
			background-repeat:repeat-x;
			.delete{
				visibility:visible;
			}
		}
	} 
}

div.addReminder{
	margin:8px 0px;
	display:block;
	height:20px;
	padding:0px;
	position:relative;
	form{
		@include pie;
		@include corners(6px);
		border:2px solid #e3dcc1;
		padding:3px 0px;
		background-color:#fefef2;
		input.text{
			color:#734e3d;
			border:0px; background:0px;
			font-size:14px;
			display:block;
			margin:3px 0px 0px 0px;
			padding:0px 0px 0px 10px;
		}
		label.overlabel{
			margin:2px 5px 4px 10px;
			padding:0px;
			font-size:14px;
			color:#ab9485;
		}
	}
} 



.tab_panel{
	border-bottom:1px solid #cfcfcf;
	margin:5px -20px 0px -20px;
	padding:0px 20px;
	@include clearfix;
	b{
		margin-right:10px;
		padding:5px 0px 0px 0px;
		float:left;
	}
	display:block;
	a{
		background:#cfcfcf; 
		position:relative;
		top:1px;
		float:left;
		text-decoration:none;
		padding:6px 8px;
		margin:0px 0px 0px 0px;
		color:#333333 !important;
		border:1px solid #d3d3d3;
		border-bottom:0px;
		font-size:13px;
		  
		@include vertical-gradient(#fcfcfc, #f1f1f1);  
		border-bottom:1px solid #eaeaea;
	}
	a.last{
		@include corners(0px, 4px, 4px, 0px);
	}
	a.first{
		@include corners(4px, 0px, 0px, 4px);
	}
	a.active, a:hover{
		@include vertical-gradient(#f5f5f5, #e1e1e1);			
	}
}

.solutions_text{
	padding-top:8px;
	font-family: Georgia, Verdana, Arial, Helvetica, sans-serif; 
	font-size:14px;
	img{ max-width:100%; height:auto;}
	ol, ul{ margin: 14px 0px 14px 0px; padding: 0px 0px 0px 40px; line-height: 17px;}
	blockquote { margin: 1em 1em; color: #999; border-left: 2px solid #999; padding:6px 6px 1px 1em; background-color: #EEE;}
	ul{ list-style:disc outside;  }
	h1, h2, h3, h4{ font-weight:400; }
	h1 {font-size: 2em}
	h2 {font-size: 1.5em}
	h3 {font-size: 1.17em}
	h4 {font-size: 1em}
	h5 {font-size: .83em}
	h6 {font-size: .75em}
	p{  font-size:14px; line-height: 1.5em; margin-bottom: 1.3em; text-align: left; width: 90%; }
    table td, table th { border:1px solid #BBB; padding:4px 5px; }
    ins {border-bottom:1px solid green; text-decoration: none; color:green}
	del {color:red; text-decoration:line-through}
	cite {border-bottom:1px dashed blue}
	acronym {border-bottom:1px dotted #CCC; cursor:help}
	abbr {border-bottom:1px dashed #CCC; cursor:help}
}


.tag_list{
	@include clearfix;
	position:relative;
	padding:0px;	
	div.item{
		float:left;
		@include corners(5px);
		height:17px;
		background-color:#e7e7e7;
		color:#666666;
		padding:3px 0px 0px 8px;
		margin:0px 4px;
		.tag_delete{
			float:right;
			visibility:hidden;
		}
	}	
	div.item:hover{
		.tag_delete{
			visibility:visible;
		}
	}
}


.email-settings{ 
	margin:0px -20px 10px;
	padding:0px;
	border-top:1px solid #e6e6e6;
	border-bottom:1px solid #f4f4f4;
	label{
		font-size:14px;
		color:#666666;
		display:block; 
	}
	.highlight{ 
		font-size:inherit; 
		font-size:15px;
	}
	.info_data{ font-size:12px; }
	
	div.email-item-default, div.email-item{
		padding:12px 22px 4px;
		background:#f6f6f6;
	}
	
	div.email-item-default{
		label{ 
			line-height:20px;
		}
		padding-top:10px;
		padding-bottom:10px;
		.info_data{
			padding-top:4px;
		}
	}			
	div.email-item{
		border-top:1px solid #ffffff;
		border-bottom:1px solid #e8e8e8;
		div.item{
			margin-bottom:10px;
			label{ font-size:12px; padding-bottom:2px; }
			font-size:14px;
		}	
	
	}
} 

.email-settings-form{
	table{ width: 400px; }
	td{ padding:6px 8px;}
}

.email_info{
	border:1px solid #cfcfcf;
	padding:8px 12px;
	background:#f2ffda;
	@include corners(3px);
	font-size:14px;
}

.primary_email{
	padding:2px 15px;
	border:1px solid #b8d385;
	background-color:#ddeeba;
	color:#5b7200;
	font-size:10px;
	@include corners(5px);
	
}

#primary-email-settings{
	div.email-item-default, div.email-item{
		background-color:#fdfff3;
	}
}


.wordwrap{
	p{
		white-space: pre-wrap; /* css-3 */
		white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
		white-space: -pre-wrap; /* Opera 4-6 */
		white-space: -o-pre-wrap; /* Opera 7 */
		word-wrap: break-word; /* Internet Explorer 5.5+ */
	}
}

.intro{
	color: #777;
	font-size:12px; 
	line-height: 17px;
	margin-top: -8px;
	margin-bottom:10px;
}

.info-description{
	p{
		font-size:12px;
		color:#000000;
		line-height: 17px;
	}
}

.tickets-container{
	margin:0px -20px;
	padding:0px;
}

.ticket-header{ 
	background-image:url(../images/overlay-button.png);
	background-color:#f8f8f8;
	background-repeat:repeat-x;
	background-position:bottom; 
	border:1px solid #dfdfdf;
	border-width:1px 0px;
}

.tickets, .tickets-expanded{
	width:100%; 
	color:#5f5f5f; 
	th{
		background:none;
		padding:6px 6px 5px 6px;
	}		 
	td, th{
		vertical-align:top;
		border-bottom:1px solid #efefef;
	}
	td{
		padding:10px 8px 10px 10px;
		background-color:#ffffff;
		a{
			text-decoration:none;
			color:#5a8ec1; 
		}
	}
	tr:hover td, tr.active td{
		background-color:#f4f4f4;
		background-image:url(../images/overlay-top-shadow.png);
		background-position:top left;
		border-bottom:1px solid #dfdfdf;
		background-repeat:repeat-x;
	}
	.check{
		width:25px;
		padding-left:8px;
		padding-top:12px; 
		text-align:right;
	}
	th.check{
		padding-top:10px;
	}
	
	.name{			
		width:55%;
		padding-left:57px;
		.preview_pic{
			margin:0px; 
			margin-top:2px;
			margin-left:-53px;
			img{ 
				padding:2px;
				width:36px; height:36px;
			}
		}
		h3{
			padding:0px 0px 4px 0px;
			a{
				text-transform:capitalize;
				font-size:1.06em;
				line-height:22px;
				display:block;
				color:#444444;	 
			}
			a:hover{
				color:#000000;
			}
		} 
		div{
			color:#888888;
		}
	}
	.assign{
		ul{
			@include inline-block-list;
			li{
				padding:4px 7px 0px 0px; 
				color:#999999;
				font-size:12px;
				span{
					color:#444444;
					text-transform:capitalize;
					
				}					
			}
			.priority{
					span.style_1{		/* Low priority style */
						color:#666666
					}
					span.style_2{		/* Medium priority style */
						color:#cc6633
					}
					span.style_3{		/* High priority style */
						color:#cc6633
					}
					span.style_4{		/* Urgent priority style */
						color:#cc6633
					}					
				}
		}
	}
	.sla{
		vertical-align:top;
		text-align:right;
		font-size:11px;
	}
}	  
 
.conversation-sprite{ 
	position:relative;
	display:inline;
	margin-bottom:-30px; 
	float:right;
	.image {
		float:right;
	    content: ""; 
	    width: 32px;
	    height: 32px;
	    margin: 0px;
	    @include sprite-background("../images/embed/sprites/32square_sprite.png", 32px, 32px);
	}
	.email-reply{
		@include sprite-row(1, 32px, 0);
	}
	.email-receive{
		@include sprite-row(2, 32px, 0);
	}
	.note-public{
		@include sprite-row(3, 32px, 0);
	}
	.note-private{
		@include sprite-row(4, 32px, 0);
	}
	
}

.contact-box{
	padding-left:170px;
	div.profile_pic{
		float:left;
		margin-left:-150px;
		width:127px;
		margin-top:5px;
		text-align:center; 
	}
	.info-highlight{
		margin:8px 0px 0px -170px;
		padding-left:165px;
	}
}

.info-highlight{
	font-size:13px;
	margin:0px 0px 0px 0px;
	padding:8px 18px;
	color:#666666;
	border:1px solid #f4f4e9;
	background-color:#fffbee;
	div{
		padding:6px;
	}
}


.forum_list{
	margin:0px 0px;
	a{ text-decoration:none; }
	a.title{ @include link-colors(#545454, #527EAA, #545454, #545454); }
	.item_actions{
		float:right;
		font-size:10px;
		background-color:#F3F1EC;
		@include corners(6px);
		border:1px solid #cfcfcf;
		color:#afafaf;
		padding:2px 8px;
		a.highlight{
			background-color:#ffffcc;
			padding:1px 3px;
		}
	}
	.subcounter{ 
		color:#afafaf;
	}
	ul.base-set{
		@include no-bullets;
		@include clearfix;
		margin:0px; 
		padding:5px 26px;
		li{
			float:left;
			width:44%;
			padding:0px 0px 0px 30px;
			margin:0px 3% 0px 0px;
			h4.forum_title{
				margin:3px 0px 0px 0px;
				padding:6px 0px 4px 0px; 
				font-size:16px;
				a{
					font-weight:normal;
				}
				position:relative;
			}
			span.icon{
				position:absolute;
				left:-34px; top:2px;
				@include sprite-background("../images/embed/sprites/32square_sprite.png", 32px, 32px);
			}
			// Help icon
			span.forum_type_1{ 
				@include sprite-row(7, 32px, 0); 
			}
			// Ideas icon
			span.forum_type_2{ 
				@include sprite-row(8, 32px, 0); 
			}
			// Problem Icon
			span.forum_type_3{ 
				@include sprite-row(6, 32px, 0); 
			}
			// Announcements Icon
			span.forum_type_4{ 
				@include sprite-row(5, 32px, 0); 
			}
						
			.topic-list{ 
				padding:6px 0px 12px 0px;
				margin-bottom:8px;
				border-top:1px solid #f1f1f1;  
				a.topic{
					@include ellipsis;
					display:block;
					padding:5px 0px;
					font-size:13px;
				}
				a{ 
					@include link-colors(#4D769F, #3399cc, #4D769F, #4D769F);	
				}
			}
		}
		li.odd{
			clear:left;
		}
		li.even{
			margin-right:0px;
			width:46%;
		}
	}
	
}

.forum-group{
	margin:0px -20px; 
}

.list-noinfo{
	padding:10px 20px;
	font-size:1.1em;
	font-weight:bold;
	color:#666666;
	@include text-shadow(#ffffff, -1px, -1px, 1px);
}

.caption-text{
	background:#f6f6f6;
	padding:6px 8px 6px 50px;
	border-bottom:1px solid #efefef;
	font-size:12px;
	color:#999999;
}

.sort{
	text-align:right;
	position:relative;
	padding: 6px 40px 0px 0px;
	.sort_order{
		position:absolute;
		right:0px;
		top:0px;
		.image{
			position:absolute;
			right:0px;
			top:0px;
			width:32px; height:32px;
			@include sprite-background("../images/embed/sprites/32square_sprite.png", 32px, 32px);
			@include sprite-row(10, 32px, 0);
		}
		.ASC{
			@include sprite-row(9, 32px, 0);
		}
		.DESC{
			@include sprite-row(10, 32px, 0);
		}
	}
}

.admin_list, .content_list{
	@include no-bullets;
	margin:0px -20px;
	padding:0px 0px;
	border:1px solid #f2f2f2;
	border-width:1px 0px;
	li{	
		@include clearfix;
		padding:8px 20px 8px 20px;
		border-bottom:1px solid #efefef;
		@include vertical-gradient(#fbfbfb, #fafafa);
		color:#656565;
		position:relative;
		.preview_pic{
			float:left;
			margin-right:10px;
			margin-top:-3px;
		}
		div{
			padding-top:1px;
		}
		div.item_actions{
			float:right;
			padding:2px 0px;
			position:relative;
			top:-4px;
			visibility:hidden;
			a{
				color:#333333;
				font-weight:bold;
				text-decoration:none;
			}
			a:hover{
				text-decoration:none;
			}
		}		
		div.item_information{
			@include clearfix;
			float:left;
			width:70%;
			.info_data{
				padding:2px 2px;
				font-size:12px;
			}
			.col1{
				width:60%;
			}
			.col1, .col2{
				float:left;
				padding:0px;
			}
			.col2{
				padding-top:4px;
			}
		}
		a{
			color:#336699;
			text-decoration:none;
		}
		a.item_info{
			font-size:1.25em;
			color:#336699;
			text-decoration:none;
		 }
		 input.checkbox{
		 	position:absolute;
		 	left:8px;
		 	top:10px;
		 }
	}
	li:hover{
		background:lighten(#f1f1f1, 2%);  
		div.item_actions{
			visibility:visible;
		}
	} 
}

.footerContent{
	color:#000000;
	a{color:#000000; text-decoration:none; border-bottom:1px dotted #000000; }
	a:hover{color:#000000; border-bottom: none;}
	@include opacity(0.6);
}
