// This import applies a global reset to any page that imports this stylesheet.
@import "base";
@import "mixins";

.list_with_icon{
	padding-top:3px;	
	li, div.list-item{
		margin:0px 0px 8px 0px;
		padding-left:24px;
		position:relative;
		display:inline-block;
		width:100%;
		span.forum-bullet{
			background:sprite($symbol, forum-bullet) no-repeat;
			position:absolute;
			left:0px;
			top:1px;
			width:16px;
			height:16px;
		}
		a{
			@include link-colors(#4D769F, #3399cc, #4D769F, #4D769F);
			text-decoration:none;
		}
		a.title{
			display:block;
			padding:0px;
			font-weight:normal;
			padding-bottom:4px;
			font-size:13px;
			position:relative;			
		}
	}
	div.list-item{
		margin-bottom:4px;
		margin-left:-22px;
	}
}

.forum_list{
	margin:0px 0px;
	a{ text-decoration:none; }
	a.title{ @include link-colors(#545454, #527EAA, #545454, #545454); }
	.item_actions{
		float:right;
		font-size:10px;
		background-color:#F3F1EC;
		@include corners(6px);
		border:1px solid #cfcfcf;
		color:#afafaf;
		padding:2px 8px;
		a.highlight{
			background-color:#ffffcc;
			padding:1px 3px;
		}
	}
	.subcounter{ 
		color:#afafaf;
	}
	ul.base-set{
		@include no-bullets;
		@include clearfix;
		margin:0px; 
		padding:5px 26px;
		li{
			float:left;
			width:44%;
			padding:0px 0px 0px 0px;
			margin:0px 3% 0px 0px;
			h4.forum_title{
				margin:8px 0px 0px 0px;
				padding:6px 0px 8px 33px; 
				font-size:16px;
				a{
					font-weight:normal;
				}
				position:relative;
			}
			span.icon{
            position:absolute;
            left:3px; top:-1px;
            @include sprite-background("../images/embed/sprites/32square_sprite.png", 32px, 32px);
			}
			// Help icon
			span.forum_type_howto{ 
				@include sprite-row(7, 32px, 0); 
			}
			// Ideas icon
			span.forum_type_ideas{ 
				@include sprite-row(8, 32px, 0); 
			}
			// Problem Icon
			span.forum_type_problem{ 
				@include sprite-row(6, 32px, 0); 
			}
			// Announcements Icon
			span.forum_type_announce{ 
				@include sprite-row(5, 32px, 0); 
			}
						
			.topic-list{ 
				padding:6px 0px 12px 0px;
				margin-left:34px;
				margin-bottom:8px;
				border-top:1px solid #efefef;
				a.topic{
					@include ellipsis;
					display:block;
					padding:5px 0px;
					font-size:13px;
				}
				a{ 
					@include link-colors(#4D769F, #3399cc, #4D769F, #4D769F);	
				}
			}
		}
		li.odd{
			clear:left;
		}
		li.even{
			margin-right:0px;
			width:46%;
		}
	}
	
}

.topic-list-view{ 
		padding:0px;
		margin:0px 0px;
		border:1px solid #f1f1f1;
		border-width:1px 0px; 
		li{
			@include clearfix;
			border-bottom:1px dotted #eaeaea;
			padding:14px 25px 10px 70px;
			position:relative;
			a{ 
				@include link-colors(#4D769F, #3399cc, #4D769F, #4D769F);
				text-decoration:none;  
			}
			a.topic-title{  
				font-size:14px; 
				font-weight:500;
			}
			.info_data{
				padding:6px 0px 4px 0px;
				font-size:12px;
				color:#888888;
			}
			.preview_pic{
				border-color:#d2d2d2;
				position:absolute;
				left:20px;
				top:16px;
				img{ width:36px; height:36px; padding:0px; border:0px; }
			}
		}
		li:hover{
			background:#f4f4f4;
		}
}

.page-list{
   margin: 0 -20px;
   .list-group{
      padding:0px;
      margin:0px 0px;
      border:1px solid #dfdfdf;
      border-width:1px 0px;
      .list-item{
         @include clearfix;
         border-bottom:1px dotted #eaeaea;
         padding:14px 25px 6px 70px;
         position:relative;
			.primary-text{  
				font-size:13px; 
				line-height: 19px;
				padding: 2px 0px 6px;
				color:#444;
			}
			.info-text{
				padding:6px 0px 4px 0px;
				font-size:12px;
				color:#888888;
			}
			.preview-pic{
				border-color:#d2d2d2;
				position:absolute;
				left:20px;
				top:16px;
				img{ width:36px; height:36px; padding:0px; border:0px; }
			}
			.username{ 
			   padding:0px 0px 3px 0px;
			   font-weight:bold;
			   font-size:13px;
			}
			.item_actions{
			   visibility:hidden;
			}
			.info-data{
			   a{ 
			      text-decoration:none;
			      padding-left:8px;
			      margin-left:6px;
			      border-left:1px solid #cfcfcf;
			   }
			   .floatr{
			      margin-top:-5px;
			   }
			}
      }
      .list-item:hover{
         background-color:#e6f3f9;
   		background-image:url(../images/overlay-top-shadow.png);
   		background-position:top left;
   		border-bottom:1px solid #dfdfdf;
   		background-repeat:repeat-x;
   		.item_actions{
   		   visibility:visible;
   		}
      }
      .loadingbox{
         background-image:url('/images/load.gif');
   	   background-repeat:no-repeat;
   	   background-position: center center;
   	   height:200px;
      }
   }
}

.goto_ticket{
   display:none;
}

.tweet_converted{
   background-color:#ffffee;
   .convert_as_ticket{ display:none; }
   .goto_ticket{ display:inline-block; }
}

.tweet_converted:hover {
   background-color:#ffffdd !important;   
}

.results-info{
   font-style:italic;
   font-size:13px;
   padding:6px 18px;
   color:#999999;
   background:#f8f8f8;
}

#tweet_noresults{
   height:200px;
}

.left-panel{
   width:150px;
   padding:6px 20px;
   background-color:#f8f8f8;
   background-image:url(../images/overlay-right-shadow.png);
	background-position:top right;
	background-repeat:repeat-y;
}

.tweet-table{
   border:1px solid #eaeaea;
   border-width:1px 0px;
   width:100%;
}

.search-keys{
   margin:0px 0px 8px 0px;
   li{
		padding:3px 8px 5px 18px;
		position:relative;
		span.icon{
		   background:sprite($symbol, search) no-repeat;
		   position:absolute;
		   left:0px;
		   width:15px; height:15px;
	   }
	   a{
	      font-weight:bold;
	   }
	   a.selected{ 
	      color:#3399CC;
	      text-decoration:none;
	   }
   }
}


.more_results{
   padding:8px 12px;
   background-color:#f4f4f4;
}


.info-results{
   font-size:1.26em;
   padding:10px 20px;
   color:#666666;
   background-color:#f6f6f6;
   border-top:1px solid #f0f0f0;
}

.admin_help_image{
   margin:30px 15px;
   @include clearfix;
   .help_image{
      float:left;
   }
   .content{
      margin:0px 0px 0px 230px;
      p.info-data{
         font-family:verdana;
         font-size:15px;
         line-height:26px;
         padding-right:8%;
      }
   }
}

h2.title{
   font-size:18px;
   font-weight:normal;
}