<p>

  There is some problem with social in <%= Rails.env%> environment
  <br/>
  <%="Intial feed: #{@params.inspect}\n" %>
  <br/>
  <%= "Exception : #{@error.message}\n" if @error %>
  <br/>
  <%= "Backtrace : #{@error.backtrace}\n" if @error %>

</p>
