<% if @agents.blank? %>
  <option value=""><%= t("no_agents_in_selected_group") %></option>
<% else %>
  <option value=""><%= blank_value %></option>
  <% @agents.each do |agent| %>
	  <option value="<%=agent.user.id%>"><%=agent.user.name%></option>
  <% end %>
<% end %>