<p>
  <%= render layout: 'shared/email_header_footer.html.erb', locals: { user_name: @name, sent_by: :freshdesk_team } do %>
  <% if @is_agent %>
  	<%= I18n.t('customize_domain.email.agent_line',url: @url).html_safe %>
  <% else %>
    <%= I18n.t('customize_domain.email.admin_line',url: @url).html_safe %> 
  <% end %>
  <br/>
  <% end %>
</p>