
.grey_widget_background {
	direction:ltr;
	position: fixed;
	bottom: 0;
	width: 100%;
	border-top: 1px solid #fff;
	height: 39px;
	min-width: 1140px;
	z-index: 1;
  background-color: rgba(255, 255, 255, 0.8);
  @include box-shadow(0 0 6px 4px rgba(0, 0, 0, 0.03));
}
.freshfone_widget {
	position: fixed;
	bottom: 0;
	height: 39px;
	color: #FFF;
 	@include right(12px);
	z-index: 1000;
}

.ff_desktop_notification {
	position: absolute;
	right: 335px;
	top: 2px;
	background-color: #BBB;
	.desktopNotifier {
		width: 50px;
		height: 32px;
		position: relative;
		line-height: 32px;
		cursor: pointer;
		text-align: center;
	}
	border-radius: 5px;
	margin-bottom: 1px;
	@include box-sizing(border-box);
	background-repeat: no-repeat;
}
.popupbox-tabs {
	max-width: 500px;
	li {
		display: inline-block;
		vertical-align: top;
		a,
		&.active a {
			width: 38px;
			height: 26px;
			display: block;
			@include box-sizing(border-box);
			background-color: rgba(50,50,50,0.4);
			background-repeat: no-repeat;
		}
		a.active,
		a:hover {
			background-color: #333;
		}

	}
	li:first-child a { 
		@include border-left-radius(4px);
	}
	li:last-child a {
		@include border-right-radius(4px);
	}
}
.freshfone-context-container{
	position: fixed;
    bottom: 41px;
    min-height: 100px;
    min-width: $ongoing-popup-width;
    max-width: $ongoing-popup-width;
    color: #000;
    border: 1px solid #aaa;
    border-radius: 5px;
    background: #fff;
    right: $ongoing-popup-right;
    z-index: $ongoing-popup-z-index;
    box-shadow: $ongoing-box-shadow;
    .ff-context-container{
    	display: block;
    }
    .triangle{
    	position: absolute;
    	padding-right: 10px;
    }
    .context_header{
    	padding-left: 15px;
    }
    .header_text{
    	padding: 12px 10px 12px 10px;
    	cursor: pointer;
    	cursor: hand;
		span.note_from_agent{
			font-size: 12px;
			font-weight: 400;
			float: right;
			color: #ccc;
			margin-top: -15px;
			margin-left: 100px;
			text-overflow: ellipsis;
			text-transform: none;
		}
		.tickets-loading{
			float: right;
    		margin-top: -8px;
    		padding-right: 25px;
		}
    }
    .caller-context{
    	min-height: 48px; 
    	color: #999;
    	font-size: 12px;
    	border-bottom: 1px solid $ongoing-caller-context-bottom-border;
		padding: 13px 10px 13px 10px;
    	.preview_pic img{
    		height: 40px;
    		width: 40px;
    		margin-right: -4px;
    		margin-top: 6px;
    	}
    	.preview_pic .thumb{
    		border-radius: 50%;
    	}
    	.caller-name{
    		font-size: 13px;
    		color: #444;
    		font-weight: 500;
    	}
    	.caller-location{
    	    font-weight: 500;
    	}
    }
    .recent-tickets .header_text, .add_call_note .header_text{	
   		&.opened .triangle{
	    	.caret-right{
	    		display: none;
	    	}
	    	.caret-down{
	    		display: block;
	    	}	
    	}		
    	&.closed .triangle{		
    		.caret-right{
	    		display: block;
	    	}
	    	.caret-down{
	    		display: none;
	    	}	
    	}	
    }	
    .recent-tickets{ 	
    	border-bottom: 1px solid $ongoing-caller-context-bottom-border;
    	
    }
    .recent-tickets-content{
    	.ticket-content{
    		color: #999;
   			text-overflow: ellipsis;
   			padding: 0px 0px 15px 25px;
    		.ticket-subject a{
    			font-weight: 500;
    		}		
    	}
    	.ticket-link a {
    		font-weight: 500;
    	}
    }
    .ffone-add-notes{
    	display: block;
    	background-color: $ongoing-call-notes-background;
    	margin: 1px;
    	.opened .context_header{
    		color: #888;
    	}
    	textarea{
    		background-color :$ongoing-call-notes-background;
    		box-shadow: none;
    		border: none;
    		padding: 0px 0px 15px 25px;
    		width: 279px;
    	}
    }
}
	.popupbox-content {
		position: fixed;
		bottom: 48px;
		z-index: 999;
		@include border-radius(4px);
  		box-shadow: 0 10px 40px -10px rgba(0,0,0,0.2);
		.triangle {
			@include triangle(down, $popup-content-border,  6px);
			position: absolute;
			@include right(12px);
			top: 99.5%;
			margin-top: 3px;
		}
	}

.restrict-call, .can-make-calls {
	cursor: pointer;
	height: 16px;
	display: inline-block;
	color: inherit;
	&:hover {
		color: inherit;
	};
}
.freshfone_dashboard{
	.freshfone_alert{
		margin: 8px 0;
		padding: 10px;
	}
	&.loading-center{
		.freshfone_dash{
			visibility:hidden;
		}
	}
	min-height: 120px;
}
.freshfone_realtime {
	overflow: hidden;
  	min-height: 51px;
	.freshfone_dashboard_cells, .available_agents_cells {
		width: 128px;
		@include box-sizing(border-box);
		@include float(left);

		background-color: $dashboard-cells-background;
		color: #666;
		padding: 8px 9px 9px;
		@include margin(0 1px 1px 0);

		h4 { font-size: 15px; }
		.dash-lbl{ font-size: 12px; }
		&.available-agents { width: 100% }
		&:hover{
				background-color: #e7e7e7;
			}
	}
	.available_agents_cells {
		width: 99%;
		.available_agents_count_cell {
			display: inline-block;
    		margin-right: 25px;
		}
		.busy_agents_count_cell {
			display: inline-block;
			padding-left: 13px;
			height: 100%;
			border-left: 1px rgba(255, 255, 255, 0.3) solid;
		}
	}

}
.dashboard_call_history_link{
	display: inline-block;
	@include box-sizing(border-box);
	width: 257px;
	padding: 10px;
	background-color: #E7E7E7;
	color: $dashboard-cells-header;
	&:after {
		content:"";
		@include triangle(right, $dashboard-right-arrow, 4px);
		display: inline-block;
		margin-top: 4px;
		@include margin-right(10px);
		@include float(right);
	};
	&:hover {
		background-color: #EEE;
		color: $dashboard-cells-header;
	};
}
.in_active_ongoing_widget {
	z-index: 1;
}
