.grey_widget_background {
	direction:ltr;
	position: fixed;
	bottom: 0;
	width: 100%;
	border-top: 1px solid #fff;
	height: 39px;
	min-width: 1140px;
	z-index: 1;
  background-color: rgba(255, 255, 255, 0.8);
  @include box-shadow(0 0 6px 4px rgba(0, 0, 0, 0.03));
}
.freshfone_widget {
	position: fixed;
	bottom: 0;
	height: 39px;
	color: #FFF;
 @include right(10px);
	z-index: 2;
}

.ff_desktop_notification {
	position: absolute;
	right: 300px;
	top: 6px;
	background-color: #7B7B7B;
	.desktopNotifier {
		width: 38px;
		height: 28px;
		position: relative;
		line-height: 28px;
		cursor: pointer;
		text-align: center;
	}
	border-radius: 5px;
	margin-bottom: 1px;
	@include box-sizing(border-box);
	background-repeat: no-repeat;
}
.popupbox-tabs {
	max-width: 500px;
	li {
		display: inline-block;
		vertical-align: top;
		a,
		&.active a {
			width: 38px;
			height: 26px;
			display: block;
			@include box-sizing(border-box);
			background-color: rgba(50,50,50,0.4);
			background-repeat: no-repeat;
		}
		a.active,
		a:hover {
			background-color: #333;
		}

	}
	li:first-child a { 
		@include border-left-radius(4px);
	}
	li:last-child a {
		@include border-right-radius(4px);
	}
}
.popupbox-content {
	position: fixed;
	bottom: 48px;
	border: 3px solid $popup-content-border;
	z-index: 999;
	@include border-radius(4px);
	.triangle {
		@include triangle(down, $popup-content-border, 8px);
		position: absolute;
	 @include right(10px);
		top: 100%;
		margin-top: 3px;
	}	
}
.can-make-calls {
	cursor: pointer;
	height: 16px;
	display: inline-block;
	color: inherit;
	&:hover {
		color: inherit;
	};
}
.freshfone_dashboard{
	.freshfone_alert{
		margin: 8px 0;
		padding: 10px;
	}
	&.loading-center{
		.freshfone_dash{
			visibility:hidden;
		}
	}
	min-height: 120px;
}
.freshfone_dashboard_cells {
	width: 128px;
	height: 51px;
	@include box-sizing(border-box);
	@include float(left);

	background-color: $dashboard-cells-background;
	color: #666;
	padding: 8px 9px 6px;
	@include margin(0 1px 1px 0);

	h4 { font-size: 15px; }
	.dash-lbl{ font-size: 12px; }
}
.dashboard_call_history_link {
	display: inline-block;
	@include box-sizing(border-box);
	height: 30px;
	width: 256px;
	padding: 7px 9px;

	background-color: #E7E7E7;
	color: $dashboard-cells-header;

	@include margin-left(1px);
	&:after {
		content:"";
		@include triangle(right, $dashboard-right-arrow, 4px);
		display: inline-block;
		margin-top: 4px;
		@include margin-right(10px);
		@include float(right);
	};
	&:hover {
		background-color: #EEE;
		color: $dashboard-cells-header;
	};
}
.in_active_ongoing_widget {
	z-index: 1;
}
