@include keyframes(blinker) {  
  70% { opacity: 0.3; }
  20% { opacity: 0.8; }
  100% { opacity: 1; }
}
.grey_widget_background {
	direction:ltr;
	position: fixed;
	bottom: 0;
	width: 100%;
	border-top: 1px solid #fff;
	height: 39px;
	min-width: 1140px;
	z-index: 1;
  background-color: rgba(255, 255, 255, 0.8);
  @include box-shadow(0 0 6px 4px rgba(0, 0, 0, 0.03));
}
.freshfone_widget {
	position: fixed;
	bottom: 0;
	height: 39px;
	color: #FFF;
 	@include left(12px);
	z-index: 1000;
}

.ff_desktop_notification {
	top: 2px;
	background-color: #fff;
	.desktopNotifier {
		width: 37px;
		height: 32px;
		position: relative;
		line-height: 32px;
		cursor: pointer;
		text-align: center;
	}
	@include border-top-right-radius(4px);
	@include border-top-left-radius(4px);
	border-bottom: 1px solid #aaa;
	margin-bottom: 1px;
	@include box-sizing(border-box);
	background-repeat: no-repeat;
  cursor: pointer;
}
.popupbox-tabs {
	max-width: 500px;
	li {
		display: inline-block;
		vertical-align: top;
		a,
		&.active a {
			width: 38px;
			height: 26px;
			display: block;
			@include box-sizing(border-box);
			background-color: rgba(50,50,50,0.4);
			background-repeat: no-repeat;
		}
		a.active,
		a:hover {
			background-color: #333;
		}

	}
	li:first-child a {
		@include border-left-radius(4px);
	}
	li:last-child a {
		@include border-right-radius(4px);
	}
}
.freshfone-context-container{
	position: fixed;
    bottom: 34px;
    min-height: 100px;
    min-width: $ongoing-popup-width;
    max-width: $ongoing-popup-width;
    color: #000;
    border: 1px solid #aaa;
    border-radius: 5px;
    background: #fff;
    left: $ongoing-popup-left;
    z-index: $ongoing-popup-z-index;
    box-shadow: $ongoing-box-shadow;
    .ff-context-container{
    	display: block;
    }
    .triangle{
    	position: absolute;
    	padding-right: 10px;
    }
    .context_header{
    	padding-left: 15px;
    }
    .header_text{
    	padding: 12px 10px 12px 10px;
    	cursor: pointer;
    	cursor: hand;
		span.note_from_agent{
			font-size: 12px;
			font-weight: 400;
			float: right;
			color: #ccc;
			margin-top: -15px;
			margin-left: 100px;
			text-overflow: ellipsis;
			text-transform: none;
		}
		.tickets-loading{
			float: right;
    		margin-top: -8px;
    		padding-right: 25px;
		}
    }
    .caller-context{
      position: relative;
      min-height: 48px;
      color: #999;
      font-size: 12px;
      border-bottom: 1px solid $ongoing-caller-context-bottom-border;
      padding: 13px 10px 13px 10px;
    	.preview_pic img{
    		height: 40px;
    		width: 40px;
    		margin-right: -4px;
    		margin-top: 6px;
    	}
    	.preview_pic .thumb{
    		border-radius: 50%;
    	}
    	.caller-name{
    		font-size: 13px;
    		color: #444;
    		font-weight: 500;
    	}
    	.caller-location{
    	  font-weight: 500;
    	}
    }
    .add-agent-context{
        height: 30px;
        border-bottom: 1px solid #aaa;
        @include padding(10px 10px 5px 0px);
        @include border-radius(5px 5px 0px 0px);
        background-color: #f8f8f8;
      .add-agent-progress-bar {
        float: left;
        position: absolute;
        border: 2px solid #D5C28C;
        width: 0px;
        @include border-radius(2px 2px 0px 0px);
        top: 45px;
        left: -1px;  
      }
      .progress-bar-placer {
        position: relative;
        top: -14px;
      }
      .progress-bar-active{
        width: 300px;
        transition-duration: 60000ms;
      }
      .progress-bar-busy {
        width: 323px;
        border: 2px solid #Ab301e;
      }
      .add-agent-info { 
        text-overflow: ellipsis;
        padding-top: 4px;
        .agent_name {
          font-weight: 700;
        }
        .add-agent-label{
          @include padding(0px 0px 2px 1px);
          width: 15px;
          font-size: 16px;
          color: #888;
          @include margin(1px 7px 0px 0px);
        }
        .add-agent-placer{
          @include padding-left(10px);
        }
        .add_agent_img{
          .preview_pic,img {
            @include right(-10px);
            top:3px;
            width: 26px;
            height: 26px;
            line-height: 25px;
            font-size: 14px;
            font-weight: 400;
            margin-top: -8px;
            right: -3%;
            float: right;
            @include border-radius(50%);
          }
          img {
            margin-top: 0px;
          }
        }
        .add-agent-status{
          @include margin-left(1px);
          .busy,.no-answer {
            color: #Ab301e;
          }
          .connected {
            color: #046c11;
          }
          .in_progress {
            @include animation(blinker 0.8s infinite);
          }
        }
        .cancel_add_agent{
            text-align: center;
            background-color: #fff;
            font-size: 34px;
            margin-top: -8px;
            float: left;
            height: 26px;
            width: 24px;
            background-color: #f8f8f8;
            i {
             color: #555;
            }
          &:hover {
            .#{$font-class}cross-filled {
              display: block;
            }
            .#{$font-class}cross-round {
             display: none;
            }
          }
          .#{$font-class}cross-filled {
            display: none;
          }
          .#{$font-class}cross-round {
            display: block;
          }
        }
        .cancel_add_agent, .add-agent-label{
          display: none;
        }
      }
      .adding_agent_state{
        .cancel_add_agent, .add-agent-label{
          display: block;
        }
      }
    }
    .recent-tickets .header_text, .add_call_note .header_text{
   		&.opened .triangle{
	    	.caret-right{
	    		display: none;
	    	}
	    	.caret-down{
	    		display: block;
	    	}
    	}
    	&.closed .triangle{
    		.caret-right{
	    		display: block;
	    	}
	    	.caret-down{
	    		display: none;
	    	}
    	}
    }
    .recent-tickets{
    	border-bottom: 1px solid $ongoing-caller-context-bottom-border;
      &:hover{
        background-color: $dashboard-cells-background;
      }
    }
    .recent-tickets-content{
    	.ticket-content{
    		color: #999;
   			text-overflow: ellipsis;
   			padding: 0px 0px 15px 25px;
    		.ticket-subject a{
    			font-weight: 500;
    		}
    	}
    	.ticket-link a {
    		font-weight: 500;
    	}
    }
    .ffone-add-notes{
    	display: block;
    	background-color: $ongoing-call-notes-background;
    	margin: 1px;
    	.opened .context_header{
    		color: #888;
    	}
    	textarea{
    		background-color :$ongoing-call-notes-background;
    		box-shadow: none;
    		border: none;
    		padding: 0px 0px 15px 25px;
    		width: 279px;
    	}
    }
    .trial_warning{
      font-size: 14px;
      padding: 12px;
      border-bottom: 1px solid #ccc;
    }
    .ffone-add-ticket{
      border-top: 1px solid $ongoing-caller-context-bottom-border;
      .ff-add_ticket_animation{
        height: 0px;
        overflow: hidden;
        box-sizing: border-box;
        animation: 1s freshfone_add_to_ticket forwards;
      }
      .ticket_container_padding{
        cursor: pointer;
        height: 92%;
        & > span {
          padding-top: 9px;
          display: inline-block;
        }
      }
      .current-ticket-id{
        border-left: 1px solid $ongoing-caller-context-bottom-border;
        text-decoration: none;
        height: 100%;
        box-sizing:border-box;
        font-weight: bold;
        min-width: 20%;
        padding: 9px;
        &:hover{
          background-color: $dashboard-cells-background;
        }
      }
      .added-ticket-details{
        padding-left: 12px;
        width: 82%;
        height: 100%;
        color: $ch-assigned-ticket;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        &:hover{
          background-color: $dashboard-cells-background;
        }
        .ticket_id{
          font-weight: bold;
        }
      }
      .add_icon_padding{
        position: relative;
        top: 1px;
        margin-left: 10px;
      }
      .save_ticket_text{
        margin-left: 6px;
      }
      .unattach_ticket_icon{
        padding: 18px 18px 18px 20px;
        margin-left: -2px;
        color: $ongoing-tabs-background;
        cursor: pointer;
        border-left: 1px solid $ongoing-caller-context-bottom-border;
        &:hover{
          background-color: $dashboard-cells-background;
        }
      }
      .ticket_details_box{
        height: 100%;
        max-width: 80%;
        box-sizing: border-box;
        padding-right: 3px;
        &:hover{
          background-color: $dashboard-cells-background;
        }
      }
    }
}
	.popupbox-content {
		position: fixed;
		bottom: 48px;
		z-index: 999;
		@include border-radius(4px);
  		box-shadow: 0 10px 40px -10px rgba(0,0,0,0.2);
		.triangle {
			@include triangle(down, $popup-content-border,  6px);
			position: absolute;
			@include left(12px);
			top: 99.5%;
			margin-top: 3px;
		}
	}

.restrict-call, .can-make-calls {
	cursor: pointer;
	height: 16px;
	display: inline-block;
	color: inherit;
	&:hover {
		color: inherit;
	};
}
.freshfone_dashboard{
	.freshfone_alert{
		margin: 8px 0;
		padding: 10px;
	}
	&.loading-center{
		.freshfone_dash{
			visibility:hidden;
		}
	}
	min-height: 120px;
	.indicator{
		@include border-radius(16px);
		font-size:9px;
		@include padding(4px 8px);
		line-height: 100%;
		font-weight: bold;
		display:inline-block;
		white-space: nowrap;
		cursor:default;
		&.normal{
			background: #ddd;
		}
		&.warning, &.expired, &.low_credit{
			background: #C44D4C;
			color: #ffffff;
		}
	}
}

.dashboard_call_history_link{
	display: inline-block;
	@include box-sizing(border-box);
	width: 257px;
	padding: 10px;
	background-color: #E7E7E7;
	color: $dashboard-cells-header;
	&:after {
		content:"";
		@include triangle(right, $dashboard-right-arrow, 4px);
		display: inline-block;
		margin-top: 4px;
		@include margin-right(10px);
		@include float(right);
	};
	&:hover {
		background-color: #EEE;
		color: $dashboard-cells-header;
	};
}
.in_active_ongoing_widget {
	z-index: 1;
}
.browser_alert{
  margin-left: -22px;
  margin-top: 14px;
  position: absolute;
   i{
    color: #e92c2c;
   }
}
@keyframes freshfone_add_to_ticket {
  50% {
    height: 0px;
  }
  100% {
    height: 42px;
  }
}
