.freshfone_notification {
	.freshfone-notifier-container {
		z-index: 999999;
		z-index: 1000;
		position: fixed;
		bottom: 40px;
	 	@include right(10px);
		-webkit-animation: fadeInDownBig 0.5s linear 1;
		-moz-animation: fadeInDownBig 0.5s linear 1;
		-ms-animation: fadeInDownBig 0.5s linear 1;
		animation: fadeInDownBig 0.5s linear 1;
		-webkit-transition: 1s ease;
		-moz-transition: 1s ease;
		-ms-transition: 1s ease;
		transition: 1s ease;
		.notifier {
			background-color: #3a3737;
			color: #FFFFFF;
			border: 1px #848484 solid;
			width: 300px;
			padding-top: 10px;
			@include border-radius(4px);
			box-shadow: 0px 0px 20px #999;
			.deskNotifier {
				width: 30px;
				height: 20px;
				float: right;
				z-index: 2;
				cursor: pointer;
			}
		}
		.notifier img {
			@include float(left);
			top: 2px;
			position: relative;
			@include border-radius(4px);
			border: 1px #7f7e78 solid;
		 	@include left(12px);
			width: 42px;
			height: 42px;
			z-index: 1;
		}
		.notifier_msg{
			margin-bottom: 10px;
			max-height: 86px;
			overflow: auto;
			span{
				@include float(left);
				font-size: 15px;
			}
			p{
				font-style: italic;
				color: #333;
				@include padding-left(10px);
			}
		}
		.accept, .ignore{
			@include float(left);
			padding: 10px 0;
			@include text-align(center);
			width: 148px;
			border: 1px #fff solid;
			font-weight: bold;
			color: #FFFDF1;
			cursor: pointer;
			i{
				padding: 0px 2px;
			}

		}
		.action{
			background: #FFFDF1;
			position: relative;
			@include clear(both);
		}
		.notifier_number{
			font-size: 12px;
		}
		.accept{
			color: #77924e;
		}

		.ignore{
			color: #c53f42;
			@include border-right(1px solid #000);
		}
		.customer {
			display: inline-block;
			@include padding(0px 0px 5px 10px);
			width: 225px;
			@include float(right);
			color: #FFF;
			b{
				font-size: 14px;
				width: 100%;
				display: inline-block;
				padding-top: 0px;
			}
		}
		.call-meta{
			text-align: center;
			border-top: 1px solid #181717;
			clear: both;
			padding: 11px;
			background: #4D4A4A;
			min-height: 16px;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
		}
		.country{
			padding: 0px !important;
			margin-top: 2px;
			margin-bottom: 0px;
			font-size: 12px;
		}
		.page{
			width: 200px;
			padding: 6px 0px !important;
			i{
				@include float(left);
				position: relative;
			 @include left(-2px);
			}    
			a{
				width: 180px;
				@include float(left);
				overflow: hidden;
				text-overflow: ellipsis;
			}
		}
	}
	.visitor {
		color: #999;
		b {
			display: inline-block;
		}
	}
}
//	slimmer notification
.freshfone_notification {

	.notifier-container-slimmer {
		z-index: 999999;
		z-index: 1000;
		position: fixed;
		bottom: 30px;
	 @include right(10px);
		.notifier {
			@include box-sizing(border-box);
			width: 300px;
			height: 56px;
//			@include padding(10px 10px 10px 20px);
			margin-bottom: 15px;

			background-color: #747474;
			color: #FFFFFF;

			border: 1px #848484 solid;
			@include border-radius(4px);

			@include box-shadow(0 10px 15px -10px #999, 0 1px #DDD inset);
		}
		.customer {
			display: inline-block;
			padding: 12px;
			width: 120px;
			@include float(left);
			color: #FFF;
			b {
				width: 100%;
				padding-top: 0px;
				display: inline-block;
			}
		}
		.action {
			width: 90px;
			@include float(left);
			padding-top: 8px;
		}
		.ignore, .accept {
			@include float(left);
			width:34px;
			height:34px;
			border: 2px solid #F6F6F6;
			cursor:pointer;
			@include border-radius(20px);
			&:hover {
				border-color: #555;
			}
		}
		.ignore {
			background-color:#ECEBEA;
		}
		.accept {
			@include margin-left(10px);
			background-color:#547C3C;
		}
		.primary {
			font-weight:bold;
			margin-top: 9px;
		}
		.notifier img {
			width: 40px;
			height: 40px;
			z-index: 1;
			margin: 8px;
			@include margin-right(0);
			@include border-radius(4px);
		}
		.avatar {
			@include float(left);
		}
	}

}