.freshfone_notification {
	.freshfone-notifier-container {
		z-index: 999999;
		z-index: 1000;
		position: fixed;
		top: 10px;
	 	@include right(10px);
		-webkit-animation: fadeInDownBig 0.5s linear 1;
		-moz-animation: fadeInDownBig 0.5s linear 1;
		-ms-animation: fadeInDownBig 0.5s linear 1;
		animation: fadeInDownBig 0.5s linear 1;
		-webkit-transition: 1s ease;
		-moz-transition: 1s ease;
		-ms-transition: 1s ease;
		transition: 1s ease;
		.notifier {
			background-color: #FFFFFF;
			color: #000;
			border: 1px #D0D0D0 solid;
			width: 300px;
			@include border-radius(4px);
			box-shadow: 0px 0px 20px #ccc;
			margin-top: 5px;
			.deskNotifier {
				width: 30px;
				height: 20px;
				float: right;
				z-index: 2;
				cursor: pointer;
			}
		}
		.notifier .incoming-details img {
			position: absolute;
			@include border-radius(40px);
			width: 42px;
			height: 42px;
			z-index: 1;
		}
		.notifier_msg{
			margin-bottom: 10px;
			max-height: 86px;
			overflow: auto;
			span{
				@include float(left);
				font-size: 15px;
			}
			p{
				font-style: italic;
				color: #333;
				@include padding-left(10px);
			}
		}
		.accept, .ignore{
			@include float(left);
			padding: 15px 0;
			@include text-align(center);
			width: 150px;
			font-weight: bold;
			color: #FFFDF1;
			cursor: pointer;
  		background-color: #F5F5F5;
  		font-weight: 400;
  		font-size: 15px;
			i{
				padding: 0px 2px;
			}
			&:hover {
				background-color: #eee;
			}
		}
		.action{
			background: #D0D0D0;
			position: relative;
			@include clear(both);
			padding-bottom: 5px;
			div:first {
				border-bottom-right-radius: 4px;
			}
			div:last {
				border-bottom-left-radius: 4px;
			}
		}
		.notifier_number, .place-info{
			font-size: 13px;
		}
		.place-info{ 
			color: #555;
		}
		.accept{
			color: #77924e;
		}

		.ignore{
			color: #c53f42;
		}
		.customer {
			width: 100%;
			min-height: 80px;
			color: #000;
			border-bottom: 1px solid #ccc;
			b{
				font-size: 14px;
				width: 100%;
				display: inline-block;
				padding-top: 0px;
			}
			.customer-info {
				@include padding(15px 20px 9px 70px);
				color: #333;
			}
		}
		.call-meta{
			.freshfone_number_info {
				@include padding(10px 15px 10px 20px);
				border-bottom: 1px solid #ccc;
				min-height: 16px;
				line-height: 25px;
				i {
					padding-right: 5px;
				}
			}
		}
		.transfer-meta {
			text-align: center;
			clear: both;
			padding-bottom: 11px;
			background: #fff;
			min-height: 16px;	
		}
		.add_agent_notifier,.transferNotifier,.warm_transfer_notifier {
		  display: inline-block;
		  clear: both;
		  color: #000;
		  @include padding(5px 10px);
		  width: 93%;
		  border-bottom: 1px solid #eee;
		  background-color: #F2F2F2;
		  @include border-radius(4px 4px 0px 0px);
		  .agent_name {
				font-weight: 700;
			}
			.transfer_agent, .add_agent, .warm_transfer_agent {
			  @include border-radius(20px);
			  opacity: 1;
			  width: 25px;
			  height: 25px;
			  background-color: #aaa;
			  border: 1px solid #aaa;
			  float: right;
			  .ff-icon{
		  		display: inline-block;
				  font-size: 18px;
				  @include padding(6px);
				  color: #fff;
			  }
				img {
						width: 25px;
						height: 25px;
						@include border-radius(20px);
						opacity: 1;
					}
				.preview_pic {
					margin:0;
				}
			}
			.transfer-agent-name,.add-agent-name, .warm-transfer-agent-name {
				font-size: 13px;
				display: inline-block;
				float: left;
				width: 75%;
			}
		}
		/* TO-DO width and height same for circle */
		.transferNotifier {
			.ff-arrow-direction{
				float: left;
				color: #888;
				border: 1px solid #888;
				@include border-radius(50%);
				@include padding(2px 1px 1px 2px);
				@include margin(4px 7px 0px 0px);
				font-size: 10px;
				width: 18px;
				height: 17px;
				text-align: center;
			}
			.transfer-agent-name {
				margin-top: 7px;
			}
		}
		.add_agent_notifier,.warm_transfer_notifier {
		  .add-agent-label{
		    @include padding(7px 0px 2px 1px);
		    font-size: 16px;
		    color: #888;
		    @include margin-right(7px);
		  }
		  /* TO-DO width and height same for circle */
		  .warm-transfer-label{
		  	@include padding(2px 1px 2px 1px);
		    font-size: 10px;
		    color: #888;
		    @include margin-right(7px);
		    margin-top: 4px;
		    border-radius: 50%;
		    border: 1px solid;
		    text-align: center;
		    width: 18px;
		  }
		  .add-agent-name,.warm-transfer-agent-name {
				margin-top: 5px;
			}
		}
		.country{
			padding: 0px !important;
			margin-top: 2px;
			margin-bottom: 0px;
			font-size: 12px;
		}
		.page{
			width: 200px;
			padding: 6px 0px !important;
			i{
				@include float(left);
				position: relative;
			 @include left(-2px);
			}    
			a{
				width: 180px;
				@include float(left);
				overflow: hidden;
				text-overflow: ellipsis;
			}
		}
	}
	.visitor {
		color: #999;
		b {
			display: inline-block;
		}
	}
	.incoming-details {
		border-radius: 4px;
		background-color: #FFF;
		.user_image{
			top: 19px;
			right: -15px;
  		position: relative;
  		.preview_pic {
  			border-radius: 50%;
    	}
		}
	}
	.incoming-details .call-pickedalert-info {
		padding: 10px;
		padding-left: 15%;
	}
}
//	slimmer notification
.freshfone_notification {

	.notifier-container-slimmer {
		z-index: 999999;
		z-index: 1000;
		position: fixed;
		bottom: 30px;
	 @include right(10px);
		.notifier {
			@include box-sizing(border-box);
			width: 300px;
			height: 56px;
//			@include padding(10px 10px 10px 20px);
			margin-bottom: 15px;

			background-color: #747474;
			color: #FFFFFF;

			border: 1px #848484 solid;
			@include border-radius(4px);

			@include box-shadow(0 10px 15px -10px #999, 0 1px #DDD inset);
		}
		.customer {
			display: inline-block;
			padding: 12px;
			width: 120px;
			@include float(left);
			color: #000;
			b {
				width: 100%;
				padding-top: 0px;
				display: inline-block;
			}
		}
		.action {
			width: 90px;
			@include float(left);
			padding-top: 8px;
		}
		.ignore, .accept {
			@include float(left);
			width:34px;
			height:34px;
			cursor:pointer;
			@include border-radius(20px);
			background-color:#F5F5F5;
			&:hover {
				border-color: #ddd;
			}
		}
		.ignore {
			
		}
		.accept {
			@include margin-left(10px);
		}
		.primary {
			font-weight:bold;
			margin-top: 9px;
		}
		.notifier img {
			width: 40px;
			height: 40px;
			z-index: 1;
			margin: 8px;
			@include margin-right(0);
			@include border-radius(4px);
		}
		.avatar {
			@include float(left);
		}
	}

}