.ongoing {
	border: 1px solid $ongoing-border;
	margin: 6px 0;
	@include border-radius(6px);
	background-color: $ongoing-background;
	direction: ltr;
	[class*="#{$font-class}"]{
		color: #333;
	}
	li {
		a {
			background-color:$ongoing-tabs-background;
			&.active {
				background-color: $ongoing-active-tabs-background;
			}
			&:hover{
				background-color: $ongoing-active-tabs-background;
			}
		}
	}
	.end_call {
		background-color:$ongoing-end-call-background;
		font-size: 20px;
		color: $end-call-text;
		position: absolute;
		left: -34px;
		top: 6px;
		width: 39px;
		height: 28px;
		border: 1px solid #{$ongoing-end-call-background};
		i.#{$font-class}cross{
			color: #fff;
			line-height: 28px;
		}
		&:hover{
			background-color:$ongoing-end-call-background;
		}
	}
	.call_details {
		width: 104px;
		height: 26px;
		a {
			color: $call-details-text;
			width: 100%;
			background-color: $call-details-background;
			font-weight: 500;
			text-align: center;
			line-height: 26px;
			&:hover{
				background-color: $call-details-background;
			}
		}
	}
	.preview_pic img {
		width: 22px;
		height: auto;
		@include border-radius(0);
		margin-top: 2px;
		@include margin-left(7px);
	}
	.call_duration {
		background-color: $call-duration-background;
	}
	.mute.active {
		background-color:$popuptab-toggle-active;
		i.#{$font-class}ff-mute{
			color: #fff;
		}
	}
	.no_action a{ 
		cursor: default;
	}
	a.username {
		width: auto;
		height: auto;
		padding: 0;
	}
}


.popupbox-content {
	direction: ltr;
	.header {
		background-color: $popup-content-header;
		height: 40px;
	}
	.header_text {
		font-size: 15px;
		font-weight: 600;
		@include padding(8px 0 0 10px);
		color: $popup-content-header-text;
	}
	.ffone-add-notes { height: 200px; width: 350px; }
	.ffone-end-call {
		min-height: 340px;
		width: 460px;
		background-color: $endcall-background;
	}
//	transfer call starts
	.ffone_available_agents { 
		max-height: 380px;
		min-height: 75px;
		width: 260px;
		background-color: $transfer-call-background;
		.search {
			width: 100%;
			@include box-sizing(border-box);
			@include border-radius(0);
			height: 46px;
			border: none;
			border-bottom: 1px solid $transfer-search-border;
			@include padding-left(46px);
		}
	}
	.available_agents_avatar {
		@include float(left);
		height: 100%;
		border: 0;
		img {
			width: 30px;
			height: 30px;
			@include border-radius(20px);
			opacity: 1;
		}
		.preview_pic {
			margin:0;
		}
	}
	.available_agents_list {
		overflow: auto;
		max-height: 315px;
		li {
			@include clear(both);
			border-bottom: 1px solid $available-agent-border;
			height: 45px;
			padding: 7px;
			@include box-sizing(border-box);
			cursor:pointer;
			&:hover{
					background-color: darken($transfer-call-background, 5%);
			}
		}
		.avatar{
			width:40px;
		}
	}
	.available_agents_searchicon {
	 @include right(0);
	 @include left(15px);
		top: 15px;
	}
	.available_agents_name, .agent-group-name {
		@include margin(7px 0 0 7px);
		width: 190px;
		font-weight: 500;
		color: $available-agent-name;
		@include padding-left(35px);	
		.agents_count{
			font-weight: normal;
		}
	}
	.agent-group-name {
		margin-top:-7px;	
	}
	.transfering_call {
		@include box-sizing(border-box);
		position: absolute;
		width: 100%;
		height: 100%;
		padding-top: 4px;		
		
		background-color: $transfering-call-background;

		color: $transfering-call-text;
		font-weight: 500;
		@include text-align(center);

		z-index: 2;
		opacity: 1;
	}
	.no_available_agents {
		height: 19px;
		font-size: 14px;
		@include padding(14px 12px 12px 12px);
		font-weight: 400;
	}
//	transfer call ends

// Call notes starts
	.call_notes {
		width: 100%;
		height: 160px;
		margin: 0;
		@include padding-left(10px);
		padding-top: 10px;
		font-size:14px;
		background-color: $call-notes-background;
		color: $call-notes-text;
		@include border-radius(0);
		@include box-sizing(border-box);
	}
// Call notes ends
}
// ticket search	
.end_call_ticket_search {
	direction: ltr;
	border: 1px solid $ec-ticket-search-border;
	height: 290px;
	padding-top: 10px;
	margin-top: 12px;
	@include border-radius(4px);
	.searchticket {
		@include float(left);
		@include margin-left(4px);
	}
	.search_input {
		height: 18px;
		width: 260px;
	}
	.search-type {
		@include margin-left(10px);
	}
	.searchicon {
		top: 113px;
	 	@include right(45px);
	}
	.search_header {
		border-bottom: 1px solid $ec-ticket-header-border;
		height: 40px;
	}
	.sloading {
		padding:0;
		max-height: 230px;
	}
	.ticket_search_results {
		background-color: $ec-search-results-background;
		border-bottom-radius:4px;
	}
	.autocompletepane {
		height: 249px;
		overflow:auto;
		.selected, li {
			font-size: 13px;
			@include padding(8px 8px 0 8px);
			color: $ec-autocomplete-result-color;
			background-color: transparent;
			border: none;
			border-bottom: 1px solid $ec-autocomplete-result-border;
			&:hover {
				background-color:$ec-result-hover-background;
			}
		}
	}
	.autocompletepane li:hover {
		.save_to_ticket {
			display:inline-block;
			margin-top: 11px;
		}
	}
	.save_to_ticket {
		@include float(right);
	}
// ticket search ends
}
// Call notes and end call notes
.end_call_notes_container {
	direction: ltr;
	.final_call_notes {
		width: 99%;
		height: 140px;
		padding-bottom: 0px;
		margin-bottom: 5px;
		@include box-sizing(border-box);
	}
	.final_call_notes{
		margin-top: 10px;
	}
	.main_content {
		padding: 12px;
	}
	.notes_label {
		font-weight: bold;
		margin: 10px 0 0;
	}
	.ticket_search_pane {
		padding: 10px;
	}
}
.ffone-end-call {
	direction: ltr;
	.form-horizontal {
		border: 1px solid $ec-newticket-form-border;
		padding: 10px;
		margin-top: 10px;
		@include border-radius(6px);
		background-color: $ec-newticket-form-background;
		input {
			width:94%;
		}
		.select2-container{
			width: auto;
			min-width: 200px;
		}
	}
	.controls {
		@include margin-left(0);
	}
	.back {
		font-weight: 700;
		color: $ec-go-back;
		cursor: pointer;
	}
	.save_ticket {
		@include float(right);
		margin-top: 10px;
	}
	.requester_name_container {
		margin-top:16px;
	}
	.control-group {
		margin-bottom:8px;
	}
}
.end_call_form_btns {
	direction: ltr;
	.btn { 
		margin-bottom: 4px;
		@include box-sizing(border-box);
		min-height: 35px;
		font-size: 14px;
		font-weight: 400;
		@include text-align(left);
		@include padding-left(10px);
	}
	.end_call_cancel, .end_call_save, .save_to_existing {
		width: 99%;
		height: 40px;
	}
	.end_call_cancel {
		height: 55px;
		@include padding-right(0px);
	}
	.end_call_cancel {
		margin-top:10px;
	}
	.btn-notes {
		color: $ec-btn-text;
		font-size: 12px;
		font-style: italic;
	}
	.arrow-right {
		color: $ec-btn-right-arrow;
		@include float(right);
		font-size: 9px;
		@include border-radius(3px);
		margin-top: 2px;
	}
}
.contact_hover{
	.recent_tickets {
		@include clear(both);
		display: block;
		@include margin-left(65px);
	}
}
// Call notes and end call notes ends