.outgoing {
	direction: ltr;
	margin: 0;
	li {
		padding: 7px 0;
		.icon-headphones {
			font-size: 22px;
			padding: 5px 10px;
			background-image: none;
			margin: 0;
			color: #FCFCF5;
			text-shadow: -1px -1px 0px #333;
		}
	}
	.availabilityOnPhone.active {
		background-color:$popuptab-toggle-active;
		box-shadow:0 3px 6px rgba(0,0,0,0.3) inset;
	}
}

.popupbox-content.freshfone_content_container{
	line-height: normal;
	direction:ltr;
}

.popupbox-content {
	direction: ltr;
	.recent_calls_container{
		p {
			margin-bottom: 0;
		}
	}
	
	#freshfone_dialpad, #recent_calls {
		width: 260px;
		max-height: 340px;
	}
	.keypad-popup {
		border:none;
	}
	.outgoing_numbers_list_dropdown {
        background: white;
		color:#333;
		border: none;
        box-shadow: 0 10px 40px -12px #333;
        border-radius: 4px 4px 4px 4px;
		.select2-result-label{
		        overflow: hidden;
		        white-space: nowrap;
		        text-overflow: ellipsis;  
		}
		.select2-results{
             background:#fff;
            li{
		        border-bottom: 1px solid #ddd;
		        padding: 5px;
		        color:#333;

		    }
		    li:last-child{
		      border-bottom: none;

		    }

		    li.li_opt_selected, li.li_opt_selected:hover{
		        background:#888 !important;
		        color:#fff !important;
		    }
            .select2-highlighted{
		    	width:100%;
		        background:#eee !important;
		        color:#333 !important;
            }
        }
    }
	.invalid_phone_text, .info_message, .already_in_call_text {
		position: absolute;
		top: 65px;
		color: $info-text;
		font-weight: 700;
		@include text-align(center);
		width: 100%;
	}
	.outgoing_number, .outgoing_numbers_list {
	    width:220px;
		position: absolute;
		top: 0;
	 @include left(0px); 
	     
	}
	.span2{
	   margin-left: 5px !important;
	}
	.outgoing_number {
	 width: 240px;
	 @include left(0px);
		color: $numbers-list-text;
	}
	.outgoing_numbers_list {
		.select2-choice {
			background:transparent;
			filter:none; //Background transparent Fix for IE 8,9
			color: $numbers-list-text;
			border: none;
			@include box-shadow(none);
			span {
				@include margin-left(15px);
			}

		}
		.select2-choice div {
		 @include left(0);
		}
	}
	.keypad-key, .keypad-special {
		@include border-radius(0);
		margin: 0;
	}
	.keypad-key {
		width: 33.3%;
		height: 47px;
		padding: 10px;
		border:none;
		border-bottom: 1px solid #CCC;
		background-color: $key-background;
		font-size: 18px;
		&:hover {
			background-color: $key-hover-background;
		}
		&.keypad-key-down {
			background-color: $keydown-background;
			color: $keydown-text;
			border-bottom-color: $keydown-border;
			@include padding(10px 10px 10px 10px);
			text-shadow: -1px -1px 0px $keydown-text-shadow;
			@include box-shadow(0 1px 3px $keydown-shadow inset);
			@include transition(all .1s ease);
		}
		&.asterisk {
			font-size: 250%;
			padding-top: 25px;
			vertical-align: bottom;
		}
	}
	.keypad-call {
		width: 100%;
		height: 55px;
		background-color:$keypad-call-background;
		color: $keypad-call-text;
		margin-top: 1px;
		font-size: 20px;
		text-shadow: 1px 1px $keypad-call-text-shadow;
	}
	.keypad-call {
		background-repeat: no-repeat;
	}
	.keypad-back {
		position: absolute;
		top: 36px;
	 @include left(89%);

		width: 25px;
		height: 16px;
		@include padding(0 0 0 7px);
		overflow: hidden;

		background-color: $keypad-back-background;
		color: $keypad-back-text;
		font-size: 11px;
		font-weight: 400;

		border: none;
		&:before {
			content: "";
			background-color: $keypad-triangle-background;
			position: absolute;
		 @include left(0);
			top: 0;
			@include triangle(left, $keypad-triangle-border, 8px);
		}
	}
	.keypad-row {
		.keypad-key:nth-child(even) {
			@include border-left(1px solid #ccc);
			@include border-right(1px solid #ccc);
		}
	}
	.keypad-key.zero:after {
		content: "+";
		color: $keypad-plus;
		position: absolute;
		@include margin-left(10px);
	}
	input.user_phone {
		width: 100%;
		background-color: $keypad-input-background;
		color: $keypad-input-text;
		border: none;

		@include box-shadow(none);
		@include border-radius(0);
		@include box-sizing(border-box);

		height: 90px;
		@include text-align(center);
		font-size: 20px;
		margin: 0;
		
		@include padding-right(35px);
		@include padding-left(16px);
	}
	//	recent calls - starts
	#recent_calls {
		background-color: $recent-calls-background;
		min-height: 54px;
		max-height: 350px;
	}
	.recent_call_entry {
		border-bottom: 1px solid $recent-call-border;
		@include padding(5px 0 5px 2%);
		height: auto;
		font-size: 11px;
		display: inline-block;
		width: 98%;
		vertical-align: middle;
		.username, .user_name {
			color: $recent-call-username;
			font-size: 14px;
		}
		&:hover {
			background-color:$recent-call-hover-background;
		}
	}
	.recent_calls_caller_details {
		display: inline-block;
		width: 155px;
		padding: 5px 5px;
	}
	.recent_calls_call_user {
		display: inline-block;
		vertical-align: top;
		.can-make-calls {
			background-repeat: no-repeat;
			@include text-indent(-9999px);
			display: block;
			padding: 0;
			width: 30px;
			height: 30px;
		}
	}
	.no_call_history {
		@include text-align(center);
		padding: 18px;
		font-size: 16px;
		color: $ch-no-call-log-text;
		font-weight: 18;
	}
	.recent_calls_direction {
		width: 33px;
		display: inline-block;
		height: 30px;
		background-repeat: no-repeat;
		vertical-align: top;
	}
	.recent_calls_user_number {
		margin-top: 2px;
	}
	.recent_calls_call_duration {
		display: inline-block;
		font-weight: 700;
		color: $recent-call-duration;
		margin-top: 3px;
		@include margin-right(15px);
	}
	.recent_calls_time_ago {
		display: inline-block;
	}
	
	//  recent calls - ends
}
