<div id="tag-toolbar" class="list-page-table-header">

  <% if privilege? (:admin_tasks) %>
        <input type="checkbox" id="tag-select-all" class="tags-header" />
        <span class="bulk-action">
            <input class="btn" type="button"
               value="<%=t('delete')%>" disabled="disabled" id="tag-delete">
          <input type="button" class="btn" id="tag_bulk_merge" rel="freshdialog" data-target="#tags-merge-confirm" disabled="disabled" value="<%= t(".merge") %>" title="<%= t('.merge_tags') %>" />
       </span>
  <% end %>

</div>

  <form action="/helpdesk/tags/delete" id="tags-expanded" method="post">
    <input name="_method" type="hidden" value="delete">
    <div id="tags-list" class="detailed_view">
      <%= render :partial => "tags_table" , :inline => true %>
    </div>
  </form>


<div class="hide" id="tags-merge-confirm">
  <div id="tags_merge_modal" class="sloading">
  </div>
</div>