  <form action='' id = "tag-search-form" class = "form-horizontal">
      <div class="row-fluid align-right clear-text-wrap" xmlns="http://www.w3.org/1999/html">
        <a href="/helpdesk/tags" class="clear-text pull-right"><%= t('.clear') %></a>
        <input type="text" id="tag-search" class="span8 input-padding tagsearch"
               name="name" value="<%= tag_search_text  %>"
               placeholder="<%= t('.search') %>" />
        </div>
      <br/>

  </form>

