<div id="tag-cloud">
	<% if tag_cloud.blank? %>
		<%=t("no_tags")%>
	<%else%>
		<div class="tag_list">
		<% max=0; factor = 1
		tag_cloud.each { |tag|
			if max < tag.uses_count 
				max = tag.uses_count 
				factor = 100/tag.tag_size unless tag.tag_size == 0 
			end
		}
		tag_cloud.each { |tag|
		%>
			<div class='item contact-tag' style="font-size: <%=100+(tag.tag_size(max))%>%;">
				<%=link_to(tag.name, {:controller=>"contacts", :tag => tag.id.to_s}) %>
			</div>
		<% }%> 
		</div>
	<%end%>
</div>
