<div class="tag_list">
<% tags.each { |tag| %>
	<%=link_to(tag.name, {:controller=>"contacts", :tag => tag.id.to_s}, :class => 'btn btn-flat', 
		:'data-pjax' => "#body-container") %>
<% } %> 
<% if add_tag %>
	<a class='btn btn-flat add-new-tag' href='#'>
		<span class='ficon-plus'></span>
		<%= tags.count > 0 ? t('edit_tags') : t('add_tags') %>
	</a>
<% end %>
</div>