<div class="pageContent">
	<div class="title_bar_grey">
		<div class="floatr">
			<%= link_to "<img src='/images/add.png' /> New Product", new_product_path, :class => "fdbutton"  %>
		</div>	
		<h3 class="title">Products</h3>		 
	</div>
</div>