<div id="chat_header" class="chat-header">
	<h3 class = "lead"> <%=t('chatwidget_title')%>
		<div class="pull-right">
			<%if chat_activated? %>
			<%= check_box_tag :chat_enable, 0, current_account.chat_setting ? current_account.chat_setting.active : false , :class => 'filter_item', 
				"data-checked-label" => "enabled", 
				"data-unchecked-label" => "disabled",
				:id => 'chat_enable' %>
			<%end%>
		</div>
	</h3>
</div>