<%= javascript_include_tag :'cdn/subscription'  %>
<div class="tabbable">
  <ul class="nav nav-tabs">
    <li class="active">
      <a id="credits-tab" href="#credits" data-toggle="tab">Credits</a>
    </li>
    <li>
      <a id="porting-tab" href="#porting" data-toggle="tab">Porting</a>
    </li>
    <li>
      <a id="account-tab" href="#account" data-toggle="tab">Account</a>
    </li>
  </ul>
  <div class="tab-content">
    <div id="credits" class="tab-pane active">
      <%= render :partial => "credits" %>
    </div>        
    <div id="porting" class="tab-pane">
      <%= render :partial => "porting" %>
    </div>
    <div id="account" class="tab-pane">
      <%= render :partial => "account" %>
    </div>
  </div>
</div>
<script type="text/javascript">
  jQuery(document).ready(function () {

    jQuery('form').each(function () {
        jQuery(this).validate({
            submitHandler: function (form) { 
              form.submit();
            }
        });
    });

  });
</script>
