<% content_for :sidebar do %><% end %>
<div class="btn-group floatr">
  <button class="btn active">All</button>
  <button class="btn">Un-achieved</button>
</div>
<a href="/">< Back to dashboard </a>
<h3 class="title">Quests</h3>
<div class="report-nmleft thick-border-top lb-report">
	<div class="panel-list">  		
  		<div id="quest-container" class="panel-row">
			<span class="floatl gamesettings-badges badges-elephant"></span>
			<div id="quest-details-container" class="panel-content">
				<div class="floatr">Achieved</div>
  				<h4>Customer happiness</h4>
				<p class="help-text">Resolve 20 tickets withing a span of 30 days</p>
				<strong>1000</strong>
			</div>
		</div>
		<div id="quest-container" class="panel-row">
			<span class="floatl gamesettings-badges badges-fcr"></span>
			<div id="quest-details-container" class="panel-content">
  				<h4>Fast demon trial</h4>
				<p class="help-text">Resolve 20 tickets within SLA contiously</p>
				<strong>100</strong>
			</div>
		</div>
		<div id="quest-container" class="panel-row">
			<span class="floatl gamesettings-badges badges-shooter"></span>
			<div id="quest-details-container" class="panel-content">
  				<h4>Sharp support agent</h4>
				<p class="help-text">Resolve 20 tickets @ FCR contiously</p>
				<strong>500</strong>
			</div>
		</div>
  	</div>
</div>
<div class="report-show-more">
	<a href="#" class="">Show 25 more</a>
</div>