<% content_for :sidebar do %><% end %>
<div class="btn-group floatr">
  <button class="btn active">All</button>
  <button class="btn">Un-achieved</button>
</div>
<a href="/">< Back to dashboard </a>
<h3 class="title">Quests</h3>
<div class="report-nmleft thick-border-top lb-report">
	<div class="panel-list"> 
		<% unless @active_quest.empty? %>
			<% @active_quest.each do |quest| %>
				<div id="quest-container" class="panel-row">
					<span class="floatl <%=quest.award_data[0][:badge]%>"></span>
					<div id="quest-details-container" class="panel-content">
		  				<h4><%=quest.name%></h4>
						<p style="width:90%;"class="help-text"><%=quest.description%></p>
						<strong><%=quest.award_data[0][:point]%></strong>
					</div>
				</div>
			<% end %>
		<% end %>
  	</div>
</div>
<div class="report-show-more">
	<a href="#" class="">Show 25 more</a>
</div>