<% content_for :sidebar do %><% end %>
<div class="btn-group floatr">
  <a href="/helpdesk/quests" class="btn">All</a>
  <a href="/helpdesk/quests/unachieved" class="btn  active">Un-achieved</a>
</div>
<a href="/">< Back to dashboard </a>
<h3 class="title">Quests</h3>
<div class="report-nmleft thick-border-top lb-report">
	<div class="panel-list"> 
			<% @quests.each do |quest| %>
				<div id="quest-container" class="panel-row">
					<span class="floatl gamesettings-badges <%=quest.badge[:classname]%>"></span>
					<div id="quest-details-container" class="panel-content">
		  				<h4><%=quest.name%></h4>
						<p style="width:90%;"class="help-text"><%=quest.description%></p>
						<strong><%=quest.points%></strong>
					</div>
				</div>
			<% end %>
  	</div>
</div>
<!-- div class="report-show-more">
	<a href="#" class="">Show 25 more</a>
</div -->