<div class="look_and_feel">
	<div class="title-breadcrumb">
		<ul>
			<li class="title-active">Settings</li>
			<li class="icon-arrow-right-2"></li>
			<li>Agents</li>
			<li class="icon-arrow-right-2"></li>
			<li>Add Agents</li>
		</ul>
	</div>

	<div class="box-full add_agents_page">

		<form>
			<fieldset class="form-control-group space_top">
				<label>Agent Status</label>
				<label class="switch_wrap" for="field">
				  <input id="field" type="checkbox" value="1" />
				  <div class="switch"><span class="bullet"></span></div>
				</label>
			</fielset>

			<fieldset class="form-control-group">
				<label>First Name</label>
				<input type="text" value=""/>
			</fieldset>

			<fieldset class="form-control-group">
				<label>Last name</label>
				<input type="text" value=""/>
			</fieldset>

			<fieldset class="form-control-group">
				<label>Display Name</label>
				<input type="text" value=""/>
			</fieldset>

			<fieldset class="form-control-group">
				<label>Email</label>
				<input type="text" value=""/>
			</fieldset>

			<fieldset class="form-control-group">
				<label>Role</label>
				<input type="checkbox" value=""/> <span class="align_small_label">Administrator</span>
			</fieldset>

			<fieldset class="form-control-group">
				<label></label>
				<span class="pull-left"><input type="submit" class="btn btn-inverse" value="Create"></span>
				<span class="pull-left"><input type="submit" class="btn btn-inverse" value="Cancel"></span>
			</fieldset>
		</form>
	</div>

	<span class="pull-right"><input type="submit" class="btn btn-inverse" id="add_agent" value="+ Add Agent"></span>
</div>