<div class="look_and_feel">
	<div class="title-breadcrumb">
		<ul>
			<li class="title-active">Settings</li>
			<li class="icon-arrow-right-2"></li>
			<li>Agents</li>
		</ul>
	</div>

	<div class="box-full">
		<table>
			<tr>
				<th>Display Name</th>
				<th>First Name</th>
				<th>Last Name</th>
				<th>Email</th>
				<th>Admin</th>
				<th>Enabled</th>
			</tr>
			<tr>
				<td>Vidu</td>
				<td>Viduthalai</td>
				<td>Mani</td>
				<td>viduthalai@freshdesk.com</td>
				<td><i class="icon-ok"></i></td>
				<td><i class="icon-ok"></i></td>
			</tr>
			<tr>
				<td>Joe</td>
				<td>Joe</td>
				<td>Jerald</td>
				<td>jerald@freshdesk.com</td>
				<td><i class="icon-ok"></i></td>
				<td><i class="icon-ok"></i></td>
			</tr>
		</table>
	</div>
	<span class="pull-right"><input type="submit" class="btn btn-inverse" id="add_agent" value="+ Add Agent"></span>
</div>