<div class="look_and_feel">
	<div class="title-breadcrumb">
		<ul>
			<li class="title-active">Settings</li>
			<li class="icon-arrow-right-2"></li>
			<li class="title-active">Behaviour and Text</li>
		</ul>
	</div>

		<div class="box">
			<ul class="theme-list clearfix">
				<h5>...Is Typing</h5>
				<li>This text appears when an operator is actively typing</li>
				<li><input type="text" value="is typing..."></li>
			</ul>

			<ul class="theme-list clearfix">
				<h5>Welcome Message</h5>
				<li>This will appear in the body of the freshchat window before a chat has started</li>
				<li><textarea type="textarea">Questions? We'd love to chat!</textarea></li>
			</ul>

			<ul class="theme-list clearfix">
				<h5>Name Field</h5>
				<li>Text to display for name input field</li>
				<li><input type="text" value="Type your name"></li>
			</ul>

			<ul class="theme-list clearfix">
				<h5>Offline Header</h5>
				<li>This will appear in the top of the window when no operators are available</li>
				<li><input type="text" value="Contact us!"></li>
			</ul>
			<span class="pull-left"><input type="submit" class="btn btn-inverse" value="Save"></span>
			<span class="pull-left"><input type="submit" class="btn btn-inverse" value="Cancel"></span>

		</div>

		<div class="box">
			<ul class="theme-list clearfix">
				<h5>Before Chat Header</h5>
				<li>This will appear in the top of the window before a chat has started</li>
				<li><input type="text" value="Chat with us"></li>
			</ul>

			<ul class="theme-list clearfix">
				<h5>Thank You Message</h5>
				<li>The thank you message to send your visitors after they submit the contact form</li>
				<li><textarea type="textarea">Thanks for your message!  We'll get back to you shortly.</textarea></li>
			</ul>

			<ul class="theme-list clearfix">
				<h5>Email Field</h5>
				<li>Text to display for email input field</li>
				<li><input type="text" value="Type your email"></li>
			</ul>

			<ul class="theme-list clearfix">
				<h5>Offline Body</h5>
				<li>This ill appear in the body of the window when no operators are available</li>
				<li><textarea type="textarea">We're not around, but we'd love to chat another time.</textarea></li>
			</ul>
		</div>
</div>