<div class="look_and_feel">
	<div class="title-breadcrumb">
		<ul>
			<li class="title-active">Settings</li>
			<li class="icon-arrow-right-2"></li>
			<li>Canned Reply</li>
		</ul>
	</div>

	<div class="box">
		<ul class="theme-list clearfix">
			<h5>Auto reply for your customer when you're in off</h5>
			<li>
				<textarea type="textarea" class="large-textbox">Hi, Please post your message here... We will get back to you soon</textarea>
			</li>
		</ul>
		<span class="pull-left"><input type="submit" class="btn btn-inverse" value="Save"></span>
		<span class="pull-left"><input type="submit" class="btn btn-inverse" value="Cancel"></span>
	</div>
</div>