<div class="look_and_feel">

	<div class="title-breadcrumb">
		<ul>
			<li class="title-active">Settings</li>
			<li class="icon-arrow-right-2"></li>
			<li>Greeter</li>
		</ul>
	</div>

		<div class="box">
			<ul class="theme-list">
				<h5>Set waiting time welcome new visitors with this message</h5>
				<li> 
					<select class="small-textbox">
						<option>5</option>
						<option>10</option>
						<option>15</option>
						<option>20</option>
						<option>30</option>
						<option>40</option>
						<option>50</option>
						<option>60</option>
					</select>
				</li>
			</ul>

			<ul class="theme-list">
				<h5>Set waiting time welcome new visitors with this message</h5>
				<li><input type="text" class="large-textbox" value="Thanks for stopping by! Can I help you with anything?"/></li>
			</ul>
			<span class="pull-left"><input type="submit" class="btn btn-inverse" value="Save"></span>
			<span class="pull-left"><input type="submit" class="btn btn-inverse" value="Cancel"></span>
		</div>

</div>