<div class="look_and_feel">
	<div class="title-breadcrumb">
		<ul>
			<li class="title-active">Settings</li>
			<li class="icon-arrow-right-2"></li>
			<li>Look n Feel</li>
		</ul>
	</div>

		<div class="look_and_feel_left">
			<div id="chat_layout">
			  <div id="fc-header" class="chat_fc_header">
			    Chat with us
			    <span id="symbol">
			      -
			    </span>
			  </div>
			  <div id="chat-container" style="display: block;">
			    <div id="chatwindow">
			      <div id="messagewindow">
			        <!-- messages -->
			        <p class="self clearfix">
			          <img src="http://freshchat.com:3000/img/demo/av1.jpg" alt="">
			          <span class="msg-block">
			            <b>Me</b>
			            <span class="time">17:15</span>
			            <span class="msg">hi</span>
			          </span>
			        </p>
			      </div>
			      <input type="text" placeholder="Your message" id="inputcontainer" disabled>
			    </div>
			  </div>
			</div>
			
			<div class="theme-controls">
				<p>Select your theme color</p>
				<a href="JavaScript:void(0);" class="red_theme"></a>
				<a href="JavaScript:void(0);" class="blue_theme"></a>
				<a href="JavaScript:void(0);" class="green_theme"></a>
				<a href="JavaScript:void(0);" class="orange_theme"></a>
				<a href="JavaScript:void(0);" class="teel_theme"></a>
				<a href="JavaScript:void(0);" class="gray_theme"></a>
			</div>
		</div>

		<div class="look_and_feel_right box">
			<h4>Freshchat Box Size and Location</h4>
			<ul class="theme-list clearfix">
				<h5>Position</h5>
				<li><span><input type="radio"></span> <span>Bottom Left</span></li>
				<li><span><input type="radio"></span> <span>Bottom Right</span></li>
			</ul>

			<ul class="theme-list clearfix">
				<h5>Width &amp; Height</h5>
				<li>
					<span><input type="text" value="200" class="small-textbox"></span>
					<span>Width<span> 
					<span> <em>(Must be atleat 150)</em></span>
				</li>
				
				<li>
					<span><input type="text" value="300" class="small-textbox"></span> 
					<span>Height</span>
					<span> <em>(Must be atleat 200)</em></span>
				</li>
			</ul>
			<span class="pull-left"><input type="submit" class="btn btn-inverse" value="Save"></span>
			<span class="pull-left"><input type="submit" class="btn btn-inverse" value="Cancel"></span>
		</div>
</div>