@import "compass";

body{ background: url("/images/subscriptionadminbg.png"); }                                                    
.navbar-inner{ 	background: url("/images/subscriptionadmintopbg.png"); }
.navbar .nav .active > a, .navbar .nav .active > a:hover { background-color: #203938;  }
.navbar-search .search-query { background-color:#497272; }
.navbar .nav > li > a { color:#85acac; }
.navbar-search .search-query:-moz-placeholder{ color:#85acac; }
.navbar-search .search-query::-webkit-input-placeholder{ color:#85acac; }
.navbar-inner{ @include box-shadow(4px 1px 3px rgba(0, 0, 0, 0.75), inset 0 -1px 0 rgba(0, 0, 0, 0.1)); }

.main-body{	padding-top:70px; }
.divider-vertical{ @include opacity(0.3); }

h2 + table, h3 + table, h4 + table, h2 + .row {
	margin-top:10px;
}      
.floatr{
	float:right;
}

.admin-logo{
	position:absolute;
	margin-left:-40px;
	margin-top:-5px;
}

section{ padding-top:30px;}

.paid{
	background-color:#B6DFAE;
}

.free{
    background-color:#CFE5E5;
}

#page-header{
	margin : 10px;
}

#page-content{
  margin : 10px;		
}

#pick_period select{
	width : 125px;
	margin-bottom : 0px;
}

.event-container{
	width : 90%;
	position : relative;
	padding : 10px;
	margin: 20px 10px 10px 10px;
	background-color: #FCFCFC;
	border : 1px solid #E5E5E5;
	font-size : 14px;
	border-radius : 10px;
}

#slide-down{
	cursor: pointer;
}

.event-overview{
	list-style-type : none;
	position : absolute;
	top : 10px;
	right : 5px;
}

.event-overview li{
	margin : 5px;
	padding-right : 10px;
	display : inline;
}

.event-details{
	margin : 25px;
	padding : 5px;
}

.table-details{
	width : 100%;
	border : solid 1px #CCC;
	border-radius : 5px;
  padding: 0px;
  margin: 0px;
	th, td{
		text-align : center;
		word-wrap : break-word;
	}
}

.event-summary{
  width : 95%;
  padding: 10px;
  margin: 10px;
}

