If this change has been made without your authorization, send us a reply.<br><br>

Thanks,<br>
Freshdesk Customer Support.<br><br>

You can configure this notification settings by <a href= "<%= @model.account.full_url %>/admin/security">clicking here</a> or going to Admin->Security in your account<br>