<ul id="settings-filter">
	<li>Profile</li>
	<li><a href="" class="active">Edit Profile</a></li>
	<li><a href="">Email Reports</a></li>
	<li><a href="">Change Password</a></li>
	<li><a href="">Labs</a></li>
</ul>

<div class="title-breadcrumb">
	<ul>
		<li class="title-active">Profile</li>
		<li class="icon-arrow-right-2"></li>
		<li>Edit Profile</li>
	</ul>
</div>

<div class="profile-page">
		<fieldset class="form-control-group">
			<label>Photo</label>
			<div class="profile-avatar">
				<span class="photo"><img id="photo" src="data:image/jpeg;base64,<%=profile.get("image_data")%>"/></span>
			</div>
			<div class="custom_file_upload">
				<input type="text" class="file" name="file_info" id="input_photo">
				<div class="file_upload">
					<input type="file" id="file_upload" name="file_upload" value="">
				</div>
				<p>This photo is your identity on chat and appears with your message.</p>
			</div>
		</fieldset>

		<fieldset class="form-control-group">
			<label>Username</label>
			<input type="text" value="<%=profile.get("username")%>" id="username" name="username" readonly/>

		</fieldset>

		<fieldset class="form-control-group">
			<label>Chat name</label>
			<input type="text" value="<%=profile.get("chat_name")%>" id="chat_name" name="chat_name" />
		</fieldset>

		<fieldset class="form-control-group">
			<label>Job title</label>
			<input type="text" value="<%=profile.get("job_title")%>" id="job_title" name="job_title"/>
		</fieldset>

		
		<!-- <fieldset class="form-control-group">
			<label>Current Password</label>
			<input type="password" value="" id="crnt_password" name="crnt_password" />
		</fieldset>

		<fieldset class="form-control-group">
			<label>Reset Password</label>
			<input type="password" value="" id="reset_password" name="reset_password" />
		</fieldset>

		<fieldset class="form-control-group">
			<label>Confirm Password</label>
			<input type="password" value="" id="cnfrm_password" name="cnfrm_password" />
		</fieldset> -->

		<fieldset class="form-control-group">
			<label>Location</label>
			<input type="text" value="<%=profile.get("location")%>" id="location" name="location"/>
		</fieldset>

		<fieldset class="form-control-group">
			<label></label>
			<span class="pull-left"><input type="submit" class="btn btn-inverse" value="Save" id="save"></span>
			<span class="pull-left"><input type="submit" class="btn btn-inverse" value="Cancel" id="cancel"></span>
		</fieldset>
</div>