<% content_for :sidebar do -%><%- end %>
<h3 class="title">Reporting</h3>
<div class="intro">
	Gives you the statistics for the <b>Last 30 days</b>
</div>
<div class="content_list">
	<ul>
		<% @t_reports.each_with_index do |report, index| %>
				<li><%= link_to report[:label], report_path(index+1), :class => "item_info" %></li> 
		<% end %>
		<li>
			<%= link_to (t('report.time_sheet_report'), timesheet_report_path , :class => "item_info") %>
		</li>
	</ul>
</div>