/* Theme Colors and layout Defaults */
/* Bullet icon */
/* Priority Color Codes */
/* Sprite variables used inside the sheet */
/* Importing admin icons */
/* line 242, admin-icon/*.png */
.admin-icon-sprite, .admin-icon-account-settings, .admin-icon-agent, .admin-icon-billing, .admin-icon-business-hours, .admin-icon-canned-response, .admin-icon-customer-portal, .admin-icon-day_pass, .admin-icon-dispatcher, .admin-icon-email-notifications, .admin-icon-email-settings, .admin-icon-email_commands_setting, .admin-icon-facebook-setting, .admin-icon-feedback, .admin-icon-gamification-settings, .admin-icon-group, .admin-icon-import, .admin-icon-integrations, .admin-icon-multi-product, .admin-icon-rebranding, .admin-icon-scenario, .admin-icon-security, .admin-icon-sla, .admin-icon-supervisor, .admin-icon-survey-settings, .admin-icon-ticket-fields, .admin-icon-twitter-setting {
  background: url('/images/admin-icon-s6295a3a13f.png') no-repeat; }

/* line 226, application-logo/*.png */
.application-logo-sprite {
  background: url('/images/application-logo-s7d299fbab8.png') no-repeat; }

/* Google sync status icons */
/* line 50, sync-status/*.png */
.sync-status-sprite {
  background: url('/images/sync-status-s9d8f3431f5.png') no-repeat; }

/*Report tab icons */
/* line 82, reports-icon/*.png */
.reports-icon-sprite {
  background: url('/images/reports-icon-sb9fa9326c0.png') no-repeat; }

/*Ticket View icons */
/* line 50, ticket-view/*.png */
.ticket-view-sprite {
  background: url('/images/ticket-view-s99f811802f.png') no-repeat; }

/* !IMPORTANT ALL GAMIFICATION RELATED STYLES WILL BE UNDER "app/gamification.scss" 
* These sprites are moved there so that they can be imported only if the feature is enabled */
/* line 60, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.admin-icon-account-settings {
  background-position: 0 0; }

/* line 60, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.admin-icon-agent {
  background-position: -60px 0; }

/* line 60, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.admin-icon-billing {
  background-position: -120px 0; }

/* line 60, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.admin-icon-business-hours {
  background-position: -180px 0; }

/* line 60, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.admin-icon-canned-response {
  background-position: -240px 0; }

/* line 60, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.admin-icon-customer-portal {
  background-position: -300px 0; }

/* line 60, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.admin-icon-day_pass {
  background-position: -360px 0; }

/* line 60, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.admin-icon-dispatcher {
  background-position: -420px 0; }

/* line 60, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.admin-icon-email-notifications {
  background-position: -480px 0; }

/* line 60, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.admin-icon-email-settings {
  background-position: -540px 0; }

/* line 60, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.admin-icon-email_commands_setting {
  background-position: -600px 0; }

/* line 60, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.admin-icon-facebook-setting {
  background-position: -660px 0; }

/* line 60, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.admin-icon-feedback {
  background-position: -720px 0; }

/* line 60, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.admin-icon-gamification-settings {
  background-position: -780px 0; }

/* line 60, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.admin-icon-group {
  background-position: -840px 0; }

/* line 60, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.admin-icon-import {
  background-position: -900px 0; }

/* line 60, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.admin-icon-integrations {
  background-position: -960px 0; }

/* line 60, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.admin-icon-multi-product {
  background-position: -1020px 0; }

/* line 60, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.admin-icon-rebranding {
  background-position: -1080px 0; }

/* line 60, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.admin-icon-scenario {
  background-position: -1140px 0; }

/* line 60, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.admin-icon-security {
  background-position: -1200px 0; }

/* line 60, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.admin-icon-sla {
  background-position: -1260px 0; }

/* line 60, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.admin-icon-supervisor {
  background-position: -1320px 0; }

/* line 60, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.admin-icon-survey-settings {
  background-position: -1380px 0; }

/* line 60, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.admin-icon-ticket-fields {
  background-position: -1440px 0; }

/* line 60, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.admin-icon-twitter-setting {
  background-position: -1500px 0; }

/* Admin page common css*/
/*Admin page common css end */
/* line 27, ../../src/app/admin.scss */
.admin {
  padding: 0px 0px 5px 0px;
  margin: 0px 8px 0px 10px; }
  /* line 31, ../../src/app/admin.scss */
  .admin h3.title {
    margin-bottom: 16px;
    font-size: 20px;
    font-weight: 200;
    color: #666;
    padding: 0; }
  /* line 38, ../../src/app/admin.scss */
  .admin h3 span {
    display: inline-block;
    padding-top: 2px; }
  /* line 43, ../../src/app/admin.scss */
  .admin ul {
    margin-left: -32px; }
    /* line 45, ../../src/app/admin.scss */
    .admin ul.admin_icons {
      overflow: hidden;
      *zoom: 1;
      list-style: none; }
      /* line 48, ../../src/app/admin.scss */
      .admin ul.admin_icons li {
        float: left;
        padding: 0px 18px;
        position: relative;
        min-height: 130px;
        height: auto !important;
        height: 130px; }
        /* line 53, ../../src/app/admin.scss */
        .admin ul.admin_icons li a {
          position: relative;
          display: block;
          padding: 8px 0px 2px 0px;
          text-align: center;
          text-decoration: none;
          color: #666;
          width: 100px; }
          /* line 61, ../../src/app/admin.scss */
          .admin ul.admin_icons li a .img-outer {
            height: 60px;
            width: 60px;
            margin: 0 auto;
            padding: 1px;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            -ms-border-radius: 50%;
            -o-border-radius: 50%;
            border-radius: 50%;
            margin-bottom: 5px; }
          /* line 70, ../../src/app/admin.scss */
          .admin ul.admin_icons li a img {
            height: 60px;
            width: 60px;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            -ms-border-radius: 50%;
            -o-border-radius: 50%;
            border-radius: 50%;
            -webkit-transition: all 0.1s ease;
            -moz-transition: all 0.1s ease;
            -o-transition: all 0.1s ease;
            transition: all 0.1s ease; }
          /* line 76, ../../src/app/admin.scss */
          .admin ul.admin_icons li a div.admin-icon-text {
            white-space: pre-wrap;
            /* css-3 */
            white-space: -moz-pre-wrap;
            /* Mozilla, since 1999 */
            white-space: -pre-wrap;
            /* Opera 4-6 */
            white-space: -o-pre-wrap;
            /* Opera 7 */
            word-wrap: break-word;
            /* Internet Explorer 5.5+ */
            font-size: 13px;
            line-height: 16px;
            margin: 0px 0px;
            padding: 1px 3px;
            position: relative; }
  /* line 92, ../../src/app/admin.scss */
  .admin.Helpdesk h3.title, .admin.HelpdeskProductivity h3.title, .admin.CustomerPortal h3.title, .admin.Account h3.title {
    border-top: 1px solid; }
    /* line 94, ../../src/app/admin.scss */
    .admin.Helpdesk h3.title span, .admin.HelpdeskProductivity h3.title span, .admin.CustomerPortal h3.title span, .admin.Account h3.title span {
      border-top: 3px solid; }
  /* line 103, ../../src/app/admin.scss */
  .admin.Helpdesk ul.admin_icons li a img {
    background-color: #8399b2; }
  /* line 106, ../../src/app/admin.scss */
  .admin.Helpdesk ul.admin_icons li a:hover {
    color: #416084; }
    /* line 108, ../../src/app/admin.scss */
    .admin.Helpdesk ul.admin_icons li a:hover .img-outer {
      background-color: #5279a6; }
    /* line 111, ../../src/app/admin.scss */
    .admin.Helpdesk ul.admin_icons li a:hover img {
      background-color: #5279a6;
      -webkit-animation: helpdesk_beat 0.2s;
      -moz-animation: helpdesk_beat 0.2s;
      -ms-animation: helpdesk_beat 0.2s;
      -o-animation: helpdesk_beat 0.2s;
      animation: helpdesk_beat 0.2s;
      -webkit-box-shadow: 0 0 0 5px #5279a6;
      -moz-box-shadow: 0 0 0 5px #5279a6;
      box-shadow: 0 0 0 5px #5279a6; }
  /* line 119, ../../src/app/admin.scss */
  .admin.Helpdesk h3.title {
    margin-top: 15px;
    border-color: #8399b2; }
    /* line 122, ../../src/app/admin.scss */
    .admin.Helpdesk h3.title span {
      border-color: #8399b2; }
  /* line 130, ../../src/app/admin.scss */
  .admin.HelpdeskProductivity ul.admin_icons li a img {
    background-color: #82a3a9; }
  /* line 133, ../../src/app/admin.scss */
  .admin.HelpdeskProductivity ul.admin_icons li a:hover {
    color: #3b6663; }
    /* line 135, ../../src/app/admin.scss */
    .admin.HelpdeskProductivity ul.admin_icons li a:hover .img-outer {
      background-color: #4e8683; }
    /* line 138, ../../src/app/admin.scss */
    .admin.HelpdeskProductivity ul.admin_icons li a:hover img {
      background-color: #4e8683;
      -webkit-animation: HelpdeskProductivity_beat 0.2s;
      -moz-animation: HelpdeskProductivity_beat 0.2s;
      -ms-animation: HelpdeskProductivity_beat 0.2s;
      -o-animation: HelpdeskProductivity_beat 0.2s;
      animation: HelpdeskProductivity_beat 0.2s;
      -webkit-box-shadow: 0 0 0 5px #4e8683;
      -moz-box-shadow: 0 0 0 5px #4e8683;
      box-shadow: 0 0 0 5px #4e8683; }
  /* line 146, ../../src/app/admin.scss */
  .admin.HelpdeskProductivity h3.title {
    border-color: #82a3a9; }
    /* line 148, ../../src/app/admin.scss */
    .admin.HelpdeskProductivity h3.title span {
      border-color: #82a3a9; }
  /* line 156, ../../src/app/admin.scss */
  .admin.CustomerPortal ul.admin_icons li a img {
    background-color: #a594b2; }
  /* line 159, ../../src/app/admin.scss */
  .admin.CustomerPortal ul.admin_icons li a:hover {
    color: #6c5483; }
    /* line 161, ../../src/app/admin.scss */
    .admin.CustomerPortal ul.admin_icons li a:hover .img-outer {
      background-color: #866aa0; }
    /* line 164, ../../src/app/admin.scss */
    .admin.CustomerPortal ul.admin_icons li a:hover img {
      background-color: #866aa0;
      -webkit-animation: CustomerPortal_beat 0.2s;
      -moz-animation: CustomerPortal_beat 0.2s;
      -ms-animation: CustomerPortal_beat 0.2s;
      -o-animation: CustomerPortal_beat 0.2s;
      animation: CustomerPortal_beat 0.2s;
      -webkit-box-shadow: 0 0 0 5px #866aa0;
      -moz-box-shadow: 0 0 0 5px #866aa0;
      box-shadow: 0 0 0 5px #866aa0; }
  /* line 172, ../../src/app/admin.scss */
  .admin.CustomerPortal h3.title {
    border-color: #a594b2; }
    /* line 174, ../../src/app/admin.scss */
    .admin.CustomerPortal h3.title span {
      border-color: #a594b2; }
  /* line 182, ../../src/app/admin.scss */
  .admin.Account ul.admin_icons li a img {
    background-color: #a1a1a1; }
  /* line 185, ../../src/app/admin.scss */
  .admin.Account ul.admin_icons li a:hover {
    color: #838383; }
    /* line 187, ../../src/app/admin.scss */
    .admin.Account ul.admin_icons li a:hover .img-outer {
      background-color: #838383; }
    /* line 190, ../../src/app/admin.scss */
    .admin.Account ul.admin_icons li a:hover img {
      background-color: #838383;
      -webkit-animation: Account_beat 0.2s;
      -moz-animation: Account_beat 0.2s;
      -ms-animation: Account_beat 0.2s;
      -o-animation: Account_beat 0.2s;
      animation: Account_beat 0.2s;
      -webkit-box-shadow: 0 0 0 5px #838383;
      -moz-box-shadow: 0 0 0 5px #838383;
      box-shadow: 0 0 0 5px #838383; }
  /* line 198, ../../src/app/admin.scss */
  .admin.Account h3.title {
    border-color: #a1a1a1; }
    /* line 200, ../../src/app/admin.scss */
    .admin.Account h3.title span {
      border-color: #a1a1a1; }

/* resque failed jobs page starts*/
/* line 208, ../../src/app/admin.scss */
.failed {
  word-wrap: break-word; }
  /* line 212, ../../src/app/admin.scss */
  .failed li {
    padding: 10px;
    background: #fafafa;
    margin: 15px 0px;
    border: 1px #ccc solid;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
    border-radius: 7px;
    -webkit-box-shadow: 0px 2px 10px #cccccc;
    -moz-box-shadow: 0px 2px 10px #cccccc;
    box-shadow: 0px 2px 10px #cccccc; }

/* line 222, ../../src/app/admin.scss */
.failed_heading {
  font-size: 24px; }

/* line 225, ../../src/app/admin.scss */
#redirect_button {
  float: right; }

/* line 230, ../../src/app/admin.scss */
.failed_category {
  font-size: 15px;
  font-weight: 500; }

/* line 236, ../../src/app/admin.scss */
.resque_worker {
  color: #5F9F9F;
  font-size: 13px; }

/* line 241, ../../src/app/admin.scss */
#resque_btn {
  float: right; }

/* line 245, ../../src/app/admin.scss */
.resque_time {
  font-size: 12px; }

/* line 249, ../../src/app/admin.scss */
.retried {
  color: #ff0000;
  font-size: 13px; }

/* resque failed jobs page end*/
@-moz-keyframes helpdesk_beat {
  /* line 258, ../../src/app/admin.scss */
  from {
    -moz-box-shadow: 0 0 0 0px #5279a6;
    box-shadow: 0 0 0 0px #5279a6; }

  /* line 261, ../../src/app/admin.scss */
  50% {
    -moz-box-shadow: 0 0 0 7px #5279a6;
    box-shadow: 0 0 0 7px #5279a6; }

  /* line 264, ../../src/app/admin.scss */
  to {
    -moz-box-shadow: 0 0 0 5px #5279a6;
    box-shadow: 0 0 0 5px #5279a6; } }

@-webkit-keyframes helpdesk_beat {
  /* line 258, ../../src/app/admin.scss */
  from {
    -webkit-box-shadow: 0 0 0 0px #5279a6;
    box-shadow: 0 0 0 0px #5279a6; }

  /* line 261, ../../src/app/admin.scss */
  50% {
    -webkit-box-shadow: 0 0 0 7px #5279a6;
    box-shadow: 0 0 0 7px #5279a6; }

  /* line 264, ../../src/app/admin.scss */
  to {
    -webkit-box-shadow: 0 0 0 5px #5279a6;
    box-shadow: 0 0 0 5px #5279a6; } }

@-o-keyframes helpdesk_beat {
  /* line 258, ../../src/app/admin.scss */
  from {
    box-shadow: 0 0 0 0px #5279a6; }

  /* line 261, ../../src/app/admin.scss */
  50% {
    box-shadow: 0 0 0 7px #5279a6; }

  /* line 264, ../../src/app/admin.scss */
  to {
    box-shadow: 0 0 0 5px #5279a6; } }

@-ms-keyframes helpdesk_beat {
  /* line 258, ../../src/app/admin.scss */
  from {
    box-shadow: 0 0 0 0px #5279a6; }

  /* line 261, ../../src/app/admin.scss */
  50% {
    box-shadow: 0 0 0 7px #5279a6; }

  /* line 264, ../../src/app/admin.scss */
  to {
    box-shadow: 0 0 0 5px #5279a6; } }

@keyframes helpdesk_beat {
  /* line 258, ../../src/app/admin.scss */
  from {
    -webkit-box-shadow: 0 0 0 0px #5279a6;
    -moz-box-shadow: 0 0 0 0px #5279a6;
    box-shadow: 0 0 0 0px #5279a6; }

  /* line 261, ../../src/app/admin.scss */
  50% {
    -webkit-box-shadow: 0 0 0 7px #5279a6;
    -moz-box-shadow: 0 0 0 7px #5279a6;
    box-shadow: 0 0 0 7px #5279a6; }

  /* line 264, ../../src/app/admin.scss */
  to {
    -webkit-box-shadow: 0 0 0 5px #5279a6;
    -moz-box-shadow: 0 0 0 5px #5279a6;
    box-shadow: 0 0 0 5px #5279a6; } }

/* queues section */
/* line 271, ../../src/app/admin.scss */
.queues-wrapper {
  font-family: 'Helvetica Neue', Tahoma, Arial, Helvetica, sans-serif; }
  /* line 273, ../../src/app/admin.scss */
  .queues-wrapper h1 {
    color: #f00;
    font-size: 18px;
    padding-bottom: 10px; }
  /* line 281, ../../src/app/admin.scss */
  .queues-wrapper table {
    width: 70%;
    margin: 20px 0px;
    display: table;
    border: 1px #ccc solid;
    border-collapse: collapse !important; }
    /* line 288, ../../src/app/admin.scss */
    .queues-wrapper table #worker_time {
      font-size: 9px; }
    /* line 293, ../../src/app/admin.scss */
    .queues-wrapper table th {
      background: #ccc;
      color: #333;
      font-weight: bold;
      padding: 10px; }
    /* line 300, ../../src/app/admin.scss */
    .queues-wrapper table td {
      padding: 10px;
      border-bottom: 1px #ccc solid; }

/* line 307, ../../src/app/admin.scss */
.queues-table {
  border: 1px #ccc solid;
  border-collapse: collapse !important; }

/* Helpdesk Productivity Animation */
@-moz-keyframes HelpdeskProductivity_beat {
  /* line 314, ../../src/app/admin.scss */
  from {
    -moz-box-shadow: 0 0 0 0px #4e8683;
    box-shadow: 0 0 0 0px #4e8683; }

  /* line 317, ../../src/app/admin.scss */
  50% {
    -moz-box-shadow: 0 0 0 7px #4e8683;
    box-shadow: 0 0 0 7px #4e8683; }

  /* line 320, ../../src/app/admin.scss */
  to {
    -moz-box-shadow: 0 0 0 5px #4e8683;
    box-shadow: 0 0 0 5px #4e8683; } }

@-webkit-keyframes HelpdeskProductivity_beat {
  /* line 314, ../../src/app/admin.scss */
  from {
    -webkit-box-shadow: 0 0 0 0px #4e8683;
    box-shadow: 0 0 0 0px #4e8683; }

  /* line 317, ../../src/app/admin.scss */
  50% {
    -webkit-box-shadow: 0 0 0 7px #4e8683;
    box-shadow: 0 0 0 7px #4e8683; }

  /* line 320, ../../src/app/admin.scss */
  to {
    -webkit-box-shadow: 0 0 0 5px #4e8683;
    box-shadow: 0 0 0 5px #4e8683; } }

@-o-keyframes HelpdeskProductivity_beat {
  /* line 314, ../../src/app/admin.scss */
  from {
    box-shadow: 0 0 0 0px #4e8683; }

  /* line 317, ../../src/app/admin.scss */
  50% {
    box-shadow: 0 0 0 7px #4e8683; }

  /* line 320, ../../src/app/admin.scss */
  to {
    box-shadow: 0 0 0 5px #4e8683; } }

@-ms-keyframes HelpdeskProductivity_beat {
  /* line 314, ../../src/app/admin.scss */
  from {
    box-shadow: 0 0 0 0px #4e8683; }

  /* line 317, ../../src/app/admin.scss */
  50% {
    box-shadow: 0 0 0 7px #4e8683; }

  /* line 320, ../../src/app/admin.scss */
  to {
    box-shadow: 0 0 0 5px #4e8683; } }

@keyframes HelpdeskProductivity_beat {
  /* line 314, ../../src/app/admin.scss */
  from {
    -webkit-box-shadow: 0 0 0 0px #4e8683;
    -moz-box-shadow: 0 0 0 0px #4e8683;
    box-shadow: 0 0 0 0px #4e8683; }

  /* line 317, ../../src/app/admin.scss */
  50% {
    -webkit-box-shadow: 0 0 0 7px #4e8683;
    -moz-box-shadow: 0 0 0 7px #4e8683;
    box-shadow: 0 0 0 7px #4e8683; }

  /* line 320, ../../src/app/admin.scss */
  to {
    -webkit-box-shadow: 0 0 0 5px #4e8683;
    -moz-box-shadow: 0 0 0 5px #4e8683;
    box-shadow: 0 0 0 5px #4e8683; } }

/*  Customer Portal Animation */
@-moz-keyframes CustomerPortal_beat {
  /* line 326, ../../src/app/admin.scss */
  from {
    -moz-box-shadow: 0 0 0 0px #866aa0;
    box-shadow: 0 0 0 0px #866aa0; }

  /* line 329, ../../src/app/admin.scss */
  50% {
    -moz-box-shadow: 0 0 0 7px #866aa0;
    box-shadow: 0 0 0 7px #866aa0; }

  /* line 332, ../../src/app/admin.scss */
  to {
    -moz-box-shadow: 0 0 0 5px #866aa0;
    box-shadow: 0 0 0 5px #866aa0; } }

@-webkit-keyframes CustomerPortal_beat {
  /* line 326, ../../src/app/admin.scss */
  from {
    -webkit-box-shadow: 0 0 0 0px #866aa0;
    box-shadow: 0 0 0 0px #866aa0; }

  /* line 329, ../../src/app/admin.scss */
  50% {
    -webkit-box-shadow: 0 0 0 7px #866aa0;
    box-shadow: 0 0 0 7px #866aa0; }

  /* line 332, ../../src/app/admin.scss */
  to {
    -webkit-box-shadow: 0 0 0 5px #866aa0;
    box-shadow: 0 0 0 5px #866aa0; } }

@-o-keyframes CustomerPortal_beat {
  /* line 326, ../../src/app/admin.scss */
  from {
    box-shadow: 0 0 0 0px #866aa0; }

  /* line 329, ../../src/app/admin.scss */
  50% {
    box-shadow: 0 0 0 7px #866aa0; }

  /* line 332, ../../src/app/admin.scss */
  to {
    box-shadow: 0 0 0 5px #866aa0; } }

@-ms-keyframes CustomerPortal_beat {
  /* line 326, ../../src/app/admin.scss */
  from {
    box-shadow: 0 0 0 0px #866aa0; }

  /* line 329, ../../src/app/admin.scss */
  50% {
    box-shadow: 0 0 0 7px #866aa0; }

  /* line 332, ../../src/app/admin.scss */
  to {
    box-shadow: 0 0 0 5px #866aa0; } }

@keyframes CustomerPortal_beat {
  /* line 326, ../../src/app/admin.scss */
  from {
    -webkit-box-shadow: 0 0 0 0px #866aa0;
    -moz-box-shadow: 0 0 0 0px #866aa0;
    box-shadow: 0 0 0 0px #866aa0; }

  /* line 329, ../../src/app/admin.scss */
  50% {
    -webkit-box-shadow: 0 0 0 7px #866aa0;
    -moz-box-shadow: 0 0 0 7px #866aa0;
    box-shadow: 0 0 0 7px #866aa0; }

  /* line 332, ../../src/app/admin.scss */
  to {
    -webkit-box-shadow: 0 0 0 5px #866aa0;
    -moz-box-shadow: 0 0 0 5px #866aa0;
    box-shadow: 0 0 0 5px #866aa0; } }

/* Account Animation */
@-moz-keyframes Account_beat {
  /* line 338, ../../src/app/admin.scss */
  from {
    -moz-box-shadow: 0 0 0 0px #838383;
    box-shadow: 0 0 0 0px #838383; }

  /* line 341, ../../src/app/admin.scss */
  50% {
    -moz-box-shadow: 0 0 0 7px #838383;
    box-shadow: 0 0 0 7px #838383; }

  /* line 344, ../../src/app/admin.scss */
  to {
    -moz-box-shadow: 0 0 0 5px #838383;
    box-shadow: 0 0 0 5px #838383; } }

@-webkit-keyframes Account_beat {
  /* line 338, ../../src/app/admin.scss */
  from {
    -webkit-box-shadow: 0 0 0 0px #838383;
    box-shadow: 0 0 0 0px #838383; }

  /* line 341, ../../src/app/admin.scss */
  50% {
    -webkit-box-shadow: 0 0 0 7px #838383;
    box-shadow: 0 0 0 7px #838383; }

  /* line 344, ../../src/app/admin.scss */
  to {
    -webkit-box-shadow: 0 0 0 5px #838383;
    box-shadow: 0 0 0 5px #838383; } }

@-o-keyframes Account_beat {
  /* line 338, ../../src/app/admin.scss */
  from {
    box-shadow: 0 0 0 0px #838383; }

  /* line 341, ../../src/app/admin.scss */
  50% {
    box-shadow: 0 0 0 7px #838383; }

  /* line 344, ../../src/app/admin.scss */
  to {
    box-shadow: 0 0 0 5px #838383; } }

@-ms-keyframes Account_beat {
  /* line 338, ../../src/app/admin.scss */
  from {
    box-shadow: 0 0 0 0px #838383; }

  /* line 341, ../../src/app/admin.scss */
  50% {
    box-shadow: 0 0 0 7px #838383; }

  /* line 344, ../../src/app/admin.scss */
  to {
    box-shadow: 0 0 0 5px #838383; } }

@keyframes Account_beat {
  /* line 338, ../../src/app/admin.scss */
  from {
    -webkit-box-shadow: 0 0 0 0px #838383;
    -moz-box-shadow: 0 0 0 0px #838383;
    box-shadow: 0 0 0 0px #838383; }

  /* line 341, ../../src/app/admin.scss */
  50% {
    -webkit-box-shadow: 0 0 0 7px #838383;
    -moz-box-shadow: 0 0 0 7px #838383;
    box-shadow: 0 0 0 7px #838383; }

  /* line 344, ../../src/app/admin.scss */
  to {
    -webkit-box-shadow: 0 0 0 5px #838383;
    -moz-box-shadow: 0 0 0 5px #838383;
    box-shadow: 0 0 0 5px #838383; } }

/* Admin Home Page css end */
