/* Theme Colors and layout Defaults */
/* Bullet icon */
/* Priority Color Codes */
/* Sprite variables used inside the sheet */
/* styles in here will be used in admin settings of arcade */
/* Sprite sheet creation for badges and trophies */
/*Gamification-Trophy */
/* line 106, trophy/*.png */
.trophy-sprite, .trophy-love-small, .trophy-love, .trophy-mvp-small, .trophy-mvp, .trophy-sharpshooter-small, .trophy-sharpshooter, .trophy-speed-small, .trophy-speed, .trophy-sprite-width {
  background: url('/images/trophy-sa2b291e7d5.png') no-repeat; }

/* line 60, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.trophy-love-small {
  background-position: 0 -200px;
  height: 40px;
  width: 40px; }

/* line 60, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.trophy-love {
  background-position: 0 0;
  height: 50px;
  width: 50px; }

/* line 60, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.trophy-mvp-small {
  background-position: 0 -320px;
  height: 40px;
  width: 40px; }

/* line 60, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.trophy-mvp {
  background-position: 0 -100px;
  height: 50px;
  width: 50px; }

/* line 60, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.trophy-sharpshooter-small {
  background-position: 0 -240px;
  height: 40px;
  width: 40px; }

/* line 60, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.trophy-sharpshooter {
  background-position: 0 -50px;
  height: 50px;
  width: 50px; }

/* line 60, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.trophy-speed-small {
  background-position: 0 -280px;
  height: 40px;
  width: 40px; }

/* line 60, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.trophy-speed {
  background-position: 0 -150px;
  height: 50px;
  width: 50px; }

/* line 60, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.trophy-sprite-width {
  background-position: 0 -360px;
  height: 4px;
  width: 180px; }

/*Gamification-Badges */
/* line 186, badges/*.png */
.badges-sprite, .badges-fb, .badges-fcr, .badges-forum-comment, .badges-forum, .badges-gamer, .badges-joystick, .badges-levelup, .badges-love, .badges-open-book, .badges-scribe, .badges-settings, .badges-shooter, .badges-sprite-width, .badges-the-professional, .badges-time, .badges-trophy, .badges-tweet, .badges-winner, .badges-writer {
  background: url('/images/badges-s5a1dea61b1.png') no-repeat; }

/* line 266, badges-a/*.png */
.badges-a-sprite, .badges-a-artist, .badges-a-business-man, .badges-a-cake, .badges-a-calendar, .badges-a-call, .badges-a-chart, .badges-a-closed-book, .badges-a-clover, .badges-a-coffee, .badges-a-diamond, .badges-a-elephant, .badges-a-experiment, .badges-a-flag, .badges-a-glasses, .badges-a-lamp, .badges-a-late-worker, .badges-a-martini, .badges-a-messenger, .badges-a-money, .badges-a-performer, .badges-a-player, .badges-a-priority, .badges-a-radiation, .badges-a-rocket, .badges-a-sailor, .badges-a-smiley, .badges-a-spade, .badges-a-sprite-width, .badges-a-traveller {
  background: url('/images/badges-a-s3c192e81a0.png') no-repeat; }

/* line 60, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.badges-fb {
  background-position: -250px -54px; }

/* line 60, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.badges-fcr {
  background-position: -100px -54px; }

/* line 60, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.badges-forum-comment {
  background-position: -50px -4px; }

/* line 60, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.badges-forum {
  background-position: -100px -4px; }

/* line 60, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.badges-gamer {
  background-position: -150px -4px; }

/* line 60, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.badges-joystick {
  background-position: -200px -4px; }

/* line 60, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.badges-levelup {
  background-position: -250px -4px; }

/* line 60, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.badges-love {
  background-position: 0 -54px; }

/* line 60, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.badges-open-book {
  background-position: -50px -54px; }

/* line 60, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.badges-scribe {
  background-position: 0 -4px; }

/* line 60, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.badges-settings {
  background-position: -150px -54px; }

/* line 60, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.badges-shooter {
  background-position: -200px -54px; }

/* line 60, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.badges-sprite-width {
  background-position: 0 0; }

/* line 60, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.badges-the-professional {
  background-position: 0 -104px; }

/* line 60, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.badges-time {
  background-position: -50px -104px; }

/* line 60, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.badges-trophy {
  background-position: -100px -104px; }

/* line 60, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.badges-tweet {
  background-position: -150px -104px; }

/* line 60, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.badges-winner {
  background-position: -200px -104px; }

/* line 60, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.badges-writer {
  background-position: -250px -104px; }

/* line 60, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.badges-a-artist {
  background-position: -50px -204px; }

/* line 60, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.badges-a-business-man {
  background-position: 0 -154px; }

/* line 60, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.badges-a-cake {
  background-position: 0 -54px; }

/* line 60, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.badges-a-calendar {
  background-position: -50px -54px; }

/* line 60, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.badges-a-call {
  background-position: -100px -54px; }

/* line 60, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.badges-a-chart {
  background-position: -150px -54px; }

/* line 60, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.badges-a-closed-book {
  background-position: -200px -54px; }

/* line 60, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.badges-a-clover {
  background-position: 0 -4px; }

/* line 60, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.badges-a-coffee {
  background-position: -50px -4px; }

/* line 60, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.badges-a-diamond {
  background-position: -100px -4px; }

/* line 60, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.badges-a-elephant {
  background-position: -150px -4px; }

/* line 60, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.badges-a-experiment {
  background-position: -200px -4px; }

/* line 60, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.badges-a-flag {
  background-position: -250px -4px; }

/* line 60, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.badges-a-glasses {
  background-position: -250px -54px; }

/* line 60, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.badges-a-lamp {
  background-position: -150px -204px; }

/* line 60, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.badges-a-late-worker {
  background-position: -50px -154px; }

/* line 60, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.badges-a-martini {
  background-position: -100px -154px; }

/* line 60, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.badges-a-messenger {
  background-position: -150px -154px; }

/* line 60, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.badges-a-money {
  background-position: -200px -154px; }

/* line 60, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.badges-a-performer {
  background-position: 0 -104px; }

/* line 60, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.badges-a-player {
  background-position: -50px -104px; }

/* line 60, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.badges-a-priority {
  background-position: -100px -104px; }

/* line 60, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.badges-a-radiation {
  background-position: -150px -104px; }

/* line 60, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.badges-a-rocket {
  background-position: -200px -104px; }

/* line 60, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.badges-a-sailor {
  background-position: -250px -104px; }

/* line 60, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.badges-a-smiley {
  background-position: -250px -154px; }

/* line 60, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.badges-a-spade {
  background-position: 0 -204px; }

/* line 60, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.badges-a-sprite-width {
  background-position: 0 0; }

/* line 60, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.badges-a-traveller {
  background-position: -100px -204px; }

/* line 19, ../../src/app/gamification.scss */
.trophy {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline; }

/* line 23, ../../src/app/gamification.scss */
.gamesettings .admin_list {
  margin: 0 -16px; }

/* line 27, ../../src/app/gamification.scss */
.gamesettings-badges {
  width: 50px;
  height: 50px;
  margin-left: -5px; }

/* line 33, ../../src/app/gamification.scss */
.badge-set {
  cursor: pointer;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
  margin-top: 3px;
  margin-bottom: 3px;
  padding: 6px 0;
  min-height: 80px;
  height: auto !important;
  height: 80px; }
  /* line 40, ../../src/app/gamification.scss */
  .badge-set:hover {
    background-color: #efefef;
    -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0 1px 3px inset;
    -moz-box-shadow: rgba(0, 0, 0, 0.1) 0 1px 3px inset;
    box-shadow: rgba(0, 0, 0, 0.1) 0 1px 3px inset; }

/* line 46, ../../src/app/gamification.scss */
.select_badge {
  border: 1px solid #DFDFDF;
  width: 100px;
  text-align: center;
  margin: 5px 0;
  background-color: #EFEFEF;
  border-radius: 6px;
  padding: 3px; }
  /* line 54, ../../src/app/gamification.scss */
  .select_badge strong {
    font-size: 11px; }
  /* line 57, ../../src/app/gamification.scss */
  .select_badge .gamesettings-badges {
    margin: 0 auto; }

/* line 62, ../../src/app/gamification.scss */
#selected-badge .gamesettings-badges {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline; }

/* line 66, ../../src/app/gamification.scss */
#select-badge {
  max-height: 340px;
  overflow: auto; }
  /* line 69, ../../src/app/gamification.scss */
  #select-badge .gamesettings-badges {
    margin: 0 auto; }

/* line 74, ../../src/app/gamification.scss */
.badges {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  width: 50px;
  height: 50px;
  margin: -5px 5px 18px 5px;
  text-align: center; }
  /* line 80, ../../src/app/gamification.scss */
  .badges .label.points {
    position: relative;
    top: 53px; }

/* line 86, ../../src/app/gamification.scss */
.badges.center {
  margin-left: auto;
  margin-right: auto; }

/* line 91, ../../src/app/gamification.scss */
.badges.left {
  margin: -2px 0 18px -5px; }

/* line 95, ../../src/app/gamification.scss */
.gamesettings h3 {
  color: #333;
  margin: 0 0 3px 2px;
  font-size: 20px; }

/* line 101, ../../src/app/gamification.scss */
.gamesettings .gray-box-rounded {
  margin-bottom: 20px;
  min-height: 120px;
  overflow: hidden; }

/* line 108, ../../src/app/gamification.scss */
.gamesettings .points-box {
  margin-right: 0;
  overflow: hidden; }

/* line 113, ../../src/app/gamification.scss */
.gamesettings .points-box h2 {
  margin: 10px 0;
  font-size: 16px;
  color: #666; }

/* line 119, ../../src/app/gamification.scss */
.gamesettings .points li {
  list-style: none;
  float: left;
  margin-right: 0px;
  width: 110px;
  font-size: 11px;
  font-weight: 500;
  color: #333;
  padding: 0 0 0 0; }

/* line 130, ../../src/app/gamification.scss */
.gamesettings .error {
  font-size: 11px; }

/* line 134, ../../src/app/gamification.scss */
.gamesettings .points li > span {
  color: #666;
  font-size: 12px; }

/* line 139, ../../src/app/gamification.scss */
.gamesettings .trophies li {
  width: 400px; }

/* line 144, ../../src/app/gamification.scss */
.gamesettings .trophies li h2,
.gamesettings .quest h2 {
  font-weight: bold; }

/* line 151, ../../src/app/gamification.scss */
.gamesettings .trophies li h2,
.gamesettings .trophies li p,
.gamesettings .quest h2,
.gamesettings .quest p {
  margin: 0 0 3px;
  color: #333; }

/* line 156, ../../src/app/gamification.scss */
.gamesettings .trophies li.topLeft {
  border-right: 1px solid #eaeaea;
  border-bottom: 1px solid #eaeaea;
  margin-right: 0;
  padding: 10px; }

/* line 163, ../../src/app/gamification.scss */
.gamesettings .trophies li.topRight {
  border-left: 1px solid #eaeaea;
  border-bottom: 1px solid #eaeaea;
  padding: 10px; }

/* line 170, ../../src/app/gamification.scss */
.gamesettings .trophies li.bottomLeft {
  border-top: 1px solid #eaeaea;
  border-right: 1px solid #eaeaea;
  padding: 10px;
  margin-right: 0; }

/* line 178, ../../src/app/gamification.scss */
.gamesettings .trophies li.bottomRight {
  border-left: 1px solid #eaeaea;
  border-top: 1px solid #eaeaea;
  padding: 10px; }

/* line 184, ../../src/app/gamification.scss */
.gamesettings .quest {
  min-height: 40px;
  margin-bottom: 5px;
  padding: 20px 50px 20px 20px; }

/* line 191, ../../src/app/gamification.scss */
.selectgame h2 {
  display: inline;
  font-size: 16px; }

/* line 196, ../../src/app/gamification.scss */
.gamecriteria h2, .gamereward h2, .gamename h2 {
  margin: 4px;
  font-size: 16px; }

/* line 200, ../../src/app/gamification.scss */
.gamecriteria .gray-box-rounded, .gamereward .gray-box-rounded, .gamename .gray-box-rounded, #select-badge .gray-box-rounded {
  box-sizing: border-box;
  padding: 10px;
  border-radius: 4px;
  background-color: #f7f7f7;
  margin-bottom: 20px;
  overflow: hidden;
  min-height: 20px; }

/* line 211, ../../src/app/gamification.scss */
.gray-box-rounded select {
  width: 200px;
  margin-right: 10px; }

/* line 216, ../../src/app/gamification.scss */
.gray-box-rounded .smallinput {
  width: 50px;
  font-size: 14px;
  margin-right: 10px;
  border-radius: 4px;
  border: 1px solid #d9d9d9; }

/* line 225, ../../src/app/gamification.scss */
.gamename input[type="text"], .gamename textarea {
  width: 98%;
  padding: 5px; }

/* line 230, ../../src/app/gamification.scss */
.badgelist ul {
  overflow: hidden; }

/* line 233, ../../src/app/gamification.scss */
.badgelist li {
  float: left;
  margin: 10px 20px 20px 10px;
  text-align: center;
  font-weight: bold; }

/* line 240, ../../src/app/gamification.scss */
.badgelist li div {
  margin-left: 5px; }

/* Reports CSS */
/* line 246, ../../src/app/gamification.scss */
.leaderboard-big {
  width: 99%;
  border-collapse: collapse; }

/* line 251, ../../src/app/gamification.scss */
.leaderboard-small {
  width: 30%;
  border-collapse: collapse;
  display: inline;
  margin-right: 3%;
  margin-top: 2%;
  float: left; }

/* line 261, ../../src/app/gamification.scss */
.leaderboard-big td, .leaderboard-big th,
.leaderboard-small td, .leaderboard-small th {
  padding: 10px;
  font-family: sans-serif; }

/* line 266, ../../src/app/gamification.scss */
.leaderboard-big th {
  background-color: #e5e5e5; }

/* line 271, ../../src/app/gamification.scss */
.leaderboard-small th {
  background-color: #e5e5e5;
  text-align: left; }

/* line 275, ../../src/app/gamification.scss */
.alterRow td {
  background-color: #f6f6f6; }

/* line 279, ../../src/app/gamification.scss */
.up {
  color: #7ecfd3; }

/* line 283, ../../src/app/gamification.scss */
.down {
  color: #d68585; }

/* line 287, ../../src/app/gamification.scss */
.leaderboard-small td b {
  display: block; }

/* line 290, ../../src/app/gamification.scss */
li.dashboard-quest-points {
  text-align: center;
  margin-top: 5px;
  font-weight: bold; }

/* line 297, ../../src/app/gamification.scss */
.report-nmleft {
  margin-left: -20px;
  margin-right: -20px; }

/* line 302, ../../src/app/gamification.scss */
.report-show-more {
  border: 1px solid #efefef;
  border-width: 2px 0;
  text-align: center;
  padding: 8px 0;
  margin: 0 -20px; }
  /* line 308, ../../src/app/gamification.scss */
  .report-show-more a {
    color: #333;
    font-weight: bold; }

/* line 314, ../../src/app/gamification.scss */
.q-report {
  padding-top: 1px;
  margin-top: 10px; }
  /* line 317, ../../src/app/gamification.scss */
  .q-report .panel-row {
    padding: 12px 20px 12px 13px;
    position: relative;
    border-top: 0;
    border-bottom: 1px solid #E6E6E6; }

/* line 325, ../../src/app/gamification.scss */
.lb-report {
  padding-top: 1px;
  margin-top: 10px;
  *zoom: 1;
  line-height: 18px; }
  /* line 38, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
  .lb-report:after {
    content: "";
    display: table;
    clear: both; }
  /* line 330, ../../src/app/gamification.scss */
  .lb-report h3.title {
    font-size: 14px; }
  /* line 331, ../../src/app/gamification.scss */
  .lb-report .intro {
    font-size: 12px; }
  /* line 334, ../../src/app/gamification.scss */
  .lb-report .panel-row {
    padding: 12px 20px 12px 13px;
    position: relative;
    border-top: 0;
    border-left: 7px solid transparent;
    min-height: 40px;
    height: auto !important;
    height: 40px; }
    /* line 340, ../../src/app/gamification.scss */
    .lb-report .panel-row .help-text {
      color: #adadad; }
  /* line 344, ../../src/app/gamification.scss */
  .lb-report .panel-row.lb-cu {
    background-color: #f2f9e6;
    border-left: 7px solid #dbe8c8; }

/* line 350, ../../src/app/gamification.scss */
.lb-report-title {
  background-color: #e4e4e4;
  border-bottom: 1px solid #fff;
  min-height: 70px;
  height: auto !important;
  height: 70px; }

/* line 356, ../../src/app/gamification.scss */
.lbr-trophy {
  float: left;
  margin-left: -5px;
  margin-right: 5px;
  margin-top: 3px; }

/* line 363, ../../src/app/gamification.scss */
.lb-mvp .lb-report-title {
  background-color: #d7d7d7; }

/* line 367, ../../src/app/gamification.scss */
.lb-number {
  background-color: #e4e4e4;
  font-weight: bold;
  font-size: 14px;
  padding: 13px 10px;
  line-height: 0;
  -webkit-border-radius: 2em;
  -moz-border-radius: 2em;
  -ms-border-radius: 2em;
  -o-border-radius: 2em;
  border-radius: 2em;
  -webkit-box-shadow: rgba(0, 0, 0, 0.5) 0 1px 1px inset;
  -moz-box-shadow: rgba(0, 0, 0, 0.5) 0 1px 1px inset;
  box-shadow: rgba(0, 0, 0, 0.5) 0 1px 1px inset;
  position: absolute;
  left: -50px;
  top: 15px; }

/* line 381, ../../src/app/gamification.scss */
.lb-sc .lb-report-row, .lb-sc .lb-report-title {
  margin-left: 1px; }
/* line 384, ../../src/app/gamification.scss */
.lb-sc .lb-report-title {
  background-color: #efefef; }

/* line 389, ../../src/app/gamification.scss */
.lb-report-row, .lb-report-title {
  padding: 6px 9px 3px 15px; }

/* line 393, ../../src/app/gamification.scss */
.lb-report-col {
  display: inline;
  float: left;
  min-height: 450px;
  height: auto !important;
  height: 450px;
  width: 24.9%;
  border-left: 1px solid #d5d5d5; }

/* line 400, ../../src/app/gamification.scss */
.report-3-col .lb-report-col {
  width: 33.2%; }

/* line 404, ../../src/app/gamification.scss */
.inactive {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  opacity: 0.5; }

/* line 408, ../../src/app/gamification.scss */
.thick-border-top {
  border-top: 2px solid #b5b5be;
  border-bottom: 1px solid #dfdfdf; }

/* line 413, ../../src/app/gamification.scss */
.side-panel .action-right {
  float: right;
  font-size: 13px;
  line-height: 24px;
  margin-top: 4px; }

/* line 420, ../../src/app/gamification.scss */
.level-progress {
  border: 1px solid #c6c6c6;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  margin-top: 6px;
  padding: 5px 10px;
  position: relative; }
  /* line 426, ../../src/app/gamification.scss */
  .level-progress p {
    position: relative;
    z-index: 1; }
  /* line 430, ../../src/app/gamification.scss */
  .level-progress .bar {
    position: absolute;
    background-color: #e8f1f4;
    top: 0;
    left: 0;
    height: 100%;
    -moz-border-radius-topleft: 3px;
    -webkit-border-top-left-radius: 3px;
    border-top-left-radius: 3px;
    -moz-border-radius-bottomleft: 3px;
    -webkit-border-bottom-left-radius: 3px;
    border-bottom-left-radius: 3px;
    z-index: 0; }

/* line 441, ../../src/app/gamification.scss */
.badge-list {
  overflow: hidden;
  *zoom: 1; }
  /* line 443, ../../src/app/gamification.scss */
  .badge-list .badges {
    float: left;
    position: relative;
    margin: 15px 18px 25px 0; }
  /* line 448, ../../src/app/gamification.scss */
  .badge-list .score {
    position: absolute;
    width: 100%;
    text-align: center;
    bottom: -18px;
    white-space: nowrap;
    overflow: hidden;
    -ms-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    -moz-binding: url('/stylesheets/xml/ellipsis.xml#ellipsis');
    color: #666666; }

/* line 458, ../../src/app/gamification.scss */
.panel-row {
  *zoom: 1;
  border-top: 1px solid #e6e6e6;
  padding: 8px 0; }
  /* line 38, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
  .panel-row:after {
    content: "";
    display: table;
    clear: both; }
  /* line 462, ../../src/app/gamification.scss */
  .panel-row .preview_pic {
    padding: 2px;
    background: #AFAFAF;
    border-radius: 3em;
    line-height: 0; }
  /* line 468, ../../src/app/gamification.scss */
  .panel-row .preview_pic img {
    -webkit-border-radius: 2em;
    -moz-border-radius: 2em;
    -ms-border-radius: 2em;
    -o-border-radius: 2em;
    border-radius: 2em;
    width: 36px;
    height: 36px; }
  /* line 473, ../../src/app/gamification.scss */
  .panel-row .help-text {
    color: #666;
    font-size: 13px;
    line-height: 18px; }
  /* line 478, ../../src/app/gamification.scss */
  .panel-row h4 {
    font-size: 14px;
    line-height: 20px;
    font-weight: bold; }
  /* line 483, ../../src/app/gamification.scss */
  .panel-row .panel-content {
    padding-left: 50px; }
  /* line 486, ../../src/app/gamification.scss */
  .panel-row .actions {
    display: none; }
  /* line 487, ../../src/app/gamification.scss */
  .panel-row:hover .actions {
    display: block; }
  /* line 488, ../../src/app/gamification.scss */
  .panel-row .toggle-button {
    margin-left: 0; }

/* line 491, ../../src/app/gamification.scss */
.admin-list .panel-row {
  padding: 12px 0; }

/* line 493, ../../src/app/gamification.scss */
.panel-row.odd {
  background-color: #f8f8f8; }

/* line 497, ../../src/app/gamification.scss */
.panel-row.acheived {
  background-color: #f3f6ee; }

/* line 501, ../../src/app/gamification.scss */
.acheived-text {
  color: #4b7200;
  font-weight: bold;
  font-size: 13px; }

/* line 507, ../../src/app/gamification.scss */
.symbol-done-tick {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  width: 15px;
  height: 15px;
  background: url('/images/symbols-s72a0594a3f.png') 0 -409px no-repeat; }
