<% unless group_action? %>
<div class='span5'>
	<div class='dropdown pull-right'>
		<%= agents_filter %>
	</div>
</div>
<% end %>
<div class='span3'>
	<div class='dropdown'>
		<%= date_filter %>
	</div>
</div>
