<% content_tag :div, :class => "panel-row " + cycle(' ', 'odd ') + ((score_card_agent.user == current_user) ? "lb-cu" : "") do %>
	<%#= content_tag :span, i+1, :class => "lb-number" if (card_type == :mvp) %> 
	<%= user_avatar(score_card_agent.user) %>
	<div class="panel-content">
		<h4 class="name"><%= link_to_agent(score_card_agent.user) %></h4>
		<p class="help-text score"><%= score_card_agent.tot_score %></p>
	</div>
<% end %>