<div class="btn-group floatr">
  <%= link_to "Agent", agents_helpdesk_leaderboard_path(), :class => "btn active" %>
  <%= link_to "Group", groups_helpdesk_leaderboard_path(), :class => "btn" %>
</div>
<a href="/">< Back to dashboard </a>
<h3 class="title"><%= t('reports.scoreboard_agent_title')%></h3>
<%= render :partial => "leaderboard", :object => leaderboard, :locals => { :leader_partial => "card_agent" } %>