<% font = @account.present? ? @account.account_additional_settings.email_template_settings : 
											AccountConstants::DEFAULTS_FONT_SETTINGS[:email_template] %>
<div style="font-family:<%= font["font-family"] %>; font-size:<%=font["font-size"]%>; line-height:<%=font["line-height"]%>">
	<%= yield %>
</div>