<!DOCTYPE html>
<%= open_html_tag %>
  <head>
    <%= include_cloudfront_rtl_css :remote_configurations %>
    <%= include_cloudfront_js :remote_configurations %>
  </head>
  
  <body class="remote-configurations">
    <%= yield %>
  </body>

  <script>
    $(document).ready(function() {
      $('[rel="validate"]').validate();
    })
  </script>
</html>