<!doctype html>
  <%= render :partial => "layouts/shared/html" %>
	<%= render :partial => "layouts/shared/head" %>
		<body class="single">
			<script type="text/javascript"> var _kmq = _kmq || []; function _kms(u){ setTimeout(function(){ var s = document.createElement('script'); var f = document.getElementsByTagName('script')[0]; s.type = 'text/javascript'; s.async = true; s.src = u; f.parentNode.insertBefore(s, f); }, 1); } _kms('//i.kissmetrics.com/i.js');_kms('//doug1izaerwt3.cloudfront.net/9e29dee2b27b1887c331d10cbac62ffb56a2f520.1.js'); </script>
			<div id="wrap">
				<div class="content">
					<div class="wrapper">						
						<div id="inner">
							<div class="leftcontent">
								<div class="ui-signup">
									<%= show_flash %>						 
									<%= yield %> 
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
    </body>
</html>