<div class="sidepanel wordwrap">
	<h3 class="title"><%=t('accounts.helpcard.title')%></h3> 
	<p><%=t('accounts.helpcard.info1')%></p>
	<p><%=t('accounts.helpcard.info2')%></p>
	<%= tour_button(t('accounts.helpcard.tour'), '500ffe00e13a4609a300003b') %>
</div>