<% content_for :sidebar do -%><%- end %>
<h3 class= "title"><%= @page_title = 'Plans & Billing' %></h3>

<ul class="ui-form">
	<li class="inline-field">  
		<div class="info-highlight"> 
			<h3 class="title">Basic plan with 5 agents <span>(<%= link_to( "Change Plan", billing_account_url ) %>)</span></h3>
			You will be billed for a Total cost of <strong>$99/month</strong>
		</div>
		<h3 class="title">Credit card information</h3> 
		<% form_for :creditcard, @creditcard, :url => { :action => 'billing' } do |f| %>
		   	<%= render :partial => 'shared/credit_card_form' %>
			<div class="button-container">
				<%= submit_tag 'Begin Subscription', :class => "uiButton" %>
			</div>
		<% end %>  
	</li>
</ul>