<div class="pageContent">
	<h2 class="title">Plans & Pricing</h2>

<p>
  Here are our plans.  Pick one:
</p>

<ul>
  <%= @plans.map {|p| content_tag(:li, link_to(p, new_account_url(:plan => p, :discount => params[:discount])))} %>
</ul>
</div>