<div class="ui-form" id="signup-form">
	<center>
		<p class="big-text aligncenter">
			<%= t("accounts.signup_google_error.allow_access_message").html_safe %>
		</p>
	</center>
	<a href="http://www.google.com/enterprise/marketplace/viewListing?productListingId=9356+11308236248743392394"> 
		&#x2190; <%= t("accounts.signup_google_error.go_back") %>
	</a>
</div>
