<div id="capsule_widget" domain="{{capsule_crm.domain}}" title="{{capsule_crm.widget_title}}">
  <div id="content"></div>
</div>
<script type="text/javascript">
  CustomWidget.include_js("/javascripts/capsule_crm.js");
  capsuleBundle={ t:"{{capsule_crm.api_key}}",
                  reqId:"{{requester.id}}",    
                  reqName:"{{requester.name}}",
                  reqOrg:"{{requester.company_name}}", 
                  reqPhone:"{{requester.phone}}",
                  reqEmail:"{{requester.email}}"};
</script>