<div class="sidepanel wordwrap">
	<h3 class="title"><%=t('company_field.helpcard.title1')%></h3>
	<p><%= t('company_field.helpcard.info1') %></p> 
	<p><%= t('company_field.helpcard.info2') %></p> 
</div>